[2022-04-18 18:44] Qodestackr commented on #750
Any update on who should start??.

[2022-04-18 21:58] TiaraOluwanimi commented on #750
Hello, @Qodestackr. Please, go ahead. Thanks for your patience.

[2022-04-19 05:52] maxiggle commented on #756
Do you need the original writer to update it or someone else can do?

[2022-04-19 05:52] maxiggle commented on #756
Please do you need someone to do the update or the original author

[2022-04-19 09:31] ShadaW11 commented on #618
Hello

[2022-04-19 09:47] #618 closed

[2022-04-19 10:31] maxiggle commented on #756
Alright, I will work on it.
I am pretty much familiar with flutter

[2022-04-19 12:49] ShadaW11 commented on #638
Hello @cwray-tech I updated your title but unfortunately cannot add a backlink. I have also not received your invoice, please follow the guidelines in this link (FAQ section) https://strapi.io/write-for-the-community

[2022-04-19 12:49] #638 closed

[2022-04-19 12:51] ShadaW11 commented on #458
Hello @zaracooper your article has been published, please submit your invoice.

[2022-04-19 21:40] divofred commented on #772
@muyiwexy I don't think using Express with a Headless CMS like Strapi will be great.
I think Strapi is trying to make API applications serverless.

[2022-04-20 09:36] ShadaW11 commented on #570
Hey @Victory-ET your article has been published, please issue your invoice. Guidelines for the invoice are found in the FAQ section here https://strapi.io/write-for-the-community

[2022-04-20 09:36] #570 closed

[2022-04-20 10:21] ShadaW11 commented on #763
@lucky4242

[2022-04-20 11:58] ShadaW11 commented on #755
Hello @Qodestackr, Hubert is updating this article but there are many articles that you can work on. To join our discord, please click [here](https://discord.com/invite/strapi)

[2022-04-20 18:49] lucky4242 commented on #763
I will work on it

[2022-04-21 01:03] lifeofgurpreet opened #792 "Straps import"
Your import tutorial doesn't work in version 4. A lot of people need importing with a database please help update your tutorial for it

[2022-04-21 10:34] TheGhoulRe commented on #791
Hi @ShadaW11, I have the draft for my article prepared here:

https://www.dropbox.com/scl/fi/92rlbxg8fwn6nmclmakp8/How-to-build-a-To-Do-list-application-with-Strapi-and-ReactJS.paper?dl=0&rlkey=yducqqac7wgjm2eq2n3w0k7y1

[2022-04-22 08:51] sammychris commented on #772
Hello @ShadaW11, I would like to write on this topic.

[2022-04-22 10:59] IsaacThaJunior commented on #752
Hey there, I'm available to work on this

[2022-04-22 15:31] lucky4242 commented on #763
Hi Shada,
I've finished updating the article, and the link is below
https://www.dropbox.com/scl/fi/cpl5nv5conjb1qy00r974/Building-an-Ecommerce-Website-with-Jekyll-Strapi-Snipcart-and-Tailwind-CSS-1-of-5.paper?dl=0&rlkey=e2tp5vpvxu56pgz0zrez5gbau

[2022-04-25 10:30] Mohammedabdooo opened #793 "[SUBMIT] Sololearn clone"
Hi strapi community!

I want to create a new content type, display and run html and css, js code in the strapi.
How can I do this?

[2022-04-25 10:32] ShadaW11 commented on #763
Thank you, your article will be reviewed soon.

[2022-04-25 11:10] ShadaW11 commented on #792
Hello @lifeofgurpreet can you please share with me the link of the tutorial and we will update it asap?

[2022-04-25 11:15] ShadaW11 commented on #791
Hello @TheGhoulRe Thank you for submitting the article, we usually cross check that the content you submit does not already exist on our blog before asking you to proceed working on your article.

I will get back to you with feedback on our reviewer checks your article. For next time, please wait for the feedback from our team before working on an article.

[2022-04-25 11:22] #789 closed

[2022-04-25 11:24] ShadaW11 commented on #774
Hello @mpalsule thank you for reaching out. Can you please post this message on our discord channel - in order to get the right support - this is the channel for the WFC Program. If you are following a certain tutorial and getting this error. please reach out.

[2022-04-25 11:24] #774 closed

[2022-04-25 12:10] Shubham-731 opened #794 "Strapi tutorial with Node.js, Express.js and Mongodb (without React.js)"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-04-25 16:31] Alex-husar commented on #572
And also I've noticed the mistake in the published article. It's in my Bio.
Instead of the link to Onilab here's a part of URL.
[image: image]
<https://user-images.githubusercontent.com/81314237/151970153-86d18a3e-8743-4288-ba08-3862fabe593a.png>

I'd be grateful if you could help me to cope with this.

Looking forward to hearing from you.

Kind regards,
Alex

вт, 5 апр. 2022 г. в 14:35, Shada ***

[2022-04-25 16:35] Alex-husar commented on #572
Dear Shada,
But there's no link to Onilab in the article, it used to be in Bio, but now
there's no bio also.

Could you help me handle this? Perhaps you could add a link to Onilab from
Bio section or from the article?

Waiting for your reply.

Alex

пн, 25 апр. 2022 г. в 19:31, Alex Husar ***@***.***>:

[2022-04-25 18:24] IsaacThaJunior commented on #752
@TiaraOluwanimi I would love to work on this if it is still available.

[2022-04-25 18:45] TechMakanaki commented on #746
I will like to work on this article.

[2022-04-26 06:17] zaracooper commented on #458
Ok. Thanks for the heads up @ShadaW11 .

[2022-04-27 10:55] ShadaW11 commented on #458
@zaracooper can you please check your email.

[2022-04-27 11:08] ShadaW11 commented on #669
Hello @cosydney your article has been published on our blog. Thank you. Can you please issue your invoice as soon as possible following the guidelines mentioned here in the FAQ section? https://strapi.io/write-for-the-community

[2022-04-27 11:08] #669 closed

[2022-04-28 14:20] sammychris commented on #772
In this article, I will create an issue tracker app using express. And make use of Strapi API to help manage data and its states.

The App will allow users to make, find, update and delete an issue. Each issue will have a unique id. This gives each user access to the issue they created.

The app will allow just 3 issues per IP address in a day.
Strapi CMS will manage every issue information, IP ad

[2022-04-28 16:10] sammychris commented on #794
A simple journal app, created using Node, Express, MongoDB, and Strapi. This app will contain a user registration and login route. This user data will be stored in MongoDB. After the user is logged in, the authenticated user will then have the access to create, update and delete its own journals. Strapi will manage the data of the journals.

Question: Should I install Strapi and Use MongoDB Atlas

[2022-05-01 05:32] uamin opened #805 "[Request New Content] E-commerce, with inventory management backend."
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-05-02 13:18] ShadaW11 opened #806 "[UPDATE OUTDATED CONTENT]"
**Description**

**This [article](https://strapi.io/blog/how-to-change-the-wysiwyg-in-strapi) is outdated and needs to be updated.**

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-02 13:20] #806 closed

[2022-05-02 13:35] ShadaW11 commented on #611
@zaracooper Do you have time to work on this?

[2022-05-02 13:36] ShadaW11 commented on #619
Hello @nextrapi interested, would you share what you have in mind?

[2022-05-02 13:56] #595 closed

[2022-05-02 14:12] ShadaW11 opened #807 "[UPDATE OUTDATED CONTENT] PostgreSQL and Strapi setup"
**Description**

https://strapi.io/blog/postgre-sql-and-strapi-setup

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-02 14:17] ShadaW11 opened #808 "[UPDATE OUTDATED CONTENT] Registration and Login (authentication) with Vue.js and Strapi"
**Description**

https://strapi.io/blog/registration-and-login-authentication-with-vue-js-and-strapi

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-02 14:23] ShadaW11 opened #809 "[UPDATE OUTDATED CONTENT] Strapi’s User Roles and Permissions for Admin Panel"
**Description**

https://strapi.io/blog/strapi-s-user-roles-and-permissions-for-admin-panel

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-02 14:34] zaracooper commented on #611
Sorry @ShadaW11. No, not at this time.

[2022-05-02 15:34] ShadaW11 opened #810 "[UPDATE OUTDATED CONTENT] How to Use and Create Services in Strapi ( SMS, Email Services)"
**Description**

https://strapi.io/blog/how-to-use-and-create-services-in-strapi-sms-email-services

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-02 15:36] ShadaW11 opened #811 "[UPDATE OUTDATED CONTENT] Protected routes and Authentication with React and Node.js"
**Description**

https://strapi.io/blog/protected-routes-and-authentication-with-react-and-node-js

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-02 16:29] chyke007 commented on #811
I can work on this

[2022-05-02 16:29] chyke007 commented on #808
I can work on this

[2022-05-03 09:58] boulaffasae commented on #725
Hi @TiaraOluwanimi @ShadaW11 I will work on this article

[2022-05-03 11:17] icode247 commented on #810
Hi @ShadaW11,
I can will update this blog.

[2022-05-03 15:22] miracleonyenma commented on #762
Hey @TiaraOluwanimi @ShadaW11, I would like to make a submission on this. Thanks!

[2022-05-03 21:22] malgamves commented on #49
hey @muyiwexy we have templates available for those [here](https://github.com/strapi/starters-and-templates)

[2022-05-03 21:31] malgamves commented on #58
awesome, go for it! Can't wait to see it

[2022-05-03 21:32] malgamves commented on #672
any specific markdown components you wanted to use? basic should be fine but others could be fine too @nextrapi

[2022-05-03 21:33] malgamves commented on #637
can't wait to see it

[2022-05-03 21:49] ErnestBrandi opened #812 "[UPDATE OUTDATED CONTENT] Deliveroo clone"
**Description**
On the "Deliveroo clone with Next.js, GraphQL, Strapi and Stripe" tutorial there are some dead links and outdated content.

- the linked Github project has not been updated in 4 years, some of the lib used are flagged as archived,
- the links from the "Table of content" are broken (as blog.strapi.io does not seems to work anymore).

**Link of the content**
https://strapi.io/blog/st

[2022-05-03 22:05] TiaraOluwanimi commented on #762
Hello, @miracleonyenma. Please, go ahead.

[2022-05-03 22:07] TiaraOluwanimi commented on #811
Okay, @chyke007.

[2022-05-03 23:18] chyke007 commented on #811
Should I wait till it is assigned to me @TiaraOluwanimi?

[2022-05-04 09:36] ShadaW11 commented on #810
Hello @icode247 perfect. thank you

[2022-05-04 12:57] miracleonyenma commented on #757
Hey @ShadaW11 👋🏾
I'm interested in updating this article

[2022-05-05 08:15] Mayowa-Ojo commented on #807
Hi @ShadaW11 I can help out with this

[2022-05-05 08:31] ShadaW11 opened #813 "[UPDATE OUTDATED CONTENT] Deploying and Scaling the Official Strapi Demo App "Foodadvisor" with Kubernetes & Docker"
**Description**

https://strapi.io/blog/deploying-and-scaling-the-official-strapi-demo-app-foodadvisor-with-kubernetes

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-05 08:32] ShadaW11 opened #814 "[UPDATE OUTDATED CONTENT] How to Build a Notion Clone With Strapi and Next.js"
**Description**

https://strapi.io/blog/how-to-build-a-notion-clone-with-strapi-and-next-js (both parts)

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-05 08:34] ShadaW11 opened #815 "[UPDATE OUTDATED CONTENT] Handling Previews in a Headless Architecture"
**Description**

https://strapi.io/blog/handling-previews-in-a-headless-architecture

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-05 09:12] ShadaW11 commented on #730
If you haven't please issue your invoice @lucky4242 and thank you so much for working on the article.

[2022-05-05 09:12] #730 closed

[2022-05-05 09:14] ShadaW11 commented on #737
Hello @boulaffasae your article was published and your invoice will be paid asap.

[2022-05-05 09:14] #737 closed

[2022-05-05 09:26] ShadaW11 commented on #572
Hello @Alex-husar apologies for the delay, I have not received your invoice yet. On the other please note that I can see the bio under the article? Unfortunately it is not a clickable link.

[2022-05-05 09:31] ShadaW11 commented on #755
@hubertnare any update on the article?

[2022-05-05 09:35] ShadaW11 commented on #755
https://www.dropbox.com/scl/fi/769p1wvqggcrfmlnht2wo/How-to-Build-a-CRUD-App-with-React-and-a-Headless-CMS.papert?dl=0&rlkey=r7l0alucwhoaatekt7whvs9vh @TiaraOluwanimi ie for review

[2022-05-05 09:45] ShadaW11 commented on #812
Hello @ErnestBrandi you are right, we already have this issue opened and waiting for an author to update it - link to existing issue here: https://github.com/strapi/community-content/issues/723

[2022-05-05 09:50] ShadaW11 commented on #814
[hubertnare](https://github.com/hubertnare) will be working on this article

[2022-05-05 09:59] hubertnare commented on #814
Great! Working on it. Update en route.

[2022-05-05 10:24] ShadaW11 commented on #811
Hello @chyke007 yes please go ahead. I assigned it to you

[2022-05-05 11:00] ShadaW11 commented on #807
Hello @Mayowa-Ojo awesome - please start working on it. If this is your first article update please review this guide quick before you get started. https://strapi.notion.site/Writer-s-Guide-V4-Tutorial-Update-68953d4073bf43b7bcba3d8284741c6d
If you need any help or have any questions please reach out to me

[2022-05-05 11:05] ShadaW11 commented on #762
Always add your dropbox link here on GitHub for future reference @miracleonyenma  https://www.dropbox.com/scl/fi/d7aqjbmcmc9lx0cbu7tge/Understanding-and-using-Relations-in-Strapi.paper?dl=0&rlkey=y03v2my67pt93f5wu95gduzzr

[2022-05-05 11:06] ShadaW11 commented on #805
Can you please explain more what functionalities you are looking for? @uamin

[2022-05-05 11:07] ShadaW11 commented on #794
Hello @sammychris we have already existing journal apps published on the blog. We are currently looking to have v4 supported tutorials therefore using MongoDB is not an option.

[2022-05-05 11:07] #794 closed

[2022-05-05 11:08] ShadaW11 commented on #793
can you please submit an outline of what you have in mind for this article? what will the tutorial include? tech stack used? functionality?

[2022-05-05 11:25] miracleonyenma commented on #762
Oh, I'll keep that in mind. Thank you ✨

[2022-05-05 11:40] ShadaW11 commented on #777
Hello @jetmaquiling which tutorial where you were reviewing when you came across this issue?

[2022-05-05 11:42] ShadaW11 commented on #772
I agree with @divofred - any feedback on the outline suggest by Sammychris, thank you @sammychris interesting outline, im just thinking about the use case and how we can add some interesting functionality.

[2022-05-05 11:46] ShadaW11 commented on #770
Thank you for submitting the outline @marvelken interesting - im just thinking that we have had some similar articles published already on the blog, maybe we can develop / add functionality in this tutorial? here's a link to our blog - https://strapi.io/blog - @TiaraOluwanimi what do you think?

[2022-05-05 11:48] ShadaW11 commented on #768
Hello @Saintdavidking can you please submit an outline to better assess the value/fit of the article?

[2022-05-05 11:57] ShadaW11 commented on #764
Love the idea, can you please start working on it? @oyedeletemitope

[2022-05-05 11:58] ShadaW11 commented on #763
please paste the rest of the series when its updated here in GitHub @lucky4242

[2022-05-05 11:59] ShadaW11 commented on #760
I believe the article needs to be expanded as it will be updated - its pretty old - what do you think we can add to it? @Vic-Orlands

[2022-05-05 12:01] ShadaW11 commented on #757
@miracleonyenma ive informed the writer that was supposed to work on this article - if he doesn't get back to me - ill let you know asap

[2022-05-05 13:02] miracleonyenma commented on #757
Awesome. Thanks ✨

[2022-05-05 21:18] Saintdavidking commented on #768
Topic:

Static website vs Dynamic website

Outline:

1. Introduction to Website
2. What is a Static website
3. What is a Dynamic website
4. Advantages and Disadvantages of a Static website
5. Advantages and Disadvantages of a Dynamic website
6. Examples of Static and Dynamic Website
7. Static Website vs Dynamic Website: The difference
8. Conclusion

[2022-05-06 07:39] oyedeletemitope commented on #764
Yes, I’ll get started on this right away

[2022-05-06 08:39] ShadaW11 opened #816 "[Request New Content] 3 Plugins to power up your Strapi Blog"
**My Request**

As you may know we have launched our [Strapi Market](https://www.strapi.io/e3t/Ctc/5D+113/cQNTM04/VW6mp65Bb7ZhW875vlJ7mC4nHVfQRxk4JGtrPN72QTZc3lLztV1-WJV7CgYpsW7fq_-H6lTbjcW6khZk73yGqWkW34YNyk7g69ZMW7s-ckP3ZRbXlW1xQr8Q2Ml0V7F6_0Lcy4jLfW7m-CZ43FwxPKMPvNnnrnDN-W4lwQnb3H7HsNW1bT0KG2VnRJHW8Bs29086DwVyW7MCmd96TGWZtW4gsKfP7wjHJKW8r1PrC2LZZFTF4rBsR4qwb5MHHg3JkfprZ31fj1), the official web

[2022-05-06 08:49] ShadaW11 opened #817 "[Request New Content] The must have Strapi Plugins for your business website"
**My Request**

As you may know we have launched our [Strapi Market](https://www.strapi.io/e3t/Ctc/5D+113/cQNTM04/VW6mp65Bb7ZhW875vlJ7mC4nHVfQRxk4JGtrPN72QTZc3lLztV1-WJV7CgYpsW7fq_-H6lTbjcW6khZk73yGqWkW34YNyk7g69ZMW7s-ckP3ZRbXlW1xQr8Q2Ml0V7F6_0Lcy4jLfW7m-CZ43FwxPKMPvNnnrnDN-W4lwQnb3H7HsNW1bT0KG2VnRJHW8Bs29086DwVyW7MCmd96TGWZtW4gsKfP7wjHJKW8r1PrC2LZZFTF4rBsR4qwb5MHHg3JkfprZ31fj1), the official web

[2022-05-06 09:15] ShadaW11 opened #818 "[Request New Content] 5 reasons to add on site-search to your website"
**My Request**

As you may know we have launched our [Strapi Market](https://www.strapi.io/e3t/Ctc/5D+113/cQNTM04/VW6mp65Bb7ZhW875vlJ7mC4nHVfQRxk4JGtrPN72QTZc3lLztV1-WJV7CgYpsW7fq_-H6lTbjcW6khZk73yGqWkW34YNyk7g69ZMW7s-ckP3ZRbXlW1xQr8Q2Ml0V7F6_0Lcy4jLfW7m-CZ43FwxPKMPvNnnrnDN-W4lwQnb3H7HsNW1bT0KG2VnRJHW8Bs29086DwVyW7MCmd96TGWZtW4gsKfP7wjHJKW8r1PrC2LZZFTF4rBsR4qwb5MHHg3JkfprZ31fj1), the official web

[2022-05-06 09:34] Victory-ET commented on #818
Hi @ShadaW11

I've previously used meilisearch and would love to undertake writing this article. I will send an outline ASAP.

[2022-05-06 11:58] icode247 commented on #810
Hi @ShadaW11,
The draft is ready. https://www.dropbox.com/scl/fi/bk67f6jf0bmefv8pup6wr/How-to-Use-and-Create-Services-in-Strapi-(-SMS%2C-Email-Services.paper?dl=0&rlkey=ds2be8vxlbr80am2zalqhrs0p

[2022-05-08 11:35] Mayowa-Ojo commented on #807
Hi @ShadaW11 I'm done with the update. Here's a link to the [dropbox paper document](https://www.dropbox.com/scl/fi/1w35cw3je3l7aqe76j624/V4-Tutorial-Update.paper?dl=0&rlkey=jxypfm339c9rzk4s2579gcjkr)

I made a couple of code changes due to the differences in v4. Should I open a pr to update the source code or create a new repository for the updated article?

[2022-05-09 08:10] #639 closed

[2022-05-09 12:19] ShadaW11 commented on #818
Hey @Victory-ET great, can you please send your outline.

[2022-05-09 12:51] ShadaW11 commented on #807
Hey @Mayowa-Ojo can you please create a new repository for the updated article.

[2022-05-09 12:53] ShadaW11 commented on #430
Hey @skarthikeyan96 any update on this?

[2022-05-09 12:53] ShadaW11 commented on #431
Hey @dpkreativ any update on this?

[2022-05-09 12:54] ShadaW11 commented on #507
Hello @lawrenceagles I will be opening this article for other writers.

[2022-05-09 12:55] ShadaW11 commented on #509
Hey @daniloraisi any update on this article?

[2022-05-09 12:56] ShadaW11 commented on #517
Hey @Eventyret its been a while, hows everything going.

[2022-05-09 12:56] ShadaW11 commented on #537
Hey @philipszdavido I wanted to check if you have any updates or if you are still interested in working on this?

[2022-05-09 12:57] Eventyret commented on #517
Think we can close it as I wrote the normal guides without strapi in my blog. Https://Blog.dehlin.dev

[2022-05-09 12:58] #548 closed

[2022-05-09 13:01] Eventyret commented on #517
Think we can close it as I wrote the normal guides without strapi in my blog. Https://Blog.dehlin.dev

[2022-05-09 13:02] oyedeletemitope commented on #554
Hello @ShadaW11  yes I would

[2022-05-09 13:05] ShadaW11 commented on #554
Great lets work on that using of course the Strapi v4

[2022-05-09 13:08] ShadaW11 commented on #430
Apologies for the delay @HellooShivamAgrawal Interesting, why did you move to contentful? Yeah it would be great that you work on a tutorial with us and share with us not only the tutorial but your experience using both - what do you think?

[2022-05-09 13:09] ShadaW11 commented on #517
@Eventyret sure - it would be great to have you publish an article on the Strapi Blog as well

[2022-05-09 13:09] #517 closed

[2022-05-09 13:10] Eventyret commented on #517
Feel free to repost it etc 😁😊

[2022-05-09 13:39] Marktawa commented on #809
I would like to work on this.

[2022-05-09 14:03] #727 closed

[2022-05-09 18:08] HellooShivamAgrawal commented on #430
Hey Shada,
That's a great idea. I will put up a rough outline and will send it by the
weekend.
I moved to contentful because of the timing and it worked. Actually there's
not much of a "why" because the client for whom I worked found Contentful
easy to work with [His friend's blog website had a contentful touch and he
wanted something offline for his grocery shop where he could manage
inventory ea

[2022-05-09 18:52] Victory-ET commented on #818
Hi @ShadaW11,

Here is an outline for the proposed topic.

# 5 Reasons to Add On-site Search to Your Website

## Introduction

Dynamic webpages with a high amount of site content are usually complex for users to navigate looking for specific data. These sites use On-site search (also called internal search), which uses a search bar to return the results of a search query made by the user. This sim

[2022-05-10 10:14] ShadaW11 commented on #546
@miracleonyenma Its been a while, apologies for the delay.
how about working on this:
I'd love to work on the picture-sharing app with authentication and commenting. I've checked the Strapi blog and there are about two posts already on building a photo gallery app. On the bright side, none of them include:

Vue 3 script setup composition API
Vite
Graphql
Postgres/Mongodb
SSR
Authentication
Comment

[2022-05-10 10:14] ShadaW11 commented on #558
Hey @amirtds its been a while, do you still have time to work on this?

[2022-05-10 10:19] miracleonyenma commented on #546
Awesome! @ShadaW11
I would love to take it up. I'll even have the chance to use the comment plugin from the new Strapi marketplace now 🥳

I'll get started on the outline and send it soon

[2022-05-10 10:20] ShadaW11 commented on #546
perfect, happy to hear that @miracleonyenma

[2022-05-10 10:51] #695 closed

[2022-05-10 14:12] TheGhoulRe commented on #791
Hi, @TiaraOluwanimi. I have added the link to the repo for this article.

[2022-05-10 16:17] oviecodes commented on #507
I'm very much interested @ShadaW11 , thanks. I'll send the outline as soon as possible

[2022-05-10 20:17] Mayowa-Ojo commented on #807
Hi @ShadaW11 Where should the new repository be hosted?

[2022-05-11 21:59] Qodestackr commented on #811
Hey can I implement this?

[2022-05-12 09:02] oviecodes commented on #457
@ShadaW11 , here's the ink to the article
https://www.dropbox.com/scl/fi/o4spytldth12dwr92jxcn/Automating-Emails-with-Strapi-CRON-Jobs.paper?dl=0&rlkey=osvdra6ujeraz3xw8kybxgtcc

[2022-05-12 15:56] chyke007 commented on #811
https://www.dropbox.com/scl/fi/340s6evq812yhm0xd7lcv/V4-Tutorial-updateProtected-routes-and-Authentication-with-React-and-Node.js.paper?dl=0&rlkey=3f9czn8ugdf5fc5e7gr84fnzl

[2022-05-12 19:20] Marktawa commented on #754
I am interested in updating this article.

[2022-05-12 19:21] Marktawa commented on #815
I am interested in updating this article.

[2022-05-12 19:21] Marktawa commented on #748
I am interested in updating this article.

[2022-05-12 19:22] Marktawa commented on #749
I am interested in updating this article.

[2022-05-12 19:22] Marktawa commented on #726
I am interested in updating this article.

[2022-05-12 19:23] Marktawa commented on #591
I would like to write a tutorial for this request.

[2022-05-12 19:24] Marktawa commented on #600
I would like to write a tutorial for this request.

[2022-05-12 19:25] Marktawa commented on #816
I would like to write an article for this request.

[2022-05-12 21:38] pmeaney commented on #600
@Marktawa That's awesome! Sorry I haven't gotten around to it.  Got distracted learning react-native, then ended up landing a full time job, and now working towards DevOps skills instead.
Mark if you write this, I'd love to see the result! 😄

[2022-05-13 11:47] TiaraOluwanimi commented on #746
@TechMakanaki, thanks for your patience. Are you still interested in updating this?

[2022-05-13 12:16] ShadaW11 commented on #633
Hello @ayhid No need to have the original author work on this. You can work on this article. However, if it is your first article. Please make sure that you registered [here](https://strapi.io/write-for-the-community)

Than please go over the [v4 writers guide](https://www.notion.so/strapi/Writer-s-Guide-V4-Tutorial-Update-68953d4073bf43b7bcba3d8284741c6d)

[2022-05-13 12:22] ShadaW11 commented on #816
Hello @Marktawa can you please send us an outline.

[2022-05-13 12:26] ShadaW11 commented on #818
@Victory-ET looks good, please go ahead and start working on it.

[2022-05-13 16:07] miracleonyenma commented on #546
Here's the modified outline @ShadaW11
I had to include Nuxt 3 as a higher level solution for SSR, a traditional Vue SSR app would be too complicated to include in the article, plus, the [Vue docs also recommends higher level solutions to SSR](https://vuejs.org/guide/scaling-up/ssr.html#higher-level-solutions)

# How to build a photo sharing app with Nuxt 3, Cloudinary, Postgres and Strapi
A headle

[2022-05-13 17:02] amirtds commented on #558
Hi @ShadaW11 Sure, would be great to get back to this article

[2022-05-13 21:17] Marktawa commented on #816
Hi 👋  @ShadaW11

# **Title**: 3 Plugins to power up your Strapi Blog

### **Description**

Plugins are a powerful tool to customize your Strapi app. [The Strapi Market](https://market.strapi.io/) is the official marketplace to find plugins comprising more than 60 plugins to choose from. These plugins were developed by the Strapi team, technology and solution partners, and individual community memb

[2022-05-14 08:21] heksagonnet commented on #546
Awesome outline! Just wondering, would the GraphQL connection be in real-time?

[2022-05-14 15:20] hampton1122 opened #819 "[UPDATE OUTDATED CONTENT]"
Can you update the following article for strapi v4: https://strapi.io/blog/how-to-create-an-import-content-plugin-part-1-4

[2022-05-16 08:31] ShadaW11 commented on #762
@miracleonyenma Can you please submit your invoice?

[2022-05-16 08:33] #759 closed

[2022-05-16 10:00] nwokolawrence6 commented on #101
For a temp fix use the following:

[code]

**Create a folder in the root project called `patches`**

[@strapi+database+4.1.11.patch.zip](https://github.com/strapi/community-content/files/8698991/%40strapi%2Bdatabase%2B4.1.11.patch.zip)

Download the zip file above and extract its content

copy or move the content of the zip to the folder you created called `patches` in your project.

add the follo

[2022-05-16 10:17] hubertnare commented on #814
Link to Part 1:
https://www.dropbox.com/scl/fi/ej9cojuduv504vr4q7q9n/How-to-build-a-Notion-clone-with-Strapi-4-and-Next.js-1_2.papert?dl=0&rlkey=f0eapxshgfv18780qca2xysi8

[2022-05-16 12:44] ShadaW11 commented on #807
Hello @Mayowa-Ojo I just wanted to check if you have registered in the WFC Program [here](https://strapi.io/write-for-the-community)

[2022-05-16 12:47] ShadaW11 commented on #816
Hello @Marktawa

Great outline. @Marktawa You can start working on this.

If this is your first article update please register [here](https://strapi.io/write-for-the-community) before you get started.

Once you register, please go over the guidelines [here](https://github.com/strapi/community-content/blob/master/tutorials/GUIDELINES.md)

Please reach out if you have any questions.

[2022-05-16 12:50] Mayowa-Ojo commented on #807
Hi @ShadaW11 Yes I've registered.

[2022-05-16 13:24] Marienoir commented on #808
Hello @ShadaW11
I would like to update this content.
Please confirm so I can send in the proposed outline.

[2022-05-16 13:55] ShadaW11 commented on #819
Hello @hampton1122 yes we will have it updated as soon as possible

[2022-05-16 14:20] ShadaW11 commented on #546
@miracleonyenma awesome please go ahead

[2022-05-16 14:38] miracleonyenma opened #820 "[SUBMIT] Strapi internals, customizing the backend - Part 1"
**My resource**

Hello 👋

**My content is**

- [x] A Strapi Tutorial / Guide / How to article
- [ ] About Headless, CMS, javascript, open source, or jamstack
- [ ] Other, specify

**What it's about**

This article is going to cover a few aspects of customizations to the Strapi backend. We’re touching on controllers, services, policies, webhooks and routes, and a few other things.
​​
​ This article

[2022-05-16 14:59] miracleonyenma commented on #762
@ShadaW11 👋🏾
I just submitted the invoice. Thanks

[2022-05-16 15:15] miracleonyenma opened #821 "[SUBMIT] Strapi internals, customizing the backend - Part 2"
**My resource**

Hello 👋

**My content is**

- [x] A Strapi Tutorial / Guide / How to article
- [ ] About Headless, CMS, javascript, open source, or jamstack
- [ ] Other, specify

**What it's about**

This is a follow up  article to the first part of the "Strapi internals, customizing the backend" series which covers a few aspects of customizations to the Strapi backend. We’re touching on controll

[2022-05-16 15:17] miracleonyenma commented on #821
@ShadaW11 👋🏾
Here's the draft for the article here - https://www.dropbox.com/scl/fi/tw8dxvlfe7xccn3tikp9y/Strapi-internals%2C-customizing-the-backend---Part-2.paper?dl=0&rlkey=fvu293auq8m7aptsx47pmrph4

[2022-05-16 16:16] miracleonyenma commented on #546
Hey @heksagonnet, I'll try to see if it can be realtime. There are a lot of features bundled into this piece already and I don't want to make it too complicated.

Alright @ShadaW11, that's I'll go ahead and work on the draft.

[2022-05-16 18:26] Marktawa commented on #816
Thank you @ShadaW11

I will start right away.

[2022-05-17 07:37] ShadaW11 commented on #820
@miracleonyenma Awesome thank you so much, someone will review it asap.

[2022-05-17 07:37] ShadaW11 commented on #820
Link to part 2 of this article - https://github.com/strapi/community-content/issues/821

[2022-05-17 08:25] ShadaW11 opened #823 "[SUBMIT] How to build a plugin with TypeScript"
**My resource**

As you may know we have launched our [Strapi Market](https://www.strapi.io/e3t/Ctc/5D+113/cQNTM04/VW6mp65Bb7ZhW875vlJ7mC4nHVfQRxk4JGtrPN72QTZc3lLztV1-WJV7CgYpsW7fq_-H6lTbjcW6khZk73yGqWkW34YNyk7g69ZMW7s-ckP3ZRbXlW1xQr8Q2Ml0V7F6_0Lcy4jLfW7m-CZ43FwxPKMPvNnnrnDN-W4lwQnb3H7HsNW1bT0KG2VnRJHW8Bs29086DwVyW7MCmd96TGWZtW4gsKfP7wjHJKW8r1PrC2LZZFTF4rBsR4qwb5MHHg3JkfprZ31fj1), the official web

[2022-05-17 08:28] ShadaW11 opened #824 "[Request New Content] Creating a Strapi Plugin Is Easier Than You Think"
**My Request**

As you may know we have launched our [Strapi Market](https://www.strapi.io/e3t/Ctc/5D+113/cQNTM04/VW6mp65Bb7ZhW875vlJ7mC4nHVfQRxk4JGtrPN72QTZc3lLztV1-WJV7CgYpsW7fq_-H6lTbjcW6khZk73yGqWkW34YNyk7g69ZMW7s-ckP3ZRbXlW1xQr8Q2Ml0V7F6_0Lcy4jLfW7m-CZ43FwxPKMPvNnnrnDN-W4lwQnb3H7HsNW1bT0KG2VnRJHW8Bs29086DwVyW7MCmd96TGWZtW4gsKfP7wjHJKW8r1PrC2LZZFTF4rBsR4qwb5MHHg3JkfprZ31fj1), the official web

[2022-05-17 08:43] ShadaW11 opened #825 "[Request New Content] A Beginners Explainer to Strapi Plugin Development"
**My Request**

As you may know we have launched our [Strapi Market](https://www.strapi.io/e3t/Ctc/5D+113/cQNTM04/VW6mp65Bb7ZhW875vlJ7mC4nHVfQRxk4JGtrPN72QTZc3lLztV1-WJV7CgYpsW7fq_-H6lTbjcW6khZk73yGqWkW34YNyk7g69ZMW7s-ckP3ZRbXlW1xQr8Q2Ml0V7F6_0Lcy4jLfW7m-CZ43FwxPKMPvNnnrnDN-W4lwQnb3H7HsNW1bT0KG2VnRJHW8Bs29086DwVyW7MCmd96TGWZtW4gsKfP7wjHJKW8r1PrC2LZZFTF4rBsR4qwb5MHHg3JkfprZ31fj1), the official web

[2022-05-17 08:52] hubertnare commented on #633
Hie Shada, I am working on updating this article.

[2022-05-17 08:58] ShadaW11 commented on #633
@hubertnare please go ahead and start working on this.

[2022-05-17 09:10] ShadaW11 opened #826 "[Request New Content] 5 Things to Keep in Mind Before Creating a Strapi Plugin"
**My Request**

As you may know we have launched our [Strapi Market](https://www.strapi.io/e3t/Ctc/5D+113/cQNTM04/VW6mp65Bb7ZhW875vlJ7mC4nHVfQRxk4JGtrPN72QTZc3lLztV1-WJV7CgYpsW7fq_-H6lTbjcW6khZk73yGqWkW34YNyk7g69ZMW7s-ckP3ZRbXlW1xQr8Q2Ml0V7F6_0Lcy4jLfW7m-CZ43FwxPKMPvNnnrnDN-W4lwQnb3H7HsNW1bT0KG2VnRJHW8Bs29086DwVyW7MCmd96TGWZtW4gsKfP7wjHJKW8r1PrC2LZZFTF4rBsR4qwb5MHHg3JkfprZ31fj1), the official web

[2022-05-17 09:40] Marienoir commented on #825
Hello @ShadaW11
I would like to write content for this article

[2022-05-17 09:42] Takeddiney commented on #825
Hey @ShadaW11 !
I would like to write this article :rocket:

[2022-05-17 10:40] ShadaW11 commented on #807
Hello @Mayowa-Ojo your article has been published, please issue your invoice once possible.

[2022-05-17 10:43] ShadaW11 commented on #825
Hello, can you please submit your outlines?

[2022-05-17 12:05] Marienoir commented on #825
Hi @ShadaW11
This is my outline for the article

# Title:  A Beginners Explainer to Strapi Plugin Development
## Description
Strapi is an open-source and headless content management system ( CMS )that gives developers the freedom to use their favorite tools and frameworks during development. Strapi has an official web plugin marketplace  [The Strapi Market](https://market.strapi.io/)  which compri

[2022-05-17 12:18] jacksonkasi0 opened #827 "[SUBMIT]"
please make update for v4 to work with mongodb

[2022-05-17 12:44] Mayowa-Ojo commented on #807
Hi @ShadaW11 I've submitted an invoice

[2022-05-17 13:04] Takeddiney commented on #825
Hello @ShadaW11
This is my proposed outline for this topic

**What Is a Strapi Plugin? **
I will be defining what a Strapi plugin is with an Introduction about Strapi

**Why Creating a Plugin?**
A short description for Plugin usage with an example or two

**Getting Started With Strapi Plugins**
A mini introduction to Strapi Marketplace and some popular plugins and how to Set up a Strapi applicatio

[2022-05-17 14:22] ShadaW11 opened #828 "[Request New Content] How to import data from another CMS using a plugin"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-05-18 08:28] ShadaW11 commented on #726
@Marktawa apologies this issue was opened before and someone is working on It https://github.com/strapi/community-content/issues/633 . It would be great if you can work on a different open issue. thank you so much.

[2022-05-18 08:28] #726 closed

[2022-05-18 08:29] ShadaW11 commented on #748
Hello @Marktawa this article will not be updated, as another version has been released already here: https://strapi.io/blog/how-to-create-a-strapi-v4-plugin apologies for that.

[2022-05-18 08:29] #748 closed

[2022-05-18 08:34] ShadaW11 commented on #749
Hello @Marktawa happy to hear that. If this is your first article, please register here https://strapi.io/write-for-the-community
Once you do, please go over

🔑 [SEO & Article Guidelines](https://www.strapi.io/e3t/Ctc/5D+113/cQNTM04/VWm5J_8q1pvHVFDBjc6cbh6fW35KrPN4K9CMVN824Dzp3lLBGV1-WJV7CgXnNW5bW0tN1RG99XW1dWLQR5dnR2VW1QC3Y36VBrTwW7wHfx17bFHYSW6Lh-393VglwGW7mpFsk58VhpJW1Dn_Qn3ZLF08W2x7clD8yxnBXW4

[2022-05-18 08:42] ShadaW11 commented on #754
@Marktawa please complete your first article that is assigned to you and then you can start working on other ones.

[2022-05-18 08:43] ShadaW11 commented on #815
@Marktawa  please complete your first article that is assigned to you and then you can start working on other ones.

[2022-05-18 08:46] ShadaW11 commented on #808
@chyke007 apologies for the delay, are you still interested in working on this?

[2022-05-18 08:47] ShadaW11 commented on #809
@Marktawa thank you for sending over the outline. Please ping me once you complete working on the other issue assigned to you and then we can explore other opportunities.

[2022-05-18 08:50] ShadaW11 commented on #569
Hey @octalpixel we havent discussed this article after v4 was released. Do you think you have time to work on it?

[2022-05-18 08:57] ShadaW11 commented on #825
@Marienoir I like your article outline. What type of app will you build at the end of the tutorial that will highlight the need of using the scheduler plugin?

[2022-05-18 08:59] ShadaW11 commented on #825
@Takeddiney I believe your outline can be transformed to another article. Can you please open another issue? and develop more your outline? I like the outline but I think here the focus should be on learning plugin development, instead of a mini tutorial maybe you can expand on that part? please open a new issue and we continue discussing this topic there.

[2022-05-18 09:12] #819 closed

[2022-05-18 09:13] #793 closed

[2022-05-18 09:18] ShadaW11 commented on #768
@Saintdavidking can you please include how Strapi will be mentioned within the above outline.

[2022-05-18 09:22] Marienoir commented on #825
@ShadaW11 Thanks.
I intend to build a book store application using vanilla JavaScript and Strapi. Then highlighting how the scheduler plugin can be used to schedule books being added and also removed from the site.
However if you have a better option, I am open to suggestions.
Thanks

[2022-05-18 11:39] chyke007 commented on #808
Yes

[2022-05-18 23:52] Marktawa commented on #749
Hi @ShadaW11

Thank you for assigning me the tutorial.

I have gone over the material and will start updating the article.

[2022-05-19 10:58] Saintdavidking commented on #768
Topic:
Static website vs Dynamic website

Outline:

1. Introduction to Website
2. What is a Static website:
**Benefits of Strapi in a Static website
4. Dynamic and Static building tools using Strapi
-What is Strapi
-How to install Strapi
-How to manage static website content in Strapi
-How to manage dynamic content in Strapi

5. What is a Dynamic website
**Benefits of Strapi in Dynamic Website.

6

[2022-05-19 12:44] TiaraOluwanimi commented on #457
Hello, @oviecodes, I left a comment for you on the doc. Please, attend to it. Thanks

[2022-05-19 13:52] ShadaW11 commented on #825
Sounds good, @Marienoir good for it. If this is your first article update please register [here](https://strapi.io/write-for-the-community) before you get started.

Once you register, please go over the guidelines [here](https://github.com/strapi/community-content/blob/master/tutorials/GUIDELINES.md)

Please reach out if you have any questions.

[2022-05-19 13:55] Victory-ET commented on #818
Hi @ShadaW11,

Am almost done with the article and will be making a submission next week.

[2022-05-19 13:56] ShadaW11 commented on #818
@Victory-ET perfect thanks

[2022-05-19 14:00] Marienoir commented on #825
Alright @ShadaW11
I am on it and would reach out if I have questions too.
Thanks

[2022-05-19 14:12] ShadaW11 commented on #810
Thank you @icode247 we will be reviewing your article as soon as possible.

[2022-05-19 14:12] ShadaW11 commented on #810
@TiaraOluwanimi

[2022-05-19 14:14] ShadaW11 commented on #808
Perfect, please go ahead and start working on it. @chyke007

[2022-05-19 14:24] icode247 commented on #809
Hi @ShadaW11
I can work on this.

[2022-05-19 14:28] ShadaW11 commented on #809
@icode247 please go ahead and work on this

[2022-05-19 16:27] nimishbongale commented on #616
I'm going to have to look back at this, but if anyone else is willing to do the same they can take this up!

[2022-05-20 08:45] ShadaW11 commented on #616
@nimishbongale thank you for the feedback

[2022-05-20 08:54] ShadaW11 commented on #749
@Marktawa Perfect

[2022-05-20 09:24] ShadaW11 commented on #430
@HellooShivamAgrawal thank you for the feedback and for taking the time to explain. Sounds like a plan, feel free to reach out to me if you have any questions or if you need any help.

[2022-05-20 09:43] dileepkumarbenbanshi opened #830 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-05-20 09:48] ShadaW11 commented on #604
@zaracooper apologies for the late reply, in fact the article has already been updated to v4.

[2022-05-20 09:48] #604 closed

[2022-05-20 09:52] ShadaW11 commented on #735
Hello @bashidagha apologies for the delay, are you still interested in updating this article?

[2022-05-20 09:53] ShadaW11 commented on #585
The updates on this tutorial will be made here - https://github.com/strapi/community-content/issues/735

[2022-05-20 09:53] #585 closed

[2022-05-20 09:58] #718 closed

[2022-05-20 10:41] ShadaW11 commented on #750
@Qodestackr We have not had any update from your side, therefore the article will be open to other authors.

[2022-05-20 10:41] ShadaW11 commented on #756
Hello @maxiggle are you still interested in updating this article?

[2022-05-20 10:44] ShadaW11 commented on #752
Hello @IsaacThaJunior are you still interested in working on this?

[2022-05-20 10:55] maxiggle commented on #756
Yes I am

[2022-05-20 10:58] IsaacThaJunior commented on #752
Yes @ShadaW11 I am still interested in working on this

[2022-05-20 12:29] ShadaW11 opened #831 "[UPDATE OUTDATED CONTENT] How to Create Pages on the fly with Dynamic Zone"
**Description**

Hello 👋

This [article](https://strapi.io/blog/how-to-create-pages-on-the-fly-with-dynamic-zone) is outdated and needs to be updated.

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-20 12:39] ShadaW11 opened #832 "[UPDATE OUTDATED CONTENT] Announcing Strapi 3.1 - Administrator Roles & Permissions"
**Description**

This article requires update:
https://strapi.io/blog/announcing-3.1-role-based-access-control

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-20 12:45] ShadaW11 opened #833 "[UPDATE OUTDATED CONTENT] Caching in Strapi with Strapi Middleware Cache"
**Description**

This article requires update
https://strapi.io/blog/caching-in-strapi-strapi-middleware-cache

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-20 12:48] ShadaW11 opened #834 "[UPDATE OUTDATED CONTENT] How to use Image and preview in your Nextjs - Strapi blog"
**Description**

This article requires update
https://strapi.io/blog/how-to-use-image-and-preview-in-your-nextjs-strapi-blog

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-20 12:49] ShadaW11 opened #835 "[Request New Content] Deploying Strapi to your own VPS"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-05-20 12:50] ShadaW11 opened #836 "[UPDATE OUTDATED CONTENT] How to Build a Photo Gallery with Strapi, Nextjs and Cloudinary"
**Description**

This article requires update
https://strapi.io/blog/how-to-build-a-photo-gallery-with-strapi-nextjs-and-cloudinary

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-20 12:52] ShadaW11 opened #837 "[UPDATE OUTDATED CONTENT] Building Custom Resolvers with Strapi"
**Description**

This article requires update
https://strapi.io/blog/building-custom-resolvers-with-strapi

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-20 12:57] ShadaW11 opened #838 "[UPDATE OUTDATED CONTENT] Creating a React-native app with Strapi as backend"
**Description**

This article requires update
https://strapi.io/blog/creating-a-react-native-app-with-strapi-as-backend

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-20 13:00] ShadaW11 opened #839 "[UPDATE OUTDATED CONTENT] How to Serve Different Content Based on User Data/Membership with Strapi and React"
**Description**

This link requires update
https://strapi.io/blog/how-to-serve-different-content-based-on-user-data-membership-with-strapi-and-react

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-20 13:01] ShadaW11 opened #840 "[UPDATE OUTDATED CONTENT] i18n implementation and Best Practices in Strapi"
**Description**

This article requires update
https://strapi.io/blog/i18n-implementation-best-practices-in-strapi

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-20 13:03] ShadaW11 opened #841 "[UPDATE OUTDATED CONTENT] How to Build a Forum App with NextJs and Strapi CMS"
**Description**

This article requires update
https://strapi.io/blog/how-to-build-a-forum-app-with-next-js-and-strapi-cms

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-20 13:04] ShadaW11 opened #842 "[UPDATE OUTDATED CONTENT] Replace Strapi's Default WYSIWYG Editor with TinyMCE editor"
**Description**

This article requires update
https://strapi.io/blog/replace-strapi-default-wysiwyg-editor-with-tiny-mce

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-20 13:04] ShadaW11 opened #843 "[UPDATE OUTDATED CONTENT] Replace Strapi's Default WYSIWYG Editor with TinyMCE editor"
**Description**

This article requires update
https://strapi.io/blog/replace-strapi-default-wysiwyg-editor-with-tiny-mce

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-20 13:06] ShadaW11 opened #844 "[UPDATE OUTDATED CONTENT] Auth0 Provider and Strapi Tutorial"
**Description**

This article requires update
https://strapi.io/blog/auth0-provider-and-strapi-tutorial

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-20 13:08] ShadaW11 opened #845 "[UPDATE OUTDATED CONTENT] A Guide to Using Hugo"
**Description**

A link to the article can be found here
https://strapi.io/blog/guide-to-using-hugo-site-generator

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-05-20 13:11] ShadaW11 commented on #752
Perfect, @IsaacThaJunior please go ahead and start working on it.

If this is your first article update please register [here](https://strapi.io/write-for-the-community) before you get started.

Once you register, please go over the guidelines [here](https://github.com/strapi/community-content/blob/master/tutorials/GUIDELINES.md)

If this is your first article update please review this guide quick

[2022-05-20 13:12] ShadaW11 commented on #756
Perfect, please go ahead and start working on it @maxiggle

[2022-05-20 13:12] ShadaW11 commented on #756
If this is your first article update please review this guide quick before you get started. https://strapi.notion.site/Writer-s-Guide-V4-Tutorial-Update-68953d4073bf43b7bcba3d8284741c6d

[2022-05-20 13:13] ShadaW11 commented on #830
Can you please clarify what your request is? @dileepkumarbenbanshi

[2022-05-20 13:21] maxiggle commented on #756
Ok sure thing

[2022-05-20 15:45] ShadaW11 opened #846 "[Request New Content] Video to Article: Render, Remix, and Strapi: Let's Build a Productivity Tips App"
**My Request**

Objective: Transform the workshop video into a blog post.
Deadline to submit: 23 May
Link to video
https://youtu.be/zPT_K4Q8_RA

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-05-20 20:27] ddoherty commented on #581
This is not true.  The article still contains instructions for v3.

[2022-05-21 06:33] oviecodes commented on #457
@TiaraOluwanimi  yeah, I have added the links to the repo

[2022-05-21 10:39] TheGhoulRe commented on #846
Hi @ShadaW11, can I work on this

[2022-05-22 21:18] ibn-ashimi commented on #835
Hello, Can I take on this article?

[2022-05-23 02:26] Popoolayemi commented on #574
Hello  @ShadaW11  sorry for the delay on this article, I missed the notification, but am almost done with the article draft which will be ready before  Wednesday this week.
Can I still submit the draft?

[2022-05-23 02:28] popoolatopzy commented on #574
Hello @ShadaW11 sorry for the delay on this article, I missed the notification, but am almost done with the article draft which will be ready before Wednesday this week.
Can I still submit the draft?

[2022-05-23 08:17] hubertnare commented on #814
Link to Part 2 (Final Part of the article):

https://www.dropbox.com/scl/fi/e8btxz4l8yk88vpz3qsww/How-to-build-a-Notion-clone-with-Strapi-4-and-Next.js-2_2.papert?dl=0&rlkey=s9mk4hd3b3no55ft10orcr6x8

[2022-05-23 08:42] ShadaW11 commented on #814
Awesome work, thank you, we will review it asap and get back to you. @hubertnare

[2022-05-23 08:42] ShadaW11 commented on #814
@TiaraOluwanimi FYI

[2022-05-23 08:45] ShadaW11 commented on #574
@popoolatopzy I did not know that you are still working on this, can you please expand your tutorial using a few of the plugins available in our marketplace? https://market.strapi.io

[2022-05-23 08:46] ShadaW11 commented on #835
Hello @ibn-ashimi Can you please submit your outline?

[2022-05-23 10:44] ShadaW11 commented on #846
Yes please go ahead @TheGhoulRe  I sent you details on discord.

[2022-05-23 10:47] ShadaW11 commented on #846
As mentioned on Discord, please register to join the WFC program, go over the guidelines and then go over the video briefly and submit your outline. Once you do, I will review it and make sure it covers everything we need. Please note that the deadline for submission is on 25 May.

[2022-05-23 11:27] ibn-ashimi commented on #846
Hello @ShadaW11 Here is my outline

Introduction
- What are Strapi, Remix and Render
Goals
- What we’re building
Prerequisites
Setting up
Configuring Strapi
Building App
Deployment
Conclusion

[2022-05-23 11:33] TheGhoulRe commented on #846
Hi @ShadaW11, That wasn't me

The list of topics I'll be covering in this article are:

1. Introduction
2. Prerequisites
3. Why Remix?
4. Why Strapi?
5. The Strapi APP
6. The Remix APP
    1. step 1
    2. step 2
    3. step 3
    4. step 4
    5. step 5
7. Deploy to Render
8. Conclusion

[2022-05-23 11:34] ibn-ashimi commented on #835
Hi @ShadaW11
Outline:

Introduction
prerequisite
Installations
Setting up
Deployment
Conclusion.

What do you think?

[2022-05-23 11:36] ShadaW11 commented on #835
Hello, you need to submit a more detailed outline  @ibn-ashimi please focus on this article. There is no need to pitch other articles in the same time.

[2022-05-23 11:36] ShadaW11 commented on #846
@ibn-ashimi please focus on the other article you are working on.

[2022-05-23 11:50] ShadaW11 commented on #846
@TheGhoulRe I have sent you an email. Can you please confirm receiving it.

[2022-05-23 11:52] TheGhoulRe commented on #846
@ShadaW11, I have received the email

[2022-05-23 11:57] ibn-ashimi commented on #835
My resource

A Virtual Private Server allows you to have flexibility over your deployment and is a lot more secure. I will like to teach the Strapi community how they can purchase a VPS and deploy their Strapi app.

Outline:

- Introduction
- Goals
- Prerequisites
- Things to consider before purchasing a VPS
- Installations
- Setting up
- Deployment
- Conclusion.

My content is

[x] A Strapi Tutor

[2022-05-23 12:07] ShadaW11 commented on #846
@TheGhoulRe following our conversation on Discord, I assigned the article to you.

[2022-05-23 12:20] TheGhoulRe commented on #846
Thank you @ShadaW11

[2022-05-23 13:37] lucky4242 commented on #763
Hi Shada,
 Here are the remaining parts of the series.
2.  https://www.dropbox.com/scl/fi/5m5qaenw8h6x2j1f0ntpv/Building-an-Ecommerce-Website-with-Jekyll-Strapi-Snipcart-and-Tailwind-CSS-2-of-5.paper?dl=0&rlkey=d1e275cywmw4ysmxbmai8ngxg

3.  https://www.dropbox.com/scl/fi/xm51ec8zkco98golsbhl0/Building-an-Ecommerce-Website-with-Jekyll-Strapi-Snipcart-and-Tailwind-CSS-3-of-5.paper?dl=0&rlkey=0ai9hq

[2022-05-23 21:00] oyedeletemitope commented on #764
Hello @ShadaW11  here is a link to the article

https://www.dropbox.com/scl/fi/10b0pn792zeari0j4q6iw/Build-a-simple-3d-portfolio-with-Vite-React-Three.js-and-Strapi.paper?dl=0&rlkey=cfjouydk6ups09r09939n0czt

[2022-05-23 21:03] Victory-ET commented on #818
Hi @ShadaW11,

I'm done writing the draft for the article. Here is a link to the article written on [dropbox paper](https://www.dropbox.com/scl/fi/bopvjoz66ddak4b9byukg/5-Reasons-to-Add-On-site-Search-to-Your-Website.paper?dl=0&rlkey=mmp3mzycd9127c4pnjpsvn0q4)

[2022-05-23 21:05] Victory-ET commented on #841
Hi @ShadaW11,

I would love to update this tutorial. As I'm the author it's my responsibility to update it and it would be much easier for me to do.

[2022-05-24 01:49] popoolatopzy commented on #574
Alright, I'll do that

[2022-05-24 06:22] divofred commented on #637
Hi @malgamves @ShadaW11,
I am done with the draft, I'm sorry for the delay. I encountered some challenges along the way.
I will send you the link to the draft today.

[2022-05-24 08:45] ShadaW11 commented on #637
@divofred Hey, thank you for the update, perfect 🤩 , looking forward to receiving it.

[2022-05-24 08:47] ShadaW11 commented on #574
@popoolatopzy Perfect, please let me know which plugins you plan on using? and what will they bring to the tutorial?  Also do you have an estimation on when it will be ready?

[2022-05-24 09:15] ShadaW11 commented on #818
@Victory-ET perfect someone from our team will review it asap

[2022-05-24 09:15] Victory-ET commented on #818
@ShadaW11

Thanks. Looking forward to it.

[2022-05-24 09:29] ShadaW11 commented on #764
@oyedeletemitope awesome, thank you so much. Someone from our team will review your article asap

[2022-05-24 09:41] ShadaW11 commented on #725
@boulaffasae thank you, the article will be reviewed asap.

[2022-05-24 09:43] ShadaW11 commented on #763
@lucky4242 great job, someone from our team will be reviewing the articles asap.

[2022-05-24 10:24] ShadaW11 commented on #731
@popoolatopzy please submit your invoice. your article is published.

[2022-05-24 10:24] #731 closed

[2022-05-24 10:26] #755 closed

[2022-05-24 10:27] ShadaW11 commented on #755
@hubertnare please submit your invoice

[2022-05-24 10:58] Tiioluwani commented on #817
I'm interested in writing on this topic

[2022-05-24 15:50] divofred commented on #637
Phew @ShadaW11, the draft is ready😀.
[Here is the link to draft.](https://www.dropbox.com/scl/fi/s2wte12km5yhmr14s12th/Realtime-chat-application-using-Strapi%2C-Next%2C-Socket.io%2C-and-PostgreSQL.paper?dl=0&rlkey=uapbhop8ilnr94wi36p5d2ltu)

[2022-05-24 16:10] Tiioluwani commented on #817
I'm interested in writing on this

[2022-05-24 16:41] popoolatopzy commented on #574
I'll make use of
**DeepL** : the plugin will be use to translate the survey questions to different languages.
**Graphs Builder**: this plugin will be use to analyzing the  answered survey questions in a graph form at the strapi dashboard

The article  draft will be ready  before june 3

[2022-05-24 18:01] hubertnare commented on #755
Done!

[2022-05-25 08:00] ShadaW11 commented on #637
Thank you @divofred someone from our team will review it asap

[2022-05-25 08:01] ShadaW11 commented on #817
@Tiioluwani can you please submit a plugin

[2022-05-25 08:24] divofred commented on #637
Thanks @ShadaW11.

[2022-05-25 09:39] ShadaW11 commented on #820
@TiaraOluwanimi If you havent, can you please submit the invoice.

[2022-05-25 09:39] #820 closed

[2022-05-25 09:40] #821 closed

[2022-05-25 11:46] TiaraOluwanimi commented on #764
@oyedeletemitope, I left comments for you on the doc. Please, check them and attend to them. Thanks!

[2022-05-25 13:38] oyedeletemitope commented on #764
Hello @TiaraOluwanimi  I have attended to them all. Do let me know if there's anything else

[2022-05-25 16:13] ShadaW11 commented on #846
https://www.dropbox.com/scl/fi/9qs0m0aw8lpg0knuoc52w/Build-a-productivity-tips-application.paper?dl=0&rlkey=y4riy3k4s8q26h1yn87g0levc

[2022-05-25 20:09] Tiioluwani commented on #817
Plugins are the most powerful feature of the CMS. They allow developers to create custom pages, add additional functionality and even modify existing features. They can also be used in business websites. In this article, we'll be talking about what plugins are, how strapi plugins provides great  custom features for your CMS website and the best strapi plugins for your business website.
Outline:
-I

[2022-05-26 06:45] Tammibriggs opened #847 "[SUBMIT] How to implement infinite scrolling when using Strapi in React"
**My resource**

In this article, I will show how to implement infinite scrolling which is one of the patterns used to handle performance issues that may arise when working with large data sets.

Outline:
-   What is infinite scrolling
-   Cloning the stater Strapi app
	-   Brief overview of our stater app
-   Implementing infinite scrolling
	-   Observing scroll position for appending to existing

[2022-05-28 11:52] Victory-ET commented on #841
Hi @ShadaW11,

I've updated the mentioned article using Strapi V4. Here's a link to the article on [dropbox paper](https://www.dropbox.com/scl/fi/fnwp5udhh8xe0f7pcwe90/How-to-Build-a-Forum-App-with-NextJs-and-Strapi-CMS.paper?dl=0&rlkey=om5dtsmye1qmwmp9fn6yed1f3).

[2022-05-28 12:20] Codingforhackers commented on #430
Hi @ShadaW11, I can do a tutorial on that area (creating a shopping cart using react, tailwindcss, and PayPal as a payment gateway).

Let me know what you think.

[2022-05-28 23:01] surendracu opened #848 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-05-30 10:43] ShadaW11 commented on #848
Hello @surendracu can you please let me know what topic you would like to write about?

[2022-05-30 10:45] ShadaW11 commented on #430
Hello @Codingforhackers I like the idea, can you submit an outline with more details on what you plan on building and the features?

[2022-05-30 10:46] ShadaW11 commented on #841
@Victory-ET thank you, we'll review it asap

[2022-05-30 10:58] #848 closed

[2022-05-30 11:02] ShadaW11 commented on #847
Hello @Tammibriggs can you please expand more on your outline before we approve this tutorial?

What app will you build? what tech stack will you use? we already have some tutorials covering this topic such as this: https://www.youtube.com/watch?v=VHf2EM38Ikg

I would like to have an article published on the blog about this topic but it has to be within a certain use case and also should include u

[2022-05-30 11:03] ShadaW11 commented on #846
Thank you so much @TheGhoulRe for your efforts. Please submit your invoice. Your article was published.

[2022-05-30 11:03] #846 closed

[2022-05-30 11:09] ShadaW11 commented on #841
@TiaraOluwanimi

[2022-05-30 11:10] #830 closed

[2022-05-30 11:11] ShadaW11 commented on #827
@jacksonkasi0 unfortunately, MongoDB is not supported in strapi v4

[2022-05-30 11:11] #827 closed

[2022-05-30 11:16] ShadaW11 commented on #817
Hello @Tiioluwani thank you for submitting your outline, we would like to focus more and expand on point 5 (the must have...) Each of the first 4 points could be summarised in a 3 line summary. Can you expand to specify exactly what plugins you plan on using, and use case?

[2022-05-30 11:18] ShadaW11 commented on #816
Any update @Marktawa

[2022-05-30 11:19] ShadaW11 commented on #811
@chyke007 a developer from our team is reviewing your merge request and will be resolved soon. thank you.

[2022-05-30 11:21] ShadaW11 commented on #808
@chyke007 any update

[2022-05-30 11:25] jpcmf commented on #101
@nwokolawrence6 We decided to use the mysql 5.7 at the moment so we downgrade our database. But thank you for your message. All the best!

[2022-05-30 11:38] #777 closed

[2022-05-30 11:40] ShadaW11 commented on #772
@sammychris Any feedback?

[2022-05-30 11:42] #762 closed

[2022-05-30 11:43] ShadaW11 commented on #756
@maxiggle any update

[2022-05-30 11:43] ShadaW11 commented on #752
@IsaacThaJunior any update

[2022-05-30 11:44] #751 closed

[2022-05-30 11:46] #744 closed

[2022-05-30 11:46] #738 closed

[2022-05-30 11:46] chyke007 commented on #808
i am almost done with this article, just some few errors to fix, hopefully tomorrow I should submit the draft

[2022-05-30 11:47] #740 closed

[2022-05-30 11:53] Marienoir commented on #825
Yes @ShadaW11
I would send in my draft today. Just making some final refactoring

[2022-05-30 12:02] ShadaW11 commented on #735
@bashidagha any update?

[2022-05-30 12:02] #732 closed

[2022-05-30 12:02] #729 closed

[2022-05-30 12:03] #722 closed

[2022-05-30 12:03] #717 closed

[2022-05-30 12:04] #711 closed

[2022-05-30 12:04] ShadaW11 commented on #706
I love the idea @lucky4242 do you think you can power this tutorial with some of our plugins from the marketplace?

[2022-05-30 12:06] ShadaW11 commented on #705
@jamesaduke are you looking to work on this tutorial or requesting our community to work on it?

[2022-05-30 12:08] #697 closed

[2022-05-30 12:08] ShadaW11 commented on #676
hey @Ethiel97 do you still plan on delivering this article?

[2022-05-30 12:15] Tammibriggs commented on #847
Hi @ShadaW11, thanks for your reply.

I will update the pitch and send it to you ASAP.

[2022-05-30 12:21] olujerry commented on #750
Hello, is this still open? I will love to write about it.

[2022-05-30 12:44] Mayowa-Ojo commented on #807
Hi @ShadaW11 Is there a way to track payment status? I haven't gotten any notification since I sent my Invoice

[2022-05-30 12:45] oyedeletemitope commented on #764
Hello @TiaraOluwanimi any update on the article?

[2022-05-30 13:57] IsaacThaJunior commented on #752
@ShadaW11 it's coming along fine. I just encountered some issues with accessing deeply nested data even with the ?populate=* param in the search query. I am trying out some solutions and will submit a draft of the article by Friday.

[2022-05-30 15:39] icode247 commented on #809
Yes, am rounding up today. I will send it over tomorrow.

[2022-05-30 17:37] Tammibriggs commented on #847
Hi @ShadaW11, I have updated the outline based on your suggestions.

Here is the updated outline:
- Setting up a Strapi Project
    - Creating the Collection Types
- Building a Book app
    - Brief overview of our app
    - Adding book data to Strapi
    - Integrating Meilisearch for searching books
    - Implementing infinite scrolling with intersection observer
        - Observing scroll positio

[2022-05-30 20:29] ieceenver opened #849 "[TOPIC]controller"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-05-30 20:37] Ethiel97 commented on #676
Yes @ShadaW11 certainly. You'll hear from me shortly.

[2022-05-30 21:54] chyke007 commented on #808
@ShadaW11 the draft: https://www.dropbox.com/scl/fi/akbrgp1kkpfkj168hxi4g/V4-Tutorial-update(Registration-and-Login-(authentication)-with-Vue.js-and-Strapi).paper?dl=0&rlkey=bppr24mh45aosa8uy23c1ezbm

Would update the repo to point to a new one later in the day

[2022-05-31 07:37] ShadaW11 commented on #808
@chyke007 perfect thank you

[2022-05-31 07:39] ShadaW11 commented on #750
Hello @olujerry yes this topic is still available.

[2022-05-31 07:56] ShadaW11 commented on #638
@cwray-tech Hello Chris, I tried reaching out via email but I havent heard from you. All articles that include a backlink are not compensated. Therefore, if you would like to have a backlink to Magnet Co in the article, the article will be considered a guest post and no need for an invoice. If you would like to get compensated for the article, please issue your invoice following our guidelines. Th

[2022-05-31 10:07] ShadaW11 commented on #847
Hello @Tammibriggs thank you for updating the outline. Can you please let me know what tech stack you will be using? also can you add additional plugins? here's a sample of a detailed outline:

1-
Goal

In this tutorial, we will look at how we....

Outline

The need for headless CMS
Why use strapi?
How it all works
setting up the Nuxt frontend
Configuring Nuxt to work with Apollo Client
Creating a

[2022-05-31 10:07] ShadaW11 commented on #847
Can you please update and expand your outline based on the above feedback. Thank you

[2022-05-31 10:53] Marienoir commented on #825
@ShadaW11 I have sent in my article draft.
Thanks

[2022-05-31 11:08] Marktawa commented on #816
@ShadaW11 Still working on it. I will post a draft by the end of the week.

[2022-05-31 11:33] Tiioluwani commented on #817
These are the plugins i would be focusing on
-Measurement protocol: Applied in sending data to google analytics.
-EZ forms: This plugin enables the storing of data on your database, sending of notifications, easy consumption of forms from your frontend etc.
-SEO: This plugin helps in making friendly strapi ccontents
-GoogleAuth: Used in making google authentication for users
-REST cache: This plug

[2022-05-31 12:13] Tammibriggs commented on #847
Hi @ShadaW11, here is the updated outline using the above samples.

Topic: Build a book app with infinite scrolling and Meilisearch Strapi Plugin in React

Goal
In this tutorial, we will be building a book app using Strapi. The app will focus on how to fetch and render data in chunks with infinite scrolling and how to integrate and use meilisearch plugin to search for data.

Outline
- Introduction

[2022-05-31 14:03] olujerry commented on #750
Okay, I would love to write on this topic. Will be sending you my outline
soon.

On Tue, May 31, 2022 at 8:40 AM Shada ***@***.***> wrote:

[2022-05-31 15:06] icode247 commented on #809
Hi @ShadaW11 ,
Here is the Dropbox link to the updated article. https://www.dropbox.com/scl/fi/2ngd3mqnbhaa3mionfaic/Strapi%E2%80%99s-User-Roles-and-Permissions-for-Admin-Panel.paper?dl=0&rlkey=p5csztcc3ndqfdid975vyggzb

[2022-06-01 03:06] maxiggle commented on #756
I am on the project, I am kinda rebuilding the app and changing some contents

[2022-06-01 11:30] ayhid commented on #839
Hello @ShadaW11  I am interested in updating this article.
I am already registered in the writing for the community program.

[2022-06-01 15:00] ShadaW11 commented on #749
Thank you @Marktawa someone from our team will be reviewing it. @TiaraOluwanimi

[2022-06-01 15:09] ShadaW11 commented on #735
Hello @bashidagha the budget for content update is 70USD per article - in this case, the article is a series, therefore the budget is 200USD.

[2022-06-02 08:25] ShadaW11 commented on #735
@bashidagha As mentioned in my email, it will not be possible to process payments in crypto. Therefore, we would not be able to work on this together. Feel free to reach out if you find another solution.

[2022-06-02 11:04] ShadaW11 commented on #847
Hello @Tammibriggs sounds great, please gp ahead and start working on it.

[2022-06-02 11:19] ShadaW11 commented on #725
@boulaffasae please submit your invoice.

[2022-06-02 11:19] #725 closed

[2022-06-02 12:44] #818 closed

[2022-06-02 13:19] ShadaW11 commented on #807
@Mayowa-Ojo your payment was issued two days ago, you should receive it soon. Unfortunately there is no way to track the progress.

[2022-06-02 18:59] cwray-tech commented on #638
@ShadaW11 I apologize! Which email do you have for me? You can use chris@solmediaco.com in the future.

About the backlink, that is fine. The rules have evidently changed since I wrote last year. I have a big favor to ask of you though. Could you update my bio to say Software Engineer at Soltech? I deeply appreciate it.

About the invoice I will try to update. The issue is that I need to run this

[2022-06-02 20:54] Mayowa-Ojo commented on #807
Thank you @ShadaW11 Payment has been received.

[2022-06-03 08:41] Marienoir commented on #836
Hello @ShadaW11
I would like to make an update to this article.
Thanks

[2022-06-03 23:42] divofred opened #858 "[UPDATE OUTDATED CONTENT]How to Build a Real-time Chat Forum using Strapi, Socket.io, React and MongoDB"
**Description**
@ShadaW11 This [article](https://strapi.io/blog/how-to-build-a-real-time-chat-forum-using-strapi-socket-io-react-and-mongo-db) makes use of MongoDB and Strapi v3 codes.
I'll use a supported database and implement Strapi v4 features.

**Link of the content**
The link to the article can be found [here](https://strapi.io/blog/how-to-build-a-real-time-chat-forum-using-strapi-socket-io-

[2022-06-04 00:46] #858 closed

[2022-06-04 01:10] divofred opened #859 "[UPDATE]How to Build a Real-time Chat Forum using Strapi, Socket.io, React and MongoDB"
**My update**
@ShadaW11 @TiaraOluwanimi @PaulBratslavsky  This [article](https://strapi.io/blog/how-to-build-a-real-time-chat-forum-using-strapi-socket-io-react-and-mongo-db) makes use a NoSQL database (MongoDB) and Strapi v3 codes.
I'll use a supported database and implement Strapi v4 features.
**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-06-04 10:00] Saintdavidking commented on #768
Hello @ShadaW11  this is the link to the article
https://www.dropbox.com/scl/fi/gltn24l7e9v3b996x4g6x/Static-vs-dynamic.paper?dl=0&rlkey=vbq87bai6b0phksb7os4y7jbc

[2022-06-06 03:08] Dmuasya commented on #705
Hi, @ShadaW11 I'm willing to work on this tutorial.

[2022-06-06 11:15] pandeyprafull opened #860 "How to implement custom method to upload multiple images/SVG's at once and relate with a collection type in strapi"
Hello Prafull Pandey this side.. 👋
Just do let me know that how I'll proceed for this article...

**My content is**

- [ ]  How to implement custom method to upload multiple images/SVG's at once and relate with a collection type in strapi
- [ ]   The generic code contains custom logic to upload thousands of images in a Batch process without break.

**What do you all think?**
❤️ I love it!
🚀 I can

[2022-06-08 06:18] Dmuasya commented on #823
Hi, May  I send an outline?

[2022-06-08 08:18] Dmuasya opened #861 "[SUBMIT] Building a School Website with Strapi CMS using Vanilla JS"
**My resource**

Hello 👋

This article will be about a school website that I built with some backend services. I have worked with local JSON data before and it's difficult to update and delete the content. Luckily [Strapi](https://strapi.io/) is an open-source Headless CMS, you can design APIs quickly, and manage content smoothly. Readers will learn how to build a school website with Strapi CMS us

[2022-06-08 19:10] achingachris commented on #834
@ShadaW11

I can take up the task and work on creating an updated version.

[2022-06-08 22:03] IsaacThaJunior commented on #752
@ShadaW11 Here is a link to the finished article. Do let me know if there are any issues.

https://www.dropbox.com/scl/fi/0ao2z1ldc7xtphxd0f8h0/V4-Tutorial-Update.paper?dl=0&rlkey=p3bu58e8qwtln8tg5xksehon6

[2022-06-09 06:56] TiaraOluwanimi commented on #558
@amirtds, any update on this?

[2022-06-09 06:58] TiaraOluwanimi commented on #537
@philipszdavido, any updates on this?

[2022-06-09 08:11] Tammibriggs commented on #847
Hi @ShadaW11,

I am done with the article. Here is the link to it on DropBox:
https://www.dropbox.com/scl/fi/w8s31b8f79o9k57w6leg6/Build-a-book-app-with-infinite-scrolling-and-Meilisearch-Strapi-Plugin-in-React.paper?dl=0&rlkey=iuhiksa0xodbryvke9d6cfofc

[2022-06-09 14:09] olujerry commented on #750
Hello @ShadaW11 I have been able to update this article.
The link is attached below.
https://www.dropbox.com/scl/fi/slijgjhg8mptpebxfokfa/Untitled.paper?dl=0&rlkey=mfgwzty82d8qceh9jiwgbxj9z

[2022-06-09 14:30] Ethiel97 commented on #676
I've started writing the tutorial. I'm pretty new here in this program, so I may have made a lot of mistakes. Please bear with me :) Here's the draft link: [Draft]( https://paper.dropbox.com/doc/Flutter-Authentication-with-Strapi--BjEdTJbk2rQIGFbk8usaullKAg-26XdnPahBGPDv7eDz606z)

@ShadaW11

[2022-06-10 07:53] Ethiel97 commented on #676
I've started writing the tutorial. I'm pretty new here in this program, so I may have made a lot of mistakes. Please bear with me :) Here's the draft link: [Draft]( https://paper.dropbox.com/doc/Flutter-Authentication-with-Strapi--BjEdTJbk2rQIGFbk8usaullKAg-26XdnPahBGPDv7eDz606z)

@ShadaW11

[2022-06-11 04:14] Cpaczek commented on #831
Does the Nuxt JS one still need to be updated, I couldn't see an issue but I could do it for nuxt

[2022-06-11 09:21] Ezekiel8807 commented on #845
I would love to write on this

[2022-06-11 15:53] crimsonflower420 opened #863 "FORUM WEBSITE TUTORIAL"
**My Request**
Can you guys make a tutorial on how to use strapi to build a forum?

Would be very useful to a lot of people I think.

Best,

Grant
**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-06-12 18:04] marvelken commented on #770
Hi Shada,
So sorry for the belated reply, I have been shocked up with work. About the
article I feel there are much differences, maybe writing it will show how
different they both are, Should I go on?

On Thu, May 5, 2022, 12:46 PM Shada ***@***.***> wrote:

[2022-06-12 20:04] popoolatopzy opened #864 "[SUBMIT] How to deploy strapi on GitHub pages"
How to deploy strapi on GitHub pages
I'll like to write on this topic  here is my outline:

Outline
- Introduction
- Overview of strapi
- Prerequisites
- Strapi installation
- Deploying strapi to Github
- Github pages settings
- After Deployment
- Walk around with strapi
- Wrapping up
- Conclusion

**What do you all think?**
❤️ I love it!
🚀 I can help you!

Thank you for submitting your article pr

[2022-06-13 07:47] ibn-ashimi commented on #835
Hey @TiaraOluwanimi @ShadaW11

Here is a dropbox link: https://www.dropbox.com/scl/fi/lslrund8ag8yuq74buwl8/Deploying-Strapi-to-your-own-VPS.paper?dl=0&rlkey=a2jk02z32bogg0tf569z7nhva

Looking forward to your feedback.
Cheers.

[2022-06-13 09:07] TiaraOluwanimi commented on #816
Hello, @Marktawa, any updates?

[2022-06-13 12:04] shivanshsrivastava24 commented on #863
@grantgolland can I please take this up. Thanks!

[2022-06-13 12:06] Shivansh2407 commented on #844
Hey @ShadaW11, can I take issue, to update the content. Thanks!

[2022-06-13 14:09] olujerry commented on #750
@TiaraOluwanimi The link has been updated.

[2022-06-13 14:47] kimkimani opened #865 "[SUBMIT] Build a Blog APP with Remix and Strapi"
A brief outline:

- What is Strapi
- Why Remix
- Goal
- Prerequisites
- Setup Backend with Strapi CMS
- Setting up a Remix Project
- Project dependencies
- Building components
- Creating the Pages
- Displaying posts
- Conclusion

**My content is**

- [x] A Strapi Tutorial / Guide / How to article
- [x] About Headless, CMS, javascript, open source, or jamstack
- [ ] Other, specify

**What do you al

[2022-06-13 14:48] kimkimani commented on #865
Hi @ShadaW11, What's your thought on this subject?

[2022-06-13 16:06] Marktawa commented on #816
Hi @TiaraOluwanimi
I'm still working on the article. I should be done before end of week.

[2022-06-13 19:53] FaithKovi commented on #813
Hello, @ShadaW11 I am interested in updating this article. I have signed up for the writer's program and also joined the discord channel.

[2022-06-15 02:58] asrvd opened #867 "[SUBMIT] Guestbook/AMA Section For Portfolio Using Strapi and NextJS"
**My resource**

Hello 👋

I'll cover a tutorial in this blog related to creating a guestbook/AMA section for portfolio using strapi and nextjs. A lot of people integrate guestbook in their portfolio so that people can ask questions directly to the site's author. A working example can be seen on vercel's devrel lee robinson's [site](https://leerob.io/guestbook)

Outline -
- Intro about Strapi and N

[2022-06-15 17:09] chyke007 commented on #808
@TiaraOluwanimi can you please review as i have updated the content with the needed changes

[2022-06-15 20:28] Dmuasya commented on #861
Hi @malgamves Do I proceed with writing the draft article?
@ShadaW11

[2022-06-15 23:09] TiaraOluwanimi commented on #808
Hey, @chyke007. It's already been reviewed. You'll be notified once it is published. :)

[2022-06-16 00:41] ibn-ashimi commented on #835
Hi @TiaraOluwanimi I have updated the draft with the images

[2022-06-16 06:47] miracleonyenma commented on #546
Hey @ShadaW11 @heksagonnet
Sorry it took so long to get the draft ready but I finally had the time to work on it and I'll be making my submission now.

You can find the draft here - https://www.dropbox.com/scl/fi/um4xooeesmwy856c0exzs/How-to-build-a-photo-sharing-app-with-Nuxt-3-GraphQL-Cloudinary-Postgres-and-Strapi.paper?dl=0&rlkey=vy55ge9z7n1nn8g7qyxxuyqiz

Thanks!

[2022-06-16 07:08] chyke007 commented on #808
Apologies @TiaraOluwanimi I meant the other article on react

[2022-06-16 07:10] chyke007 commented on #811
@TiaraOluwanimi  can you please review as I have updated the content with the needed changes

[2022-06-16 11:49] lucky4242 opened #868 "Building a Job Nina with Sapper and Strapi v4"
Job nina is a website where job seekers can apply for positions. So, using strapi as our backend, I will build a site with Sapper where job seekers can apply for jobs and even write a specific job they need.

Outline
Introduction
What is sapper
What Strapi is
Setting up a Strapi project
building our project
testing our project
Conclusion

-->

**My content is**

- [ ] A Strapi Tutorial / Guide / H

[2022-06-16 15:44] sammychris commented on #772
Still on it. I will let you know when I'm through. Thanks

[2022-06-16 20:37] TheGhoulRe commented on #838
Hi @ShadaW11, can I update this article?

[2022-06-16 22:50] amirtds commented on #558
@ShadaW11 @TiaraOluwanimi I have the initial version for review by tomorrow EOD.

[2022-06-17 06:53] pandeyprafull commented on #860
Hey.. @ShadaW11  Should I proceed over this task .. Please let me know that this solution will hold under write for the community program ..??

[2022-06-18 00:35] ikeadeoyin commented on #832
@ShadaW11
I can work on this. I would love to update the article.

[2022-06-18 02:16] lucky4242 opened #869 "User Registration and Login (authentication) with Sapper and Strapi v4 [SUBMIT]"
**My resource**

**My content is**

- [ ] A Strapi Tutorial / Guide / How to article
- [ ] About Headless, CMS, javascript, open source, or jamstack
- [ ] Other, specify

**What do you all think?**
❤️ I love it!
🚀 I can help you!

Thank you for submitting your article proposal.

[2022-06-19 03:10] amirtds commented on #558
@ShadaW11 @TiaraOluwanimi The tutorial is ready for review [here](https://www.dropbox.com/scl/fi/50zwcutryzzxyea77nvfd/How-to-build-a-Product-Information-Manager-using-Strapi.paper?dl=0&rlkey=zgtjjg5xccnw1ll21g2e21tn7)

[2022-06-19 17:01] oviecodes commented on #457
hello @TiaraOluwanimi please are there any updates on this article?

[2022-06-20 06:18] srikantagowda07 opened #870 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-06-20 10:32] nuno-ferrao opened #871 "[ISSUE] Strapi Food App tutorial asks to install mongoDB"
nextjs-react-hooks-strapi-food-app-1 asks us to boot the project using MongoDB, but Strapi no longer allows for this option. We can only select an SQL-based database.

EXPECTED: Tutorial should be updated to reflect this.

[2022-06-20 13:50] dessireugarte opened #872 "[Request New Content] Strapi v4 Authentication with Remix"
**My Request**

Strapi v4 Authentication with Remix

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-06-20 14:08] dessireugarte opened #873 "[Request New Content] Deployment options and how to pick one"
**My Request**

Article explaining the most popular deployment options used with Strapi. What should be taken into consideration for each option before deciding on one and use cases (if relevant).

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-06-20 14:28] amirtds commented on #558
Thanks @TiaraOluwanimi for your review. I took care of your comments

[2022-06-20 17:48] ibn-ashimi commented on #835
@TiaraOluwanimi Hello, Could you please confirm if there is any other correction i need to make on my draft?

[2022-06-20 20:14] PaulBratslavsky commented on #847
@Tammibriggs not sure if anyone has responded yet in terms of reviewing your article.  I am going to be taking over for what Shada used to do here.  I am fairly new so still learning the ropes around the process.

[2022-06-20 20:24] Tammibriggs commented on #847
Hi @PaulBratslavsky,

No one has answered me yet.

[2022-06-20 21:12] IsaacThaJunior commented on #760
Hey there @ShadaW11 I am available to work on this if it is still open

[2022-06-21 01:24] PaulBratslavsky commented on #847
I will review your article, as well as the steps that I need to take, and will get back to you.

[2022-06-21 10:20] miracleonyenma commented on #872
Hey @dessireugarte @ShadaW11

This is awesome! ❤️
I'm interested in writing an article for this topic. I'll create an outline and share ASAP!

[2022-06-21 12:03] ibn-ashimi commented on #835
Hi @PaulBratslavsky

[2022-06-22 05:49] lucky4242 commented on #763
Hello @shada, @malgamves, or Anyone.
After this article is published, I'm attempting to access the submit form to submit my invoice but am unable to. Please tell me how to send my invoice. Thanks.

[2022-06-22 08:05] marvelken opened #875 "Build A Twitter Clone with React and Strapi"
Introduction
Setting up REact.js & Tailwind CSS
Initialising the Build
Building the Sidebar Component
Building the SidebarRow Component
Building the Feed Component (1/2)
Building the Widgets Component
Implementing Responsive Design
Building the TweetBox Component
Setting up Strapi
Explaining and Implementing Server-Side Rendering
Pulling Tweets from Strapi to the Feed
Building the Feed Component (

[2022-06-22 10:57] miracleonyenma commented on #872
Hey @dessireugarte @PaulBratslavsky

Here's my proposed outline for this topic:

# Strapi v4 Authentication with Remix
Authentication is an integral part of any application with users, but setting up a complete authentication & authorization workflow from scratch will be incredibly time-consuming and unproductive unless in some unique cases. With Strapi, we have access to [multiple authentication

[2022-06-22 17:02] rukundob451 commented on #870
Hello there,
Hoping to get started on creating content on here.
Hoping for a positive response,
Thank you,
Benjamin.

[2022-06-22 20:23] i1d9 opened #876 "[SUBMIT] How to create a realtime Bidding App using Strapi v4, Vue and Socket IO"
**My resource**

Hello 👋

Goal
In this tutorial, we will be building a real-time bidding application using Vue, Socket IO and Strapi. We will learn how to extend and override strapi plugin functions. We will also create service functions for our collections and call them within socket communication flows. In addition, we will use strapi's jwt authentication system to verify user token before accep

[2022-06-23 06:52] IsaacThaJunior commented on #760
Can i write on this if it is still available?

[2022-06-23 07:20] ikeadeoyin commented on #719
Hi @ShadaW11 @TiaraOluwanimi
I can work on this. I would love to update this tutorial.

[2022-06-23 12:24] dessireugarte commented on #872
Hello @miracleonyenma 👋 How are you doing?
It looks good to me. I changed the status so you can get started! 👍
Let us know when it's good for the review!

[2022-06-24 07:19] ath34-tech commented on #758
Hey, I am interested in writing article on this topic, if this is available i am more than happy to write.

[2022-06-24 13:36] malgamves commented on #836
hey yes it @Marienoir - @TiaraOluwanimi could you confirm?

[2022-06-24 13:42] ath34-tech commented on #836
i am open to write on this topic

[2022-06-24 13:55] TiaraOluwanimi commented on #836
@Marienoir, it's available. Pls, go ahead.

[2022-06-24 14:30] Marienoir commented on #836
Alright, thanks
I would get on it.

[2022-06-24 14:45] divofred commented on #637
Hello @TiaraOluwanimi @ShadaW11,
What's the next step?
Should I submit an invoice?

[2022-06-24 14:57] ath34-tech commented on #824
hey @ShadaW11 i am open to write tutorial on this, maybe make a task scheduling plugin or todo plugin(same in v4 official plugin development video)

[2022-06-24 15:17] ath34-tech commented on #824
@malgamves well i thought to write something like scheduling a task with date and time in a calender or google calender. nothing fancy just basic app similar to todo app

[2022-06-24 17:48] amirtds commented on #558
Hi @TiaraOluwanimi Let me know please if you need anything from my end, thank you //cc @ShadaW11

[2022-06-24 19:39] PaulBratslavsky commented on #719
Thank you @ikeadeoyin for taking this on.

[2022-06-24 21:57] i1d9 commented on #876
@PaulBratslavsky  Here's the [Article](https://www.dropbox.com/scl/fi/jrha49e6tg0hjx1xx4csp/How-to-create-a-real-time-Bidding-App-using-Strapi-v4-Vue-and-Socket-IO.paper?dl=0&rlkey=y8tq4anar7az7dv39fd8245wn) Draft. I'm looking forward to your comments.

[2022-06-25 06:27] PaulBratslavsky commented on #837
I wanted to take a stab at this article, can find a link to the draft here. https://github.com/PaulBratslavsky/how-to-create-custom-graphql-resolver-strapi-v4

[2022-06-25 09:25] ath34-tech commented on #824
@malgamves can u tell if i can work on draft or not?

[2022-06-25 21:10] hubertnare commented on #873
@PaulBratslavsky may I work on this?

[2022-06-25 21:58] PaulBratslavsky commented on #873
@hubertnare Yes.  It will b awesome. Can you provide an outline of what you were thinking of covering?

[2022-06-25 22:37] PaulBratslavsky commented on #863
@shivanshsrivastava24 can you come up with an outline of what you were thinking of writing about.

[2022-06-25 22:38] PaulBratslavsky commented on #865
@kimkimani hey I Paul.  Nice to meet you.  I will be taking in some of Shada's responsibilities here, did you start working on the article? Do you have any questions?

[2022-06-25 22:40] PaulBratslavsky commented on #876
This sounds awesome.  Keep going.

[2022-06-25 22:46] PaulBratslavsky commented on #876
@i1d9 Looks great. Do you have any changes that you need to make, or will this be your final draft?

[2022-06-26 05:02] i1d9 commented on #876
@PaulBratslavsky Thank you for the feedback. That's the final draft.

[2022-06-27 01:19] olujerry commented on #735
I will like to work on this if it's still available.

[2022-06-27 15:07] ath34-tech commented on #824
@PaulBratslavsky will , will send a draft tomorrow or day after

[2022-06-28 03:05] PaulBratslavsky commented on #735
@olujerry yes, i don't think anyone is working on this.  So it will be awesome if you can do it.🙂

[2022-06-28 06:50] TiaraOluwanimi commented on #811
@chyke007, pls check the doc and make changes. Thanks

[2022-06-28 08:22] olujerry commented on #735
Okay can I get the link to the previous article i will be working with.

[2022-06-28 10:00] Tammibriggs commented on #847
@PaulBratslavsky,

[2022-06-28 10:00] Tammibriggs commented on #847
@PaulBratslavsky,

Any update on the review of the article.

[2022-06-28 17:32] ath34-tech commented on #824
@PaulBratslavsky here is basic outline of heading i will be going to use in articles and topics i will explain:
[outline](https://docs.google.com/document/d/1F8hs5wjAhsv6sd4_64eIdQJQtugghTC2Zt0HHTaTYIY/edit?usp=sharing)

[2022-06-28 17:51] hubertnare commented on #873
Okay sure! Sending in a bit...

[2022-06-29 01:21] popoolatopzy commented on #576
Any update  on this article

[2022-06-29 11:14] oviecodes commented on #823
Hey @ShadaW11 I'm currently working on this, I'll have  a draft for you very soon.

[2022-06-29 11:23] PaulBratslavsky commented on #824
@ath34-tech Looks great you can start on it.  Thank you. 🙂

[2022-06-29 13:24] kimkimani commented on #865
Not yet @PaulBratslavsky. I wanted to know if the topic looks good so that I can start working on the article.

[2022-06-29 13:58] PaulBratslavsky commented on #837
Here is the draft https://github.com/PaulBratslavsky/how-to-create-custom-graphql-resolver-strapi-v4

[2022-06-29 15:00] lucky4242 opened #877 "Building a Job Nina with Sapper, Strapi v4 and Netlify"
Job nina is a website where job seekers can apply for positions. So, using strapi as our backend, I will build a site with Sapper where job seekers can apply for jobs and even write a specific job they need.

Outline
Introduction
What is sapper
What is Strapi
Setting up a Strapi project
building our project
testing our project
Conclusion

[2022-06-29 15:10] lucky4242 opened #878 "User Registration and Login (authentication) with Sapper and Strapi v4"
Registration and login  is all about authentication with strapi.

I will drop outline if the topic is approved, i hope it is approved

[2022-06-30 13:37] PaulBratslavsky commented on #865
@kimkimani I think it will be good.   In the "Why Remix" It would be nice to see an explanation what benefits Remix offers vs using something like Next JS. ( like what does it to better and why )

Also , were you planning on covering deployment in this article. Maybe that can be part 2.

[2022-06-30 15:16] kimkimani opened #879 "[SUBMIT]How to Make API calls in Android using Retrofit and Strapi CMS"
- Outline
- Introduction
- What is Retrofit
- What is Strapi
- Setting up API using Strapi
   - Managing Backend Content using Strapi
   - Creating the API Access Token
   - Consuming Strapi API using Android
- Setting up Android Studio
  - Adding application dependencies
  - Creating Client Interfaces
  - Creating Models
  - Setting up application Layouts
  - Setting up Adapters
  - Setting up St

[2022-06-30 15:16] kimkimani opened #880 "[SUBMIT] How to Perform Flutter Authentication with Strapi"
- What is Strapi
- What is Flutter
- Installing Strapi
- Overview of Strapi application
- Create Strapi locally
- Setup Flutter project
- Setup our networking logic
    - Add Http library to fetch APIs
    - Implement API fetching layer
- Build screens
    - Build login screen
    - Build registration screen
    - Build listing screen
- Conclusion

**My content is**

- [ ] A Strapi Tutorial / Guid

[2022-06-30 15:34] lucky4242 commented on #763
Hello @dessireugarte
 How do I send an invoice?

[2022-06-30 18:46] lucky4242 commented on #763
Invoice has been submitted. thanks

[2022-06-30 19:05] divofred commented on #637
Hello @dessireugarte, Thanks for publishing the article. How would I send an invoice?

[2022-06-30 19:47] oyedeletemitope commented on #764
Hello please I submitted an invoice for this article weeks back and I haven’t seen anything. I just want to ask if the payment has been initiated or I submit a new invoice.

[2022-06-30 20:33] ibn-ashimi commented on #835
Hello @PaulBratslavsky @TiaraOluwanimi.

Any update please?

[2022-07-01 12:28] popoolatopzy commented on #574
Hi, any updates on this draft?

[2022-07-01 16:12] icebearlabs opened #881 "[UPDATE OUTDATED CONTENT]"
**Description**

The article describes seed data that is not present anymore. Needs to update the different data models that are being accessed.

**Link of the content**
https://strapi.io/blog/build-a-blog-with-next-react-js-strapi

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-07-01 16:55] Sachin-chaurasiya commented on #770
Hey @ShadaW11, I would like to work on this issue.

[2022-07-02 11:44] Tiioluwani commented on #817
Any update on this

[2022-07-02 17:04] Otrex opened #882 "[SUBMIT] Strapi: Accept Payments Via Paystack"
**My resource**

Although major payment processors like Paypal and Stripe exist, most of them don't work in some countries like Nigeria due to several reasons. Startups in such countries find it difficult to setup their businesses and accept payment due to the tedious and expensive process it takes to setup up both their platform and their payment processor. So this is where Strapi and Paystack co

[2022-07-03 16:54] divofred commented on #637
Hello @dessireugarte  @ShadaW11, Thanks for publishing the article. I've submitted an invoice.

[2022-07-04 08:38] TiaraOluwanimi commented on #872
@miracleonyenma, any updates on this?

[2022-07-04 08:48] TiaraOluwanimi commented on #847
@Tammibriggs, thanks for your patience. There are no updates yet, but you'll get them soon. Your article will be reviewed and published. Thanks.

[2022-07-04 08:50] TiaraOluwanimi commented on #768
@Saintdavidking, thanks for your patience. I'll review this asap and get back to you (via the doc).

[2022-07-04 09:07] maxiggle commented on #756
Yes
I am still working on it please

[2022-07-04 09:12] TiaraOluwanimi commented on #844
Hi, @Shivansh2407. Yes, please.

[2022-07-04 09:13] TiaraOluwanimi commented on #845
Hello, @Ezekiel8807, still up for this?

[2022-07-04 09:16] TiaraOluwanimi commented on #834
Hello, @achingachris. Are you still up for this?

[2022-07-04 09:16] TiaraOluwanimi commented on #832
@ikeadeoyin, are you still up for this?

[2022-07-04 17:25] achingachris commented on #834
Yes, I'm up for the task. What's the next steps

[2022-07-04 19:52] divofred commented on #859
@TiaraOluwanimi What do you think about this update?

[2022-07-05 05:52] Marktawa commented on #816
Hi @TiaraOluwanimi

Sorry for the lack of updates. Here's my [current draft](https://www.dropbox.com/scl/fi/t47ph0q6z2x594ror3tym/3-plugins-to-power-up-your-Strapi-Blog.paper). I just recently updated my own fork of the [jekyll-strapi plugin](https://github.com/Marktawa/jekyll-strapi-mod) to make it compatible with Strapi version 4. It took me longer than expected. I'm now left with showcasing the

[2022-07-05 20:40] ath34-tech commented on #824
@PaulBratslavsky  how should i share the draft? in google docs or markdown?

[2022-07-06 16:33] Saintdavidking commented on #768
Hello @TiaraOluwanimi, I have made some changes as required to the document and added the image, I am waiting for your feedback

[2022-07-06 16:40] Saintdavidking commented on #760
Hello, @TiaraOluwanimi  is this topic still available for update? I will love to update this article with the new version 4 release either with a video or just content

[2022-07-06 16:46] boulaffasae commented on #725
Hi @PaulBratslavsky, you think you can continue with the invoice process ?

[2022-07-07 09:58] divofred commented on #881
Hello @PaulBratslavsky @TiaraOluwanimi @dessireugarte , Is this update still available?

I would love to work it on jt

[2022-07-07 11:07] FaithKovi commented on #813
Hello, @ShadaW11 Any feedback on this?

[2022-07-07 20:20] PaulBratslavsky commented on #824
@ath34-tech You can share it via google docs. What was the exact issue you were having with sending emails? You can probably create a similar example using nodemailer.

[2022-07-08 08:50] Hemanth85534 opened #888 "Resource for learning strapi"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-07-08 13:08] Saintdavidking commented on #888
Hello, @Hemanth85534 I will like to take on this topic

[2022-07-08 20:04] Ethiel97 commented on #676
https://paper.dropbox.com/doc/26XdnPahBGPDv7eDz606z
@PaulBratslavsky what do you think of this please? This is my outline

[2022-07-08 20:17] EdenSweden opened #889 "[UPDATE OUTDATED CONTENT] Tutorial: Create a food ordering app with Strapi and Next.js"
**Description**
The tutorial describes how to connect Mongo with Strapi, but yarn create strapi-app no longer supports Mongo. I attempted to install an older version of Strapi to follow the tutorial, but the other packages were not compatible with the newest version of node.

**Link of the content**
https://strapi.io/blog/nextjs-react-hooks-strapi-food-app-1

Thank you!

[2022-07-09 09:05] oviecodes commented on #823
@malgamves I'm was working with @ShadaW11 on this. I'll be having a draft soon. Should I send it to you once I'm done.

[2022-07-10 12:23] ath34-tech commented on #824
[draft](https://docs.google.com/document/d/1MIpsDUFfb56ALpLqdJp4krWZhccgwDV7J4Urx1CLC_w/edit?usp=sharing
)@PaulBratslavsky here is a draft

[2022-07-10 14:13] popoolatopzy commented on #574
Hello @PaulBratslavsky , any updates on this draft?

[2022-07-10 14:17] popoolatopzy commented on #840
Hello @PaulBratslavsky I'll like to work on updating this article.

[2022-07-10 14:21] popoolatopzy commented on #576
Hello @malgamves , any updates on this article?

[2022-07-10 15:57] ath34-tech commented on #824
[draft](https://docs.google.com/document/d/1MIpsDUFfb56ALpLqdJp4krWZhccgwDV7J4Urx1CLC_w/edit?usp=sharing)

[2022-07-12 06:47] dessireugarte commented on #574
Hello @popoolatopzy 👋
The article was posted today on the Strapi blog https://strapi.io/blog/creating-a-survey-application-using-strapi-and-react-js

[2022-07-12 11:28] jaidevjk opened #890 "forgot password is giving me the 400 error"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-07-12 19:02] TiaraOluwanimi commented on #816
Hello, @Marktawa. Are you done now?

[2022-07-12 19:04] TiaraOluwanimi commented on #872
Hello,  @miracleonyenma. I need to confirm if you're working on this or if we should re-open it to other writers.

[2022-07-13 02:05] PaulBratslavsky commented on #824
@ath34-tech look good.  Also, if you have the completed project on github, go ahead and share the link.  Would love to check it out.  If you are happy with your draft, we can submitted to the next step in the process.

[2022-07-13 05:37] divofred commented on #889
Hi @PaulBratslavsky, can I update this article?

[2022-07-13 09:08] miracleonyenma commented on #872
Hey @TiaraOluwanimi, I apologize for the delay, I'm currently working on the draft and will be making a submission soon. Thanks.

[2022-07-13 12:09] PaulBratslavsky commented on #861
@Dmuasya yes you can proceed.  Thank you.

[2022-07-13 12:17] PaulBratslavsky commented on #889
@divofred yes, that would be a great idea.  So instead of using MongoDB, we can use PostgreSQL.

[2022-07-13 13:39] Ubaydah commented on #890
I can take this up

[2022-07-13 13:58] divofred commented on #889
Hello @PaulBratslavsky, Should I send an outline?

[2022-07-14 00:50] oyedeletemitope commented on #554
Hello @ShadaW11  @TiaraOluwanimi here is the link to the article https://www.dropbox.com/scl/fi/n6qz7thon8guwndzv9f53/How-to-Build-a-Music-Player-App-With-React-and-Strapi.paper?dl=0&rlkey=zgmodimby996jm3omy8hfn4pk

[2022-07-14 01:13] popoolatopzy commented on #840
Hi @PaulBratslavsky , here is the updated draft for this article
https://www.dropbox.com/scl/fi/85nmofklqye1x81sz9oq8/i18n-Implementation-and-Best-Practices-in-Strapi.paper?dl=0&rlkey=64cxgp8jugdmc38s4klqnaa0w

[2022-07-15 09:23] #864 closed

[2022-07-15 12:38] shreyvijayvargiya commented on #838
Hello @ShadaW11 Can i take this article?

[2022-07-15 14:20] Marktawa commented on #816
Hi @TiaraOluwanimi

I'm now done. Here's the link to the [dropbox paper draft](https://www.dropbox.com/scl/fi/j32z7gkpr82mr0tutle8l/3-plugins-to-power-up-your-Strapi-Blog.paper?dl=0&rlkey=y0kwxlnrxv226yo5tvww8txoq) and the [Github project repo](https://github.com/Marktawa/jekyll-strapi-blog)

[2022-07-15 16:06] amirtds commented on #558
@TiaraOluwanimi Is there anything that is blocking this article to get published ?

[2022-07-15 18:08] ath34-tech commented on #824
@PaulBratslavsky here github Project:[project](https://github.com/ath34-tech/StrapiBasicPlugin)
I think i am okay with draft so you can proceed.

[2022-07-16 05:31] popoolatopzy opened #891 "[SUBMIT] Boosting productivity with Strapi plugins"
**My resource**

Hello 👋
I'll like to write on this topic here is my outline

 ### Boosting productivity with Strapi plugins

- Introduction
- What is Strapi?
- What is Strapi plugins?
- Strapi installation
- Plugins installation
- x plugins for boosting productivity
- Benefits of using plugins
- Conclusion

- [ ] A Strapi Tutorial / Guide / How to article
- [ ] About Headless, CMS, javascript, op

[2022-07-16 13:29] ibn-ashimi commented on #835
Hi @TiaraOluwanimi Any latest update on this please?

[2022-07-16 13:29] ibn-ashimi commented on #835
Hi @TiaraOluwanimi Any latest update on this please?

[2022-07-18 11:39] Smart-duke commented on #888
Can I take up this?

[2022-07-18 13:51] dessireugarte commented on #457
Sorry for the delay @oviecodes 🙏
You can submit your invoice so @malgamves can give a follow up to the payment

[2022-07-18 15:47] kimkimani opened #892 "[SUBMIT] How to Build a Notes App with Remix and Strapi CMS"
Please describe what your article will be about in few sentences and include an outline with the main topics covered in the article.

A brief outline:

- What is Strapi
- What is Remix
- Prerequisites
- Overview
- Build Strapi CMS Backend
- Setting up Strapi
   - Creating Notes collection with Strapi
   - Strapi API Access permissions
- Build Remix Backend
  - Setting up Remix application
  - Crea

[2022-07-18 15:53] ElijahMansur opened #893 "[TOPIC] Tutorial on advanced customization for Strapi Policies"
**My Request**

Hello 👋

I would like to see an extension of the strapi policies documentation or a tutorial to show how to use policyContext and what things you can do with it. I would also like to see some examples of pulling in external libraries to do custom checks for policies

Thank you.

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-07-18 16:29] PaulBratslavsky commented on #893
Great topic. Would love to find an author for this.

[2022-07-18 16:35] kimkimani commented on #892
Hey @PaulBratslavsky, What's your opinion on this subject?

[2022-07-18 17:31] PaulBratslavsky commented on #861
@Dmuasya can you please confirm if you are currently working on this?  Thank you.🙂

[2022-07-18 17:33] PaulBratslavsky commented on #891
@popoolatopzy which plugin were you thinking of demonstrating and talking about?

[2022-07-18 17:38] PaulBratslavsky commented on #890
@jaidevjk  I am curious for more detailed information regarding this issue?  Can you provide an example of what you are doing, that is causing this issue?  Just to be more clear on what @Ubaydah would have to write about, or even if it is something that has already been solved.

[2022-07-18 17:39] PaulBratslavsky commented on #889
@divofred I am still waiting for the response to your question.  Want to make sure that I get the right information before you embark on this update.

[2022-07-18 17:47] PaulBratslavsky commented on #882
@Otrex I like it, let me know if you already started on this?

[2022-07-18 18:04] PaulBratslavsky commented on #881
@icebearlabs can you give more detail on the issue that you had in more detail.  It might ogf been fixed.  I just followed the tutorial to check, and I did not run into any issues.

Used the following command to create an instance of the backend

[code]

Thanks in advance for your help.

[2022-07-18 18:07] PaulBratslavsky commented on #879
@kimkimani sorry I am trying to catch up with all submissions here.  Sorry for late response.  But can you give an outline of what you would like to cover in this article.

[2022-07-18 18:09] PaulBratslavsky commented on #878
@lucky4242 can you provide a brief outline of what you will cover in this tutorial, just to give me more context on what to expect.  Makes it easier for me to decide which articles to approve.  Thank you.  And sorry for my late response, been trying to catch up with all the submissions.

[2022-07-18 18:12] PaulBratslavsky commented on #875
Sorry for super late response, trying to catch up with all the submissions.  You cam get started with this if you are still up for it?

[2022-07-18 18:14] PaulBratslavsky commented on #873
@hubertnare are you still interested in writing this artcle.

[2022-07-18 18:16] PaulBratslavsky commented on #871
@nuno-ferrao thank you we are currently in the process of looking for the author to take care of this.

[2022-07-18 18:18] PaulBratslavsky commented on #869
@lucky4242 I know you had a lot of great Sapper tutorial ideas with Strapi.   Let me know which one you would like to work on first.

[2022-07-18 18:20] PaulBratslavsky commented on #867
Sorry for late response, I am taking over Shada's role so been playing catch up.  Let me know if you are still available to write this article.

[2022-07-18 18:21] PaulBratslavsky commented on #863
@shivanshsrivastava24 let me know if you are still interested working on this article.

[2022-07-18 18:22] PaulBratslavsky commented on #861
@Dmuasya Thank you.

[2022-07-18 18:23] PaulBratslavsky commented on #860
@pandeyprafull hey sorry for super late response, I took over Shada's duties and been playin catch up.  Can you let me know if you are still interested in doing this?

[2022-07-18 18:41] marvelken commented on #875
Hi Strapi/Community-Content,
I would get started with it.

Regards.

On Mon, Jul 18, 2022, 7:13 PM Paul Bratslavsky ***@***.***>
wrote:

[2022-07-18 22:08] hubertnare commented on #873
Hey Paul my apologies for the delay, will send the outline in the next 24 hrs to come...

[2022-07-19 03:05] lucky4242 commented on #877
Okay, I'm working on it.

[2022-07-19 03:16] divofred commented on #889
@PaulBratslavsky Noted. I'll be waiting for your response.

[2022-07-19 04:08] asheeeshh commented on #867
yes, I'm ready to start working on it as soon as I get a green signal from your end

[2022-07-19 04:59] pandeyprafull commented on #860
@PaulBratslavsky .. I'm interested to do this ..

[2022-07-19 09:14] Marktawa commented on #670
Hi @TiaraOluwanimi
I would love to work on a tutorial for this topic.

[2022-07-19 16:00] dessireugarte commented on #824
Hey @PaulBratslavsky I checked is it ok to put it in the loop to Olamide so she can review it and include it in the pipeline?

[2022-07-19 17:32] Namankataria01 commented on #770
Hey Guys i am looking for this for months i can't even find a single tutorial on this .
you can aslo add how to persist user in react

[2022-07-19 21:05] icode247 commented on #810
Hi @ShadaW11 , @malgamves ,
I have not received any feedback on the payment for this article.

Thanks

[2022-07-19 21:17] icode247 commented on #809
Hi @ShadaW11 , @malgamves ,
I have not received any feedback on the payment for this article.

Thanks

[2022-07-20 03:48] EtherDev365 opened #894 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-07-20 06:27] vcoisne commented on #894
@EtherDev365 did you have a topic in mind here ?

[2022-07-20 07:25] miracleonyenma commented on #872
Hey @TiaraOluwanimi @dessireugarte @PaulBratslavsky
I'm pleased to announce that the draft is ready 🎉

Here's [the link to it in Dropbox Paper](https://www.dropbox.com/scl/fi/6b0qsyotoqkk6gdhf5kw2/Strapi-v4-Authentication-with-Remix.paper?dl=0&rlkey=ufcr668p9r1gbgz52z23byv9a)

Looking forward to the review! 🤸🏾‍♂️

[2022-07-20 13:28] Marienoir commented on #825
@dessireugarte Alright that is fine with me
Thanks

[2022-07-20 15:16] dessireugarte commented on #770
Hello @marvelken 👋
Are you still available to write this article?

[2022-07-21 03:46] PaulBratslavsky commented on #58
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I just wanted to follow up with everyone here to see if anyone is still interested in writing this article.  If not, we will be closing this issue due to inactivity.

[2022-07-21 03:48] PaulBratslavsky commented on #13
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I just wanted to follow up with everyone here to see if anyone is still interested in writing this article.  If not, we will be closing this issue due to inactivity.

Please let me know if any one is still interested.

[2022-07-21 03:50] PaulBratslavsky commented on #35
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I just wanted to follow up with everyone here to see if anyone is still interested in writing this article.  If not, we will be closing this issue due to inactivity.

Please let me know if any one is still interested.

[2022-07-21 03:51] Manitej66 commented on #13
is the article still open? I can contribute

[2022-07-21 03:53] PaulBratslavsky commented on #33
This is a great idea for a topic. Would love to see someone pick this up.
But to ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I just wanted to follow up with everyone here to see if anyone is still interested in writing this article.  If not, we will be closing this issue due to inactivity.

Please let me know if any

[2022-07-21 03:56] PaulBratslavsky commented on #891
This will be awesome @popoolatopzy .  Keep it up.  Let me know when you have adraft.

[2022-07-21 04:01] PaulBratslavsky commented on #871
@nuno-ferrao I am going to close this issue because it is a duplicate of https://github.com/strapi/community-content/issues/889. The author started working on this.🙂

[2022-07-21 04:01] #871 closed

[2022-07-21 04:03] PaulBratslavsky commented on #824
@dessireugarte yes, thank you.

[2022-07-21 04:06] PaulBratslavsky commented on #87
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while , but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 04:11] PaulBratslavsky commented on #546
@TiaraOluwanimi has this article been published yet? Just want to follow up, looking to close issues that have been completed.

[2022-07-21 04:12] PaulBratslavsky commented on #114
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 04:15] PaulBratslavsky commented on #213
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 04:19] PaulBratslavsky commented on #292
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while @boulaffasae, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 04:21] PaulBratslavsky commented on #304
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while @Mastersam07, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 04:23] PaulBratslavsky commented on #309
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 04:28] PaulBratslavsky commented on #323
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while @Umoren , but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 04:31] PaulBratslavsky commented on #347
This is a great topic and would be nice to get someone update the previous article.  Let me know if anyone is interested on working on this topic.

[2022-07-21 04:37] PaulBratslavsky commented on #431
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while @dpkreativ , but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 04:39] PaulBratslavsky commented on #454
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while @oviecodes, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 04:46] PaulBratslavsky commented on #507
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while @oviecodes, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 04:48] PaulBratslavsky commented on #509
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 04:49] PaulBratslavsky commented on #537
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 04:51] PaulBratslavsky commented on #544
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 04:54] PaulBratslavsky commented on #566
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 04:55] PaulBratslavsky commented on #569
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while @octalpixel, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 05:01] PaulBratslavsky commented on #577
Going to close this due to inactivity. Feel free to reach out to me with any questions that you may have.

[2022-07-21 05:01] #577 closed

[2022-07-21 05:06] PaulBratslavsky commented on #576
@popoolatopzy  we have many articles in the pipeline, and a release cadence to make sure that we publish articles following our content calendar and not all at once. This is usually the main reason why there is a wait from time reviewed to the time published. @TiaraOluwanimi

[2022-07-21 05:07] PaulBratslavsky commented on #588
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while @octalpixel , but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 05:22] oviecodes commented on #507
Hey @PaulBratslavsky  I'm still interested in writing this article... I'll send an outline later in the day.

[2022-07-21 05:23] oviecodes commented on #454
Hey @PaulBratslavsky yeah I'm still very much interested in this article. Thanks

[2022-07-21 06:00] Umoren commented on #323
Hi @PaulBratslavsky i thought this topic was reassigned and closed.
If nobody is taking it, I had already made progress.
I can pick it up again.
Sorry for the inconvenience.

[2022-07-21 06:40] Mastersam07 commented on #304
Hi @PaulBratslavsky I'm still interested in writing this. Didn't get any feedback the last time so I wasn't sure how to proceed.

[2022-07-21 10:50] daniloraisi commented on #509
Hi @PaulBratslavsky, I proposed this content. I was absent due to serious personal problems. But now, I'm back, and I'll finish this content.

[2022-07-21 11:05] Saintdavidking commented on #58
Hello, @PaulBratslavsky
i will like to take on this topic since it is available,

Topic: Publication workflow "workaround" in Strapi

Description:

What is a Publication Workflow, and how does it work? The term " workflow" refers to all of the actions and procedures that must be completed in order to obtain the desired end result. The successful dissemination of high-quality content is the final s

[2022-07-21 11:06] Saintdavidking commented on #58
Hello, @PaulBratslavsky
i have submitted something related to this before on https://github.com/strapi/community-content/issues/605

[2022-07-21 11:36] dessireugarte commented on #849
Hello @ieceenver  👋
Could you provide more information about this? To ensure that we can review and publish articles promptly, we will delete inactive issues after two weeks of inactivity. Let us know otherwise we will proceed with deleting this issue.

[2022-07-21 11:41] dessireugarte commented on #845
Hello @Ezekiel8807 👋 Any news on this update?

[2022-07-21 11:47] dessireugarte commented on #844
Hello @Shivansh2407 👋 any news on this?

[2022-07-21 11:53] dessireugarte commented on #841
Hello @Victory-ET 👋
Did you already submit your invoice and receive payment for this article?

[2022-07-21 11:56] Victory-ET commented on #841
Hi @dessireugarte ,

I have not sent in an invoice for this yet.

[2022-07-21 12:04] dessireugarte commented on #840
Hello @TiaraOluwanimi 👋 This one is ready to be reviewed.

[2022-07-21 12:07] dessireugarte commented on #838
Hello @TheGhoulRe 👋 Are you still interested in updating this article?

[2022-07-21 12:08] dessireugarte commented on #836
Hello @Marienoir 👋 Do you have any news on this update?

[2022-07-21 12:14] Marienoir commented on #836
@dessireugarte
I am still on it. I would send in the updated draft by next week.

[2022-07-21 12:15] dessireugarte commented on #835
Hello @ibn-ashimi 👋 Your article will be posted in the following days. I'll let you know when you can submit your invoice.

[2022-07-21 12:16] dessireugarte commented on #834
Hello @achingachris 👋 Please submit the draft when it is ready so we can review it!

[2022-07-21 12:18] dessireugarte commented on #836
Perfect! Thanks @Marienoir

[2022-07-21 12:19] TheGhoulRe commented on #838
Hi @dessireugarte, I'm still interested in updating this article

[2022-07-21 12:33] dessireugarte commented on #823
Hello @oviecodes 👋
Yes you can send the draft over here and I will give a follow-up

[2022-07-21 12:37] dessireugarte commented on #872
Awesome! Thanks @miracleonyenma 👏
We will review the article and get back to you!

[2022-07-21 13:23] achingachris commented on #834
Here is the outline:

1. Introduction
2. Prerequisites
3. Starting a Strapi Project: Using starters
4. Displaying Images from Strapi to NextJS
5. Creating Image preview on Click
6. Conclusion
7. References

[2022-07-21 14:22] PaulBratslavsky commented on #589
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while @iamVictorSam, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 14:24] PaulBratslavsky commented on #598
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while @prafull-qed42, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 14:25] PaulBratslavsky commented on #599
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while @luisguve, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 14:27] PaulBratslavsky commented on #600
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while @Marktawa, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 14:46] PaulBratslavsky commented on #603
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while @SamoraCletus, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 14:49] PaulBratslavsky commented on #58
@Saintdavidking that is awesome.  Thank you for responding so quickly.🙂 I will assign this to you so you can start.

[2022-07-21 14:52] PaulBratslavsky commented on #605
I am closing this because it is similar to this topic which is being worked on. [TOPIC] Publication workflow "workaround" in Strapi #58

[2022-07-21 14:52] #605 closed

[2022-07-21 14:59] luisguve commented on #599
Hi there, I think it makes more sense to make a video on it, so please

[2022-07-21 14:59] #599 closed

[2022-07-21 15:02] PaulBratslavsky commented on #611
I am keeping this open since this is related to an initiative around GraphQl best practices that I am looking to do in the near future.  But if anyone wants to pick this article up before me, you can do that as well.  At the moment I am working on Strapi v3 to v4 migration content.

[2022-07-21 15:02] luisguve commented on #599
Hi there, I will make a few videos on how to install & use my plugins soon, after publishing them to the marketplace, I think it makes more sense than writing a blogpost.. Closing this issue

[2022-07-21 15:12] dpkreativ commented on #431
Hi @PaulBratslavsky
yeah I'm still interested in writing the article.

Here's the thing though:
I did write the article earlier and it has been published
https://strapi.io/blog/integrate-shopify-into-your-strapi-website

I also sent in an invoice, but it hasn't been paid yet.

Then someone raised an issue on it, and I was asked to update the article, but before I got round to it, it seems the pers

[2022-07-21 16:08] PaulBratslavsky commented on #633
@hubertnare just wanted to check in if you are still working on this?

[2022-07-21 16:11] PaulBratslavsky commented on #431
@dpkreativ I will look into this and get back to you as soon as I find out more. Thank you for letting me know.

[2022-07-21 16:17] PaulBratslavsky commented on #629
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while @Rajpolu, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

If so, can you provide how you will integrate Strapi in you art

[2022-07-21 16:19] PaulBratslavsky commented on #628
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while @Xemarij, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

If interested, can you provide an outline for the article. Than

[2022-07-21 16:24] PaulBratslavsky commented on #621
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while @nextrapi, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 16:27] PaulBratslavsky commented on #620
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while @nextrapi, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 16:35] PaulBratslavsky commented on #616
@nimishbongale just wanted to check in and see if you are still interested in this topic?

[2022-07-21 16:37] PaulBratslavsky commented on #634
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while @flavea, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 16:43] PaulBratslavsky commented on #635
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while @omarkhairy21, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

You can now deploy Strapi via Docker https://blog.dehlin.d

[2022-07-21 16:50] PaulBratslavsky commented on #636
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 16:54] PaulBratslavsky commented on #661
@vivmagarwal hey just wanted to check in if you will have time to do this article.  Making my way through the issues to see which have been inactive for a while.

[2022-07-21 17:24] PaulBratslavsky commented on #665
Thanks for submitting the video, Shada is no longer here, so I am taking over some of the duties and have to double check how we handles video content.  I believe videos submitted would have to be uploaded to our channel and use our  branding. @dessireugarte

[2022-07-21 17:28] PaulBratslavsky commented on #666
https://github.com/strapi/community-content/issues/665#issuecomment-1191749118

[2022-07-21 17:32] dessireugarte commented on #665
Hola @xAgustin93 👋
Si entendí bien, ¿quisieras que agreguemos el video a los tutoriales en nuestra página web?

[2022-07-21 17:58] dessireugarte commented on #838
Awesome @TheGhoulRe ! I will change the status of the article and feel free to get started.

If this is your first article update, please register [here](https://strapi.io/write-for-the-community) before you start.

Once you register, please go over the guidelines [here](https://github.com/strapi/community-content/blob/master/tutorials/GUIDELINES.md)

If this is your first article update, please r

[2022-07-21 18:10] nimishbongale commented on #616
Not atm, but I can try pulling in someone who might be able to!

[2022-07-21 18:22] PaulBratslavsky commented on #668
https://github.com/strapi/community-content/issues/665#issuecomment-1191755788

[2022-07-21 18:23] PaulBratslavsky commented on #670
@Marktawa that would be awesome.  Can you provide a brief outline of the steps you will cover in your article.

[2022-07-21 18:29] PaulBratslavsky commented on #591
@Marktawa I know it has been a while are you still interested in this topic?

[2022-07-21 18:31] PaulBratslavsky commented on #672
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while @nextrapi , but I just wanted to follow up and see you are still interested in writing this article since you made so much progress already. If not, we will be closing this issue due to inactivity.

[2022-07-21 18:34] PaulBratslavsky commented on #676
@Ethiel97 sorry for a late response, but it looks good.  You can continue on this.  Let me know if you have any questions.🙂

[2022-07-21 18:36] PaulBratslavsky commented on #702
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

If any one wants to take up this update, let me know.

[2022-07-21 18:38] PaulBratslavsky commented on #703
@mpalsule can you provide some more context on what you would like to cover, would make it easier for authors to better understand the requirements.

[2022-07-21 18:40] PaulBratslavsky commented on #705
@Dmuasya sorry for late response, I took over some of Shada's duties recently and been catching up with all issue submission.  Let me know if you are still interested in doing this.

[2022-07-21 18:42] PaulBratslavsky commented on #706
To ensure that we can review and publish articles promptly, we will start closing inactive issues after two weeks of inactivity.

I know it has been a while @lucky4242, but I just wanted to follow up with everyone here to see if anyone is still interested in writing this article. If not, we will be closing this issue due to inactivity.

[2022-07-21 18:44] PaulBratslavsky commented on #719
Hey, @ikeadeoyin.  Hope you are doing wonderfully.  Just wanted to check in and see how you are progressing on the article.

[2022-07-21 18:46] PaulBratslavsky commented on #721
@lucky4242 I just recently took over some of Shada's responsibilities and just wanted to check in to see if you are still interested in doing this article?

[2022-07-21 18:49] PaulBratslavsky commented on #723
I think we definitely need more GraphQl articles. So this updated will be great.  Anyone want to take this on let me know, I can also help answer any GraphQl related questions in Strapi v4 you may have.

[2022-07-21 18:51] PaulBratslavsky commented on #728
I am not to familiar with Angular, but if anyone one wants to work on this, let me know, I can help you with Strapi v4 GraphQl related Questions.

[2022-07-21 18:53] PaulBratslavsky commented on #734
This will be an awesome article to write, any authors authors who would like to work on this?🙂

[2022-07-21 18:58] PaulBratslavsky commented on #735
@olujerry I did not realize that this was a duplicate of another issue that already has an author working on it.  My apologies.  I will be closing this issue because of duplication.

[2022-07-21 18:58] #735 closed

[2022-07-21 19:11] Saintdavidking commented on #58
Alright, thanks @PaulBratslavsky

[2022-07-21 19:44] omarkhairy21 commented on #635
hey i am still interested in writing that one i just need the green light to go ahead

[2022-07-21 21:07] lucky4242 commented on #721
Yes i am interested

On Thu, 21 Jul 2022, 7:46 pm Paul Bratslavsky, ***@***.***>
wrote:

[2022-07-22 02:41] ibn-ashimi commented on #628
My resource
Hello 👋 @PaulBratslavsky

In this article, we will be covering how to deploy a Strapi APP with an MYSQL database on a Traditional Hosting Provider. The article will focus on how to set up and deploy an existing Strapi app.

Title: Deploying a Strapi APP with an MYSQL database on a Traditional Hosting Provider

Outline

Introduction
Prerequisites
Setup Strapi  APP
Application Configurat

[2022-07-22 03:24] lucky4242 commented on #763
hi @malgamves
what is the update on the invoice i submitted?

[2022-07-22 03:27] Dmuasya commented on #705
@PaulBratslavsky Thanks for getting back to me & I'm still interested.

[2022-07-22 09:14] dessireugarte commented on #815
Hello @Marktawa 👋 are you still interested in updating this article?

[2022-07-22 09:15] dessireugarte commented on #814
Hello @hubertnare  👋
Have you submitted your invoice?

[2022-07-22 09:16] dessireugarte commented on #813
Hello @FaithKovi 👋
Sorry for the late reply, are you still interested in updating this article?

[2022-07-22 09:17] dessireugarte commented on #811
Hello @chyke007 @TiaraOluwanimi 👋
Have the changes been made?

[2022-07-22 09:24] chyke007 commented on #811
I have made the changes

[2022-07-22 09:45] dessireugarte commented on #809
Hello @icode247 👋 Have you submitted your invoice and had news about your payment?
Let me know otherwise I'll ping the team

[2022-07-22 10:16] Marktawa commented on #670
Hi @PaulBratslavsky

Great. I will prepare an outline for the article.

[2022-07-22 10:23] Marktawa commented on #600
Hi @PaulBratslavsky

For now I want to work on issue #670. Someone else can take over.

[2022-07-22 10:25] Marktawa commented on #591
Hi @PaulBratslavsky
I'm working on #670. If no one else wants it, I will work on it after I complete #670.

[2022-07-22 10:27] TheGhoulRe commented on #838
Hi @dessireugarte, can I get a dropbox paper for this article, please!

[2022-07-22 10:38] oviecodes commented on #823
@PaulBratslavsky I'm was working with @ShadaW11 on this. I'll be having a draft soon. Can I send it to you once I'm done?

[2022-07-22 10:40] Marktawa commented on #815
Hi @dessireugarte
I am still interested in updating this article.

[2022-07-22 11:08] FaithKovi commented on #813
Hello, @dessireugarte Yes, I am interested.

[2022-07-22 16:06] VictorOzo commented on #894
@EtherDev365 what topic do you have in mind?

[2022-07-22 17:02] Umoren commented on #323
Hi @PaulBratslavsky @ShadaW11 is this use case okay for the article:

## Building a Contact form directory with Auth0 and Nextjs - Strapi Tutorial

- Introduction
    - OAuth
    - OpenID
- Introducing Auth0
- Building a Contact directory with Strapi and Next
- Setting up the Strapi Backend
- Setting up the Next frontend
- Integrating Auth0 as auth provider for the Contact form directory app
- Con

[2022-07-22 17:43] TiaraOluwanimi commented on #824
Hello, @ath34-tech. You didn't grant edit access to your doc, so I made a dropbox copy. I've made some comments there. Pls, check and revert asap. Thanks

[2022-07-22 19:45] popoolatopzy commented on #891
Thank you @PaulBratslavsky I've started working on the draft

[2022-07-22 20:04] Abdull600 commented on #772
Has anyone written about this article?

[2022-07-22 21:16] PaulBratslavsky commented on #753
I am closing this issue since it looks like it has been completed already.

[2022-07-22 21:16] #753 closed

[2022-07-22 21:18] PaulBratslavsky commented on #747
I am closing this issue since it has been completed.

[2022-07-22 21:18] #747 closed

[2022-07-22 21:24] PaulBratslavsky commented on #865
@kimkimani just wanted to check in on how you are doing on your progress?

[2022-07-22 21:24] PaulBratslavsky commented on #892
@kimkimani I think you can work on this after you get done with the other article you are working on.

[2022-07-23 07:05] icode247 commented on #809
I have not. I have attached my invoices here. The invoice submission form is not working again.
[Ekekenta Odionyenfe Clinton June 27, 2022 How to Use and Create Services in Strapi (SMS & Email Services).pdf](https://github.com/strapi/community-content/files/9173258/Ekekenta.Odionyenfe.Clinton.June.27.2022.How.to.Use.and.Create.Services.in.Strapi.SMS.Email.Services.pdf)
[Ekekenta Odionyenfe Clinton

[2022-07-23 07:19] Claradev32 commented on #823
Hi @ShadaW11
I can work on this topic

[2022-07-23 07:19] icode247 commented on #826
Hi @ShadaW11 ,
I can work on this topic

[2022-07-23 07:21] Claradev32 commented on #805
Hi @ShadaW11,
If this topic is available, I can work on it.

Thanks

[2022-07-23 09:28] oviecodes commented on #823
Alright @dessireugarte I'll do so this weekend

[2022-07-23 19:37] dpkreativ commented on #431
You're welcome @PaulBratslavsky

[2022-07-24 09:02] Abdull600 opened #900 "[SUBMIT] How To Build A Minimal Ecommerce Shopping App With NextJs And Strapi as Backend"
**My resource**

**My content is**
Introduction
In this tutorial, I'll teach you how to build a minimal e-commerce shopping app with nextjs and strapi.

Prerequisites

1. HTML
2. JavaScript
3. Tailwind
4. React
5. NextJs

Setting up a Strapi project
In this section, I'll teach you how to set up strapi and add products to the strapi platform.

Setting up NextJs project
In this section, we'll set up

[2022-07-24 16:35] Umoren commented on #323
Hi @PaulBratslavsky @ShadaW11
I have a few suggestions about this topic

- I feel the most important part of this topic is to show the readers how to use Strapi with Nextjs and Auth0 for authentication. At the moment, there's no content that shows how to specifically do this. I created a repo for it [here](https://github.com/Umoren/next-auth0).

- I think this [react project](https://github.com/st

[2022-07-25 09:18] bhagatpratham commented on #863
I think the article is available for this [here.](https://strapi.io/blog/how-to-build-a-forum-app-with-next-js-and-strapi-cms)

[2022-07-25 09:43] bhagatpratham opened #901 "[SUBMIT] HOW TO MIGRATE A WORDPRESS BLOG TO STRAPI"
**My resource**

**My content is**

- [ ] A Strapi Tutorial / Guide / How to article
- [ ] About Headless, CMS, javascript, open source, or jamstack
- [ ] Other, specify

**Outline:**
1. Introduction to Strapi
2. Benefits of migrating from WordPress to Strapi
3. Traditional CMS vs Headless CMS
4. Setting up the Strapi project
5. Shifting blog from WordPress to Strapi
6. Conclusion

**What do you a

[2022-07-25 13:37] hubertnare commented on #814
Yeah but when Shada was still available

[2022-07-25 13:40] dessireugarte opened #902 "[Request New Content] Migration from v3 to v4 from a simple Strapi application"
**My resource**

https://www.youtube.com/watch?v=NSvdQKVvV9k

**My content is**

- [ x ] A Strapi Tutorial / Guide / How to article
- [ ] About Headless, CMS, javascript, open source, or jamstack
- [ ] Other, specify

A tutorial explaining how to migrate a simple Strapi application from v3 to v4. For example, a blog page or static website.

**What do you all think?**
❤️ I love it!
🚀 I can help you

[2022-07-25 13:43] lucky4242 commented on #721
Hello @PaulBratslavsky
I've completed the article's update.
here is the link
https://www.dropbox.com/scl/fi/3gakpnm17do3m2vlh9sr1/Deploying-a-Strapi-API-on-Heroku-in-5-min.paper?dl=0&rlkey=gupk256zozcay2cipt8k1pvkv

[2022-07-25 14:01] dessireugarte opened #903 "[Request New Content] Audit Log in Strapi v4"
**My Request**
Context:
Many users are concerned about being able to track usage logs in their project to know who performs which actions. It's a very frequent inquiry.

There are two methods to add audit logs to your project. You can follow this "[audit log guide](https://medium.com/@adenleabbey/audit-log-trail-with-strapi-74f6bdf70daf)" or this [video](https://medium.com/@adenleabbey/audit-log-t

[2022-07-25 14:08] dessireugarte opened #904 "[Request New Content] Implementing A/B Testing in Next.js and Strapi"
**My Request**
Context:
Many users are used to legacy CMS or SaaS that empowers them with AB testing functionality that allows the marketing team to measure and compare the efficiency of their company.

Regarding A/B Testing, there is a large spectrum of implementations based on each customer's needs and preferred method. You can leverage frontend capabilities like [A/B Testing React Components](h

[2022-07-25 14:16] dessireugarte commented on #835
Hello @ibn-ashimi 👋
This article is published https://strapi.io/blog/deploying-strapi-to-your-own-vps
You can now submit your invoice [here](https://docs.google.com/forms/u/2/d/e/1FAIpQLSeD59R4fR5dEJIRh4JhUpBlKAi9yX5YeJIMsn-3gUFVj-bMjg/viewform)

@malgamves will give it a follow-up

[2022-07-25 14:22] ibn-ashimi commented on #835
Alright, Thanks.

Who do i talk to, to have my author bio edited tho?

[2022-07-25 14:23] dessireugarte opened #905 "[Request New Content] "Migrating content between environments using Import Export Entries plugin""
**My Request**

Request:
Migrating content between environments using [Import Export Entries plugin](https://market.strapi.io/plugins/strapi-plugin-import-export-entries)

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-07-25 14:28] dessireugarte opened #906 "[Request New Content] Create a refresh token feature in your Strapi application"
**My Request**
Tutorial explaining how to Create a refresh token feature in your Strapi v4 application

Examples:
- https://github.com/olyphotographer/strapi-refresh-tokens
- https://medium.com/geekculture/adding-refresh-token-to-strapi-v-3-2b75c01bd704

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-07-25 14:43] Marienoir commented on #836
Hello @dessireugarte

This is an updated content draft
https://www.dropbox.com/scl/fi/erp30nc4gy8b0dkxriyny/How-to-Build-a-Photo-Gallery-with-Strapi-Nextjs-and-Cloudinary.paper?dl=0&rlkey=ghc8l7c7adpwwqcgvjpavhb2i

[2022-07-25 14:48] PaulBratslavsky commented on #902
I am going to work on this article.

[2022-07-25 14:59] PaulBratslavsky commented on #323
@Umoren thank you.  Would you like to update or write a new article on using Auth0 with Strapi  v4 and Next JS.

[2022-07-25 15:07] Umoren commented on #323
I will just update this current one

[2022-07-25 15:09] Umoren commented on #323
This will be the outline

Outline

- Introduction
- Auth Providers
    - what is an auth provider
    - benefits
    - examples of auth providers
- Introducing Auth0
- Setting up a Strapi project
- Integrating Auth0 as auth provider
- Setting up Gridsome/Nuxt project
- Integrating Strapi API with Gridsome/Nuxt
- Conclusion

[2022-07-25 15:09] PaulBratslavsky commented on #323
@Umoren thank you 🙂

[2022-07-25 15:39] PaulBratslavsky commented on #628
@ibn-ashimi thank you, you can start on this.

[2022-07-25 21:20] Umoren commented on #323
Hi @PaulBratslavsky
Here's the initial draft for the article:
https://www.dropbox.com/scl/fi/5dfs734jf996823jb445u/User-Authentication-with-Auth0-Strapi-and-Nextjs.paper?dl=0&rlkey=7wdletzuiuss3lywmg9o6w7fr

[2022-07-26 06:27] Umoren commented on #833
🚀 I can help you

[2022-07-26 06:29] Umoren commented on #842
🚀 I can help you!

[2022-07-26 06:32] Umoren commented on #904
🚀 I can make the article.

[2022-07-26 08:59] TheGhoulRe commented on #838
Hello @dessireugarte, I'm done with the article update on a new dropbox paper. It doesn't have a table or the original table.

And I also made a [pull request](https://github.com/strapi/community-content/pull/907) to update the README of the project for this article.

[2022-07-26 09:20] Marktawa commented on #670
Hi @PaulBratslavsky
Here's a brief outline

# Set up Amazon S3 Upload Provider Plugin for your Strapi App

- Introduction
  - What is Strapi
  - What is Amazon S3
- Prerequisites
  - Strapi v4
  - AWS Account
  - Node v12 to v16
- Set up AWS
  - Create AWS Account
  - Create IAM policy Strapi
  - Set up permissions (**AWS Policy Actions**)
  - Access credentials
- Set up Strapi
  - Create demo Str

[2022-07-26 09:25] hubertnare commented on #633
Hey @PaulBratslavsky,

unfortunately, I will not be able to continue working on this.

[2022-07-26 09:50] lucky4242 commented on #763
Hi @malgamves or @Anyone
I sent an invoice regarding this published article more than 20 days ago, but nobody has responded.

[2022-07-26 10:12] hubertnare commented on #873
Hie @PaulBratslavsky

unfortunately for some reasons I will not be able to continue working on this. But, below, I listed some points to consider when writing the article.

Here are some points to include when writing this article;

## [Title] Strapi deployment options and how to pick one.

### [Introduction] A brief, motivating introduction plus a teaser of the upcoming Strapi Cloud (future best

[2022-07-26 10:21] dessireugarte commented on #835
Hello @ibn-ashimi 👋
We have made the change you sent to @PaulBratslavsky 👍

[2022-07-26 10:26] dessireugarte commented on #546
Hello @miracleonyenma @PaulBratslavsky 👋
This article is published https://strapi.io/blog/how-to-build-a-photo-sharing-app-with-nuxt-3-graph-ql-cloudinary-postgres-and-strapi
You can now submit your invoice [here](https://docs.google.com/forms/u/2/d/e/1FAIpQLSeD59R4fR5dEJIRh4JhUpBlKAi9yX5YeJIMsn-3gUFVj-bMjg/viewform)

@malgamves will give it a follow-up

[2022-07-26 10:48] ibn-ashimi commented on #835
Thank you so much.

[2022-07-26 11:05] miracleonyenma commented on #546
Awesome! Finally!! 🤸🏾‍♂️🤸🏾‍♂️
Thanks so much @dessireugarte

🙌🏾

[2022-07-26 12:23] dessireugarte commented on #873
Hello @hubertnare!
Thanks for sharing the outline. We will look for a new author then.

[2022-07-26 12:33] dessireugarte commented on #763
Hello @lucky4242 👋
I'm sorry for the delay. I just shared it with @malgamves so you get your payment asap.

[2022-07-26 12:45] dessireugarte commented on #838
Hello @TheGhoulRe 👋 Thanks! We will review the article and @TiaraOluwanimi will get back to you in case changes are needed.

[2022-07-26 12:57] dessireugarte commented on #904
Hello @Umoren 👋
If this is your first article, can you please register your author details [here](https://strapi.io/write-for-the-community) by filling out the form? Then please scroll to the FAQ section and go over the article guidelines, how to submit an article, issue an invoice and get paid.
Before getting started, can you provide an outline of what you were thinking of covering?

[2022-07-26 13:11] dessireugarte commented on #842
If this is your first article update, please review this guide quickly before you get started. https://strapi.notion.site/Writer-s-Guide-V4-Tutorial-Update-68953d4073bf43b7bcba3d8284741c6d

You can start writing your draft. We use Dropbox Paper to submit and review drafts. Please duplicate and use this [article template](https://www.dropbox.com/scl/fi/7o4rzejzmla65hygplkai/My-First-Strapi-Article.

[2022-07-26 13:11] dessireugarte commented on #833
@Umoren If this is your first article update, please review this guide quickly before you get started. https://strapi.notion.site/Writer-s-Guide-V4-Tutorial-Update-68953d4073bf43b7bcba3d8284741c6d

You can start writing your draft. We use Dropbox Paper to submit and review drafts. Please duplicate and use this [article template](https://www.dropbox.com/scl/fi/7o4rzejzmla65hygplkai/My-First-Strapi-

[2022-07-26 13:12] dessireugarte commented on #836
Thank you @Marienoir! We will review this article and get back to you.

[2022-07-26 13:13] dessireugarte commented on #814
Did you receive your payment?
cc @malgamves

[2022-07-26 13:15] dessireugarte commented on #826
Hello @icode247 👋
 Can you provide an outline of what you are thinking of covering?

[2022-07-26 13:17] dessireugarte commented on #809
Thank you @icode247!
@malgamves I add assign you this issue that is pending to receive the payment.

[2022-07-26 13:24] dessireugarte commented on #813
If this is your first article update, please register [here](https://strapi.io/write-for-the-community) before you start and review this guide quickly before you get started. [https://strapi.notion.site/Writer-s-Guide-V4-Tutorial-Update-68953d4073bf43b7bcba3d8284741c6d](https://www.notion.so/Writer-s-Guide-V4-Tutorial-Update-68953d4073bf43b7bcba3d8284741c6d)

You can start writing your draft. We u

[2022-07-26 13:26] oyedeletemitope opened #908 "[SUBMIT] Micro Frontend using Module Federation"
**My resource**

Hello 👋

Micro frontend is a concept from microservice. They are a popular approach to increasing flexibility. It allows teams to combine components built in different frameworks or libraries.

In this tutorial, we are taking a look at the cross platforming nature of the micro frontend. We’ll do this by building an app with a particular frontend framework and also share its state

[2022-07-26 13:30] dessireugarte commented on #815
Ok @Marktawa!
You can review this guide quickly before you get started. https://strapi.notion.site/Writer-s-Guide-V4-Tutorial-Update-68953d4073bf43b7bcba3d8284741c6d

You can start writing your draft. We use Dropbox Paper to submit and review drafts. Please duplicate and use this [article template](https://www.dropbox.com/scl/fi/7o4rzejzmla65hygplkai/My-First-Strapi-Article.paper?dl=0&rlkey=zoc4r7

[2022-07-26 13:37] dessireugarte commented on #834
@PaulBratslavsky Do you think the outline changes from this article are ok? I'm not sure if we should use the starters since the only one maintained by us is [this](https://github.com/strapi/starters-and-templates/tree/main/packages/templates/ecommerce) one.
What do you think?

[2022-07-26 13:37] dessireugarte commented on #841
Hello @Victory-ET!
Could you please submit it [here](https://docs.google.com/forms/d/e/1FAIpQLSeD59R4fR5dEJIRh4JhUpBlKAi9yX5YeJIMsn-3gUFVj-bMjg/viewform)?

[2022-07-26 15:48] PaulBratslavsky commented on #323
@TiaraOluwanimi hope you are doing well.  This article is ready for review. Thank you. 🙂

[2022-07-26 16:14] Umoren commented on #904
Hi @dessireugarte
This isn't my first article.
This is my outline proposal for the article:

- Introduction
    - What is AB Testing
    - Why is it important
    - How it works
 - Implementing AB testing in Nextjs
    - Creating landing pages with Strapi
    - Implementing the AB Test logic with `Middleware`
- Conclusion

[2022-07-26 17:41] hubertnare commented on #814
The last time I checked, they said the invoice was processed. But, I didn't receive any payment.

[2022-07-26 19:49] #637 closed

[2022-07-26 22:08] ikeadeoyin commented on #719
Hi @PaulBratslavsky
It is going quite fine. I will share my updates soon.

[2022-07-27 12:57] malgamves commented on #763
checking this, sorry for the delay!

[2022-07-27 16:53] oviecodes commented on #823
hey @dessireugarte , i was thinking of having 2 or 3 parts for the article
1. introduction to strapi plugins
2. developing the frontend of the plugin
3. developing the backend of the plugin

[2022-07-28 08:20] Umoren commented on #833
Hi @dessireugarte
I am suggesting a change of article title from "Caching in Strapi with Strapi Middleware Cache" to "Caching in Strapi with Strapi Plugin Rest Cache"
This is because:
- version 4 doesn't support adding cache settings in `middlewares.js`
- https://strapi-community.github.io/strapi-plugin-rest-cache is the version of https://github.com/patrixr/strapi-middleware-cache/ supported in s

[2022-07-28 14:15] Umoren commented on #842
Hi @dessireugarte
I've completed the update
https://www.dropbox.com/scl/fi/l9l67z9cqc9x4fl2lpte3/Replace-Strapis-Default-WYSIWYG-Editor-with-TinyMCE-editor.paper?dl=0&rlkey=srz433zfse7mmokiie7itccr4

[2022-07-28 14:16] Umoren commented on #842
Hi @dessireugarte
I've completed the update
https://www.dropbox.com/scl/fi/l9l67z9cqc9x4fl2lpte3/Replace-Strapis-Default-WYSIWYG-Editor-with-TinyMCE-editor.paper?dl=0&rlkey=srz433zfse7mmokiie7itccr4

[2022-07-28 14:18] Umoren commented on #904
Hi @dessireugarte
Do you approve this outline?

[2022-07-28 14:19] oviecodes commented on #454
@PaulBratslavsky what is the status on this issue, should I proceed with writing the article?

[2022-07-28 14:28] malgamves commented on #546
nice, on it!

[2022-07-28 14:31] malgamves commented on #814
let's continue chatting on Discord

[2022-07-28 14:37] malgamves commented on #809
Hey @icode247 the form is working fine ([try it again](https://forms.gle/LRYqaDUyGmS7DsLf6)) it helps us keep things organized. I'll put it through as soon as I get it.

[2022-07-28 20:04] Marktawa commented on #815
Hi @dessireugarte

Here's the [completed draft](https://www.dropbox.com/scl/fi/1ospydoxgzty49t9ir0fo/Handling-Previews-in-a-Headless-Architecture.paper?dl=0&rlkey=8ipxbo0shl73iequan8ijju7r). and the [Github code repository](https://github.com/Marktawa/strapi-nextjs-previews).

I would also like to update this article on [Implementing Previews with Nuxt Applications using a Strapi backend](https://

[2022-07-29 09:51] dessireugarte opened #909 "[UPDATE OUTDATED CONTENT] Implementing Previews with Nuxt Applications using a Strapi backend"
**Description**
Update this article https://strapi.io/blog/implementing-previews-with-nuxt-applications-using-a-strapi-backend

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-07-29 09:52] dessireugarte commented on #815
Hello @Marktawa 👋
Thanks for the draft, I add @TiaraOluwanimi to the thread so she can give a follow-up to this update.
Regarding the other article, I created [this](https://github.com/strapi/community-content/issues/909) issue. Would you be interested in updating it? So I can assign it to you!

[2022-07-29 10:35] Marktawa commented on #815
Ok, thanks @dessireugarte

Yes, I am interested in updating the other article. I will ping you in the [issue thread.](https://github.com/strapi/community-content/issues/909)

[2022-07-29 10:40] Marktawa commented on #909
Hey 👋 @dessireugarte

As previously mentioned in issue #815, I am interested in updating this article.

[2022-07-29 11:37] giVona opened #910 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-07-29 11:40] dessireugarte commented on #904
Hello @Umoren 👋
I shared this outline with the team and the feedback I received is that it would be good to explore integrations like [Conscia.ai](https://conscia.ai/) or  [Uniform.dev](https://uniform.dev/).
Also, in the introduction, could you expand on A/B testing specifically with headless vs monolithic CMSs.

What do you think?

[2022-07-29 11:45] dessireugarte commented on #842
Great job @Umoren 🎉
I include @TiaraOluwanimi, who will give a follow-up to the review of this article. We will keep you updated!

[2022-07-29 11:50] dessireugarte commented on #833
@Umoren good catch!
It makes sense so please go ahead! 👍

[2022-07-29 13:47] olujerry opened #911 "How To Build a Hotel Management App Using Strapi and NExt.js 1/7[SUBMIT]"
**My resource**
<!--
Hello 👋
Hotel management applications are popular because they allow users to explore the appearance of their hotel rooms as well as make reservations for themselves and their loved ones, enabling them to plan their budget.

This tutorial will show you how to utilize [Next.js](https://strapi.io/integrations/nextjs-cms) (React 16.8 w/ hooks) to power your UI, together with Grap

[2022-07-29 13:58] TiaraOluwanimi commented on #840
@popoolatopzy, I dropped a comment on the doc for you. Pls check and revert. Thanks

[2022-07-29 14:19] dessireugarte commented on #815
Great! Please go ahead! @Marktawa 👍

[2022-07-29 14:20] dessireugarte commented on #909
Great! Yes, please go ahead! Let me know when you have the draft ready 👍

[2022-07-29 14:45] TiaraOluwanimi commented on #838
Hello, @TheGhoulRe. I dropped comments on the doc. Please check and revert. :)

[2022-07-29 14:52] dessireugarte commented on #825
Hello @Marienoir 👋 Just want to make sure you received news about your payment?

[2022-07-29 14:56] Marienoir commented on #825
Yes, I have @dessireugarte
Thanks for reaching out 😊

[2022-07-29 15:02] dessireugarte commented on #817
Hello Paul 👋 What do you think about this outline?

[2022-07-29 15:11] popoolatopzy commented on #840
Thank you @TiaraOluwanimi , I"ve attended to your comment

[2022-07-29 15:12] dessireugarte commented on #808
Hello @chyke007 👋
I just wanted to double-check if you have submitted your invoice and received news about your payment with this article?
Could you share the issue of the react article you mean, please?

[2022-07-29 15:15] dessireugarte commented on #825
Great!
Thanks to you! Take care 👋

[2022-07-29 15:17] dessireugarte commented on #805
Hello @Claradev32 👋
If this is your first article, can you please register your author details [here](https://strapi.io/write-for-the-community) by filling out the form? Then please scroll to the FAQ section and review the article [guidelines](https://github.com/strapi/community-content/blob/master/tutorials/GUIDELINES.md), how to submit an article, issue an invoice and get paid.
Before getting st

[2022-07-29 15:20] chyke007 commented on #808
Hi, @dessireugarte I haven't yet submitted an invoice for this yet as I intended to submit for 2 articles: this, and https://github.com/strapi/community-content/issues/811.

The react article(https://github.com/strapi/community-content/issues/811) needed to update some packages and change the structure to suit this, I completed the work on that last month.

[2022-07-29 15:31] dessireugarte commented on #558
Hello @amirtds 👋
Sorry for the late reply. We have been having some internal changes that have delayed a little the articles.
But this article will be live next week. I will get back to you when is public so you can move forward with your invoice and payment.

[2022-07-29 15:32] dessireugarte commented on #876
Hello @i1d9 👋
Just wanted to let you know that your article will be published next week so you can proceed to submit your invoice and get your payment.

[2022-07-29 15:35] dessireugarte commented on #847
Hello @Tammibriggs  👋
Just wanted to let you know that your article will be published the second week of August so you can proceed to submit your invoice and get your payment.

[2022-07-29 15:36] dessireugarte commented on #768
Hello @Saintdavidking   👋
Just wanted to let you know that your article will be published the second week of August so you can proceed to submit your invoice and get your payment.

[2022-07-29 15:38] dessireugarte commented on #554
Hello @oyedeletemitope   👋
Just wanted to let you know that your article will be published the second week of August so you can proceed to submit your invoice and get your payment.

[2022-07-29 15:39] dessireugarte commented on #872
Hello @miracleonyenma   👋
Just wanted to let you know that your article will be published the second week of August so you can proceed to submit your invoice and get your payment.

[2022-07-29 15:42] dessireugarte commented on #811
@TiaraOluwanimi Could you let us know if the changes are ok? So we can post it in the blog 👍

[2022-07-29 15:45] dessireugarte commented on #808
Could you please submit your invoice using [this](https://docs.google.com/forms/d/e/1FAIpQLSeD59R4fR5dEJIRh4JhUpBlKAi9yX5YeJIMsn-3gUFVj-bMjg/viewform) form?
I am giving a follow up to the other article and will get back to you if we need anything else or when we post it 👍

[2022-07-29 15:46] dessireugarte commented on #772
Hello @sammychris 👋
Are you still interested in writing this article?

[2022-07-29 15:48] dessireugarte commented on #770
Hello @Sachin-chaurasiya 👋
Are you still interested in writing this article?

[2022-07-29 15:49] dessireugarte commented on #764
Hello @oyedeletemitope 👋
Sorry for the late reply. Have you received news about your payment?

[2022-07-29 15:51] oyedeletemitope commented on #764
Yes. Thank you I’ve received it

[2022-07-29 15:55] chyke007 commented on #808
How much is it again for an update? @dessireugarte

[2022-07-29 16:04] amirtds commented on #558
Hi @dessireugarte
Happy to hear from you, Thank for the heads up. Sounds great, Looking forward to get the tutorial published 👋

[2022-07-29 16:27] sammychris commented on #772
Yes, Sorry I took too long. Hopefully before the end of next week.

[2022-07-29 17:25] Marienoir commented on #906
Hello @dessireugarte
I will like to work on this article

[2022-07-29 17:37] Saintdavidking commented on #768
Alright thanks @dessireugarte

[2022-07-29 18:33] Saintdavidking commented on #58
Hello, @PaulBratslavsky  this is the dropbox link to the article :

https://www.dropbox.com/scl/fi/tkn3il2raj2arxm8vbyb8/Publication-workflow-workaround-in-Strapi.paper?dl=0&rlkey=4fc7rmkrlnw55lpe4v4pbvunr

[2022-07-29 18:48] ath34-tech commented on #824
@TiaraOluwanimi any updates on article?

[2022-07-29 22:21] icode247 commented on #809
Hi @malgamves,
I have submitted the forms for the payment.
Thanks

[2022-07-30 05:09] miracleonyenma commented on #872
Hey @dessireugarte 👋🏾.
That's awesome. Thank you so much.

I went ahead and created the invoice but wasn't able to submit it because the form seems to be closed?
![image](https://user-images.githubusercontent.com/42788603/181875656-7c24d68f-ccea-4f96-8169-73ec311e1d17.png)

I got the link to this form from the FAQ section of the [WFC page](https://strapi.io/write-for-the-community)

Has the form b

[2022-07-30 07:15] Sachin-chaurasiya commented on #770
Hello @dessireugarte, Yes, I would love to 💯 .
Please assign this issue to me.

[2022-07-30 10:33] kimkimani commented on #892
Hello @PaulBratslavsky, This one is ready.

https://www.dropbox.com/scl/fi/4g67383g3oxw0a57hik3t/How-to-Build-a-Notes-App-with-Remix-and-Strapi-CMS.paper?dl=0&rlkey=ovb8cx4631gtemdcmi7vz5h6y

[2022-07-30 13:00] kimkimani commented on #865
The draft is ready @PaulBratslavsky.

https://www.dropbox.com/scl/fi/8plr7c7nbg03b6osywwmm/Build-a-Blog-APP-with-Remix-and-Strapi.paper?dl=0&rlkey=b81rdbh3z0hjb2od47wnxr1ny

[2022-07-30 14:48] grantgolland commented on #863
Very cool! Thanks for making this

On Mon, Jul 25, 2022 at 2:18 AM Pratham ***@***.***> wrote:

[2022-07-31 00:07] Umoren commented on #833
Hi @dessireugarte
I'm done with the initial draft
https://www.dropbox.com/scl/fi/jmu0jz5gredxlyrsr4sbj/Caching-in-Strapi-with-Strapi-Plugin-Rest-Cache.paper?dl=0&rlkey=1umb3trp3737wn3m1uv7g88t3

[2022-07-31 02:19] Umoren commented on #904
Hi @dessireugarte
This is the revised outline for the artilce

- Introduction
  - What is AB Testing
  - Why is it important
  - How it works
  - AB Testing with monolithic CMSs vs headless CMS

- Introducing Uniform.dev
   - What it is
   - How it works
- Implementing AB testing with Uniform.dev using Nextjs
   - Setting up the project
   - Integrating Uniform.dev
   - Running tests

- Conclusion

[2022-07-31 10:40] sarangkkl opened #912 "How to integrate digital ocean spaces with strapi"
I have seen on forums there is no exact way by which we  can connect the digital ocean spaces with strapi properly when we do with old methods it give middleware error i know how to fix it that why i want to write an article about it

[2022-08-01 08:04] dessireugarte commented on #558
Hello @amirtds  👋 Your article is [live](https://strapi.io/blog/how-to-build-a-product-information-manager-using-strapi)! Congrats and great job 🎉

Now you can submit your invoice [here](https://docs.google.com/forms/d/e/1FAIpQLSeD59R4fR5dEJIRh4JhUpBlKAi9yX5YeJIMsn-3gUFVj-bMjg/viewform) and soon you will receive your payment. Please feel free to reach out to me if you have any questions!

[2022-08-01 08:52] oviecodes commented on #823
Hello @dessireugarte here's a link to the article https://www.dropbox.com/scl/fi/wc5lfr282pv22qmshmdc8/How-to-build-a-plugin-with-TypeScript.paper?dl=0&rlkey=z4goby2lkwliiv5mw1954dsw2

[2022-08-01 09:02] TiaraOluwanimi commented on #823
Well received, @oviecodes. You'll see review comments on the doc soon.

[2022-08-01 09:10] oviecodes commented on #823
Thanks @TiaraOluwanimi

[2022-08-01 09:32] TiaraOluwanimi commented on #838
@TheGhoulRe, I saw your response. There's one more thing to attend to. Pls check and revert accordingly. :)

[2022-08-01 09:33] oviecodes commented on #507
@dessireugarte what's the status on this.

[2022-08-01 09:34] TheGhoulRe commented on #838
Hi @TiaraOluwanimi, Thanks, I have seen the comment and will work on it now.

[2022-08-01 09:35] oviecodes commented on #454
Hello @dessireugarte what's the status on this?

[2022-08-01 09:37] oviecodes commented on #569
Hello @PaulBratslavsky @dessireugarte what's the status on this article?

[2022-08-01 10:06] oviecodes commented on #826
Hello @dessireugarte I can take this up.

[2022-08-01 13:54] Namankataria01 commented on #770
Hey @Sachin-chaurasiya  can you help me with thit issue ?

[2022-08-01 13:54] Namankataria01 commented on #770
Also the user persistance

[2022-08-01 16:10] PaulBratslavsky commented on #865
@TiaraOluwanimi this article is ready to be reviewed.

[2022-08-01 17:35] PaulBratslavsky commented on #912
@sarangkkl can you provide on outline of what you would like to cover just to give me some more context.  Thank you.

[2022-08-01 17:36] PaulBratslavsky commented on #911
@olujerry are you looking to write this article or someone else to pick up the topic?

[2022-08-01 17:37] PaulBratslavsky commented on #910
@giVona is there a specific topic that you would like to cover or request?

[2022-08-01 17:39] PaulBratslavsky commented on #908
@oyedeletemitope can you provide an outline of the structure of the post and what you would like to cover.  I think this is an interesting idea, and would like to learn more.

[2022-08-01 17:44] PaulBratslavsky commented on #892
This looks good.  Can you just do a brief  paragraph to summarize what you covered in the conclusion sections.  Thank you.

[2022-08-01 17:53] PaulBratslavsky commented on #900
@Abdull600 can you provide an outline of what you would like to cover.  More particularly on  how would you structure the "products" data.  It would be really nice to see the use of dyanamic zones.

[2022-08-01 17:55] PaulBratslavsky commented on #894
@EtherDev365 just wanted to follow up to see if you had a topic in mind.  If not I will be closing this issue due to "no topic" provided.

[2022-08-01 17:56] PaulBratslavsky commented on #877
@lucky4242 thank you 🙂

[2022-08-01 19:07] Marktawa commented on #909
Hey 👋 @dessireugarte

Here's the [draft](https://www.dropbox.com/scl/fi/mvw1l2eaguo32d5tja0bm/Implementing-Previews-with-Nuxt-Applications-using-a-Strapi-backend.paper?dl=0&rlkey=13lon0ww3ibf949sscmg3uaut) and the [repo](https://www.github.com/Marktawa/strapi-nuxt-preview).

[2022-08-01 20:19] Bonheur93 opened #914 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-08-01 20:19] #914 closed

[2022-08-01 21:31] olujerry commented on #911
I want to write the article.

[2022-08-01 21:46] Marktawa commented on #670
Hey @PaulBratslavsky
What's your take on my outline?

[2022-08-01 21:59] Abdull600 commented on #900
Sure, I'll do that very soon.

[2022-08-02 01:48] dpkreativ commented on #431
Hi @PaulBratslavsky
Please, what's the latest update on this issue?

[2022-08-02 09:28] JamesIde commented on #672
Damn. Looked promising from what he was showing earlier - oh well!

[2022-08-02 09:28] #672 closed

[2022-08-02 10:20] Marktawa opened #915 "[UPDATE OUTDATED CONTENT] Implementing Previews with Next Applications using a Strapi backend"
**My update**

Hello 👋

I want to update this article -> [Implementing Previews with Next Applications using a Strapi backend](https://strapi.io/blog/implement-previews-with-next-applications-using-a-strapi-backend)

I want to make it compatible with Strapi version 4.

**Link to the content** -> [Implementing Previews with Next Applications using a Strapi backend](https://strapi.io/blog/implement-

[2022-08-02 11:22] Marktawa commented on #915
I want to update it.

[2022-08-02 12:30] dessireugarte commented on #837
Thanks @PaulBratslavsky ! Since it is published, I'm closing the issue.

[2022-08-02 12:30] #837 closed

[2022-08-02 12:32] dessireugarte commented on #909
Thanks @Marktawa!
I assigned @TiaraOluwanimi so the article is reviewed. We will contact you if we need any changes.

[2022-08-02 12:35] dessireugarte commented on #770
Great @Sachin-chaurasiya! If this is your first article, can you please register your author details [here](https://strapi.io/write-for-the-community) by filling out the form. Then please scroll to the FAQ section and review the article [guidelines](https://github.com/strapi/community-content/blob/master/tutorials/GUIDELINES.md), how to submit an article, issue an invoice and get paid.

Before get

[2022-08-02 12:38] dessireugarte commented on #826
Hello @oviecodes 👋
Could you please provide an outline?

[2022-08-02 12:39] Sachin-chaurasiya commented on #770
Thanks, @dessireugarte, I will do that.
Should I share the outline here or somewhere else?

[2022-08-02 12:43] Sachin-chaurasiya commented on #770
@dessireugarte I have filled the form, please check.

[2022-08-02 12:45] dessireugarte commented on #904
Hello @Umoren 👋
Thanks for the outline. You can start writing your draft. Please duplicate and use this [article template](https://www.dropbox.com/scl/fi/7o4rzejzmla65hygplkai/My-First-Strapi-Article.paper?dl=0&rlkey=zoc4r7k3iw7titgsxp8vrt55x).

[2022-08-02 12:48] dessireugarte commented on #833
Thanks @Umoren!
I assigned @TiaraOluwanimi so your article is reviewed. If there is any change we might need, we will let you know!

[2022-08-02 13:26] PaulBratslavsky commented on #911
@olujerry awesome. Can you provide an outline for the series to give me more context on what you are going to cover before you start on the article?  Thank you.

[2022-08-02 15:46] kimkimani commented on #892
This looks good now @PaulBratslavsky

[2022-08-02 23:04] sparkle666 opened #916 "[Request New Content] Build a Web 3.0 Book Library DApp with Solidity, React and Strapi"
I would love to write on this article.
@PaulBratslavsky

[2022-08-03 00:14] popoolatopzy commented on #891
Hello @PaulBratslavsky here is the link to the artcle draft https://www.dropbox.com/scl/fi/ojpnbkdauqv1qxvsw6j6x/Boosting-Productivity-With-Strapi-Plugins.paper?dl=0&rlkey=ecytakw2s0f7jn3695vnsucxl

[2022-08-03 01:00] popoolatopzy opened #917 "[SUBMIT]How to create chat assistant using strapi and javascript"
**My resource**
I'll like to write on this topic how to create  chat assistant using strapi as the backend for the chat assistant.

Here is the outline for the article

### How to create chat assistant using strapi and javascript
- Introduction
- What is Strapi?
- Prerequisite
- Strapi installation
- Creating collection types
- Designing the chat assistant
- Adding functionalities to the chat assi

[2022-08-03 05:02] oyedeletemitope commented on #908
Hello @PaulBratslavsky here's the outline:

- Introduction
- what is microfrontend?
- Benefits of microfrontend
- Brief look at the tools and dependencies that we'll be using(module federation, strapi)
- Building the project(A task tracker app with react and strapi)
- sharing the state with solid js
- conclusion

This tutorial may be in two-part for me to cover every detail needed although, I don'

[2022-08-03 13:02] olujerry commented on #911
1.  Setup (part 1) -

-     Strapi installation

- Creating collection types

- Next.js installation

2. Hotels Availability (part 2)

- Designing the hotel available page

- Location (country, State, City)

3.  Rooms Selection (part 3)

- Select the type of room you want.

- Choose rooms that suit your budget.

4. Authentication (part 4)

5.  Reservations (part 5)

6. Payment and check-in (part 6

[2022-08-03 13:25] lucky4242 commented on #721
Hello @PaulBratslavsky
waiting for response

[2022-08-03 15:44] dessireugarte commented on #876
Hello @i1d9 👋 Your article is [live](https://strapi.io/blog/how-to-create-a-real-time-bidding-app-using-strapi-v4-vue-and-socket-io)! 🎉
You can submit your invoice [here](https://docs.google.com/forms/d/e/1FAIpQLSeD59R4fR5dEJIRh4JhUpBlKAi9yX5YeJIMsn-3gUFVj-bMjg/viewform) to get your payment.

[2022-08-03 16:44] dessireugarte opened #918 "[Request New Content] Deploy Strapi v4 in AWS"
**My Request**

A step-by-step tutorial explaining how to deploy Strapi v4 in AWS with a configuration script that setups the infrastructure and application for production (with load balancing).

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-08-03 17:54] ibn-ashimi commented on #628
@PaulBratslavsky

https://www.dropbox.com/scl/fi/rlf74j3fzvv0vdkcn24fx/Deploying-Strapi-MySQL-on-a-Traditional-Hosting-Provider.paper?dl=0&rlkey=41yfa9q1zd0eemkt69jxhugkc

Please have a look at my Draft.

[2022-08-03 18:01] ibn-ashimi commented on #918
My resource
Hello 👋 @dessireugarte

In this article, we will be covering how to deploy Strapi v4 in AWS with a configuration script that setups the infrastructure and application for production (with load balancing).

Title: Deploy Strapi v4 on AWS with automation script for production
Outline

Introduction
Prerequisites
Setup Strapi locally
Setting up environment
Application Configuration
Deploym

[2022-08-03 18:03] ibn-ashimi commented on #873
@dessireugarte Can i take this up?

[2022-08-03 18:40] hubertnare commented on #754
Hey @PaulBratslavsky

The plugin, Magic, hasn't been maintained for at least a year. So, my thinking is long periods of zero maintenance; 1. brings security concerns 2. Compatibility issues (in this context version 4 support issues).

[2022-08-04 07:39] dessireugarte commented on #791
Hello 👋
[Your article](https://strapi.io/blog/how-to-build-a-to-do-list-application-with-strapi-and-react-js) is already available in the Strapi blog. Sorry for the delay with this article.
Please submit your invoice [here](https://docs.google.com/forms/d/e/1FAIpQLSeD59R4fR5dEJIRh4JhUpBlKAi9yX5YeJIMsn-3gUFVj-bMjg/viewform) to receive your payment.

[2022-08-04 10:32] bomanaps commented on #873
I would love to write on this.

[2022-08-04 10:54] FaithKovi commented on #813
My article is ready, this is the link
https://www.dropbox.com/scl/fi/v2cxi7tbd9d1wdn996hna/Deploying-and-Scaling-the-Official-Strapi-Demo-App-_Foodadvisor_-with-Kubernetes-Docker.paper?dl=0&rlkey=50t5t45x9oslc842xa61eebfo

[2022-08-04 12:28] Marienoir commented on #844
Hello @dessireugarte
Is this article still available for update?
I would like to do an update on this article
Thanks

[2022-08-04 13:08] dessireugarte commented on #844
Hello @Marienoir 👋
Yes, go ahead. Please let me know when you have a draft to review it.

[2022-08-04 13:10] dessireugarte commented on #813
Hello @FaithKovi 👋
Thanks for sharing the draft. I assigned the issue to @TiaraOluwanimi to review your article.

[2022-08-04 13:12] dessireugarte commented on #873
Hello @ibn-ashimi 👋
Thanks for reaching out. Please go ahead and let us know when the draft is ready to review.

[2022-08-04 13:13] dessireugarte commented on #873
Hello @bomanaps 👋 Someone else to it but other articles are currently without an author assigned, would you be interested in any of [these](https://github.com/strapi/community-content/projects/1)? The cards with the "Looking for an author" tag.

[2022-08-04 13:31] dessireugarte commented on #770
Thanks @Sachin-chaurasiya ! You share the outline here please

[2022-08-04 13:32] dessireugarte commented on #906
Hello @Marienoir 👋
Could you please share an outline of the topics you will be covering?

[2022-08-04 13:34] dessireugarte commented on #772
No worries @sammychris!
I will assign you the issue and change the status then 👍

[2022-08-04 13:38] dessireugarte commented on #808
Hello @chyke007 👋
Compensation for v4 updates will be 70USD  - exceptions apply for tutorial series. More information [here](https://strapi.notion.site/Writer-s-Guide-V4-Tutorial-Update-68953d4073bf43b7bcba3d8284741c6d)

[2022-08-04 13:39] dessireugarte commented on #764
Awesome! 👏

[2022-08-04 13:39] #764 closed

[2022-08-04 13:48] #814 closed

[2022-08-04 13:48] #841 closed

[2022-08-04 13:49] #825 closed

[2022-08-04 13:50] #574 closed

[2022-08-04 13:50] #752 closed

[2022-08-04 13:51] dessireugarte commented on #749
Hello 👋 Just wanted to confirm you submitted your invoice and got your payment?

[2022-08-04 13:51] dessireugarte commented on #574
Hello @popoolatopzy 👋
Just wanted to confirm you submitted your invoice and got your payment?

[2022-08-04 13:51] dessireugarte commented on #750
Hello @olujerry 👋
Just wanted to confirm you submitted your invoice and got your payment.

[2022-08-04 13:52] dessireugarte commented on #752
Hello @IsaacThaJunior  👋
Just wanted to confirm you submitted your invoice and got your payment.

[2022-08-04 13:52] #558 closed

[2022-08-04 13:52] #876 closed

[2022-08-04 13:55] dessireugarte commented on #816
Hello @Marktawa 👋
Just wanted to let you know that your article will be published around the third week of August. I'll let you know when it is published!

[2022-08-04 13:56] popoolatopzy commented on #574
@dessireugarte ,Yes I've received the payment. Thank you 😊

[2022-08-04 13:57] dessireugarte commented on #824
Hello @ath34-tech  👋
Just wanted to let you know that your article will be published around the last two weeks of August. I'll let you know when it is published!

[2022-08-04 13:58] dessireugarte commented on #836
Hello @Marienoir  👋
Just wanted to let you know that your article will be published around the last two weeks of August. I'll let you know when it is published!

[2022-08-04 13:59] Sachin-chaurasiya commented on #770
Yes, I will share it here!

[2022-08-04 14:00] dessireugarte commented on #838
Hello @TheGhoulRe  👋
Just wanted to let you know that your article will be published around the last two weeks of August. I'll let you know when it is published!

[2022-08-04 14:02] dessireugarte commented on #823
Hello @oviecodes  👋
Just wanted to let you know that your article will be published around the last two weeks of August. I'll let you know when it is published!

[2022-08-04 14:07] dessireugarte commented on #750
Ok @olujerry ! I assigned this issue to @malgamves who will give a follow up to your payment!

[2022-08-04 14:13] Marienoir commented on #836
Alright, @dessireugarte 😊

[2022-08-04 14:13] olujerry commented on #750
okay

[2022-08-04 14:14] Marktawa commented on #749
Hey @dessireugarte

Yes, I received the payment. Thanks

[2022-08-04 14:18] Marienoir commented on #844
Alright, I will get on with this update

[2022-08-04 14:21] #749 closed

[2022-08-04 14:34] ibn-ashimi commented on #873
Alright @dessireugarte. Thanks!

[2022-08-04 14:41] ibn-ashimi commented on #628
Hi @PaulBratslavsky @malgamves

[2022-08-04 15:29] Marienoir commented on #906
Hi @dessireugarte
This is my proposed outline for the article

# Title:  Create a refresh token feature in your Strapi application

## Outline

- ### Introduction

1. Brief introduction to Strapi.

2. Why authenticate your Strapi application?

- ### Prerequisites

1. Strapi v4 (latest version)

1. npm (minimum v6) or yarn

- ### Goals

1. Installing Strapi and creating a Strapi project.
3. Showcas

[2022-08-04 15:57] dessireugarte commented on #906
Thanks @Marienoir! Please go ahead and let us know when you have a draft to review 😊

[2022-08-04 16:00] Marienoir commented on #906
Alright
I would get started and would let you know when I have a draft to review.

[2022-08-04 16:40] TheGhoulRe commented on #838
Hey @dessireugarte
Thanks for the update!

[2022-08-04 17:27] PaulBratslavsky commented on #628
@ibn-ashimi it looks good, I will submitted for the next step.  @TiaraOluwanimi this article is ready for review.  Thank you.

[2022-08-04 18:52] popoolatopzy commented on #840
@dessireugarte thank you for the update

[2022-08-04 23:49] chyke007 commented on #917
Hi @popoolatopzy there already exists a similar article [here](https://strapi.io/blog/how-to-create-a-chat-bot-assistant-using-next-js-tailwind-css-and-strapi)

[2022-08-05 01:28] popoolatopzy commented on #917
Ohh, I did not know. Thanks @chyke007

[2022-08-05 06:55] Tammibriggs commented on #847
@dessireugarte Please where should I submit my invoice?

[2022-08-05 06:57] popoolatopzy commented on #903
Hello @dessireugarte I'd like to work on this article

[2022-08-05 08:00] dessireugarte commented on #903
Hello @popoolatopzy 👋
Could you please send an outline of what you would be covering?

[2022-08-05 09:28] dessireugarte commented on #836
Hello @Marienoir @TiaraOluwanimi 👋
I left a comment in the draft!

[2022-08-05 12:26] spirobel commented on #873
I wrote something tangentially related to this: https://twitter.com/spirobel/status/1555473443839098880 it also has a small video to show how easy it is. I think this is truly the easiest option to get people started. It is basically just 2 clicks.  No need to learn about databases haha.  I original wrote this as a reply in Pauls awesome coding group 🙂 😅 😎  but I thought it might also be helpful t

[2022-08-05 12:35] dessireugarte commented on #757
Hello @miracleonyenma 👋
Are you still interested in writing this series?

[2022-08-05 12:38] dessireugarte commented on #756
Hello @maxiggle 👋
Just wanted to check if you are still interested in updating this article?

[2022-08-05 12:42] dessireugarte commented on #635
Hello @omarkhairy21 👋
Yes please go ahead. I am assigning this to you. Please share the draft when it is ready.

[2022-08-05 12:43] #636 closed

[2022-08-05 12:43] #665 closed

[2022-08-05 12:45] #629 closed

[2022-08-05 12:45] #619 closed

[2022-08-05 16:29] miracleonyenma commented on #757
Hey @dessireugarte 👋🏾

Absolutely, I'm interested.
Can I go ahead?

[2022-08-05 17:00] Marktawa commented on #915
Hi @dessireugarte

Here's the [complete draft](https://www.dropbox.com/scl/fi/u41pj3sy1nnq4bw5sixl1/Implementing-Previews-with-Next-Applications-using-a-Strapi-backend.paper?dl=0&rlkey=m7gyh4t33wol0sftvthe7xhe0) and the [GitHub repo](https://github.com/syboxdigital/strapi-nextjs-preview-blog)

[2022-08-05 20:36] popoolatopzy commented on #903
Hello @dessireugarte, Here is my outline for the article

##### Introduction
##### What is audit log in strapi?
##### Prerequisites
##### Strapi installation
##### Creating collections types
- Articles
- AuditLog
##### Overview of lifecycle in strapi
##### Lifecycle configuration (Audit log)
-   afterCreate
-   afterUpdate
-   afterDelete
-   afterFindOne
-   afterFindMany
##### Testing the audit

[2022-08-06 07:19] ath34-tech commented on #758
@PaulBratslavsky @TiaraOluwanimi  can i take this topic?

[2022-08-06 10:15] TiaraOluwanimi commented on #58
Hi, @Saintdavidking. I dropped a couple of comments on the draft. Pls view, fix, and revert. Thanks

[2022-08-06 14:57] oviecodes commented on #826
- Introduction to Strapi
- What are plugins?
- Good news - Strapi allows you to create plugins.
- Planning phase
    - What problem are you trying to solve?
    - Where to look for solutions
    - Typescript / Javascript
- Deciding which features to include
    - Homepage
    - settings page
    - activation and deactivation
- Researching
    - Looking at plugins in the marketplace to avoid reinve

[2022-08-06 20:33] ath34-tech commented on #589
@PaulBratslavsky if this topic is free, i will love to take this up

[2022-08-06 21:12] omarkhairy21 commented on #635
hey @dessireugarte I just get starting in the draft i will share it whenever it is ready but i noticed you are asking for a similar tutorial in https://github.com/strapi/community-content/issues/918 are you sure there will not be redundant content? also, i can do the same tutorial (i.e this ticket #635) without using pulumi what is your opinion?

[2022-08-07 18:49] ath34-tech commented on #589
@PaulBratslavsky @ShadaW11 here my outline: [outline](https://docs.google.com/document/d/1SkB_s9mQSLsRFeUIs9MuxiOAN_6b-T7LEOXBljp3M6c/edit?usp=sharing)

[2022-08-07 22:58] Ezekiel8807 commented on #845
I'm off on this

[2022-08-08 06:48] lucky4242 commented on #877
Hello @PaulBratslavsky
Here is the draft for this article https://www.dropbox.com/scl/fi/hzngfijv2nvuic8u2czk2/Building-a-Job-Nina-with-Sapper-Strapi-v4-and-Netlify.paper?dl=0&rlkey=vj7dbeejjz1bkeoppaqtv61yn

[2022-08-08 08:15] zelief opened #922 "[SUBMIT] How to Create an online course certificate verification using Typescript Next JS and Strapi"
**My content is**

- [ ] A Strapi Tutorial with NextJS typescript
- [ ] Create an online course certificate page using jsPDF
- [ ] Generating a pdf using data from Strapi and jsPDF

**Outline**
- Introduction
- Creating a NextJS app with Typescript
- Creating the Certificate Page in NextJS
- Generating a PDF using jsPDF with static data
- Creating a local Strapi app
- Create a Certificate Collecti

[2022-08-08 08:15] malgamves commented on #768
processed 🚀

[2022-08-08 08:20] malgamves commented on #872
we'll update the link on the WFC page, thanks for the heads up. Also, processed your invoice 🚀

[2022-08-08 08:36] malgamves commented on #672
we can always come back to it when the author has time to finish it btw :)) we understand how busy life can get

[2022-08-08 08:37] malgamves commented on #835
processed it last week, you should get it in a week. Let me know if you don't and i'll follow up @ibn-ashimi

[2022-08-08 08:38] malgamves commented on #791
processed ⚡

[2022-08-08 08:39] malgamves commented on #750
processed it last week, you should get it in a week. Let me know if you don't and i'll follow up @olujerry

[2022-08-08 08:46] #835 closed

[2022-08-08 08:47] #791 closed

[2022-08-08 08:57] dessireugarte commented on #847
Hello @Tammibriggs 👋
Your article is [live](https://strapi.io/blog/build-a-book-app-with-infinite-scrolling-and-meilisearch-strapi-plugin-in-react)! 🎉
Please register to our forum by clicking on the discussion at the bottom of your post, so you automatically receive notifications when someone adds comments. Also please follow the [guidelines](https://strapi.io/write-for-the-community) to issue and

[2022-08-08 12:31] PaulBratslavsky commented on #589
@ath34-tech great outline, just a question around which provider were you going to use to log in? Google, Github, etc.

[2022-08-08 13:56] ath34-tech commented on #589
@PaulBratslavsky  sorry I forgot to mention, I am thinking to use google.Let me update the outline a bit.

[2022-08-08 14:01] ath34-tech commented on #589
Done, i am ready to use google authentication, if you want i can go with facebook one too, but I prefer google one.

If everything is fine then please change tag to "in progress".
Thankyou
@PaulBratslavsky

[2022-08-08 14:50] PaulBratslavsky opened #923 "Strapi Migration v3 to v4 Blog Post"
**My resource**

**My content is**

- [ ] A Strapi Tutorial / Guide / How to article
- [ ] About Headless, CMS, javascript, open source, or jamstack
- [ x] Other, specify

Strapi Migration "Big Picture" overview and walk-through using Food Advisor

## ===================================
[Final Draft Link](https://github.com/PaulBratslavsky/migration-guide-stream-post)
## ==========================

[2022-08-08 17:25] ibn-ashimi commented on #835
Alright @malgamves.I haven't yet but perhaps before the end of the week.

[2022-08-08 17:25] ibn-ashimi commented on #835
Alright @malgamves i haven't yet but perhaps before the week runs out.

[2022-08-09 01:37] Marktawa commented on #670
Hey @PaulBratslavsky

Here's my finished [draft](https://www.dropbox.com/scl/fi/zee2uy0romu10geydmefa/How-to-setup-Amazon-S3-Upload-Provider-Plugin-for-your-Strapi-App.paper?dl=0&rlkey=ocfd9qeh1ap779r62wc23aijs) and [repo](https://github.com/syboxdigital/strapi-aws-s3)

[2022-08-09 10:38] chyke007 commented on #811
@dessireugarte @TiaraOluwanimi any updates on this. It's over 2 months since I submitted a draft.

[2022-08-09 12:26] PaulBratslavsky commented on #670
@Marktawa looks great, if you are happy with your draft we can move forward @TiaraOluwanimi

[2022-08-09 13:11] dessireugarte commented on #768
Your article is [live](https://strapi.io/blog/static-website-vs-dynamic-website) @Saintdavidking 🎉
Since you already submitted your invoice, you will get your payment soon. Feel free to reach out if you have any questions!

[2022-08-09 13:11] #768 closed

[2022-08-09 14:48] Marktawa commented on #834
Hi @dessireugarte

I want to update this tutorial if it's free.

[2022-08-09 16:39] Ksound22 opened #924 "[SUBMIT]"
**My resource**

# Article Proposal

## Title
How to Make a REST API With Strapi and Deploy It

## Description
An article that describes in detail how to make an API with Strapi and deploy it to Heroku.

Its an API containing African countries, their populations, capital cities, and currencies.

The article will also show how to consume the API in a React app.

## Outline
- Introduction
- Goals of

[2022-08-09 18:07] PaulBratslavsky commented on #589
@ath34-tech google is a great choice. You can start with the article.

[2022-08-10 07:24] dessireugarte commented on #847
Hello @Tammibriggs 👋

We just got contacted by Meilisearch and they are very pleased about the article you wrote. They are willing to promote on their side, but they shared these comments:
1. the article is showing v0.27.2 of Meilisearch, which is an old one as we're now they are at [v0.28.1](https://github.com/meilisearch/meilisearch/releases/tag/v0.28.1)
2. there is no search-as-you-type
3. They

[2022-08-10 10:59] Marienoir commented on #836
Hello @dessireugarte @TiaraOluwanimi
I have implemented the comments in the draft

[2022-08-10 11:15] ibn-ashimi commented on #628
@TiaraOluwanimi Any updates on this?

[2022-08-10 11:17] ibn-ashimi commented on #835
Hi @malgamves I haven't gotten this.

[2022-08-10 11:21] TiaraOluwanimi commented on #628
Hello, as I mentioned earlier [on the doc], it's reviewed and scheduled to be published in the coming weeks. Once it's done, @dessireugarte will let you know. Thanks

[2022-08-10 12:15] Marktawa opened #925 "[UPDATE] Build a News app using React.js, with i18n API in Strapi"
**My update**

Hello 👋

**Modifications**:  Make [this article](https://strapi.io/blog/build-a-news-app-using-react-js-with-i18n-api-in-strapi) Strapi v4 compatible.

### Task List
- [x] Initiate [project repo](https://github.com/Marktawa/newsapp)
- [x] Update article meta images
- [x] Create Dropbox paper draft
- [x] Update outline
- [x] Update prerequisites
- [x] Set up Strapi Backend
  - [x] Sc

[2022-08-10 15:10] oviecodes commented on #826
@dessireugarte what do you think about the outline?

[2022-08-10 18:02] PaulBratslavsky commented on #925
@Marktawa are looking to update this article? If so, you can go ahead.  Just let me know when you get started.

[2022-08-10 18:05] PaulBratslavsky commented on #924
@Ksound22  We already have some articles very similar to this. Are there are other topics that you were thinking of doing.

[2022-08-10 18:07] PaulBratslavsky commented on #923
Published.

[2022-08-10 18:07] #923 closed

[2022-08-10 18:08] PaulBratslavsky commented on #924
Another idea, you can write similar topic, just using React and Typescript, and chat about benefits of using Typescript on the front end.

[2022-08-10 18:09] PaulBratslavsky commented on #894
Closed for not providing a topic.

[2022-08-10 18:09] #894 closed

[2022-08-10 18:09] PaulBratslavsky commented on #910
Closing due to no topic provided.

[2022-08-10 18:09] #910 closed

[2022-08-10 19:56] amirtds commented on #558
Awesome thank you @dessireugarte I submit the invoice

[2022-08-10 20:25] Ksound22 commented on #924
I have another idea. And I'm sure it has not being done.

Let me send it's outline. And then we'll come back to this.

On Wed, Aug 10, 2022, 7:08 PM Paul Bratslavsky ***@***.***>
wrote:

[2022-08-10 20:25] Ksound22 commented on #924
I'm going to close this and create another one.

[2022-08-10 20:25] #924 closed

[2022-08-10 20:26] Ksound22 commented on #924
Thank you.

[2022-08-11 07:56] Tammibriggs commented on #847
Hi @dessireugarte,

Let me look into this and give you feedback.

[2022-08-11 08:59] Marktawa commented on #925
@PaulBratslavsky
I'm updating it.

[2022-08-11 10:25] olujerry commented on #911
Hello Paul, I want to know if I can continue with the article.

On Tue, Aug 2, 2022 at 2:26 PM Paul Bratslavsky ***@***.***>
wrote:

[2022-08-11 14:45] Dmuasya commented on #861
Hi, @PaulBratslavsky
Here is the link to the draft article [LINK ](https://www.dropbox.com/scl/fi/96fxn2w3tgksr3mx2684y/Final-Building-a-School-Website-with-Strapi-CMS-using-Vanilla-JS.paper?dl=0&rlkey=vve0m5ysn4rcejt29l8q88mcn)

[2022-08-11 18:13] digitaldesigndj opened #927 "How to Host Strapi with Zero Downtime Deploys"
How to host Strapi on ubuntu behind nginx as a proxy, with certbot for https. We deploy a test server and a flip flop strategy to enable zero downtime deployments.

Why? our eCommerce web-hook can fire at any time, and Strapi has to be ready for it.

* Hosting behind nginx is good, your node processes don't run as root. It also enables zero downtime deployments.
* We need a test instance, but it c

[2022-08-12 08:02] Sachin-chaurasiya commented on #770
@dessireugarte Here is the outline for the topic.

**Topic:**  **User Authentication with React and Strapi**

**Outline:**

- Introduction
    - About the topic
    - About the project that we will be building
- Setting up the development environment
- Creating a new strapi application
- Creating Collections
- Creating Relations between collections
- Creating React Application
- Installing require

[2022-08-12 08:42] Tammibriggs commented on #847
Hi @dessireugarte @malgamves @TiaraOluwanimi,

I have confirmed that with the upgrade of Meiliserach to v0.28.1 breaking changes have been introduced and indeed there is a missing import in the article that prevents the code from working. So how should I proceed to fix this?

Also, I don't get what you mean by there is no search-as-you-type. Is it that you want me to include that functionality?

[2022-08-12 09:17] FaithKovi commented on #813
@TiaraOluwanimi I have made the changes.

[2022-08-12 15:13] Umoren commented on #323
Hi @TiaraOluwanimi @PaulBratslavsky are they any updates on this article?

[2022-08-12 15:27] Ksound22 opened #929 "[SUBMIT]"
**My resource**

# Article Proposal

## Title
How to Make a Random Quote Generator with Strapi and React

## Description
An article on how to make a random quote generator with Strapi and React.

The quotes will be created with Strapi and React will be used to display the quotes and their authors on the frontend.

The app will have a button that shares a quote with Twitter.

## Outline
- Introduct

[2022-08-12 15:57] PaulBratslavsky commented on #929
@Ksound22 how were you thinking of handling getting a random quote.  I think for showcasing the use of Strapi it will be cool to do in on the Strapi side of thinks via a custom controller and route that will always return a random code rather then handling the logic on the front end.  Is that the way you were thinking of doing this.

[2022-08-12 16:06] PaulBratslavsky commented on #927
@digitaldesigndj this would be a cool article based on the steps that you mentions above. You can get started with it when you are ready.

[2022-08-12 16:10] PaulBratslavsky commented on #925
@Marktawa nice 🙂

[2022-08-12 16:13] PaulBratslavsky commented on #922
@zelief I like this idea, you can get started with this when you are ready. Thank you.

[2022-08-12 16:21] PaulBratslavsky commented on #635
@omarkhairy21 I agree with you, since it will be very similar.  I will make a note in that commit.

[2022-08-12 16:23] PaulBratslavsky commented on #918
This is similar to what @omarkhairy21 is working on already.

[2022-08-12 16:27] PaulBratslavsky commented on #916
@sparkle666 that is great.  I think this will be a cool article. Can you provide a brief outline before starting.

[2022-08-12 17:26] Ksound22 commented on #929
If you have a resource that can help me do it from Strapi, kindly send
it to me.

On Fri, Aug 12, 2022, 5:19 PM Kolade Chris ***@***.***> wrote:

[2022-08-12 21:37] IsaacThaJunior commented on #752
@dessireugarte Yes i did. My apologies for the late reply

[2022-08-14 01:57] HarcourtHamsa commented on #843
Hello @ShadaW11. Can I write on this?

[2022-08-14 05:09] sparkle666 commented on #916
@PaulBratslavsky
Below is the outline

1. Introduction  and prerequisites
2. Setting up Hardhat
3. Writing the contract
4. Testing the contract
5. Deploying contract to Alchemy
6. Setting up the front-end
7. Installing and setting up Strapi
8. Layering out the UI
9. Hooking up the contract
10. Conclusion

[2022-08-14 08:12] Sachin-chaurasiya commented on #770
@dessireugarte, Any update?

[2022-08-15 09:25] popoolatopzy commented on #903
Hi @dessireugarte, what is your view on the outline.

[2022-08-15 12:36] Marienoir commented on #844
Hello @dessireugarte 👋
This is the link to the updated content
https://www.dropbox.com/scl/fi/cjn933og7ljztpsw5oa0u/Auth0-Provider-and-Strapi-Tutorial.paper?dl=0&rlkey=89irepcrafe2ifkacw7ahtr54

[2022-08-16 04:03] lucky4242 commented on #877
Hello @Paul Bratslavsky
It's been almost 20 days since I submitted this draft and no response from
anyone yet
Here is the tutorial draft.
https://www.dropbox.com/scl/fi/hzngfijv2nvuic8u2czk2/Building-a-Job-Nina-with-Sapper-Strapi-v4-and-Netlify.paper?dl=0&rlkey=vj7dbeejjz1bkeoppaqtv61yn

And also a draft update to this tutorial.
https://www.dropbox.com/scl/fi/3gakpnm17do3m2vlh9sr1/Deploying-a-Stra

[2022-08-16 08:22] malgamves commented on #835
checking this for you :)) please text on Discord, I'm malgamves there too

[2022-08-16 08:26] malgamves commented on #847
Could you make the relevant changes to the original Dropbox Paper doc you used to write the first version of the article and then tag @TiaraOluwanimi when done?

Also, yes you would have to implement that functionality. Let us know if you have any other questions

[2022-08-16 09:32] Carl1990uk opened #931 "Strapi Comments Plugin"
**My Request**

Hello 👋
Is there any tutorial on implementing the strapi-plugin-comments ?
I have read the docs and it's not making much sense (I am new to Strapi)

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-08-16 10:05] malgamves commented on #546
hey @miracleonyenma the Nuxt team reached out to us and they would like to know if you can upgrade your article to use the [Nuxt Strapi module](https://strapi.nuxtjs.org/) so they can promote it. Let me know if that's possible

[2022-08-16 10:08] miracleonyenma commented on #546
Hey @malgamves 👋🏾

I think that's wonderful!
It's definitely possible. I would love to 🙌🏾

[2022-08-16 13:24] malgamves commented on #546
Awesome @miracleonyenma , could you make the relevant edits to the DropBox Paper and then tag @TiaraOluwanimi for a review after?

[2022-08-16 14:00] ibn-ashimi commented on #835
HI @malgamves This has been taken care of. Thanks a lot.

[2022-08-16 17:06] PaulBratslavsky commented on #844
@Marienoir this looks great, if you are happy with the draft I will submit it for review.🙂

[2022-08-16 17:19] PaulBratslavsky commented on #929
@Ksound22 you can use this as a reference.

https://docs.strapi.io/developer-docs/latest/development/backend-customization.html

Instead of having the logic on the front end, you showcased in your previous example you would do something similar inside a controller.

You would.

1.  Create a custom route get-random-quote
2. You would create a custom controller getRandomQuote
      - you would put y

[2022-08-16 17:35] Marienoir commented on #844
Hello @PaulBratslavsky
Yes, this update is okay with me.