[2021-09-13 10:32] philipszdavido commented on #447
@ShadaW11 Yes, I will do it.💯

[2021-09-13 12:05] ShadaW11 commented on #507
Hello @lawrenceagles thanks can you share with me the outline?

[2021-09-13 13:02] alloyking1 commented on #508
@ShadaW11 I added a description of the feature of the app.

[2021-09-14 08:59] ShadaW11 commented on #432
@zanasruth hello, i have added some comments. Please take a look once possible.

[2021-09-14 10:55] philipszdavido commented on #447
Hi @ShadaW11 I have updated the article, take a look.

[2021-09-14 18:35] oviecodes commented on #457
Hey, @ShadaW11 do I proceed with this article?

[2021-09-14 18:47] oviecodes commented on #456
Hey @ShadaW11 what's the update on this article.

[2021-09-14 18:50] oviecodes commented on #454
Hey @ShadaW11 what's the update in this article. Could I get started on it?

[2021-09-15 08:14] ShadaW11 commented on #231
Hello @Quadrisheriff your article has been published. Please go over the FAQ to issue and send us an invoice. Thank you so much loved the tutorial and the way the its divided.

[2021-09-15 11:39] ShadaW11 commented on #508
@alloyking1 please confirm that you commit to updating the tutorial after the V4 release without additional compensation. once you do, you can go ahead and start working on the article.

[2021-09-15 11:43] ShadaW11 commented on #506
Hello @octalpixel thank you for submitting the outline, it looks awesome. Could you please go over the guidelines mentioned within our FAQ section [here](https://strapi.io/write-for-the-community).
If you havent, please register your author details in the page above by filling the form.
Kindly confirm that all the above are clear for you. Note that you will be compensated for your article as menti

[2021-09-15 11:44] ShadaW11 commented on #505
Hello @Frank-dev20 awesome feel free to modify or suggest a new topic.

[2021-09-15 11:45] ShadaW11 commented on #495
Hello @philipszdavido once the other articles are done, feel free to ping me and we can discuss this outline.

[2021-09-15 11:46] ShadaW11 commented on #447
@philipszdavido thanks, @MattieBelt I hope the update covers the points you mentioned above?

[2021-09-15 11:48] ShadaW11 commented on #454
@oviecodes V4 release will be happening in 2 weeks, I would suggest waiting until then. You can suggest however other tutorials.

[2021-09-15 11:50] ShadaW11 commented on #457
This topic is put on hold until the V4 release @oviecodes

[2021-09-15 11:55] philipszdavido commented on #495
@ShadaW11  You mean when I am done writing other article?

[2021-09-15 12:03] alloyking1 commented on #508
yes, sure @ShadaW11.

[2021-09-15 12:06] ShadaW11 commented on #495
@philipszdavido yes exactly

[2021-09-15 12:08] daniloraisi opened #509 "[SUBMIT] Strapibnb - An Airbnb clone with Strapi"
**My resource**
This tutorial will show how to create an Airbnb clone using Strapi, NextJS, Algolia, Stripe, and Mapbox. It will be split into parts to become more readable.

***Outline - pt. 1***
  - Introduction
  - Setup
    - Strapi with Postgres using Docker
    - Algolia
    - Mapbox
    - Stripe
    - NextJS
  - Creating our content types
  - Seeding Strapi with the GraphQL API
  - What's n

[2021-09-15 12:09] ShadaW11 commented on #508
@alloyking1 please go ahead

[2021-09-15 13:12] philipszdavido commented on #447
@MattieBelt Thanks 💯💯

[2021-09-15 18:56] philipszdavido commented on #495
@ShadaW11 can I begin on this now?

[2021-09-16 06:04] octalpixel commented on #506
@ShadaW11  I have registered and also have read through the FAQ. Thanks for pointing me to them.

Also, I confirm that I will update any screenshot/code necessary when v4 is released.

[2021-09-16 08:47] ShadaW11 commented on #447
@philipszdavido awesome thank you. Will review the article and get back to you

[2021-09-16 09:33] ShadaW11 commented on #506
@octalpixel awesome please go ahead and get started working on it. im here if you have questions.

[2021-09-16 09:42] ShadaW11 commented on #509
Hello @daniloraisi thank you for submitting the outline, it looks awesome. Could you please go over the guidelines mentioned within our FAQ section [here.](https://strapi.io/write-for-the-community)
If you havent, please register your author details in the page above by filling the form.
Kindly confirm that all the above are clear for you. Note that you will be compensated for your article as ment

[2021-09-16 10:20] ShadaW11 commented on #495
@philipszdavido can you please elaborate more on how both Go & Strapi will integrate together.

[2021-09-16 10:51] philipszdavido commented on #495
The todo app will be a command-line app. We will create todos, view todos, delete and edit todos from the command-line. The Strapi is where the todos will be saved.

So developers will be able to learn how we can create collections in Strapi, and how the endpoints generated from the collections can be consumed from a command-line Go app.

[2021-09-16 12:00] ShadaW11 commented on #495
I still dont understand the link between using Go and Strapi. Could you
please elaborate more on how both will work together?

--

Shada Wehbe

Program Marketing Manager - Paris, France

Website <https://strapi.io/> | Get a demo <https://strapi.io/demo> | Roadmap
<https://portal.productboard.com/strapi/1-roadmap/tabs/2-under-consideration>

Before you go: Learn what is Strapi in just 3 minutes
<ht

[2021-09-16 12:21] philipszdavido commented on #495
OK. Like I said the app will be a command-line app. We will create a `todo` collection in Strapi and then use the Go `net/http` library to perform CRUD actions on the collections in Strapi.

We can run the Go app like this:

[code]

Then, in the terminal, we execute commands like `add todo {todo_data}`. This command will perform an HTTP request to our Strapi todo collections endpoint `http://local

[2021-09-16 16:51] daniloraisi commented on #509
Hi @ShadaW11, I'm already registered and agree with the guidelines.

I know that it's necessary to keep the article up-to-date due to V4. I'm completely open to that, and of course, without additional compensation.

[2021-09-16 18:07] oyedeletemitope opened #510 "[SUBMIT] Content Type And Endpoints"
Hello 👋

I'll like to write on this topic

Outline
Introduction
What are content types
Content type models
Installing strapi to create a review content type
Creating a review content type example
What are endpoints
Showing endpoints of our reviews content type
What are endpoints
Testing our endpoints using post man
Conclusion

The goal of this article is to enable users have full understanding abo

[2021-09-17 07:52] ShadaW11 commented on #509
@daniloraisi great, looking forward to reading your article

[2021-09-20 04:43] daacode commented on #441
Hi @ShadaW11, Kindly find attached the link to this first draft of this article. https://www.dropbox.com/scl/fi/a794lm1ll4zb7d26twb87/Strapi-Developer-intro-to-Core-Web-Vitals.paper?dl=0&rlkey=pl4lt1ohrdwsxxdm5dtejtrh0

Also sorry for the late reply.

[2021-09-20 04:45] daacode commented on #291
@ShadaW11 I will like to work on this.

[2021-09-20 04:49] daacode commented on #440
@ShadaW11 any update on this yet?

[2021-09-20 08:37] ShadaW11 commented on #440
@daacode we plan on posting the article this week (its still in review) feel free to suggest other topics if you are currently free.

[2021-09-20 08:38] ShadaW11 commented on #291
We published an article around Laravel and Strapi a few days ago; https://strapi.io/blog/strapi-and-laravel

I will close this topic. Feel free to suggest new ones.

[2021-09-20 08:38] #291 closed

[2021-09-20 20:39] zaracooper commented on #39
Hey @ShadaW11 . I was wrapping up this piece but I feel like it only touched on the Javascript-Markup part of Jamstack. I didn't touch on the open-source APIs available out there like Strapi.

I want to add a paragraph or two about it. Could I submit this before the end of the week instead of the 21st?

[2021-09-21 05:31] zanasruth commented on #432
Alright @ShadaW11. I will check them out

[2021-09-21 05:57] suri1997 opened #514 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-09-21 10:31] lawrenceagles commented on #507
- Introduction
- Prerequisite
- Setup Strapi
- Build collections
- Setup Nuxtjs project
- Add GraphQL support and setup Appollo client for Nuxtjs
- Build Job listing app
- Test run
- Conclusion

[2021-09-21 10:32] ShadaW11 commented on #39
Hey @zaracooper Yes, I prefer to have API covered in the piece, please feel free to send it in the next few days.

[2021-09-21 12:46] munne01 opened #516 "[ISSUE] Error in frontend"
**The concerning content**

https://strapi.io/blog/build-a-blog-with-vue-strapi-and-apollo
**Issue**
warning  in ./src/main.js

After following the full guide i get two errors in the frontend part of the code which says this
"WARNING  Compiled with 2 warnings14:11:46

 warning  in ./src/main.js

"export 'default' (imported as 'Vue') was not found in 'vue'

 warning  in ./src/main.js

"export 'defa

[2021-09-21 15:11] Eventyret opened #517 "[SUBMIT] How to work with Strapi,docker, Postgres and Dokku (Self hosting heroku)"
**My resource**

Hi everyone, so I noticed that Docker has been covered quite a few times but not with [Dokku](https://dokku.com/) (Think of dokku like your own Heroku, you can host it on Heroku you can host it yourself)

I wanted to make this possible into 3 parts.
- Part 1 covers setting up strapi from scratch, with SQLite (Now this has been ofc documented well before so my main focus would be P

[2021-09-21 15:55] philipszdavido commented on #495
@ShadaW11  Can I start with this?

[2021-09-21 16:21] ShadaW11 commented on #444
@ejirocodes your article is scheduled for posting, please check your email and fix the 404 issue asap.

[2021-09-21 16:27] ejirocodes commented on #444
Will do. Thanks @ShadaW11

[2021-09-21 17:46] Quadrisheriff opened #520 "Creating a photo gallery app with Strapi and 11ty"
**My resource**

Hi, I will like a create a new tutorial about creating a photo gallery website with Strapi and 11ty. I recently used 11ty in a project, and I really liked the framework. This is the outline for the tutorial.

Outline

- Introduction
- Prerequisites
- Backend Setup
    - Strapi Setup
    - Cloudinary installation and set up
    - Creating Photos collection type
    - Allowing Acces

[2021-09-21 17:46] zaracooper commented on #39
Awesome. Thank you so much for understanding @ShadaW11 .

[2021-09-22 04:41] skarthikeyan96 commented on #430
@ShadaW11 Can I pick this up , if this ticket is still open ?

[2021-09-22 10:08] zanasruth commented on #432
Hi @ShadaW11. I've made edits to the draft based on your comments. Sorry for the delay

[2021-09-22 11:34] ShadaW11 commented on #430
Hello @skarthikeyan96 yes, however I would advise you to make sure that the tutorial you'd like to create is not similar to content already existing in our blog or resource center. I would also like to note that we compensate all our writers. You can read more about the guidelines and our 'write for the community" program here https://strapi.io/write-for-the-community

Note that we will be releasi

[2021-09-22 11:40] ShadaW11 commented on #432
@zanasruth sure will take a look

[2021-09-22 11:47] ShadaW11 commented on #520
@Quadrisheriff I feel that the tutorial can include more features. Could you think about additional interesting features to be added in the tutorial?

[2021-09-22 12:11] ShadaW11 commented on #517
Hello @Eventyret Interesting outline, my only concern is that maybe some similar content exist in our resource center (documentation, blog) or online. Could you please take a quick look online through google search and make sure a similar article does not exist? Thank you.

[2021-09-22 12:15] ShadaW11 commented on #514
Hello @suri1997 what would you like to write about?

[2021-09-22 12:15] #514 closed

[2021-09-22 12:18] ShadaW11 commented on #510
hello @oyedeletemitope I believe the topic is clearly covered here https://strapi.io/documentation/user-docs/latest/content-types-builder/creating-new-content-type.html

Could you explain how your article will be different?

[2021-09-22 12:46] Eventyret commented on #517
Thanks for getting back to me @ShadaW11  i would say Part 1 is covered in docs, so that can be taken out. As it's just following the documentation.
The difference on Part 2 is most guides even documentation shows how to do this with `docker-compose` and also using the `strapi` docker image. This image is built from scratch using nodejs instead. So there is a difference meaning I believe a bit ligh

[2021-09-22 13:39] lawrenceagles commented on #507
Thanks, @ShadaW11.
I will do as you have said and update the outline accordingly.

[2021-09-22 15:11] jeangregoire2 opened #522 "Incomplete path in a tutorial"
**The concerning content**

Hi,
I was following your new « Build a static blog with Gatsby 4 and Strapi » tutorial here : https://strapi.io/blog/build-a-static-blog-with-gatsby-and-strapi

At some point when creating the individual articles, I had a problem saying basically that I my gatsby-node.js was trying to create a page in the components which caused an issue. After a bit of research on Gats

[2021-09-23 03:58] skarthikeyan96 commented on #430
@ShadaW11 Cool, Will research the strapi blog and post the outline for the topic by the End of the day.

[2021-09-23 08:38] ShadaW11 commented on #440
Hello @daacode your article has been posted. Please go over the guidelines to issue and send an invoice. Looking forward to your next article.

[2021-09-23 08:38] #440 closed

[2021-09-23 08:46] ShadaW11 commented on #489
Hello @bigpreshy your article has been published. Please review the FAQ to issue and send an invoice. Looking forward to more articles.

[2021-09-23 08:46] #489 closed

[2021-09-23 09:36] ejirocodes commented on #444
I've sent the invoice as requested @ShadaW11

[2021-09-23 12:18] Quadrisheriff commented on #520
Hi @ShadaW11 , I have updated the outline. You can check again now.

[2021-09-23 23:23] daacode commented on #440
On Thu, Sep 23, 2021 at 9:38 AM Shada ***@***.***> wrote:

I have sent the invoice.

[2021-09-24 07:53] zaracooper commented on #39
[Here's the draft](https://www.dropbox.com/scl/fi/eb0r4bsxcpcps5v2bepza/Draft-Beginner-s-Guide-to-Opensource-Jamstack.paper?dl=0&rlkey=qazw2ym51ugk586mird8ti6mf) @ShadaW11 . I shared it with you on Dropbox as well.

[2021-09-24 07:57] mwanikigeorge opened #523 "Please do a latest deployment on app engine [SUBMIT]"
**My resource**

**My content is**

- [x] A Strapi Tutorial / Guide / How to article
- [ ] About Headless, CMS, javascript, open source, or jamstack
- [ ] Other, specify

**What do you all think?**
❤️ I love it!
🚀 I can help you!

Thank you for submitting your article proposal.

[2021-09-24 09:40] ShadaW11 commented on #39
@zaracooper Thanks will get back to you asap

[2021-09-24 13:01] miracleonyenma commented on #215
Hey @Mcastres @ShadaW11
I'm really interested in writing an article on this topic.
I chose to go for a **corporate** website with Strapi. After doing some research, I've managed to come up with a detailed outline for the article.
It's on _Building a Corporate Design Agency site with NuxtJS and Strapi_.

I'll share my outline in my next comment and I'll be looking forward to hearing your feedback 😊

[2021-09-24 13:17] miracleonyenma commented on #215
# Title: Building a Corporate Design Agency site with NuxtJS and Strapi

## Introduction

For a while, most corporate sites have been built using a traditional CMS like WordPress or Drupal. These CMSes can be seen as “monolithic” as the frontend and backend are packed into one system. Headless CMSes like Strapi allow you to decouple the two and give you the freedom to choose however you want to bu

[2021-09-24 14:09] Victory-ET commented on #409
Hey @ShadaW11,
I would love to take on this topic.
Here's my outline:

# Topic: Building a Forum app with NextJs and Strapi

## Goals

In this tutorial, we will cover building a forum website and providing user authentication and authorization on the site.

## Prerequisite

To fully grasp this tutorial, knowledge of NextJs and Strapi is required.

## Outline

- Installing dependencies

- What is S

[2021-09-24 16:06] chyke007 opened #524 "Create a Temperature converter using NextJs, TailwindCss and Strapi"
My resource

Hi, I will like a create a new tutorial about creating a temperature converter website using Next JS, Tailwind and Strapi. This is the outline for the tutorial.

Outline

Introduction
Prerequisite
What is Next Js
What is Tailwind Css
What is Strapi JS
Scaffolding a Strapi Project
Building the Temperature collection
Scaffolding a NextJs project
Building NextJs Components
Seeding Strapi

[2021-09-25 16:06] oyedeletemitope commented on #510
Since it's covered. How about writing on how to create a rating app with react and strapi

[2021-09-27 08:53] ShadaW11 commented on #520
Hello @Quadrisheriff looks good, I would suggest that you start working on it after the release of the V4 (after 2/3 days) so the app is already V4 updated. okay?

[2021-09-27 09:04] ShadaW11 commented on #510
Hello @oyedeletemitope I like the idea, please send a detailed outline and we can discuss it further

[2021-09-27 10:53] ShadaW11 commented on #435
Hello @dillionmegida your article is published, please check our FAQ to issue and send an invoice. Looking forward to your second article.

[2021-09-27 10:53] #435 closed

[2021-09-27 10:56] dillionmegida commented on #435
Thank you @ShadaW11 :)

[2021-09-27 12:53] ShadaW11 commented on #215
Hello @miracleonyenma thank you for the outline, could you mention some of the features that the website will include?

[2021-09-27 13:19] ShadaW11 commented on #474
@olawanlejoel great ill keep the issue open.

[2021-09-27 13:24] ShadaW11 commented on #524
Hello @chyke007 love the idea, however the V4 beta will be out in a few days. Lets wait until next week and we will then check if its possible to work on the article.

[2021-09-27 13:52] chyke007 commented on #524
Ok @ShadaW11 Would wait then, thanks

[2021-09-27 16:04] miracleonyenma commented on #215
Hey @ShadaW11,
Thanks for the reply.
Some of the features the website will include are:
- A collection of agency projects or works: containing images and a brief case study
- A collection of blog posts/articles
- A contact form where visitors can submit their name, email and project details to the agency

I feel these are good enough for the article, I'm open to suggestions though. 😊
Thanks.

[2021-09-28 03:00] oyedeletemitope commented on #510
Hello @ShadaW11 ,Here's my outline:
**Introduction**
**What is strapi**
**What is react Js**
**Requirements**
**Setting up our strapi backend**
- Creating collections
**Building the react app**
- consume the api
- read all the ratings
- create ratings
**Conclusion**

Tools I'll be using to write : google docs or Dropbox,garammarly, VSCode.

[2021-09-28 05:31] olawanlejoel commented on #474
@ShadaW11 , the reason I closed it was my pitch was not really clear and I would prefer I work on another tutorial so it can be streamlined towards PWA as the topic says. I would prefer to pitch something different and keep pwa in mind.

something like building a photo gallery then making the app a progressive web app

[2021-09-28 08:34] MattieBelt commented on #523
Hey @mwanikigeorge, there already exists an tutorial on how to deploy on G App Engine, take a look at the docs: https://strapi.io/documentation/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/google-app-engine.html

[2021-09-28 08:48] #474 closed

[2021-09-28 09:37] philipszdavido commented on #495
@ShadaW11 I am just checking on your status with this.

[2021-09-28 12:49] AsaoluElijah opened #525 "User authentication with Nuxt.js and strapi"
I'll love to write a comprehensive article on how to build a user authentication system with nuxt.js and strapi.
This will cover the step by step process of integrating signup, login, and forgotten password features in a nuxt.js application, using strapi as backend.

### Outline
Introduction
Prerequisite
Setting up a new nuxt.js application
Setting up a new strapi application
Scalfolding the front

[2021-09-28 13:18] ShadaW11 commented on #447
Hello @philippkhon your article has been published, thank you.

[2021-09-28 13:18] #447 closed

[2021-09-28 13:29] ShadaW11 commented on #441
Hello @daacode our reviewer has left some comments on your article

[2021-09-28 13:38] philipszdavido commented on #495
@ShadaW11 Can I now start with this?

[2021-09-29 16:44] amirtds opened #526 "How to auto populate data in Strapi using Python and Graphql"
**My resource**

In one of the recent projects I had to create 20 different records in Strapi and I had a JSON file of those records. I didn't want to go to Strapi Dashboard and create one by one those records, So I created a Strapi client that is written in Python and uses GraphQL to created all the records in the JSON file automatically in Strapi.

![strapi_gql_client_hidden](https://user-images

[2021-09-30 00:09] daacode commented on #25
@ShadaW11 can I pick up this topic.

[2021-09-30 00:10] daacode commented on #441
@ShadaW11 I will check it out and address it soon.

[2021-09-30 09:42] skarthikeyan96 commented on #430
Sorry about the delay

Title: How to build a e-commerce website using Nextjs, Chakra ui , Strapi & Stripe

[code]

[2021-09-30 17:18] derrickmehaffy commented on #259
This issue has been mentioned on **Strapi Community Forum**. There might be relevant details there:

https://forum.strapi.io/t/arror-400-strapi-provider-email-smtp-and-login/11661/1

[2021-10-01 09:32] zaracooper commented on #39
Hey @ShadaW11. Did you get a chance to look at the piece?

[2021-10-01 09:40] ShadaW11 commented on #39
Hey @zaracooper apologies for the delay. I will get back to you hopefully this week.

[2021-10-01 10:09] zaracooper commented on #39
No problem. Thank you.

[2021-10-01 10:17] derrickmehaffy commented on #259
This issue has been mentioned on **Strapi Community Forum**. There might be relevant details there:

https://forum.strapi.io/t/error-400-in-strapi-provider-email-smtp-and-login/11673/1

[2021-10-01 12:15] ShadaW11 commented on #506
Any update? @octalpixel

[2021-10-03 15:48] osorvr commented on #354
@purnimagupta I need a tutorial or blog that can demonstrate that incase you know a link.

[2021-10-03 18:12] zaracooper commented on #354
Hey @ShadaW11 . If this is still a worthwhile topic, could I take it on?

[2021-10-04 03:38] zanasruth commented on #432
Hi @ShadaW11. Is there any progress with the article? Please let me know. Thank you.

[2021-10-04 07:43] ShadaW11 commented on #432
@zanasruth thank you for working on the article. The edits look great. The article will be posted soon.

[2021-10-04 07:43] ShadaW11 commented on #441
@daacode any update?

[2021-10-04 07:46] ShadaW11 commented on #526
Hello @amirtds interesting, could you expend more on the product you plan on creating?

[2021-10-04 07:47] ShadaW11 commented on #526
Also, please note that you will have to update the article with the new V4

[2021-10-04 07:52] ShadaW11 commented on #520
@Quadrisheriff please update the outline so I can approve it.

[2021-10-04 07:58] ShadaW11 commented on #525
Hello @AsaoluElijah thank you for submitting an outline. However we already have some similar articles on our blog here https://strapi.io/blog Feel free to suggest other articles.

[2021-10-04 07:58] #525 closed

[2021-10-04 07:59] ShadaW11 commented on #524
Hello @chyke007 the V4 beta has been released. Please let me know if you would be able to start working on the article?

[2021-10-04 07:59] ShadaW11 commented on #523
@MattieBelt thank youuuu.

[2021-10-04 07:59] #523 closed

[2021-10-04 08:14] ShadaW11 commented on #517
Hello @Eventyret apologies for the delay. And thank you for expanding on the above outline. I now see the difference which I would suggest - adding additional elements to the article to have a unique value that cannot be found in other articles. Please note that we compensate for all articles published on our blog. You can check the details here in the FAQ section (payment, guidelines... https://s

[2021-10-04 08:15] ShadaW11 commented on #522
Hello @jeangregoire2 thank you, this blog post will be updated soon after the V4 release.

[2021-10-04 08:15] #522 closed

[2021-10-04 08:20] ShadaW11 commented on #516
Hello @munne01 this blog post will be updated after the V4 release. thank you for bringing our attention to this.

[2021-10-04 08:20] #516 closed

[2021-10-04 08:23] ShadaW11 commented on #510
Hello @oyedeletemitope can you please expand in your outline on the features of the rating app? how will the app do? the first sections from Intro to setting strapi backend should take a small part of the tutorial as it already exists. Please expand more on the other part - what will the app do, what tech stack will app use, add features to the app.

Also if this is your first article, you have to

[2021-10-04 08:28] ShadaW11 commented on #354
Hey @zaracooper yes, would you please submit an outline?

[2021-10-04 08:37] zaracooper commented on #354
Sure. I'll have one before the end of tomorrow. Thank you, @ShadaW11 .

[2021-10-04 08:44] ShadaW11 commented on #509
@daniloraisi any update on your article?

[2021-10-04 08:44] ShadaW11 commented on #508
@alloyking1 any update on the article?

[2021-10-04 08:45] chyke007 commented on #524
Yes @ShadaW11 I would love to commence work now.

[2021-10-04 08:51] ShadaW11 commented on #39
Hey @zaracooper your article has been reviewed. Could you please check the comments

[2021-10-04 08:53] ShadaW11 commented on #524
awesome @chyke007 however, the new beta V4 release does not include the design system so any screenshots used in the article should be updated at the of the month without additional compensation. do you agree to that?

- If this is your first article, please register here https://strapi.io/write-for-the-community
Then go over the guidelines (payment, how to submit and article guidelines)

[2021-10-04 08:55] ShadaW11 commented on #520
@Quadrisheriff Do you commit to updating the screenshots at the end of the month once the final V4 is released without additional compensation. If yes, please confirm and go ahead and start working on it.

[2021-10-04 08:57] ShadaW11 commented on #507
hello @lawrenceagles I mean could you explain what the application will do? list jobs, create ones? ....

[2021-10-04 08:58] #505 closed

[2021-10-04 08:58] chyke007 commented on #524
Yes, it is my first time and I have registered already, however I don't understand what you mean by design system here.

[2021-10-04 08:59] #452 closed

[2021-10-04 09:00] ShadaW11 commented on #430
Hello @skarthikeyan96 would the tutorial include bulk upload of products?

[2021-10-04 09:02] ShadaW11 commented on #431
Hello @dpkreativ any update? apologies for pushing you but your payment is still on hold until the article is updated.

[2021-10-04 09:03] ShadaW11 commented on #524
Please check out the V4 discussion on Discord. The design system of strapi
is still not released with the beta V4. So screenshots should be updated
after the V4.

--

Shada Wehbe

Program Marketing Manager - Paris, France

Website <https://strapi.io/> | Get a demo <https://strapi.io/demo> | Roadmap
<https://portal.productboard.com/strapi/1-roadmap/tabs/2-under-consideration>

Before you go: Learn

[2021-10-04 09:08] zaracooper commented on #39
Ok @ShadaW11 . Making the changes now.

[2021-10-04 09:11] Eventyret commented on #517
I'm happy to go a free guest post. Wanted to make a post not really get anything for it 😊😉

[2021-10-04 09:18] Quadrisheriff commented on #520
Yes, I confirm

[2021-10-04 09:18] ShadaW11 commented on #517
@Eventyret awesome, go for it and thank youuu

[2021-10-04 09:19] ShadaW11 commented on #520
Awesome, please feel free to go ahead.

[2021-10-04 09:59] dpkreativ commented on #431
Hi @ShadaW11 we just recently concluded exams in my school so that has been my focus these past few weeks. I understand why the payment is on hold and I'll do my best to update the article this month. Thanks

[2021-10-04 10:07] zaracooper commented on #39
Hey @ShadaW11 . I'm done with the changes but I had one question on a comment that was not clear.

[2021-10-04 10:19] alloyking1 commented on #508
Yes. The article is about 80% done. I’ll send a draft once it’s complete

On Mon, Oct 4, 2021 at 9:44 AM Shada ***@***.***> wrote:

[2021-10-04 10:23] zanasruth commented on #432
I'm happy to hear that @ShadaW11. Thank you

[2021-10-04 11:05] MattieBelt commented on #39
Hey @zaracooper,

I just elaborated by comment, changes looks great, thanks for writing this article!

[2021-10-04 11:11] zaracooper commented on #39
Thanks, @MattieBelt . @ShadaW11, I'm done addressing the comments.

[2021-10-04 12:54] ShadaW11 commented on #39
@zaracooper thank you, your article will be published soon

[2021-10-04 13:07] daniloraisi commented on #509
@ShadaW11 I'm finishing grammar check with Grammarly. After that, I'll submit it for review.

[2021-10-04 18:41] skarthikeyan96 commented on #430
@ShadaW11 Do you mean adding the products data as JSON  or CSV to the strapi admin ?

[2021-10-04 20:48] amirtds commented on #526
Thanks @ShadaW11 for review this request. I updated the outline, added `Develop a Next.js application that autopopulates JSON file in Strapi`
Agree, the article will use the v4

[2021-10-04 21:33] rxcption commented on #509
@ShadaW11, the article is ready. How to proceed?

[2021-10-04 22:49] uma-victor1 commented on #469
Hi @ShadaW11

I am done with the article.

Here is [the final draft](https://www.dropbox.com/scl/fi/nemnt0s8ai9gobi5pnnq5/SP-Setting-up-a-Nuxt-app-with-Strapi-Using-Graphql-Building-an-Event-App.paper?dl=0&rlkey=x6rhpjk4oyyxa5bw1howyi6z9):

Regards.

[2021-10-05 01:46] octalpixel commented on #506
Hey @ShadaW11  , yep will give you and update end of the week.

[2021-10-05 08:52] ShadaW11 commented on #432
hello @zanasruth your article has been published, feel free to issue and send us an invoice. Please check the FAQ section in the link here for guidelines. https://strapi.io/write-for-the-community

[2021-10-05 08:52] #432 closed

[2021-10-05 08:54] ShadaW11 commented on #509
@daniloraisi please add a link here to your article

[2021-10-05 13:21] zanasruth commented on #432
Alright. Thank you @ShadaW11

[2021-10-05 14:00] daniloraisi commented on #509
@ShadaW11, here it is!

https://www.dropbox.com/scl/fi/cqqlykt86goeaaizgcgj8/Strapibnb-An-Airbnb-clone-with-Strapi-pt.-1.paper?dl=0&rlkey=rmxqmypx0rlrm4z001jjmm270

[2021-10-05 14:30] Quadrisheriff commented on #520
Hi @ShadaW11 , the tutorial is complete - https://www.dropbox.com/scl/fi/yq0erwtgx6m33924ovauy/Building-a-Photogallery-app-with-Strapi-Eleventy-Tailwind-CSS-and-Cloudinary.paper?dl=0&rlkey=0ozsaqey8iejy0c58yrq9trm7

[2021-10-05 14:32] zaracooper commented on #354
Hey @ShadaW11. Here's the outline.

---

**Title:** _Build an Editorial Website with Vanilla JS and Strapi_

**Outline:**
1. Project introduction
    - Explain what an editorial website is
    - Explain how Strapi can support editorial organizations
    - Breakdown the project
2. Setting up the Strapi server
3. Creating article content types
4. Public roles setup on Strapi
5. Adding test data
6. C

[2021-10-06 11:11] ShadaW11 commented on #409
Hey @Victory-ET Outline looks good, can you please register here https://strapi.io/write-for-the-community and then please go over the guidelines prior to writing your article. one last thing, I suggest waiting until the final v4 release is out (in around 20 days) to write the article.

[2021-10-06 11:15] ShadaW11 commented on #526
Hey @amirtds our reviewer went over your outline and suggested that you take a look at this video  https://www.youtube.com/watch?v=DpR7NvJ2cAA and suggested that it is better done with a custom function in Strapi which uses the internal services and also JS instead of Python. I believe the article is useful but will not be rich enough to be posted on our blog. If you have it written already as a s

[2021-10-06 11:18] ShadaW11 commented on #39
@zaracooper your article was published. Feel free to issue an invoice. Thank you

[2021-10-06 11:18] #39 closed

[2021-10-07 09:29] ShadaW11 commented on #215
Hello @miracleonyenma thank you for the above. Looks good. If this is your first article, please register here https://strapi.io/write-for-the-community. Then go over the guidelines (payment, how to submit and article guidelines)

Please note that a new version of Strapi will be released in the next few weeks. Therefore, you can wait one month to use the new strapi and work on this article. Or you

[2021-10-07 09:33] ShadaW11 commented on #520
Thank you @Quadrisheriff will get back to you soon.

[2021-10-07 09:43] chyke007 commented on #524
Yes I have read about v4. I would commence work next week on this

[2021-10-07 09:56] ShadaW11 commented on #465
Hey @amirtds maybe you can work on this article?

[2021-10-07 10:44] ShadaW11 commented on #524
@chyke007 perfect go ahead. thank you.

[2021-10-07 20:02] philipszdavido opened #531 "Build an e-commerce site using Strapi, Snipcart and Nextjs"
This article will demo how to create an e-commerce site using Next.js, manage the cart and checkout using Snipcart and fetch and store the products on a Strapi backend.

## Outline

- Introduction
- What is Strapi?
- Managing cart using Snipcart
- Setting up Strapi app
- Creating Products collection
- Setting up Nextjs
- Adding Snipcart lib
- Building our cart
- Testing
- Conclusion

- [x] A Strap

[2021-10-08 00:54] Code-Kat commented on #304
@ShadaW11 Sorry work has been pretty busy. I guess I might just end up using V4 from the start. Sorry about the delay!

[2021-10-08 13:35] ShadaW11 commented on #469
@uma-victor1 our reviewer left feedback on your article. please check. thank you

[2021-10-08 15:52] uma-victor1 commented on #469
@ShadaW11 I'll check it out thanks.

[2021-10-08 18:36] vcoisne opened #532 "[Request New Content] Advantages of using a Next.js + Strapi vs plain React + Strapi"
**My Request**

People who are new to Headless CMS, Jamstack types of development might wonder: Are there significant advantages of using a Next.js + Strapi vs just a React + Strapi?

Meta-frameworks like Next or Nuxt leave less room for decision making which sometimes cripples developers as using something like React and Vue means you have to pick tools for routing, state management and authentic

[2021-10-08 22:29] amirtds commented on #526
Hi @ShadaW11 The video is great, I wasn't aware of that. Sounds good, We can close this ticket and when I create a short tutorial I reach out to you for featuring it in social media.

[2021-10-08 23:42] amirtds commented on #465
Hi @ShadaW11 Absolutely, I can start working on this article.

[2021-10-09 02:32] oyedeletemitope commented on #510
The app will contain a name area, star rating icons, review area. the app will store star rating and feedbacks(reviews) and save them to our backend which is strapi. the reviews can also be displayed on the page. sorry for the late reply. I'm a new writer but registered already.

[2021-10-09 11:32] Victory-ET commented on #409
Hi @ShadaW11,

Thanks a lot for the feedback. I will get started as soon as v4 is released. I'm looking forward to it.

[2021-10-11 08:36] #531 closed

[2021-10-11 08:41] Eventyret commented on #517
Will do, will take a few weeks i think

[2021-10-11 08:41] ShadaW11 commented on #510
Hey @oyedeletemitope sounds good, please go ahead and start working on the article. please make sure to use the dropbox template added in the guidelines  https://strapi.io/write-for-the-community when working on your article.

[2021-10-11 08:45] ShadaW11 commented on #475
Hey @suhailkakar no worries at all. Looking forward to receiving it. Feel free to ping me whenever its ready.

[2021-10-11 09:13] ShadaW11 commented on #441
Hello @daacode any update on the article?

[2021-10-11 09:17] ShadaW11 commented on #409
Hey @Victory-ET can you start working on the article right away?

[2021-10-11 10:15] ShadaW11 commented on #25
Hey @boazpoolman I was thinking if you could document your work while working on the plugin. it would be awesome to showcase your experience building a strapi plugin.

[2021-10-11 10:25] ShadaW11 opened #533 "[Request New Content] Build a News Aggregator Site"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-10-11 10:27] MelvinManni commented on #289
@ShadaW11 Alright, I’ll start working on that.

[2021-10-11 10:36] ShadaW11 commented on #354
Hey @zaracooper please go ahead

[2021-10-11 11:39] Umoren commented on #323
Alright thanks

[2021-10-12 05:36] prakash507979 commented on #35
Thanks for the reply. Sure I will expand point 7. As I am new to this Community.
Please let me know how to submit the article once it's done.

[2021-10-12 09:23] daacode commented on #441
Hi @ShadaW11 kindly find attached below a link to the updated article.
https://www.dropbox.com/scl/fi/a794lm1ll4zb7d26twb87/Strapi-Developer-intro-to-Core-Web-Vitals.paper?dl=0&rlkey=qeh5rarav4qtk4quoi3w2f269

[2021-10-13 00:07] Code-Kat commented on #304
I'll do my best to have it ready by the end of the month.

[2021-10-13 08:29] ShadaW11 commented on #304
Awesome, looking forward to reading your article @Code-Kat

[2021-10-13 09:59] ShadaW11 opened #534 "[Request New Content] Serve different content based on user data/membership - Strapi Tutorial"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-10-14 06:14] suhailkakar commented on #475
Hi @ShadaW11 , I would like to change my article title/topic.

Is it fine?

Thanks

[2021-10-14 10:25] ShadaW11 opened #535 "[Request New Content] x Reasons Why Developers Should Use an API CMS"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-10-14 10:29] ShadaW11 opened #536 "[Request New Content] X things to consider before choosing a CMS for your online ecommerce store"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-10-14 14:39] Caleb335 commented on #536
Hi, I'd love to work on this.

What do I need to know?

[2021-10-14 19:15] prakash507979 commented on #35
I Started working on it, soon I will share the final draft.

[2021-10-14 22:55] icode247 commented on #533
Hello @ShadaW11
Has this topic been taken? I can write on this topic

[2021-10-14 22:55] icode247 commented on #533
Hello @ShadaW11
Has this topic been taken? I can write on this topic

[2021-10-15 06:39] ravgeetdhillon commented on #533
Hey @ShadaW11 ,

Pitch:

This tutorial will help the readers to build a news aggregator app with Strapi and Nuxt.js. The news will be aggregated from different feeds and update in the Strapi News Collection. News aggregation will be automated using a CRON job which will run every 1 hour and fetch new feed items.

Here is the outline for the article:

[code]

Let me know if this is okay with you. T

[2021-10-15 13:31] ShadaW11 commented on #441
hey @daacode could you please check the comments?

[2021-10-15 15:47] daacode commented on #441
Hi Strapi/Community-Content,

I will address the comments soon.

Thanks,
David

On Fri, Oct 15, 2021 at 2:31 PM Shada ***@***.***> wrote:

[2021-10-16 05:23] ravgeetdhillon commented on #533
Hey @ShadaW11, Perfect I'll add these things as well. One more thing. Is there any deadline that I need to follow?

[2021-10-16 12:07] philipszdavido opened #537 "[SUBMIT] Build a TikTok Social Network clone using Strapi"
This tutorial will entail teaching the audience how to build a TikTok social network app with Strapi and Nextjs

This article will teach the audience:

- How to use audio/video feed in a browser.
- How to create collection and relations in Strapi
- How to upload multi-content to Strapi.
- How to construct a user feed on Strapi
- How to add the following/followers feature every social media has.
-

[2021-10-17 08:53] sumitkharche opened #538 "[SUBMIT] How to Build a Blog using Blazor WASM and Strapi"
**My resource**

Hello 👋
I'll like to write on this topic.

 - **Title**: How to Build a Blog using Blazor WASM and Strapi
- **Short Description**: In this article, I'm going to show you how to create a simple but blazing fast blog using [Blazor WebAssembly](https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor), [Tailwind CSS](https://tailwindcss.com/), and [Strapi](https://strapi.io/). We wil

[2021-10-17 08:54] sumitkharche commented on #538
What do you think on this article request? @ShadaW11
If it will approve then I can immediately work on it and finish it asap.

[2021-10-17 09:24] suhailkakar commented on #475
@ShadaW11 Ya sure, just give me some time, I am going to prepare the outline and let you know

[2021-10-17 21:57] Vic-Orlands commented on #536
Hi @ShadaW11 if this article is still available, I would love to write about it. I will send an outline immediately if confirmed.

[2021-10-18 10:19] sumitkharche commented on #538
@ShadaW11 Thank you for approving this topic.
I will do the above mentioned steps.

[2021-10-18 10:19] ShadaW11 commented on #533
Hello @icode247 thank you but maybe you can focus on other articles.

[2021-10-18 10:48] ShadaW11 commented on #508
Hello @alloyking1 any update?

[2021-10-18 10:58] ShadaW11 commented on #430
@skarthikeyan96 how's the progress?

[2021-10-18 10:59] suhailkakar commented on #475
Okay sure
Thanks!

[2021-10-18 12:52] ShadaW11 commented on #215
Hey @miracleonyenma yes no worries no need to use the V4.

[2021-10-19 00:23] chyke007 commented on #524
Hi @ShadaW11 I have shared my draft with you

[2021-10-19 01:25] amirtds commented on #465
Hi @ShadaW11 I prepared the draft [here](https://www.dropbox.com/scl/fi/rb1kv1nfsjczxug6rtl1s/Publish-blog-post-from-Strapi-to-Multiple-Platforms.paper?dl=0&rlkey=w43gexul78clozpvob9payo6k). I'm going to make some minor changes tomorrow, should be ready for your review.

[2021-10-19 02:10] lawrenceagles commented on #507
Yes, @ShadaW11. I have seen your update and I will cover your dates in the tutorial. Please is there anything else I need to do before I start writing on this?

[2021-10-19 08:57] ShadaW11 commented on #465
Hey @amirtds perfect. I will have someone from our team review the article.

[2021-10-19 10:14] willnode opened #539 "[SUBMIT] Using Database Transactions to safely write custom business logic in Strapi"
**My resource**
Hi, I am willing to create a guide to use database transactions which are important when writing custom business logic. It uses a (possibly) undocumented feature in the underlying query system in Strapi. It may take longer to write. Anyway, this is the outline for the tutorial:

**Outline**

Introduction
Prerequisite
Why Database Transaction?
How Strapi Handles Database
Writing Cus

[2021-10-19 12:59] daacode commented on #441
Hi, @ShadaW11 I have addressed all the comments in the article.

[2021-10-19 15:17] ShadaW11 commented on #441
@daacode thank you
@MattieBelt will check your comments and get back to you.

[2021-10-20 12:40] ShadaW11 commented on #534
Hello @icode247  Can you please explain in short what is the use case? what will you build? what are the different membership levels of this app? Im not sure I understand well. thanks

[2021-10-20 20:40] lawrenceagles commented on #507
Thanks @ShadaW11

[2021-10-21 00:08] willnode commented on #539
+ Thanks, without MongoDB it will be easier to write actually.
+ For in-depth explanation I will explain by transferring user balance to another. That won't be the only example though.
+ Yes, I use transactions right in one of my projects which also uses Strapi.

[2021-10-21 00:11] willnode commented on #539
I have updated the outline.

[2021-10-21 18:41] amirtds commented on #465
@ShadaW11 The doc should be ready for review. Seems no project assigned to this issue
![Screen Shot 2021-10-21 at 13 40 20](https://user-images.githubusercontent.com/5863396/138337503-f8e6a3c9-b7ea-4930-ac62-9d4b280c8131.png)
I can't see it in the project under `in progress` or `in review` feel free to assign the `Write for the Community Program` project to this issue. Thank you

[2021-10-21 23:15] Maxiggle opened #540 "[SUBMIT] Create, Retrieve, Update and Delete (CRUD) application using Flutter and Strapi"
**My resources**

## Overview
In this tutorial, we will learn how to build a Create, Retrieve, Update and Delete (CRUD) application using Flutter and Strapi. We will call End-points provided to us by Strapi using the HTTP package in our app.
We will build screens where different operations will take place like adding/creating a new user, Retrieve User data, Updating user data, and Deleting data.

[2021-10-22 12:03] oyedeletemitope opened #541 "[SUBMIT] 5 Features A Headless CMS must have"
**I'll like to write on this**

Here is my outline

Introduction
What is an headless CMS
Choosing a headless CMS over a traditional CMS
5 Features A CMS must have
Conclusion

**What do you all think?**
❤️ I love it!
🚀 I can help you!

Thank you for submitting your article proposal.

[2021-10-27 07:44] #520 closed, assigned to Quadrisheriff

[2021-10-27 22:45] lucky4242 opened #542 "Build a Trello clone with React and Strapi"
I would like to write an article on how to build a drag and drop task management platform (like trello, and github board) with react and strapi.

Below is my outline

### Outline

Introduction
Prerequisite
Creating a new react app
What is strapi
Scalfolding a new strapi project
Building tasks collection on strapi
Building the front-end
Connecting front-end to strapi
Testing app
Conclusion

**My co

[2021-10-28 13:15] chyke007 opened #543 "Create a ChatBot Assistant using NextJs, TailwindCss and Strapi"
My resource

Hi, I will like a create a new tutorial about creating a Chat Bot Assistant using Next JS, Tailwind and Strapi. This is the outline for the tutorial.

Outline

Introduction
Prerequisite
What is Next Js
What is Tailwind Css
What is Strapi JS
Scaffolding a Strapi Project
Building the Bot collection
Scaffolding a NextJs project
Building NextJs Components
Seeding Strapi
Allowing Public ac

[2021-10-30 07:45] Vic-Orlands commented on #536
@ShadaW11 any update on the article

[2021-10-31 01:45] derrickmehaffy commented on #241
@ShadaW11 It's best to just place this on hold and I plan to work with the documentation team after v4 release to refactor our existing documentation for AWS deployment. (This goes for all deployment guides, best to just wait til after v4)

[2021-10-31 07:49] zaracooper commented on #354
Hey @ShadaW11 . [Here's the draft.](https://www.dropbox.com/scl/fi/eywfezr9r21rbffkctal6/%5BDraft%5D-Build-an-Editorial-Website-with-vanilla-JavaScript-and-Strapi.paper?dl=0&rlkey=nelbdlblnpojhtwxmdw8squif)

[2021-10-31 08:57] sumitkharche commented on #538
@ShadaW11 Is there any updates from reviewer on this article.

[2021-10-31 12:30] Victory-ET commented on #409
Hi @ShadaW11,

I'm done with the article. Here is a link to it: https://www.dropbox.com/scl/fi/1tz75onvqjdkvozist1xh/How-to-Build-a-Forum-App-with-NextJs-and-Strapi-CMS.paper?dl=0&rlkey=1n5kaazcahi15w8qo5xvu2k1b

[2021-11-01 07:31] ghost opened #544 "[UPDATE OUTDATED CONTENT] Deliveroo clone tutorial"
**Description**

Hello 👋

This is about a [series of 7 tutorials](https://strapi.io/blog/strapi-next-setup).
While some of the articles have been updated, the [repo](https://github.com/ryanbelke/strapi-next) is out of date. It hasn't been touched in 3 years.

The [final tutorial](https://strapi.io/blog/strapi-next-deploy) mentions that it was updated in 2021, but it doesn't look like it did. It st

[2021-11-01 11:41] ravgeetdhillon commented on #533
Hey @ShadaW11, I have written the tutorial.

Here is the [Dropbox link](https://paper.dropbox.com/doc/Build-a-News-Aggregator-App-using-Strapi-and-Nuxtjs--BVUuocM8ZLDWvbSIWAGgoqJoAQ-tlbSgZBOYsGDgokm0vjfu).

Let me know about any edits. I would be happy to assist.

Thanks.

[2021-11-02 11:03] zeppaman opened #545 "[SUBMIT] Tutorial: how to setup and use Strapi for store your app's logs"
In most application scenarios, a frontend application produce logs that need to be collected and managed centrally. Most of the services required paid subscriptions. This article explains how to set up Strapi to act as a backend for collecting logging and showing them to the developers. The result of this step to step guide is a replicable solution for ingesting logs from any frontend application

[2021-11-02 12:13] ShadaW11 commented on #535
Hello @popoolatopzy your article is great and has been published on our blog. Please go ahead and issue an invoice. Best.

[2021-11-02 12:13] #535 closed

[2021-11-02 12:22] ShadaW11 commented on #544
Hello @alvinometric thank you for bringing this to our attention. I will make sure to include this in the articles to be updated with V4 as soon as possible. Thank you again. I will keep the issue open and will let you know once the content is updated.

[2021-11-02 12:27] miracleonyenma commented on #215
Hey @ShadaW11,
I'm done with the article draft 😊.
You can check it out here - https://www.dropbox.com/scl/fi/t1nzd1xhq4ypmbexbh2sn/How-to-build-a-Corporate-Design-Agency-site-with-NuxtJS-and-Strapi.paper?dl=0&rlkey=ytovb3idn94c5r4wmfxygektk

Thanks for being patient, I'll be expecting your feedback.

[2021-11-02 12:33] ShadaW11 commented on #542
Hello @lucky4242 great please go ahead and start working on it.

[2021-11-02 12:36] ShadaW11 commented on #541
Hello @oyedeletemitope we have already published many articles around this subject such as:
  https://strapi.io/blog/traditional-vs-headless-cms-a-comparison
and this https://strapi.io/blog/how-to-choose-a-headless-cms I would suggest pitching another article. Looking forward to it;

[2021-11-02 12:36] #541 closed

[2021-11-02 13:12] ShadaW11 commented on #545
Hey @zeppaman, seems like an interesting use case. If this is your first article, can you please register your author details [here](https://strapi.io/write-for-the-community) by filling the form. Then please scroll to the FAQ section and go over the article guidelines, how to submit article, issue invoice and get paid. Looking forward to receiving the article.

[2021-11-02 13:48] ShadaW11 commented on #540
@Maxiggle any update

[2021-11-02 13:49] ShadaW11 commented on #538
Hello @sumitkharche I will get back to you this week with some feedback. thank you

[2021-11-02 13:49] ShadaW11 commented on #537
@philipszdavido great. Looking forward to it.

[2021-11-02 13:50] ShadaW11 commented on #536
@Vic-Orlands your article is still in review. I will get back to you this week with Feedback.

[2021-11-02 13:51] ShadaW11 commented on #533
Hello @ravgeetdhillon thank you so much.  Your article looks awesome. Someone from our team will review the article and get back to you with feedback.

[2021-11-02 13:52] ShadaW11 commented on #532
@Saintdavidking awesome looking forward to receiving your article.

[2021-11-02 13:53] ShadaW11 commented on #507
Hello @lawrenceagles any update?

[2021-11-02 13:54] Maxiggle commented on #540
I will be submitting the complete draft tommorrow

[2021-11-02 13:55] ShadaW11 commented on #430
Hello @skarthikeyan96 any update?

[2021-11-02 13:56] ShadaW11 commented on #426
@Kaperskyguru the dropbox link is missing the core content of the article. Kindly provide an estimated date of delivery. The article has been in progress since more than 3-4 months.

[2021-11-02 13:58] ShadaW11 commented on #409
Hello @Victory-ET thank you, someone from the team will review the article and get back to you as soon as possible.

[2021-11-02 14:00] ShadaW11 commented on #409
Hello @Victory-ET can you please double check the image template you used, the title is still the old one.

[2021-11-02 14:03] ShadaW11 commented on #323
Hello @Umoren can you please confirm that you are still interested in writing this article and that you have time to do so? otherwise ill have to give the chance for other writers.

[2021-11-02 14:04] ShadaW11 commented on #289
Hello @MelvinManni are you still interested in writing this article?

[2021-11-02 14:04] ShadaW11 commented on #241
@derrickmehaffy thank you for the feedback

[2021-11-02 14:05] ShadaW11 commented on #215
Hello @miracleonyenma Awesome, our team will review the article content and get back to you as soon as possible.

[2021-11-02 14:08] Maxiggle commented on #540
It took me some time to build the app, as i had some conflicts with my localhost

[2021-11-02 14:36] Victory-ET commented on #409
Hello @ShadaW11, I've corrected the mistake on the image. Thanks.

[2021-11-02 14:36] miracleonyenma commented on #215
Awesome! Thanks 🙌🏾

[2021-11-03 06:24] zeppaman commented on #545
Thank you @ShadaW11. The form was filled! Can I share the article link by mail? or do I have to use this thread?

[2021-11-03 06:43] zaracooper commented on #354
Awesome. Thank you @ShadaW11 .

[2021-11-03 09:28] ShadaW11 commented on #545
awesome @zeppaman once the article is ready, add the dropbox link here and we'll have someone review it asap. No need to email the link. thank you

[2021-11-03 09:47] Maxiggle commented on #540
Hello @ShadaW11 this is the link to the draft.
I used Dropbox
https://www.dropbox.com/scl/fi/ec7g9hxm1jz3pacb5plka/Build-a-Simple-CRUD-Application-Using-Flutter-and-Strapi.paper?dl=0&rlkey=wny42wd06hoalumqvjjdpof4v

[2021-11-03 10:24] ShadaW11 commented on #540
@Maxiggle great thank you, will get back to you with feedback soon.

[2021-11-03 10:24] ShadaW11 commented on #543
@chyke007 please go ahead and start working on it.

[2021-11-03 10:29] ShadaW11 commented on #34
Hello @popoolatopzy I would suggest you include what maxime mentioned in his request:
Strapi increases productivity
Content creators focus on content
Devs focus on dev work

apologies for the delay in getting back to you.

[2021-11-03 10:32] ShadaW11 commented on #491
Hello @ELBEQQAL94 To submit your article you need to follow the guidelines mentioned in the FAQ section here https://strapi.io/write-for-the-community
Please register in the form, follow the guidelines and submit your tutorial.

[2021-11-03 10:36] Maxiggle commented on #540
Ok

[2021-11-03 12:24] ShadaW11 commented on #465
@amirtds thank you so much. Loved your article. Its published now and your payment will be issued.

[2021-11-03 12:24] #465 closed

[2021-11-03 12:26] zeppaman commented on #545
here is the link:
 https://www.dropbox.com/scl/fi/677ksalyk9qieya3fw9ky/How-to-setup-and-use-Strapi-for-storing-your-app-s-logs.paper?dl=0&rlkey=5wl2aoa2m8h18qsi03wi68in7

[2021-11-03 13:39] alvinometric commented on #544
No worries, looking forward to the updated version :)

[2021-11-03 15:05] popoolatopzy commented on #34
Alright @ShadaW11 , here is the new outline

- Introduction
- The benefit of effective productivity
- how to boost productivity
   Strapi increases productivity
   Content creators focus on content
   Devs focus on dev work
- Conclusion

[2021-11-03 16:13] zeppaman commented on #545
@ShadaW11 when I have sent the link in my prev message I forgot to ask about the images. I created it in Figma, but I don't know if I have to export and upload them somewhere. thanks

[2021-11-03 17:55] skarthikeyan96 commented on #430
It is going as planned , sorry about the delay in reply. I am working on the bulk upload of the products to strapi admin and finishing up the draft for part 1.

I will share the share the draft for part 1 as paper docx by friday

Code Repo: https://github.com/skarthikeyan96/next-commerce-comic ( On going )

Deployed the front end to vercel and yet to deploy back end bit

[2021-11-04 09:24] ShadaW11 commented on #430
@skarthikeyan96 no worries, thank you for the update.

[2021-11-04 11:27] jerimkaura commented on #507
Hello, @ShadaW11  I can work on this article.

[2021-11-04 11:35] jerimkaura commented on #289
Hello @ShadaW11 :wave:

I would like to write about this in case it is still available.

[2021-11-04 11:39] jerimkaura commented on #475
I think I can write about this article.

[2021-11-04 12:54] lawrenceagles commented on #507
Hello, @ShadaW11 I am still on the article. I would share the dropbox paper link of the draft once I finish.
Thanks.

[2021-11-04 18:32] Saintdavidking commented on #532
Hello @ShadaW11 , here is the link to the article draft
https://www.dropbox.com/scl/fi/dgvnj0c0tj0cwnawjlo2q/Advantages-of-using-Next.js-Strapi-vs-CRA-Strapi.paper?dl=0&rlkey=s6pryb5oqmyeyvm758xrfe6ut

[2021-11-05 01:29] lucky4242 commented on #542
@shada w11 thanks, and  working on it

[2021-11-05 10:01] ShadaW11 commented on #536
@Vic-Orlands can you please check the comments left by our reviewer on your article and ping me once you the changes in the article are implemented?

[2021-11-05 10:16] Vic-Orlands commented on #536
@ShadaW11 changes have been made. You can check now

[2021-11-05 16:18] heksagonnet opened #546 "[Request New Content] Vue 3 Tutorial"
**My Request**

Hi I would like to request for a tutorial to integrate Strapi with the following tech stack:
• Vue 3 script setup composition API
• Vite
• Graphql
• Postgres/Mongodb
• SSR

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you. Regards.

[2021-11-06 04:29] miracleonyenma commented on #546
Hey @heksagonnet @ShadaW11, I would really love to take this up. I'll work on the outline and send it shortly

[2021-11-06 06:40] miracleonyenma commented on #546
Hey @ShadaW11, @heksagonnet, Here's the outline:

# How to build a Reviews app with Vue 3, GraphQL, Strapi & PostgreSQL

## Introduction

Reviews are a good way to ensure better service from companies and businesses. Review sites like [Trustpilot](https://www.trustpilot.com/) allow visitors to add ratings and reviews for multiple businesses. This involves content modeling and relationships. Strapi

[2021-11-07 12:37] octalpixel commented on #506
Hey @ShadaW11  thanks for your patience. Here is the link the draft of the article https://www.dropbox.com/scl/fi/tdk71y5yznz9t9eqm4zo3/Astro-Strapi.paper?dl=0&rlkey=y5qs7197zqkcdwqpzggl7n148

[2021-11-07 17:57] icode247 commented on #534
Hello, @ShadaW11 I have written the tutorial.
Here is the [dropbox](https://www.dropbox.com/scl/fi/mbti3l4uor272l698reix/How-to-Serve-Different-Content-Based-on-User-Data_Membership-with-Strapi-and-React.paper?dl=0&rlkey=f1s9dwuo7zdhgzwx8iv2w1fjx) link to the draft.
Let me know if there are edits.

Thanks.

[2021-11-08 09:27] ShadaW11 commented on #506
@octalpixel thank you, we will review the content and get back to you soon.

[2021-11-08 09:30] ShadaW11 commented on #33
Hey @adhamfarrag did you manage to finish your project?

[2021-11-08 09:33] ShadaW11 commented on #34
@popoolatopzy Sounds good, I suggest that you expand more on point 2, 4 and 5 when writing your article. You can go ahead and start working on the article.

[2021-11-08 09:34] ShadaW11 commented on #35
@prakash507979 any update?

[2021-11-08 09:35] ShadaW11 commented on #58
@Quadrisheriff any update? still interested in working on this article?

[2021-11-08 09:38] #200 closed

[2021-11-08 09:40] ShadaW11 commented on #213
@narduin its been a while, did you manage to find some time to work on the article?

[2021-11-08 09:43] ShadaW11 commented on #289
Hello @jerimkaura awesome please go ahead and submit and outline of what you plan on writing about.

[2021-11-08 09:48] ShadaW11 commented on #412
@oviecodes any update?

[2021-11-08 09:57] ShadaW11 commented on #545
@zeppaman no worries at all will take a look at the figma file.

[2021-11-08 10:00] ShadaW11 commented on #475
hello @jerimkaura please submit an outline of what you plan on writing

[2021-11-08 10:02] ShadaW11 commented on #524
Your article has been published and invoice well received. Thank you so much. looking forward to receiving future articles.

[2021-11-08 10:02] #524 closed

[2021-11-08 10:13] ShadaW11 commented on #532
Hello @Saintdavidking thank you, ill get back to you soon with feedback.

[2021-11-08 10:19] ShadaW11 commented on #546
Hello @miracleonyenma thank you for the outline. My only concern is that we already have a rating app published recently https://strapi.io/blog/build-a-rating-app-with-react-and-strapi

[2021-11-08 10:32] ShadaW11 commented on #534
Hey @icode247 thank you, will take a look and get back to you with feedback

[2021-11-08 10:33] Quadrisheriff commented on #58
yes, I will send the updated outline later today.

[2021-11-08 10:52] heksagonnet commented on #546
Thanks @miracleonyenma for the outline.
I was wondering whether the following can be included:
• real-time Apollo websocket subscription with the database.
• user upload media functionality

[2021-11-08 12:23] narduin commented on #213
Hello @ShadaW11, I just did this week-end.

I was able to deploy a working strapi instance (even tried the v4 beta) by following my first guide.
I still don't know what went wrong with @derrickmehaffy when he tried.

I'm in the process of updating the article to add more detailed steps, Ill keep you posted!

[2021-11-08 12:50] miracleonyenma commented on #546
Hello @ShadaW11 @heksagonnet thanks for your feedback.
I guess I'll have to modify the outline to use a _photo gallery app_ as the example project instead.
This way I'll be able to include " user upload media functionality " suggested by @heksagonnet .
However, I'm not entirely sure if I'll cover "real-time Apollo WebSocket subscription with the database". I don't want the article to be too long o

[2021-11-08 14:52] narduin commented on #213
I have updated it [here](https://github.com/narduin/strapi-openlitespeed/blob/main/README.md).
I'm available to schedule a call if needed!

[2021-11-08 19:00] Ezekiel8807 opened #548 "[ISSUE] portfolio website using strapi"
**My Request**

Hello 👋

I would love to create a portfolio website using strapi.👨🏿‍💻👨🏿‍💻
I hope my request is granted

[2021-11-08 21:01] derrickmehaffy commented on #213
Will try again myself when I get some free time (probably not til after v4 launch as I'm quite busy at the moment.)

[2021-11-09 09:28] ShadaW11 commented on #546
Hello @miracleonyenma I would suggest you take a look at the blog to see what current posts exist already. Im afraid we have also a number of to do and note apps. Maybe find some other create use case? http://strapi.io/blog

[2021-11-09 10:45] Quadrisheriff commented on #58
@ShadaW11 the edit is complete

[2021-11-09 11:58] heksagonnet commented on #546
Hi @ShadaW11 @miracleonyenma here are some of my suggestions:
• a picture sharing website where authenticated users can upload their own photos and other users can comment on them
• a real-time chatting app where authenticated users can send text and pictures

[2021-11-09 12:52] jerimkaura commented on #289
On it.

[2021-11-09 13:21] Shivansh2407 commented on #323
Hey @ShadaW11, would be glad to work on this Topic (Issue). I see the outline in the issue description and will work accordingly. If I come across something really necessary and interesting, I'll update the outline as well. Please do let me know soon. Thanks

[2021-11-09 13:31] miracleonyenma commented on #546
Hey @heksagonnet, I think your suggestions are really great!
I'd love to work on the picture-sharing app with authentication and commenting. I've checked the Strapi blog and there are about two posts already on building a photo gallery app. On the bright side, none of them include:
- Vue 3 script setup composition API
- Vite
- Graphql
- Postgres/Mongodb
- SSR
- Authentication
- Commenting

Sounds

[2021-11-09 13:46] adhamfarrag commented on #33
@osmarpb97 @ShadaW11  Sorry, I lost attention for notifications.

@osmarpb97 If you still working or in need to chat about the topic I'd love to, please discord me at `adhamfarrag#0268`.

@ShadaW11 Project is ready and I'd love to write a tutorial. will check FAQ and fill up the form this week for an LMS tutorial and maybe + another idea.

[2021-11-10 09:24] Umoren commented on #323
Hi @ShadaW11
Yeah i've been working on it
Sorry for the late reply
Is this approach okay so far?
https://dune-table-cdc.notion.site/Building-a-Job-Board-with-Auth0-as-Auth-Provider-and-Nextjs-Strapi-Tutorial-bb2b095799fe4e12b0a99655cd1b2207

[2021-11-10 10:45] ShadaW11 commented on #507
@lawrenceagles can you please share with me the date you plan on delivering the article?

[2021-11-10 10:46] ShadaW11 commented on #323
Hello @Umoren please note that you MUST write the article in dropbox and not on notion. Also please note that another tutorial is in progress and will be building a job board. Therefore, you will have to find another use case.

[2021-11-10 10:50] ShadaW11 commented on #33
@adhamfarrag awesome happy to hear that. Looking forward to reading your tutorial

[2021-11-10 10:56] ShadaW11 commented on #546
Hey @heksagonnet awesome suggestions. @miracleonyenma Unfortunately, you are right. we have similar use cases on the blog. I would suggest having a unique new use case for the blog. Maybe you can explore some trending tutorials online and add some suggestions?

[2021-11-10 11:26] ShadaW11 commented on #536
@Vic-Orlands your article has been published, please submit your invoice

[2021-11-10 11:26] #536 closed

[2021-11-10 11:54] jerimkaura commented on #475
### Article outline

### Introduction

#### Getting to know Strapi.
Introduces the reader to the Strapi CMS and highlights a few areas of applications, software built-in Strapi and benefits of using Strapi CMS

#### The Next.js framework
The reader also gets to know what Next.js is and the benefits that make it preferable in the areas of application.

### Project Goal
The goal is to create a websi

[2021-11-10 11:55] miracleonyenma commented on #546
Alright @ShadaW11, thanks @heksagonnet for your awesome suggestions. I guess I'll go ahead and explore a bit to find something good and unique. I'll update you guys as soon as possible so I can edit the outline and proceed hopefully 😊

[2021-11-10 12:48] Umoren commented on #323
Alright i'll move it to dropbox
What do you think about a contacts manager similar to Google contact?

On Wed, Nov 10, 2021 at 11:47 AM Shada ***@***.***> wrote:

--
<https://about.me/umorensamuel?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>
Samuel Umoren
about.me/umorensamuel
<https://about.me/umorensamuel?promo=email_sig&utm_source=product&utm

[2021-11-10 15:42] oyedeletemitope opened #554 "[SUBMIT] Build a music player app with React and Strapi"
**My resource**

Hello 👋
I'll love to write a comprehensive article on how to build a music player application with react and strapi. using react for the application frontend, and calling out all music cover images, and the music itself from strapi backend.

This will be a two part article, with the first part explaining the process of creating the music player frontend, and the second part showin

[2021-11-10 15:42] oyedeletemitope opened #555 "[SUBMIT] Build a music player app with React and Strapi"
**My resource**

Hello 👋
I'll love to write a comprehensive article on how to build a music player application with react and strapi. using react for the application frontend, and calling out all music cover images, and the music itself from strapi backend.

This will be a two part article, with the first part explaining the process of creating the music player frontend, and the second part showin

[2021-11-10 20:08] amirtds opened #558 "[SUBMIT] How to build a Product Information Manager (PMI) using Strapi"
**My resource**

How to build a Product Information Manager (PMI) using Strapi

- Pre-requisites
- Goals
- Introduction
- What is a PMI ?
- Step 1 - Create product content type
- Step 2 - Collect Products data into Strapi
- Step 3 - Enrich Products Data
- Step 4 - Stream Products Data into multiple sales channels - Shopify and NextJS website
- Let's see how it works in real world
- Conclusion

**M

[2021-11-11 07:23] #555 closed

[2021-11-12 09:27] ShadaW11 commented on #548
Hello @Ezekiel8807 thank you for proposing a tutorial idea. Can you please submit an outline of what you have in mind for this tutorial?

[2021-11-12 09:48] ShadaW11 commented on #555
@oyedeletemitope I like the idea of the tutorial, but what is important is having strapi at the core of the project. So can you please put in details what features will this music player include?

[2021-11-12 12:16] Maxiggle commented on #540
@ShadaW11
Hi, I haven't gotten any update about reviewing the draft.

[2021-11-12 16:49] chyke007 commented on #543
Hi @ShadaW11 here is a link to the finished tutorial:

https://www.dropbox.com/scl/fi/5m93jdoj9bjo224n9lq4w/Create-a-ChatBot-Assistant-using-NextJs%2C-TailwindCss-and-Strapi.paper?dl=0&rlkey=grcvo9zyb4do0dwqigjtqbmv3

[2021-11-13 12:11] oviecodes commented on #412
Hey @ShadaW11 , it's in progress

[2021-11-15 10:52] ShadaW11 commented on #538
@sumitkharche You article has been published on our blog. Can you please issue and submit an invoice? please check the FAQ section to review the instructions https://strapi.io/write-for-the-community

[2021-11-15 10:52] #538 closed

[2021-11-15 11:09] ShadaW11 commented on #323
@Umoren I would suggest writing a tutorial with a more interesting use case. I would also suggest that you start working on it after the V4 release (estimated at the end of this month). This will give you enough time to find an interesting tutorial idea.

[2021-11-15 11:15] ShadaW11 commented on #409
hello @Victory-ET your article will be published this week. Feel free to issue an invoice.

[2021-11-15 11:16] ShadaW11 commented on #431
@dpkreativ Any update?

[2021-11-15 11:19] ShadaW11 commented on #475
hello @jerimkaura I would suggest building on the initial outline submitted and taking into consideration my feedback above. Could you please do so and then edit your outline accordingly?

[2021-11-15 11:19] ShadaW11 commented on #506
Hello @octalpixel please go ahead and issue and submit your invoice. Your article is approved and will be published this week.

[2021-11-15 11:31] ShadaW11 commented on #517
Hey @Eventyret Hows it going? hows the progress going?

[2021-11-15 11:37] ShadaW11 commented on #539
Hey hey @willnode hows everything going?

[2021-11-15 11:38] ShadaW11 commented on #540
hey @Maxiggle the article is still in review, apologies for the delay

[2021-11-15 11:41] ShadaW11 commented on #543
Hello @chyke007 thank you, your article will be reviewed as soon as possible.

[2021-11-15 11:43] ShadaW11 commented on #554
@oyedeletemitope Nice idea, can you please expand more on the features, and tech stack that will be used?

[2021-11-15 11:44] willnode commented on #539
Almost there! I'll share the link in a few hours.

[2021-11-15 11:48] Ezekiel8807 commented on #548
This are the outline

1. Introduction
2. Features of the application
3. Prerequisites
4. Installation of Strapi
5. Building portfolio using Vue and strapi
6. Conclusion

[2021-11-15 11:50] Eventyret commented on #517
Been busy with setting into my new role have been writing some of it but still few sections to go

[2021-11-15 15:03] dillionmegida commented on #435
Hi @ShadaW11 can I change this from Mongo to something else now?

[2021-11-15 15:07] Maxiggle commented on #540
Ok then thankyou @ShadaW11

[2021-11-15 16:03] Victory-ET commented on #409
Thanks, @ShadaW11.  I've submitted the invoice via the form. I used the GitHub issue link as the article link.

[2021-11-15 17:25] Umoren commented on #323
Alright

On Mon, Nov 15, 2021, 12:09 PM Shada ***@***.***> wrote:

[2021-11-15 21:50] willnode commented on #539
Sorry for taking so long, [here's the draft ready to review](https://www.dropbox.com/scl/fi/lsbrrl6adt2tmebypq72y/Using-Database-Transactions-to-Write-Queries-in-Strapi.papert?dl=0&rlkey=dj3qs264po3pl0yul0l1imnrc).

[2021-11-15 23:04] popoolatopzy commented on #34
Hello @ShadaW11 , here is the link to the draft
https://www.dropbox.com/scl/fi/rfjfb9i0slg26lq98m2p0/How-to-boost-productivity-with-Strapi.paper?dl=0&rlkey=f7bbrw45b9i7ab85ofvr6yfgw

[2021-11-16 10:03] ShadaW11 commented on #34
@popoolatopzy thank you, our team will review the content and get back to you.

[2021-11-16 10:22] ShadaW11 commented on #539
Hey @willnode no worries at all, thank you so much for submitting it. I will go over the article and get back to you.

[2021-11-16 10:34] ShadaW11 commented on #435
@dillionmegida apologies, I didnt understand.

[2021-11-16 14:52] chyke007 opened #561 "Create a Url Shortener using NextJs, Tailwind CSS and Strapi"
My resource

Hi, I will like a create a new tutorial about creating a Url Shortener using Next JS, Tailwind and Strapi. This is the outline for the tutorial.

Outline

Introduction
Prerequisite
What is Next Js
What is Tailwind Css
What is Strapi JS
Scaffolding a Strapi Project
Building the Url collection
Scaffolding a NextJs project
Building NextJs Components
Seeding Strapi
Allowing Public access

[2021-11-16 16:20] Saintdavidking commented on #532
Hello @ShadaW11 am patiently expecting your feedback

[2021-11-16 16:35] dillionmegida commented on #435
@ShadaW11  you know the db used here was MongoDB? In regards to our earlier agreement, I was asking if I could take on updating the article to use a different DB

[2021-11-17 10:17] oyedeletemitope commented on #554
• All music will be uploaded to strapi backend (via a simple/custom admin page)

• There will also be a like/add to favourite feature using strapi

??
• and finally, users will be able to create and customize playlists

[2021-11-18 08:42] Alex-husar opened #562 "[SUBMIT]"
# **Content Going Global: A Sneak Peek into Website Localization**

Have you ever opened a website that wasn’t in your language? Let’s assume you land on a page and see a bunch of symbols or words that you can’t comprehend. What do you do next? Either close the site or search for settings to switch the region or language. Two clicks here and there, and you see content that you can understand.

Mos

[2021-11-18 09:40] ShadaW11 commented on #562
Hello @Alex-husar thank you so much for pitching your article. Its a great topic. However, my concern is that we have similar articles already published on our blog:
https://strapi.io/blog/localize-your-content-and-succeed-globally
https://strapi.io/blog/strapi-localization-best-practices
https://strapi.io/blog/i18n-implementation-best-practices-in-strapi

I would be happy to review any new ideas

[2021-11-18 10:25] ShadaW11 commented on #534
Hey @icode247 Can you please check the comments left on your article?

[2021-11-18 12:10] octalpixel opened #563 "[SUBMIT] Building a URL Shortner Service with Strapi, Vercel Edge Functions, Next.js and Refine"
**My resource**

Hello 👋

In this article, we will be covering on building a service to shorten, share, and track links using Strapi and Vercel Edge functions. The article will focus on the aspect of using Strapi to quickly build a REST API and not the CMS part of it. A frontend will be built using Next.js and Chakra to manage links and view tracking stats.

**Title**: Building a URL Shortner Serv

[2021-11-18 14:24] icode247 commented on #534
Hello @ShadaW11, I have resolved all the comments on my draft.

[2021-11-19 13:52] signly-projects opened #564 "[SUBMIT] Strapi on Azure: Web and Static Apps with Github CD/CI and PostgreSQL server"
## Title

Strapi on Azure: Web and Static Apps with Github CD/CI and PostgreSQL server

## Motivation

There's close to no documentation on how to add Strapi to Azure. The only relevant docs I've found were to install Strapi in a VM in Azure - and this approach is not ideal because Azure in encouraging everyone to move away from VMs.

## Outline

1. Create a local Strapi project
2. Setup the Githu

[2021-11-19 15:04] #564 closed

[2021-11-19 15:06] signly-projects commented on #564
I'll have to close this for now because I'm not using the write github account. Whoops.

[2021-11-19 15:07] malhao opened #565 "[SUBMIT] Strapi on Azure: Web and Static Apps with Github CD/CI and PostgreSQL server"
## Title

Strapi on Azure: Web and Static Apps with Github CD/CI and PostgreSQL server

## Motivation

There's close to no documentation on how to add Strapi to Azure. The only relevant docs I've found were to install Strapi in a VM in Azure - and this approach is not ideal because Azure in encouraging everyone to move away from VMs.

## Outline

1. Create a local Strapi project
2. Setup the Githu

[2021-11-22 02:18] icode247 commented on #534
Hello @ShadaW11, I have resolved all the recent comments on my draft.

Thanks.

[2021-11-22 08:55] ShadaW11 commented on #534
@icode247 thank you our reviewer will get back to you with feedback.

[2021-11-22 10:45] ShadaW11 commented on #33
@adhamfarrag any update?

[2021-11-22 10:47] adhamfarrag commented on #33
@ShadaW11 Almost down with initial draft. Will try to send it before this weekend, max weekend.

[2021-11-22 11:02] ShadaW11 commented on #33
@adhamfarrag awesome thank youuu

[2021-11-22 11:46] Mcastres commented on #468
Hello @tufail, sorry for not going over this sooner. As the v4 will arrive, we'll need to completely update the Quill editor tutorial and hopefully fix this behavior.

[2021-11-22 11:46] #468 closed

[2021-11-22 12:00] ShadaW11 commented on #565
Hey @malhao thank you for sharing your tutorial. I think it should be listed in our [tutorials](https://strapi.io/tutorials) sections and can be shared on our social media, a great resource indeed.

Can you please follow the instructions [here](https://github.com/strapi/community-content/tree/master/tutorials#how-to-write-a-tutorial) to list your tutorial?

[2021-11-22 12:13] ShadaW11 commented on #35
@prakash507979 hows the progress going?

[2021-11-22 12:15] ShadaW11 commented on #289
@jerimkaura any update?

[2021-11-22 12:21] #506 closed

[2021-11-22 12:22] #409 closed

[2021-11-22 12:28] ShadaW11 commented on #354
Your article will be published today, thank you @zaracooper

[2021-11-22 12:28] #354 closed

[2021-11-22 12:29] ShadaW11 commented on #412
any update @oviecodes

[2021-11-22 12:31] ShadaW11 commented on #426
The topic is now open for other authors.

[2021-11-22 12:31] ShadaW11 commented on #430
any update @skarthikeyan96

[2021-11-22 12:31] ShadaW11 commented on #431
hey @dpkreativ any update?

[2021-11-22 12:32] #456 closed

[2021-11-22 12:32] ShadaW11 commented on #507
@lawrenceagles  any update?

[2021-11-22 12:33] #508 closed

[2021-11-22 12:34] ShadaW11 commented on #517
@Eventyret thank you for the update, take your time.

[2021-11-22 12:36] ShadaW11 commented on #542
@lucky4242 any update?

[2021-11-22 13:49] zaracooper commented on #354
Thank you, @ShadaW11 . Really appreciate the update.

[2021-11-22 14:28] ShadaW11 commented on #546
Hello @miracleonyenma thank you for taking the time to suggest another use case. I am sure we can come up with a use case that is widely requested. I do not think a quote app is one of them.

[2021-11-22 14:33] ShadaW11 commented on #563
Hello @octalpixel As discussed earlier, another author has mentioned a similar use case. If they won't be taking the topic, ill get back to you.

[2021-11-22 14:35] ShadaW11 commented on #561
@chyke007 interesting app idea, my only concern is knowing if this app can be created without Strapi? I want to ensure that Strapi will be the core of the app.

[2021-11-22 14:38] miracleonyenma commented on #546
Thanks for the feedback @ShadaW11, I guess you're right.
I'll just keep on suggesting as I really want to see this article on Vue3 made 😅😊
What about the **code snippets app** I mentioned earlier?
I'm also thinking about a **Polls app** too.

[2021-11-22 14:42] ShadaW11 commented on #558
Hello @amirtds can you please explain more about what you plan on building in this outline?

[2021-11-22 14:43] ShadaW11 commented on #554
@oyedeletemitope so it could be something similar to a Spotify app?

[2021-11-22 14:44] ShadaW11 commented on #548
Thank you for taking the time to submitting the outline. I would suggest including other interesting use cases as we currently have similar articles already published on our blog here http://strapi.io/blog

[2021-11-22 14:44] chyke007 commented on #561
Strapi would act as the core as it would be used to store the urls(both original and shortened) as well as keep track of number of times a shortened url is visited.

[2021-11-22 14:46] ShadaW11 commented on #561
so a bitly clone? if so, please go ahead and start working on it. @chyke007

[2021-11-22 14:51] chyke007 commented on #561
Yes

[2021-11-22 20:03] amirtds commented on #558
Hi @ShadaW11 Thanks for taking a look at this.
Sure, the idea behind [PMI](https://www.akeneo.com/what-is-a-pim/) is to have a single source of truth for product information and distribute this information to different channels like Shopify or other ecom site.
In this article, we can show how we can use Strapi as a single source of truth for products and enrich products data using UI. Also using w

[2021-11-22 21:34] icode247 commented on #289
@ShadaW11 I will like to take this up

[2021-11-23 04:01] octalpixel commented on #563
All good @ShadaW11

[2021-11-23 06:24] jerimkaura commented on #289
I am finalizing on the outline.

[2021-11-23 06:32] jerimkaura commented on #475
Sure I am on it.

[2021-11-23 06:40] oyedeletemitope commented on #554
I was thinking just a simple music player application except if you want me to build a Spotify clone.

[2021-11-23 06:45] jerimkaura commented on #289
##### Introduction
Here the reader will be introduced to the article to help them understand how they will benefit from the article. This section will also provide a brief intro to the application that will be built.

##### A shallow dive into React Framework
This section introduced the reader to React framework, how it has gained merit in modern websites,

##### Strapi
Introduces the reader to th

[2021-11-23 09:26] Quadrisheriff opened #566 "Create a personal website with Strapi, Tailwind CSS, and Hugo."
**My resource**

Hey there, I will like to create a tutorial showing how to build a portfolio website with Strapi, Hugo, and Tailwind CSS.

**Outline**
- Introduction
- Prerequisites
- Strapi installation and Setup
- Hugo Installation and Setup
- Integrate Strapi Backend with Hugo frontend
- Create website layout
- Create Portfolio Website Homepage
- Create Portfolio Website about page
- Conclusio

[2021-11-23 10:24] ShadaW11 commented on #475
@jerimkaura Could you please register your author details by filling the form here https://strapi.io/write-for-the-community
Then go over the guidelines and the FAQ section before you start working on your article.
If you have any questions, please reach out to me.

[2021-11-23 10:25] ShadaW11 commented on #566
Hello @Quadrisheriff I like the tech stack used, but we have a lot of tutorials around creating a blog. I would suggest having another use case for a tutorial.

[2021-11-23 10:26] ShadaW11 commented on #289
@jerimkaura I believe you already have one article to focus on.

[2021-11-23 10:27] ShadaW11 commented on #554
@oyedeletemitope I would think it would be great to have something similar to Spotify. Do you think you would be able to work on it?

[2021-11-23 10:40] oyedeletemitope commented on #554
Sure... but writing about it could be in series(two or three articles
maybe). Would you be okay with that?

On Tue, Nov 23, 2021, 11:27 AM Shada ***@***.***> wrote:

[2021-11-23 10:41] ShadaW11 commented on #554
@oyedeletemitope yeah of course, no problem at all.

[2021-11-23 10:52] oyedeletemitope commented on #554
Okay then.. I'll send in a draft as soon as I'm done.

[2021-11-23 11:01] Quadrisheriff commented on #566
Hi @ShadaW11, I have changed it to a portfolio website.

[2021-11-23 12:06] jerimkaura commented on #289
Alright.

[2021-11-23 19:13] dpkreativ commented on #431
yeah so sorry 😅
Should be ready by weekend... Sorry about the late replies. I've been having a lot of emails, and I missed the notifications

[2021-11-24 09:01] bigpreshy opened #567 "[SUBMIT] Fetch and Display Strapi Data in Chart.js"
**My resource**
Outline

- Introduction
- What is Strapi, Setting up a Strapi Project
- Creating data collection
- Setting up project and fetching the data using [Chart.js](https://www.chartjs.org/)
- Seeding Strapi with data
- Giving Permission
- Conclusion

**My content is**

- [ ] A Strapi Tutorial / Guide / How to article
- [ ] About Headless, CMS, javascript, open source, or jamstack
- [ ] Ot

[2021-11-25 04:38] octalpixel opened #569 "[SUBMIT] Automate Content Sharing to Twitter using Strapi and Integromat"
**My resource**
Hello 👋

In this article, we will be covering how to automate sharing and scheduling content to Twitter using Strapi and Integromat with no code involved. The article will focus on how to use Strapi as CMS to manage the content while using Integromat to trigger Strapi's REST API to fetch content and post on Twitter

Title: Automate Content Sharing to Twitter using Strapi and Integr

[2021-11-25 10:50] ShadaW11 commented on #534
Hello @icode247 your article has been published. Please check the FAQ section to submit and issue your invoice.

[2021-11-25 10:50] #534 closed

[2021-11-25 10:51] ShadaW11 commented on #533
@ravgeetdhillon Your article has been published. Please check the FAQ section to learn how you can issue and submit your invoice.

[2021-11-25 10:51] #533 closed

[2021-11-25 10:55] Victory-ET opened #570 "[SUBMIT] Hospital Patient Record App"
**My Request**

Hello 👋

In this article, we will build a Record application focusing on Patient Records. The app will focus on managing patient records in relation using the Strapi CMS and will provide all records for any patient when a request is made. These records will be fetched from an API and stored in Strapi.

Title: Build a Hospital Patient Record App with NextJs and Strapi

Outline

Here

[2021-11-25 16:24] wesley974 commented on #570
Hello, very interesting! I'm a sysadmin, any date for the full tutorial?

[2021-11-25 16:34] Valvillavel opened #571 "how to regenerate sqlite stabase in strapi?"
i used the database for unit testing but i want to delete all created data and have the database regenerate.
what can i do? please

[2021-11-25 20:30] Vic-Orlands commented on #426
@ShadaW11, I would love to work on this article. Below is my outline;

Outline;

- Introduction
- Back-end Setup
    - Strapi Setup
        - Add Newsletters
    - Mailchimp Setup
- Front-end Setup
    - React Setup
    - Build Marketing Site (including React 18 features)
    - Mailchimp Integration
- Conclusion

[2021-11-25 21:26] icode247 commented on #534
@ShadaW11  I have sent an invoice.

[2021-11-26 01:07] miracleonyenma commented on #546
## 1. What about the **code snippets app** I mentioned earlier?

For the code snippets use case, authenticated users can upload and edit code snippets which can be viewed by other users and visitors.

Strapi will be used to handle user data, authentication and the upload and management of code snippets.

Where features of Vue 3 frontend like SSR will be implemented too.

That's a basic rundown of

[2021-11-26 03:11] lucky4242 commented on #542
@shada i will be submiting it next week

On Mon, 22 Nov 2021, 1:36 pm Shada, ***@***.***> wrote:

[2021-11-26 12:01] Alex-husar opened #572 "Article proposal [Headless CMS and No-Code Website Builders: What to Choose?]"
# Headless CMS and No-Code Website Builders: What to Choose?

Many people experience difficulty choosing a suitable platform for their new web projects because of the variety of available options, and it is very easy to get confused.

Previously popular classic content management systems such as WordPress, Joomla!, Drupal, and others are increasingly losing popularity. They give way to the two typ

[2021-11-27 16:10] thuanpham113 opened #573 "[ISSUE]"
**The concerning content**

**Issue**

[2021-11-27 19:02] #573 closed

[2021-11-27 20:15] popoolatopzy commented on #34
Alright

[2021-11-27 20:36] popoolatopzy opened #574 "Creating a survey application using Strapi and react.js [SUBMIT]"
**My resource**

Hello 👋

I will like to create a survey application using Strapi for the backend and react.js for the frontend.

Outline

Introduction
Prerequisite
What is Strapi
What is React Js
installation of strapi
installation of  react.js
reasons for survey application
features of the application
building the survey app
Conclusion

**What do you all think?**
❤️ I love it!
🚀 I can help you!

[2021-11-28 10:07] bigpreshy commented on #543
@chyke007 I have left a few comments for you on the article. Kindly attend to them. Thanks

[2021-11-28 20:34] icode247 opened #575 "[SUBMIT] Building and deploying a grocery list application with svelte and Strapi on Netlify"
**My resource**

**My content is**

- [ ] A Strapi Tutorial / Guide / How to article
- [ ] About Headless, CMS, javascript, open source, or jamstack
- [ ] Other, specify

**What do you all think?**
❤️ I love it!
🚀 I can help you!

Thank you for submitting your article proposal.

[2021-11-29 08:46] ShadaW11 commented on #575
Hello @icode247 can you please share what you have in mind in an outline? technical features and overall app functionalities.

[2021-11-29 08:52] ShadaW11 commented on #574
Hello @popoolatopzy can you please expand on the features of the application? what will it include the first 7 points in the outline above should be very brief, please expand on the features aspect.

[2021-11-29 09:33] ShadaW11 commented on #572
Hello @Alex-husar thank you, I like the topic. Could you please make sure that the article will include new unique ideas that aren't mentioned in our previous blog posts?
https://strapi.io/blog/traditional-vs-headless-cms-a-comparison
https://strapi.io/blog/how-to-choose-a-headless-cms

[2021-11-29 10:12] Alex-husar commented on #572
Hi Shada,
Thank you for the quick response!

I've reviewed the articles you shared, and I'll write new ideas that are not mentioned in them.

So I can proceed?

[2021-11-29 10:32] ShadaW11 commented on #572
awesome yes please go ahead @Alex-husar

[2021-11-29 10:34] ShadaW11 commented on #426
Hello @Vic-Orlands thank you for pitching the outline, its a great one. Can you make sure to take into consideration also all the elements mentioned in the above outline?

[2021-11-29 10:35] ShadaW11 commented on #426
@Kaperskyguru I know you wrote part of the article. Maybe you can share with @Vic-Orlands what you have worked on already?

[2021-11-29 10:37] ShadaW11 commented on #570
Hey @Victory-ET I love the tutorial idea. When would you be able to deliver the article?
@wesley974 any feature you think should be included in the above tutorial?

[2021-11-29 11:31] Vic-Orlands commented on #426
@ShadaW11 Okay, I will reach out to @Kaperskyguru about the elements.

[2021-11-29 13:12] Victory-ET commented on #570
Ho @ShadaW11 @wesley974 Thanks for the prompt reply. I will be able to deliver the article on the 20th of December.

[2021-11-29 13:20] ShadaW11 commented on #532
@Saintdavidking your content is published, please issue and send your invoice following the FAQ section in the write for community page on our website. thank you

[2021-11-29 13:20] #532 closed

[2021-11-29 13:40] ShadaW11 commented on #571
hello @Valvillavel I suggest that you ask these questions on the support channels on Discord or browse existing topics around the same issue on our forum.

[2021-11-29 13:40] #571 closed

[2021-11-29 13:41] #562 closed

[2021-11-29 13:42] ShadaW11 commented on #554
any update @oyedeletemitope

[2021-11-29 16:39] wesley974 commented on #570
@Victory-ET Would be awesome if you could do it from scratch, give all the necessary knowledge to build the app fully with JWT feature. Perhaps using NodeJS/express stack.

[2021-11-29 22:17] icode247 commented on #575
### Quick Summary:
According to the documentation
_Svelte is a radical new approach to building user interfaces._

In this tutorial, the reader will learn how to build and deploy grocery list application on Netlify with Svelte, and Strapi. They will apply the knowledge from this tutorial to combine Strapi and Svelte to build web applications.

### Goal:
By the end of this tutorial, the reader will

[2021-11-29 22:18] icode247 commented on #575
Hello, @ShadaW11 the outline is ready.

[2021-11-30 22:21] popoolatopzy opened #576 "what is new in strapi v4 [SUBMIT]"
**My resource**

Hello 👋

I'll like to write on new strapi v4 features.

Outline

- Introduction
- overview of strapi v3
- overview of strapi v4
- installation of strapi v4
- features of strapi v4
- getting started with strapi v4
- Conclusion

**What do you all think?**
❤️ I love it!
🚀 I can help you!

Thank you for submitting your article proposal.

[2021-12-01 05:24] oyedeletemitope commented on #554
Yes, I made a sketch of how to Spotify clone would look like and it seems
more attention would be given to using the Spotify api than strapi which is
not what we are looking for. So do I revert back to to the original plan or
go ahead with building it.

On Mon, Nov 29, 2021, 2:42 PM Shada ***@***.***> wrote:

[2021-12-01 09:53] xTrilton opened #577 "How to design suitable content for your audience [SUBMIT]"
Title: How to design suitable content for your audience

In this article, you will learn how to optimize your content for your targeted audience and how to design content with the customer’s needs in mind.

We will cover the following points:

1. Creating a target audience and content strategy.
2. Enriching content by using Strapi, a headless CMS.
3. Improving content by using analyzed customer fe

[2021-12-01 13:10] ShadaW11 commented on #577
Hello @xTrilton we have paused on the new articles for a few weeks and are looking to update our current tutorials with v4 that we released yesterday. Feel free to help us update our articles here: https://strapi.notion.site/Writer-s-Guide-V4-Tutorial-Update-68953d4073bf43b7bcba3d8284741c6d

[2021-12-01 14:26] ShadaW11 commented on #576
Hello @popoolatopzy great idea, but we will have to put it on hold a few days. We would like to have a big part of our tutorials updated, would you be able to help us with that? https://strapi.notion.site/Writer-s-Guide-V4-Tutorial-Update-68953d4073bf43b7bcba3d8284741c6d

[2021-12-01 14:27] ShadaW11 commented on #575
Hello @icode247 thank you, we will put it on hold for a few days. Would you be able to help us update our current tutorials with v4? https://strapi.notion.site/Writer-s-Guide-V4-Tutorial-Update-68953d4073bf43b7bcba3d8284741c6d? Best

[2021-12-01 14:28] ShadaW11 commented on #569
Hello and thank you for submitting the outline. We will get back to this article in a few weeks. For now, we would like to focus on updating our current tutorials, it would great it you would be able to help us in that: https://strapi.notion.site/Writer-s-Guide-V4-Tutorial-Update-68953d4073bf43b7bcba3d8284741c6d

[2021-12-01 14:34] ShadaW11 commented on #554
Hello @oyedeletemitope yeah that's true. I would suggest for now to put the article on hold as we have just released the new v4 and it would be great to have you help us in updating our tutorials: Here are the details https://strapi.notion.site/Writer-s-Guide-V4-Tutorial-Update-68953d4073bf43b7bcba3d8284741c6d

[2021-12-01 16:35] lucky4242 commented on #542
Hi @ShadaW11
This is the link to the tutorial
https://www.dropbox.com/scl/fi/v5jej9ln6c46hj4xx2ut5/Build-a-Trello-Clone-Application-with-React-and-Strapi.paper?dl=0&rlkey=e3kj5wfmbcshkzsewpyfaxy18

[2021-12-01 18:26] oyedeletemitope commented on #554
Okay, I'll be happy to help. Please let know when I can take up the article.

On Wed, Dec 1, 2021, 3:35 PM Shada ***@***.***> wrote:

[2021-12-01 20:10] Vic-Orlands commented on #426
@ShadaW11 I have reached out to him. I will begin working on the tutorial while waiting for him to share what he has worked on. The article will be ready in two weeks' time i.e on the 17th

[2021-12-05 08:59] meherchandan opened #581 "[Change default wysiwyg editor tutorial not working with v4]"
**The concerning content**
Unable to change the wysiwyg editor in strapi v4 using the tutorial. It was working fine with earlier versions.

**Issue**
https://strapi.io/blog/how-to-change-the-wysiwyg-in-strapi

[2021-12-06 07:39] elieyi commented on #509
@daniloraisi any update on your article?

[2021-12-06 08:34] Saintdavidking opened #582 "[SUBMIT]"
**My resource**

Hello 👋

I will like to write on this topic **When and how should headless CMS be used?**

Outline:

- Introduction
- what is a headless CMS
- How do I choose the right headless CMS?
- overview of strapi (as an example of headless CMS)
- how to setup strapi
- benefits of using headless cms
- Use cases for Headless CMS
- when to use headless CMS
- how to use headless CMS
- conclusi

[2021-12-06 09:09] ShadaW11 commented on #582
Hello @Saintdavidking thank you for the above outline. Unfortunately, we have already a few similar articles with similar topics already published on our blog. I invite you to take a quick look and hopefully propose some new outline. It would be great working with you.

[2021-12-06 09:09] #582 closed

[2021-12-06 10:44] ShadaW11 commented on #539
Hello @willnode I noticed you archived your article before completing the review? Any reason for that? Is it because of Knex support?

[2021-12-06 11:27] ShadaW11 commented on #34
@popoolatopzy your article has been published, please create and issue your invoice.

[2021-12-06 11:56] ShadaW11 commented on #581
Hello @meherchandan thank you, we will be updating this content soon.

[2021-12-06 13:44] Maxiggle commented on #540
@ShadaW11 What's going on
The Editor that reviewed my draft has not said anything yet after making some changes and created picture lead for the article

[2021-12-06 19:03] boulaffasae commented on #292
Hi @ShadaW11, i can continue working on this content

## Build an Interactive InstantSearch using Strapi, Nuxt.js and Algolia

1. Introduction & Goals
2. Prerequesites: Create project (strapi-template-blog & strapi-starter-nuxt-blog), Sign-up for an Algolia account
3. Step 1: Using the Algolia service in the Lifecycle hooks of our ContentType
4. Step 2: Implementing the awesome search experiences

[2021-12-06 20:04] boulaffasae commented on #289
Hi @ShadaW11

Maybe we should implement this in #292 ? add Two different option in both the Prerequesites Sign-up for an Algolia account & Using the Algolia service in the Lifecycle hooks of our ContentType steps.

For information :

MeiliSearch work with the Algolia library InstantSearch. So we won't need to re-write the 2nd step "Implementing the awesome search experiences in our front-end appli

[2021-12-06 21:49] willnode commented on #539
Somebody did. I'm not doing that. I'll unarchive it.

[2021-12-07 11:01] Saintdavidking opened #583 "[SUBMIT] How to create, extend, and change a content data model in Strapi"
My resource

Hello 👋

**### How to create, extend, and change a content data model in Strapi**

Outline:

Introduction
Overview of Strapi
installation of strapi
what is Model
how to create a model in strapi
how to extend a model in strapi
how to change a content data model using strapi
components and relation in strapi
Conclusion

What do you all think?
heart I love it!
rocket I can help you!

[2021-12-07 11:33] ShadaW11 commented on #545
@zeppaman Hello, apologies for the delay. Your article is now live. Feel free to issue and submit the invoice, the invoice template and how to details are in the write for the community page.

[2021-12-07 11:33] #545 closed

[2021-12-08 10:15] powerlesbian opened #585 "[UPDATE OUTDATED CONTENT] food delivery app"
I've been trying to follow your food delivery app tutorial.  the backend doesn't build.  The front end next-apollo imports are broken and won't compile. Could you please help by updating the tutorial.

[2021-12-08 13:18] ShadaW11 commented on #540
@Maxiggle your article is approved, feel free to issue your invoice; I noticed that you did not register your author details here, https://strapi.io/write-for-the-community Can you please fill the form asap

[2021-12-08 13:43] #540 closed

[2021-12-08 14:40] Alex-husar commented on #572
@ShadaW11 Hi Shada! Can I attach my draft here in a Markdown format?

[2021-12-08 14:59] ShadaW11 commented on #572
Hello @Alex-husar Please check the write for the community guidelines regarding the process of submission (https://strapi.io/write-for-the-community). The article should be added in dropbox and the link should be shared here in GitHub in the comments section along with editing access for our reviewer to check the content and provide feedback.

[2021-12-09 11:35] ShadaW11 commented on #539
@willnode great article, thank you for the effort. Mattie left you some comments. Would you mind taking a look at the feedback?

[2021-12-09 11:39] ShadaW11 commented on #585
Hey @powerlesbian  We apologise for that and doing our best to update the tutorials as soon as possible. I will ping you here once the update is released.

[2021-12-09 11:55] ShadaW11 commented on #572
@Alex-husar thank you, ill get back to you with feedback as soon as possible.

[2021-12-09 12:06] ShadaW11 commented on #583
Hello @Saintdavidking thank you for sharing the outline. I am afraid that we have a lot of articles already published on our blog around this topic. It would be great to have you write some posts for us. Could you pitch new top ideas?

[2021-12-09 12:06] #583 closed

[2021-12-09 13:28] ShadaW11 commented on #292
@boulaffasae Thank you for pitching your outline and apologies for the delay. We are currently focusing on updating our existing content. I saw your name in the excel and I will confirm a few there. In a week or two, we will resume writing articles and we could then move ahead with these articles. Thank you again.

[2021-12-09 13:30] ShadaW11 commented on #289
Hello @boulaffasae you are right and thank you for bringing my attention to this. Lets wait some time until our tutorials are updated and then we could move ahead with this. I will ping you soon. Thank you again

[2021-12-09 13:48] ShadaW11 commented on #570
@Victory-ET Hello, I hope you are doing well. How's the progress going? Please note that we released v4 as you may have seen therefore, please make sure your app is compatible with v4

[2021-12-09 13:48] ShadaW11 commented on #567
Hello @bigpreshy We will resume working on new tutorials after we have updated a big portion of our content.

[2021-12-09 13:50] #565 closed

[2021-12-09 13:52] ShadaW11 commented on #543
@chyke007 your article has been published, in case you havent please submit your invoice.

[2021-12-09 13:52] #543 closed

[2021-12-09 13:55] #34 closed

[2021-12-09 13:56] ShadaW11 commented on #33
@adhamfarrag any update? it would be great if you can have the tutorial compatible with v4.

[2021-12-09 19:52] Saintdavidking commented on #583
alright but i searched before pitching out this topic and i feel there are no article on the blog that talks about it this way

[2021-12-10 06:12] Victory-ET commented on #570
Hi @ShadaW11 I'm still working on the tutorial and will soon make a submission. I'm aware of the v4 release and will make use of it. Thanks

[2021-12-10 08:25] willnode commented on #539
Hi, thanks for the comments @MattieBelt. Sorry, I can't take a look today. I will do it tomorrow.

[2021-12-10 13:54] Saintdavidking commented on #58
Hello @ShadaW11 is this topic still available ?

[2021-12-13 13:19] ShadaW11 commented on #540
@Maxiggle please submit your invoice once possible to be able to issue your payment.

[2021-12-13 13:22] ShadaW11 commented on #545
@zeppaman please dont forget to prepare and send your invoice once possible.

[2021-12-14 04:08] octalpixel commented on #569
Hi @ShadaW11 ,  wanted to follow up on this to see if there a go to write new articles

[2021-12-14 04:35] octalpixel opened #588 "[SUBMIT] Building an appointment booking platform using Strapi V4"
**My resource**

Hello 👋

In this article, we will be covering how to build and manage a booking management system with the Strapi V4.  The article will focus on how to use Strapi as CMS to manage the booking while using Chakra UI and React Query for the UI and data fetching respectively.

Title: Build an appointment booking system using Strapi

**Outline**
- Introduction
- What is Strapi
- Setup

[2021-12-14 15:49] daniloraisi commented on #509
I was on vacation for the last two weeks. I will continue working on the article now, upgrading to v4.

[2021-12-14 23:22] Maestro2496 opened #589 "Authenticating with Provider"
**My Request**

How to solve the error 'Grant: mount session middleware first' when trying to connect using a provider?
**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-12-15 13:42] ShadaW11 commented on #588
Hey @octalpixel thank you for submitting the outline and for updating some of our previous tutorials. Awesome topic. Please go ahead and start working on it.

[2021-12-15 15:18] chyke007 commented on #561
@ShadaW11
The finished link: https://www.dropbox.com/scl/fi/u5i0pstrappm8td4h1tld/Create-a-Url-Shortener-using-NextJs%2C-Tailwind-CSS-and-Strapi.paper?dl=0&rlkey=g58ebv9g26i2ege5jt4ekinap

[2021-12-15 17:57] elieyi commented on #509
Hey @daniloraisi it is okay, thank you.

[2021-12-16 06:37] malwayson opened #591 "[REQUEST]"
Can we have a tutorial on how to customize admin ui for strapi v4. eg: edit home page, auth pages, sidebar etc..

[2021-12-16 10:41] mprady opened #592 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-12-16 11:01] Alex-husar commented on #572
Hi @ShadaW11, I've noticed comments in the draft, I've edited them, kindly, take a look.

[2021-12-16 19:21] Saintdavidking commented on #58
Hello @ShadaW11  is this topic still available ???

[2021-12-17 09:07] onedawa opened #593 "[UPDATE OUTDATED CONTENT]"
**Description**
<!--
[Hello 👋
This tutorial is outdated. The files are not where they are supposed to be
**[Link of the content](https://strapi.io/blog/how-to-change-the-wysiwyg-in-strapi)**

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!](https://strapi.io/blog/how-to-change-the-wysiwyg-in-strapi)

[2021-12-19 07:03] willnode commented on #539
I have made changes according to the feedback. Sorry for taking so long :)

[2021-12-19 11:13] zaracooper commented on #458
Hey @ShadaW11 .

With Strapi v4 out, I started working on this article by adding authentication to [the original quiz app](https://github.com/strapi/community-content/issues/238).

I created a new Strapi v4 app since [it's not possible to upgrade the original v3 app](https://docs.strapi.io/developer-docs/latest/update-migration-guides/migration-guides.html#v4-stable-guides) (I also added new conte

[2021-12-20 08:17] Vic-Orlands commented on #426
@ShadaW11 I am done with the article. Added a React 18 feature as requested and also a newsletter form functionality. This is the draft link https://www.dropbox.com/scl/fi/zh1wfytqjg4nrvl9tyk59/Building-a-Marketing-Site-with-Forms-Functionality-with-React-and-Strapi.paper?dl=0&rlkey=xpi93ar6jz35zlnymxjoyuszh

[2021-12-20 08:59] seetpalsingh opened #594 "[UPDATE OUTDATED CONTENT]"
**Description**

Pull request is merged already:
**https://github.com/strapi/community-content/pull/547**

But, Showcase is added 50 days ago, but not updated on **https://strapi.io/showcases**

Try searching **Confind**

[2021-12-20 17:26] chunkingz opened #595 "[UPDATE OUTDATED CONTENT] - How to change the WYSIWYG editor in Strapi"
**Description**
Please update the article - How to change the WYSIWYG in Strapi

I had tried following the tutorial link below, but I couldn’t as much of the folder structure and code has changed.

**Link of the content**
[How to change the WYSIWYG in Strapi](https://strapi.io/blog/how-to-change-the-wysiwyg-in-strapi)

[2021-12-21 10:13] zaracooper commented on #458
Hi @ShadaW11 . Was hoping to wrap the article up this week. Should I split it or write it as is, in one article?

[2021-12-21 17:55] divofred opened #596 "[SUBMIT] Build a Group chat application with Socket.io, Express, and Strapi"
**My resource**

Hello 👋

Sending and receiving text messages in recent times are frequently done online and in real-time. Text messages, in real-time, are sent and received immediately. With the help of Socket.io, we can create Real-time chat applications.

**Goal**

This article would be focused on integrating Strapi with Socket.io. We will get messages from users, store them in Strapi, and send

[2021-12-21 20:28] oviecodes commented on #457
Hey Shada, can I take this now that v4 is out?

[2021-12-21 20:28] oviecodes commented on #457
Hey @ShadaW11 , can I take this now that v4 is out?

[2021-12-21 20:29] oviecodes commented on #454
Hey @ShadaW11 , can I take this now that v4 is out?

[2021-12-22 20:19] lucky4242 commented on #542
Hi @ShadaW11
What is the current status of my project? I upgraded it to the new Strapi version4.
https://www.dropbox.com/scl/fi/v5jej9ln6c46hj4xx2ut5/Untitled.paper?dl=0&rlkey=e3kj5wfmbcshkzsewpyfaxy18
sorry for the delay

[2021-12-22 20:20] derrickmehaffy commented on #457
She is on vacation for the rest of the year but I don't see any issue with that @oviecodes :)

[2021-12-22 23:02] Vic-Orlands commented on #426
@ShadaW11 any update on this?

[2021-12-23 05:54] HellooShivamAgrawal commented on #430
It's been a while since last update on tutorial: https://github.com/skarthikeyan96/next-commerce-comic
I would love to take that up @ShadaW11 if  @skarthikeyan96 has any other priorities/ no longer working!

[2021-12-23 05:55] skarthikeyan96 commented on #430
@HellooShivamAgrawal I am working on this , I am upgrading it to v4 , it will be done within next 4-5 days

[2021-12-23 06:01] HellooShivamAgrawal commented on #430
Great! thanks for quick update @skarthikeyan96

[2021-12-27 11:23] prafull-qed42 opened #598 "[UPDATE OUTDATED CONTENT] customize admin panel"
**Description**
 Please create a blog to customize admin panel in version 4 just like you did in version 3 with draft editor replaced by CKEditor.
     Also please ensure to addon rich text components as per our use case
    Actually I tried to do it myself but somehow failed please help me it's urgent request

**Link of the content**

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help

[2021-12-29 12:17] octalpixel commented on #588
Hey @ShadaW11 as an update, resumed work on this after the holiday. I will submit once I'm done

[2021-12-30 21:07] luisguve opened #599 "[SUBMIT] How to enable and manage comments in your strapi application"
**My resource**

This article will be a tutorial about how to install the [Strapi Comment Manager](https://npmjs.com/package/strapi-plugin-comment-manager) Plugin (v4), which I'm the author of. This plugin enables comments for any kind of content without modifying the schemas of the content types. Comments are associated with contents through their slug, which must be unique and urlized i.e. no sp

[2022-01-01 19:00] pmeaney opened #600 "[REQUEST] Simple, non-SPA, non-hype-framework tutorial: ExpressJS + EJS + PostgreSQL + Strapi for Rich Text Blog."
I can't seem to find a Strapi Tutorial that doesn't use a SPA framework.  I see GraphQL all over the place as well.

I'd like a tutorial that gets back to the basics, because in my opinion, a SPA is overkill for a simple rich text blog.  I want a zero-hype-framework Strapi tutorial.  No SPA, no GraphQL.  Back to the basics.

**So, Ill continue hunting for a set of instructions for quickly creating

[2022-01-01 21:44] pmeaney commented on #600
I really like what Strapi offers.  But I think the Strapi tutorial authors are wayyy too focused on hyped up frameworks.
All I see is "Yay, you can use Strapi with the latest overhyped SPA framework & GraphQL!!!"  repeated ad-nauseum.

 Crawl before you run.  Show me the simple-to-host, minimal-webpage-file-size version first.  From there, I can understand the fundamentals.  But don't throw a bunc

[2022-01-03 11:20] ShadaW11 commented on #538
@sumitkharche can you please send us your bank account to issue your payment please.

[2022-01-03 11:52] ShadaW11 commented on #215
@miracleonyenma happy new year, I wanted to check if you had time to update the tutorial with strapi v4?

[2022-01-03 12:36] miracleonyenma commented on #215
Happy new year to you too @ShadaW11 🎆🙌🏾

Yeah, the article has been updated with v4.
The frontend codebase has also been updated to work with v4

[2022-01-03 12:40] ShadaW11 commented on #215
@miracleonyenma our team will review it and get back to you.

[2022-01-03 12:46] miracleonyenma commented on #215
Great! Thanks!

[2022-01-03 18:36] derrickmehaffy commented on #593
No context or remotely any effort put into this issue, closed.

[2022-01-03 18:36] #593 closed

[2022-01-03 22:00] dougsmith1000 commented on #468
@Mcastres, hello! I've been working and found this limitation as well. I've been considering making a button inside of the editor so I have access to the quillRef and create a custom blot. However,it would require a bit of extra code and state lifting. The v3 Quill implementation is relatively simple, so I'd like to avoid the confusion of that if possible. If it's not, let me know and I can try to

[2022-01-05 07:30] dro-1 commented on #537
Hello @ShadaW11 can I work on this?

[2022-01-05 08:07] philipszdavido commented on #537
@dro-1 Sorry, I am working on it.

[2022-01-05 08:07] philipszdavido commented on #537
@ShadaW11 Yes, it's been long. I will submit a draft soon.

[2022-01-05 10:55] dro-1 opened #601 "[SUBMIT] Building an Instagram Clone with Strapi and React."
**My resource**

Hello 👋

In this article, I'm going to be talking about how to use Strapi v4 as a CMS in building an Instagram Clone. It'd be a platform where people can post pictures as well as like and comment on them. It's going to be built in React so I'll use Styled-Components for the styling. After reading the article, readers should be able to use Strapi as a CMS in any app of their own wi

[2022-01-05 13:37] Hannesalm commented on #581
Any news on this? I have the same problem

[2022-01-05 14:09] Mcastres commented on #581
Sorry for the delay, unfortunately, this will not be updated until the end of February

[2022-01-05 14:09] #581 closed

[2022-01-05 14:11] Mcastres commented on #468
I'm not sure to understand what you want me to do here @dougsmith1000 🤔

[2022-01-05 14:33] dougsmith1000 commented on #468
@Mcastres, just let me know if you know of a more streamlined way of doing it with native strapi methods. If not, I can make a custom blot that communicates with the medialib component. I can post up my work when I have it working.

[2022-01-05 14:49] Mcastres commented on #468
For now, I don't have any idea :/

[2022-01-06 14:43] ShadaW11 commented on #601
Hello @dro-1 awesome idea, can you please include in the above outline what functionalities of instagram will your app have? Also please confirm that you will be using v4

[2022-01-06 14:47] ShadaW11 commented on #537
@philipszdavido Hello Its been more than a month, can you please provide us a deadline? if you are busy, its okay but it would make sense to give an opportunity for others.

[2022-01-06 16:22] dro-1 commented on #601
Thanks for the feedback @ShadaW11 , I've responded accordingly. Awaiting feedback 😊

[2022-01-06 16:31] dro-1 commented on #601
I decided to handle authentication with firebase, hence, the change in title.

[2022-01-07 16:44] SamoraCletus opened #603 "[SUBMIT] How to build a custom user profile page with React, Material-ui, and Strapi v4"
**My resource**

Hello 👋

A common feature in most modern websites is a user profile page, where user information is displayed. Creating the perfect user profile page required a lot of creativity and procedures.
In this article, I will take a deep dive into the amazing combination of React.js, Strapi and Material-ui in building and managing the user profile page. With Strapi as the user informatio

[2022-01-07 23:34] zenUnicorn commented on #592
I can work on this

[2022-01-08 13:31] Kunalgoel9 opened #604 "Unable to deploy Strapi v4 to Heroku using the old documentation"
**The concerning content**

**Issue**

I just completed my first project in Strapi v4 but I am unable to deploy it to heroku
can anyone help me with this?

[2022-01-08 18:00] Saintdavidking opened #605 "[SUBMIT]Publication workflow "workaround" in Strapi"
**My resource**

Hello 👋

Topic: Publication workflow "workaround" in Strapi 

Description:

What is a Publication Workflow, and how does it work? The term " workflow" refers to all of the actions and procedures that must be completed in order to obtain the desired end result. The successful dissemination of high-quality content is the final step in publishing. As a result, a publishing workflow e

[2022-01-08 20:05] rowild opened #606 "[UPDATE OUTDATED CONTENT] E-commerce website with Nuxt.js, GraphQL, Strapi and Stripe"
**Link of the content**
https://strapi.io/blog/cooking-a-deliveroo-clone-with-nuxt-vue-js-graphql-strapi-and-stripe-setup-part-1-7

**What do you all think?**
👍 Nice!!!!
❤️ I love it!!!!
🚀 I can help you!

You kindly mention that we can report outdated things, since software keeps evolving and tutorials should be updated. There is not much in this case, except that the given link to chapter 2 in t

[2022-01-08 20:08] rowild commented on #606
As a side note: the animated gifs are most likely a lot of work, but they do not help at all. They are too fast and too small. It would be a lot better to have separate images that could be enlarged.

[2022-01-09 16:58] Eventyret commented on #517
Still working on this just wanted to give an update.

[2022-01-09 19:58] Vic-Orlands commented on #426
The article is v4 compatible @ShadaW11

[2022-01-09 22:37] popoolatopzy commented on #576
Hello @ShadaW11 , how are you doing?

can I go ahead and start working on this topic

[2022-01-10 07:17] lucky4242 commented on #542
Hi @ShadaW11
What is the current status of my project?

[2022-01-10 11:02] ShadaW11 commented on #572
@Alex-husar your article has been published, please issue and submit your invoice. thank you. Looking forward to your future articles.

[2022-01-10 11:02] #572 closed

[2022-01-10 14:35] ShadaW11 commented on #542
@lucky4242 Hello Opuama and apologies for the delay due to the holiday period. Our reviewers will review your article and get back to you asap. Thank you again for your patience.

[2022-01-10 14:53] ShadaW11 commented on #576
Hello @popoolatopzy we are still focusing on updating our tutorials with v4, it would be great if you can help us with that. Then hopefully in a week or two, we will resume to creating new articles.

[2022-01-10 15:09] ShadaW11 commented on #426
Hello @Vic-Orlands thank you for the update. Apologies for the delay - due to the holiday break. Our team will review your article asap.

[2022-01-10 15:11] ShadaW11 commented on #517
@Eventyret thank you for the update. I appreciate it.

[2022-01-11 07:54] philipszdavido commented on #537
@ShadaW11 Sorry, it took time. I will give u an outline by Friday or earlier.

[2022-01-11 13:46] victor-baumann commented on #581
I started working on a plugin for Strapi V4 since I need it this week, based on the current WYSIWYG plugin in content-manager. Looks like it most of it is very reusable, just replacing CodeMirror with TinyMCE. Have the basics working but still got some issues (more of react knowledge problem on my end than anything with strapi)

https://github.com/victor-baumann/strapi-v4-tinymce-example

Also sta

[2022-01-12 02:15] Mastersam07 commented on #304
Hello, @ShadaW11 @Code-Kat is this topic available? The label says in progress but from the thread, it seems it's open. I am interested in writing about this.

[2022-01-12 04:37] Muhtoyyib opened #609 "[SUBMIT]"
Topic:

Javascript Modules: Complete beginners’ guide

Summary:
  Javascript modules were created to make javascript code easy to use, organized and make it very easy to maintain. They are also called ES Module or ECMAScript Modules. In this article, I will cover :

Outline
What is a module?
Introduction to ES Modules. Why do we use them?
How to use ES Modules. Step by step guide
What are other mo

[2022-01-12 10:12] ShadaW11 commented on #458
hey @zaracooper apologies for the delay, I understand, and it makes sense, feel free to split it for ease of read. thank you again.

[2022-01-12 12:24] Qurus opened #610 "Multilingual Strapi Site tutorial [REQUEST]"
I know there is a starter multilingual apps on your site. But there is no tutorial. Hopefully someone will create that.

[2022-01-12 18:08] Vic-Orlands commented on #426
Okay, thank you

[2022-01-12 20:19] zaracooper commented on #458
Thanks, @ShadaW11 . Was really struggling to condense both apps into one article. Here are the outlines for both. Let me know if you'd like me to add anything else to the outlines.

---

# Strapi Authentication and Authorization with Angular 13 on a Quiz App: Part 1 - Strapi App
- Introduction
    - Link to original quiz app article
    - Summarize what the reader will achieve in the tutorial
- Pr

[2022-01-13 22:38] J-rayX commented on #606
Hi @rowild @ShadaW11 ,
I could get up this series and try to update it.

Asides from updating the content, the URL routing needs an update also, as I pointed to @vcoisne earlier on.
If you notice, only the 2nd part is available at strapi.io/blog/. The other parts are still on blog.strapi.io.

[2022-01-13 22:46] vcoisne commented on #606
thanks @J-rayX we have already updated the URLs :) @ShadaW11 will get back to you with regard to updating that series to v4 :)

[2022-01-13 22:50] J-rayX commented on #606
Oh, great! Thanks for the update about the URLs @vcoisne.

[2022-01-14 05:16] vcoisne opened #611 "[UPDATE OUTDATED CONTENT] A Deep Dive into Strapi GraphQL"
https://strapi.io/blog/a-deep-dive-into-strapi-graph-ql

Hello 👋

Please explain which article or tutorial has an issue.
--> Its on v3

**Issue**
Describe the issue
--> I think v4 introduced a fair amount of graphQL related changes

[2022-01-15 16:27] darwebdb opened #615 "[ISSUE] import content"
**The concerning content**

https://strapi.io/blog/how-to-create-an-import-content-plugin-part-4-4

**Issue**
Describe the issue
Strapi v: 3.6.7

I'm stuck on strapi v3 because of no mongoose driver support for v4 yet. So cannot migrate as of yet.

I've followed the tutorial, did exactly what it said to do.
Upon reaching to page 4, i've copied the modifications over.

Now I receive an error in the

[2022-01-15 16:42] darwebdb commented on #615
Found a solution by user: edisonpem

https://www.npmjs.com/package/strapi-plugin-import-export-content

[2022-01-15 16:42] #615 closed

[2022-01-17 12:18] ShadaW11 commented on #458
@zaracooper thank you for the effort, removed the on hold status, feel free to work on it and thank you.

[2022-01-17 12:31] zepxtor opened #616 "[UPDATE OUTDATED CONTENT] Web scraping with Strapi"
**Description**
Please could you update the article "Web scraping with Strapi", it does not work anymore due to v4 changes.

Thank you!!

**Link of the content**
https://strapi.io/blog/web-scraping-with-strapi

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-01-17 14:38] ShadaW11 commented on #601
Hello @dro-1 Thank you, I havent sent you a detailed feedback on discord

[2022-01-17 23:22] lucky4242 commented on #542
Hi @ShadaW11
Any update on my project?

[2022-01-18 06:42] zaracooper commented on #458
Awesome. Thank you so much @ShadaW11 . I'll have these articles done very soon.

[2022-01-18 09:47] Revilush opened #617 "strapi"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-01-18 09:51] bhambrij-upwork opened #618 "Create Custom API in Strapi"
**My Request**

I am new to Strapi, would like to create custom API's for reporting purpose on content built using strapi content builder in Strapi.

Please help with Custom API documentation

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-01-18 13:08] oviecodes commented on #412
hey @ShadaW11 , here's the link to the article

https://www.dropbox.com/scl/fi/oamvdmajkmvh21ycd6fx8/How-to-build-a-Ticketing-App-using-Vue.js-and-Strapi.paper?dl=0&rlkey=kg50qbdt3rwus9bs8bsqql6rh

[2022-01-18 21:41] Vic-Orlands commented on #426
@ShadaW11 any update yet.

[2022-01-19 01:59] oabeleda opened #619 "[UPDATE OUTDATED CONTENT] How to Build a Real-time Chat Forum using Strapi, Socket.io, React and MongoDB"
**Description**

**Link of the content**
https://strapi.io/blog/how-to-build-a-real-time-chat-forum-using-strapi-socket-io-react-and-mongo-db

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-01-19 12:15] ShadaW11 commented on #215
@miracleonyenma awesome article, please issue your invoice. thank you

[2022-01-19 12:15] #215 closed

[2022-01-19 15:33] suhajda3 commented on #139
Is this still open? If yes, I'm willing to take the challenge.

[2022-01-19 16:41] Mcastres commented on #581
That looks great @victor-baumann! I will give it a try during the week

[2022-01-20 15:40] oviecodes commented on #507
@ShadaW11 , if there's no update on this i could pick it up. If that's okay with you.

[2022-01-20 15:41] oviecodes commented on #454
hey @ShadaW11 , what's the status on this

[2022-01-20 17:09] nextrapi opened #620 "Create a Real-Time Video Chat & Meeting Application With Amazon Chime SDK, Next-JS and Strapi [SUBMIT]"
**My resource**
Amazon Chime is a paid real-time communication service by amazon that [provides](https://aws.amazon.com/chime/chime-sdk/) a set of components that developers can use to quickly add messaging, audio, video, and screen sharing capabilities to their web or mobile applications.

In this tutorial, You will learn to leverage Amazon's communication infrastructure and services by connectin

[2022-01-20 17:31] nextrapi opened #621 "Create a Wifi Temperature Monitor System with Strapi, ESP8266 (Arduino IDE) and DHT22 [SUBMIT]"
**My resource**

IoT, microcontrollers and smart electronic systems are gaining popularity and becoming more affordable to create. ESP8266 development boards, are very similar to the famous Arduinos and allow you to effectively communicate with sensors and perform minor computations. Arduino's typically lack Wi-Fi and wireless connectivity, which the ESP8266 provides at a relatively low cost.

(Ca

[2022-01-22 17:38] Ambika-garg opened #625 "Getting places within specified range of km"

[2022-01-23 20:09] ihssanehatim opened #626 "My article about how to Create an ecommerce Website using React.js + Strapi + SnipCart"
[**Create your ecommerce Website using React.js + Strapi + SnipCart in under an hour**](https://brightshine.io/create-your-ecommerce-website-using-react-js-strapi-snipcart-in-under-an-hour/)

[2022-01-24 11:12] ShadaW11 commented on #539
Hello @willnode your article is reviewed and will be published soon. Please issue and submit your invoice. Thank you and looking forward to your next article.

[2022-01-24 11:19] ShadaW11 commented on #572
@Alex-husar I have not received your invoice yet. can you please send it asap. thank you

[2022-01-24 11:21] ShadaW11 commented on #431
Hey hey, no worries at all. @dpkreativ any update? your payment is still pending.

[2022-01-24 14:08] willnode commented on #539
Thanks for the good news @ShadaW11 .  I'll be waiting for the published URL link 😄

(also I'm sending you an email to ask about something, In case you haven't noticed it yet).

[2022-01-25 06:07] zaracooper commented on #458
Hey @ShadaW11 . [Here's Part 1.](https://www.dropbox.com/scl/fi/r7ysrosd5rabk5675cq9q/Draft-Strapi-v4-Authentication-and-Authorization-with-Angular-13-on-a-Quiz-App.paper?dl=0&rlkey=zr8dxbnc0m8zo6a94oayreh3i) I'm wrapping up on Part 2. Should be done in the next few days.

[2022-01-25 08:25] enosemi commented on #617
Hey @Revilush  I would love to take this topic

[2022-01-25 08:27] enosemi commented on #618
Hi @bhambrij-upwork  I will like to take this topic, I will send an outline to you soon

[2022-01-25 08:51] ShadaW11 commented on #458
Awesome thank you.

--

Shada Wehbe

Program Marketing Manager - Paris, France

Website <https://strapi.io/> | Get a demo <https://strapi.io/demo> | Roadmap
<https://portal.productboard.com/strapi/1-roadmap/tabs/2-under-consideration>

Before you go: Learn what is Strapi in just 3 minutes
<https://strapi.io/documentation/v3.x/getting-started/quick-start.html>

On Tue, Jan 25, 2022 at 7:07 AM Zara

[2022-01-25 08:52] ShadaW11 commented on #33
@adhamfarrag any update on this article?

[2022-01-25 08:53] ShadaW11 commented on #35
@prakash507979 unfortunately, we will have to give other authors the opportunity to work on this article.

[2022-01-25 10:05] ShadaW11 commented on #304
Hello @Mastersam07 yes it is definitely open, interested in this article?

[2022-01-25 11:10] ShadaW11 commented on #604
@Kunalgoel9 we have updated the tutorial with v4, I hope that helps

[2022-01-25 11:59] ShadaW11 commented on #542
Hello @lucky4242 yes, can you please check the comments left on your article and tackle them asap to prepare it for publishing?

[2022-01-25 16:15] Mastersam07 commented on #304
Yes, i am interested @ShadaW11

[2022-01-26 09:33] oliviaposch opened #628 "Deploying Strapi MySQL on a traditional Hosting Provider Tutorial"
Hi Everyone!

I am trying to find a way how to deploy Strapi using MySQL on a traditional Hosting Provider but I don't understand how to do this and I'm missing a guide.

🚀 If you can make the article or video for it , it will be awesome!

Thank you.

[2022-01-26 13:36] ShadaW11 commented on #542
@lucky4242 I saw that you started working on the comments. Please ping me once all are fixed.

[2022-01-26 14:18] Mcastres commented on #581
Hello @victor-baumann 👋
I wanted to give your plugin a try but there is an [error](https://github.com/victor-baumann/strapi-v4-tinymce-example/blob/9eb2e1f979e4bb220f3c585e8f4b5c0c2570a6d3/src/plugins/wysiwyg/admin/src/components/Wysiwyg/index.js#L90). This `TypographyAsterisk` component doesn't exists 🤔

[2022-01-26 20:07] dro-1 commented on #601
Hello @ShadaW11 , I've not gotten feedback since we last spoke.

[2022-01-27 07:37] Rajpolu opened #629 "Modern Web Performance"
### Outline

An Assessment of App Servers, CDNs, and Testing Methods

### Introduction
The process of building a new application, extending an existing solution, or providing new features should be considered a journey — a journey that does not end merely when the acceptance criteria are met. Solution architects, software engineers, and feature developers have a responsibility to deliver features

[2022-01-28 11:44] iamVictorSam commented on #589
I'll love to take up this topic.

The article will be on Flutter Authentication with Provider and Strapi

[2022-01-28 13:19] nextrapi commented on #628
Hi @oliviaposch, could you tell me what do you mean by a traditional hosting provider? You can deploy the MYSQL alone on Cpanel, and Plesk and connect it to your strapi hosted on a node platform. Hosting Strapi on a traditional hosting provider like the ones I mentioned will need ssh access.

[2022-01-28 13:22] nextrapi commented on #619
This guide can not be updated to v4 as Strapi does not support mongoDB anymore.

[2022-01-28 16:13] Kunalgoel9 commented on #604
this error is coming again

remote: ModuleNotFoundError: Module not found: Error: Can't resolve '@strapi/design-system/Carousel' in '/tmp/build_7a488f6f/node_modules/@strapi/plugin-upload/admin/src/components/MediaLibraryInput/Carousel'

[2022-01-29 18:18] foxleigh81 opened #633 "[UPDATE OUTDATED CONTENT] How to create an import content plugin (part 1/4)"
**Description**

**Link of the content**

https://strapi.io/blog/how-to-create-an-import-content-plugin-part-1-4

[2022-01-30 20:32] philipszdavido commented on #537
@ShadaW11 See the outline:

# Series

## Part 1: Building the backend

- Introduction
- What is strapi?
- What is the purpose of strapi?
- TikTok - Anlaysis
- Setting up strapi
- Creating the collections
- Conclusion

## Part 2: Authentication JWT setup

- What's Authentication?
- What's JWT?
- Strapi and Authentication
- Setting up the USers collection in Strapi
- Conclusion

## Part 3: Building

[2022-01-31 08:49] ShadaW11 commented on #542
Hello @lucky4242 thank you, I saw a few other comments pending by our reviewer. Can you please work on them, we planned on publishing the article today? Also can you please issue and submit your invoice

[2022-01-31 11:08] Vic-Orlands commented on #426
@ShadaW11

Still haven't gotten any reply since this and no one has tried reviewing the draft.

[2022-01-31 12:37] ShadaW11 commented on #604
can you please leave a comment under the article and please add the error above so the author can help you resolve it? https://strapi.io/blog/deploying-a-strapi-api-on-heroku

[2022-02-01 02:27] amirtds commented on #558
Hi @ShadaW11 Let me know please what do you think. Thanks

[2022-02-01 11:56] ShadaW11 commented on #542
@lucky4242 Thank you for addressing the comments, please issue and submit your invoice.

[2022-02-01 12:43] Alex-husar commented on #572
Hi Shada,
Hope you're doing well!

Sorry for such a late reply, I've been sick for a few weeks.

Could you send me some instructions on how to create an invoice?
And also I've noticed the mistake in the published article. It's in my Bio. Instead of the link to Onilab here's a part of URL.
![image](https://user-images.githubusercontent.com/81314237/151970153-86d18a3e-8743-4288-ba08-3862fabe593a.png

[2022-02-01 12:55] ShadaW11 commented on #426
Hello @Vic-Orlands I am extremely sorry for the delay. I have added your article in the top of our pipeline, your article will be reviewed in one working week. Please note that the reviewer will leave comments inside the dropbox article. Thank you

[2022-02-01 13:01] lucky4242 commented on #542
Hi
 @ShadaW11 invoice submitted.

[2022-02-01 17:13] flavea opened #634 "[SUBMIT] Complete Guide to Integrate Strapi v4 User Authentication in NextJS"
**My resource**

Hello, currently I am creating a NextJS base template that uses Strapi as a backend since I have been using it for several projects and it will be good to reuse a template instead. I think maybe I can create a complete tutorial on it to add more explanation on how things work in case others need it.

Here is the rough core outline:

- How to register
- How to login
- Using auth pr

[2022-02-01 17:44] #596 closed

[2022-02-02 05:29] omarkhairy21 opened #635 "[SUBMIT] Deploy starapi to AWS elastic beanstalk environment using pulumi(IaC)"
**My resource**

Hello, There are not many tutorials or guides on how to deploy strapi in different cloud providers especially AWS, I have deployed strapi to Heroku, GCP, and AWS. I would say AWS deployment was the hardest because it requires a lot of setups especially if we follow up deployment guide in the documentation so I think I can create a complete tutorial on how can we deploy strapi on A

[2022-02-02 13:53] punitGour opened #636 "how to deploy strapi cms on AWS EKS and using AWS managed postgres RDS as a database"

[2022-02-02 14:42] divofred opened #637 "[SUBMIT] Realtime chat application using Strapi, Next, Socket.io, and PostgreSQL"
**My resource**

**Introduction**

Sending and receiving text messages in recent times are frequently done online and in real-time. Text messages in real-time chat applications are sent and received immediately, depending on the speed of the router. Realtime messaging is very essential in chat applications and Socket.io grants us this privilege.

**Goal**

This article would be focused on integrat

[2022-02-02 21:02] cwray-tech opened #638 "[SUBMIT] Create a slug system in Strapi v4"
**My resource**

## Title: Create a slug system in Strapi v4
With the new UID field in V4 it is a lot easier to create a slug system in Strapi. I want to write an article sharing how to do that, as an update to the v3 guide in the Strapi Docs.

### Outline
- Background
- Strapi 3 Slug system
- Strapi v4 makes generating slugs easy
- Steps to generating slugs automatically in Strapi v4:
-- steps
-

[2022-02-03 10:04] ShadaW11 commented on #542
@lucky4242 please check again the resolved comments

[2022-02-03 17:54] alemarengo opened #639 "Installing strapi on Docker Compose"
I followed the guide [here](https://strapi.io/blog/how-to-self-host-your-headless-cms-using-docker-compose)
but this is what the terminal shows:
`ERROR: no matching manifest for linux/arm/v7 in the manifest list entries`
I tried to install it on a Raspberry Pi 4B, with `mysql  Ver 15.1 Distrib 10.3.31-MariaDB, for debian-linux-gnueabihf (armv8l) using readline 5.2`

[2022-02-03 19:40] lucky4242 commented on #542
hi
@ShadaW11 comments resolved

[2022-02-04 09:02] ShadaW11 commented on #542
Hello @lucky4242 great, one last thing missing, can you please add a link to the repo with the example code?

[2022-02-05 08:33] zaracooper commented on #458
Hey @ShadaW11 . [Here's Part 2.](https://www.dropbox.com/scl/fi/8xxop3hrweodj5bv2wn8x/Draft-Strapi-v4-authentication-and-authorization-with-Angular-13-on-a-quiz-app_-Part-2-Angular-app.paper?dl=0&rlkey=yxewy2xzi6lsd2ky1s52rm328) It took longer than expected because the app was pretty big and the changes took really long to describe.

[2022-02-05 13:38] AlexColibri opened #640 "[ISSUE]"
**The concerning content**
https://strapi.io/blog/build-a-blog-with-react-strapi-and-apollo

**Issue**

[2022-02-06 17:34] lucky4242 commented on #542
hello @ShadaW11
Github repo link  created

[2022-02-07 09:15] ShadaW11 commented on #561
Thank you @chyke007 your article has been reviewed and published. Please issue your invoice.

[2022-02-07 09:15] #561 closed

[2022-02-07 10:52] ShadaW11 commented on #539
Thank you @willnode  your invoice is well received.

[2022-02-07 10:52] #539 closed

[2022-02-07 11:02] ShadaW11 commented on #542
@lucky4242 I still can't see the repo link in the dropbox article? where exactly in the article did you add it?

[2022-02-07 11:53] ShadaW11 commented on #542
@lucky4242 great thank you, your article will be published this week.

[2022-02-07 12:05] ShadaW11 commented on #640
Hello @AlexColibri can you please clarify what the issue is? is it outdated?

[2022-02-07 12:06] ShadaW11 commented on #639
@alemarengo thank you for reporting the issue, can you please post it on the strapi forum or in discord and someone from the community or the team will help you out.

[2022-02-07 12:08] ShadaW11 commented on #637
Hello @divofred thank you for pitching your article interesting outline, im afraid we might have something similar already published in our blog, can you please take a look and confirm your article will have unique features?

[2022-02-07 12:09] ShadaW11 commented on #636
Hello @punitGour can you please include an outline of what you have in mind?

[2022-02-07 12:18] AlexColibri commented on #640
Yes, i think this not working with latest strapi version or query not
working with slug parameter. Is outdated

lun., 7 feb. 2022, 14:05 Shada ***@***.***> a scris:

[2022-02-07 12:28] Mcastres commented on #640
This article has been updated with Strapi v4 but it will appear on our next website deployment :)

[2022-02-07 12:28] #640 closed

[2022-02-07 14:00] divofred commented on #637
Hey @ShadaW11.

I took a look at a similar article like [this](https://strapi.io/blog/how-to-build-a-real-time-chat-forum-using-strapi-socket-io-react-and-mongo-db)

**Uniques Features**
- Authentication
  - Email Auth.
  - Token Auth.
  - Role Auth.
- A SQL database (PostgreSQL).
- Implementing Strapi V4 features.

If there are more features you will love to add, please do so.

Looking forward to

[2022-02-07 18:08] DemondAngel commented on #621
I am browsing in order to find information about this topic, actually I can help you, I have already mount a LM35 Temperature Sensor (I lost my DTH22) and my Strapi development, so I highly interested in your system. I can share you my code if you want to review it.

[2022-02-08 13:00] ShadaW11 commented on #635
@omarkhairy21 I love the outline however docket image is not currently working with strapi v4 therefore it won't be possible unfortunately right now to work on this article

[2022-02-08 13:02] ShadaW11 commented on #634
Hello @flavea interesting features but what is the tutorial that you will be building?

[2022-02-08 13:02] ShadaW11 commented on #633
@foxleigh81 thank you for reporting it. We are working on updating our content.

[2022-02-08 13:15] ShadaW11 commented on #629
Hey @Rajpolu thank you for the outline, can you please explain more the link of this outline with strapi.

[2022-02-08 13:16] #625 closed

[2022-02-08 13:17] ShadaW11 commented on #616
@zepxtor Yes, definitely we have it in our pipeline

[2022-02-08 13:21] ShadaW11 commented on #601
@dro-1 apologies for the delay. Feel free to go ahead and start working on the article.

[2022-02-08 13:23] ShadaW11 commented on #537
hello are you still @philipszdavido free to work on this?

[2022-02-08 13:26] #563 closed

[2022-02-08 13:27] ShadaW11 commented on #570
@Victory-ET any update on this article?

[2022-02-08 13:33] philipszdavido commented on #537
@ShadaW11 Yes, I'm free to work on it.

[2022-02-08 13:44] philipszdavido commented on #537
@ShadaW11 Once you approve this I start now ASAP.

[2022-02-08 14:37] Victory-ET commented on #570
Hi @ShadaW11 ,

Thanks for checking in on me. I will be making a submission on this next week.

[2022-02-08 15:05] ShadaW11 commented on #537
@philipszdavido can you please list the features that will be included in this app?

[2022-02-08 15:08] ShadaW11 commented on #634
@flavea thank you for getting back to me. It would be great if you can have these features included as part of an app? For example, we have tutorial that includes creating a blog with guest authors and the features you mentioned would be great. This tutorial already exist but maybe you can come up with a similar idea?

[2022-02-09 09:55] ShadaW11 commented on #213
@derrickmehaffy did you get a chance to check this

[2022-02-09 10:03] ShadaW11 commented on #292
@boulaffasae still ready to work on this topic?

[2022-02-09 10:04] ShadaW11 commented on #412
@oviecodes thanks, your article is being reviewed. I will get back to you as soon as possible with feedback.

[2022-02-09 10:06] ShadaW11 commented on #634
@flavea ah thank you for the detailed explanation. Makes sense. You can create a series of 2 parts, no need to have something really complicated but rather having the features within an app that matches one of the many use cases of Strapi. Feel free to suggest a few and I look forward to receiving your article.

[2022-02-09 10:07] ShadaW11 commented on #509
@daniloraisi any update? we would love to have your article published soon on our blog?

[2022-02-09 10:08] ShadaW11 commented on #58
@Quadrisheriff still ready to work on this topic?

[2022-02-09 10:09] ShadaW11 commented on #594
@Mcastres can you please check this?

[2022-02-09 10:11] ShadaW11 commented on #457
@oviecodes yesss, if you have time please go ahead and start working on it

[2022-02-09 10:43] Quadrisheriff commented on #58
yes,  I am available. I will start work on it right away.

[2022-02-09 11:16] ShadaW11 commented on #430
Hello @skarthikeyan96  its been around a month since we last discussed this. Are you free or shall @HellooShivamAgrawal take over?

[2022-02-09 11:18] ShadaW11 commented on #598
@prafull-qed42 do you have a link to an existing article that you'd like to be updated?

[2022-02-09 11:18] ShadaW11 commented on #588
@octalpixel any update?

[2022-02-09 11:35] ayhid commented on #592
What's the subject for this request ?

[2022-02-09 11:36] ShadaW11 commented on #603
Hello @SamoraCletus thank you for sharing the outline. I believe we have some of these features already on our blog, do you think you can expand the above outline and include them as part of an app?

[2022-02-09 11:38] ShadaW11 commented on #605
Hello @Saintdavidking a similar issue is open, I will be providing you the right to write this content if the other author doesn't get back to me in the next day or two. Thank you so much.

[2022-02-09 11:39] ShadaW11 commented on #609
@Muhtoyyib Thank you for pitching the outline, would you mind creating something more relevant to Strapi?

[2022-02-09 11:42] ShadaW11 commented on #606
@J-rayX Indeed, the article is updated by our community and is under review. The update should be published in the next week or two.

[2022-02-09 11:43] ayhid commented on #139
I am also interested in this topic. IMHO it has to be splitted in multiple articles.

[2022-02-09 12:05] SamoraCletus commented on #603
@ShadaW11
Thank you for your feedback, I could expand the scope of the tutorial to accommodate giving the user the ability to edit information about themselves i.e. Reading and writing ability, rather than just Reading (fetching and displaying alone).

[2022-02-09 12:14] Saintdavidking commented on #605
Alright, but when will the issues be updated for other options

[2022-02-09 13:37] Muhtoyyib commented on #609
Yes I would

On Wed, Feb 9, 2022 at 12:39 PM Shada ***@***.***> wrote:

[2022-02-09 13:53] philipszdavido commented on #537
@ShadaW11 OK, I will do that ASAP

[2022-02-09 14:59] Saintdavidking opened #641 "Topic: Understanding static HTML export in NextJS"
**My resource**
Hello 👋

Topic:
Using Java + Strapi Vs Python + Strapi, what to choose and difference btw the two top programming language with Strapi .

Outline:

**What do you all think?**

[2022-02-09 17:15] Mcastres commented on #594
Its live :)

[2022-02-09 17:15] #594 closed

[2022-02-09 17:45] maxiggle opened #642 "[SUBMIT] Implement Push Notification Building an Asset Manager using Strapi, Cron jobs, and Rest API"
**My resource**

**Overview:**

**Goal**
   In this tutorial, we will look at how we will implement notification in our asset manager application using cron jobs and RESTFUL
   API. We will be able to add assets, remove assets, delete assets, update assets, log transactions and view logs.
  We will also look at how to configure and set up this Jamstack application.

**Prerequisites:**:
In other to

[2022-02-09 19:04] skarthikeyan96 commented on #430
Hello @ShadaW11 Apologies on the delay, got busy with work. I completed the demo application. I have segregated the blog into 5 parts. I can submit part 1 and 2 of the blog for review by this weekened.

[2022-02-09 20:01] cwray-tech commented on #638
@ShadaW11 @malgamves I have this article already written, so if you would like I can submit a pr with it for review.

[2022-02-11 11:04] vivmagarwal commented on #618
Hi, @ShadaW11 I can take up the task of writing an article on this topic.

**Outline:**
- Introduction
- Creating custom Routes in Strapi
- Creating custom Controllers in Strapi
- Querying data from multiple collections
- Filtering Data
- Conclusion

[2022-02-12 07:47] Kunalgoel9 commented on #604
I have commented on the article

[2022-02-14 17:04] nimishbongale commented on #616
Can I potentially take this up @ShadaW11?

[2022-02-14 20:37] octalpixel commented on #588
Wrapping  up :D

[2022-02-15 03:08] vivmagarwal opened #661 "Article Proposal - Powerful & Flexible Plugin Creation with Strapi v4 [SUBMIT]"
**Powerful & Flexible way to create custom plugins with Strapi v4**

Over the last week, it took a lot of time to figure out most of the subtle changes in the way we create plugins in the new Strpai v4. I'd love to share my learnings.

**Outline**
- Introduction
- Important Developer API's
- Step by Step creating a custom Strapi Plugin
  - Routes
  - Controllers
  - Services
  - Settings API
  - F

[2022-02-15 11:58] dillionmegida commented on #617
Hi @Revilush can you provide more details about this topic? What it entail? What would be built?

[2022-02-15 16:00] xAgustin93 opened #665 "[SUBMIT] STRAPI V4 y todo lo que tiene 💯"
**My resource**
Aprende a usar Strapi v4 desde cero

**Video URL**
https://youtu.be/5oABPVjj3HA

**My content is**

- [X] A Strapi Tutorial / Guide / How to article
- [ ] About Headless, CMS, javascript, open source, or jamstack
- [ ] Other, specify

**What do you all think?**
❤️ I love it!
🚀 I can help you!

Thank you for submitting your article proposal.

[2022-02-15 16:01] xAgustin93 opened #666 "[SUBMIT] Strapi + MySQL en Google Cloud Platform 💯"
**My resource**
Conectar Srapi v4 con una base de datos MySQL creada en Google Cloud Platform

**Video URL**
https://youtu.be/Ds1ob78uZak

**My content is**

- [X] A Strapi Tutorial / Guide / How to article
- [ ] About Headless, CMS, javascript, open source, or jamstack
- [ ] Other, specify

**What do you all think?**
❤️ I love it!
🚀 I can help you!

Thank you for submitting your article proposal.

[2022-02-15 16:58] popoolatopzy commented on #574
@ShadaW11 the features of the application  will include:

Rating scales
random questions
Yes or No questions
localized question

[2022-02-16 09:44] oyedeletemitope opened #667 "[SUBMIT]Headless CMS As A Microservice"
**My resource**

Hello 👋

I'd love to write on these topic. Here is my outline:

Introduction
- What are microservice?
- How it works(its architecture)?
- Why is it important ?
- Headless Cms as a microservice?
- How does strapi standout( strapi as a microservice)
- Integrate strapi with pretty much everything
- conclusion

**My content is**

- [ ] A Strapi Tutorial / Guide / How to article
- [x]

[2022-02-16 18:17] Vic-Orlands commented on #426
Hello @ShadaW11 seems like I might just forget about the article because at this point, it is annoying and disappointing. This is the 3rd month and yet nothing.

[2022-02-17 09:19] malgamves commented on #426
Hey @Vic-Orlands we're a little understaffed but will get a reviewer on this today. Thanks for being so patient on this

[2022-02-17 09:42] ShadaW11 commented on #412
@oviecodes your article is approved please issue your invoice

[2022-02-17 10:18] Alex-husar commented on #572
Hi Shada,
Hope you're doing well!

Sorry for such a late reply, I've been sick for a few weeks.

Could you send me some instructions on how to create an invoice?
And also I've noticed the mistake in the published article. It's in my Bio.
Instead of the link to Onilab here's a part of URL.
[image: image]
<https://user-images.githubusercontent.com/81314237/151970153-86d18a3e-8743-4288-ba08-3862fabe5

[2022-02-17 12:31] xAgustin93 opened #668 "[SUBMIT] Strapi explorando el Plugin de comentarios 💬"
**My resource**
Conectar Srapi v4 con una base de datos MySQL creada en Google Cloud Platform

**Video URL**
https://youtu.be/OJGEIf5TTqk

**My content is**

- [X] A Strapi Tutorial / Guide / How to article
- [ ] About Headless, CMS, javascript, open source, or jamstack
- [ ] Other, specify

**What do you all think?**
❤️ I love it!
🚀 I can help you!

Thank you for submitting your article proposal.

[2022-02-17 15:09] cosydney opened #669 "[SUBMIT] How we use Strapi Policy at Axolo"
**My resource**

Hey,

I've personnaly used Strapi for a few years and only started using Strapi Policy until recently. Would love to share how we use Strapi policy at our company (axolo.co) and may be inspire more developers to use that part of Strapi.

Let me know if you think this would be relevant. You can see some of what we wrote on our blog on https://axolo.co/blog

Regards,

Sydney

**My c

[2022-02-17 19:51] Victory-ET commented on #570
Hi @ShadaW11,

I am done writing the draft for the article, here is a link to the article written using Dropbox:
[Building a Hospital Records app](https://www.dropbox.com/scl/fi/g20eb2870j4atp6um4bgt/Building-a-Hospital-Record-App-with-Strapi-CMS.paper?dl=0&rlkey=1l6oex6tsp3qrl65sdu667j63)

[2022-02-17 22:51] noctufaber opened #670 "[Request] How to setup amazon s3 upload provider plugin - Strapi v4"
**My Request**
The amazon s3 upload provider tutorials (https://strapi.io/tutorials) are way out of date. Can you please provide a version 4 tutorial to setup amazon s3 upload provider plugin?

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-02-18 22:35] JamesIde opened #672 "[REQUEST] Blazor WASM Strapi Tutorial"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-02-23 00:55] Ethiel97 opened #676 "[SUBMIT] Flutter Authentication with Strapi"
The article is about how to build a Flutter mobile app with an authentication system backed by Strapi. After authenticating the user, he will be directed to a home page.

Outline
Introduction
What is Authentication
What is Flutter
Setting up a Strapi project
Integrating Strapi authentication API with Flutter
Display list of items in Flutter app home page
Conclusion

**My content is**

- [ ] A Stra

[2022-02-23 11:22] malgamves commented on #676
Hey @Ethiel97

why are you setting up Gridsome/Nuxt project in this app?
I would love it if you could add more functionality to your app besides a home page. Can you display list of items and implement something like infinite scroll in the app?
Will user registration happen on app to?

Would love to more concise description.

[2022-02-23 11:23] malgamves commented on #672
Hey @JamesIde that seems pretty interesting.

Could you share more details about the article outline and what you will cover?

[2022-02-23 11:27] Ethiel97 commented on #676
Sorry! it was en error. I've removed it.
Yes I can implement a display of list items. But would like to implement this in another tutorial like " Consume your Strapi API with Flutter or Build your Todo app with Flutter and Strapi". What do you think ?

[2022-02-23 11:30] malgamves commented on #669
Hey @cosydney this seems interesting. We don't have a lot on this.

Could you share a more concise outline of your use case as well as how you plan on structuring the article?

[2022-02-23 11:32] malgamves commented on #667
Hey @oyedeletemitope this is a cool concept.

Will you build anything to back your arguement?

[2022-02-23 11:32] Ethiel97 commented on #676
So I can write this tutorial, that's why I've submitted it :) @malgamves

[2022-02-23 11:38] malgamves commented on #618
Hey @vivmagarwal

I love the idea! Go for it. Would love to see this.

[2022-02-23 11:41] malgamves commented on #620
very concise! Love it - go ahead @nextrapi - when will you have a draft?

[2022-02-23 11:42] malgamves commented on #621
This looks pretty cool! You can put purchase links but heads up they can't be affiliate links. If that is okay with you, you can go ahead @nextrapi

[2022-02-23 11:50] malgamves commented on #626
Hey @ihssanehatim this is pretty cool! If you'd like to update your article to work with v4, we can publish it on our blog 🎊

[2022-02-23 11:55] malgamves commented on #637
Hey @divofred awesome, when will you have a draft?

[2022-02-23 11:56] malgamves commented on #638
Hey @cwray-tech could you send a link to the dropbox and we'll get it reviewed!

[2022-02-23 11:58] malgamves commented on #641
Thanks for your submission, I don't think this content is relevant for our audience. I'll close the issue. Happy to re-open if you have a different idea.

[2022-02-23 11:59] malgamves commented on #642
Super cool post @Maxiggle - when can you have a draft ready?

[2022-02-23 12:00] malgamves commented on #661
hey @vivmagarwal this is awesome! What plugin will you build? Love how you're covering all these aspects!

[2022-02-23 12:02] malgamves commented on #569
Hey @octalpixel you can go ahead now and write this! Are you still interested?

[2022-02-23 12:03] malgamves commented on #570
Thanks @Victory-ET we'll have someone take a look.

[2022-02-23 12:11] malgamves commented on #576
hey @popoolatopzy you can go ahead with this.

I'd like to know what specific differences you'll point out between v4 and v3.

[2022-02-23 12:13] malgamves commented on #588
Hey @octalpixel do share a link here when it's ready!

[2022-02-23 12:16] #592 closed

[2022-02-23 12:18] malgamves commented on #599
hey @luisguve love this!

Can you add a section talking about comments and their importance in a content workflow / how they help with collaboration?

[2022-02-23 12:20] malgamves commented on #600
hey @pmeaney would you be willing to write this article(s)? you bring up some valid points. There is room for what you're requesting.

[2022-02-23 12:25] malgamves commented on #609
Thanks for your submission, will close this issue now :)

[2022-02-23 12:25] #609 closed

[2022-02-23 12:26] #617 closed

[2022-02-23 12:32] malgamves commented on #676
I think we can add the list of items in this tutorial too - if you can let's go ahead!

[2022-02-23 12:36] Ethiel97 commented on #676
Yes I can for sure

[2022-02-23 13:45] luisguve commented on #599
@malgamves I actually talk a little bit about that in the introduction section, seemed to be the right place to put it:

What are your thoughts?

[2022-02-23 16:29] vivmagarwal commented on #661
Hi, @malgamves I'm working on updating the following blog: https://strapi.io/blog/how-to-build-a-strapi-custom-plugin. So the plugin would be allowing users to send an email directly from the plugin page. I will add a few more features to the plugin to introduce some more APIs. I think once it's updated, I'll add the link to the blog post here and we'll be good to close this issue.

[2022-02-23 18:57] oyedeletemitope commented on #667
Hello @malgamves I won't be building anything as this article is just showing how microservice works and the role headless CMS plays in microservice.

[2022-02-23 19:16] ihssanehatim commented on #626
@malgamves can you check now?

[2022-02-23 22:05] JamesIde commented on #672
Hello @malgamves. What I mean was, I was hoping someone could create a tutorial on how to use Strapi with Blazor projects.
Someone already created a tutorial, but the code is not updated to .net 6 and does not work even with .net 5. [https://strapi.io/blog/how-to-build-a-blog-using-blazor-wasm-and-strapi](url)

I tried to get it linked up, but eventually moved to Contentful due to there being ampl

[2022-02-24 06:43] nextrapi opened #677 "Jumpstart Your JavaScript Developer Career with Strapi (Node.js) and Next.js (React) [SUBMIT]"
**My resource**
This is an article intended for developers who are looking to become web/javascript developers. It will not contain actual code, but rather information tailored for people who may not have a web development background but are seeking related resources (famous/standard websites such as Wikipedia/Mozilla). The tone/strategy is high-level at first, explains the background & web develo

[2022-02-24 11:13] Ethiel97 commented on #676
@malgamves what's the next step please?

[2022-02-24 13:39] malgamves commented on #676
Please follow these [guidelines](https://docs.google.com/document/d/1IfzUSFz0eAuVBNr7Hc2QCS5sqVGNF4QLmjhbZtC9rr8/edit) to write an article and share a draft when ready @Ethiel97

[2022-02-24 13:40] malgamves commented on #638
You can share it here @cwray-tech

[2022-02-24 13:41] malgamves commented on #599
love it, could you follow [guidelines](https://docs.google.com/document/d/1IfzUSFz0eAuVBNr7Hc2QCS5sqVGNF4QLmjhbZtC9rr8/edit) while writing and submit and article draft here when done @luisguve

[2022-02-24 13:42] malgamves commented on #661
Could you come up with another usecase? or do you mean you are working on updating that article @vivmagarwal

[2022-02-24 13:49] ihssanehatim commented on #626
Please, have you cleared the cache on the website (you can refresh mutliple times or just ctrl+refresh) , this is what I have now :
<img width="879" alt="Screen Shot 2022-02-24 at 14 47 27" src="https://user-images.githubusercontent.com/52088496/155536225-6a9f1d10-f625-42f4-bfa9-c80b79d65cfb.png">

[2022-02-24 14:38] oyedeletemitope commented on #667
Can I proceed with the article?

[2022-02-24 14:47] vivmagarwal commented on #661
Yes, @malgamves I am working on updating the article. In case you have a great use-case, I'll be happy to create a plugin first and then write on it!!

[2022-02-24 14:52] Ethiel97 commented on #676
Ok great. I'll get back to you with a draft soon

[2022-02-24 15:37] cwray-tech commented on #638
@malgamves https://www.dropbox.com/scl/fi/mftz8zn97i4bq2mx15c9f/Create-a-slug-system-in-Strapi-v4.paper?dl=0&rlkey=0b2qkdsdg2v1gi5b9u2rxized

Thank you!

[2022-02-24 16:20] octalpixel commented on #569
Sure, I am still willing to write it. Will take this up next

[2022-02-25 20:19] nextrapi commented on #672
Hello!
I am willing to take on this article. I just spend a bit of time of Blazor (Thank you for introducing it to me) and I am confident to write a small article on how create a web application with strapi as a content management system + Blazor for frontend. I propose the following article and structure:

How to Build a To-Do List with ASP.NET Blazor, TailwindCSS JIT and Strapi CMS
- Setup Blazo

[2022-02-25 20:35] nextrapi commented on #620
Hello! My first draft will be in 10 or so days.

[2022-02-25 21:26] JamesIde commented on #672
Sounds awesome. Looking forward to reading it!

[2022-02-26 12:52] vivmagarwal commented on #618
@malgamves here it is: https://www.dropbox.com/scl/fi/je5rbogod9rt716cs9nb8/How-to-Create-a-Custom-API-End-point-in-Strapi.paper?dl=0&rlkey=5er3brsx1g0qt1ss40oa817pi 🚀

[2022-02-26 14:11] divofred commented on #637
Hey @malgamves,

The draft will be ready in 2-3 weeks.
What do you think?

[2022-02-27 03:12] Maxiggle commented on #642
Sorry for the late reply, I just got saw this reply.
I will get it ready by next week friday

[2022-02-27 13:45] Vic-Orlands commented on #426
Okay, no problem

[2022-02-28 05:18] PaulRichez commented on #637
Hey @divofred, nice, I look forward, i need it :)

[2022-02-28 10:14] #542 closed

[2022-02-28 10:18] malgamves commented on #672
Hey @nextrapi looks good to me! When do you think you'll have a draft out?

[2022-02-28 10:20] malgamves commented on #638
Awesome @cwray-tech someone is on it!

[2022-02-28 10:21] malgamves commented on #661
Could we do do something with Twilio or Courier? Sending notifications in Strapi? @vivmagarwal

[2022-02-28 10:23] malgamves commented on #667
Hey i'm not really sure I get the main take away of the article. It is using a Headless CMS as an additional micro-service in a micro service architecture? What are you hoping readers better understand after seeing this?

[2022-02-28 10:24] malgamves commented on #58
@Quadrisheriff how will you implement the work arounds? Controllers? Plugins?

[2022-02-28 10:33] malgamves commented on #139
Hey @ayhid could you share more? Afaik Serverless Strapi isn't really a best practice.

[2022-02-28 10:55] oyedeletemitope commented on #667
Microservices employ the use of a headless CMS to provide speed, flexibility. consistent user experience. After reading this article, the user will be able to
- understand why using a microservice is better than just using a monolithic service.
- The role a headless CMS plays in a microservice architecture.
- How Strapi fulfills this role

[2022-02-28 12:35] ihssanehatim commented on #626
Thank you @malgamves 💯 , sure I'll keep you posted if I have any;
May I have the link once it's published on the blog ?

[2022-02-28 14:09] vivmagarwal commented on #661
Sure thing, I will surely explore it in the upcoming weekend. Thanks for the suggestion @malgamves

[2022-02-28 23:16] popoolatopzy commented on #576
Hello @malgamves this is the link to the article draft,
https://www.dropbox.com/scl/fi/dltl4pqw7fetcmvyy75io/What-is-new-in-strapi-v4.paper?dl=0&rlkey=z1b4uertx58gy8b2xuha13vou

[2022-03-02 10:40] Alex-husar opened #695 "Guest article [Headless CMS and No-Code Website Builders: What to Choose?] link replacement request"
**The concerning content**

**Issue**

[2022-03-02 16:39] divofred commented on #637
@malgamves @ShadaW11 Can I start working on the draft?

[2022-03-02 19:14] lucky4242 opened #696 "Understanding the Different Types/Categories of Strapi Hooks[UPDATE]"
**My update**

Hello 👋 @malgamves

This article is among the first 50 tutorials to be updated, and it has been updated, reviewed, and ready to be published, but I can get in touch with shade any longer.
here is the link to the article
 https://www.dropbox.com/scl/fi/aq1xj70kb77cl50bvu7ga/Understanding-the-Different-TypesCategories-of-Strapi-Hooks.paper?dl=0&rlkey=ye7vhvxiw7ztz83u26uvp0rta

I belie

[2022-03-03 12:42] ShadaW11 opened #697 "How to Create a Blog with SvelteKit and Strapi"
Initial article
https://strapi.io/blog/how-to-create-a-blog-with-svelte-kit-strapi

Dropboxlink - v4 update
https://www.dropbox.com/scl/fi/vm3wpgxjpp7fv7da76lsr/How-to-Create-a-Blog-with-SvelteKit-and-Strapi.paper?dl=0&rlkey=iw2s4f1w949bm9teu7hhxsyji

[2022-03-03 17:42] Xemarij commented on #628
I can give it a short and write a guide for it. I am a technical and tech writer who is new to Strapi.

[2022-03-04 08:27] s3-interdev opened #702 "[UPDATE OUTDATED CONTENT] in Creating a Strapi Dynamic Zone & Rendering it in your Nuxt.js App? May be even use the same project to work with REST instead of GraphQL"
**Description**

**Link of the content**

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-03-04 08:51] mpalsule opened #703 "[REQUEST]"
A tutorial on creating custom plugin and using it in a specific folder in the source file instead of using it at the root of the project

[2022-03-04 10:04] Saintdavidking commented on #641
OUTLINE:
 brief overview of HTML
 Why use static HTML
 Using static HTML import inNext.JS
 Next.JS Static HTML Export Supported Features
 Next.JS Static HTML Import nonvalid Features
 Code Portability
 SEO benefits
 Improved First Paint Times

[2022-03-04 10:04] #641 closed

[2022-03-04 10:07] Saintdavidking opened #704 "Understanding static HTML export in NextJS"
**My resource**

Hello 👋
OUTLINE:
brief overview of HTML
Why use static HTML
Using static HTML import inNext.JS
Next.JS Static HTML Export Supported Features
Next.JS Static HTML Import nonvalid Features
Code Portability
SEO benefits
Improved First Paint Times

**What do you all think?**
❤️ I love it!
🚀 I can help you!

[2022-03-04 12:11] zaracooper commented on #604
@ShadaW11 could I work on this?

[2022-03-04 12:14] zaracooper commented on #611
@ShadaW11 could I update this?

[2022-03-04 16:40] Victory-ET commented on #570
Hi @malgamves my article has been reviewed by the person assigned. What's the next step please

[2022-03-05 06:25] nextrapi commented on #672
Hi, draft will be ready by March 10th!

[2022-03-05 17:16] oviecodes commented on #457
Okay @ShadaW11

[2022-03-07 13:16] jamesaduke opened #705 "[REQUEST] HOW TO SET UP AN ECOMMERCE FOR REACT"
SET UP REACT E-COMMERCE USING POSTGRESQL

[2022-03-07 14:33] lucky4242 opened #706 "Tutorial: Developing a Meme Generator with React and Strapi v4"
Hello 👋

This tutorial explains in full how to generate memes from strapi,  and how to design a meme generator.

Here is an example:
Outline
Introduction
Goals
prerequisite
what is Meme Generator
Creating a new react app
designing our front-end
Setting up a Strapi project
Integrating meme with strapi
Generating meme from strapi back-end
Testing our project
Conclusion

**My content is**

- [ ] A St

[2022-03-08 08:42] oyedeletemitope commented on #667
so @malgamves, what do you think?

[2022-03-09 07:42] RAzaALy opened #711 "Master Strapi With MERN"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-03-09 09:15] malgamves commented on #576
Thanks, we'll have this reviewed @popoolatopzy

[2022-03-09 09:20] malgamves opened #712 "[UPDATE] Strapi Authentication in Nuxt.js"
Hello 👋

This [article](https://strapi.io/blog/strapi-authentication-in-nuxt-js) is outdated.

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-09 20:45] boulaffasae commented on #292
Hi @ShadaW11, Yes sure !!

[2022-03-11 07:59] enosemi opened #717 "User authentication using Strapi"
The link below is an outline for the topic

https://www.dropbox.com/scl/fi/dhh9obo891inbg43rokxu/Understanding-User-Authentication-in-Strapi.paper?dl=0&rlkey=1cxutrrwr7hzl3xxs3nr8q1xa

Will like to get your feedback.

[2022-03-11 09:59] cosydney commented on #669
Let me know !

[2022-03-11 10:00] cosydney commented on #669
Let me know @malgamves

[2022-03-12 20:40] Mehrdad-Dehghanzadeh commented on #101
if you use MySql Version 8 you must reconfigure to authentication method to legacy
![image](https://user-images.githubusercontent.com/77623680/158034246-12e89bb9-b5cc-433f-92eb-8735833a93d2.png)

[2022-03-13 23:01] JamesIde commented on #672
How is the draft coming along?

[2022-03-14 23:20] TiaraOluwanimi opened #718 "[UPDATE] Build a Static Blog website using Gatsby and Strapi"
Hello 👋

This [article](https://strapi.io/blog/building-a-static-website-using-gatsby-and-strapi) is outdated and needs to be updated.

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-14 23:23] TiaraOluwanimi opened #719 "[UPDATE] How to deploy a Strapi API on Ubuntu 16.04"
Hello 👋

This [article](https://strapi.io/blog/how-to-deploy-a-strapi-application) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-14 23:24] TiaraOluwanimi opened #720 "[UPDATE] Building a static blog using Jekyll and Strapi"
Hello 👋

This [article](https://strapi.io/blog/building-a-static-website-using-jekyll-and-strapi) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-14 23:26] TiaraOluwanimi opened #721 "[UPDATE] Deploying a Strapi API on Heroku in 5 min"
Hello 👋

This [article](https://strapi.io/blog/deploying-a-strapi-api-on-heroku) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-14 23:28] TiaraOluwanimi opened #722 "[UPDATE] Deliveroo clone with Nuxt, GraphQL, Strapi and Stripe (7/7)"
Hello 👋

This [article](https://strapi.io/blog/cooking-a-deliveroo-clone-with-nuxt-vue-js-graphql-strapi-and-stripe-bonus-deploy-part-7-7) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-14 23:34] TiaraOluwanimi opened #723 "[UPDATE] Deliveroo clone with Next.js, GraphQL, Strapi and Stripe - Setup (1/7)"
Hello 👋

This [article](https://strapi.io/blog/strapi-next-setup) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-14 23:36] TiaraOluwanimi opened #724 "[UPDATE] strapi@3.0.0-alpha.26 - Filter on deeply nested objects"
Hello 👋

This [article](https://strapi.io/blog/deep-filtering-alpha-26) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-14 23:38] TiaraOluwanimi opened #725 "[UPDATE] Build a blog with Nuxt (Vue.js), Strapi and Apollo"
Hello 👋

This [article](https://strapi.io/blog/build-a-blog-using-nuxt-strapi-and-apollo) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-14 23:41] TiaraOluwanimi opened #726 "[UPDATE] How to create an import content plugin (part 1/4)"
Hello 👋

This [article](https://strapi.io/blog/how-to-create-your-own-plugin-part-1-4) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-14 23:43] TiaraOluwanimi opened #727 "[UPDATE] Build a blog with Next (React.js) and Strapi"
Hello 👋

This [article](https://strapi.io/blog/build-a-blog-with-next-react-js-strapi) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-14 23:45] TiaraOluwanimi opened #728 "[UPDATE] Build a blog with Angular, Strapi and Apollo"
Hello 👋

This [article](https://strapi.io/blog/build-a-blog-with-angular-js-strapi-and-apollo) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-14 23:47] TiaraOluwanimi opened #729 "[UPDATE] Build a blog with React, Strapi and Apollo"
Hello 👋

This [article](https://strapi.io/blog/build-a-blog-with-react-strapi-and-apollo) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-14 23:49] TiaraOluwanimi opened #730 "[UPDATE] Strapi Starter React Blog"
Hello 👋

This [article](https://strapi.io/blog/strapi-starter-react-blog) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-14 23:51] TiaraOluwanimi opened #731 "[UPDATE] Webhooks explained and how to use them in Strapi"
Hello 👋

This [article](https://strapi.io/blog/webhooks) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-14 23:54] TiaraOluwanimi opened #732 "[UPDATE] Build a static blog with Gatsby and Strapi"
Hello 👋

This [article](https://strapi.io/blog/build-a-static-blog-with-gatsby-and-strapi) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-14 23:55] TiaraOluwanimi opened #733 "[UPDATE] Build a blog with Vue, Strapi and Apollo"
Hello 👋

This [article](https://strapi.io/blog/build-a-blog-with-vue-strapi-and-apollo) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-14 23:57] TiaraOluwanimi opened #734 "[UPDATE] How to run a Strapi dev stack with Docker compose"
Hello 👋

This [article](https://strapi.io/blog/how-to-run-a-strapi-dev-stack-with-docker-compose) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-14 23:59] TiaraOluwanimi opened #735 "[UPDATE] Create a food ordering app with Strapi and Next.js (1/7)"
Hello 👋

This [article](https://strapi.io/blog/nextjs-react-hooks-strapi-food-app-1) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:01] TiaraOluwanimi opened #736 "[UPDATE] Creating a Strapi Dynamic Zone & Rendering it in your Nuxt.js App"
Hello 👋

This [article](https://strapi.io/blog/creating-strapi-dynamic-zone-in-nuxtjs-app) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:03] TiaraOluwanimi opened #737 "[UPDATE] Strapi Authentication in Nuxt.js"
Hello 👋

This [article](https://strapi.io/blog/strapi-authentication-in-nuxt-js) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:04] TiaraOluwanimi opened #738 "[UPDATE] Configuring Strapi and MySQL"
Hello 👋

This [article](https://strapi.io/blog/configuring-strapi-mysql-database) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:06] TiaraOluwanimi opened #739 "[UPDATE] How to change the default WYSIWYG to Quill Editor"
Hello 👋

This [article](https://strapi.io/blog/how-to-change-the-default-wysiwy-to-quill-editor) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:07] TiaraOluwanimi opened #740 "[UPDATE] Add Cloudinary support to your Strapi Application"
Hello 👋

This [article](https://strapi.io/blog/adding-cloudinary-support-to-your-strapi-application) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:09] TiaraOluwanimi opened #741 "[UPDATE] How I Hosted my Strapi CMS Driven Website for Free"
Hello 👋

This [article](https://strapi.io/blog/how-i-hosted-my-strapi-cms-driven-website-for-free) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:11] TiaraOluwanimi opened #742 "[UPDATE] User Authentication in Next.js with Strapi"
Hello 👋

This [article](https://strapi.io/blog/user-authentication-in-next-js-with-strapi) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:13] TiaraOluwanimi opened #743 "[UPDATE] Understanding the different types/categories of Strapi Hooks"
Hello 👋

This [article](https://strapi.io/blog/understanding-the-different-types-categories-of-strapi-hooks) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:15] TiaraOluwanimi opened #744 "[UPDATE] How to build an E-commerce Store with Nuxt.js and Strapi"
Hello 👋

This [article](https://strapi.io/blog/how-to-build-an-e-commerce-store-with-nuxt-js-and-strapi) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:17] TiaraOluwanimi opened #745 "[UPDATE] How to use the @nuxtjs/strapi Module to add Authentication to a Nuxt Application"
Hello 👋

This [article](https://strapi.io/blog/how-to-use-the-nuxt-strapi-module-to-add-authentication-to-a-nuxt-application) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:19] TiaraOluwanimi opened #746 "[UPDATE] A Bite-sized Guide to Content Modelling in Strapi"
Hello 👋

This [article](https://strapi.io/blog/content-modelling-bite-sized-guide) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:25] TiaraOluwanimi opened #747 "[UPDATE] Headless CMS and Strapi SEO best practices"
Hello 👋

This [article](https://strapi.io/blog/headless-cms-strapi-seo-best-practices) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:27] TiaraOluwanimi opened #748 "[UPDATE] How to build a Strapi Custom Plugin"
Hello 👋

This [article](https://strapi.io/blog/how-to-build-a-strapi-custom-plugin) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:28] TiaraOluwanimi opened #749 "[UPDATE] Learning Strapi Authentication Flows with the Facebook Provider"
Hello 👋

This [article](https://strapi.io/blog/learning-strapi-authentication-flows-facebook-provider) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:30] TiaraOluwanimi opened #750 "[UPDATE] How to build a To-do App using Next.js and Strapi"
Hello 👋

This [article](https://strapi.io/blog/how-to-build-a-to-do-app-using-next-js-and-strapi) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:32] TiaraOluwanimi opened #751 "[UPDATE] How to Build a Learning Platform with Strapi CMS and Gridsome"
Hello 👋

This [article](https://strapi.io/blog/how-to-build-a-learning-platform-with-strapi-cms-and-gridsome-1) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:33] TiaraOluwanimi opened #752 "[UPDATE] How to Build a Podcast app using Strapi and Nextjs"
Hello 👋

This [article](https://strapi.io/blog/how-to-build-a-podcast-app-using-strapi-and-nextjs) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:35] TiaraOluwanimi opened #753 "[UPDATE] How to Build a CSS Tricks Website Clone with Strapi and Next.js"
Hello 👋

This [article](https://strapi.io/blog/building-a-css-tricks-website-clone-with-strapi-next-js) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:36] TiaraOluwanimi opened #754 "[UPDATE] How to Build a Secure To-do App using Nuxt.js, Strapi, and Magic"
Hello 👋

This [article](https://strapi.io/blog/how-to-build-a-secure-to-do-app-using-nuxt-js-strapi-magic) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:37] TiaraOluwanimi opened #755 "[UPDATE] How to Build a CRUD App with React and a Headless CMS"
Hello 👋

This [article](https://strapi.io/blog/how-to-build-a-crud-app-with-react-and-a-headless-cms) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:40] TiaraOluwanimi opened #756 "[UPDATE] Build a To-Do App with Strapi GraphQL Plugin and Flutter"
Hello 👋

This [article](https://strapi.io/blog/build-a-to-do-app-with-strapi-graph-ql-plugin-and-flutter) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:42] TiaraOluwanimi opened #757 "[UPDATE] Social Authentication with Strapi & Nuxt.js: Getting Started (1/3)"
Hello 👋

This [article](https://strapi.io/blog/social-authentication-with-strapi-and-nuxt-js-getting-started) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:43] TiaraOluwanimi opened #758 "[UPDATE] Pagination in Strapi using GraphQL"
Hello 👋

This [article](https://strapi.io/blog/pagination-in-strapi-using-graph-ql) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:44] TiaraOluwanimi opened #759 "[UPDATE] How to Create a Blog with SvelteKit and Strapi"
Hello 👋

This [article](https://strapi.io/blog/how-to-create-a-blog-with-svelte-kit-strapi) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:46] TiaraOluwanimi opened #760 "[UPDATE] The new way to generate a Strapi application"
Hello 👋

This [article](https://strapi.io/blog/the-new-way-to-generate-a-strapi-application) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:47] TiaraOluwanimi opened #761 "[UPDATE] A Beginners Guide to Authentication and Authorization in Strapi"
Hello 👋

This [article](https://strapi.io/blog/a-beginners-guide-to-authentication-and-authorization-in-strapi) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:49] TiaraOluwanimi opened #762 "[UPDATE] Understanding and Using Relations in Strapi"
Hello 👋

This [article](https://strapi.io/blog/understanding-and-using-relations-in-strapi) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 00:50] TiaraOluwanimi opened #763 "[UPDATE] Building an Ecommerce Website with Jekyll, Strapi, Snipcart and Tailwind CSS (1 of 5)"
Hello 👋

This [article](https://strapi.io/blog/building-an-ecommerce-website-with-jekyll-strapi-snipcart-and-tailwind-css-1-of-5) is outdated and needs to be updated.

What do you all think?
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-03-15 10:26] #667 closed

[2022-03-15 10:32] oyedeletemitope opened #764 "[SUBMIT]BUILD A 3D PORTFOLIO WEBSITE WITH VITE, REACT,THREE.JS AND STRAPI"
**My resource**

The most visually mind-blowing website in the world all tend to follow a similar pattern. They use 3d animations that bring the content to life when a page is scrolled. In this tutorial, we’ll build a 3d portfolio using Vite, React, Three.js and Strapi. A portfolio is a collection of photos or photographs of examples of your works used when entering competitions or applying for jo

[2022-03-15 16:24] ayhid commented on #633
@ShadaW11 I am interested in the article can I make the updates or it has to be the original author who makes it ?

[2022-03-16 00:48] zepxtor commented on #616
@ShadaW11 could @nimishbongale update it? Thanks!

[2022-03-18 06:25] nextrapi commented on #672
Hey, I need a bit more time to finish the writing but I should be able to upload the code by tonight. Here is a short list and GIF of what I covered:

- JWT Authentication with Strapi (Login,Register)
- Blazor Forms and Validation
- Global Error/Notification Management with Toasts
- Restricted Views
- State Management
- Update/Delete/Create Strapi Data
- Dynamic Routes
- Timer/Countdowns/Loading S

[2022-03-18 06:28] #677 closed

[2022-03-18 06:29] nextrapi commented on #711
MERN refers to MERN stands for MongoDB, Express, React, Node.

Strapi does not support MongoDB anymore as of V4. It also uses Koa.JS instead of Express.

[2022-03-19 07:13] #704 closed

[2022-03-19 07:14] Saintdavidking commented on #704
If the issue is available i can then reopen it but is like it doesn't fit in current strapi requirements

[2022-03-19 07:17] Saintdavidking opened #768 "[Static website vs Dynamic website]"
Proposed Topic:  Static website vs Dynamic website

I will drop outline if the topic is approved, i hope it is approved

[2022-03-22 09:28] malgamves commented on #626
hey @ihssanehatim sorry for the misquote, I meant that we only publish content on our blog that hasn't been published anywhere else so we can't publish your post.

[2022-03-22 09:29] malgamves commented on #661
hey @vivmagarwal how is this going?

[2022-03-22 09:30] malgamves commented on #672
No worries, looks super cool and concise so far. Ping here when done @nextrapi

[2022-03-22 09:31] malgamves commented on #101
Looks like we'll have to update this article @Mehrdad-Dehghanzadeh ?

[2022-03-22 09:32] malgamves commented on #669
hey @cosydney will you have code examples for this? will people learn how to use policies in Strapi or learn how you implement policies in Strapi? Can we make the article do both?

[2022-03-22 09:33] malgamves commented on #637
hey @divofred how is this going?

[2022-03-22 12:05] Humjerry commented on #610
Hi @ShadaW11 i'm intrested in writing this article.
I'll appreciate it if you could help me get started with it.

My outline is provided below:

Introduction.
Creating a new Strapi project
Creating our Multilingual Content Type.
Localizing content

Connecting Strapi API to front-end
  - Creating the routes.
  - Create the Pages.
  - Fetch the pages in the frontend and render multiligua contents

[2022-03-22 12:55] vivmagarwal commented on #661
Hi @malgamves , as I updated in the discord channel,
I'm occupied with a project this month, I'll be taking this up the next month

[2022-03-22 13:52] Vic-Orlands commented on #760
Can I write on the update, i.e if it is free

[2022-03-22 18:29] nextrapi commented on #672
Thank you,  I am working on a few at the same time and I should have them all done soon.

I had a question, I have been reading through the [strapi handbook](https://handbook.strapi.io/user-success-manual/strapi-documentation-style-guide), and I was wondering if I can use the markdown components used in the documentation in blog posts or if I should keep it to just basic markdown components.

[2022-03-23 15:09] chyke007 commented on #753
This article has been updated @TiaraOluwanimi

[2022-03-24 07:37] Quadrisheriff commented on #58
I will do that with plugins @malgamves, I plan to use the following plugins plus some other ones to set up a publication workflow -
1) https://github.com/ComfortablyCoding/strapi-plugin-publisher
2) https://market.strapi.io/plugins/strapi-plugin-react-editorjs
3)https://market.strapi.io/plugins/strapi-plugin-preview-button

All the plugins are v4 compatible, so I shouldn't have any problem creatin

[2022-03-24 15:39] phuong999 commented on #444
I tried to follow this tutorial however this tutorial does not work and is very unclear. I have cloned the code from github and also not working as explained by this article. At the and I achieved what i wanted but this tutorial needs to be updated.

[2022-03-25 12:23] ShadaW11 commented on #743
article is updated

[2022-03-25 12:23] #743 closed

[2022-03-25 12:36] ShadaW11 commented on #739
this article has been updated and published

[2022-03-25 12:36] #739 closed

[2022-03-25 12:38] ShadaW11 commented on #426
@Vic-Orlands apologies, we were busy with StrapiConf, I will be sending your payment right away. Thank you and we hope you publish soon additional articles.

[2022-03-25 12:38] #426 closed

[2022-03-25 13:38] malgamves commented on #712
@ShadaW11 has someone taken this already or can @miracleonyenma take up updating it?

[2022-03-25 15:14] miracleonyenma commented on #751
Is this still available for an update?
I would like to make a submission

[2022-03-25 23:22] ihssanehatim commented on #626
Hi @malgamves no worries as all the ideas I get I publish them on my own blog; I just loved to share with you too, so more people get to read it, thank you anyways I'll close the issue 😄

[2022-03-25 23:23] #626 closed

[2022-03-27 22:52] marvelken opened #770 "[SUBMIT] User Authentication with React and Strapi"
**User  Authentication with React and  Strapi**

**Introduction**

React is a popular choice for building complex web applications. Almost every web application requires user authentication. One of the popular options is to make use of a social login provider like Google or Facebook. Uniquely we can build authentication with React and Strapi backend.

**Goal**
In this article we are going to creat

[2022-03-29 15:18] Emmaroeneyoh opened #772 "connecting my express app to strapi"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-03-30 17:59] IsaacThaJunior commented on #768
I would love to write on this if the topic is still available

[2022-03-31 15:21] cosydney commented on #669
hey @malgamves, let me know what do you think about that:

# Strapi policies

## Why did we build Axolo and what is Axolo?

We believe efficient communication when reviewing and writing code is essential for productive tech teams. [Axolo.co](https://axolo.co/) is a tool to enable developers to engage and communicate in an easy way around pull requests. We integrate via GitHub and Slack, then for e

[2022-04-01 13:37] lucky4242 commented on #727
Hi,
I would love to work on this article.

[2022-04-01 13:42] lucky4242 commented on #755
Hi,
I would love to work on this article

[2022-04-04 12:37] #412 closed

[2022-04-04 12:44] #742 closed

[2022-04-04 12:47] #745 closed

[2022-04-04 12:51] #761 closed

[2022-04-04 13:28] ShadaW11 commented on #595
Hello

[2022-04-04 13:31] ShadaW11 commented on #581
Hello everyone, the article has been updated with v4

[2022-04-04 13:36] ShadaW11 commented on #696
Hey @lucky4242 I believe all is good on this article (its published), apologies for the delay, you can reach out to me on discord if you have any questions.

[2022-04-04 13:36] #696 closed

[2022-04-04 13:52] ShadaW11 commented on #638
Hello @cwray-tech your article will be published next week, I will reach out with a link once it is on our blog - thank you again

[2022-04-04 14:21] ShadaW11 commented on #618
Hello @vivmagarwal your article will be published soon, ill get back to you once it is posted on the blog and thank you.

[2022-04-04 14:43] cwray-tech commented on #638
@ShadaW11 sweet! Thank you 😊

[2022-04-04 15:23] 3kynox commented on #33
Yes, I would love to see updates as well regarding this.
LMS tutorial using nuxt is a wonderful tutorial brick to add to strapi.
Please update @adhamfarrag !

[2022-04-04 16:29] Victory-ET commented on #570
Hi @ShadaW11 , thanks for the update 🎉🙂. Looking forward to it.

[2022-04-04 16:39] cwray-tech commented on #638
@ShadaW11 Could I see what the author information text says about me? If possible it'd be great to throw in a backlink to our company [Magnet Co](https://magnet.co).

[2022-04-05 09:18] ShadaW11 commented on #751
hey @miracleonyenma your article will be reviewed soon.

[2022-04-05 11:35] ShadaW11 commented on #572
Hello Alex, Apologies for the delay, you can find the invoice instructions here; https://strapi.io/write-for-the-community please scroll to the FAQ section. Please reach out to me if you still need help. You should receive your payment around 10 days after it is submitted - I will also check the above bio issue and fix it. Thank you.

[2022-04-05 11:39] ShadaW11 commented on #642
Hello @maxiggle apologies for the delay, your article will be published soon.

[2022-04-05 11:41] maxiggle commented on #642
Alright
Thankyou

[2022-04-06 13:23] ShadaW11 commented on #638
Hey @cwray-tech feel free to share any updated author info you have - https://strapi.io/blog/how-to-create-a-slug-system-in-strapi-v4

[2022-04-07 09:29] boulaffasae commented on #736
Hi @TiaraOluwanimi @ShadaW11 I will work on this article

[2022-04-07 09:29] boulaffasae commented on #737
Hi @TiaraOluwanimi @ShadaW11 I will work on this article

[2022-04-07 10:13] lucky4242 commented on #730
Hi.
I would love to update this article.

[2022-04-07 10:46] icode247 commented on #732
I will work on this article

[2022-04-08 07:03] mpalsule opened #774 "Data Import => I have some data in a strapi installation v4. After I generate a new strapi folder using npx create-strapi...... I wish to import the data from the previous installation to this new one. But despite, taking the backup of the database , pointing the new installation to the the database , dropping the database and restoring its content through the backup, using the strapi default database sqllite taking its backup and restoring to postgres, nothing has worked so far. Is there a way to overcome this ?"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-04-08 10:23] lucky4242 commented on #730
Hi @ShadaW11,
Here is the link to the updated article.
https://www.dropbox.com/scl/fi/i28e47by735vuv3ir2l2i/Strapi-Starter-React-Blog.paper?dl=0&rlkey=b8o9c27vq9rgmunfxdff6n5a0

[2022-04-08 16:09] cwray-tech commented on #638
@ShadaW11 Thank you! Could you update my title to be Senior Engineer at [Magnet Co](https://magnet.co)

If you can include the backlink that'd be great but no worries if no.

[2022-04-08 23:07] DesmondSanctity commented on #772
I can write on this topic

[2022-04-09 13:03] jetmaquiling opened #777 "STRAPI SOCKET.IO: server.listeners is not a function"
Took me two days to figure out what was the problem with my server after updating to version 4.
You might get an error saying "server.listening is not a function".
To solve the problem you will just simply change a the socket directory in the boostrap.js file.
-----------------------------------------------------------------------
WORKS FOR VERSION 3 ONLY
var io = require("socket.io")(strapi.serve

[2022-04-11 07:54] ShadaW11 commented on #737
https://www.dropbox.com/scl/fi/6h2twfgu08nvwb35dql4v/Strapi-Authentication-in-Nuxt.js-..paper?dl=0&rlkey=3mepulwk5vv28gzg1wjhtyev2 @TiaraOluwanimi

[2022-04-11 09:42] #724 closed

[2022-04-11 09:56] ShadaW11 commented on #730
Thanks, @lucky4242 we will review your article as soon as possible.

[2022-04-11 10:06] ShadaW11 commented on #755
Hello @lucky4242 someone else is working on this, I sent you some suggestions on discord.

[2022-04-11 10:18] hubertnare commented on #755
I will work on this article.

[2022-04-11 12:30] cosydney commented on #669
@malgamves hey, any news on this?

[2022-04-11 13:14] popoolatopzy commented on #731
Hi, I'll be working on updating  this article.

[2022-04-11 15:03] maxiggle commented on #642
Hello @ShadaW11 , its been almost a week now since you said the article would be published.
Please what's going on?

[2022-04-12 09:19] ShadaW11 commented on #642
Hello @maxiggle thank you for being patient, we have a backlog of articles, so publishing your article can take time - up to 10 days. However, your article was published today. Feel free to issue an invoice. Thank you again for writing awesome articles and I hope you submit more soon.

[2022-04-12 09:19] #642 closed

[2022-04-12 10:29] Qodestackr commented on #755
I can work on this. How do I join slack or discord??

[2022-04-12 10:48] Qodestackr commented on #750
Hey kindly assign me this one :+1:

[2022-04-12 12:00] TiaraOluwanimi commented on #669
Hello, @cosydney. Could you please add this to a dropbox document so that it can be reviewed and code-tested asap? Thanks for your patience.

[2022-04-12 16:17] jpcmf commented on #101
I'm facing this issue when deploying the app to GCP. There is any way to use mysql2 in the database config or any other workaround?

[2022-04-12 20:32] shunmasa opened #781 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-04-12 20:34] #781 closed

[2022-04-13 16:47] muyiwexy commented on #772
@ShadaW11 Hello there, I will like to write on this topic.

[2022-04-13 16:57] muyiwexy commented on #49
@malgamves Hello there, what exactly is the task about. Is it we have to create a website with Javascript and connect it to strapi to deliver the contents of the website? a template will be appreciated

[2022-04-13 20:44] KanizoRGB commented on #762
Hello I can help with this

[2022-04-14 15:01] ghiless19 opened #786 "[REQUEST] gatsby-strapi-apollo-project"
Hello guys,
wondering if a tutorial on gatsby-strapi-apollo could be done, it would really helpfull.

[2022-04-14 18:24] boulaffasae commented on #737
Hi @TiaraOluwanimi

I create a new PR https://github.com/strapi/community-content/pull/788

[2022-04-15 12:29] MaxBQ opened #789 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-04-17 05:35] TheGhoulRe commented on #750
Hi, I would love to work on this article

[2022-04-18 06:00] maxiggle commented on #642
Thank you @ShadaW11
I have also sent my invoice
Thanks

[2022-04-18 09:18] cosydney commented on #669
Hey @TiaraOluwanimi,

Here is a dropbox link: https://paper.dropbox.com/doc/Strapi-policies--Bf0Glor~wnT6R6Opil67Rz2ZAQ-1MCRndFur0dRgd52wiXAW

Cheers

[2022-04-18 11:56] boulaffasae commented on #736
Hello @TiaraOluwanimi

I updated the article https://www.dropbox.com/scl/fi/rtc95soluigmog5prxget/Creating-a-Strapi-Dynamic-Zone-Rendering-it-in-your-Nuxt.js-App.paper?dl=0&rlkey=1zzdray3hbq1tt47ang08rhdr

PR can be found at https://github.com/strapi/community-content/pull/790

I removed the Apollo/GraphQL section, Strapi GraphQL plugin doesn't support filters :/

[2022-04-18 13:09] TheGhoulRe opened #791 "[SUBMIT] Create a Simple To-Do List Application With Strapi and ReactJS"
**My resource**

This article covers the following
* Building simple RESTful APIs with Strapi
* Integrating React frontends with Strapi
* Communicating between frontend and backend

The to-do list application is a very simple application, which I think accurately covers the above. It involves creating collections, manipulating items, and creating RESTful APIs using the collections. Majority of wha

[2022-04-18 15:19] popoolatopzy commented on #731
Hello @ShadaW11, am done updating the article, here is the link to the article
https://www.dropbox.com/scl/fi/m6jtofaqe31k0dov5na9u/Webhooks-explained-and-how-to-use-them-in-Strap.paper?dl=0&rlkey=b3m0f4m4dssh2t4e7nl0glmp6