[2021-03-28 12:56] pieroborrelli-dev commented on #69
Hey @malgamves is this post still available? I have the skills and the time to write it!
Let me know,
Pieor

[2021-03-28 18:04] philipszdavido commented on #330
@malgamves I am picking this, can I start writing?

[2021-03-30 08:35] InadullaevMakhmudjon opened #335 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-03-30 20:24] pieroborrelli-dev commented on #69
Hey @malgamves for sure, I'm ready to write the article as soon as you send me its details.
Waiting for your updates.
I'm sure the final result will be great.

[2021-03-31 12:23] malgamves commented on #330
Could you share an outline of what this looks like?? @philipszdavido

[2021-03-31 12:26] malgamves commented on #69
I'd like to see an article on what you're excited for in the frontend space this should cover
- past events in 2020 that had an effect on frontend developers
- an overview of the current frontend ecosystem
- changes you'd like to see
- the role of headless cms in the frontend ecosystem
- devtools, packages or libraries to watch out for this year

When do you think you'll have this ready @pieroborr

[2021-03-31 18:51] philipszdavido commented on #330
**Outline**

* Introduction to Strapi
* What is Pagination?
* Pagination and GraphQL
* Types of pagination
* Scaffold Strapi project - News feed app
* Demo - Offset-based pagination
* Demo - Cursor-based pagination
* Conclusion

[2021-03-31 20:05] lxdb commented on #231
Hi everyone here,
after a few discussions with my team we've decided to not record a video in the next few weeks or months. We currently have a lot of other projects and really nobody of us has time for this tutorial.
Maybe in the end of April or the beginning May then ...
I'm really sorry, but we really aren't able to do it now.

[2021-03-31 20:49] pieroborrelli-dev commented on #69
@malgamves That sounds great. I could send you the full article in about a week. Does Sunday 11 April sounds good to you? I will write the full article, add images, and check everything is polished.

If that sounds good, I would like to ask you a couple of questions before starting:

* Do you have a preferred tool for me to submit the article?
* Where should I submit the final product
* What is th

[2021-04-01 00:16] oviecodes commented on #313
hey @malgamves  , I could take this up. I could show authentication by building a recipe app. Vue.js frontend and Strapi backend.

[2021-04-01 00:19] oviecodes commented on #204
Hey @malgamves , @Mcastres and @alloyking1 , what the progress on this, I could take this if no one is working on it.

[2021-04-01 00:19] oviecodes commented on #204
Hey @malgamves  , @Mcastres and @alloyking1 , what the progress on this, I could take this if no one is working on it.

[2021-04-01 19:05] pieroborrelli-dev commented on #69
Hey @malgamves are you still up for me to write this article?

[2021-04-02 09:29] Mcastres opened #337 "[TOPIC] Localization with Strapi"
**My Request**
Following the release of i18n, it would be awesome to have a piece of content about localization using Strapi

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-04-02 09:31] Mcastres opened #338 "[TOPIC] Multilingual Content Management System"
**My Request**
Following the release of i18n it would be great to have an article about the advantages of having a multilingual cms.

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-04-02 09:32] Mcastres opened #339 "[TOPIC] Localize your content and succeed globally"
**My Request**
Following the release of i18n,it would be great to have a piece of content about how you can succeed globally by localizing your content.

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-04-02 09:35] Mcastres opened #340 "[TOPIC] i18n (Localization) with a Headless CMS"
**My Request**
Following the release of i18n it would cool to have an article about using i18n on your headless cms.

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-04-02 09:36] Mcastres opened #341 "[TOPIC] i18n best practices on Strapi"
**My Request**
Following the release of i18n, it would be awesome to have a piece of content about the best practices of the i18n feature on Strapi.

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-04-05 08:05] malgamves commented on #69
hey @pieroborrelli-dev yes April 11 sounds great!! Have a look at our [FAQs ](https://www.notion.so/Strapi-Write-for-the-Community-FAQs-b1fa0282d68a4c3e933fdd5e05f61a46) they will answer your questions.

and yess!! I'm still up for you to write this article. Still good on the timeline?

[2021-04-05 08:48] krissnawat commented on #69
@malgamves i like to participate on topic
devtools, packages or libraries to watch out for this year

[2021-04-05 09:22] pieroborrelli-dev commented on #69
Hey @malgamves I confirm you the send date for April 11. Will send you an email with the full article on that date!

[2021-04-05 14:56] philipszdavido commented on #330
@malgamves can I start writing this?

[2021-04-06 11:11] malgamves commented on #330
hey @philipszdavido yes you can. Let me know when you have a draft 👍

[2021-04-06 11:13] malgamves commented on #231
Hey @lxdb thanks for the update on this!

Hopefully someone else can pick it up.

[2021-04-06 11:14] malgamves commented on #313
Hey @oviecodes do you have an outline for how this article will look??  Happy to have you take this on

[2021-04-06 11:15] malgamves commented on #204
hey @oviecodes I just #313 so maybe someone can take this for now. If no one does then we can get back to it after you're done

[2021-04-06 21:51] oviecodes commented on #313
Hey @malgamves  , I'll send a draft of the outline to your mail.

[2021-04-08 10:16] malgamves commented on #69
hey @pieroborrelli-dev great, changed that for you don't worry about it. Can't wait to see it.

@krissnawat looks like it's been taken :p

[2021-04-08 10:17] malgamves commented on #313
Makes it easier to manage if you add it here. Please send it here @oviecodes

[2021-04-10 15:37] oviecodes commented on #313
Ok @malgamves I'll send it here

[2021-04-11 15:21] broklyn777 opened #343 "[SUBMIT]"
**My resource**

**My format**

- [ ] Article
- [ ] Video

**What do you all think?**
❤️ I love it!
🚀 I can help you!

[2021-04-12 07:54] pieroborrelli-dev commented on #69
hey @malgamves I'm about to send you the article, sorry for the little delay, I had a problem with my internet connection.

[2021-04-12 08:49] pieroborrelli-dev commented on #69
Hey @malgamves I've correctly submitted the article to you via mail. Hope you will enjoy it.
Waiting for your feedback,
Piero

[2021-04-12 12:06] malgamves commented on #69
Just seen it, I will have a look :D thanks @pieroborrelli-dev

[2021-04-12 17:10] KevinKipkorir commented on #338
Hello. Can I participate in writing this?

[2021-04-13 23:38] Abdulbarict opened #344 "Request for strapi tutorial"
Please share a tutorial for learning strapi.

[2021-04-14 12:21] MattieBelt commented on #344
Hey @Abdulbarict you should check this out: https://strapi.io/blog/welcome-to-strapi-academy.

[2021-04-16 07:08] oviecodes commented on #313
Hey @malgamves how about I finish building the application first before drafting the outline?

[2021-04-19 08:41] obitodarky opened #345 "[TOPIC] Strapi with Flutter tutorial"
**My resource**
A detailed article that shows a Strapi setup and producing an API for a sample Flutter app with relevant tutorials and guides throughout. I will make a blog where I show what Strapi is, how to get started with Strapi and how to use it as an easy backend solution for a sample Flutter App that I will show how to build as well. This will help Flutter Devs get introduced to Strapi and

[2021-04-19 11:25] shyamthedev opened #346 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-04-20 06:37] xTrilton commented on #339
Hello @Mcastres, What a magnificent topic you just crafted. I was kindly asking if you can assign me this topic.

[2021-04-20 08:12] Mcastres commented on #339
Is the topic free to take @malgamves?

[2021-04-20 17:38] philipszdavido commented on #330
@malgamves I have a draft https://www.dropbox.com/scl/fi/tkqlldqp0vvmjknzs7jj0/Pagination-in-Strapi-using-GraphQL.paper?dl=0&rlkey=ruh6ihuu2m2no6ghtnbc21vsi

[2021-04-20 18:04] vickywane commented on #320
@bigpreshy @malgamves any update on this?

[2021-04-20 18:40] vickywane commented on #341
@Mcastres  @malgamves Can i propose an outline for an article on this

[2021-04-20 19:06] vickywane commented on #309
i’ll try make this work with FuanaDB. If i can get it to work i’ll create an article for it. @derrickmehaffy @malgamves @chloesun

[2021-04-21 08:18] malgamves commented on #341
hey @vickywane yes, would love to see an outline

[2021-04-21 11:57] vickywane commented on #340
@malgamves I want to work on this first before moving to best practices with i18n.

I would send in an outline now.

[2021-04-21 12:01] vickywane commented on #341
Hello @malgamves ,

I think it would be better if i start with explaining i18n first in [this article request](https://github.com/strapi/community-content/issues/340#issuecomment-824003615), then i can come back here to work on this, if not taken by someone else.

[2021-04-21 12:27] vickywane commented on #340
@malgamves @Mcastres this is an outline for the i18n feature with Strapi as a CMS.

 Outline:

- A general Introduction to i18n ( Internationalization )
- Benefits of adding i18n to an application
- Using i18n with Strapi
- Building a demo news blog to demo i18n with Strapi
- Conclusion

[2021-04-21 23:46] xTrilton commented on #339
-Strapi localization use case.
-Taking SEO into account when translating content.
-Externalize  locale-specific data
-Locale Frameworks
-Benefits of Internationalizing Software

[2021-04-22 00:12] xTrilton commented on #339
Below are links to articles I have published before.

https://boemo1mmopelwa.medium.com/simplifying-communication-with-google-translate-and-speech-to-text-8e52588cc843

https://boemo1mmopelwa.medium.com/implementing-etherium-blockchain-in-android-with-web3j-485ea0747088

[2021-04-22 15:03] Alhasan-softwear opened #347 "[UPDATE OUTDATED CONTENT] Import content plugin"
**Description**
can you teach us how to make a later version of the plugin and the plugin is outdated please I kindly wish that the author should please edit it or remove it so no future developer will think it works thx

**Link of the content**

https://strapi.io/blog/how-to-create-an-import-content-plugin-part-1-4
**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2021-04-24 07:58] zaracooper commented on #199
@Mcastres @malgamves if this topic is still free, could I tackle it?

[2021-04-24 07:59] zaracooper commented on #245
@malgamves if this is free, could I work on it?

[2021-04-24 20:49] #257 closed

[2021-04-27 20:46] Ernesto385291 commented on #21
Hola!, I would like to help with the translation of some tutorials, for example the tutorial "Learning Strapi Authentication Flows with the Facebook Provider" And many more. I love Strapi and this is a way to support. So more Spanish-speaking people like me can get to know Strapi.

[2021-04-27 20:47] Ernesto385291 commented on #21
Hola!, I would like to help with the translation of some tutorials, for example the tutorial "Learning Strapi Authentication Flows with the Facebook Provider" And many more. I love Strapi and this is a way to support. So more Spanish-speaking people like me can get to know Strapi.

[2021-04-28 21:02] russellwark opened #354 "[REQUEST] Accessing Strapi content using vanilla Javascript (no frameworks)"
Can we have a short tutorial on how to access Strapi content via an API call using simple vanilla Javascript?

[2021-04-29 21:22] malgamves commented on #340
Hey @vickywane could you do another app? We already have a news app being worked on. What frontend will you use for it?

[2021-04-30 03:11] vickywane commented on #340
Alright. I could also switch the demo application to be an ecommerce store, displaying images for sale. Irregardless of the type of demo application built, it needs to demonstrate the i18n plugin in use.

I would make use of any of the existing Strapi-templates for React.js.

[2021-04-30 17:57] overgrowninfnat opened #357 "[ISSUE] A listed tutorial card links to a wrong tutorial page"
**The concerning content**
In [strapi.io/tutorials](https://strapi.io/tutorials) is shown a tutorial card "How to build an E-commerce Store with Nuxt.js and Strapi" that links to a wrong tutorial page

**Issue**
The tutorial card "How to build an E-commerce Store with Nuxt.js and Strapi" links to ["How to Build a Real-time Chat Forum using Strapi, Socket.io, React and MongoDB"](https://strapi.io/b

[2021-04-30 23:30] vcoisne commented on #346
Looks like a blank issue. Closing.

[2021-04-30 23:30] #346 closed

[2021-04-30 23:45] vcoisne commented on #217
hey @Umoren did you get a chance to get your hands on that equipment ? Would love to work with you on this post.

[2021-04-30 23:49] vcoisne commented on #347
Thanks a lot @Alhasan-softwear for the heads up. I just reached out to the author cc @pouyamiralayi

[2021-04-30 23:51] vcoisne commented on #345
@obitodarky that sounds awesome! How are things coming along on your end ?

[2021-04-30 23:55] vcoisne commented on #344
@Abdulbarict you can also check out https://strapi.io/tutorials and https://www.youtube.com/channel/UC2w6UgktMHgTS-PN4D0utNw

[2021-04-30 23:55] #344 closed

[2021-04-30 23:55] vcoisne commented on #343
@broklyn777 not sure if you had a specific topic in mind here ? Closing for now.

[2021-04-30 23:55] #343 closed

[2021-05-01 00:00] vcoisne commented on #235
@hasnen712 How are things going on this post ?

[2021-05-01 00:01] vcoisne commented on #339
@xTrilton sorry for the delay. Looks good. I have assigned this topic to you. Please refer to our [FAQ](https://www.notion.so/strapi/Strapi-Write-for-the-Community-FAQs-b1fa0282d68a4c3e933fdd5e05f61a46) for submission when ready for review.

[2021-05-01 00:01] vcoisne commented on #338
@KevinKipkorir yes that would be great. Do you have an outline in mind ?

[2021-05-01 00:02] vcoisne commented on #335
Looks like an empty issue to me. Feel free to update the issue @InadullaevMakhmudjon if you had something in mind ?

[2021-05-01 00:02] #335 closed

[2021-05-01 00:03] vcoisne commented on #333
Thanks @DimiKalligas . We'll take a look at it shortly.

[2021-05-01 00:39] KevinKipkorir commented on #338
Yes. I'd like to write a detailed article about this topic.I will cover;The value,need and imprrtance of Multilingual Content Management System.I will also cover Developing Multilingual sites with Headless CMS with  Strapi.How do i proceed?

[2021-05-01 15:10] obitodarky commented on #345
@vcoisne I haven't started the blog yet but I have planned a small layout, do take a look.

- Intro to Strapi and Headless CMS
    - What is Headless CMS
    - What is Strapi
    - Why Strapi for Flutter
- Installing Strapi
    - Creating a project
    - Creating an admin user
    - Creating a Content Type
    - Adding Content
    - Publishing
- Using API inside a Flutter App
    - Creating a proj

[2021-05-02 04:14] fodurrr commented on #123
Hi, @ghoshnirmalya , I try to use your final version of the  next-auth tutorial but with Amazon cognito, It seems working but no new user created in Strapi database. How did you solved the different schema you mentioned here? (next-auth creates accounts and users tables, but strapi stores users in the users-permission-users table. Any help would be appreciated.

[2021-05-03 16:48] Mcastres commented on #331
Good catch @dpinol, I updated the link, it will be fixed in the next build :)

[2021-05-03 16:48] #331 closed

[2021-05-03 19:19] vcoisne commented on #338
@KevinKipkorir thank you for this outline. Overall LGTM. Can we include a section advantages of having a multilingual cms + advantages of Strapi i18n ?

When do you think you'll be able to work on this :) ?

[2021-05-03 19:39] KevinKipkorir commented on #338
Yes, I will do that. I will incorporate the advantages of having a Multilingual CMS and Strapi in detailed in the introduction section. _ I will send my first draft of the article on or before 7, May. Thank you ;)

[2021-05-03 19:47] vcoisne commented on #345
Outline LGTM. I have assigned this topic to you. Please refer to our [FAQ](https://www.notion.so/strapi/Strapi-Write-for-the-Community-FAQs-b1fa0282d68a4c3e933fdd5e05f61a46) for submission when draft is ready for review 🙏

[2021-05-04 09:58] zaracooper commented on #245
@vcoisne if this is free, could I work on it?

[2021-05-04 10:00] zaracooper commented on #199
@vcoisne  if this topic is still free, could I tackle it?

[2021-05-04 10:14] purnimagupta commented on #114
@nitewulf @Mcastres, Could you please share the link to the tutorial on the Github provider?

As I understand, Orchard is a CMS. Do you see a use-case for connecting one CMS to another (Strapi)? It would be great if you can expand a little on it

[2021-05-04 10:15] purnimagupta commented on #301
@alloyking1, still working on it?

[2021-05-04 10:31] purnimagupta commented on #87
@Mcastres, is this tutorial(https://hashinteractive.com/blog/gatsby-authentication-with-strapi-io/) relevant to this topic?

Do we want to build a tutorial like this?

[2021-05-04 10:46] purnimagupta commented on #354
@russellwark, As I understand, do you mean creating collections via Strapi Admin Panel and then using vanilla javascript to fetch the data from the database and displaying it on the screen?

[2021-05-04 10:58] purnimagupta commented on #305
@malgamves, Hi, I haven't worked with Nextjs yet. But I would be interested in working on it.

It would give me some clarity if you could explain a little bit what's meant by "previews with Next App".

 Thanks!

[2021-05-04 13:31] Mcastres commented on #114
Hey 👋

I don't think we are looking for tutorials to connect multiples CMS unless it is for migrating purpose.
@nitewulf, are you referring to this [video](https://strapi.io/video-library/how-login-provider-process-works)?

[2021-05-04 13:34] Mcastres commented on #87
Hey 👋
It is relevant since the community is asking a lot for authentication tutorials.
I didn't try the tutorial @purnimagupta however it could be nice to have @malgamves feedback. Should we create more authentication with Gatsby tutorial?

[2021-05-04 20:22] vcoisne commented on #245
@zaracooper yes I don't think @MenakaBasker is actively working on it. Could you please send an outline first of what you have mind?

[2021-05-04 20:25] vcoisne commented on #199
@zaracooper yes it is. Could you please send an outline first ?

[2021-05-05 04:07] vcoisne commented on #357
Thank you @overgrowninfnat for the heads up. Really appreciate it.

Ping @Mcastres - can you please take a look?

[2021-05-05 10:38] malgamves commented on #330
Thanks @philipszdavido - adding this to the review queue.

[2021-05-05 10:49] malgamves commented on #320
hey @bigpreshy I saw the submission, thanks for that. We're bolstering our review capacity so this should be out soon. @vickywane it was done already and will be published.

[2021-05-05 10:51] malgamves commented on #309
Alternatively @vickywane because we're dropping Mongo support soon, do you think you could work on something showing how to go from Mongo to a SQL database.

[2021-05-05 10:52] malgamves commented on #340
Sure @vickywane sounds good to me! Ecommerce it is. When do you think you'll have a draft out??

[2021-05-05 11:12] malgamves commented on #87
Hey i think it is very relevant!! We can have it centered around something like an app - maybe a podcast app and then use that as an opportunity to show how authentication works in the real word. How does that sound @purnimagupta ?

[2021-05-05 11:41] purnimagupta commented on #87
@purnimagupta Centering it around an app sounds good. However I feel that building a podcast app might just get super-lengthy.

Can I suggest an alternative - A blog app using Gatsby that shows gated content when a user authenticates using Strapi. Lot of people want to know how to add functionality like login to static websites.

[2021-05-05 13:21] vickywane commented on #340
Next two weeks max

On Wed, May 5, 2021 at 11:52 AM Daniel Madalitso Phiri <
***@***.***> wrote:

[2021-05-05 15:10] zaracooper commented on #245
Here's the outline @vcoisne:

**Title:** A guide to using Hugo

**Outline:**
1. Introduction
    - What static site generators are
    - Benefits of using static site generators
    - Hugo overview and its features
2. Installing Hugo, generating sites, and site structure
3. Creating layouts
4. Creating and organizing content
5. Generating archetypes
6. Adding configuration, data, and static files

[2021-05-05 16:03] zaracooper commented on #199
Here's the outline @vcoisne :

**Title:** Using Strapi with Angular Universal Apps

**Outline:**
1. Introduction
    - What server-side rendering is
    - Why choose SSR and how it affects SEO
    - What Angular Universal is and how it works
2. Setting up Strapi locally
3. Initializing and setting up your Angular app
4. Adding services to use with Strapi
5. Adding Angular Universal
6. Previewing t

[2021-05-05 19:14] vcoisne commented on #199
@zaracooper looks great. Please refer to our [FAQ](https://www.notion.so/Strapi-Write-for-the-Community-FAQs-b1fa0282d68a4c3e933fdd5e05f61a46) for next steps. When do you think you can have a draft by ?

[2021-05-05 19:15] vcoisne commented on #245
@zaracooper thank you, looks great :) Please refer to our [FAQ](https://www.notion.so/Strapi-Write-for-the-Community-FAQs-b1fa0282d68a4c3e933fdd5e05f61a46) for the next steps. When do you think you can have a draft by ?

[2021-05-05 19:31] zaracooper commented on #199
Thanks, @vcoisne . I'll be down with the draft by the 30th of this month.

[2021-05-05 19:51] vickywane commented on #309
Okay.

That sounds like a better idea, although i havent done it previously myself.

I would find ways to do it then create an article outline and send here.

[2021-05-06 03:47] vcoisne commented on #33
Hello @zwalkcodes Did you end up working on that plugin / topic in the end ?

[2021-05-06 03:49] vcoisne commented on #25
@boazpoolman @samuelarogbonlo love the topic. any of you interested/available to write this up ?

[2021-05-06 03:50] vcoisne commented on #35
@Quadrisheriff Are you still interested in doing a write up on this topic ?

[2021-05-06 03:53] vcoisne commented on #39
@narduin sorry about the late reply. You can join forces with someone else if that works for you and
@viclotana ?

[2021-05-06 03:56] vcoisne commented on #58
@hannydevelop awesome talk at StrapiConf :)

Are you still interested in working on this outline ?

[2021-05-06 03:58] vcoisne commented on #49
@malgamves does it make sense to keep this open ?

[2021-05-06 03:58] Quadrisheriff commented on #35
Hi @vcoisne, yes I'm still very interested in creating the topic.

[2021-05-06 04:39] vcoisne commented on #35
@Quadrisheriff awesome news. I will assign this to you. Could you provide a high-level outline?

[2021-05-06 04:43] Quadrisheriff commented on #35
Yes, I will send that later today.

[2021-05-06 04:43] zwalkcodes commented on #33
Hi all - I needed to prioritize other projects and have not yet had time to finish this. When I have the chance, I'll go through what I have done so far, refactor, and document so that anyone whom would like to continue where I left off can easily do so.

[2021-05-06 05:54] #235 closed

[2021-05-06 07:54] boazpoolman commented on #25
Hi @vcoisne, it's been a while, but I'm currently available to write this tutorial!
Has there been work done on this by @samuelarogbonlo? Or should I start on this from scratch?

[2021-05-06 08:36] samuelarogbonlo commented on #25
@vcoisne You can start from scratch but I'd love to work on this with you. how does that sound?

[2021-05-06 10:59] hannydevelop commented on #58
Sure, I'll work on the outline and share it here today.

[2021-05-07 07:30] boazpoolman commented on #25
Sounds good to me

[2021-05-07 08:47] Mcastres commented on #357
Thanks for the heads up @overgrowninfnat, it's fixed!

[2021-05-07 08:47] #357 closed

[2021-05-07 10:47] purnimagupta commented on #87
@malgamves let me know soon :)

[2021-05-09 18:29] KevinKipkorir commented on #338
@vcoisne Hello. Following our discussion earlier, I came up with the following draft regarding the topic.
https://docs.google.com/document/d/1OG807PbntzF54GdQt-Ppb0WrseNYY-rtk-kb0HhHQCc/edit?usp=sharing
Thanks.

[2021-05-12 23:29] JMPAZROD opened #392 "Gatsby-image [ISSUE]"
Gatsby-image must be installed with the following command:  yarn add gatsby-image

[2021-05-13 08:59] malgamves commented on #340
Hey @vickywane sure, please follow the review and submission process in the [FAQ](https://www.notion.so/Strapi-Write-for-the-Community-FAQs-b1fa0282d68a4c3e933fdd5e05f61a46)

[2021-05-13 09:01] malgamves commented on #309
sure, let me know as soon as you do it :D

[2021-05-13 09:02] malgamves commented on #49
nope closing it!

[2021-05-13 09:02] #49 closed

[2021-05-13 09:03] malgamves commented on #33
That makes sense, thanks for the heads up @zwalkcodes - let us know as soon as you do that!

[2021-05-13 09:07] malgamves commented on #87
hey @purnimagupta that sounds really really good! When do you think you'll have it?

[2021-05-13 09:13] malgamves commented on #25
hey @boazpoolman and @samuelarogbonlo love that you two want to work on this together!! May I suggest a few things? We have a similar article published [here](https://strapi.io/blog/how-to-build-a-strapi-custom-plugin) so I'd love it if yours could go a little further and touch on how plugins integrate into strapi (talk possibilities), build a plugin and share your opinions on the dev experience a

[2021-05-13 11:01] malgamves commented on #338
Hey @KevinKipkorir , please follow the review and submission process in the [FAQ](https://www.notion.so/Strapi-Write-for-the-Community-FAQs-b1fa0282d68a4c3e933fdd5e05f61a46)

[2021-05-13 12:09] Sameera-Perera opened #393 "[SUBMIT]"
Custom API Endpoint -
https://www.youtube.com/playlist?list=PLVpp0SvtYtdddD0IJHpa6bCifF3bTbtJi

[2021-05-13 18:39] KevinKipkorir commented on #338
Hello @malgamves .I made changes to the document after reviewing  the submission process.
https://www.dropbox.com/scl/fi/vx24mr181lalqfrakvosz/Multilingual-Content-Management-System..paper?dl=0&rlkey=jodgn905yjo8usp2jsabgznpx

[2021-05-13 20:06] ChrisAchinga commented on #354
Taking up the task @russellwark

[2021-05-15 07:01] boazpoolman commented on #25
@malgamves seems like an excelent suggestion!

[2021-05-17 09:03] malgamves commented on #25
Let's do it!! 🚀

[2021-05-17 16:17] purnimagupta commented on #87
Hi @malgamves,

I'm thinking of add authentication logic to this [repo](https://github.com/strapi/strapi-starter-gatsby-blog). This starter looks really good and would be good to add authenticated logic to this blog itself. Let me know what you think.

But I'm running into GraphQL query issues which I assume is due to the latest changes in the Gatsby version. I'm attaching the screenshot of the er

[2021-05-17 16:47] derrickmehaffy commented on #87
This issue has been mentioned on **Strapi Community Forum**. There might be relevant details there:

https://forum.strapi.io/t/graphql-query-issues-while-working-with-strapi-starter-gatsby-blog/5009/1

[2021-05-17 16:49] purnimagupta commented on #87
@derrickmehaffy  I just created it there :D

I asked there as well just in case. Any other link with solution to it?

[2021-05-17 17:41] derrickmehaffy commented on #87
That is a bot account that just happens to share my name :P it wasn't actually me replying

[2021-05-18 09:14] malgamves commented on #87
hey @purnimagupta I think @remidej and @markkaylor can help out. They are working a new version of the `gatsby-source-strapi` plugin. When implemented on the starter. It should fix that issue. Could you confirm Mark and Remi?

[2021-05-18 09:43] markkaylor commented on #87
Hi @purnimagupta I saw your comment on the closed issue: https://github.com/strapi/strapi-starter-gatsby-blog/issues/10 last night.

There is a known issue with the underlying blog template and mongodb.

Are you using mongodb?  If so you should also be seeing errors in the backend logs as well.
Here is the issue we are looking into: https://github.com/strapi/strapi-template-blog/issues/5.

If your

[2021-05-18 11:15] purnimagupta commented on #87
hey @markkaylor , Yes, I'm using **mongodb** as my database.

I checkedout the issue that you mentioned. This guy had a issue:

[code]
 As I understand, this issue was because it was trying to map relation db id to a mongodb database. He solved this issue by providing an empty object to the image props inside an Image component.

[code]
I feel my issue is not the same. Because I'm not getting the

[2021-05-18 11:54] markkaylor commented on #87
@purnimagupta  Ok! I believe the issue is related to  strapi/strapi-template-blog#5, I will continue the conversation there so we don't pollute this thread :)

[2021-05-19 11:30] hauben opened #395 "Using Ansible For Automatic Deployment Of A Strapi CMS To Amazon AWS"
**Using Ansible For Automatic Deployment Of A Strapi CMS To Amazon AWS**

Maybe the tutorial I recently published on [Medium.com](https://haubenschild.medium.com/automate-your-amazon-aws-deployment-of-your-strapi-based-project-with-ansible-4ac3e7dc8d4d) could be used/adapted.

Draft: Use Ansible to automatically spin up the needed AWS cloud infrastructure and place a configured Strapi application

[2021-05-19 12:04] dessireugarte opened #396 "[UPDATE]"
**My update**

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2021-05-19 12:05] #396 closed

[2021-05-19 17:57] slavik0329 opened #397 "[ISSUE] Toast UI tutorial doesn't work"
**Toast UI tutorial doesn't work**

**Change the default WYSIWYG to Toast UI editor tutorial**

After installing the npm toastui strapi module and building admin UI, the wysiwyg editor does not display.

[2021-05-19 18:18] Mcastres commented on #397
Hello @slavik0329 👋
I just tested the editor this morning and I can confirm that it is working. However the connection to the media lib is not working anymore.

Are you sure that you built your admin?

[2021-05-19 19:07] slavik0329 commented on #397
@Mcastres Yes, I have run Yarn build and waited for rebuild. It seems that strapi is unable to even recognize the plugin when its in node_modules.

[2021-05-19 20:34] Quadrisheriff commented on #35
Hello @vcoisne, Sorry for the late reply.

This is the outline...

- Introduction

- Previews
  -  Why is previews relevant
  - Explain the importance of preview to content editor experience

- Setup previews mode with Nextjs and Strapi
  - Show how to setup strapi and nextjs
  - Add contents to strapi
  - Show how to activate  and deactivate previews API in next js
  - How to connect strapi to ne

[2021-05-23 02:52] govind-edufront opened #398 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-05-24 04:22] zaracooper commented on #245
[Here is the draft.](https://www.dropbox.com/scl/fi/ukpdfoe6pvtgnkmqwfi1n/Draft-A-Guide-to-Using-Hugo.paper?dl=0&rlkey=q1kgy7wnqtsanymw811q8id8f)

[2021-05-24 21:11] iamfortune opened #399 "[ISSUE] Building a Headless CMS system with React.js and strapi"
**The concerning content**

**Issue**

[2021-05-24 22:02] derrickmehaffy commented on #399
Issue has no information, closing

[2021-05-24 22:02] #399 closed

[2021-05-25 16:05] Quadrisheriff commented on #35
Hi @vcoisne @malgamves, I can see that there is another request for a topic related to implementing Nextjs previews with Strapi [https://github.com/strapi/community-content/issues/305](https://github.com/strapi/community-content/issues/305).

Since my article will be focused on implementing previews with Next, it will be better to go with [https://github.com/strapi/community-content/issues/305](ht

[2021-05-26 06:45] yateshchhabra1995 opened #401 "[TOPIC] Flow of Admin Panel"
**My Request**
I am using the community edition, as by installing the **npx create-strapi-app my-project --quickstart** In this, i signup with admin account on localhost.  but when we create Collection Types and add some data in that collection, like having Categories as Collection and  we enter the name of the Category as Dinner or something else. I want to know the flow of the api where its stor

[2021-05-27 06:44] purnimagupta commented on #87
@markkaylor

I would like to know what `identifier` and `password` fields are?

Do they belong to User or Strapi Admin Login Panel?

[code]

[2021-05-27 07:56] markkaylor commented on #87
@purnimagupta See: https://github.com/strapi/gatsby-source-strapi#authenticated-requests.  If you have routes that are not set to public in Strapi you can still access them in your Gatsby site by providing Strapi Admin credentials here.  Be sure to keep these credentials in a `.env` file.

Side note: We released the stable v1 of the gatsby-source-strapi plugin.  It looks like you are using an olde

[2021-05-27 09:14] purnimagupta commented on #87
@markkaylor,

Thanks for the quick response :)

In my case:

- I made the `article` collection private and make them available _only_ when the user is logged in. Changed  "**Roles and Permissions**" for the `article` collection and only allow **authenticated** users to query for `find` and `findOne`

- `category` and `writer`  collections are accessible to unauthenticated users or **publicly** acc

[2021-05-27 09:41] purnimagupta commented on #87
@markkaylor,

 **What I changed:**

- Added new User entry using Postman via POST API `http://localhost:1337/auth/local/register`. I have two users as of now in my `User` collection

- Next, replace Strapi Admin Login credentials with User credentials which I created using Postman

Now I see that `auth/local` is being hit and returns 200 for articles but `403` for all the other collections even th

[2021-05-27 10:05] purnimagupta commented on #87
It seems to me that I will have to make `category` and `writer` and other collections as Authenticated as well if we provide `loginData` field.

I was hoping if there was a way to access both types of collections-- Public and Authenticated via this plugin?

[2021-05-27 11:00] purnimagupta commented on #87
@markkaylor,

After updating the plugin, it says that it **can't** query field "publicURL" and  "childImageSharp"? Any idea why suddenly it is throwing errors:

It's hard to debug since Gatsby Server isn't starting :(

[code]

[2021-05-27 13:18] remidej commented on #87
Hello @purnimagupta

- The authentication system in gatsby-source-strapi works with users from the Users & Permissions plugin, not users from the administration panel
- When `loginData` is provided, all the requests made by the source plugin will be authenticated. So you'll need to enable permissions for the authenticated role as well.
- To query images, the publicURL is available inside the `loca

[2021-05-27 13:24] purnimagupta commented on #87
@remidej, what if I want to include collections for which I haven't enabled authenticated routes? Can we not define both of them?

For ex:  Associating certain collections with the `loginData` field and other collections will be accessible publicly? Is that possible?

[2021-05-31 00:43] RazvanCretu opened #407 "[SUBMIT] Custom routes, external data, graphql resolvers"
**Create custom routes to fetch external data and allow graphql with custom resolvers.**

Hello 👋

I would like to provide an article for the community in which I would describe how to set-up custom routes in order to be able to fetch external data and also create custom graphql queries/resolvers in order thw newly created routes.

**My format**

- [x] Article
- [ ] Video

**What do you all think?

[2021-05-31 05:58] zaracooper commented on #199
[Here](https://www.dropbox.com/scl/fi/74vu275qosh8a0ydignea/Draft-Using-Strapi-with-Angular-Universal-Apps.paper?dl=0&rlkey=dt6js71wyq6phw56hjyubopk9) is the draft.

[2021-06-02 07:06] Favouroked commented on #198
Hi @malgamves I can pick this up. Hope to hear from you soon.

[2021-06-02 12:32] malgamves commented on #198
Hey @Favouroked sure, please follow the review and submission process in the [FAQ](https://www.notion.so/Strapi-Write-for-the-Community-FAQs-b1fa0282d68a4c3e933fdd5e05f61a46)

before you start, could you share an outline of what you think this article will look like?

[2021-06-02 12:39] remidej commented on #87
@purnimagupta no, this is not possible with our source plugin. As I said above, you'll need to enable the permissions for authenticated users. If this is a problem for you, I'd be interested to know why, so we can consider adding config options for this. Otherwise, we're happy with that current behavior

[2021-06-03 12:45] Kaperskyguru opened #409 "[TOPIC] How to build a Forum App using Next and Strapi"
**My Request**

This article intends to explain how to build a real-world Forum application using Strapi backend and NuxtJS for the frontend.

In this article, we are going to handle Authentication and Authorization. We will implement best practices in building a scalable application with strapi.

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-06-03 12:46] Kaperskyguru commented on #409
I want to work on this topic

[2021-06-03 12:50] Kaperskyguru opened #410 "[TOPIC] Build a Crypto Stats App with Electron and Strapi"
**My Request**

This article is intended to demonstrate how to build a Desktop application with Strapi backend and Electron. In this article, we will create a desktop version of a Crypto Statistics App (Coinstats). Furthermore, it will demonstrate how Strapi can be used to develop a Desktop application with Electron.

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article

[2021-06-03 12:51] Kaperskyguru commented on #410
I want to work on this topic

[2021-06-03 12:55] Kaperskyguru opened #411 "[TOPIC] Build a Crypto Alert App with Strapi and Next.js"
**My Request**

This article intends to demonstrate how to develop a Crypto Alerting Application with Strapi and Nuxt.js. The App will alert users when the price of a coin is up to a fixed amount and below a certain threshold.

The article will show how to use Authentication and Authorization, manage different user accounts, and different types of users with Strapi.

**Community vote**
👍 Upvote if

[2021-06-03 12:55] Kaperskyguru commented on #411
I want to work on this content

[2021-06-03 12:58] Kaperskyguru opened #412 "[TOPIC] How to build a Ticketing App using Vue.js and Strapi"
**My Request**

In this article, I intended to cover everything related to build a real-world Ticketing System with Strapi and Vue.js, where users can buy, book, sell, and use tickets for upcoming events.

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-06-03 12:58] Kaperskyguru commented on #412
I want to work on this topic

[2021-06-03 13:01] Kaperskyguru commented on #341
Can i take this up?

[2021-06-03 13:03] Kaperskyguru commented on #114
Can i take up this task?

[2021-06-03 14:31] bigpreshy commented on #337
I'd like to work on this.

[2021-06-03 19:27] Lith commented on #199
Thanks :) I've request an access to look at it ^^

[2021-06-05 11:52] kashem76 opened #413 "[ISSUE]"
**The concerning content**

**Issue**

[2021-06-05 12:23] Mcastres commented on #413
Closing since it's blank.

[2021-06-05 12:23] #413 closed

[2021-06-05 12:32] kashem76 opened #414 "error Couldn't find package "@fortawesome/fontawesome-free@^5.12.0" required by "@buffetjs/styles@3.0.5" on the "npm" registry."
**The concerning content**

**

1) When I try to run the command "yarn create strapi-app backend" and choose all the options, then I get the following error:
`
error Couldn't find package "@fortawesome/fontawesome-free@^5.12.0" required by "@buffetjs/styles@3.0.5" on the "npm" registry.
info Visit https://yarnpkg.com/en/docs/cli/install for documentation about this command.
Error: Couldn't find pa

[2021-06-07 08:13] malgamves commented on #338
Thanks @KevinKipkorir we're adding this to our review backlog and will get to you as soon as possible with comments on the document 👯

[2021-06-07 08:16] KevinKipkorir commented on #338
Thanks. Do you have any DevOps related topics currently available? I would
love to take on that category  as well.

On Mon, Jun 7, 2021, 11:13 AM Daniel Madalitso Phiri <
***@***.***> wrote:

[2021-06-07 08:23] malgamves commented on #338
Please have a look at the issues on the repo, there might just be some.

[2021-06-07 08:29] KevinKipkorir commented on #338
Alright. Thanks

On Mon, Jun 7, 2021 at 11:23 AM Daniel Madalitso Phiri <
***@***.***> wrote:

[2021-06-07 08:34] Favouroked commented on #198
Ok. Will share before the end of today

[2021-06-07 20:34] Favouroked commented on #198
@malgamves

Outline:
Topic: How to build a Quiz App with NextJS and Electron, powered by a Strapi backend.

- Introduction
- Requirements
- Scaffold Strapi Project - Quiz App
- Build the desktop app
- Demo - create quiz and take quiz
- Conclusion

[2021-06-08 17:12] malgamves commented on #198
hey you could even use the Strapi [Quiz Template](https://github.com/malgamves/strapi-template-quiz) thoughts?

[2021-06-08 18:55] Favouroked commented on #198
Sure, I will check it out

[2021-06-09 03:45] zaracooper commented on #199
@Lith shared the draft with you.

[2021-06-12 12:13] purnimagupta commented on #87
@remidej,  I have a blocker and it's related to Gatsby Routing. I have asked it on Gatsby's discord, GitHub discussions, dev community, StackOverflow.

If you know anything about it, it would really help me to make further progress. Here is one of the [links](https://github.com/gatsbyjs/gatsby/discussions/31861) where I have elaborated my issue in great detail. Thank you!

[2021-06-12 15:54] conorjohn opened #416 "[UPDATE] Include Scottish Gaelic in the i18n Plugin"
**My update**

Hello 👋

I'm adding Celtic (Irish, Manx, Cornish, Welsh etc) languages to this app I am making with Strapi as the CMS, genuinely love it. I noticed Scottish Gaelic was missing, do you think we could add add that to the plugin? If it's something I can help with that'd be great. And is there a way I can contribute if I notice any more missing? Because I noticed Navajo is missing too b

[2021-06-14 18:50] oviecodes commented on #313
Hey @malgamves I'll have the recipe application up soon.
The outline will cover the following:
User registration
User login
User roles and permissions
Forgot password
Reset password
Setting up email with nodemailer
relationship between Content types

[2021-06-15 04:51] desdamo commented on #166
Hello everybody, i have a question about this discussion. i created my strapi project with docker compose.
Folders :
---- / app
---- / data
---- docker-compose.yml

And i want to deploy on render but i dont find the right way because if i understood everything the database and the service are separate. can i use my dockerfile to deploy everything?? thanks for your help

[2021-06-15 11:32] oviecodes commented on #313
hey @malgamves here's the link to the recipe application https://hardcore-hopper-1e0692.netlify.app/

[2021-06-15 16:32] jakemalachowski commented on #166
@desdamo Can you create a post on https://community.render.com? We'd be happy to help get you set up there.

[2021-06-16 08:47] ShadaW11 commented on #21
Hola, If you would like to submit any translation, you can create an issue and click on ["translate an article"](https://github.com/strapi/community-content/issues/new?assignees=&labels=In+progress&template=translate-a-resource.md&title=%5BTRANSLATE%5D) and submit your request.

@Ernesto385291 Happy to hear this awesome feedback. Did you get a chance to work on the tutorial? If yes, please let me

[2021-06-16 08:49] ShadaW11 commented on #25
Hello @boazpoolman Its been a while! Are you still interested in working on this topic?

[2021-06-16 08:50] ShadaW11 commented on #33
Hey @zwalkcodes Its been a while. Did you get a chance to review the work you've done on this topic?

[2021-06-16 09:09] ShadaW11 commented on #35
Hello @Quadrisheriff Apologies for the delay and thank you for sending over the outline. It looks good. I have checked the  #305 topic and I agree with you. Are you still available to write the article?

[2021-06-16 09:11] ShadaW11 commented on #39
Hello @narduin any update on this topic? did you get a chance to progress?
@viclotana Are you still interested in writing about this topic?

[2021-06-16 09:12] Quadrisheriff commented on #35
Sure, I will send my draft hopefully this weekend

[2021-06-16 09:15] ShadaW11 commented on #58
Heyyyyyy @hannydevelop are you still interested in submitting an outline for this topic?

[2021-06-16 09:18] ShadaW11 commented on #35
Awesome @Quadrisheriff happy to hear that. And looking forward to receiving your draft.

[2021-06-16 09:18] hannydevelop commented on #58
Hello Shada, I'm sorry for the late reply. I think I'll need to stick to
the other topics for now. Someone else can take this! Sorry for the
inconveniences.

On Wed, Jun 16, 2021, 10:15 AM Shada ***@***.***> wrote:

[2021-06-16 09:30] ShadaW11 commented on #58
No worries at all. Thank you for the update.

[2021-06-16 10:04] #69 closed

[2021-06-16 10:09] ShadaW11 commented on #73
Hey @alloyking1 Its been a while, did you manage to finish this article?

[2021-06-16 10:13] #75 closed

[2021-06-16 10:20] ShadaW11 commented on #95
Hello @adriatic It seems the website is still down. Any progress?

[2021-06-16 10:20] alloyking1 commented on #73
Yes I did. I have also informed Michael that I did. He is currently
reviewing it. Can I get started on other topics while these are being
reviewed ?

On Wed, Jun 16, 2021 at 11:10 AM Shada ***@***.***> wrote:

[2021-06-16 10:21] ShadaW11 commented on #114
Hey @Kaperskyguru Can you please provide more details and an outline of what you have in mind?

[2021-06-16 10:24] alloyking1 commented on #73
Oh.. I just had a second look at it. I was working on other strapi articles
for a while. This particular article has not been completed yet. I can get
back on it ASAP.

On Wed, Jun 16, 2021 at 11:21 AM moses ***@***.***> wrote:

[2021-06-16 10:27] #138 closed

[2021-06-16 11:40] ShadaW11 commented on #73
@alloyking1 awesome. Thank you so much. Looking forward to receiving the article.

[2021-06-16 11:42] ShadaW11 commented on #139
Hey @pfeilbr Are you still interested in working on this topic?

[2021-06-16 11:47] #144 closed

[2021-06-16 11:51] #163 closed

[2021-06-16 12:06] pfeilbr commented on #139
@ShadaW11 thanks for the follow up.

unfortunately i'm unable to due to limited time.  admirer of the product and in order to make more accessible and cost effective thought pay-per-use would be a good fit.

[2021-06-16 12:11] ShadaW11 commented on #139
@pfeilbr thank you for the feedback and update. No worries at all. Looking forward to seeing your articles soon once your time allows.

[2021-06-16 12:14] ShadaW11 commented on #180
Hey @AmerAlahmar Been a while. Thank you for putting your time on this. Are you still interested in finishing this article?

[2021-06-16 12:15] ShadaW11 commented on #198
Heyyyy @Favouroked hows it going? any update on the article?

[2021-06-16 12:27] ShadaW11 commented on #213
Hey @narduin Been a while. Thank you for working on this topic. Did you manage to finish the article?

[2021-06-16 12:28] ShadaW11 commented on #214
Hey @bigpreshy any update on this video?

[2021-06-16 12:29] ShadaW11 commented on #215
Hey @santoshyadavdev any update on this article?

[2021-06-16 12:30] ShadaW11 commented on #217
Hey @Umoren Been a while, were you able to get the needed items to work on this topic?

[2021-06-16 12:33] ShadaW11 commented on #218
@Mcastres was the article reviewed and published?

[2021-06-16 12:38] ShadaW11 commented on #238
Hello @hasnentai any updated on this topic?

[2021-06-16 12:40] ShadaW11 commented on #241
Heyyy @purnimagupta Its been w while. Did you get a chance to start working on this topic?

[2021-06-16 12:41] #245 closed

[2021-06-16 13:49] adriatic commented on #95
Hello, @ShadaW11 - I am not a member of Strapi contributors group for at least a year. Sorry for not indicating this more clearly.

[2021-06-16 13:49] #95 closed

[2021-06-16 14:00] purnimagupta commented on #241
@ShadaW11, I had begun working on it and created a demo app which later I to AWS EC2. However, I incurred a lot of AWS charges (amounting to almost $200 USD). I stopped any further work (Route 53, SSL, etc) because the charges were getting exceedingly high.

Have asked @malgamves if I can have access to a Strapi-provided AWS account for this (because even if anyone else has a free tier it would on

[2021-06-16 14:09] purnimagupta commented on #87
Hey @malgamves @markkaylor, haven't had any luck so far. I asked few of my personal circles too who had worked on Gatsby - seems like Gatsby plugin ecosystem kinda has had issues earlier. People are recommending me to switch to NextJS! There's been no response on their github repository or discord/[dev.to](https://dev.to/pooyax14/gatsby-private-route-not-working-as-intended-2cd3)/[stackoverflow](h

[2021-06-16 15:07] markkaylor commented on #87
Hi @purnimagupta, are you on the Strapi Community Discord: https://discord.gg/jkAA3TpG ?

Could you send me a DM on there and I will try to help you out as best I can :)

[2021-06-16 15:40] purnimagupta commented on #87
@markkaylor, this isthe Strapi Discord [link](https://discord.com/channels/811989166782021633/827318257504485406/852562396118908968) where I asked this. Thank you!

[2021-06-16 16:22] Parthian opened #418 "[UPDATE OUTDATED CONTENT]"
**CKEditor Blog Post Outdated**

**https://strapi.io/blog/how-to-change-the-wysiwyg-in-strapi**

Can't add anymore. Strapi is super easy but adding CKEditor Classic (which is all but useless due to a lack of features) was difficult as I'd first attempted the blog approach approved. It needs to go.

Also please remove the Doc page for Classic installation which also appears to be outdated. Or bette

[2021-06-16 16:46] zaracooper commented on #199
@Lith did you get a chance to check out the draft?

[2021-06-16 16:52] AmerAlahmar commented on #180
Hey @malgamves @ShadaW11
I am deeply sorry for overlooking this all this time, here is the current situation:

After a few tries and assessments of Strapi,  unfortunately, we decided not to go with Strapi for now (while keeping an eye on it). For that reason didn't get deeper with this.

HOWEVER, I still intend to finish what I started, but it will take some time I am afraid because I will have to

[2021-06-16 23:44] Favouroked commented on #198
The first draft will be available soon

[2021-06-17 08:11] ShadaW11 commented on #198
Hey @Favouroked awesome news. thank you for the update. Happy to hear from you. Looking forward to receiving the draft. Please let me know if you need any help.

[2021-06-17 08:13] Favouroked commented on #198
Sure, thanks.

[2021-06-17 08:38] ShadaW11 commented on #180
Hey @AmerAlahmar Thank you for getting back to me so quickly. No worries at all. Thanks again for explaining the situation. I totally understand and happy to know that you intend on finishing the article. We are also ready to help you if you have any questions. Also, if you have time, could you please check and register on the ["write for community"](https://strapi.io/write-for-the-community) page

[2021-06-17 12:24] narduin commented on #213
Hello @ShadaW11, same response I gave @malgamves : I was supposed to be contacted by your "solutions engineer" because "he pointed out a few other issues".
Sadly, I never heard from him.

[2021-06-17 13:03] ShadaW11 commented on #213
Hey @narduin thank you for the update. Apologies for the issue. Hey @derrickmehaffy, would you be able to take a look and help us get the tutorial published?

[2021-06-17 13:16] ShadaW11 commented on #249
@samuelarogbonlo Any update on this?

[2021-06-17 13:18] #253 closed

[2021-06-17 13:20] ShadaW11 commented on #254
@viveksonar you can get started by checking and registering on our "[write for community](https://strapi.io/write-for-the-community)" program.

[2021-06-17 13:39] derrickmehaffy commented on #213
I directly reviewed the preview that @malgamves sent me a while ago, I don't remember exactly why I remember there where quite a few fixes that were needed.

Feedback was handled to Daniel as I wasn't aware this issue existed.

[2021-06-17 18:43] bigpreshy commented on #214
Hey @ShadaW11, my article has been  [https://strapi.io/blog/strapi-draft-system-explained](here)
Should I still make a video?

[2021-06-17 18:56] bigpreshy opened #421 "[SUBMIT] Creating a Photo Gallery with Strapi and Cloudinary"
**My resource**

I'd like to work on tutorial where I'd create photo gallery with Strapi.
Here is my outline:
Getting started
Setting Up Strapi (Content Type creation)
Setting up Cloudinary (for photo storage)
Setting up a frontend (React and Redux)
Connecting the frontend to Strapi (to fetch the data)
Beautifying it.
**My content is**

- [x] Creating a Photo Gallery with Strapi and Cloudinary

**

[2021-06-18 06:38] arnu515 opened #422 "[SUBMIT] How to create a blog with SvelteKit and Strapi"
**My resource**
[SvelteKit](https://kit.svelte.dev) is a new SSR framework, like NextJS, but for React instead of Svelte. It looks really promising, and I want to teach the Strapi community how they can create a blog website with SvelteKit using Strapi as the CMS.

Outline:
- Introduction
- Goals
- Prerequisites
- Creating a Strapi Project
  - Creating Content Types
  - Setting up Roles and Permis

[2021-06-18 13:01] ejirocodes opened #423 "[TOPIC] To-do app using Svelte, Strapi and TailwindCSS"
**My resource**
[Svelte](https://svelte.dev/) is a component framework that runs at build time, converting your components into highly efficient imperative code that surgically updates the DOM. Svelte approach to building web apps is unique and I will like to teach the Strapi community how they can build a to-do app with Svelte using Strapi as the CMS and Tailwind for styling.

**Outline:**

- Int

[2021-06-18 21:34] malgamves commented on #213
As yes, I passed the feedback to Nico and haven't heard from him since, we could wait one more weak before opening this back up i guess.

[2021-06-18 21:43] narduin commented on #213
I'm not sure what feedback you are referring to. I only received an email on January 19th saying:

But I never heard from anyone after that. I would love to get that feedback :)

[2021-06-19 03:11] Manitej66 commented on #13
Hey! I can make a tutorial on how to set up google OAuth using Strapi and reactjs. I'll cover the entire process.

[2021-06-19 12:08] Kaperskyguru commented on #306
@malgamves @ShadaW11 @vcoisne

Done working on this article.

Here is the link
https://www.dropbox.com/scl/fi/d7ci1shqk9mogrg1cqhuo/Implementing-Previews-with-Nuxt-Applications-using-a-Strapi-backend.paper?dl=0&rlkey=1mxwolrzrbfnz7meafpgc3icn

[2021-06-21 16:30] ShadaW11 commented on #338
Hey @KevinKipkorir, awesome article. just sent you an email.

[2021-06-21 16:58] KevinKipkorir commented on #338
Yes, I received it.Thank you for the opportunity.Let me i will be sending
my Twitter handle link and Photo.

On Mon, Jun 21, 2021, 7:30 PM Shada ***@***.***> wrote:

[2021-06-21 21:47] derrickmehaffy commented on #213
I can run through the article again later this week and post the feedback here. I don't remember it now off hand :sweat_smile:

[2021-06-22 07:30] #338 closed

[2021-06-22 07:32] ShadaW11 commented on #13
Hello @Manitej66 awesome news, could you please provide me an outline of what you plan on writing about?

[2021-06-22 07:32] #21 closed

[2021-06-22 07:34] ShadaW11 commented on #73
Hey @alloyking1 do you have an estimation of when the article could be ready?

[2021-06-22 07:36] Manitej66 commented on #13
Thanks @ShadaW11
I'm planning to cover the initial setup of react project, connecting it to strapi, and creating a login and profile page.

I'll cover the below topics:
1. Setting up Google OAuth with strapi
2. Storing users in a database
3. Showing the pages based on user state
4. Protected routes
5. Displaying information coming from Google OAuth.

Feel free to add anything else you want to cove

[2021-06-22 07:39] ShadaW11 commented on #213
Thank you @derrickmehaffy for helping out and thanks @narduin can't wait to see the article published soon.

[2021-06-22 13:13] #398 closed

[2021-06-22 15:03] lazy59 opened #425 "[ISSUE]"
**The concerning content**
`articles-categories.gql` always get the same result

**Issue**
No matter what the `id` is, the same result will be returned by `graphql`.
![image](https://user-images.githubusercontent.com/27847851/122949091-f9e0e300-d3ad-11eb-8995-afc09c6acdf3.png)

[2021-06-22 21:00] oviecodes commented on #204
@malgamves is this project still available? I'm done with #313

[2021-06-23 10:48] ShadaW11 commented on #306
Hey @Kaperskyguru awesome job. Just posted your article.

[2021-06-23 10:48] #306 closed

[2021-06-23 10:51] Kaperskyguru commented on #306
Thanks for publishing.

[2021-06-23 11:02] ShadaW11 commented on #425
Hello @lazy59, @Mcastres will get back to you as soon as possible. However our community content section is not used for support but rather for articles. For future queries, you can post on our [form](http://forum.strapi.io) and we would be happy to help out.

[2021-06-23 12:09] ShadaW11 commented on #422
Hey @arnu515 awesome outline and subject, looking forward to your article.
Next steps:
- Please register your author details by [filling the form](https://strapi.io/write-for-the-community) if this is your first article.
- Take a look at our [article guidelines](https://github.com/strapi/community-content/blob/master/tutorials/GUIDELINES.md) before you start writing.

[2021-06-23 12:27] ShadaW11 commented on #414
Hello @kashem76 Could you please post your query on your [forum](http://forum.strapi.io) and we would be happy to help out. In our community content section is not used for support but rather for articles.

[2021-06-23 12:27] #414 closed

[2021-06-23 12:34] Mcastres commented on #425
Hey @lazy59, do you have a repository of this project where I can test?

[2021-06-23 12:38] ShadaW11 commented on #412
Hey @Kaperskyguru, nice, can you please send me an outline of what you have in mind?

[2021-06-23 12:57] ShadaW11 commented on #411
@Kaperskyguru Heyy Could you please send me an outline of what you have in mind?

[2021-06-23 12:58] ShadaW11 commented on #410
@Kaperskyguru you have a lot of open topics, I suggest you send a proposal for the other ones before proceeding on this.

[2021-06-23 12:59] ShadaW11 commented on #409
@Kaperskyguru Thank you, as suggested, lets work on the other articles that you suggested first before we proceed.

[2021-06-23 13:00] ShadaW11 commented on #407
Hey @RazvanCretu Thank you an apologies for the delay. Would you be able to send over an outline of what you have in mind for this article? similar to [this](https://github.com/strapi/community-content/issues/421)

[2021-06-23 13:12] Mcastres commented on #397
This would need an update from the plugin which seems to be outdated.

[2021-06-23 13:13] ShadaW11 commented on #395
Hey @hauben awesome content, You can [feature](https://github.com/strapi/community-content/tree/master/tutorials#how-to-write-a-tutorial) your tutorial on [Strapi](https://strapi.io/tutorials). Would be awesome if you could also join our ["write for community" program ](https://strapi.io/write-for-the-community) and work on new tutorials.

[2021-06-23 13:13] #397 closed

[2021-06-23 13:36] ShadaW11 commented on #421
Hey @bigpreshy love the outline, would it possible to replace Reach with Nextjs?

[2021-06-23 13:58] ShadaW11 commented on #393
Hello @Sameera-Perera great content, would love to have write tutorials for Strapi by joining our ["write for community" program](https://strapi.io/write-for-the-community)

[2021-06-23 13:58] #393 closed

[2021-06-23 14:02] #395 closed

[2021-06-23 14:03] ShadaW11 commented on #392
Hello @JMPAZROD our community content section is not used for support but rather for articles. For future queries, you can post on our forum and we would be happy to help out.

[2021-06-23 14:03] #392 closed

[2021-06-23 14:06] ShadaW11 commented on #347
Hey @pouyamiralayi would you be interested in updating the plugin?

[2021-06-23 14:07] ShadaW11 commented on #345
Hey @obitodarky; been a while, any update on the article?

[2021-06-23 14:08] #340 closed

[2021-06-23 14:10] #341 closed

[2021-06-23 14:11] ShadaW11 commented on #339
Hey @xTrilton still interested in this topic?

[2021-06-23 14:12] ShadaW11 commented on #337
Hey @bigpreshy what do you have in mind for this topic?

[2021-06-23 14:13] ShadaW11 commented on #333
@Mcastres Did you get a chance to review and update this article?

[2021-06-23 14:13] xTrilton commented on #339
Yes, I will be submitting it Mid July.

On Wed, 23 Jun 2021 at 16:11, Shada ***@***.***> wrote:

[2021-06-23 14:14] #330 closed

[2021-06-23 14:15] #328 closed

[2021-06-23 14:17] bigpreshy commented on #421
I can replace React with Nextjs. But I personally think it might be an overkill because of I won't use so many features of Nextjs...
But React, it's unopinionated.

[2021-06-23 14:19] ShadaW11 commented on #327
Hello @Ulibka68 thank you for creating it, can you please [submit your tutorial](https://github.com/strapi/community-content/tree/master/tutorials) here so we can feature it on our [website](https://strapi.io/tutorials). We also love if you would join our ["write for community" program](https://strapi.io/write-for-the-community)

[2021-06-23 14:19] #327 closed

[2021-06-23 14:20] ShadaW11 commented on #326
Hey @brunogonzales if you created the tutorial, please submit it [here](https://github.com/strapi/community-content/tree/master/tutorials) so we can feature it on our [website](https://strapi.io/tutorials).

[2021-06-23 14:20] #326 closed

[2021-06-23 14:21] ShadaW11 commented on #323
Hey @Umoren any update on this article?

[2021-06-23 14:22] #307 closed

[2021-06-23 14:23] #320 closed

[2021-06-23 14:25] ShadaW11 commented on #319
Hey @malithmcr awesome content, would you please [submit your tutorial](https://github.com/strapi/community-content/tree/master/tutorials) so we can feature it on our [website](https://strapi.io/tutorials)? we would also love if you would register to join our ["write for community" program](https://strapi.io/write-for-the-community) to discuss future tutorials!

[2021-06-23 14:25] #319 closed

[2021-06-23 14:29] ShadaW11 commented on #309
Hey @vickywane did you manage to actually work on this topic?

[2021-06-23 14:31] ShadaW11 commented on #35
Hey @Quadrisheriff any update on the article?

[2021-06-23 14:32] ShadaW11 commented on #304
Hey @Pablo-Aldana are you still interested in writing this article?

[2021-06-23 14:34] #302 closed

[2021-06-23 14:59] ShadaW11 commented on #339
Awesome, thank you @xTrilton

[2021-06-23 15:05] obitodarky commented on #345
Hi @ShadaW11
Sadly, not much. I haven't got enough time to work on the article, but I have kind of managed to get the UI part done for the mobile app. Functionally, would an app where you can see descriptions of movies, and add them to favorites work? Where we fetch this data from the Strapi API?

Is there anything else you would like to see involving Strapi? The best I have right now are just som

[2021-06-23 16:21] vickywane commented on #309
@ShadaW11 No I didnt. Reason being that I wanted to know what methods were recommended by engineers within Strapi.

 Although I am aware that there Is no official migration guide, I saw parts of the announcement thread that said there would be some form of assistance / consultation to premium Strapi users.

There are quite a number of ways / tools to use  when performing a database migration.

I a

[2021-06-23 20:12] derrickmehaffy commented on #213
Hi @narduin it seems we have an updated version in a dropbox entry, can you also update https://github.com/narduin/strapi-openlitespeed with the latest changes as well. It makes it a bit easier for me to review if I'm looking directly at the markdown.

[2021-06-23 21:27] malgamves opened #426 "[Request New Content] Building a Marketing Site with Forms FUnctionality with React and Strapi"
Hello 👋

I would like to see a tutorial that used Strapi and React to build a Startup Site that has form functionality for something like a news letter. It would be nice to see if any React 18 features can be talked about to.

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-06-23 21:29] malgamves opened #427 "[Request New Content] Next Blog with Previews and Next Image"
Hello 👋

I'd love to see if someone can put together a piece on how to build a Next.js blog that leverages Next previews and optimized images with content from Strapi.

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-06-23 22:50] derrickmehaffy commented on #213
Alright here is a rough (work in progress) summery of feedback:

- Replicate commands from external documentation: https://github.com/narduin/strapi-openlitespeed#deploying-openlitespeed
- Maybe dive a little deeper on the Strapi deployment (config changes, ect): https://github.com/narduin/strapi-openlitespeed#deploying-strapi
- Replicate information on creating virtual hosts (the external doc is

[2021-06-23 22:54] derrickmehaffy commented on #213
As some additional footnotes, I am extremely critical of the benchmark results as I have tested quite a number of web-servers and both software proxy application and hardware load-balancers (which can act as a proxy application). With the exception of a handful of F5 BIG-IP load balancers I have never seen any software get remotely close to the proxy speed of Nginx.

(Keep in mind that Nginx bough

[2021-06-24 01:03] lazy59 commented on #425
Hey, thank you for your reply. I've solved the problem by adding new collection types and deleting the old ones. Although I don't know why the problem happened before, it seems to work well now.
And the repository I use is [nuxt-strapi-apollo-blog](https://github.com/strapi/community-content/tree/master/tutorials/code/nuxt-strapi-apollo-blog).

[2021-06-24 10:45] #425 closed

[2021-06-24 12:07] ShadaW11 commented on #309
@vickywane thank you for the clarification. Would love to get the feedback of our awesome team to see if its possible If it or maybe we could change the topic a bit to something less complicated? @derrickmehaffy @malgamves @Mcastres

[2021-06-24 12:17] ShadaW11 commented on #345
Hey @obitodarky I would love to see the integration of Strapi. I understand the time constraint. I will be closing the issue but would love to have you join our ["write for community" program](https://strapi.io/write-for-the-community) and maybe you would be able to write an article for us in the future.

[2021-06-24 12:17] #345 closed

[2021-06-24 13:03] #82 closed

[2021-06-24 13:05] ShadaW11 commented on #118
Hey @derrickmehaffy what do you think can be done with this topic?

[2021-06-24 13:06] ShadaW11 commented on #129
@ghoshnirmalya Heyy been a while, any update on this topic?

[2021-06-24 13:35] #167 closed

[2021-06-24 13:36] ShadaW11 commented on #241
Hello @purnimagupta would you be interested in using @malgamves's AWS account to complete this tutorial? Otherwise we can close this issue if its not possible.

[2021-06-24 13:40] ShadaW11 commented on #418
@Mcastres any help on this?

[2021-06-24 13:43] ShadaW11 commented on #313
Hey @malgamves any feedback from your side?

[2021-06-24 13:46] #301 closed

[2021-06-24 13:47] #300 closed

[2021-06-24 13:48] ShadaW11 commented on #292
Hey @MattieBelt what do you have in mind regarding this topic? could you submit an outline of the article?

[2021-06-24 13:49] ShadaW11 commented on #291
Hey @jumamiller would you like to submit an article around this topic? if yes, could you please provide an outline of the article?

[2021-06-24 13:52] #287 closed

[2021-06-24 13:52] #279 closed

[2021-06-24 13:53] #274 closed

[2021-06-24 13:54] #262 closed

[2021-06-24 13:54] #261 closed

[2021-06-24 13:55] ShadaW11 commented on #259
Hey @uF4No I hope you had time to submit your tutorial?

[2021-06-24 13:55] #259 closed

[2021-06-24 13:55] #249 closed

[2021-06-24 14:06] #218 closed

[2021-06-24 14:36] arnu515 commented on #422
[Here's my article in Dropbox Paper](https://www.dropbox.com/scl/fi/a8j2h6foueim7yconlp89/Untitled-2.paper?dl=0&rlkey=33uhw7rokc4dspnvlndw92udr)

[And here's the original file in markdown](https://gist.github.com/arnu515/72c95b2d68a8e6837d9c30064c464a24), if you need that too

Hope it'll get accepted 🤞

[2021-06-24 14:45] derrickmehaffy commented on #118
@ShadaW11 we are planning to deprov the one-clicks since they are recommended for production and instead we will refactor the manual documentation later in the year with @pwizla

[2021-06-24 15:39] ShadaW11 commented on #214
Thank you for the update @bigpreshy no need for a video

[2021-06-24 15:39] #214 closed

[2021-06-24 15:41] ShadaW11 commented on #204
Hey @oviecodes yes, still available. If you would like to start working on it, please write an outline of what you would like to talk about?

[2021-06-24 15:45] #199 closed

[2021-06-24 15:48] #129 closed

[2021-06-24 15:49] ShadaW11 commented on #118
@derrickmehaffy thank you for the update.

[2021-06-24 15:49] #118 closed

[2021-06-24 15:50] ShadaW11 commented on #87
@purnimagupta thank you for your quick response, any update on the progress?

[2021-06-24 15:51] ShadaW11 commented on #34
Hey @Quadrisheriff still interested in this subject?

[2021-06-24 16:12] ShadaW11 commented on #422
Hey @arnu515 thank you so much. Will get back to you with feedback soon.

[2021-06-24 16:59] purnimagupta commented on #87
@ShadaW11, yes, I have got some pointers from @markkaylor and I am working on them. I will try to wrap it asap.

[2021-06-24 21:33] oviecodes commented on #313
hey @ShadaW11 here are the links to the articles

part 2 - https://www.dropbox.com/scl/fi/fm4xzric3mzlzu4k7higa/Registration-and-Login(authentication)-with-Vue.js-and-Strapi-(Part-2).paper?dl=0&rlkey=uthtgg6x999hwerwzm4ozvp9w

part 1 - https://www.dropbox.com/scl/fi/fcj96a00opmntkfkcrnnj/Registration-and-Login(authentication)-with-Vue.js-and-Strapi-(Part-1).paper?dl=0&rlkey=mqb9q4qglknhv0q20j8nb1l

[2021-06-25 00:31] amirtds commented on #427
@malgamves I can take this one ✋

[2021-06-25 07:32] MattieBelt commented on #292
Hey @ShadaW11

Yes I can, it would be an tutorial which walks you through the setup of an Strapi instance with the strapi-hook-algolia with a small example on how to fetch the algolia index in your front-end.

0. Explain Strapi, Algolia and the usage of both of them.
1. Setup Strapi (maybe from starter template), an Algolia account and install the service.
2. Configure the hooks to update the sear

[2021-06-25 09:36] Umoren commented on #323
Hi, Shada
So sorry I had to pause on the article, I had some physical and health
challenges that made me suspend working for quite some time.
However, I was given the medical all-clear during the week so I’ll get
right on the article. So sorry for this inconvenience

On Wed, Jun 23, 2021 at 3:21 PM Shada ***@***.***> wrote:

--
<https://about.me/umorensamuel?promo=email_sig&utm_source=product&utm_

[2021-06-25 14:47] ShadaW11 commented on #427
Hey @amirtds, Could you please share an outline for the proposed article.

[2021-06-25 15:28] Quadrisheriff commented on #35
Hi ShadaW11, sorry for the delay. This is the dropbox link.

https://www.dropbox.com/scl/fi/0cdl3p2olrg9928rlpsd9/Previews-with-Strapi-and-Next.js..paper?dl=0&rlkey=6aws1yp5ue3ws3nupkohdayg5

[2021-06-25 15:30] Quadrisheriff commented on #35
Hi ShadaW11, sorry for the delay. This is the dropbox link.

https://www.dropbox.com/scl/fi/0cdl3p2olrg9928rlpsd9/Previews-with-Strapi-and-Next.js..paper?dl=0&rlkey=6aws1yp5ue3ws3nupkohdayg5

[2021-06-25 15:36] ShadaW11 commented on #421
Hey @bigpreshy; yes it would be great if you can replace It with Nextjs. I would suggest adding some functionalities to utilize the features of Nextjs.

[2021-06-25 15:38] ShadaW11 commented on #416
Hey @conorjohn thank you, would you mind posting this message [here](https://github.com/strapi/strapi)

[2021-06-25 15:38] #416 closed

[2021-06-25 15:40] ShadaW11 commented on #401
Hey @yateshchhabra1995 Thank you for writing this. We will be working on creating more beginner content. In the meantime you can get direct support by [posting in our forum here](http://forum.strapi.io)

[2021-06-25 15:40] #401 closed

[2021-06-25 15:40] bigpreshy commented on #421
Okay. I can do that

[2021-06-25 15:40] ShadaW11 commented on #313
Hey @oviecodes awesome thanks. We will review the content and get back to you.

[2021-06-25 15:53] conorjohn commented on #416
Oh sorry, do you mean file this as an issue under /strapi/strapi?
I'm not used to filing tickets like this

[2021-06-25 15:53] ShadaW11 commented on #35
Hey @Quadrisheriff I will start reviewing the article. However can you please comment on the original issue 305? so I assign you the topic there instead of this thread?

[2021-06-25 16:02] Quadrisheriff commented on #305
Hi @ShadaW11 , sorry for the delay. This is the dropbox link.

https://www.dropbox.com/scl/fi/0cdl3p2olrg9928rlpsd9/Previews-with-Strapi-and-Next.js..paper?dl=0&rlkey=6aws1yp5ue3ws3nupkohdayg5

[2021-06-25 16:02] Quadrisheriff commented on #35
Done @ShadaW11

[2021-06-25 16:04] amirtds commented on #427
Hi @ShadaW11 It will look something like following

- Intro
  - What is Strapi
  - Why use Strapi as your Headless CMS
  - What is Nextjs
  - Optimize image loading with next/image
  - Get draft previews with Nextjs preview mode
- Installation
  - Nextjs
  - Strapi
- Setup and Development
  - Create blog content type in Strapi
  - Setup Strapi blog APIs
  - Data fetching in Next.js
  - Create comp

[2021-06-25 16:20] ejirocodes commented on #423
@ShadaW11, I've submitted my details and gone through the guideline. I'll start working on the article as soon as possible. Thanks :)

[2021-06-25 17:03] conorjohn commented on #416
Oh sorry @ShadaW11  do you mean file this as an issue under /strapi/strapi?
I'm not used to filing tickets like this

[2021-06-26 00:26] RazvanCretu commented on #407
Hi @ShadaW11 no worries at all, it's a busy month for me too.

Basically what I want is to:
* create some custom endpoints that will point to an external data api
* create custom graphql resolvers for those endoints and enable custom graphql queries/mutations
* connecting it to a frontend like nextjs (maybe)

Other than the third point I don't see it related to the one you mentioned.

Let me know

[2021-06-26 09:15] Kaperskyguru commented on #412
Hello @ShadaW11,

Below is my outline for this article.

Introduction
What is Strapi - A Headless CMS?
Scaffolding a Strapi project
Build the Ticket collections
Build the Event collections
Seed the databases
Allowing Public access
Building the Vue app
Set up Tailwind CSS
Build components
Testing the app
Conclusion.

The article will be focused on introducing beginners or readers to building a real

[2021-06-26 09:18] Kaperskyguru commented on #411
Hello @ShadaW11,

The Crypto world is trending now and I want to show the readers how to build a Crypto App with Strapi.

Below is my outline for this article.

Introduction
What is Strapi - A Headless CMS?
Scaffolding a Strapi project
Build the Crypto collections
Seed the databases with Coinbase API
Allowing Public access
Building the Nuxt.js app
Build components
Testing the app
Conclusion.

The

[2021-06-26 09:20] Kaperskyguru commented on #410
Hello @ShadaW11,

The Crypto world is trending now and I want to show the readers how to build a Crypto Statistics Desktop App with Strapi.

Below is my outline for this article.

Introduction
What is Strapi - A Headless CMS?
Scaffolding a Strapi project
Build the Crypto collections
Seed the databases with Coinbase API
Allowing Public access
Building the Electron.js app
Creating Electron.js pages

[2021-06-26 09:21] Kaperskyguru commented on #409
Hello @ShadaW11,

Below is my outline for this article.

Introduction
What is Strapi - A Headless CMS?
Scaffolding a Strapi project
Build the Forum collections
Build the Post collections
Seed the databases
Allowing Public access
Building the Nutx.js app
Set up Tailwind CSS
Build components
Testing the app
Conclusion.

The article will be focused on introducing beginners or readers to building a re

[2021-06-26 09:26] Kaperskyguru commented on #426
Hello @ShadaW11, @malgamves,

I will love to take up this task.

Below is my outline for this article.

Introduction
What is Strapi - A Headless CMS?
Scaffolding a Strapi project
Build the Newsletter collections
Seed the databases
Allowing Public access
Overview Of React 18
Building the React app
Build components
Testing the app
Conclusion.

The article will introduce beginners or readers to build

[2021-06-28 12:52] ShadaW11 commented on #422
Hey @arnu515 Could you please give me edit access on dropbox

[2021-06-28 13:33] arnu515 commented on #422
Sure. [Here's the new link](https://www.dropbox.com/scl/fi/a8j2h6foueim7yconlp89/Untitled-2.paper?dl=0&rlkey=1ry34uivug0wqldf38pxwxmtx)

[2021-06-28 13:53] narduin commented on #213
Hello @derrickmehaffy, thank you for taking the time to review this.

Regarding the configuration, does the `Virtual Host Root` folder `$SERVER_ROOT/strapi` exists?
By default `$SERVER_ROOT` equals `/usr/local/lsws`
If `/usr/local/lsws/strapi` does not exist, the conf won’t work at all. It has to exist even if it’s empty.

In your first terminal screenshot, it says that strapi is accessible via `h

[2021-06-28 13:53] ShadaW11 commented on #422
Thank you. Could you please register in the form in this page to collect your author details when publishing the article:
https://strapi.io/write-for-the-community

[2021-06-28 13:58] ShadaW11 commented on #313
Thank you @oviecodes updated link to article: https://www.dropbox.com/scl/fi/fcj96a00opmntkfkcrnnj/Registration-and-Login(authentication)-with-Vue.js-and-Strapi.paper?dl=0&rlkey=mqb9q4qglknhv0q20j8nb1lv6

[2021-06-28 14:09] ShadaW11 commented on #407
Hey @RazvanCretu apologies for the confusion, my reference was for the outline structure and not content. Connecting it to Nextjs frontend would be AWESOME, would you be able to do that? Could you also please fill in the author form in this page https://strapi.io/write-for-the-community and go over the FAQ ( for more details around article guidelines, payment & invoice submission)

[2021-06-28 14:18] ShadaW11 commented on #416
@conorjohn yes exactly. No worries at all.

[2021-06-28 14:19] ShadaW11 commented on #423
Thanks @ejirocodes looking forward for your article.

[2021-06-28 14:28] ShadaW11 commented on #305
Hey @Quadrisheriff Could you please register your author details in the form in this page https://strapi.io/write-for-the-community

[2021-06-28 14:31] ShadaW11 commented on #323
Hey @Umoren No worries at all. Take care of your health. If you have time, please register your author details in the form in this page https://strapi.io/write-for-the-community and review the FAQ (article guidelines, invoice and getting paid)

[2021-06-28 14:36] ShadaW11 commented on #13
Hey @Manitej66  Apologies for the delay. The outline by derrick talks about using 3rd party auth for both mobile and web using a provider - here its more about OAuth with Google and not using the Google Provider on something like Flutter and React

[2021-06-28 14:45] Umoren commented on #323
Thanks Shada.
I've registered.
I'll turn in the article outline tomorrow and 15th July for the initial
draft.

On Mon, Jun 28, 2021 at 3:31 PM Shada ***@***.***> wrote:

--
<https://about.me/umorensamuel?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>
Samuel Umoren
about.me/umorensamuel
<https://about.me/umorensamuel?promo=email_sig&utm_source=prod

[2021-06-28 15:00] Manitej66 commented on #13
an article showing how to use OAuth with google?

[2021-06-28 15:26] arnu515 commented on #422
I've registered for the form there. Thank you

[2021-06-28 15:36] Quadrisheriff commented on #231
Hi @ShadaW11, I can work on creating a tutorial for this topic. I will build something + send an outline before Friday, and hopefully release the final tutorial next week.

[2021-06-28 17:53] AmerAlahmar commented on #180
Hi @ShadaW11 @malgamves,
How are you doing? hope everything is fine.

I am offended to see that you have added the "looking for author" label!!
Just kidding :smiley: I have been stalling for quite some time now, I deserve it :grin: .

Anyway, I have just finished writing the [Tutorial](https://github.com/AmerAlahmar/AmerAlahmar.github.io/blob/main/strapi/replace-default-wysiwyg-editor-with-tinymce

[2021-06-29 09:42] ShadaW11 commented on #180
Hey @AmerAlahmar Awesomeee, apologies I thought you were busy but happy to see its done.

Please register your author details at the bottom of this page [Write for the Community](https://strapi.io/write-for-the-community) and could you please check our FAQ to submit the tutorial, review article guidelines, and also please take a look on how to get and at our Invoice submission guidelines.

[2021-06-29 09:49] ShadaW11 commented on #231
Hey @Quadrisheriff awesome news, yes please do share the outline with me once possible

[2021-06-29 09:59] ShadaW11 commented on #323
Awesome @Umoren looking forward to receiving the outline

[2021-06-29 14:08] derrickmehaffy commented on #213
Yes this exists

This is because I modified the `url` key in the server.js as we have documented in our official proxy guides:

- https://strapi.io/documentation/developer-docs/latest/setup-deployment-guides/deployment/optional-software/nginx-proxy.html
- https://strapi.io/documentation/developer-docs/latest/setup-deployment-guides/deployment/optional-software/caddy-proxy.html
- https://strapi.io/

[2021-06-29 19:04] Umoren commented on #323
Hi @ShadaW11
Here's the outline
[Dropbox link](https://www.dropbox.com/scl/fi/uvbgirmqgwku8tn145j7u/Auth0-Provider-and-Strapi-Tutorial.paper?dl=0&rlkey=8ds3bs2dxdi1u70mu37p2wzv3)

[2021-06-29 20:19] oviecodes commented on #204
Hey @ShadaW11 the outline for this article includes

1. Getting started with Strapi
2. Setting up our Strapi back-end
3. Setting users permission
4. Building the front-end
5. Using the Nuxt-Strapi module for authentication
6. Setting up emails using Node-mailer
7. Using templates with Node-mailer

[2021-06-30 07:27] Quadrisheriff commented on #305
Done*  @ShadaW11

[2021-06-30 08:25] ShadaW11 commented on #305
Hey @Quadrisheriff your article has been published, could you please check the  https://strapi.io/write-for-the-community to learn how to issue and submit an invoice please.

[2021-06-30 08:25] #305 closed

[2021-06-30 10:15] #217 closed

[2021-06-30 10:19] ShadaW11 commented on #87
Hey @purnimagupta any update on this? Could you also please register your author details by filling the form here: https://strapi.io/write-for-the-community

[2021-07-01 13:21] ShadaW11 commented on #427
Hello @amirtds looks great. I would suggest using screenshots or GIFs instead of video recordings. Looking forward to receiving the article

[2021-07-01 13:22] ShadaW11 commented on #426
Hey @Kaperskyguru Looks good.

[2021-07-01 13:23] ShadaW11 commented on #409
Hey @Kaperskyguru we would like to have more nextjs content if that's possible.

[2021-07-01 13:24] ShadaW11 commented on #410
Hey @Kaperskyguru Looks good

[2021-07-01 13:25] ShadaW11 commented on #411
Hey @Kaperskyguru same comment, would you be able to use next?

[2021-07-01 14:04] ShadaW11 commented on #412
Hello @Kaperskyguru its a good topic and the outline is good, but we need to choose among the ones you have submitted the top ones. So I believe this we can work on next month.

[2021-07-01 14:09] ShadaW11 commented on #323
Hey @Umoren great outline, I edited a bit the title and was wondering if you would be able to use Nextjs instead of Nuxt?

[2021-07-01 14:13] ShadaW11 commented on #292
Hey @MattieBelt great outline, I hope you could also expand more on point 3, providing a detailed and lengthy example.

[2021-07-01 14:14] ShadaW11 commented on #204
Hey @oviecodes thank you, would you be able to use nextjs instead of Nuxt?

[2021-07-01 14:15] ShadaW11 opened #430 "[Request New Content] Next.js E-Commerce Tutorial"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-07-01 14:16] malgamves commented on #13
hey @Manitej66 not really, more on implementing two frontend platforms (mobile and web) while using an auth provider from Strapi.

Single Strapi application with auth provider enabled --> Flutter App with auth working
                         |
                          `-----------> Next web app with auth working

It's not something a lot of people know is possible

[2021-07-01 14:24] ShadaW11 opened #431 "[Request New Content] Shopify and Strapi"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-07-01 14:25] ShadaW11 opened #432 "[Request New Content] 10 reasons to move from Traditional to headless CMS"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-07-01 14:25] ShadaW11 opened #433 "[Request New Content] How to Choose a Headless CMS"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-07-01 14:25] ShadaW11 opened #434 "[Request New Content] How to build a voice application with Strapi"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-07-01 14:26] oviecodes commented on #204
Unfortunately, I'm not really familiar with Next.js, but is there anything else we could do @ShadaW11

[2021-07-01 15:31] Umoren commented on #323
Yeah sure, i love Nextjs.

On Thu, Jul 1, 2021 at 3:09 PM Shada ***@***.***> wrote:

--
<https://about.me/umorensamuel?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>
Samuel Umoren
about.me/umorensamuel
<https://about.me/umorensamuel?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>

[2021-07-01 16:00] amirtds commented on #427
Hi @ShadaW11 Awesome. sure thing I can using Screenshots and GIFs instead of video. 🚀

[2021-07-01 16:36] oviecodes commented on #204
Hey, @ShadaW11 I'm not really familiar with Next.js, I don't know if it's still ok that I use Nuxt.js on the project?

[2021-07-01 22:18] derrickmehaffy commented on #416
@ShadaW11 for questions like this, they should be going to our forum: https://forum.strapi.io and not the monorepo

[2021-07-02 02:08] restoker opened #435 "[SUBMIT] How to Build a "app" using Strapi, Socket.io"
**My Request**

please, i try to connect = strapi + socket.io,
but I don't have much documentation on the subject

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-07-02 13:16] zaracooper commented on #238
Hey @ShadaW11,

Could I work on this? Here's an outline

Outline:
1. Introduction
    - What Strapi is
    - CRUD & Authentication on Strapi
    - How the quiz project will work
2. Set up the Strapi Server
3. Create Content Types
4. Set up Permissions
5. Generate the Angular app
6. Create user and quiz HTTP services
7. Create sign up and login pages
8. Create quiz page
9. Conclusion

[2021-07-02 21:10] okuninoshi opened #438 "[SUBMIT] how to create an api with strapi by rebuilding the mdn expressJs local library website"
**My resource**
Hello 👋

this article shows how fast and easy to create api with strapi by rebuilding the mdn expressJs local library website

Introduction
Prerequisitess
what you'll learn
what you need to know
Setting up a Strapi project
Setting up NextJS project
Integrating Strapi API with NextJS
deploying to production
Conclusion

**My content is**

- [x] A Strapi Tutorial

**What do you all th

[2021-07-03 02:40] ejirocodes commented on #423
Hi @ShadaW11, here is a [link](https://www.dropbox.com/scl/fi/f1wz40u1a5ifq4952pq5g/Building-a-To-do-app-with-Svelte-Strapi-and-TailwindCSS.paper?dl=0&rlkey=zbq1hu3sda1a3raqxtgfjklaj) to the article, let me know what you think.

[2021-07-03 07:23] krishnakatham opened #439 "strapi"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-07-04 04:10] danielharven commented on #215
Hi, i can write an articles on how to create a blog,corporate,dating website with angular front and strapi backend. what sort of game would be expected on the game site?

[2021-07-04 15:43] bigfish258 commented on #323
hope for how to make the apple signin provider and wechat sign provider.

[2021-07-04 15:46] bigfish258 commented on #13
hope for how to make the apple signin provider and wechat sign provider.

[2021-07-04 20:23] RazvanCretu commented on #407
Hi @ShadaW11 Sorry fot the late reply too , I was quite busy with my thesis last couple of weeks.

Sure, I could connect it to a NextJs frontend.

I've completed the form you mentioned and once I got some free time I'll start to work on it :)

Thanks for letting me know!

[2021-07-05 08:20] ShadaW11 commented on #407
Hey @RazvanCretu Perfect, yes, I understand no worries take your time. I assigned you the article. If you need any help, I'm here 👋

[2021-07-05 08:25] ShadaW11 commented on #323
Hey @bigfish258 please [create a new issue](https://github.com/strapi/community-content/issues/new?assignees=ShadaW11&labels=In+progress&template=submit-a-resource.md&title=%5BSUBMIT%5D) here if you would like to write an article about this topic.

[2021-07-05 08:27] ShadaW11 commented on #215
Hey @danielharven can you [create a new issue here](https://github.com/strapi/community-content/issues/new?assignees=ShadaW11&labels=In+progress&template=submit-a-resource.md&title=%5BSUBMIT%5D) with the title of your tutorial and a proposed outline? a gaming website would be a great idea.

[2021-07-05 08:29] ShadaW11 commented on #439
Hey @krishnakatham can you please let me know what topic would you like to ready about?

[2021-07-05 08:52] vickywane commented on #434
Hi @ShadaW11  👋🏾

This seems to be an interesting tutorial to build.

I can think of building a React native voice recorder application whose data is powered by Strapi.
More like a simplified version of Clubhouse.

Does this make any sense and would you like me to create an article outline on this?

[2021-07-05 09:22] ShadaW11 commented on #434
Hey @vickywane Yes, is there a chance to use Next.js in the application? if yes, would you be able to create an outline for this topic?

[2021-07-05 09:27] ShadaW11 commented on #238
Hey @zaracooper Great outline, yes please go ahead and start working on the article

[2021-07-05 09:52] ShadaW11 commented on #204
Hey @oviecodes thank you for getting back to me, you can go ahead and use Nuxt for this tutorial.

[2021-07-05 10:11] vickywane commented on #434
@ShadaW11 Is there a hard requirement on using *Next.js*?

If not, i would prefer to use React Native and build it as a mobile application.

1. There are quite a little tutorials on mobile applications using Strapi, and there are alot on Next.js

2. Also, i would also like to use the native audio recording APIs available in React Native applications.

Cc: @Mcastres @malgamves

[2021-07-05 10:49] okuninoshi commented on #438
hello @ShadaW11 , i have no Permission to push the tutorial code !

[2021-07-05 11:37] ShadaW11 commented on #434
Hey @vickywane

Thank you for the clarification. Makes sense. There is no hard requirement on using Next.js for this specific tutorial but rather a general requirement to produce more nextjs content. However, please go ahead and send me an outline with react and we can move forward from there.

[2021-07-05 11:50] ShadaW11 commented on #435
Hey @restoker, thank you for posting, you can you can join our [discord channel](https://discord.com/invite/WFrDyNzNDU) or publish your request on our [community forum](https://forum.strapi.io) for direct support. I will also open this issue for a tutorial around this subject.

[2021-07-05 12:12] Mcastres commented on #438
Hello @okuninoshi, what is the `mdn expressJs local library website` exactly?
Also, you can create a Pull Request if you want to add your code to the repository.

I will take care of reviewing it

[2021-07-05 13:36] okuninoshi commented on #438
@Mcastres when i was learning express i took the mozilla developer network tutorial on expressJs, so i thought it will be great to rebuild the site with Strapi and nextJS to show how easy to build an API with modern tools like Strapi.

[2021-07-05 13:50] ShadaW11 commented on #421
Hey @bigpreshy any update on this article?

[2021-07-05 13:51] ShadaW11 commented on #180
Hey @AmerAlahmar is the tutorial ready for us to review?

[2021-07-05 13:58] Mcastres commented on #438
I see! You are referring to [this project](https://github.com/mdn/express-locallibrary-tutorial).
Then yes, it can be a good idea however the frontend of the website is very poor.

Are you planning on improving it using Next.js? Adding beautiful assets?

[2021-07-05 14:17] ShadaW11 commented on #198
Hey @Favouroked any update regarding the article? could you also please add your author details by registering in the form in this page [here](https://strapi.io/write-for-the-community) and please check our FAQ to go over the process for payments and article guidelines and submissions.

[2021-07-05 14:32] ShadaW11 commented on #411
Thank you updating the title, @Kaperskyguru please update the outline as well

[2021-07-05 14:32] ShadaW11 commented on #409
Please @Kaperskyguru update the outline here also please

[2021-07-05 18:00] AmerAlahmar commented on #180
Hi @ShadaW11
Sorry not yet 😔

[2021-07-05 18:09] purnimagupta commented on #87
Hi @markkaylor, I am using JWT Token now to send the request to the server. I've updated the same in the [repo](https://github.com/purnimagupta/Gatbsy-Authentication-With-Strapi)
as well.

Let me know if this looks fine. Thanks!

[2021-07-05 19:09] okuninoshi commented on #438
yeah, i'm using geist-ui library by vercel, i didn't focus too much on the ui but i can improve it :)  you can see it
[here](https://next-local-library.vercel.app/catalog)

[2021-07-06 07:12] markkaylor commented on #87
Hi @purnimagupta it's looking good!  I sent you a message on discord with some notes 👍

[2021-07-06 07:36] MattieBelt commented on #292
Hi @ShadaW11,

Thanks for assigning me, I'll start working on it.
I'll try to expend on point 3!

[2021-07-06 08:58] ShadaW11 commented on #434
Heyyy @vickywane awesome outline. Looking forward to receiving the article. Please let me know if you need any help

[2021-07-06 12:29] vickywane commented on #434
Thanks @ShadaW11 .

I would begin working on this and have it ready within the next two weeks.

I am existing community author with Strapi. I wrote [this](https://strapi.io/blog/building-applications-for-an-international-audience-using-strapi-i18n-plugin) article that was recently published. I also filled the form when the article was published.

Do i need to refill the form?

[2021-07-06 12:56] ShadaW11 commented on #434
Hey @vickywane Thanks for getting back to me. No need to resubmit the form, just make sure the article follows the guidelines mentioned in the FAQ. Im here to help if you have any questions. Looking forward to receiving the article.

[2021-07-06 13:25] AmerAlahmar commented on #180
Hey @ShadaW11

Please take a look at the file [here on Dropbox](https://www.dropbox.com/scl/fi/u082k8iuabc0732lma6zc/How-to-replace-Strapi-s-default-Wysiwyg-editor-with-Tinymce-editor.paper?dl=0&rlkey=abo9ot9vz2r29z8gy9y6bat5t).

[2021-07-07 10:20] vcoisne opened #440 "Top JAMstack features / benefits [Request New Content]"
**My Request**

Hello 👋

I think an article similar to https://www.netlify.com/blog/2021/06/17/some-jamstack-features-you-should-use-more-often/ but more focused on Strapi would be cool.

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-07-07 10:22] vcoisne opened #441 "Strapi developer intro to Core Web Vitals [Request New Content]"
**My Request**

Hello 👋

I think an article similar to https://www.netlify.com/blog/2021/06/11/the-developers-intro-to-core-web-vitals/ but more related to Strapi would be very useful.

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-07-07 20:44] amirtds commented on #427
Hi @ShadaW11 The doc is ready at https://www.dropbox.com/scl/fi/e1kivp5ojyzis91z2ggcn/How-to-use-Image-and-preview-in-your-NextjsStrapi-blog.paper?dl=0&rlkey=qhctxtbfc4080ssfas7o4ltd4 If you have any questions or comment feel free to let me know

[2021-07-08 09:09] danielharven opened #442 "[SUBMIT] TUTORIAL TO BUILD A TIC TAC TOE GAME WITH STRAPI + ANGULAR"
Hello 👋
I would like to create a tutorial on how to create a game website such as tic rac toe with Strapi and Angular

Outline
Introduction
- Expectations
- Game logic

What is strapi
What is Angular
Setting up a Strapi project
Strapi Components
- Creating / Using components
- Lifecycle hooks

Strapi Plugins
- Users And Permissions
- Sending emails via strapi plugin

Angular Components
Communicati

[2021-07-08 09:12] ShadaW11 commented on #422
[Your article has been published](https://strapi.io/blog/how-to-create-a-blog-with-svelte-kit-strapi). Congrats @arnu515 check our community page to issue and submit a payment.

[2021-07-08 09:12] #422 closed

[2021-07-08 09:14] ShadaW11 commented on #180
Hey @AmerAlahmar thank you for submitting the article. Maxime has left you few comments. please check them once possible.

[2021-07-08 13:24] Mcastres commented on #438
I see, the style is very minimalistic 😃
I think it's fine since the purpose of this tutorial is to demonstrate the API part of Strapi 👍

[2021-07-09 01:26] nefejames commented on #433
Hi @ShadaW11 I would love to take this topic

[2021-07-09 07:45] daacode commented on #441
I'm Interested in this topic.

[2021-07-09 07:48] ShadaW11 commented on #441
Hey @daacode Great, could you please share with me a detailed outline of what you plan on writing in the article?

[2021-07-09 08:00] #439 closed

[2021-07-09 08:10] daacode commented on #440
@ShadaW11 I'm interested in this topic.

[2021-07-09 08:12] ShadaW11 commented on #323
Hey @Umoren any update on the article?

[2021-07-09 08:17] ShadaW11 commented on #421
Hello @bigpreshy How are you? I hope you have been able to finish the article?

[2021-07-09 08:21] bigpreshy commented on #421
I am still on it. Will finish soon

[2021-07-09 08:22] daacode commented on #432
Hello @ShadaW11 I'm interested in this topic

[2021-07-09 08:23] ShadaW11 commented on #204
Hey @oviecodes any update on the article?

[2021-07-09 08:34] ShadaW11 commented on #427
Hey @amirtds thank you, I will check the article and get back to you as soon as possible

[2021-07-09 08:35] ShadaW11 commented on #442
Hey @danielharven, awesome idea, but could you explain how you intend to build the Game with Strapi. Exactly what part will you be using Strapi and how you plan to achieve that.

[2021-07-09 08:42] ShadaW11 commented on #440
Hey @daacode could you please give me a detailed outline of what you have in mind for this topic?

[2021-07-09 09:06] daacode commented on #441
Hello, @ShadaW11 this is the outline below.

Outline:
What are Web Vitals
Why Web Vitals
Introducing Core Web Vitals
     Largest Contentful paint
     First Input delay
     Cumulative Layout shift
How to measure Core Web Vitals in your Strapi App
Tools to measure Core Web Vitals in your Strapi Apps
How to enhance Core Web Vitals
Conclusion

[2021-07-09 09:11] ShadaW11 commented on #438
Thank you @Mcastres for the feedback. Hey @okuninoshi great, please go ahead and start writing the article. Before, you do that, Please register your author details by filling the form [here](https://strapi.io/write-for-the-community#contact), scroll up and read the FAQ (how to submit, how to get paid...) then go over the article [guidelines](https://github.com/strapi/community-content/blob/master

[2021-07-09 09:30] ShadaW11 commented on #441
Awesome @daacode I would suggest also adding a short section about: The role of CMS to achieve the goals of Core Web Vitals. Let me know if that makes sense to you.

[2021-07-09 09:33] ShadaW11 commented on #433
Hey @nefejames, great, could you please share a detailed outline of the article?

[2021-07-09 09:34] ShadaW11 commented on #432
Hey @daacode Thank your your interest in this topic, but I suggest you focus on the other article first and then start on other ones.

[2021-07-09 09:39] ShadaW11 commented on #423
Hey @ejirocodes thank you so much, your article is being reviewed, I will get back to you with feedback.

[2021-07-09 09:47] ShadaW11 commented on #339
Hey @xTrilton how are you? Been a while, I hope you had a chance to finish the article?

[2021-07-09 09:50] ShadaW11 commented on #313
Hey @oviecodes your article is still in review, I will get back to you as soon as possible.

[2021-07-09 09:53] ShadaW11 commented on #292
Hey @MattieBelt awesome news, let me know when you plan on submitting the article

[2021-07-09 09:54] ShadaW11 commented on #213
Hey @narduin did you get a chance to see the above comment? (im really looking forward to this article)

[2021-07-09 09:56] ShadaW11 commented on #198
Hey @Favouroked any update on the article?

[2021-07-09 09:56] xTrilton commented on #339
Hello Shada,

I will be submitting the article in the middle of July. Which is next week,
as I had stated previously. Thanks for keeping in touch. Looking forward to
working with you next week :).

Have a nice day!

Best Regards,
Boemo Wame Mmopelwa
Technical Writer

On Fri, 9 Jul 2021 at 11:47, Shada ***@***.***> wrote:

[2021-07-09 09:57] ShadaW11 commented on #87
Hey @purnimagupta any update on the article?

[2021-07-09 09:58] ShadaW11 commented on #73
Hey @alloyking1 any update on this?

[2021-07-09 10:01] ShadaW11 commented on #339
Heyy @xTrilton Thank you for the update. Happy to know that, and looking forward to receiving your article. Have an awesome day.

[2021-07-09 10:11] ejirocodes commented on #423
Thanks for the update @ShadaW11

[2021-07-09 11:25] derrickmehaffy commented on #213
@narduin happy to setup a call with you to go over this together also if that might help.

[2021-07-09 11:45] narduin commented on #213
Hello!
I'm sorry I haven't replied I have a busier schedule this month…

I will try to reproduce my own steps with the last strapi version and I'll update you on what is working and/or what is not detailed enough.
Then I'll gladly participate in a call if needed to only include pertinent info on the article :)

[2021-07-09 11:49] ShadaW11 commented on #213
Hey @narduin no worries at all. Awesome, happy to hear that. @derrickmehaffy & me are here to help if you need any support.

[2021-07-09 12:00] amirtds commented on #427
Thanks @ShadaW11 for letting me know. Looking forward to hearing from you 👋

[2021-07-09 12:05] oviecodes commented on #204
Hello @ShadaW11 I'll have the application and the article up by next week. Thanks

[2021-07-09 12:06] purnimagupta commented on #87
Hi @ShadaW11, the coding part is done. I've to begin writing about it.

[2021-07-09 12:09] oviecodes commented on #313
Thanks for the information @ShadaW11

[2021-07-09 12:10] ShadaW11 commented on #87
Perfect thank you.

[2021-07-09 12:48] Favouroked commented on #198
Hi @ShadaW11, the first draft is ready. The final changes I'm making have to do with the SEO guidelines. I have also registered via the link you sent.

[2021-07-09 12:59] ShadaW11 commented on #198
Great so happy to hear that. @Favouroked Please share the dropbox link here once its done and ill take a look at the article.

[2021-07-09 13:25] zanasruth commented on #432
Hello, I'm interested in this topic

[2021-07-09 13:27] zanasruth commented on #432
Hello, @ShadaW11 I'm interested in this topic

[2021-07-09 15:52] daacode commented on #441
@ShadaW11 that is really a nice suggestion, yes it really make sense

[2021-07-09 16:05] okuninoshi commented on #438
hello @ShadaW11 I wrote the article you can check it [here](https://www.notion.so/how-to-create-an-api-with-strapi-by-rebuilding-the-mdn-expressJs-local-library-website-f79003989d4748cfb46c6c39c98dead9), I read the guidelines and how to submit the article before I opened the issue. if anything is missing or wrong please add a comment

[2021-07-09 16:41] daacode commented on #440
Hello @ShadaW11, kindly find my outline below.

What is Jamstack
Why the Jamstack
Strapi and the Jamstack
Top Features of JAMstack
     webhooks
     caching
     The build plugins
     Instant Cache Invalidation
     Deferring non-critical page builds
     Atomic Deploy
     immutable deploys
 The benefit of using the Jamstack
      Better Performance
      Security
      Scalability
      Perfor

[2021-07-09 17:42] bigfish258 commented on #323
hi @ShadaW11 ,  i am looking for the guide like that = = hope someone could write that .

[2021-07-09 17:46] Umoren commented on #323
Yeah i ran into some code issues and i've fixed them so i'll soon start
with the documenting

On Fri, Jul 9, 2021 at 9:12 AM Shada ***@***.***> wrote:

--
<https://about.me/umorensamuel?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>
Samuel Umoren
about.me/umorensamuel
<https://about.me/umorensamuel?promo=email_sig&utm_source=product&utm_medium=ema

[2021-07-09 17:50] nefejames commented on #433
Yes, I will send in an outline soon.

[2021-07-10 15:19] daacode commented on #441
@ShadaW11 any update on this, can I proceed with it?

[2021-07-10 15:20] daacode commented on #440
@ShadaW11 any update on this?

[2021-07-11 07:51] AmerAlahmar commented on #180
Hey @ShadaW11

I checked Maxime's comments and edit it the article. Thanks for your efforts.

[2021-07-11 09:01] ejirocodes opened #443 "Build an E-commerce shopping cart with Svelte, Tailwind CSS and Strapi"
**My resource**
[Svelte](https://svelte.dev/) is a component framework that runs at build time, converting your components into highly efficient imperative code that surgically updates the DOM. Svelte approach to building web apps is unique and I will like to teach the Strapi community how they can build a to-do app with Svelte using Strapi as the CMS and Tailwind for styling.

**Outline:**

- Int

[2021-07-11 09:55] ejirocodes opened #444 "Build an Invoice Generator App with NuxtJS, Strapi & Tailwind CSS"
**My resource**
In this article, we will walk readers through how to build an elegant and functional app for generating invoice that's powered by a Strapi backend

**Outline:**

- Introduction
- Goals
- Prerequisites
- Creating a Strapi Project
- Creating Content Types
- Setting up Roles and Permissions
- Bootstrap a NuxtJS Project
- Adding TailwindCSS to our project
- Building the frontend
- Conn

[2021-07-11 18:09] philting opened #445 "[UPDATE OUTDATED CONTENT] DigitalOcean one-click install page should be deprecated"
**Description**
Documentation still has a full page tutorial that goes over one-click installation with DigitalOcean. Looks like it's just giving a 404 error now.

I also noticed there was a topic here that there were plans to deprecate one-click installation Strapi from DigitalOcean: #118

It would have been very helpful if the documentation explicitly stated that the one-click installation has b

[2021-07-12 07:56] dpkreativ commented on #431
Hi @ShadaW11 I would love to write on this topic

[2021-07-12 08:07] ShadaW11 commented on #431
Hey @dpkreativ awesome, can you please share an outline of the article that shows what you will be covering?

[2021-07-12 08:31] ShadaW11 commented on #445
Thank you @philting for noting that out.

@pwizla can you help out with this?

[2021-07-12 08:42] ShadaW11 commented on #444
Hey @ejirocodes interesting topic. However, would you able to use Nextjs instead?

[2021-07-12 08:59] ShadaW11 commented on #443
Hey @ejirocodes I really like this topic and outline, when would you be able to work on this article?

[2021-07-12 09:00] ShadaW11 commented on #180
Great, thanks @AmerAlahmar, @Mcastres  will check your feedback as soon as he can and will get back to you.

[2021-07-12 09:08] ShadaW11 commented on #440
Hey @daacode thank you for the outline, looks great. Please go ahead and start working on it. Before doing so, please register your author details by filling the form [here](https://strapi.io/write-for-the-community#contact) Then scroll up and read carefully the FAQ section (article guidelines, how to share the article...)  Looking forward to receiving your article

[2021-07-12 09:19] ejirocodes commented on #444
Absolutely, I'll update the topic and start working on the article ASAP. Let me know if this sits well with you

[2021-07-12 09:20] ejirocodes commented on #443
I hope to finish it before the week runs out

[2021-07-12 09:39] nefejames commented on #433
Hi @ShadaW11. Here's the outline I've prepared:

# Article Outline
### What is a Headless CMS
### Benefits of using a Headless CMS
### Things to Consider when Choosing a Headless CMS

- **General Considerations**
  * Ease of use
  * Storage
  * Security
  * CDN
  * Templates and Starter themes

-  **Content Team Considerations**
   * Media asset management system
   * Intuitive User Interface
   *

[2021-07-12 11:54] pwizla commented on #445
Thank you for opening this issue, @philting :-)

Actually, Strapi has never decided to remove anything from DigitalOcean's marketplace. We noticed it a few days ago and are actively working with them on the topic, though we don't have any control over it.

When we updated the installation guide a few weeks ago, the app was available on DO's marketplace.

In the meantime, we will soon publish a not

[2021-07-12 15:52] dpkreativ commented on #431
okay @ShadaW11 here it is:

### Outline
- Introduction
- Goals
- Set up Shopify store
- Add products
- Activate Shopify Buy Button
- Creating a Strapi project (Content types, Frontend)
- Add Shopify Buy Button to Strapi Website
- Conclusion

This article is intended to help beginners and first-time users quickly set up a website for their products with Strapi and Shopify.

[2021-07-12 16:18] dillionmegida commented on #435
Hi @ShadaW11 @malgamves
I'd love to take on this. I'm a new author, and I just signed up.

My top two articles are:
* [A deep dive into queues in Node.js](https://blog.logrocket.com/a-deep-dive-into-queues-in-node-js/)
* [How to Build a Gatsby Source Plugin, using Hashnode as an example](https://dillionmegida.com/p/create-gatsby-source-plugin/)

You can find more of my works on [my personal websit

[2021-07-12 18:53] KevinKipkorir commented on #430
Hello @ShadaW11, I'm interested  in covering this topic. Can i share a proposal on how i will cover this article?

[2021-07-12 21:36] Quadrisheriff commented on #231
Hi @ShadaW11, I think I have something. Jekyll is used for creating mainly documentation websites and blogs, so I thought why not create a website with a documentation section and a blog section.

The tutorial will be quite lengthy so I divided it into 3 parts. These are the outlines for the 3 parts.

**Part 1 outline**

Introduction
Prerequisites
Backend setup
- Strapi installation and set-up

Fr

[2021-07-13 11:45] ShadaW11 commented on #180
Hey @AmerAlahmar, thank you for being patient, @Mcastres has checked your edits and let you feedback. Kindly get back to me once ready. Looking forward to publishing your article.

[2021-07-13 12:13] dpkreativ commented on #431
Hi @ShadaW11 good afternoon... I've submitted the outline... please check it out and give me feedback. Thanks

[2021-07-13 15:38] ShadaW11 commented on #438
Hello @okuninoshi thank you for writing the article. Can you please paste the content on drops and share the link with me. (This was mentioned in our [FAQ](https://strapi.io/write-for-the-community)) because we will review and comments and that's easier to manage in dropbox. I also would like to check that your article is not public or published on any other platform? The article should be posted

[2021-07-13 15:54] zaracooper commented on #238
Hey @ShadaW11. I started working on this and it turns out the scope of the project is really big. It may result in a really long article that may be 6000+ words. I was hoping to limit the scope of this article to just the quiz portion. Or if authentication with Angular and Strapi is really important, cover it in a separate article.

Is this possible?

[2021-07-13 19:40] AmerAlahmar commented on #180
Hi @ShadaW11 @Mcastres

I have just finished adding the requested edits. 💪

Thanks.

[2021-07-14 10:58] xTrilton commented on #339
Hello @ShadaW11 , @Mcastres

I just submitted the article via email to @malgamves and @ShadaW11.

Looking forward to hearing your feedback.

[2021-07-14 22:27] daacode commented on #441
@ShadaW11 I have included your suggestion in the outline.

Outline:
What are Web Vitals
Why Web Vitals
Introducing Core Web Vitals
Largest Contentful paint
First Input delay
Cumulative Layout shift
How to measure Core Web Vitals in your Strapi App
Tools to measure Core Web Vitals in your Strapi Apps
How to enhance Core Web Vitals
The role of CMS to achieve the goals of core web vitals.
Conclusion

[2021-07-15 13:10] Mcastres commented on #180
LGTM!

[2021-07-15 18:47] nefejames commented on #433
Hi @ShadaW11. Have you had any chance to review the outline I sent you? I'm still waiting on feedback so I can proceed. Let me know

[2021-07-16 10:39] ShadaW11 commented on #438
@okuninoshi Im here if you have any questions

[2021-07-16 12:28] ShadaW11 commented on #433
Hey @nefejames I think it would also be interesting to have a section that answers this question: "do you need a Headless CMS" before the considerations. I also think Content consideration is a very important aspect. Could you add few other things to expand more on that? Let me know what you think.

[2021-07-16 17:56] nefejames commented on #433
Hi @ShadaW11. Your suggestions make sense. I'll add them to the outline. However, I need some clarification on "content considerations". Can you shed more light on that? Thank you

[2021-07-18 08:52] teerapong741 opened #446 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-07-18 08:52] #446 closed

[2021-07-18 09:49] Favouroked commented on #198
Hi @ShadaW11, the article is [here](https://www.dropbox.com/scl/fi/bhgpspx0evgpj2myh8m3j/How-to-build-a-Quiz-App-with-NextJS-and-Electron-powered-by-a-Strapi-backend..paper?dl=0&rlkey=ceiy747j5c57b58mg43isnyvy).

[2021-07-19 10:19] purnimagupta commented on #87
@ShadaW11 , I actually had to rewrite some code to follow the best practices. And I am stuck on some issues at the moment. I am really trying to wrap it up soon.

@markkaylor is gonna help me out. I've also asked about the same issue on the Strapi public forum. Sorry for the delay.

[2021-07-19 10:25] ShadaW11 commented on #87
Hey @purnimagupta no worries at all; thank you for all your efforts. Looking forward to publishing your article.

[2021-07-19 10:26] purnimagupta commented on #87
@ShadaW11 Thank you so much :)

[2021-07-19 10:46] philipszdavido opened #447 "[SUBMIT] Understanding and using Relations in Strapi"
This article will show how to use relations in collections in Strapi. I will build a real-life app to also demonstrate the process.

- [x] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2021-07-19 11:01] ShadaW11 commented on #438
Hey @okuninoshi I hope you are doing well. Could you please fill the form [here](https://strapi.io/write-for-the-community#contact) to collect your author details,  and share with me the dropbox link of the article as soon as possible so we can take a look and leave feedback please

[2021-07-19 11:21] ShadaW11 commented on #339
Hey @xTrilton thank you, well received, we will get back to you as soon as possible with feedback

[2021-07-19 11:27] ShadaW11 commented on #441
Hello @daacode yes, please go ahead and start writing the article.
Please register your author details at the bottom of this page [Write for the Community](https://strapi.io/write-for-the-community) if this is your first article and please scroll above the form and check our FAQ to submit the tutorial, review article guidelines, and also please take a look on our Invoice submission guidelines.

Lo

[2021-07-19 11:31] ShadaW11 commented on #238
Hey @zaracooper Yes, I would suggest focusing more on the quiz portion. Do you have an estimated date of delivery?

[2021-07-19 11:32] zaracooper commented on #238
I'll have a draft for you by end of the day tomorrow @ShadaW11

[2021-07-19 11:36] ShadaW11 commented on #323
Hey @Umoren awesome, please let me know if you have any updates.

[2021-07-19 11:37] ShadaW11 commented on #204
Hey @oviecodes any update?

[2021-07-19 11:38] ShadaW11 commented on #421
@bigpreshy awesome, any update?

[2021-07-19 11:39] ShadaW11 commented on #407
Hey @RazvanCretu any update?

[2021-07-19 11:39] ShadaW11 commented on #292
Hey @MattieBelt any update on the article?

[2021-07-19 11:40] ShadaW11 commented on #434
Hey @vickywane any update on the article?

[2021-07-19 11:40] ShadaW11 commented on #440
Hey @daacode any update on this article?

[2021-07-19 11:41] ShadaW11 commented on #238
@zaracooper awesome news thank you.

[2021-07-19 12:05] vickywane commented on #434
@ShadaW11 i will submit this before Friday

[2021-07-19 12:24] okuninoshi commented on #438
hello @ShadaW11, I'm fine thank you. [this](https://www.dropbox.com/sh/59vycisos1cxssw/AACfc8k3sCDxQq1F-b0IBjSYa?dl=0) is the link to the article.

[2021-07-19 13:04] purnimagupta commented on #87
@derrickmehaffy, I am stuck on this one issue. I have asked it on a [Strapi forum](https://forum.strapi.io/t/forbidden-403-to-fetch-a-private-article-with-cookies/7324)

I was wondering if you could give me some pointers on what might have gone wrong in my approach?

[2021-07-19 17:42] daacode commented on #440
@ShadaW11 I'm still on it but almost done, I will forward you the first draft soon when I'm done.

[2021-07-19 18:02] RazvanCretu commented on #407
Hi @ShadaW11

I only got the code part for now. I just finish with my thesis last week.
I'll start on the article this week and I am expecting to finish it by the next Monday.

Does this work?

[2021-07-20 08:10] ShadaW11 commented on #407
Hey @RazvanCretu yes, that would be great.

[2021-07-20 08:11] ShadaW11 commented on #440
Hey @daacode awesome news, looking forward to it.

[2021-07-20 08:24] ShadaW11 commented on #438
Hey @okuninoshi Thank you. Im so sorry to ask you to do this again 😕. Is there a chance you can please add the article in dropbox in a format similar to this [article](https://www.dropbox.com/scl/fi/xb7lfkvqdfakni6hm9265/Build-a-Crypto-Alert-App-with-Strapi-and-Next.js.paper?dl=0&rlkey=rv1vixd6461sjsljljdu4p0xx)? Unfortunately I cannot leave feedback on the current link you shared with me 🙏

[2021-07-20 08:25] ShadaW11 commented on #447
Hey @philipszdavido can you please share with me an outline of what you have in mind?

[2021-07-20 10:33] ShadaW11 commented on #180
Hello @AmerAlahmar [your blog post has been published](https://strapi.io/blog/replace-strapi-default-wysiwyg-editor-with-tiny-mce) 🎉🎉 Please take a look at our FAQ to submit your invoice and get paid.

[2021-07-20 12:46] ShadaW11 commented on #323
Hey @Umoren please share the dropbox link here once the article is ready.

[2021-07-20 13:38] Umoren commented on #323
Hi Shada,
I'm really sorry i might not be able to continue with this article.
My health has been very unstable and i've been struggling with maintaining
my ETAs during this period.
If possible, you could hand over the outline to the next person and i'll
assist in any way I can.
I really wish things were better healthwise cause i was so eager to
contribute to strapi one way or another.
I'm sorry fo

[2021-07-20 14:03] ShadaW11 commented on #323
Hey @Umoren Im so sorry to hear that and no worries at all. I hope you feel better. Take care of your health and I will open up the opportunity for other writers. But we look forward to your contribution in the future.

[2021-07-20 15:31] zaracooper commented on #238
@ShadaW11 [here is the draft](https://www.dropbox.com/scl/fi/r99y9ry4m96b8pr56bv49/Draft-Build-a-Quiz-App-using-a-Strapi-API-with-Angular-11.paper?dl=0&rlkey=l0vj82gux2i3o8lh6ziw7cvj6).

[2021-07-20 15:46] philipszdavido commented on #447
Hello @ShadaW11 , see the outline of the post below:

**Outline**

**Understanding and using Relations in Strapi**
- What is Strapi?
- Relations in Database fields
- Setting up Strapi project
- One-to-one
- One-to-Many
- Many-to-Many
- Test app
- Conclusion

[2021-07-20 15:57] KevinKipkorir commented on #430
Hello @ShadaW11 , Here is an proposal outline for how i would cover this topic;

**Building  an e-commerce with Next.js, Strapi and Stripe.**

- Strapi introduction

- Next.js Introduction

- Explanation on what i will be covering in this tutorial and the Requirements

**Demonstration**

- Installing Strapi

- Creating an Admin Panel in Strapi

- Next.js installation

- Setting up the front and ba

[2021-07-20 16:23] Umoren commented on #323
Alright thanks.

On Tue, Jul 20, 2021 at 3:04 PM Shada ***@***.***> wrote:

--
<https://about.me/umorensamuel?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>
Samuel Umoren
about.me/umorensamuel
<https://about.me/umorensamuel?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>

[2021-07-21 07:24] ruizhen88 opened #452 "[UPDATE] outdated props for react-markdown in tutorial"
Hi, I noticed an outdated version of `react-markdown` used in the tutorial [Build a blog with React, Strapi and Apollo](https://strapi.io/blog/build-a-blog-with-react-strapi-and-apollo).

`ReactMarkdown` component in `./containers/Article/index.js` should have props `children` instead of `source` to provide markdown to be rendered.

Here's their doc: https://github.com/remarkjs/react-markdown

A h

[2021-07-21 10:16] oviecodes commented on #204
Hey Shada,

here's the link to the article:

https://www.dropbox.com/scl/fi/6r1j2eyluiiqwvisf03jw/Building-a-booking-System-with-Strapi-and-Nuxt.paper?dl=0&rlkey=tfac0lhrwz2vfsix1qu6k7ssk

[2021-07-21 10:22] oviecodes commented on #204
hey @ShadaW11, I've invited you to review the article. Hope you're having a good day?

[2021-07-21 11:09] oviecodes opened #453 "How to Customize A Strapi Backend"
**My resource**
<!--
Hello 👋

In this article, I would like to discuss the customization of Strapi backend and show readers how to do it.

**My content is**

- [ ] Introduction to Strapi,
Setting up a Strapi Application
A brief discussion about the Strapi Backend
Introduction to Strapi services
How to customize services
Introduction to Strapi controllers
How to customize controllers
Learning about

[2021-07-21 11:13] #453 closed

[2021-07-21 11:25] oviecodes opened #454 "How to Customize Strapi backend(Services, Routes, Controllers, Queries) using TypeScript"
**My resource**

**My content is**

- [x] Introduction to Strapi
- [x] Getting started with Strapi
- [x] A basic overview of Strapi application
- [x] Introduction to Strapi services
- [x] customization of Strapi services
- [x] Introduction to Strapi controllers
- [x] Customization of Strapi controllers
- [x] Introduction to Strapi queries and their functions
- [x] Introduction to Strapi routes
- [

[2021-07-21 11:26] oviecodes commented on #454
I would like to show readers how to customize the backend of their Strapi application and all the possible things they could achieve by doing that.

[2021-07-21 11:31] oviecodes opened #455 "Customization of Strapi backend (Services, Queries, Controllers, Routes)"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-07-21 11:32] oviecodes commented on #455
Hey @ShadaW11  I would like to take this up

[2021-07-21 11:33] #455 closed

[2021-07-21 11:36] oviecodes opened #456 "[SUBMIT] customization of Strapi backend (Routes, Services, Controllers, Queries)"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-07-21 11:38] oviecodes commented on #456
I Would like to write an article that shows users how to customize the backend of their Strapi application.

Outline:

Introduction to Strapi
Getting started with Strapi
A basic overview of Strapi application
Introduction to Strapi services
customization of Strapi services
Introduction to Strapi controllers
Customization of Strapi controllers
Introduction to Strapi queries and their functions
Intr

[2021-07-21 11:39] oviecodes commented on #456
Hey @ShadaW11 , I would like to take this up.

[2021-07-21 12:00] ShadaW11 commented on #438
https://www.dropbox.com/scl/fi/4knhvpkpukyu9zm0blzzl/how-to-create-an-API-with-strapi-by-rebuilding-the-mdn-express.js-local-library-website..paper?dl=0&rlkey=mjc8z78u2x8d4rsi2t5a5as2z

[2021-07-21 12:00] oviecodes opened #457 "[SUBMIT] Automating Emails with Strapi CRON Jobs - Setting up Cron jobs in Strapi"
**My Request**

Hello @ShadaW11 I would like to write an article that introduces users to cron jobs and how to set them up in Strapi

Outline:
Introduction to Strapi
Getting started with Strapi
A brief overview of Strapi applications
Introduction to cron jobs
Setting up Cron jobs in Strapi
Building an application that collects user emails and add them to our mailing list
Using Cron jobs to automat

[2021-07-21 19:06] bigpreshy commented on #421
Yes.
[Here](https://paper.dropbox.com/doc/HCTBrIudEU59VPqD1x0Ah)

[2021-07-22 12:16] AmerAlahmar commented on #180
Hey @ShadaW11
Thanks for being patient with me. So happy to see it published 😍

One thing though, I spotted a few typos 😅 Anyway to fix them? How?

[2021-07-22 12:25] zaracooper opened #458 "[SUBMIT] Strapi Authentication and Authorization with Angular"
### My resource
I'd like to write an article on authenticating and authorizing users on Strapi with Angular. It would focus on authenticated Strapi CRUD API operations. I was hoping to build on [this quiz issue](https://github.com/strapi/community-content/issues/238), by allowing users to sign up and track their scores on a quiz.

### Title
Using Strapi for User Authentication and Authorization in

[2021-07-22 12:34] ShadaW11 commented on #180
@AmerAlahmar thank you for writing the article. Don't forget to follow the guidelines when issuing and submitting the invoice. Regarding the typos, please share those with me here and ill edit the article right away.

[2021-07-22 14:11] ShadaW11 commented on #423
@ejirocodes Your article has been published. Please check our FAQ to issue and submit an invoice. Thank you again. Awesome article

[2021-07-22 22:38] krofax commented on #457
Hello @ShadaW11 can i take this topic?

[2021-07-22 22:42] oviecodes opened #459 "Setting up Cron jobs in Strapi"
**My Request**

Hello 👋

Hello @ShadaW11 I would like to write an article that introduces users to cron jobs and how to set them up in Strapi

Outline:
Introduction to Strapi
Getting started with Strapi
A brief overview of Strapi applications
Introduction to cron jobs
Setting up Cron jobs in Strapi
Building an application that collects user emails and add them to our mailing list
Using Cron jobs t

[2021-07-22 22:43] oviecodes commented on #459
Hey @ShadaW11 , I'll like to take this up

[2021-07-23 11:18] vickywane commented on #434
Hello @ShadaW11 .

The draft for this is ready for review in this [dropbox paper document](https://www.dropbox.com/scl/fi/ba7b11fasdb7zi6cudl45/Managing-data-your-voice-application-using-Strapi.paper?dl=0&rlkey=sruzo742985qtkmdl40lvs90j).

[2021-07-23 11:53] ShadaW11 commented on #459
Hey @oviecodes thank you for sending the outline. As mentioned in the email and on discord, we have paused the tutorials for now until the release of the V4. I will get back to you in the next couple weeks with some updates.

[2021-07-23 11:55] ShadaW11 commented on #457
Hey @oviecodes thank you for sending the outline. As mentioned in the email and on discord, we have paused the tutorials for now until the release of the V4. I will get back to you in the next couple weeks with some updates.

Hello @krofax, it seems Alex has submitted the outline and if he won't be interested in writing the article after the V4,  I will definitely reach out to you.

I will keep th

[2021-07-23 11:56] ShadaW11 commented on #458
Hey @zaracooper thank you for sending the outline. As mentioned in the email and on discord, we have paused the tutorials for now until the release of the V4. I will get back to you in the next couple weeks with some updates. I will keep the issue open but there is no need to work on it for now.

[2021-07-23 11:57] ShadaW11 commented on #456
Hey @oviecodes  thank you for sending the outline. As mentioned in the email and on discord, we have paused the tutorials for now until the release of the V4. I will get back to you in the next couple weeks with some updates. I will keep the issue open but there is no need to work on it for now.

[2021-07-23 11:58] ShadaW11 commented on #452
Hey @ruizhen88 thank you soooo much. Would you be interested in updating the tutorial?

[2021-07-23 12:11] zaracooper commented on #458
Ok. Thanks, @ShadaW11

[2021-07-23 20:04] AmerAlahmar commented on #180
Hey @ShadaW11
I submitted the invoice today, thanks 😃

Regarding the typos:

- Under (MediaLib/index.js) section:
  -- Wrong: ... we don't want to let the user (The person who is using the Editor insert media ...
  -- Should Be: ... we don't want to let the user (The person who is using the Editor) insert media...
  -- Reason: Missing close parenthesis

- Under (6. Run Strapi:) section:
  -- Wrong

[2021-07-24 21:50] osmarpb97 commented on #33
Hello all, I will be working on something like this In the next months can you share any expected functionality/examples about this?

[2021-07-26 10:48] nefejames commented on #433
Hi @ShadaW11 I'm still waiting for some clarification on you regarding "content considerations" so I can proceed with the article

[2021-07-26 11:26] ShadaW11 commented on #433
Hello @nefejames Apologies for the delay. I meant expanding more on "Content Team Considerations" such as editing experience, creating & reusing content, content delivery...I hope its clearer now. Happy to answer any further questions and looking forward to getting your feedback.

[2021-07-26 11:32] #423 closed

[2021-07-26 11:34] ShadaW11 commented on #423
@ejirocodes Well received, you should receive the payment in 10 working days max. thank you so much.

[2021-07-26 11:43] ShadaW11 commented on #180
Hey @AmerAlahmar well received, you will receive the payment within 10 working days max. Thank you so much for writing the article and for the correction. Awesome work. Looking forward to receiving your next article.

[2021-07-26 11:43] #180 closed

[2021-07-26 11:49] zaracooper commented on #238
Hey @ShadaW11 . Did you get a chance to look at the draft linked above?

[2021-07-26 11:49] ShadaW11 commented on #447
Hello @philipszdavido thank you for sending the outline. As mentioned in the email and on discord, we have paused the tutorials for now until the release of the V4. I will get back to you in the next couple weeks with some updates.

[2021-07-26 11:50] #445 closed

[2021-07-26 11:52] ShadaW11 commented on #444
Hello @ejirocodes thank you for sending the outline. As mentioned in the email and on discord, we have paused the tutorials for now until the release of the V4. I will get back to you in the next couple weeks with some updates.

[2021-07-26 11:55] ejirocodes commented on #444
Thanks for the update @ShadaW11

[2021-07-26 12:00] ejirocodes commented on #423
Awesome! Thanks for the update, @ShadaW11

[2021-07-26 12:01] philipszdavido commented on #447
OK

[2021-07-26 12:58] ShadaW11 commented on #198
Hey @Favouroked awesome article, it will be published soon. Will keep you updated.

[2021-07-26 13:00] ShadaW11 commented on #87
Hey @purnimagupta hows your progress going?

[2021-07-26 13:02] ShadaW11 commented on #441
Hey @daacode How are you? when do you expect your article to be ready?

[2021-07-26 13:03] ShadaW11 commented on #238
Hey @zaracooper unfortunately I haven't reviewed the article yet but I will get back to you as soon as possible.

[2021-07-26 13:09] ShadaW11 commented on #421
Hey @bigpreshy Apologies for the delay, well received, I will get back to you as soon as possible.

[2021-07-26 13:11] ShadaW11 commented on #204
Hey @oviecodes thank you. Please always add a link to the article here in GitHub. Here is the [article link ](https://www.dropbox.com/scl/fi/6r1j2eyluiiqwvisf03jw/Building-a-booking-System-with-Strapi-and-Nuxt.paper?dl=0&rlkey=o5l1beliyvd1ppjejf5ngihf2) I will review the article and get back to you as soon as possible.

[2021-07-26 13:14] ShadaW11 commented on #292
Hey @MattieBelt I hope you are still interested in writing this article?

[2021-07-26 13:16] ShadaW11 commented on #434
Hey @vickywane awesome, thanks. Will take a look and get back to you as soon as possible.

[2021-07-26 13:18] ShadaW11 commented on #440
Hey @daacode any update?

[2021-07-26 13:30] ShadaW11 commented on #432
Hello @zanasruth happy to hear from you. Can you please share an outline of what you have in mind for this article?

[2021-07-26 15:47] nefejames commented on #433
Yes, it's clearer now. I've filled the author form. I will have a draft ready soon. Cheers

[2021-07-26 15:55] ShadaW11 commented on #433
Awesome @nefejames looking forward to reading the article.

[2021-07-26 18:12] purnimagupta commented on #87
@ShadaW11, Unfortunately, I'm still stuck at the same problem. I've tried everything from my end. I'm not sure how to resolve it at this point. I was wondering if someone could help me? Thank you!

[2021-07-26 21:51] Symbitic opened #464 "[SUBMIT] Using Strapi with React, Deno, and Deno Deploy"
**Using Strapi with React, Deno, and Deno Deploy**

I know that submissions have been paused until the release of V4, but I thought I'd like to put this out there.

Deno is a new JavaScript runtime similar to Node.js, but it has several modern features, like support for ES Modules and TypeScript out-of-the-box. Deno Deploy is a new serverless platform built exclusively for Deno. In this case, we u

[2021-07-27 08:02] Favouroked commented on #198
Thanks @ShadaW11

[2021-07-27 09:07] ShadaW11 commented on #464
Hey @Symbitic very interesting. I will try and check if we can find a slot for this in our august calendar before the V4. Would you be able to commit to updating the article after the V4 release?

[2021-07-27 09:09] ShadaW11 commented on #87
Hey @purnimagupta no worries, thank you for the feedback. Im sure someone from our team will be able to help. Maybe @markkaylor can take a look at the issue. Thank you.

[2021-07-27 09:12] markkaylor commented on #87
Hey @ShadaW11 @purnimagupta yes I took a look and sent my feedback last night.

[2021-07-27 10:48] Symbitic commented on #464
@ShadaW11 absolutely. In fact, I already have most of it written, because I was recording things as I went along. The only Strapi-specific parts are running create-strapi-app with npx and adding test data with the web interface. Unless either of those will be going through significant changes for the V4 release, I could have it available within a few days. Otherwise, I will look forward to August.

[2021-07-27 12:44] ShadaW11 commented on #427
Hey @amirtds Congrats your article is now published. https://strapi.io/blog/how-to-use-image-and-preview-in-your-nextjs-strapi-blog Please check our FAQ in the [Write for the Community](https://strapi.io/write-for-the-community) page to submit an invoice. Also please sign up on our [forum](https://forum.strapi.io/t/how-to-use-image-and-preview-in-your-nextjs-strapi-blog/8050) to automatically rece

[2021-07-27 12:44] #427 closed

[2021-07-27 22:47] daacode commented on #440
Hi @ShadaW11 sorry for the delay on this, I will get this to you in the next 24hrs.

[2021-07-27 23:01] daacode commented on #441
Hi, @ShadaW11 I'm currently on it. This will be ready by August 05.

[2021-07-28 00:59] cubiteDevops commented on #427
Woohoo Thanks @ShadaW11 for letting me know. 👏

[2021-07-28 01:01] amirtds commented on #427
Woohoo Thanks @ShadaW11 for letting me know. 👏

[2021-07-28 07:50] ShadaW11 commented on #441
Thank you @daacode looking forward to receiving it.

[2021-07-28 08:42] RazvanCretu commented on #407
Hi @ShadaW11

It is ready for review :)

[2021-07-28 10:03] oviecodes commented on #313
Good day @ShadaW11 , are there any new updates on this.

[2021-07-28 10:26] ShadaW11 commented on #313
Hey @oviecodes you article is now published, congratulations. Please register to our forum by clicking on discussion at the bottom of your post so you receive automatically the notifications when someone adds comments. Also please follow the guidelines to issue and submit an invoice.
https://strapi.io/blog/registration-and-login-authentication-with-vue-js-and-strapi

[2021-07-28 10:39] oviecodes commented on #313
Ok @ShadaW11 , I'll do that. Thanks

[2021-07-30 20:32] amirtds opened #465 "[SUBMIT] Publish blog post on Dev.to, Hashnode and Medium at the same time from Strapi."
**My resource**

Publish blog post on Dev.to, Hashnode and Medium at the same time from Strapi.

- Introduction
- Dev.to APIs
- Hashnode APIs
- Medium APIs
- Content Structure
- Publish workflow
- How to automate the deployment to multiple platforms
- Let's see how it works in real world
- Conclusion

**My content is**

Tutorial

**What do you all think?**
❤️ I love it!
🚀 I can help you!

Thank yo

[2021-08-02 07:58] xTrilton commented on #339
Hello @ShadaW11  do you want me to make any changes to the document?

[2021-08-02 08:46] zanasruth commented on #432
Hi @ShadaW11. Sorry for my late response. Here's the outline I've prepared:

What is a Headless CMS?

What is a Traditional CMS?

Differences Between a Traditional and Headless CMS

10 Reasons you should go Headless
1. Omnichannel Freedom
2. Future proof Tech Stack
3. Scalability
4. Faster Editing
5. Security
6.  Easy Third-Party API Integration
7. Frontend Flexibility
8. No-bloat Systems
9. Brand

[2021-08-02 10:01] ShadaW11 commented on #432
Hello @zanasruth Great outline. I would suggest starting with an intro to CMS & content, then adding 2 short paragraphs before the 10 reasons. 3 lines introducing what a traditional cms is, and another 5 lines introducing what a Headless CMS is and then the 10 reasons below the 2 paragraphs. Can you please let me know when will you deliver the article? Looking forward to it.

[2021-08-02 10:37] ShadaW11 commented on #339
Hello @xTrilton Your article has already been reviewed and scheduled to be published tomorrow. Once its published, I will send you the link of the article here on GitHub, and you can go ahead and send us an invoice using the guidelines mentioned in the FAQ section in this [page](https://strapi.io/write-for-the-community). Please note that to publish your article, you will have to first submit your

[2021-08-02 11:01] ShadaW11 commented on #465
Hello @amirtds awesome tutorial and outline, and would love to see this article. However, we will put it on hold until the release of the v4 as we expect some changes to affect this tutorial. I will reach out to you once it is possible to work on this article.

[2021-08-02 11:03] ShadaW11 commented on #407
@RazvanCretu Awesome. Thank you for sharing the article. I will get back to you once it is reviewed.

[2021-08-02 11:26] ShadaW11 commented on #33
Hello @osmarpb97 I will keep you updated if we hear back from @zwalkcodes. You can check our blog as we have recently publishing a blog post [How to Build a Learning Platform with Strapi CMS and Gridsome](https://strapi.io/blog/how-to-build-a-learning-platform-with-strapi-cms-and-gridsome-1) that could be useful.

[2021-08-02 11:35] ShadaW11 commented on #438
Hello @okuninoshi your article has been reviewed and will be published this week. I will get back to you once its live and the next steps.

[2021-08-02 11:45] ShadaW11 commented on #454
I will move this

[2021-08-02 11:46] ShadaW11 commented on #204
Hello @oviecodes I will get back to you as soon as possible regarding the article.

[2021-08-02 11:52] ShadaW11 commented on #430
Hello @KevinKipkorir I would like to have a tutorial written around ecommerce. However, we do have a [Nextjs Strapi ecommerce Starter](https://strapi.io/starters/strapi-starter-next-js-ecommerce) as well as other ecommerce tutorials published on our [blog](https://strapi.io/blog). Please take a look at our blog and let me know if you can create unique e-commerce elements in this tutorial.

[2021-08-02 11:59] ShadaW11 commented on #431
Hello @dpkreativ thank you for sharing the outline. Looks good, id suggest also check this [video](https://www.youtube.com/watch?v=4C9FgMVAAKA) to make sure you provide new elements in this tutorial. Let me know if there is anything else you would like to add in the outline. Also, when would you be able to deliver the article?

[2021-08-02 12:02] ShadaW11 commented on #231
Hello @Quadrisheriff Apologies for the delay. As communicated by email and discord, we are currently taking less tutorials as we are waiting for the v4 release at the end of this month. The v4 release will definitely impact the tutorials. Hence, I will reach out to you in the next couple weeks on when we could start working on this article.

[2021-08-02 12:05] ShadaW11 commented on #435
Hey @dillionmegida apologies for the delay. Awesome content. Would love to have you writing an article for Strapi. We have no restriction on the nature of app but I would suggest ecommerce. I look forward to receiving the outline. Again please accept my apologies. As we are looking forward to release the v4 in the next couple weeks, we are taking less tutorials that we expect to become outdated af

[2021-08-02 12:06] ShadaW11 commented on #443
Hello @ejirocodes As I mentioned before, I really like the outline and topic and for now, we will be pausing this article and I should have more visibility in the next couple weeks.

[2021-08-02 12:13] ejirocodes commented on #443
Thanks for the update, @ShadaW11

[2021-08-02 12:28] dillionmegida commented on #435
Thank you @ShadaW11
I'll draft an outline for this before 10th August.

[2021-08-02 12:44] xTrilton commented on #339
Hello, @ShadaW11 do you accept PayPal for payment transactions?

[2021-08-02 13:06] ShadaW11 commented on #435
@dillionmegida awesome thank you

[2021-08-02 13:06] ShadaW11 commented on #339
@xTrilton no we will send the payment to your bank account.

[2021-08-02 13:16] #313 closed

[2021-08-02 13:25] #410 closed

[2021-08-02 13:41] ShadaW11 commented on #440
Hello @daacode unfortuantely I have not heard from you yet and we have missed the deadline for this article. Any update on this? if you do not have time to deliver the article, no worries at all, we can ask another author to take over.

[2021-08-02 13:44] ShadaW11 commented on #441
Hello @daacode will this article be delivered on August 5?

[2021-08-02 13:45] ShadaW11 commented on #433
Hello @nefejames  any update on the article?

[2021-08-02 13:52] #411 closed

[2021-08-02 13:54] ShadaW11 commented on #333
Hey @Mcastres I wanted to check if you managed to check the article?

[2021-08-02 14:42] dpkreativ commented on #431
Thanks @ShadaW11. I think the article would be ready in a week. On 9th August.

[2021-08-02 14:49] ShadaW11 commented on #431
Hello @dpkreativ thanks for getting back to me. We will be releasing Strapi V4 at the end of august. I am afraid your tutorial will be outdated at the end of august after the release. Unless you can commit to updating your article right after the release, I would suggest that we postpone the article until after the V4 release.

[2021-08-02 15:55] Mcastres commented on #333
Not yet Shada. I will take the time this week to give it an update. @DimiKalligas I can only recommend to follow this [tutorial](https://strapi.io/blog/build-a-blog-with-next-react-js-strapi) which is using Next.js instead. It is better for SEO ;)

[2021-08-02 16:16] nefejames commented on #433
Hi @ShadaW11. I'll have a draft ready for review by Friday.

[2021-08-02 21:57] amirtds commented on #465
Thanks @ShadaW11 sounds great. Looking forward to v4 🚀

[2021-08-03 03:39] Code-Kat commented on #337
I'm interested in working on this if it's still available.

[2021-08-03 08:21] daacode commented on #440
Hi @ShadaW11 sorry for the delay on this article, I had some health issues I had to urgently attend to.  Kindly find the link to my first draft below:

https://www.dropbox.com/scl/fi/5q4sr35ozlst9rm96e177/Top-JAMstack-features_benefits.paper?dl=0&rlkey=okbqsjsy5z0x3uij73wk00ypu

Thanks

[2021-08-03 09:08] dpkreativ commented on #431
Oh okay... In that case, let me get started with it anyway, and I'll make the updates right after the release

[2021-08-03 11:32] ShadaW11 commented on #431
@dpkreativ awesome, can you please register as an author by filling the form [here](https://strapi.io/write-for-the-community)

Then please scroll to the FAQ section in the same page and go over the guidelines, and the process on how to submit and issue an invoice.

[2021-08-03 11:38] ShadaW11 commented on #333
@Mcastres awesome thank you

[2021-08-03 12:09] dpkreativ commented on #431
Yes, that's okay for me. I agree to update the article after v4 without additional compensation. @ShadaW11

[2021-08-03 12:35] dpkreativ commented on #431
@ShadaW11 changing the issue to "in progress"

[2021-08-03 12:53] ShadaW11 commented on #431
@dpkreativ Happy to hear that. Please go ahead and start working on the article. Make sure you follow the above steps mentioned before you start writing. Looking forward to receiving it.

[2021-08-03 15:46] okuninoshi commented on #438
thank you @ShadaW11.

[2021-08-03 23:29] daacode commented on #441
Yes

[2021-08-04 03:14] tufail opened #468 "How to add image from MediaLib at cursor position in Quill Editor"
**How to add image from MediaLib at cursor position in Quill Editor**

Hello 👋

I followed the article https://strapi.io/blog/how-to-change-the-default-wysiwy-to-quill-editor and I have added the Quill Editor in my strapi admin. But whenever I am selecting image it is appending at the end of the content but not at the position where my cursor is? Please let us guide how can we add image from media

[2021-08-04 06:41] DimiKalligas commented on #333
Thanks, Mcastres!

[2021-08-04 06:43] #333 closed

[2021-08-04 08:51] ShadaW11 commented on #468
Hello Tufail, thank you for writing us. Maybe @Mcastres can you help with this as he is the author of the article.

[2021-08-04 09:23] Mcastres commented on #468
Hi @tufail, I will probably not have the time to check this before I go on vacation. I will give a look when I'll come back on mid august :)

[2021-08-04 16:11] uma-victor1 opened #469 "[SUBMIT] Setting up a Nuxt app with Strapi Using Graphql"
**My resource**

**My content is**
Hello 👋
I would like to write an article on setting up a Nuxt app with Strapi using Graphql

## Goal
In this tutorial, we will look at how we can connect the strapi backend to our Nuxt frontend and fetch some data using Graphql. We’ll also look at how to setup and configure such jamstack project.

## Outline
- The need for headless CMS
    - Why use strapi?
    -

[2021-08-04 17:24] zanasruth commented on #432
Hi @ShadaW11

I will adjust the outline and make the additions you highlighted.

The article will be ready by next week Friday

[2021-08-05 04:03] dpkreativ commented on #431
Hi @ShadaW11 I've finished writing the article and I'm currently reviewing it for grammatical errors and code correctness.
I also made some updates to the article's outline based on my insights from this [video](https://www.youtube.com/watch?v=4C9FgMVAAKA) you shared, and Strapi's article guidelines.
Here's the updated outline:

# How to integrate Shopify into your Strapi Website
- ## Introduction

[2021-08-05 08:37] nefejames commented on #433
Hi @ShadaW11. I'm about to wrap up on the draft, but I have some questions.

Where do I place the image and the SEO metadata for the article? In the Dropbox document? An example document of how it will look would be helpful for first time Strapi writers.

[2021-08-05 09:04] ShadaW11 commented on #433
Hello @nefejames awesome news, [here is an example.](https://www.dropbox.com/scl/fi/7o4rzejzmla65hygplkai/My-First-Strapi-Article.paper?dl=0&rlkey=zoc4r7k3iw7titgsxp8vrt55x) Im here if you have any other questions

[2021-08-05 09:33] ShadaW11 commented on #432
Awesome @zanasruth looking forward to receiving it.

[2021-08-05 09:42] ShadaW11 commented on #431
Hello @dpkreativ awesome thank you will review as soon as possible

[2021-08-05 10:51] KevinKipkorir commented on #430
Hello @ShadaW11 ,I went thorough published blogs as suggested and came up with the following additional unique features. In this tutorial,i will be using ;
- Magic to make and request authentication to strapi and store orders on the e-commerce securely.
- Make secure payments using stripe.
- Show how to deploy the application on Render.

[2021-08-05 19:28] daacode commented on #441
@ShadaW11 I'm sorry I'm unable to send this in today, I will need more time to refine this first draft.

[2021-08-06 10:52] nefejames commented on #433
Hi @ShadaW11. I have a draft ready for review.

[2021-08-08 19:19] dpkreativ commented on #431
Hi @ShadaW11 I trust you had a wonderful weekend. I'm just checking to know if you've reviewed the article yet. Do let me know how it goes. Thanks and have a lovely day

[2021-08-09 06:10] adhamfarrag commented on #33
@ShadaW11 @osmarpb97 I've been working on a LMS solution for a client including authentication of course.. instructors and students profiles, courses, paths, and built experiments-uploading feature which allow students to upload experiments they built using our courses but didn't link it to a specific course yet.

Each course has description, title, trailer, and editorial area. Each video has titl

[2021-08-09 09:02] ShadaW11 commented on #198
Hello @Favouroked your article has been published 🎉🎉🎉 https://strapi.io/blog/how-to-build-a-quiz-app-with-next-js-electron-powered-by-a-strapi-backend

Please check our FAQ [here](https://strapi.io/write-for-the-community) to submit your invoice and get paid.
Also make sure you click on discussion under your blog post, register  https://forum.strapi.io/ and click on "watching" to receive automatic

[2021-08-09 09:02] #198 closed

[2021-08-09 10:54] olawanlejoel opened #474 "Building a PWA with Nuxt.js and strapi"
## Hello 👋

In this article, I will explain how to build a Progressive Web app with Nuxt.js and Strapi by building a Food catalog application which would receive her content from strapi and get displayed via nuxt.

## Outline

- Introduction
- Requirements/Prerequisites
- Understanding PWA
- What is Strapi?
    - Getting started with Strapi/setup
    - Creating collections and data fields
- What i

[2021-08-09 11:51] ShadaW11 commented on #438
Hello @okuninoshi your article is now published 🎉🎉🎉, https://strapi.io/blog/how-to-create-an-api-with-strapi-by-rebuilding-the-mdn-express-js-local-library-website please check our FAQ to learn how you can issue and submit your invoice.

Also make sure you click on discussion under your blog post, register https://forum.strapi.io/ and click on "watching" to receive automatically a notification onc

[2021-08-09 11:58] okuninoshi commented on #438
thank you @ShadaW11 I'm honoured.

[2021-08-09 12:02] #438 closed

[2021-08-09 12:02] ShadaW11 commented on #438
We hope you will write soon for us new articles. Thank you

[2021-08-09 13:28] ShadaW11 commented on #431
Hello @dpkreativ your article will be reviewed this week. Apologies for the delay. I will get back to you once the review is completed.

[2021-08-09 13:47] ShadaW11 commented on #441
Any update @daacode

[2021-08-09 13:49] ShadaW11 commented on #433
Hello @nefejames your article will be reviewed this week. thank you. I will get back to you as soon as possible.

[2021-08-09 14:01] #421 closed

[2021-08-09 14:01] #339 closed

[2021-08-09 14:03] ShadaW11 commented on #337
Hello @Code-Kat, thank you for your interest, we just published this article on our blog. But there are plenty of other articles available. looking forward to working with you.

[2021-08-09 14:03] #337 closed

[2021-08-09 14:09] nefejames commented on #433
Alright. I look forward to your feedback @ShadaW11.

[2021-08-09 14:22] ShadaW11 commented on #33
Hello @adhamfarrag awesome project, why don't you write a tutorial about your project and share with us what you have built?
You can register as an author by filling up the form [here](write for the Community | Strapi …), and then you can check the FAQ section for writing guidelines, sending invoices and getting paid.

[2021-08-09 14:30] ShadaW11 commented on #464
Hello @Symbitic Apologies for not getting back to you earlier. Unfortunately, I do not really know the impact of v4. What I would suggest is either have the article written and commit to updating it after the v4 release. Or we can wait for another couple weeks. Strapi has a write for community program to compensate writers for the time and effort. You can join by filling the form [here](https://st

[2021-08-09 14:33] ShadaW11 commented on #430
Hello @KevinKipkorir As for now, we have paused on publishing new articles as we expect it to become outdated after the v4 release. We compensate all writers for writing awesome tutorials on our website. Read more about it [here](https://strapi.io/write-for-the-community). However, I would suggest either waiting for the v4 release or committing to updating the article after the v4 without addition

[2021-08-09 15:08] KevinKipkorir commented on #430
Hello @ShadaW11. Its, Okay. In that case, let me get started with it anyway and make the update/changes after the new release.

[2021-08-09 15:09] osmarpb97 commented on #33
@adhamfarrag
Sure, how can I help you?

[2021-08-10 10:09] dpkreativ commented on #431
Okay thanks @ShadaW11

[2021-08-10 10:17] dillionmegida commented on #435
Hi @ShadaW11

Here's an outline I have for this:

## Title: How to build an E-commerce application using React, MongoDB, Strapi and Socket.io

## Introduction
E-commerce applications serve as platforms where people can sell products, and people can also buy products. It also involves many other features such as adding to cart, adding to favorites, adding reviews and many more. All of this require

[2021-08-10 10:57] ShadaW11 commented on #434
@vickywane your article is published https://strapi.io/blog/building-a-voice-recording-application-with-strapi  🎉🎉
Please register in the strapi forum to get automated notifications when someone comments on your blog post. Also please check our FAQ to submit an invoice. And a big thank youuuu.

[2021-08-10 10:57] #434 closed

[2021-08-10 12:52] ShadaW11 commented on #427
Hey @amirtds your payment will be issued next week. Could you also please keep an eye on the comments written on your blog post and reply to them? https://strapi.io/blog/how-to-use-image-and-preview-in-your-nextjs-strapi-blog

[2021-08-10 18:26] amirtds commented on #427
Hi @ShadaW11 Thanks for letting me know. I keep an eye on the blog post.

[2021-08-10 20:33] vickywane commented on #434
🔥
‘

[2021-08-11 09:06] ShadaW11 commented on #435
Hello @dillionmegida Love the outline, will it include a payment integration? As we move closer and closer to the V4 release date - in a few weeks. I would suggest either postponing your article until after the v4 is released to avoid having your tutorial becoming outdated. Or you can go ahead and work on the tutorial and commit to updating the article after the v4 is released. Unfortunately we ca

[2021-08-11 17:39] suhailkakar opened #475 "[SUBMIT] Building an Unsplash clone using Next JS and Strapi"
**My content is**

I would like to write an article where we will create an Unsplash Clone using Next JS, Tailwind, and Strapi and some of the headings are

- Outline
- Introduction
- What is Next JS
- What is Tailwind CSS
- Initializing the application
- Adding Authentication
- Creating Profile for users
- Creating the Homepage
- Uploading Images to Strapi
- Getting the link of Images from Strapi

[2021-08-11 21:30] dillionmegida commented on #435
Hi @ShadaW11
Regarding the payment integration, I believe that may require an entirely different article, and it may not really fit into the scope of the article.

And regarding postponing the article, well I'd love to start earlier, and have your reviews/feedback and I can update also if necessary.

[2021-08-12 11:13] yestellar opened #478 "Auth0 + Strapi"
Hello. This tutorial covers Auth0 provider connection process.

Link: https://youtu.be/8-AweO-cshw
Language: Russian

Regards

[2021-08-12 16:40] Symbitic commented on #464
@ShadaW11 no problem. I can wait another few weeks. I'll fill out the form and be ready to update everything as soon as v4 is released and then publish it. I need some time to learn how to write in Dropbox Paper anyway since that's what the rules require. So I'll probably wait until after v4 is released.

Thanks for your help.

[2021-08-13 04:05] rich1n opened #484 "[TRANSLATE] Spanish Translation"
**The tutorial I want to translate**

**Community vote**
👍 Upvote if you need it too
❤️ I love it!
🚀 I can help you!

Thank you.

[2021-08-13 10:34] zanasruth commented on #432
Hi @ShadaW11. ![The draft is ready](https://www.dropbox.com/scl/fi/md5bpf7clr85gh2q6pjnr/10-Reasons-To-Move-From-Traditional-To-Headless-CMS.paper?dl=0&rlkey=b08c610q7f5iyane2cl91uyqz). I look forward to your feedback.

[2021-08-13 19:19] daacode commented on #440
Hi, @ShadaW11 any update on this?

[2021-08-16 11:32] zanasruth commented on #432
Hi @ShadaW11. The draft is ready. Here's a link to [the article](https://www.dropbox.com/scl/fi/19g9f5br52cn862stb5pr/10-Reasons-To-Move-From-Traditional-To-Headless-CMS.paper?dl=0&rlkey=svzbdkj22znwssparp90u7qsn). I look forward to your feedback.

[2021-08-18 12:49] ShadaW11 commented on #484
Hello @rich1n which tutorial would you like to translate?

[2021-08-18 12:53] ShadaW11 commented on #478
Hello @yestellar thank you for submitting the video, looks great. @Mcastres could we add this video under tutorials?

[2021-08-18 12:59] ShadaW11 commented on #475
Hello @suhailkakar thank you for submitting the outline, I like the outline, I would suggest adding additional feature to it? Note that we have reduced the number of articles as V4 will be released in the next few weeks. Therefore, current tutorials that are being approved, are those written by authors that commit to updating their article after the V4 without additional compensation. We currently

[2021-08-18 13:06] ShadaW11 commented on #474
Hello @olawanlejoel We currently have our food advisor project that we work on internally, therefore, I would suggest creating an app with different functionality. I would also suggest using Nextjs if possible; Looking forward to hearing from you.

[2021-08-18 13:06] suhailkakar commented on #475
Hi @ShadaW11 , Thanks for your reply,

Sure, I will add many feature to it also I am planning to publish after release of V4

[2021-08-18 13:07] ShadaW11 commented on #469
Hello @uma-victor1 can you please let me know what kind of application will you be creating? what will the app do? and what are the features? thank you for submitting the outline.

[2021-08-18 13:10] ShadaW11 commented on #465
Hello @amirtds As mentioned earlier, we have reduced the number of articles as V4 will be released in the next few weeks. However, few tutorials that are being approved, are those written by authors that commit to updating their article after the V4 without additional compensation. We currently compensate all writers for their articles and we will continue to do so. But we are aware that updating

[2021-08-18 13:13] ShadaW11 commented on #475
Hello @suhailkakar great, happy to hear that. Keep me updated on the progress. thank you.

[2021-08-18 13:19] ShadaW11 commented on #464
Hello @Symbitic Just saw your email. Awesome article. I added the URL [here](https://www.dropbox.com/scl/fi/56jbtt8hopf3wccglk8fx/Rendering-React-SSR-with-Deno-and-Deno-Deploy.papert?dl=0&rlkey=vdje76qh4uupcoyx8ycelc1mx)
I will get back to you once your article is reviewed.

[2021-08-18 13:33] ShadaW11 commented on #441
Hello @daacode, any update?

[2021-08-18 13:36] ShadaW11 commented on #440
Hello @daacode awesome work. Thank you for your submission. Your article will be reviewed by Wednesday. Once reviewed, I will get back to you with feedback. If all is good, the article will be published on our blog.

[2021-08-18 14:09] ShadaW11 commented on #435
Hello @dillionmegida Great, please go ahead and start if you can commit to updating the article after the V4 release. Also keep me updated on the additional features, you will add. As mentioned earlier, we have certain guidelines within our FAQ, please go over them prior to writing your article. You can also find a section to submit your article once done, and issue an invoice. Im here if you have

[2021-08-18 14:11] ShadaW11 commented on #433
Hello @nefejames apologies for the delay. I will get back to you soon.

[2021-08-18 14:16] ShadaW11 commented on #432
Hello @zanasruth No worries, thank you. I will review the article and get back to you asap.

[2021-08-18 15:01] ShadaW11 commented on #431
Hello @dpkreativ  your article is reviewed and scheduled to be published in the next 10 days. awesome work thanks.

[2021-08-18 16:11] zanasruth commented on #432
Alright. I look forward to your feedback.

[2021-08-18 16:25] amirtds commented on #465
Hi @ShadaW11 thanks for letting me know. No problem I can wait for a month for V4 to start working on this article.

[2021-08-18 17:12] Symbitic commented on #464
@ShadaW11 thank you!

[2021-08-18 20:29] nefejames commented on #433
I'm glad to hear that @ShadaW11. Cheers!

[2021-08-18 21:54] dpkreativ commented on #431
🥳 thanks @ShadaW11 looking forward to it 😁

[2021-08-19 05:10] prakash507979 commented on #35
Hi
I want to work on this article. Please let me know how I can start, will you assign this topic to me.?

Thanks
Prakash

[2021-08-19 09:21] ShadaW11 commented on #35
Hello @prakash507979 Could you please share an outline of what you plan on writing about before approval?

[2021-08-19 13:47] MelvinManni commented on #304
Hello @ShadaW11, I’d love to write on this, but with React Native instead of flutter. I don’t if that’s acceptable?

[2021-08-19 13:51] MelvinManni commented on #289
I would love to write on this if it’s still available. @malgamves

[2021-08-19 14:11] Code-Kat commented on #34
I’d be interested in writing about this if it’s still available.

[2021-08-19 14:15] Code-Kat commented on #304
I’m interested in writing about this.

[2021-08-20 03:47] uma-victor1 commented on #469
Hello @ShadaW11, I will be building an event app. The app will display the events that we get from strapi API. It will have search functionality and users can select an event based on the type of event.

[2021-08-20 08:50] mostofa62 opened #489 "[REQUEST] Strapi with Laravel Tutorial"
Hello Team,
I am looking for a
Strapi with laravel example

[2021-08-20 14:10] prakash507979 commented on #35
Hi Please find the pitch below. If any changes required let me know.

Title: Preview with JAM Stack
1.	Introduction
2.	Overview JAMstack
3.	Briefing About Preview mode with JAMStack
4.	Process of Implementing setup of Preview mode
       4.1	Setup process of Strapi (Backend)
       4.2	 Setup process of Next.js application.
       4.3	Setup Process of Tailwind CSS
       4.4	Installation process o

[2021-08-20 21:10] dillionmegida commented on #435
Hi @ShadaW11 sorry for getting back to you late

The article would be ready on 6th September. I'd re-check the guidelines and begin making up the draft. I'd let you know of any questions along the way.

[2021-08-23 08:36] zaracooper commented on #39
Hi @ShadaW11. Could I work on this if it's available?

[2021-08-23 08:44] ShadaW11 commented on #39
Hey @zaracooper Yess still available. If you are interested in this topic, please share with me an outline of what you have in mind.

[2021-08-23 09:00] ShadaW11 commented on #435
Hey @dillionmegida awesome, happy to hear that. Please do reach out if you have any questions. Thanks and Im looking forward to receiving your article.

[2021-08-23 09:21] zaracooper commented on #39
Ok. I'll make an outline and post it here before the end of tomorrow. Thanks, @ShadaW11 .

[2021-08-23 11:19] #484 closed

[2021-08-23 15:30] ShadaW11 commented on #469
Hello @uma-victor1 Could you please add the features of the app within the outline. Here is a intro + sample outline:

My resource
Svelte is a component framework that runs at build time, converting your components into highly efficient imperative code that surgically updates the DOM. Svelte approach to building web apps is unique and I will like to teach the Strapi community how they can build a

[2021-08-24 02:55] olawanlejoel commented on #474
Hi @ShadaW11, so sorry for the late response and I’m so happy to get started here.

Talking about an app with a different functionality - I was thinking of a drug verification app where all approved drugs will be uploaded on strapi with their details and a unique code.

The app will check for the unique code, if it exists or not to know if a drug is approved or fake.

I have not used next.js befor

[2021-08-24 09:19] vickywane opened #490 "[SUBMIT] Deploying Strapi API to App Engine using Cloud SQL on Google Cloud Platform"
Hello 👋

I noticed there is a shortage of content being created here that focuses on Deployments.
Hence, i will like to create an article that that compliments the deployment section within the documentation and focuses on deploying a strapi Application to the Google Cloud Platform, using the [App Engine](https://cloud.google.com/appengine) for running the Node.js app and the [Cloud SQL](https://c

[2021-08-24 13:47] zaracooper commented on #39
Hey @ShadaW11 . Here's the outline.

----

**Title:**
Beginner's Guide to Opensource Jamstack

**Outline:**
1. Introduction
    - What is Jamstack and why it's important
    - What is Opensource and why it's significant
    - Types of Jamstack Opensource Projects
    - Examples of popular projects
2. Static Site Generators
    - What they are
    - How they work
    - Applications of SSGs
    - Ex

[2021-08-24 13:51] ShadaW11 commented on #490
Hello @vickywane outline looks good but are you sure a similar content is not already published on our blog or documentation? Can you please take a look and confirm? If you find similar points, you can replace few of them in your outline with something else. Im definitely looking for a deployment article. I would also want to confirm that you are willing to update your article after the V4 without

[2021-08-24 13:51] ShadaW11 commented on #489
Hello @mostofa62 good point, I look forward to seeing an article published around this topic.

[2021-08-24 13:56] ShadaW11 commented on #231
Hello @Quadrisheriff could you please submit another tutorial that could be interesting to our users rather than a blog as we already have something similar on our blog. I look forward to seeing the modified outline.

[2021-08-24 13:57] ShadaW11 commented on #474
Hello @olawanlejoel its okay to use Nuxt and important that you use a language you are comfortable with. I am still not sure about the tutorial. There are a lot of trending topics and I think we need an app that could be used by our community. Maybe you can take a look online for some inspiration. Also when publishing an outline, below is a sample (to include what each section will talk about incl

[2021-08-24 14:10] ShadaW11 commented on #39
Hello @zaracooper thanks, looks good; Please go ahead and work on it.

[2021-08-24 14:20] zaracooper commented on #39
Awesome. Thanks @ShadaW11. I'll have a draft for you by 21st September.

[2021-08-24 14:21] ShadaW11 commented on #39
Great thanks

--

Shada Wehbe

Program Marketing Manager - Paris, France

Website <https://strapi.io/> | Get a demo <https://strapi.io/demo> | Roadmap
<https://portal.productboard.com/strapi/1-roadmap/tabs/2-under-consideration>

Before you go: Learn what is Strapi in just 3 minutes
<https://strapi.io/documentation/v3.x/getting-started/quick-start.html>

On Tue, Aug 24, 2021 at 4:20 PM Zara Cooper

[2021-08-25 07:36] MattieBelt commented on #490
Hey @ShadaW11 and @vickywane,
I wanted to note here that there already is a detailed deployment guide on how to deploy your strapi instance on GCP with App Engine and Cloud SQL:
https://strapi.io/documentation/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/google-app-engine.html

[2021-08-25 09:11] vickywane commented on #490
Hello @MattieBelt @ShadaW11

Going through the documentation, I can see there is a guide for using the App Engine and Cloud SQL on Google Cloud.
However, there is no guide for using the[ App Service](https://azure.microsoft.com/en-us/services/app-service/) on Azure ( what's available is using an Azure VM instance)

I will switch the initial outline to using the App Service on Azure for running the

[2021-08-25 10:45] prakash507979 commented on #35
Hello @ShadaW11, any update on my pitch which is submitted above?

[2021-08-25 10:48] ShadaW11 commented on #490
Hello @MattieBelt thank you so much for your help 🙏 @vickywane could you please double check and submit an updated outline to verify the content is unique before you start working on it.

[2021-08-26 18:08] ELBEQQAL94 opened #491 "[SUBMIT]"
Before you read this article I assume you are familiar with Forms and Hooks in React. If not just follow me.

### Step 1:

Create a new project we're using create-react-app

[code]

### Step 2:

After we create a new project using create-react-app. Now we have to clean up the project a little bite.

remove **app.css**, **index.css**, **reportWebVitals.js**, and **logo.svg**.

Open **app.js** file

[2021-08-26 18:15] #491 closed, assigned to ShadaW11

[2021-08-26 18:16] ELBEQQAL94 opened #492 "[SUBMIT] Submit form component from outside in React by using Event constructor!"
Before you read this article I assume you are familiar with Forms and Hooks in React. If not just follow me.

### Step 1:

Create a new project we're using create-react-app

[code]

### Step 2:

After we create a new project using create-react-app. Now we have to clean up the project a little bite.

remove **app.css**, **index.css**, **reportWebVitals.js**, and **logo.svg**.

Open **app.js** file

[2021-08-26 18:19] #492 closed, assigned to ShadaW11

[2021-08-29 09:34] Code-Kat commented on #304
@ShadaW11, here is the outline I'm thinking of following:

-  Introduction
-  Prerequisites
-  Installing and Setting up Flutter
-  Setting up Strapi
-  Creating a Flutter App
-  Integrating Strapi Data
-  Suggestions to take things further
-  Conclusion

Please let me know if I should add and/or change anything.

[2021-08-30 11:09] ShadaW11 commented on #204
Hello @oviecodes could you please issue an invoice. Your article has been published.

[2021-08-30 11:09] #204 closed

[2021-08-30 11:12] ShadaW11 commented on #407
@RazvanCretu Your article has been published, please send the edited invoice. Thank you.

[2021-08-30 11:12] #407 closed

[2021-08-30 11:14] ShadaW11 commented on #238
@zaracooper thank you for writing the article and submitting the invoice. Payment will be issued asap. Thank you.

[2021-08-30 11:14] #238 closed

[2021-08-30 12:35] ShadaW11 commented on #304
@Code-Kat Thank you for submitting the outline, would you mind expanding more on what the flutter app will do? Meaning could you decide on the app functionality?

[2021-08-30 12:53] bigpreshy commented on #489
I'd like to work on this

[2021-08-30 13:01] ShadaW11 commented on #489
@bigpreshy great, could you please submit an outline?

[2021-08-30 13:05] Mcastres commented on #478
Sure, I'll do it! Thanks @yestellar :)

[2021-08-30 13:05] #478 closed

[2021-08-30 13:12] ShadaW11 commented on #474
Hello @olawanlejoel any update on the outline?

[2021-08-30 13:19] bigpreshy commented on #489
- Introduction
- Setting up a Strapi Project
- Setting up a Laravel Project
- Consuming  Strapi  Data in a Laravel Project

- Conclusion

[2021-08-30 13:21] bigpreshy opened #493 "[TOPIC] Strapi Vs Laravel"
**My resource**
I would like to compare  these two technologies.

**My content is**

- [ ] A Strapi Tutorial / Guide / How to article

[2021-08-30 13:23] ShadaW11 commented on #469
Hello @uma-victor1 any update?

[2021-08-30 13:23] yestellar commented on #478
Thank you!

[2021-08-30 13:25] Mcastres commented on #478
Done :)

[2021-08-30 13:26] ShadaW11 commented on #489
@bigpreshy As mentioned on Discord, please add a section to compare strapi and larvel as well. Looking forward to reading this article.

[2021-08-30 13:27] #493 closed

[2021-08-30 13:31] ShadaW11 commented on #457
Hello @oviecodes We are now accepting articles from writers that commit to updating the content of the article after the V4 release. If this is something you can do, kindly let me know and we could proceed with the article.

[2021-08-30 13:33] #443 closed

[2021-08-30 13:34] ShadaW11 commented on #447
Hello @philippkhon we have resumed tutorials for the writers who commit to updating their articles after the v4 release without extra compensation. If this is something you can commit on doing. We can discuss the submitted outline.

[2021-08-30 13:39] ShadaW11 commented on #87
Hey @purnimagupta hows it going, its been a while. Did you get a chance to finish it?

[2021-08-30 13:40] philipszdavido commented on #447
@ShadaW11 OK, but I will be paid for this article?

[2021-08-30 13:41] ShadaW11 commented on #447
@philipszdavido Yes of course, but when you update it after the V4, you will not be paid.

[2021-08-30 13:51] uma-victor1 commented on #469
Hi @ShadaW11, here is the updated outline

## Outline
- The need for headless CMS
    - Why use strapi?
    - How it all works
- setting up the Nuxt frontend
    - Configuring Nuxt to work with Apollo Client
- Creating a Strapi Collection Type
- Install the Strapi GraphQL Plugin
- Using the GraphQL Playground
- Adding a query to our Nuxt client
- Rendering Strapi data in the Nuxt client
- Implemen

[2021-08-30 13:55] philipszdavido opened #494 "[SUBMIT] Consume Strapi GraphQL using cURL scripts"
In this article, we will clearly describe how to create GrpahQL endpoints in Strapi and how to consume those enpoints using cURL scripts.

Here is an example:
__Outline__

Introduction
What is Strapi?
Setting up a Strapi project
Building components
cURL: Writing script code
Testing the cURL scripts
Conclusion

- [x] A Strapi Tutorial / Guide / How to article
- [ ] About Headless, CMS, javascript,

[2021-08-30 14:03] philipszdavido opened #495 "[SUBMIT]Build to-do app with Go and Strapi"
This article intends to teach developers how to build a todo app in Go and store the data in a Strapi instance. The developers will learn how to build collections in Strapi and also how to consume the Strapi endpoints from a Go app.

Outline

- What is Strapi?
- Setup Strapi
- Build collections
- Setup Go project
- Build Go to-do app
- Test run
- Conclusion

**My content is**

- [x] A Strapi Tutor

[2021-08-30 14:03] ShadaW11 commented on #447
@philippkhon Please take a look at our blog and documentation, I saw some similar content. could you also expand more on the real life app that you will demonstrate?

[2021-08-30 14:04] ShadaW11 commented on #494
@philippkhon ill let you publish the other post and then next we can discuss this.

[2021-08-30 14:06] ShadaW11 commented on #469
@uma-victor1 So you will be creating an event app with Nuxt and strapi?

[2021-08-30 14:11] philipszdavido commented on #447
The real-life app will be a Q/A app just like Quora. In that way, we can cover all the relations in Strapi. Yeah, there are similar contents in the Strapi docs and blog but they are not close enough to this😁.

Also, I have submitted many article proposals, but I saw you commented that I focus on this, yes that's good. Can we start the monthly posts we did before the pause for the v4?

[2021-08-30 14:12] ShadaW11 commented on #447
@philippkhon sounds good, I like the app idea. Please go ahead and work on it. Unfortuantely we are working on article by article basis. I will keep you updated. but please go ahead and start working on this.

[2021-08-30 14:13] philipszdavido commented on #447
OK, thanks. I'll start.

P.S I think you are not tagging me. Mine is @philipszdavido 😁

[2021-08-30 14:25] ShadaW11 commented on #447
@philipszdavido you are right. fixed and thanks.

[2021-08-31 02:09] olawanlejoel commented on #474
Yes. I will be sending in an outline tomorrow. I want to make it solid
enough to get through this stage. Thanks so much for the check up!

On Mon, 30 Aug 2021 at 2:12 PM, Shada ***@***.***> wrote:

[2021-08-31 06:16] Code-Kat commented on #304
@ShadaW11 I was thinking it could be a simple app that shows tourist destinations around a city. The main screen will show a list of clickable destinations that will take the user to a new screen with a short description of that specific destination.  Of course, all the destination data will be coming from Strapi.

[2021-08-31 06:59] oviecodes commented on #457
Hey @ShadaW11,

I'm still open to writing the article...
Let me know the next steps.

[2021-08-31 08:05] Pablo-Aldana commented on #304
Hi @ShadaW11  @malgamves  happy to write the Flutter articles, please email me to agree on details

[2021-08-31 09:35] ShadaW11 commented on #304
hello @Pablo-Aldana please check the open issues or submit new issues and include the suggested outline for flutter articles. You will also have to register your author details here https://strapi.io/write-for-the-community

[2021-08-31 09:40] ShadaW11 commented on #304
Hello @Code-Kat Sounds good. Please make sure that you
1- Register your author details by filling the form here https://strapi.io/write-for-the-community
2- Go over the FAQ section for writing guidelines, submission and getting paid.
3- Please note that you will be compensated once the article is published. More details in the FAQ. However, we will be releasing the V4 in one month. We expect that

[2021-08-31 09:59] Code-Kat commented on #304
@ShadaW11 I've already registered my author details and gone over the FAQ, but I'll review the guidelines just to be safe.
I don't mind updating my article after the release of V4, but thank you for the heads-up.

[2021-08-31 10:37] ShadaW11 commented on #304
@Code-Kat cool. Happy to hear and looking forward to reading your article.

[2021-08-31 13:34] akashkashhyap opened #496 "Connect Strapi to Shopify to import data from Shopify"
Hello Community,

Can someone please make a tutorial on how to connect and sync Strapi and Shopify; to import data from Shopify store and manage all contents from Strapi? I have found a tutorial on Strapi doc but the process manually created a product on Strapi and added product id from Shopify store. The idea is  to manage all content types from Strapi and Shopify will only manage cart and shippi

[2021-09-01 07:10] Quadrisheriff commented on #231
Hi @ShadaW11 , this is the link to my final draft - https://www.dropbox.com/sh/4ukahnezlpat6mz/AAB61r_yNP7nfbtaNM7zzrXTa?dl=0

Thanks a lot for the opportunity

[2021-09-01 07:54] ShadaW11 commented on #231
@Quadrisheriff awesome, we will review it and get back to you soon.

[2021-09-01 08:05] ejirocodes commented on #443
Hi @ShadaW11, I noticed you closed this. Can I get more insight as to what should be changed in the outline. Thanks

[2021-09-01 08:35] MattieBelt commented on #457
Hey @oviecodes,

I think it is also a good idea to write in short about when not to use the build in `cron` feature and a possible solution for what you could use. For example when having a containerized application with multiple 'horizontal-scaled' Strapi instances.

[2021-09-01 10:56] ShadaW11 commented on #431
Hello @dpkreativ Your article is now published. Please check the [FAQ](https://strapi.io/write-for-the-community) to issue an invoice.

[2021-09-01 10:59] ShadaW11 commented on #496
Hello @akashkashhyap We just [published a post on our blog](https://strapi.io/blog/integrate-shopify-into-your-strapi-website), I hope it is helpful.

[2021-09-01 11:06] akashkashhyap commented on #496
Thank you for responding to my request.

On Wed, Sep 1, 2021 at 4:30 PM Shada ***@***.***> wrote:

[2021-09-01 11:14] olawanlejoel commented on #474
## Outline

- Introduction
- Requirements/Prerequisites
- Understanding PWA
- What is Strapi?
    - Getting started with Strapi/setup
    - Creating collections and data fields
    - Setting up roles and permission
- What is Nuxt.js
    - Setting up a Nuxt.js app
    - Connecting strapi with Nuxt.js App
- Building a Linktree app
    - Building the frontend (Add link page, home page, login and sign

[2021-09-01 11:18] akashkashhyap commented on #496
It is more or less same as what was explained in the video. The developer suggests to copy product id from Shopify and add it to the ShopifyID field created on Strapi. There are multiple products for any ecommerce store. Would it means that we have to manually add ids to Strapi from Shopify?

[2021-09-01 11:18] ShadaW11 commented on #457
Hey @oviecodes Do you think you could cover what @MattieBelt mentioned?

[2021-09-01 11:21] ShadaW11 commented on #35
Hello @prakash507979 apologies for the delay, its still in review

[2021-09-01 11:22] ShadaW11 commented on #496
Would you mind if you add your comment on the [GitHub issue here](https://github.com/strapi/community-content/issues/431)? I would like the author to update his tutorial to include your request. It would be great if you could explain that to him, I think its a great add to the article.

[2021-09-01 11:24] akashkashhyap commented on #496
No.
Thanks for link again

[2021-09-01 11:26] akashkashhyap commented on #431
Hi,
Thanks for the blog tutorial but it is more or less the same as what was explained in the earlier video on the same topic. As per this tutorial we have to copy product id from Shopify and add it to the ShopifyID field created on Strapi. Generally, there are multiple products for any ecommerce store. Would it means that we have to manually add ids to Strapi from Shopify?

[2021-09-01 11:30] ShadaW11 commented on #431
Hello @dpkreativ could you please update your tutorial to include a solution to adding multiple products?

[2021-09-01 11:30] #496 closed

[2021-09-01 11:37] ShadaW11 commented on #443
Hello @ejirocodes I closed it as another writer has submitted an article with a similar content.

[2021-09-01 11:48] ejirocodes commented on #443
Alright. Thanks for the update

[2021-09-01 11:53] ejirocodes commented on #444
@ShadaW11, here is a [link](https://www.dropbox.com/scl/fi/xby10akl8sv76itznnmbz/Build-an-Invoice-Generator-App-with-Next.js-Strapi-Tailwind-CSS.paper?dl=0&rlkey=iuwrxegquh6v4v5b0o4gap2x8) to the article, let me know what you think.

[2021-09-01 13:03] ShadaW11 commented on #490
Hello @vickywane Apologies for the delay. Thank you for sending over the edited outline. Unfortunately, we believe that a big portion of the content is already existing, in addition to the V4 release date that is very near and hence making this content outdated. I would suggest you work on another topic. Looking forward to receiving awesome article from you.

[2021-09-01 13:03] #490 closed

[2021-09-01 17:14] oyedeletemitope commented on #432
Is this still open

[2021-09-01 18:21] oviecodes commented on #457
Hey @ShadaW11 , I really have no understanding of what @MattieBelt is talking about but if @MattieBelt could elaborate on it maybe I could cover it

[2021-09-01 18:53] MattieBelt commented on #457
Yes sure, so Strapi has an build in cron feature, well documented in the configurations docs [here](https://strapi.io/documentation/developer-docs/latest/setup-deployment-guides/configurations.html#cron-tasks).
And explained in [this (old) guide](https://strapi.io/documentation/developer-docs/latest/guides/scheduled-publication.html) with some more context (e.g. Scheduled publication).

But as the

[2021-09-01 19:35] derrickmehaffy commented on #457
Nope that's exactly it. My usual suggestion is to create a custom route/controller that would perform the same logic as a crontask (maybe implement API tokens to secure it). Then you would call this endpoint from any other system.

Could be the built in cronjob system in Linux with a simple curl request or using a more complex self hosted cron system.

You can even use things like Zapier or IFTTT,

[2021-09-01 23:20] dpkreativ commented on #431
Okay @ShadaW11 Let me do some research and update the article accordingly. @akashkashhyap could you give me a few days to do that please?

[2021-09-02 00:18] nefejames commented on #433
Hi @ShadaW11. Any updates on the article?

[2021-09-02 03:59] akashkashhyap commented on #431
@dpkreativ glad to hear from you. Yes please have a look at it. It would be really helpful for everyone who is looking for this type of integration.

[2021-09-02 09:07] ShadaW11 commented on #431
Great @dpkreativ  happy to hear that.

[2021-09-02 09:08] ShadaW11 commented on #433
Hello @nefejames apologies for the delay its still in progress. I will keep you updated as soon as possible.

[2021-09-02 09:16] ShadaW11 commented on #432
Hello @oyedeletemitope unfortunately not, the article has been written and is pending review.

[2021-09-02 09:19] ShadaW11 commented on #444
Hello @ejirocodes The topic was put on hold as mentioned in my message before. Please do not work on articles that are not approved. I will try my best to find a spot for your article and get back to you.

[2021-09-02 09:28] ShadaW11 commented on #474
Could you please clarify what the app will do? @olawanlejoel

[2021-09-02 09:37] olawanlejoel commented on #474
This is an an app that will allow users to create an account to house links to all their profiles, publications, and lots more just like the regular linktree website but this time around we will be working with strapi.

[2021-09-02 10:34] Abdulbarict opened #500 "[REQUEST]"
Please Give me  Strapi tutorial

[2021-09-02 12:48] ShadaW11 commented on #464
@Symbitic Your article will be published next week, please submit an invoice. (check the process in the FAQ section in the write for the community page) The article URL is not ready yet, therefore please use the title of the article.

[2021-09-02 13:29] oviecodes commented on #457
Hey, @MattieBelt I don't have experience with setting up cron jobs with multiple instances. But I do understand your point, when using multiple instances, different instances may invoke the same cron job, hence leading to the job being executed multiple times.
Nice point @derrickmehaffy it's a nice solution, but I don't have much experience working with multiple as I have never built a large-scale

[2021-09-06 00:44] nefejames commented on #433
Alright @ShadaW11. Thank you

[2021-09-06 02:51] Frank-dev20 opened #505 "Understanding JavaScript normal function and arrow function"
**My resource**

**My content is**

- [ ] A Strapi Tutorial / Guide / How to article
- [ ] About Headless, CMS, javascript, open source, or jamstack
- [ ] Other, specify

**What do you all think?**
❤️ I love it!
🚀 I can help you!

Thank you for submitting your article proposal.

**Title**
#Understanding JavaScript normal function and arrow function

**Outline**
JavaScript is the modern programming

[2021-09-06 04:16] daacode commented on #440
@ShadaW11 any update on this article's first draft yet.

[2021-09-07 06:17] ShadaW11 commented on #464
@Symbitic your article is published, please refer to the FAQ section to issue and submit an invoice. Thank you and looking forward to your next article.

[2021-09-07 06:17] #464 closed

[2021-09-07 08:12] dillionmegida commented on #435
Hi @ShadaW11
I'm sorry, I saved the wrong delivery date on my calendar and just realized today that I told you 6th September (yesterday),

I'm done with the app, and now I'm currently making up the draft as I'm building the app from scratch again.
I'll get this done before/on 10th September. I apologize for the delay in updating you.

[2021-09-07 12:22] olawanlejoel commented on #474
Hi @ShadaW11. I don’t know if you got my reply please.

[2021-09-08 05:39] ShadaW11 commented on #474
Hello @olawanlejoel Outline looks good, could you please commit to updating your application after the V4 release? If yes, please go ahead and start working on the tutorial. Please let me know when you will be able to deliver?

[2021-09-08 05:43] ShadaW11 commented on #433
Your article has been published. @nefejames thank you and looking forward to your next one. Please check the FAQ in the write for the community to issue and submit an invoice.

[2021-09-08 05:43] #433 closed

[2021-09-08 05:48] ShadaW11 commented on #505
Hello @Frank-dev20 thank you for submitting the outline. Its interesting, however, it would be more useful to have it connected to Strapi. Is there a chance you can submit something else or edit the current outline?

[2021-09-08 05:49] ShadaW11 commented on #500
@Abdulbarict Hello, kindly clarify what strapi tutorial are you looking for?

[2021-09-08 05:50] ShadaW11 commented on #447
Hello @philipszdavido is the article ready?

[2021-09-08 05:52] ShadaW11 commented on #469
Hello @uma-victor1 when can you deliver the article?

[2021-09-08 06:09] ShadaW11 commented on #444
Hello @ejirocodes I sent you an email, kindly get back to me asap.

[2021-09-08 06:15] ShadaW11 commented on #431
Hello @dpkreativ any update?

[2021-09-08 06:16] ShadaW11 commented on #435
Hello @dillionmegida No worries, I will be awaiting your article on the 10th of august. Thank you.

[2021-09-08 06:17] ShadaW11 commented on #440
Hello @daacode I will get back to you by tomorrow max. Thank you for following up with me. Its still in review.

[2021-09-08 06:25] ShadaW11 opened #506 "[Request New Content] Creating a blog / e-commerce with Astro"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-09-08 06:26] ShadaW11 opened #507 "[Request New Content] Create a job board website - tutorial"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-09-08 06:27] philipszdavido commented on #447
@ShadaW11 Almost, I will submit it today. Thanks so much.

[2021-09-08 06:47] alloyking1 opened #508 "Create a Crypto converter with svelte and Strapi"
**My resource**

**My content is**

- [ ] A Strapi Tutorial / Guide / How to article

Outline
About the app
The app will be a simple crypto currency converter. It will consume external crypto API's that returns real time crypto currency rates. It will be able to convert the value of one coin to another. An example would be converting Bitcoin to BNB. if the value of BTC is entered, it will calculat

[2021-09-08 07:11] uma-victor1 commented on #469
Before the 20th of this month

[2021-09-08 07:49] dpkreativ commented on #431
Hi @ShadaW11, good morning.

Yes, I have been reading up on how to fully do the integration based on how @akashkashhyap requested it be done. I saw [this article](https://forum.strapi.io/t/shopify-integration/1701) on Strapi's forum that gives some insight on how to go about it, so I would start from there.

I've been quite busy with work this past week so I've not had much time to work on the upd

[2021-09-08 07:57] ShadaW11 commented on #469
Can you please confirm that you will update the tutorial after the v4 release.
You will get paid once the tutorial is on the blog.
The additional article update after V4 is not update, can you confirm that this is okay for you? If yes, please reply and go ahead and get started. Thank you.

[2021-09-08 07:59] ShadaW11 commented on #431
@dpkreativ awesome, no worries take your time and looking forward to it.

[2021-09-08 08:00] ShadaW11 commented on #508
@alloyking1 I would like you to expand more on the app features . What will the app do?

[2021-09-08 08:05] Frank-dev20 commented on #505
Oh, I see. I have to write in connection with Strapi.

[2021-09-08 08:07] FuelOrganics commented on #431
Thank you @ShadaW11 for the follow up. Yes @dpkreativ it would be great if you can come up with a solid solution even if it takes some time.

Looking forward to it.

[2021-09-08 08:11] akashkashhyap commented on #431
Thank you @ShadaW11 for the follow up.
Yes @dpkreativ it would be great if you can come up with a solid solution even if it takes some time.

[2021-09-08 08:13] uma-victor1 commented on #469
@ShadaW11 Yeah. This is okay by me. I will update the tutorial once the v4 is released.

[2021-09-08 08:20] ShadaW11 commented on #469
Great please start working on the tutorial. @uma-victor1

[2021-09-08 08:21] ShadaW11 commented on #469
Please review the guidelines on how to write the article, where to submit and all other details in the FAQ section in this page https://strapi.io/write-for-the-community

[2021-09-08 08:50] dpkreativ commented on #431
Thanks a lot. I'll be sure to post updates on the progress of the article. Have a lovely day @ShadaW11  @akashkashhyap

[2021-09-09 05:32] ShadaW11 commented on #508
@alloyking1 any update?

[2021-09-09 06:08] octalpixel commented on #506
hey @ShadaW11 I would like to take this topic. I will send in an outline shortly

[2021-09-09 06:25] ShadaW11 commented on #506
hello @octalpixel looking forward to it

[2021-09-09 08:56] lawrenceagles commented on #507
Hello,  @ShadaW11 I am interested in this article.

[2021-09-09 15:47] olawanlejoel commented on #474
Hi @ShadaW11 , I will deliver this article at the end of the month, this will give me time to build the app well and write a befitting article to explain all the process in plain words.

I’ll definitely update the article when a new release is out!

[2021-09-09 18:03] philipszdavido commented on #447
Hello @ShadaW11 The article is ready, see the link https://www.dropbox.com/scl/fi/di2rxq4davemkc693d4ly/Understanding-and-using-Relations-in-Strapi.paper?dl=0&rlkey=hrzkn9ds2t5g82eb14r5u56er

Sorry for the delay.

[2021-09-09 18:14] philipszdavido commented on #494
@ShadaW11 can I start with this now?

[2021-09-10 08:35] octalpixel commented on #506
**My resource**
Hello 👋
In this article, I will explain how to build a  personal blog using Astro. The application will use a mixture of React as the Astro Renderers for creating components and Tailwind for styling them. Strapi will have the functionality of CMS for the authors and function as a headless CMS for the frontend.

**Title**: Build a blog using Astro, React and Strapi

**Outline**
- In

[2021-09-10 12:47] dillionmegida commented on #435
Hi @ShadaW11

Here's the draft: https://www.dropbox.com/scl/fi/hpjpmzq8d5evx5w5dfri4/How-to-build-an-E-commerce-application-using-React-MongoDB-Strapi-and-Socket.io.paper?dl=0&rlkey=9don0guvc2qxnx60eb16h6gvw

Looking forward to your review 🙂

[2021-09-12 12:42] MattieBelt commented on #435
Hey @dillionmegida and @ShadaW11,

I saw this article uses mongoDB, I was asking myself if it at this moment it still was a good idea to publish new articles using MongoDB, with [the announced delayed compatibility for Mongo](https://forum.strapi.io/t/mongodb-compatibility-delayed-on-v4/4549).

So updating this article to the V4 standard can take a long time 😉

Let me know how you think about this

[2021-09-12 12:46] MattieBelt commented on #447
Hey @philipszdavido,

Awesome you spending some time on writing for the community!
One thing I noticed that you didn't mention anything about one-way relations, how'd you fit this concept in the article? 👀

[2021-09-12 13:08] philipszdavido commented on #447
@MattieBelt Thanks.

So I mentioned the ones here because they will fit into the Q/A app I will build in the article.

[2021-09-12 13:11] MattieBelt commented on #447
@philipszdavido,

Okay but the article should be focused around,

right?

Likewise you didn't use the many-to-many relations in the app 😉

[2021-09-12 13:20] philipszdavido commented on #447
@MattieBelt

Yes, the many-to-many didn't later in fit when I was building the app, so I just explained what it is. The Q/A app had only **one-to-one** and **one-to-many** relations.

[2021-09-12 13:23] MattieBelt commented on #447
Yes great, so don't you think you should also explain the one-way relations  and their usage?
I hope you understand my request. 🙃

[2021-09-12 13:34] philipszdavido commented on #447
OK, so the one-way relations are: one-to-one, one-to-many, many-to-one, many-to-many right?

So I should explain them, right?

[2021-09-12 13:38] MattieBelt commented on #447
[All possible relations in Strapi.](https://strapi.io/documentation/developer-docs/latest/development/backend-customization.html#relations)

Handled in the Article:
- [ ] One-Way
- [ ] Many-One (one-way Many-to-One)
- [x] One-to-One
- [x] One-to-Many / Many-to-One
- [x] Many-to-Many
- [ ] Polymorphic

[2021-09-12 13:39] philipszdavido commented on #447
Good.

[2021-09-12 13:40] MattieBelt commented on #447
I guess so as the article is all about relations right, so at least explaining them is a good thing to do.

[2021-09-12 13:57] philipszdavido commented on #447
@MattieBelt Thanks 😀 I will explain them very well with pictures too. 💯

[2021-09-12 16:19] dillionmegida commented on #435
Hi @MattieBelt

Thanks for the feedback.

I just went through the shared link. In this article, the use of mongodb is very minimal. I didn't use mongoose. MongoDB is only serving as where data is stored, so I don't think updating would take a long time.

If this is the only prone-to-be-outdated factor, I could consider removing it, and opting for an SQL-solution, or removing it when V4 is finally

[2021-09-13 07:44] ShadaW11 commented on #435
Thank you @MattieBelt for bringing my attention to this. @dillionmegida  I went over the draft real quick and I agree that updating it should not take a long time. Therefore, I would suggest working on the edits after the V4 release. We will review the article this week and hopefully publish it asap.

[2021-09-13 09:49] ShadaW11 commented on #447
@MattieBelt thank you for the awesome review, Hey @philipszdavido could you please confirm whenever you are done with the updates? I believe Mattie is totally right. I think its pretty much the basics to explain that as its what the whole article is about. Looking forward to your the updated article.