[2019-10-22 08:51] Mcastres opened #3 "[TOPIC] How to create corporate websites using strapi"
**The Request**
Strapi is looking for a writer for our new tutorial program. A lot of our users are using strapi in order to build corporate websites, this is why we want to release an **"How to create corporate websites using strapi"** tutorial.

One of our great inspiration is Docker and we would like to showcase a Docker-like corporate website.

This tutorial will consist of recreating the Dock

[2019-10-22 09:56] Atinux commented on #3
Upvote and wish to see it with Nuxt.js 😍

[2019-10-22 17:11] pouyamiralayi commented on #3
i have already followed nuxt tutorial for strapi and i have polished it to be production ready.
things i have added to the stack and would be happy to share with you guys:
1) integrating apollo link error for debuggin the graphql requests and proper error handling.
2) using apollo mutations with respect to graphql api amountLimit.
3) properly setup apollo cache.
4) properly setup apollo for authen

[2019-10-24 18:33] Mcastres opened #10 "[REQUEST] How to create a plugin"
**My Request**
Creating you own plugin is one of the most wanted tutorial. We are looking for someone who knows how to create one and who can teach it. This is probably the most important tutorial that can be made right now, needless to say that many people will thank you for that

**Preferred Format**
- [x] Article
- [x] Video

**Community vote**
👍 Upvote if you need it too
🚀 If you can make the

[2019-10-24 18:44] Mcastres opened #11 "[REQUEST] How to use strapi for your mobile app"
**My Request**
There is actually 0 tutorials on how to use strapi for your mobile application and it has to change! The reason why headless CMS exists is the fact that today new devices are part of our life next to  computers like smartphones!
We must therefore offer a tutorial on using strapi for creating mobile app so if you are interested and wish to create the first tutorial of this kind take

[2019-10-24 18:48] Mcastres opened #12 "[CREATE] How to create a blog with strapi and Nuxt.js"
**My tutorial**
This tutorial will be about creating a blog with strapi, Nuxt.js and Apollo. It will have a similar design to this website: https://papaya.rocks/en

**My format**
- [x] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2019-10-27 18:26] Palgie commented on #3
Glad to be taking this on! Confirming that I'll be doing this tutorial with Nuxt.js @Atinux. 🎉

[2019-11-04 14:37] derrickmehaffy opened #13 "[REQUEST] How to use 3rd party providers with multiple frontends"
**My Request**

Strapi was designed to be used with many different "Channels" aka frontends however it seems a tad difficult to figure out how best to use Strapi for multiple frontends when dealing with 3rd party authentication as Strapi really only provides a redirect URL for one.

I think a guide detailing how to do this with say a web based frontend as well as something like a mobile applicatio

[2019-11-04 14:54] Mcastres opened #14 "[REQUEST] First tutorial with Angular"
**My Request**
Our community is mainly composed of React and VueJs developers. However we must not forget Angular developers who deserve to have tutorials on how to create ... with strapi. So we are looking for someone who can write the first tutorial on strapi using angular, it can be anything! "How to create a blog with Angular and Strapi for example"

**Preferred Format**
- [x] Article
- [x] Vi

[2019-11-04 16:12] fabio-nettis commented on #11
Does it have to be a native application (codebade Kotlin, Swift, Objective-C)? I could provide react-native examples with GraphQL.

[2019-11-04 18:53] Mcastres commented on #11
Absolutely not! Actually, React Native is the best way to go  :)

[2019-11-04 21:36] fabio-nettis commented on #11
Well since I'm currently working on "Gravity" a strapi client based on react-native and apollo if you want to wait, it's absolutly open source and planned for Q1 2020.

[2019-11-18 17:33] Mcastres opened #15 "[CREATE] How to build a blog with Next.js and strapi"
**My tutorial**
This tutorial will be about creating a blog with strapi, Next.js and Apollo. It will have a similar design to this website: https://papaya.rocks/en

**My format**
- [x] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2019-12-17 17:40] omojahed opened #16 "[UPDATE]"
Hi!
I'm using Expo and react-native-todo-strapi tutorial example.
The only change I've made is bellow (in file Store.js):

// import AsyncStorage from '@react-native-community/async-storage';
import {AsyncStorage} from 'react-native';

It builds and runs and displays the login screen properly.
But when I start filling the Username field, I have this error :

Invariant Violation: Cannot specify bot

[2019-12-17 18:56] omojahed commented on #16
For information, when I comment these lines in login.js :
 line 72 :
   {/* {identifier} */}
and line 84 :
    {/* {password} */}
Login works.

And I had to comment all lines like these in other files in order to make the example app works without craching. But I think that because of these comments, the app doesn't work correctly. For example it doesn't link todo record to the connected user.

An

[2019-12-18 17:50] #16 closed

[2019-12-24 16:50] ilsma opened #17 "Cannot read property 'slice' of undefined"
`<script>
import articlesQuery from '~/apollo/queries/article/articles'

export default {
  props: {
    articles: Array
  },
  computed: {
    leftArticlesCount(){
      return Math.ceil(this.articles.length / 5)
    },
    leftArticles(){
      return this.articles.slice(0,this.leftArticlesCount)
    },
    rightArticles(){
      return this.articles.slice(this.leftArticlesCount, this.articles.l

[2019-12-26 10:30] lauriejim commented on #17
Hello @ilsma !

Can you please well format your code using [Markdown](https://guides.github.com/features/mastering-markdown/) syntax.
This will help us to better read your code.

After that, can you give more details because your issue is not understandable.

I close it - will reopen it when you will have updated it.

Thank you.

[2019-12-26 10:30] #17 closed

[2020-01-30 11:17] viswongdev opened #18 "Failed to start the Strapi server"
I followed the readme and ran these command

`cd tutorials/deliveroo-clone-nuxt-strapi-tutorial/backend && yarn && strapi dev`

it said no strapi dev command found, then I read the npm script and run script "`develop`"

[2020-01-30T10:34:30.524Z] debug ⛔️ Server wasn't able to start properly.
[2020-01-30T10:34:30.526Z] error Error: Cannot find module 'stripe'
Require stack:
- /Users/git/Desktop/gi

[2020-01-31 09:16] Mcastres commented on #18
Hello @viswongdev !

In fact, stripe was missing in the `package.json`.
I added it in the last commit, but if you want to fix it locally:

  - Run `yarn add stripe` or `npm install stripe`

[2020-01-31 09:16] #18 closed

[2020-01-31 09:18] #15 closed

[2020-01-31 09:18] #14 closed

[2020-01-31 09:18] #12 closed

[2020-01-31 09:18] #11 closed

[2020-01-31 09:18] #10 closed

[2020-02-07 07:30] Zubair-Ashraf opened #19 "[REQUEST] How do i change the file limit when i import CSV file for mongoDB"
I want to import CSV file in mongoDB using strapi, for that i used this plugin that's really good plugin.
but the one issue i faced during import CSV file, that is file data limit.
My file data limit is (2000+ rows) that i want to import but its throw error(Payload Too Large) when i import this big file.

so, please help me to resolve this issue or tell me how do i change/increase the file limit.

[2020-02-07 16:32] jmalley commented on #17
@ilsma Did you ever figure this out? I'm having a problem with the same piece of code, except for me it's saying that "this.articles is undefined."

`Invalid prop: type check failed for prop "articles". Expected Array, got Undefined `

[2020-02-07 22:41] pouyamiralayi commented on #19
Hi @Zubair-Ashraf
This is going to be fixed on the upcoming tutorial, but for now you can do it this way:

checkout ``node_modules/raw-body/index.js`` which has a function named ``getRawBody`` with a line of code like below:
[code]
you can assign a value to the ``limit`` variable with the following format:
[code]
Cheers!

[2020-02-08 21:40] #19 closed

[2020-02-10 04:52] Zubair-Ashraf commented on #19
According to your guideline i changed the node_modules/raw-body/index.js it works fine.
Thanks you so much for the response and help 😊

[2020-02-10 21:10] JurajJakubov opened #20 "BUG - GraphQL error: Forbidden"
Hello,

i cloned this repo https://github.com/strapi/strapi-tutorials/tree/master/tutorials/next-strapi-apollo-blog then run commands but in the end i am getting error in frontend.

This is website
[code]

And this is console.
[code]

Thanks for any help with this issue.
Node.js version:
v10.13.0
npm version:
6.13.6
Operating system:
OS Name: Microsoft Windows 10 Pro
OS Version: 10.0.18363 N/A Bui

[2020-02-11 14:18] Mcastres commented on #20
Hello @JurajJakubov!
It's completely normal, by default the permissions to interact with your data (find, create, update, delete etc...) are not activated for security purposes.

You'll need to activate them in Roles & Permissions > Public > Article/Category (find and findone)

[2020-02-11 14:18] #20 closed

[2020-03-03 14:51] Mcastres opened #21 "[TRANSLATE] More tutorials in Spanish"
**The tutorial I want to translate**
Some users inside the community asked for more tutorials in Spanish. If you are interested in translating an existing tutorial, feel free to comment which one!

**Community vote**
👍 Upvote if you agree

[2020-03-03 14:53] Mcastres opened #22 "[TOPIC] How to create a store with Strapi"
**My Request**
A lot of users ask for tutorials teaching them how to create a store/e-commerce website using Strapi. If you are interested by creating one, say it in the comment section just below

**Preferred Format**
- [x] Article
- [x] Video

**Community vote**
👍 Upvote if you need it too
🚀 If you can make a tutorial to help the community!

[2020-03-03 14:56] Mcastres opened #23 "[TOPIC] How to create an application using Strapi and Svelte (Sapper)"
**My Request**
There is no tutorials on how to create an application with Svelte (Sapper) and Strapi so why not be the first one to provide one for the community!

**Preferred Format**
- [x] Article
- [x] Video

**Community vote**
👍 Upvote if you need it too
🚀 If you can make the tutorial

[2020-03-04 11:28] JurajJakubov opened #24 "[TOPIC] Multilangual"
**My Request**
It will be nice if it will be possible to add language option to new tutorial for https://strapi.io/blog/strapi-next-setup/. I mean user can select language of the shop and it will be saved for next visit too.

**Preferred Format**
- [x] Article
- [x] Video

**Community vote**
👍 Upvote if you need it too
🚀 If you can make the tutorial to help the community!

[2020-03-11 11:08] boazpoolman opened #25 "[CREATE] How to create a simple Strapi plugin"
**My tutorial**
I want to share some insights I had while making a plugin for Strapi. The plugin I made myself is a [sitemap generation plugin](https://github.com/boazpoolman/strapi-plugin-sitemap). In the tutorial I wan't to mainly focus on how to share data between the Frontend & Backend of the plugin through the Strapi Store & Redux.

After following the tutorial you should be able to create a

[2020-03-11 11:27] skyquartam commented on #22
I'm interested!

[2020-03-28 09:58] JurajJakubov opened #28 "[TOPIC] update information about "Cooking a Deliveroo clone with Next.js (React), GraphQL, Strapi and Stripe""
Hello i want to ask if are there any updates about new version of this "Cooking a Deliveroo clone with Next.js (React), GraphQL, Strapi and Stripe".
It will be very nice through those hard times to have this updated and workable.
I will be thankful for any information about this.

[2020-03-31 00:50] AnthonyPhan opened #29 "Import content plugin tutorial errors [ISSUE]"
**The concerning tutorial**
How to create an import content plugin [(4 part series)](https://strapi.io/blog/how-to-create-an-import-content-plugin-part-1-4)

**Issue**
I would first like to first say thank you to all contributors to this blog series. I feel this series was very helpful and help me to understand some of the core concepts within Strapi.

I have followed the tutorial though to the en

[2020-03-31 05:30] AnthonyPhan opened #30 "Import content plugin tutorial broken links [ISSUE]"
**The concerning tutorial**
How to create an import content plugin ([4 part series](https://strapi.io/blog/how-to-create-an-import-content-plugin-part-1-4))

**Issue**
Links to the code for the tutorial are broken.

Tutorials links to this url: https://github.com/strapi/community-content/tree/master/tutorials/import-content-plugin-tutorial

![image](https://user-images.githubusercontent.com/127854

[2020-03-31 08:49] AnthonyPhan commented on #29
Hi I belive something must have changed in the Strapi plugin system since this tutorial was released. I downloaded the source code for the tutorial here and ran it and everything worked perfectly. Then i updated the version from 3.0.0-beta.18.3 to 3.0.0-beta.19.4 , rebuilt the project and now i receive the following error

![image](https://user-images.githubusercontent.com/12785492/78006301-6584fd

[2020-03-31 08:51] pouyamiralayi commented on #29
Hi @AnthonyPhan do you confirm using graphql plugin inside your project?

[2020-03-31 09:03] pouyamiralayi commented on #29
We had this issue with graphql and we provided some default endpoints for CRUD actions to remedy the situation!

[2020-03-31 10:10] AnthonyPhan commented on #29
Hi Pouyamiralyi, yes i can confirm I use graphQL in my project.
I did add the create actions for importconfig and ImportedItem however after doing this my admin panel would not open. Let me know if you have more success :)

[2020-03-31 15:50] pouyamiralayi commented on #29
Hi @AnthonyPhan until i apply the patch to the tut and it's official repo, you can use this [repo](https://github.com/pouyamiralayi/strapi-import-content-plugin-tutorial/tree/migrate_to_19.4) which is compatible with Strapi 19.4 beside compatibility with graphql.
**what are the changes?**
1.basically we do not export the plugin configuration object anymore, instead we must export a function which

[2020-04-01 03:04] AnthonyPhan commented on #29
Hi Pouya,

I very much appreciate your help.
I tried cloning your fork and running the code but received the following error.
![image](https://user-images.githubusercontent.com/12785492/78095002-82214400-7408-11ea-846a-f011f4013976.png)

I will continue to investigate on my end to see the reason for the issue.

[2020-04-01 11:07] pouyamiralayi commented on #29
Hi @AnthonyPhan ``403`` means you have not allowed access to plugin endpoints in the ``roles & permissions`` plugin. Please follow the instructions on the readme file of the plugin [setup section].
Cheers!

[2020-04-01 12:38] AnthonyPhan commented on #29
O boy I feel dumb for not remembering to do that!
Cloning and running your repo works perfectly now, thank you :)

[2020-04-01 12:54] Mcastres commented on #28
There is no updates planned for now unfortunately :/

[2020-04-01 12:57] Mcastres commented on #30
Thanks Anthony! I fixed it

[2020-04-01 12:57] #30 closed

[2020-04-01 12:58] #29 closed

[2020-04-01 13:57] JurajJakubov commented on #28
Well and this informations are not actual? https://github.com/strapi/strapi-examples/issues/143

[2020-04-01 14:40] Mcastres commented on #28
Unfortunately some setbacks did not allow me to put myself on it. I was planning on working on it at the time but didn't have time to.

I really want to update it since a lot of people are asking for it.
I'll try do to it during this month

[2020-04-01 14:42] ryanbelke commented on #28
Hey Maxime,

I originally wrote the article a year ago and started to work on an update
that got half complete. I can keep working on the updated version since it
is in demand. It shouldn’t take me very long to complete

On Wed, Apr 1, 2020 at 09:40 Maxime Castres <notifications@github.com>
wrote:

[2020-04-01 16:07] JurajJakubov commented on #28
Well if is that true please keep us informed about progress or some release date. That tutorial was really helpful and new version is more than needed. Thanks for great work.

[2020-04-09 13:38] tweneboah opened #32 "How to create a shopping cart with react and strapi"
**My resource**
Describe what your resource will be about. (tutorial or article)

**My format**

- [ ] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-04-10 14:37] Mcastres opened #33 "[TOPIC] Use Strapi as a LMS"
**My Request**
How schools can use Strapi?

LMS (learning management system) are all pretty terrible
Strapi is a great alternative
Future proof your education tools

**Preferred Format**

- [x] Article
- [ ] Video

**Community vote**
🚀 If you can make this article!

[2020-04-10 14:38] Mcastres opened #34 "[TOPIC] How to boost productivity with Strapi?"
**My Request**
Internal uses of Strapi

Strapi increases productivity
Content creators focus on content
Devs focus on dev work

**Preferred Format**

- [x] Article
- [ ] Video

**Community vote**
🚀 If you can make the article!

[2020-04-10 14:39] Mcastres opened #35 "[TOPIC] Previews with the JAMstack"
**My Request**
Explanation of previews in the JAMstack environment

A lot of static website generators are getting more and more popular. A very useful feature is getting more attraction Live preview

**Preferred Format**

- [x] Article
- [ ] Video

**Community vote**
🚀 If you can make the article!

[2020-04-10 14:40] Mcastres opened #36 "[TOPIC] JAMstack in 2020"
**My Request**

JAMstack in 2020

**Preferred Format**

- [x] Article
- [ ] Video

**Community vote**
🚀 If you can make the article!

[2020-04-10 14:40] Mcastres opened #37 "[TOPIC] What is JAMstack"
**My Request**
What is JAMstack

**Preferred Format**

- [x] Article
- [ ] Video

**Community vote**
🚀 If you can make the article!

[2020-04-10 14:41] Mcastres opened #38 "[TOPIC] The expansion of open source softwares"
**My Request**
The expansion of open source softwares

Why and how open source softwares are taking over the world

**Preferred Format**

- [x] Article
- [ ] Video

**Community vote**
🚀 If you can make the article!

[2020-04-10 14:41] Mcastres opened #39 "[TOPIC] JAMstack + Open source"
**My Request**
JAMstack + Open source

Using the JAMstack is great but using open source JAMstack is awesome

**Preferred Format**

- [x] Article
- [ ] Video

**Community vote**
🚀 If you can make the article!

[2020-04-10 14:42] Mcastres opened #40 "[TOPIC] x reasons you should open source your project"
**My Request**
x reasons you should open source your project

List the benefits from making your project open source

**Preferred Format**

- [x] Article
- [ ] Video

**Community vote**
🚀 If you can make the article!

[2020-04-10 14:43] Mcastres opened #41 "[TOPIC] As a frontend developer, why should I use a Headless CMS?"
**My Request**
As a frontend developer, why should I use a Headless CMS?

**Preferred Format**

- [x] Article
- [ ] Video

**Community vote**
🚀 If you can make the article!

[2020-04-10 14:43] Mcastres opened #42 "[TOPIC] The top 10 static website generators in 2020"
**My Request**
The top 10 static website generators in 2020

**Preferred Format**

- [x] Article
- [ ] Video

**Community vote**
🚀 If you can make the article!

[2020-04-10 14:44] Mcastres opened #43 "[TOPIC] The top 10 front-end frameworks in 2020"
**My Request**
The top 10 front-end frameworks in 2020

**Preferred Format**

- [x] Article
- [ ] Video

**Community vote**
🚀 If you can make the article!

[2020-04-13 17:58] JurajJakubov commented on #28
I am just a little bit confused now.  Should we wait for this tutorial, is @ryanbelke  working on it or should we forget about it for now? Thanks for the answer and stay healthy.

[2020-04-13 18:12] ryanbelke commented on #28
Currently finishing up part 4, will push into have it complete by this
weekend.

On Mon, Apr 13, 2020 at 12:58 JurajJakubov <notifications@github.com> wrote:

[2020-04-13 18:21] JurajJakubov commented on #28
Ou thank you very much for your effort and time. I am really happy about it. I think we can close this thread.

[2020-04-13 18:21] #28 closed

[2020-04-14 16:14] kwinyyyc opened #44 "[SUBMIT] Set default file upload provider"
**My resource**

The way to change default file upload provider to Cloudinary.
Comments are welcome! Thanks!
https://medium.com/@kwinten.yc.li/strapi-set-default-file-upload-provider-to-s3-cloudinary-rackspace-5b8ef6f61daa

**My format**

- [x] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-04-15 11:21] Mcastres commented on #44
Thanks for this article @kwinyyyc !

[2020-04-15 11:21] #44 closed

[2020-04-16 03:14] istian commented on #29
hello @pouyamiralayi ,

I did tried downloading your fork and just copied the import-content plugin in my `plugins` directory but after running `build` and `develop` my strapi won't start with the following:

[code]

Also, is `graphQL` plugin required for the `import-content` plugin to work?

Strapi: 3.0.0-beta.19.5
Node: 10.15.0
npm: 6.4.1

[2020-04-16 04:23] AnthonyPhan commented on #29
@istian Are you using the repo from this link:
https://github.com/pouyamiralayi/strapi-import-content-plugin-tutorial/tree/migrate_to_19.4

or this link:
https://github.com/strapi/community-content/tree/master/tutorials/code/import-content-plugin-tutorial

[2020-04-16 06:53] istian commented on #29
hi @AnthonyPhan , I used the first one as I read that one has the patch for beta 19.4 so I'm assuming it will work to 19.5 as well.

I am not able to get the latter in my admin page doesn't work.

[2020-04-16 08:45] pouyamiralayi commented on #29
Hi @istian can you confirm that you have the below files inside your plugin ``controllers`` directory?
[code]

[2020-04-16 08:48] pouyamiralayi commented on #29
No! but if you are using the graphQL plugin, you must provide the default crud endpoints for all your content-types (for our scenario ImportConfig & ImportedItem)
Cheers!

[2020-04-16 22:17] istian commented on #29
hey @pouyamiralayi , I don't have the 3 files in my `controllers` directory` and the `admin/src/index.js` content is also different on my copy. I fixed those and `voila`, it works! Thanks so much for you both for helping me!

Although, I have another annoying issue :) Everytime I click on the import content nav in the left panel, there's always a 404 mini popup error appear and the url is `content

[2020-04-17 00:46] pouyamiralayi commented on #29
Hi @istian i am glad it works! based on your clarification on the structure of the project, i am sure that your clone is not from [migrate_to_19.4 branch](https://github.com/pouyamiralayi/strapi-import-content-plugin-tutorial/tree/migrate_to_19.4). the ``404`` error is typically because of the missing controllers, please fork the mentioned branch, follow the setup section in the README and let us

[2020-04-17 06:48] istian commented on #29
hi @pouyamiralayi , I indeed cloned your fork but did not pull to get the other files :) It is working now and I already tried importing records and it works! Again, thank you! This will speed up my personal project.

[2020-04-20 13:34] Mcastres commented on #32
Hello @tweneboah ! Is that a Topic you are proposing or a Submit?

[2020-04-20 20:10] schabibi1 commented on #22
I'm interested in creating one as I sent you a Slack DM!
Since there are a few tutorials with Gatsby & Strapi for e-commerce, I'm planning to make one with Strapi, React, GraphQl, MongoDB, Stripe and SendGrid email deploying to Heroku💡

[2020-04-21 11:00] Mcastres commented on #22
That is awesome! I'll assign you this Topic!

[2020-04-23 06:14] malgamves commented on #42
Hey @Mcastres  I'd like to take this

[2020-04-23 06:15] malgamves commented on #41
Hey I can take this! Happy to mover ahead with it

[2020-04-23 09:30] #3 closed

[2020-04-23 09:30] Mcastres opened #49 "[TOPIC] How to create corporate websites using strapi"
**My Request**
How to create a corporate website using Strapi

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-04-24 12:52] JohnBauer-Strapi opened #50 "[TOPIC] test"
**The concerning tutorial**
Which tutorial has an issue?

**Issue**
Describe the issue

[2020-04-24 13:13] JohnBauer-Strapi opened #51 "[TOPIC] Working without the Box"
**My Request**
Article on how headless removes marketing limitations

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-04-24 13:14] JohnBauer-Strapi opened #52 "[TOPIC] Developing a one-click deploy button for both back and front end"
**My Request**
Story on how Strapi contributor created a pretty cool one-click deploy button

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-04-24 13:15] JohnBauer-Strapi opened #53 "[TOPIC] Explain Strapi Content Vocabulary"
**My Request**
Aligning a community of contributors with an established "vocabulary"

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-04-25 09:09] ramigs opened #55 "[SUBMIT] Strapi Authentication in Nuxt.js"
**My resource**
Strapi Authentication in Nuxt.js

**My format**

- [X] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-04-26 13:48] drewtownchi opened #57 "[SUBMIT] How to create a user profile"
**My Request**
How to create a section on your site that allows users to view information about themselves, their favorite blog posts/recipes/etc. Also, how to edit their information and the required controller work in order to let users edit their own information.

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-04-27 07:46] Mcastres commented on #55
Interesting tutorial! Thanks for this @ramigs !

[2020-04-27 07:53] Mcastres commented on #57
Awesome! This can be very interesting and a part that can be implemented in our blog tutorials series

[2020-04-27 21:07] vcoisne opened #58 "[TOPIC] Publication workflow "workaround" in Strapi"
**My Request**

Publication workflow workaround in Strapi similar to https://www.contentful.com/blog/2017/10/25/a-new-way-to-set-up-content-approval-workflows/

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-04-27 21:37] vcoisne opened #59 "[TOPIC] Content Modeling Best Practices"
**My Request**

Best practices for building and managing your Strapi content models, field management, etc

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-04-30 19:20] hugocarreiracosta opened #61 "[REQUEST] Add Traversy Media Strapi.js Tutorial"
Add Strapi.js tutorial made by Traversy Media on https://strapi.io/tutorials.

Link:  https://www.youtube.com/watch?v=6FnwAbd2SDY

[2020-04-30 19:29] hugocarreiracosta commented on #61
I created the PR for adding  #62

[2020-04-30 20:37] bigpreshy commented on #49
I can take this up

[2020-04-30 20:41] bigpreshy commented on #40
I can make write this article

[2020-04-30 21:25] Mcastres commented on #61
Thanks for your contribution Hugo :)

[2020-04-30 21:25] #61 closed

[2020-04-30 21:25] Mcastres commented on #49
Awesome! I'll assign you the issue :)

[2020-04-30 21:27] Mcastres commented on #40
Great @bigpreshy, same as the other one, I'll assign you the issue

[2020-05-01 09:02] Aurelsicoko opened #63 "[SUBMIT] Content System Principles"
**My resource**
Atomic, molecular, and component structures use to be more and more common. These principles are used for the graphic (design system) and development (components). We can apply these to content modeling. I would like to write a kind of essay to explain our vision of content modeling. How powerful it can be, how easy it can be maintained, and more. It's a conceptual article to expla

[2020-05-02 06:24] C0rporeus opened #64 "Need formdata info"
i have a content type whit data text and image, i need load image and data in one request post... but, dont have compability white formdata

[2020-05-02 21:07] bigpreshy commented on #40
Should I post a link of what I have done so far here?

[2020-05-03 12:09] bigpreshy opened #65 "REQUEST: Add Strapi tutorial made by Chris Hawkes"
Add Strapi.js tutorial made by Chris Hawkes on https://strapi.io/tutorials.

Link: https://youtu.be/EBqRR8-Hd84

[2020-05-03 16:34] drewtownchi opened #66 "[SUBMIT] Using a .env file to configure Strapi"
**My resource**
How to setup and use environment variables and .env files for use with Strapi.  How these variables can be used to configure sensitive data such as database credentials.

**My format**

- [ ✔] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-05-03 21:01] ryanbelke commented on #28
Updating everyone, I’m working through last piece of the next deliveroo
tutorial re-write. There was a lot that has changed and needed updated.
Will update when I give it a final pass through

On Mon, Apr 13, 2020 at 13:21 JurajJakubov <notifications@github.com> wrote:

[2020-05-04 07:55] malgamves commented on #42
Hey @Mcastres I'm ready to go ahead and publish this.

[2020-05-04 08:50] Mcastres commented on #65
Thanks @bigpreshy !

[2020-05-04 08:50] #65 closed

[2020-05-04 21:43] malgamves commented on #23
Hey, I was doing research for my article on static sites and Sapper looked so interesting I actually ended up building something similar. I could take this.

[2020-05-05 01:14] Intromech opened #67 "[TOPIC] How to make a blog using eleventy and Strapi"

[2020-05-05 09:33] Mcastres commented on #67
I'll update your issue since you didn't used the right format, but please use our issue template to propose a topic idea

[2020-05-05 09:39] Mcastres commented on #23
Well it seems that @Alameen688 reacted with the Rocket emoji which means that maybe he's working on it. I'll ask him right now but if he doesn't, it's yours :)

[2020-05-05 09:41] Mcastres commented on #64
Sorry I'm closing this issue since it is not the appropriate place to post it :)

[2020-05-05 09:41] #64 closed

[2020-05-05 13:47] alexfinnarn commented on #37
I'm just perusing and lurking here for now, but to note, they call it the "Jamstack" since sites are built with more than JS as the language, e.g. Hugo and Go.

https://github.com/jamstack/jamstack.org/issues/279

Still a lot of opinions, but I think that issue is good content for this article.

[2020-05-05 13:58] drewtownchi commented on #66
We're going to ignore this as the official env config is getting updated. https://github.com/strapi/strapi/pull/5747

[2020-05-05 13:58] #66 closed

[2020-05-05 18:08] malgamves commented on #23
Sure, let me know what he says

[2020-05-06 16:56] Mcastres opened #69 "[TOPIC] Best React, Vue, Angular packages in 2021"
**My Request**
List of the best  React, Vue, Angular packages in 2020

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-05-06 23:41] hacktivist123 commented on #43
Hey @Mcastres I can work on this.

[2020-05-07 06:16] Mcastres commented on #43
Awesome @hacktivist123 ! It's yours :)

[2020-05-07 13:42] hacktivist123 commented on #43
Thanks, I’ll get to it.

[2020-05-08 20:17] dodo007 opened #70 "[REQUEST]"
Modifying nested objects trough the code.

I do not understand how to modify repeatable components inside a model. There is no documentation for that and Mongoose does not work as expected when used with

const result = strapi.query('statscustomer').model.find({ id:"5eb5b14972385865715099dc" });
result.toObject();

error TypeError: result.toObject is not a function

So I can't continue the project

[2020-05-12 08:37] Mcastres commented on #70
Hello @dodo007 I'm closing this issue as it is not a correct issue for this repository. If you'd like to get help on this, please join our slack https://slack.strapi.io? You could get some answers in the "#help" channel

[2020-05-12 08:37] #70 closed

[2020-05-12 12:54] Mcastres opened #71 "[TOPIC] Authentication with Strapi"
**My Request**
A complete tutorial on using authentication in Strapi

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-05-13 08:30] jarmitage commented on #23
Just posting this here for reference:
- https://dev.to/heithemmoumni/build-a-blog-with-svelte-strapi-and-apollo-2ad5
- https://github.com/heithemmoumni/strapi-starter-svelte-blog

[2020-05-13 08:58] Mcastres commented on #23
Thank you @jarmitage, I really appreciate!

I landed on this Starter yesterday and started a conversation with Heithem. As the starter is not totally complete like the other ones (Gatsby, Next.js etc..) I'm therefore planning to finish it with him and making it an official starter in the Strapi organization.

What's awesome here is that @malgamves also built one using Sapper which means 2 starters

[2020-05-14 10:58] Beautyxiaoxingxing888 opened #72 "strapi with random data[REQUEST]"
想问下，strapi怎么生成随机数据

[2020-05-14 12:20] #72 closed

[2020-05-14 16:27] #57 closed

[2020-05-14 16:29] drewtownchi opened #73 "[SUBMIT] Setting up and using Elastic App Search"
**My resource**
This would be a tutorial series on how to setup, index data and then query/search that data using Strapi and Elastic App Search.

https://www.elastic.co/app-search/

**My format**

- [x ] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-05-19 16:41] ianfelix opened #75 "[TRANSLATE pt-BR]"
### **Documentação Strapi**

**O Strapi é um projeto de código aberto [Headless CMS](https://strapi.io/) desenvolvedores adoram**

O Strapi é um CMS Headless flexível e de código aberto, que oferece aos desenvolvedores a liberdade de escolher suas ferramentas e estruturas favoritas, além de permitir aos editores gerenciar e distribuir facilmente seu conteúdo. Ao tornar o painel de administração e

[2020-05-19 16:48] Mcastres commented on #75
Hey @ianfelix, can you explain what this translation is about?

[2020-05-19 17:01] ianfelix commented on #75
documentation translation for pt-br

[2020-05-20 15:27] olivaxa2 opened #77 "[UPDATE] Maxime Castres tuto (Gatsby / Strapi)"
Hello. In this tutorial (card.js and index.js) : https://strapi.io/blog/build-a-static-blog-with-gatsby-and-strapi

 path need to be replace by

❤️ I love it!

[2020-05-20 15:42] olivaxa2 opened #78 "[ISSUE] Maxime Castres tuto Strapi / Gatsby"
Tuto : https://strapi.io/blog/build-a-static-blog-with-gatsby-and-strapi

I create my homepage. Everything is ok (Category, name, navbar...) except pictures.

Ps : I replace "publicURL" by "url" in index.js and card.js

I'm stuck.... Thanks for your help. 👍

My files :

**GraphiQl querie : **

[code]

**Response :**

[code]

**index.js :**

[code]

**article.js :**

[code]

**card.js :**

[code]

[2020-05-20 15:45] olivaxa2 commented on #78
Et en plus je suis Francais, n'hésitez pas à repondre dans la langue de Moliere  :)

[2020-05-20 16:35] Mcastres commented on #78
We'll keep talking in english for the others ;)

Why did you changed `publicURL` to `url`?
Strapi generates a `url` string but Gatsby will take it and generate you a `publicURL` string. You can verify by going on http://localhost:8000/__graphql and writing this query for example:

[code]

[2020-05-20 16:46] olivaxa2 commented on #78
On http://localhost:8000/__graphql :

There is :

[code]

[2020-05-20 16:49] olivaxa2 commented on #78
No error if I add url but if I add publicURL I receive this error :

[code]

[2020-05-20 16:52] olivaxa2 commented on #78
Generating development JavaScript bundle failed

/Users/MacBook_Olivier/Documents/projects/direct-temporaire/frontend/src/pages/index.js
  23:17  error  Cannot query field "publicURL" on type "StrapiArticleImage"  graphql/template-strings

✖ 1 problem (1 error, 0 warnings)

File: src/pages/index.js

failed Building development bundle - 3.427s

[2020-05-20 17:01] Mcastres commented on #78
Do you have a repository I can check?

[2020-05-20 18:34] olivaxa2 commented on #78
What do you want exactly ? A zip file of Gatsby + strapi files ?

[2020-05-20 20:57] olivaxa2 commented on #78
Gatsby frontend : https://github.com/olivaxa2/frontend
Strapi backend : https://github.com/olivaxa2/backend

Thanks a lot for your help ! 👍

[2020-05-23 03:19] ibdf opened #80 "[TOPIC] Custom Query Examples"
The custom query section is very vague. A few examples would go a long way.

[2020-05-23 06:51] tidiview commented on #23
Hey @Mcastres, @jarmitage jarmitage.
Seen the work of heithemmouni: looks great ☆
Just a question:
what do you think of the choice of Apollo and GraphQL?
What about Sapper and [groq](https://nordicapis.com/review-of-groq-a-new-json-query-language/)?

[2020-05-24 15:05] IamRajatBadjatya opened #82 "[SUBMIT] Strapi Deployment on Kubernetes with HTTPS"
**My resource**
A step by step guide to setup and deploy Strapi with HTTPs on Kubernetes. I have already published the article on Medium and hope it would be useful for other members of the Strapi community.
**Article link:**
[Deploy Strapi on Kubernetes with HTTPs](https://medium.com/@rajatbadjatya/deploy-strapi-on-kubernetes-with-https-1e3437bf2ca3?source=friends_link&sk=37c847d0b5bd1274989cab70

[2020-05-25 07:58] Mcastres commented on #82
That is awesome @IamRajatBadjatya!
Thanks for your contribution :)

[2020-05-25 08:05] Mcastres commented on #80
Hello @ibdf. What do you mean exactly wit the custom query section?

[2020-05-25 09:15] IamRajatBadjatya commented on #82
Thnx @Mcastres :-), what's this Done status means? What would be the next step from here?

[2020-05-25 09:22] Mcastres commented on #82
Look you Slack DM ;)

[2020-05-25 11:16] olivaxa2 commented on #78
Hello,
Do you find the repo ?
I finish the tutorial. Everything is ok except pictures.

[2020-05-25 12:27] Mcastres commented on #78
Sorry I'm pretty busy right now, I'll try to look at it tonight

[2020-05-25 21:28] ignatius22 opened #84 "[REQUEST]"

[2020-05-26 07:34] olivaxa2 commented on #78
Thanks :)

[2020-05-26 12:13] olivaxa2 commented on #78
Hi !

I got it.

It's a 'url' string generation when you create articles with "Multiple media" images. (Array).

It's a 'publicURL' string generation when you create articles with "Single media"  image.

[2020-05-26 12:13] #78 closed

[2020-05-26 12:15] olivaxa2 commented on #77
It's a 'url' string generation when you create articles with "Multiple media" images. (Array).

It's a 'publicURL' string generation when you create articles with "Single media" image.

[2020-05-26 12:15] #77 closed

[2020-05-26 13:02] #84 closed

[2020-05-27 09:42] RuchikaPegasus opened #86 "[TOPIC] Connect Cloudinary support with Strapi."
An updated new tutorial to connect cloudinary support with strapi.

[2020-05-27 09:46] afadhinc opened #87 "[TOPIC] Gatsby authentication with Strapi"
please add more tutorial in gatsby

[2020-05-27 11:15] Balaji2198 opened #88 "[SUBMIT] Strapi Deployment on Heroku with Postgres"
**My resource**
Step by step guide to setup and deploy Strapi on Heroku with Postgres. Comments are welcome! Thanks!

**Article link:**
https://medium.com/techzap/deploying-strapi-on-heroku-ac48e663afd8

**My format**

- [x] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-05-27 13:27] ibdf commented on #80
@Mcastres I've been reading the docs, when I get to the custom query sections (https://strapi.io/documentation/3.0.0-beta.x/concepts/queries.html#custom-queries) it tells me I need to use the underlying ORM models. It even gives me some simple examples, but it doesn't tell me where any of it goes. Where do I write these custom queries? What folder/file? Is there a function I call? What params are

[2020-05-27 15:07] Mcastres commented on #88
Thanks Balaji for this contribution! We really appreciate that :)

[2020-05-27 21:54] vcoisne commented on #50
Closing as this was a test.

[2020-05-27 21:54] #50 closed

[2020-05-28 20:31] sunsgs opened #89 "[TOPIC] Social login with Ionic"
Social login with ionic mobile

[2020-05-29 08:05] techechelons commented on #33
Even i am looking for LMS systems open sources. Not getting good ones as such. Strapi i think can be used to create our own LMS. If we have any example for same, please share

[2020-05-29 12:36] maks-bondarenko opened #90 "[TOPIC] Strapi deployment on azure web app."
I've been playing with a strapi for a few days and really find its great (especially after having a production level experience with sitefinity and orchard cms), but unfortunately I cannot take strapi further than a sandbox.
We use an azure as a hosting and official docu offers only deployment to VM (I believe same for AWS).
Which would be insane maintaining separate VM just for strapi where all i

[2020-05-30 23:52] xAgustin93 opened #91 "[SUBMIT] Strapi: Como crear ENDPOINTS personalizados"
**My resource**
Crea endpoint personalizado
https://youtu.be/AipINo-Xvn4

**My format**
- [ ] Article
- [x] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-06-02 05:22] thesanjivkumar opened #92 "[TOPIC] User registration API mobile and email verification on React"

[2020-06-02 08:50] Mcastres commented on #91
Great video @xAgustin93!
Thanks for this contribution :)

[2020-06-02 12:29] lauriejim commented on #80
`strapi.query` is used to request your database everywhere.
For example, when you have a request to your API endpoint it's:
route > controller > service > query
See the content of default service functions - [docs](https://strapi.io/documentation/3.0.0-beta.x/concepts/services.html#core-services)

In custom query docs, you access to `strapi.query(modelName, plugin).model` witch is the instance of

[2020-06-02 17:04] xAgustin93 opened #94 "[SUBMIT] DESPLEGAR STRAPI en HEROKU con MONGODB"
**My resource**
DESPLEGAR STRAPI en HEROKU con MONGODB

**Source**
https://youtu.be/qi4NFFIPXV0

**My format**
- [ ] Article
- [x] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-06-03 22:14] adriatic opened #95 "[TOPIC] Symphony"
# About Symphony

![image](https://user-images.githubusercontent.com/2712405/82606714-873b7d80-9b85-11ea-887d-13b261359300.png)

Symphony is the code name for the project proposing to build a relatively complex distributed application intended to become a part of the Strapi community created advanced education tool

Since the Symphony app aims to illustrate all modern concepts (starting with Ident

[2020-06-03 22:26] adriatic commented on #71
This issue will be addressed with **[Symphony](https://github.com/strapi/community-content/issues/95)** as will many other projects in this collection. We would have to decide whether to refer these projects to the Symphony project or cut out relevant components from the Symphony and implement these components as independent projects as defined here.

[2020-06-03 22:28] adriatic commented on #92
**[Same comment](https://github.com/strapi/community-content/issues/71#issuecomment-638493345)** as many other topics in this collection of issues

[2020-06-04 14:38] Marcosul opened #96 "[TOPIC] How to configure Socket.io on Strapi"
I need a tutorial on how to configure Socket.io on Strapi. I can not! Need help.

[2020-06-04 16:03] Mcastres commented on #94
Great video Agustin!

[2020-06-05 09:19] adityayadav7 opened #99 "adityastrapi"
**My resource**
Describe what your resource will be about. (tutorial or article)

**My format**

- [ ] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-06-05 09:57] Mcastres commented on #99
What it is about @adityayadav7 ?

[2020-06-05 14:27] srinivasramadas11 opened #100 "[REQUEST]"

[2020-06-05 14:33] #100 closed

[2020-06-05 16:57] RazvanCretu opened #101 "[TOPIC] How to connect Strapi to a MySQL db"
Hi there,

I'm currently a new developer with Strapi and I think a tutorial on how to connect Strapi to a MySQL db would be nice.

Thanks in advance.

[2020-06-05 17:42] RazvanCretu commented on #101
How am I supposed to create a MySQL db using strapi ?

I've run the following commands:
? Choose your installation type Custom (manual settings)
? Choose your main database: MySQL
? Database name: demodatabase
? Host: 127.0.0.1
? Port: 3306
? Username: root
? Password: *****
? Enable SSL connection: false

And I got the following error:
⏳ Testing database connection...
It might take a minute, plea

[2020-06-07 07:57] jay01011986 opened #104 "Import-content plugin issue with Strapi 3.01."
import-content plugin is not working on Strapi 3.0.1

Which tutorial has an issue?

Strapi 3.0.1 onwards, strapi has changed the way it was supporting the plugins. Therefore the following comaanda are not working now with latest Strapi:
strapi generate:plugin import-content

Would you please upload the revised version of this plugin that is supported by latest version of Strapi?

[2020-06-07 12:25] yinjisheng311 opened #105 "[SUBMIT] Deploy Strapi on AWS Elastic Beanstalk using Docker"
**My resource**
Deploying Strapi onto AWS Elastic Beanstalk using Docker. I've got the steps documented out using eb-cli and the Dockerfile needed to get this to work. I personally struggled with this part a bit and hope this can help others. You can check out my Medium post [here](https://medium.com/@yinjisheng/how-to-deploy-strapi-on-aws-elastic-beanstalk-using-docker-31766b2dd73e)

**My format*

[2020-06-08 21:08] chirdeeptomar commented on #104
Can this plugin be made a part of the marketplace? I tried upgrading the plugin but it uses outdated npm packages like request and uuid/uuid4. Having fixed all the node issues, I gave up as Admin wouldn't show up which could be to do with how strapi registers plugins etc post 3.0.1

[2020-06-09 04:52] robigo opened #108 "[REQUEST]flutter"

[2020-06-10 20:50] tarekbozo opened #109 "[REQUEST] Tutorial with Next js 9.4, Apollo client 3 and Strapi"
Tutorial  for  strapi next js 9.4 apollo client 3

[2020-06-12 17:19] Tepchiva opened #110 "[REQUEST]"

[2020-06-13 07:25] Cruparel opened #111 "[REQUEST]"

[2020-06-13 07:41] ayushtibra opened #112 "[REQUEST]"
Build a blog website using strapi and reactjs

[2020-06-13 21:11] ahrherrera commented on #90
I am facing similar problems using Azure Web App

see here https://stackoverflow.com/questions/62355445/strapi-on-azure-does-not-run

[2020-06-15 02:58] hemanshum opened #113 "[SUBMIT] Deploy Strapi on Heroku and configure file upload on Digital Ocean Spaces"
**My resource**
In this tutorial, we will deploy Strapi on Heroku. We will also learn to upload images on Digital Ocean Space.

**Source**
https://youtu.be/lAPWwXcNa7Q

**My format**

- [ ] Article
- [x] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-06-15 10:25] malgamves commented on #33
I'd love to take this on but I'm not familiar with the architecture of Learning Management Systems. Doing some research and would love some examples.

[2020-06-15 10:27] malgamves commented on #23
Hey, I'm done with writing this!

This is the [project repo](https://github.com/malgamves/strapi-starter-minimal-sapper-blog)

I'll be sharing the blog post soon

[2020-06-15 20:13] nitewulf opened #114 "[TOPIC] Setting up a new third-party provider"
I watched the tutorial on setting up a Github provider.  What I'd love to see is a tutorial on setting up a new third-party provider.  Specifically for Orchard would be great.

[2020-06-17 15:34] willianjusten opened #115 "[SUBMIT] Introduction to Strapi - Headless CMS (Pt-br)"
**My resource**
I wrote a post and recorded a 32min lenght video explaining what's Headless CMS, what's Strapi, advantages and how to use it.

My post/video in in Brazilian Portuguese, since almost nobody knows about Strapi in Brazil, so I thought it would be better to communicate in our native language. But I can translate it as well, if needed.

**My format**

- [x] Article (https://willianjuste

[2020-06-18 00:15] chrmartins opened #117 "[REQUEST]"

[2020-06-18 00:15] #117 closed

[2020-06-18 02:04] ihadabs opened #118 "[TOPIC] DigitalOcean one-click droplet to production"
There is a video on YouTube for you doing this on the 27th of March, I believe, but the thing is there was a bug and you didn't complete the whole process. I believe this would be great for a lot of people since it was super easy to setup.

[2020-06-19 12:37] kilinkis opened #119 "[SUBMIT] - STRAPI + Gatsby tutorial uptated to use typescript and gatsby-image"
**My resource**
I'd like to submit my upated version of your article/tutorial about [creating a blog with STRAPI and Gatsby](https://strapi.io/blog/build-a-static-blog-with-gatsby-and-strapi).
My addition is to have added typescript and gatsby-image.

here's the repo [https://github.com/kilinkis/gatsby-strapi-blog-typescript ](https://github.com/kilinkis/gatsby-strapi-blog-typescript )
and the dir

[2020-06-20 01:44] ryanbelke opened #120 "[UPDATE] Update version of the Next/Strapi blog"
**My resource**
The updated version of the Next/Strapi blog

**My format**

- [X] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-06-21 22:54] Hedgehogues opened #121 "[REQUEST]"

[2020-06-22 08:38] #121 closed

[2020-06-22 08:48] Mcastres commented on #119
Hello @kilinkis ! That is awesome!
I'll take some time this week to review it ;)

[2020-06-22 08:51] Mcastres commented on #118
Hello @ihadabs !
Which video are you referring to?

[2020-06-22 08:58] Mcastres commented on #115
That is great @willianjusten!
Communicating in your native language is really awesome since we want everyone to understand what is Strapi why is Strapi and a lot of people don't understand English!

Thanks for this awesome resource! Are you present on our public slack?

[2020-06-22 09:02] Mcastres commented on #113
Awesome tutorial @hemanshum ! Thanks for this useful contribution
Are you present on our public Slack?

[2020-06-22 09:03] Mcastres commented on #112
Already done here @ayushtibra : https://strapi.io/blog/build-a-blog-with-react-strapi-and-apollo

[2020-06-22 09:03] #112 closed

[2020-06-22 09:03] #111 closed

[2020-06-22 09:03] #110 closed

[2020-06-22 09:04] #108 closed

[2020-06-22 09:07] Mcastres commented on #105
Thanks @yinjisheng311
I'll take some time to review it this week ;)

[2020-06-22 14:10] hemanshum commented on #113
Yes, I am connected to Slack.

[2020-06-22 14:29] ihadabs commented on #118
Hey @Mcastres,
I'm referring to [this video](https://www.youtube.com/watch?v=Rw7FTdhbgI8)
Tbh, this is the best tutorial as they went through the setup and the configs step by step.
Unfortunately, they faced a problem and they didn't complete it till the production phase.
It would be really really great if there is a written or another video that explains all that was intended to be covered in the

[2020-06-22 22:11] willianjusten commented on #115
Yeah, exactly, in Brazil the percentage of people that understands English is not that high and I don't want this to stop them from learning Strapi, which is an amazing CMS =)

I didn't know about this slack, is there any link somewhere?

[2020-06-23 11:36] Mcastres commented on #119
Where this `localFile` come from exactly?
I don't have it in the Graphql explorer

[code]

[2020-06-23 12:02] Mcastres commented on #115
Yes join us here https://slack.strapi.io.
Please ping me when you'll join it :)

[2020-06-23 12:37] Mcastres commented on #113
Awesome! I'll contact you during the week :)

[2020-06-23 12:47] Mcastres commented on #101
Hello @RazvanCretu ! Did you created the `demodatabase` database first?

[2020-06-23 14:54] kilinkis commented on #119
hi @Mcastres, thanks for taking time to review this.

I'm not sure but I think it's coming from gatsby-image.
Are you using the graphql explorer from gatsby or from strapi?
On the gatsby one I can see it no problem.

[2020-06-23 16:32] willianjusten commented on #115
Hey, I just joined there @Mcastres =)

[2020-06-23 19:35] mbudak opened #123 "[TOPIC] Strapi authentication with Next.js?"
Could you provide an strapi authentication with nextjs?
I don't want to use third party authentication system such as auth0 but I want to stick with strapi jwt.

I struggled to implement a real world application which has "app nav bar, mainlayout and footer" with nextjs strapi authentication.

Thank you,
Murat

[2020-06-24 09:53] kilinkis commented on #119
hello again @Mcastres,

okay, I tried to reproduce the problem, and could :)

so I think there is a version update that changed it
if you remove `localFile` and use it like this, it works again :)

[code]

naturally, that changed the ts interface and how the images are invoked:

`<Img className="banner-bg" fixed={article.image.childImageSharp.fixed} />`

[2020-06-24 13:40] Mcastres commented on #119
Can you make a PR to the official starter repo where you update the frontend folder by yours?
However updating the code means updating the tutorial: https://strapi.io/blog/build-a-static-blog-with-gatsby-and-strapi?redirectPage=1

Is that something you are interested in?

[2020-06-24 13:54] Mcastres commented on #104
Hello @jay01011986, thanks for noticing this issue.

@pouyamiralayi is the creator of this plugin and might be able to fix this when he will be available :)

[2020-06-24 19:38] kilinkis commented on #119
yeah, great, and thank you for accepting my contribution :)

two things:
1. just to mention it: by updating the current tutorial with the typescript alternative, users who want the plain js version are left with no tutorial. Have you considered having a separate typescript version? I say this because typescript can be a little intimidating for less experienced users.
2. I'm fine with updating the

[2020-06-25 07:41] Mcastres commented on #119
1. You are right, I'll be happy to have a separate typescript version! Let's do that!
2. Of course you'll get full credits for it like we did for other contributors on our blog :)

[2020-06-25 09:15] kilinkis commented on #119
okay, perfect then!

how should I proceed?
I might reuse part of the original tutorial, since it's very similar, specially regarding CSS and images

[2020-06-25 09:41] Mcastres commented on #119
Absolutely, you can write the article using markdown then I'll review it and it will be ready to go.
Are you on the Strapi Slack? I'll can send you the markdown article

[2020-06-25 23:45] dazmoob commented on #21
if you need help with the translation I can help with the translation

[2020-06-26 09:00] Mcastres commented on #21
Hello @dazmoob , do you have some tutorials/articles you'd like to translate?

[2020-06-26 09:05] kaseer opened #124 "[TOPIC] Realtime Data with Strapi"
when i change api my front end data remain same unless i refresh my webpage

[2020-06-26 09:28] victorycq opened #125 "[REQUEST] Content with nuxtjs"

[2020-06-26 09:51] Mcastres commented on #124
Hello @kaseer, can you explain which starter are you referring to?

[2020-06-26 12:42] kaseer commented on #124
I want to make a students portal

On Fri, 26 Jun 2020, 2:52 pm Maxime Castres, <notifications@github.com>
wrote:

[2020-06-26 12:42] kaseer commented on #124
I want to make students portal where they would share documents to each
other

On Fri, 26 Jun 2020, 5:41 pm Qaisar Mehmood, <qaisar.elit@gmail.com> wrote:

[2020-06-27 07:50] Nhlapo opened #127 "[REQUEST]"

[2020-06-28 21:08] dazmoob commented on #21
@Mcastres none in specific, would start with documentation that is the most recurrent

[2020-06-29 15:16] maskho opened #129 "[TOPIC] How to make Learning Management System platform for school using Next.js and Strapi"
I would like to thanks if someone can make a tutorial about how to make Learning Management System platform for school using Next.js and Strapi

[2020-06-30 10:30] #127 closed

[2020-06-30 10:32] Mcastres opened #131 "[TOPIC] Cross-posting content automatically with Zappier"
**My Request**
Write an article explaining how to create a cross-posting system with Zappier.
Here is a tutorial doing this but using n8n: https://medium.com/n8n-io/automating-cross-posting-blog-posts-using-n8n-%EF%B8%8F-af2a89601810

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-07-01 12:15] gokmenozkn opened #133 "[REQUEST]"
How to use cloudinary in strapi app ?

[2020-07-02 12:52] Mcastres commented on #133
Sorry, @gokmenozkn this is not the right Github repository to ask this, please feel free to join our slack channel in order to get help in the #help channel https://slack.strapi.io/

[2020-07-02 12:52] #133 closed

[2020-07-02 16:01] marioajuez opened #134 "[REQUEST]"

[2020-07-02 18:02] RazvanCretu commented on #101
Hi @Mcastres

I managed to connect it to the mysql db somehow with from help from this https://github.com/strapi/strapi/issues/2782 issue. I needed to downgrade MySQL version to 5.6. As it seems MySQL authentication pulgin was upgraded to caching_sha2_password which Strapi doesn't support.

[2020-07-03 11:21] Mcastres commented on #55
Hello @ramigs, how are ?
Have you had a chance to work on this content recently?

[2020-07-03 11:23] #43 closed

[2020-07-03 11:24] Mcastres commented on #49
Hello @bigpreshy how are you doing?
Have you had a chance to work on this content recently?

[2020-07-03 11:25] Mcastres commented on #73
Hello @drewtownchi ! How are you?
Have you had a chance to work on this content recently?

[2020-07-03 11:26] #32 closed

[2020-07-03 11:26] Mcastres commented on #25
Hello @boazpoolman, how are you?
Have you had a chance to work on this content recently?

[2020-07-03 11:49] ramigs commented on #55
Hi Maxime,

Yes, I have.

Already have the entire workflow done in terms of code (including registration with email confirmation and password reset).
Also wrote the main outline and majority of of the article's sections.
By the end of next week I'll have a version ready for feedback and review :)

[2020-07-03 11:51] Mcastres commented on #55
Awesome! Can't wait to see it :)

[2020-07-06 02:13] willianjusten commented on #115
Since it's there already, I'll close the issue =)

[2020-07-06 02:13] #115 closed

[2020-07-08 08:28] Djosar opened #137 "[TOPIC] Generate a video thumbnail"
I want to generate video thumbnails for my application. How would I do this with strapi?

[2020-07-09 11:45] ramigs commented on #55
Happy to announce that the article is ready:

[Markdown version](https://github.com/ramigs/strapi-nuxt-article/blob/master/strapi-nuxt.md)

Any feedback/review is very welcome :)

[2020-07-09 12:13] soupette commented on #137
Hello @Djosar [here's an example](https://github.com/soupette/poc-video-preview/tree/master/src/containers/ThumbnailsVideo) on how to generate thumbnails. To adapt the code with your API you'll just need to change the `src` attribute in the [following code](https://github.com/soupette/poc-video-preview/blob/d98b6e4591afd2f91023ca5aa0cb185d2e8dc524/src/containers/ThumbnailsVideo/index.js#L104-L107)

[2020-07-10 12:19] chrissnoek opened #138 "[TOPIC] Facebook login with Strapi"

[2020-07-10 15:00] pfeilbr opened #139 "[TOPIC] Serverless Strapi on AWS"
a tutorial on how to run a serverless / pay-per-use strapi on aws using Cognito (access & auth), API Gateway, Lambda, [DynamoDB | Aurora Serverless], CloudFront (CDN) + S3 (static assets).  End result is a [CloudFormation | SAM | serverless framework] template or aws serverless application repository application that provisions all the AWS resources for strapi and outputs an API Gateway endpoint U

[2020-07-10 22:04] Tarekrida1 opened #140 "[TOPIC] Deploy Strapi on Shared hosting, Cpanel that Supporting NodeJs apps"
Deploy Strapi on Shared hosting, Cpanel that Supporting NodeJs apps

[2020-07-11 11:14] amilcarvalho-dev opened #141 "[TOPIC] Nuxt.js + Strapi - Ecommerce Website"

[2020-07-11 17:58] mhd-iqbal opened #142 "[SUBMIT]"
**My resource**
Describe what your resource will be about. (tutorial or article)

**My format**

- [ ] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-07-13 05:16] ashiquet0858 opened #143 "[REQUEST]"
angular and strapi

[2020-07-13 06:00] #143 closed

[2020-07-13 06:00] #142 closed

[2020-07-13 06:01] #134 closed

[2020-07-13 10:33] syedhasanabbaszaidi opened #144 "[TOPIC] Frontend plugin development"
Need tutotials for front end plugin development. Thanks

[2020-07-13 15:23] Djosar commented on #137
Hm I do not seem to understand your example ^^ I was looking for some kind of Hook ( video uploaded -> generate thumbnail for it and link it to it) or something... I am sorry if I can not quite clarify what I am searching for but I am really new to strapi :D

[2020-07-13 16:03] i39 opened #145 "vue.js"

[2020-07-13 16:03] #145 closed

[2020-07-17 17:28] lelouchB commented on #138
Hey @Mcastres
I would like to work on this.
Here are few of my writing samples

https://www.freecodecamp.org/news/author/ashutosh/

https://medium.com/@lelouchb

https://dzone.com/users/3800520/lelouchb.html

[2020-07-20 07:00] aria-hidayat opened #149 "[REQUEST]"
strapi custom cms

[2020-07-20 15:01] NicoMachado opened #150 "[REQUEST] Use Strapi with Custom Legacy Mysql database"
Hi,
I have a legacy Database that I want to consume with RESTapi.

And whe I try i found some problems.

1)  why I can't use the existing database ? ( warn me, and propouse me to use an empty one)
2) on each table , my Pk, is always "id", because I follow some hibernate best practice.

Is there any tutorial where  you start a Strapi proyect with an existing database ?

Best Regards

[2020-07-20 15:02] NicoMachado commented on #150
ohhhh!
I don't have to create "id"  !!!!

[2020-07-20 15:02] #150 closed

[2020-07-24 03:47] bastianhilton opened #152 "[TOPIC] Gridsome and Strapi"
**My Request**
What tutorial/article would you like to see?
I would like to see a blog site created with Gridsome and Strapi. Possibly to include a mutation so i can see how to add content from the frontend to the backend(strapi).

Things i struggle with are:
Making proper links via Graphql to templates in Gridsome using Strapi
Showing images as all my images show blank
Mutations for things like c

[2020-07-28 14:22] daryllukas opened #153 "Customizing the Admin panel to add support for the Idyll markup language"
**My resource**
This is a guide on how to customize the admin panel in order to add support for the Idyll markup language to the default markdown rich text editor. [Idyll ](https://idyll-lang.org/) is an open source markup language and toolkit that allows content creators to write interactive articles.

**My format**

- [x] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can he

[2020-07-28 16:04] kevinlandryale2 opened #154 "[Flutter]"
**My Request**
What tutorial/article would you like to see?

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-07-28 17:41] lelouchB opened #155 "[TOPIC] Strapi starter React blog v2"
**My Request**
React version of this article
https://strapi.io/blog/strapi-starter-gatsby-blog-v2?utm_content=135721540&utm_medium=social&utm_source=twitter&hss_channel=tw-3832252517

I can  write this article.
Here are my writing samples
https://www.freecodecamp.org/news/author/ashutosh/
https://dzone.com/users/3800520/lelouchb.html
https://medium.com/@lelouchb

**Community vote**
👍 Upvote if you

[2020-07-28 18:19] Mcastres commented on #155
Hello @lelouchB!
That would be awesome! I'm sure Vue.js developers would love it!

Making such an article requires to use the same [backend](https://github.com/strapi/strapi-starter-gatsby-blog-v2/tree/master/backend) for Strapi. Concerning Vue.js, you are free to use what you want but it has to be the simplest way of doing it :)

Are you present on our [Slack](https://slack.strapi.io/) ? Please s

[2020-07-29 22:11] zwalkcodes commented on #33
I am currently working on a strapi plugin for this. It will tackle courses, module, lesson management for a member based site using Infusionsoft. Similuar to what the Memberium / LearnDash combo for wordpress does.

[2020-07-30 13:24] glomon opened #156 "[TOPIC]"
**My Request**
What tutorial/article would you like to see?

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-07-31 08:50] Mcastres commented on #156
Closing this as there is no title and no description

[2020-07-31 08:50] #156 closed

[2020-07-31 08:51] Mcastres commented on #154
Closing this issue since there is no description

[2020-07-31 08:51] #154 closed

[2020-08-01 08:06] dwoodman2008 opened #159 "[REQUEST]"
Are there any guides to using strapi with eleventy

[2020-08-01 11:52] jomskidoodle opened #160 "Nuxt.js and Strapi Integration please."
**My Request**
Nuxt.js and Strapi Integration please.

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-08-02 19:02] malgamves commented on #33
That sounds amazing @zwalkcodes - do let me know when you have any sort of demo working. Can't wait to see it. Will check back in a couple of months.

[2020-08-03 12:17] malgamves commented on #160
Hello @jomskidoodle could you be more specific with your request?
Do you want content on [this](https://strapi.nuxtjs.org) Nuxt and Strapi Integration?

[2020-08-03 19:54] EslamXDR opened #161 "Article"
**My resource**
Describe what your resource will be about. (tutorial or article)

**My format**

- [x] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-08-04 10:32] ramigs commented on #55
While this article was being reviewed, got to know about the release of [@nuxtjs/strapi](https://strapi.nuxtjs.org/).

This means that this app will probably be rewritten (using the new package) and the article updated accordingly.

Since the package was release pretty recently, I'll also try to contact the authors/maintainers to find out if they have any suggestion regarding the output/outline of

[2020-08-04 16:35] officialrajdeepsingh opened #162 "admin dashboard"
Hey Everybody my name Rajdeep Singh.
Recently I add my friend on my website as the author but that person not access  my admin dashboard with an article Collection type

![STRAPI ADMIN PROBLEM](https://user-images.githubusercontent.com/32416397/89319991-8b643b00-d69e-11ea-855b-51deeef14038.PNG)

[2020-08-04 16:41] officialrajdeepsingh opened #163 "[REQUEST] Explain User Roles and Permissions for Admin panel"
Plz, Write Article or Youtube Video On strapi Roles & Permissions.
How To Access dashboard like that stuff and most importantly how to install other people create a plugin with npm. me face a lot of issue in this Roles & Permissions and plugin installation with npm

plz any person who create an article on that topic plz tell me

[2020-08-04 22:07] justinkillen commented on #82
@IamRajatBadjatya the strapi.sh file syntax is bad - the 'else' on line 44 doesn't have an if statement above it to match

[2020-08-05 09:30] malgamves commented on #161
Hello @EslamXDR, could you provide us with extra content what you would like your article to be about and what problems that would solve for you.

I'll close this for now. I'm happy to re-open it when you provide more context.

[2020-08-05 09:30] #161 closed

[2020-08-05 09:43] malgamves commented on #159
Hey @dwoodman2008  a community member wrote this article - [Eleventy(11ty) + Strapi CMS with dynamic page creating](https://medium.com/@richyinbeta/eleventy-strapi-headless-cms-with-automatic-page-creating-and-updating-86942f10c19a)

I'll close the issue for now. If you need something a little more up to date, please re-open the issue following the issue template so someone can easily pick it up.

[2020-08-05 09:43] #159 closed

[2020-08-05 09:51] malgamves commented on #149
hey @aria-hidayat could you provide us with extra content what you would like your
article to be about and what problems that would solve for you.

I'll close this for now. I'm happy to re-open it when you provide more context.

[2020-08-05 09:51] #149 closed

[2020-08-05 09:53] malgamves commented on #152
Hey @remi2j just checking. Is this being worked on?

[2020-08-05 10:04] malgamves commented on #155
Hey @lelouchB just checking to see if there is any progress on this.

[2020-08-05 10:09] lelouchB commented on #155
Hi @malgamves
I am working on this and I hope to submit the first draft by 20-25 August.

[2020-08-05 10:09] lelouchB commented on #155
Hi @malgamves
I am working on this and I hope to submit the first draft by 20-25 August.

[2020-08-05 10:13] remi2j commented on #152
Yes that's the next thing on my plate. "Strapi + Gridsome portfolio starter" should be out next week

[2020-08-05 10:23] malgamves commented on #155
Awesome! Can't wait to take a look 👍

[2020-08-05 10:26] malgamves commented on #152
Awesome! Can't wait to see it 👍

[2020-08-05 10:40] malgamves commented on #119
Hey @kilinkis  just checking in the progress of this. How is this going?

[2020-08-05 10:45] kilinkis commented on #119
@malgamves it has been published now :) this can be closed

[2020-08-05 11:32] #119 closed

[2020-08-05 12:51] #160 closed

[2020-08-05 12:55] malgamves commented on #141
Hey @Mcastres - you should be working on this right?

[2020-08-05 13:03] malgamves commented on #125
Hello @victorycq , could you provide us with extra content what you would like your
article request to be about and what problems that would solve for you.

I'll close this for now. I'm happy to re-open it when you provide more context.

[2020-08-05 13:03] #125 closed

[2020-08-05 13:17] malgamves commented on #120
Hey @ryanbelke is there any progress on this?

[2020-08-05 13:19] malgamves commented on #119
Awesome! Thanks for the update and congratulations 🎊

[2020-08-05 16:22] Mcastres commented on #120
Ryan already finished the blog post @malgamves :)
I'm closing this

[2020-08-05 16:22] #120 closed

[2020-08-06 01:19] willianjusten opened #165 "[SUBMIT] Recreating Udemy lessons structure with Dynamic Zones and Components (Pt-BR)"
**My resource**

Hey guys, I recorded a video where I show how to recreate a part of Udemy lessons using Dynamic Zones and Components.

**My format**

- [ ] Article
- [x] Video (https://youtu.be/ReEutDvYPQY)

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-08-06 14:19] Mcastres commented on #141
Yes but it will be a starter, not a tutorial

[2020-08-06 16:19] remidej opened #166 "[TOPIC] Deploy Strapi on Render.com"
**My Request**

Provide a tutorial to help users deploy Strapi on [Render](https://render.com/).

Render is clould platform that allows users to deploy apps from a Github repo. Is still a young product, but has grown quite fast. It would be interesting to make sure Strapi users know about it.

Unlike Netlify or Vercel, it's not limited to static or serverless apps. You can host real Node apps on i

[2020-08-06 16:42] derrickmehaffy commented on #166
Something we will have to watch for, similar to Heroku is how they manage the build/start process, the filesystem lifecycle (do they wipe the Dyno like Heroku does), and if there is resource limits (CPU/RAM/ect)

[2020-08-06 16:54] jakemalachowski commented on #166
@derrickmehaffy I work at Render.

- We offer [disks](https://render.com/docs/disks) that you can attach to your services and persist data across deploys.
- You can define your start/build commands in the `render.yaml` file. If using Docker, you can default to what's used in the Dockerfile or you can override it.
- You can define the [plan](https://render.com/pricing) that makes sense for the reso

[2020-08-06 17:01] derrickmehaffy commented on #166
Thank you very much @jakemalachowski I'll do some playing around myself and see if I can come up with any questions :wink:

[2020-08-07 14:35] biapar opened #167 "[TOPIC] Build the same strapi-starter-next-corporate for Nuxt/Vue.JS?"
Is possible to build the same strapi-starter-next-corporate example for Nuxt/Vue.JS?

[2020-08-08 10:24] shindosu opened #169 "[TOPIC] How to populate/seed data into your database in both development and production."
**My Request**
I would like to see a tutorial on how to populate/seed data into your database in both development and production.

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-08-12 07:18] ghoshnirmalya commented on #109
I can pick this one up.

[2020-08-12 07:19] ghoshnirmalya commented on #129
I can pick this one up. It'd be good if I can get a list of features that is necessary for building a Learning Management System platform for school.

[2020-08-12 07:20] ghoshnirmalya commented on #123
I can pick this one up. I've worked with [NextAuth](https://next-auth.js.org/) and can use it with Strapi for authentication.

[2020-08-12 07:50] malgamves commented on #109
Great! @ghoshnirmalya when do you think you'll have this out?

[2020-08-12 14:33] ghoshnirmalya commented on #109
I can have it out by 19th August.

[2020-08-13 07:46] zarcode commented on #104
@pouyamiralayi +1

[2020-08-13 09:35] Mcastres commented on #169
Hello @shindosu we do not have a tutorial on this but you can check out how I seed data into the [Gatsby starter](https://github.com/strapi/strapi-starter-gatsby-blog-v2)

  - `./backend/config/functions/bootstrap.js` which is executed everytime you run your server: https://github.com/strapi/strapi-starter-gatsby-blog-v2/blob/master/backend/config/functions/bootstrap.js
  - `./backend/seed` data:

[2020-08-13 09:35] #169 closed

[2020-08-13 09:39] Mcastres commented on #167
Hello @biapar, me and @remi2j are currently working on a Gridsome Portfolio and a Nuxt.js E-commerce starter.
We want first to provide different type of website before iterating on the stack.

We are looking for people who might be interested by reproducing starter but with their favorite stack

[2020-08-13 10:06] malgamves commented on #22
Hey @schabibi1 hows this going?

[2020-08-13 10:07] malgamves commented on #23
For anyone following, the post was published on [Smashing Mag](https://www.smashingmagazine.com/2020/08/static-blog-sapper-strap)

[2020-08-13 10:07] #23 closed

[2020-08-13 10:11] malgamves commented on #25
Hey @boazpoolman any progress? Will wait a few days before marking this as "Looking for Author".

[2020-08-13 10:14] malgamves commented on #40
hey @bigpreshy yes! Have you self published or would you like this published on the Strapi blog?

[2020-08-13 10:15] #41 closed

[2020-08-13 10:15] #42 closed

[2020-08-13 10:19] malgamves commented on #49
Hey @bigpreshy just checking to see if there's any progress here. Will wait a few days before marking this as "Looking for Author".

[2020-08-13 10:23] malgamves commented on #52
Not sure if this is still relevant @Mcastres - you use one click buttons on all starters now. Will close it for now if that's okay with you.

[2020-08-13 10:23] #52 closed

[2020-08-13 10:28] malgamves commented on #55
Awesome, let's wait a few days @ramigs and then we'll publish if the issue isn't resolved.

[2020-08-13 10:30] malgamves commented on #58
This would be perfect for the draft/publish release!

[2020-08-13 10:36] malgamves commented on #73
Hey @drewtownchi just checking to see if you've made any progress here. Will wait a few days before marking this "Looking for Author"

[2020-08-13 10:38] malgamves commented on #95
Hey @adriatic the Symphony site seems to be down. How is the project going?

[2020-08-13 10:40] malgamves commented on #92
hey @thesanjivkumar could you give us a little more context on what you would like this tutorial to be like? What problem would you like it to solve?

[2020-08-13 10:43] malgamves commented on #71
This is being worked on in #55 so I'll close this

[2020-08-13 10:43] #71 closed

[2020-08-13 10:44] malgamves commented on #67
I'll take this

[2020-08-13 11:01] malgamves commented on #99
hey, @adityayadav7 closing this for now. I'm more than happy to re-open it when you give more context for the type of support you need.

[2020-08-13 11:01] #99 closed

[2020-08-13 11:05] malgamves commented on #75
Hey @derrickmehaffy  and @lauriejim it looks like @ianfelix would like to translate a portion of the Strapi documentation to Portuguese. Could you you help him out?

[2020-08-13 11:09] malgamves commented on #82
Hey @IamRajatBadjatya could you confirm @justinkillen 's query.

[2020-08-13 11:11] #88 closed

[2020-08-13 12:34] derrickmehaffy commented on #75
Currently our documentation can't handle translations yet, we are looking at this for the big doc review but it will take us some time to figure out the best solution

[2020-08-13 13:26] #94 closed

[2020-08-13 13:27] #91 closed

[2020-08-13 13:31] #113 closed

[2020-08-13 13:32] malgamves commented on #109
Great! Can't wait to see it 👍

[2020-08-13 13:33] #105 closed

[2020-08-13 13:36] malgamves commented on #101
Hey @RazvanCretu are you willing to document your solution to the issue with an article? I think it would be really helpful for other people with the same problem.

[2020-08-13 13:41] malgamves commented on #123
hey @ghoshnirmalya is this the same as #109 or would you like to do them separately?

[2020-08-13 13:44] malgamves commented on #129
Do you have a short list of features that would make up such an application @ghoshnirmalya ?

[2020-08-13 13:45] ghoshnirmalya commented on #123
This will be a separate tutorial.

[2020-08-13 13:52] malgamves commented on #162
Hey @officialrajdeepsingh could you give a little more details on what you need? Will close the issue for now. I'm more than happy to reopen it when you give more context.

[2020-08-13 13:52] #162 closed

[2020-08-13 14:23] malgamves commented on #165
Hey @willianjusten thanks for the contribution 🎊

[2020-08-13 17:36] Fl4zher commented on #123
@ghoshnirmalya when can we expect this tutorial? And will it be with REST or GraphQL?

[2020-08-13 18:03] ghoshnirmalya commented on #123
I can have this tutorial ready by 26th August. The authentication be done via REST.

[2020-08-13 21:28] RazvanCretu commented on #101
Hi @malgamves

Yes, thanks for writing me. I would be really glad to help. Should we get in touch somewhere else? Mainly not to spam here and to further discuss.

[2020-08-15 06:50] bigpreshy commented on #40
I'd like this to be published in Strapi blog

[2020-08-17 07:08] biapar commented on #167
I wish to build a website for a customer with strapi backend and nuxt.js frontend. How to help you?

[2020-08-17 07:44] remi2j commented on #167
If it's for a corporate site, I would recommend that you look into our [Next starter](https://github.com/strapi/strapi-starter-next-corporate). You'll see how we structure the data on Strapi, and how to render a dynamic zone on the frontend.

To translate it to a Nuxt app, you can use the [Strapi module for Nuxt](https://strapi.nuxtjs.org/) to query your data, instead of making API calls directly.

[2020-08-17 12:11] marupudiradhika opened #172 "[TOPIC] How to open existing Strapi application"
**My Request**
What tutorial/article would you like to see?

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-08-18 07:31] malgamves commented on #123
Awesome! I'll schedule it that way then 😄

[2020-08-18 07:33] malgamves commented on #101
Yes please! You can text me in the [Strapi Slack](https://slack.strapi.io), my name is Daniel Madalitso Phiri. Happy to discuss further there.

[2020-08-18 07:35] malgamves commented on #40
Awesome! Could you share a link to a Dropbox Paper file so I can review it and publish it. 🎊

[2020-08-19 14:02] remi2j commented on #152
Here it is: [https://github.com/strapi/strapi-starter-gridsome-portfolio](https://github.com/strapi/strapi-starter-gridsome-portfolio)

[2020-08-19 16:57] bastianhilton commented on #152
Thank you for this starter. One question though if you have more than one page template like found in your gridsome.server.js how do you go about adding them

Sebastian Hilton

________________________________
From: Rémi de Juvigny <notifications@github.com>
Sent: Wednesday, August 19, 2020 7:03:14 AM
To: strapi/community-content <community-content@noreply.github.com>
Cc: Sebastian hilton <bastian

[2020-08-19 22:49] abbeyseto opened #173 "Audit Log/Trail with Strapi"
**My resource**
My article will be about creating an Audit log or trail for a Strapi Application using strapi middleware. This will enable the admin to see all requests to API routes and all other activities which include Admin page visits and all CRUD done. This will also cover visibility to public API calls by unauthenticated users.

**My format**

- [x] Article
- [ ] Video

**What do you guy's

[2020-08-20 00:57] mikee123 opened #175 "[TOPIC]"
**My Request**
What tutorial/article would you like to see?

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-08-20 07:39] remi2j commented on #152
@bastianhilton let's say you want to add a template for articles, in addition to projects. I think in the `gridsome.server.js`, the `api.createPages` method would look like this:

[code]

That would be after you create the `Article.vue` template.

---

I'm closing the issue since we have provided the starter. If you have more issues or questions, please submit them on the [starter's repo](https://

[2020-08-20 07:39] #152 closed

[2020-08-20 11:26] lucasfrutig0 commented on #173
![image](https://user-images.githubusercontent.com/47028939/90764551-d1d0b100-e2be-11ea-939e-4d7de6c2bbe7.png)

[2020-08-20 17:02] schabibi1 commented on #22
Hi Daniel.

Sorry for this late response.
And thank you for the heads up.

I'm working on another project from my work and it occupies me.
Could you assign this project to someone who is interested in...?

Again, thank you for checking in ...!

Arisa

On Thu, 13 Aug 2020 at 12:06, Daniel Madalitso Phiri <
notifications@github.com> wrote:

--
Arisa Fukuzaki <https://aiki-developer.com>
Full-Stack D

[2020-08-20 18:40] wagnerCV opened #177 "[TOPIC]"
**My Request**
What tutorial/article would you like to see?

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-08-20 20:33] derrickmehaffy commented on #177
Closing as there is no content to the issue

[2020-08-20 20:33] #177 closed

[2020-08-22 00:48] carloshs94 opened #178 "[TOPIC] Strapi installation under Traefik"
**My Request**
What tutorial/article would you like to see?
Seems like is the only proxy left to explain in the tutorial

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-08-23 15:22] sawmu opened #179 "[REQUEST]"

[2020-08-23 19:20] derrickmehaffy commented on #178
@Mcastres might be best to include this also within the docs similar to Nginx, HAProxy. I was not familiar enough with Traefik to write it when I made those guides.

[2020-08-24 09:04] malgamves commented on #123
Awesome! I'll assign you as an Author. Lot's of auth articles coming out! Love it 🎊

[2020-08-24 09:42] malgamves commented on #179
Hello @sawmu , could you provide us with extra context on what you would like your article to be about and what problems that would solve for you.

I'll close this for now. I'm happy to re-open it when you provide more context.

[2020-08-24 09:42] #179 closed

[2020-08-24 09:44] malgamves commented on #175
Hello @mikee123 , could you provide us with extra context on what you would like your article to be about and what problems that would solve for you.

I'll close this for now. I'm happy to re-open it when you provide more context.

[2020-08-24 09:44] #175 closed

[2020-08-24 09:45] malgamves commented on #172
Hey @marupudiradhika , could you provide us with extra context on what you would like your
article to be about and what problems that would solve for you.

[2020-08-24 14:54] #173 closed

[2020-08-25 07:29] AmerAlahmar opened #180 "[SUBMIT] Replacing strapi default WYSIWYG editor (draftjs) with Tinymce editor"
**Replacing strapi default WYSIWYG editor (draftjs) with Tinymce editor**

I know there's an [article](https://strapi.io/blog/how-to-change-the-wysiwyg-in-strapi) on how to replace Strapi's editor with CKEditor but it seems outdated, I also know about the one in the [docs](https://strapi.io/documentation/v3.x/guides/registering-a-field-in-admin.html#introduction)  which should be a good start but

[2020-08-25 07:51] #165 closed

[2020-08-25 09:31] geekette86 opened #181 "Helm chart for strapi"
**My resource**
Helm chart to deploy strapi to Kubernetes

**My format**

- [* ] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-08-25 09:40] geekette86 opened #183 "helm chart for strapi"
**My resource**
Helm chart to deploy strapi to Kubernetes

**My format**

- [x] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!
#182

[2020-08-25 10:47] AmerAlahmar commented on #180
**I have prepared a quick draft that includes the steps and the commands needed, I just need to:**
- put it in nice shape
- include more explanations of the steps.

Here is the draft _(matches Strapi docs style)_ :

1. Create a new project:
Create an application using SQLite and prevent the server from starting automatically as we will create a plugin right after the project generation

[code]

2.

[2020-08-26 06:24] #109 closed

[2020-08-26 07:40] malgamves commented on #129
That sounds great for a start. Think you can an app built with these and probably write about it?

[2020-08-26 08:06] ghoshnirmalya commented on #129
Sure. I'll do that. I'll try to wrap it up by 6th September.

[2020-08-28 05:12] Busani-396 opened #185 "[TOPIC] Strapi beginner to advanced tutorials"
**My Request**
Strapi beginner to advanced tutorials

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-08-30 08:03] ghoshnirmalya commented on #123
@malgamves The boilerplate for building applications using Strapi and Next.js is available on [Github](https://github.com/ghoshnirmalya/nextjs-strapi-boilerplate).

This boilerplate is built using the following technologies:

1. [Chakra UI](https://chakra-ui.com/)
2. [Emotion](https://emotion.sh/)
3. [GraphQL](https://graphql.org/)
4. [Apollo](https://www.apollographql.com/)
5. [NextAuth](https://

[2020-08-30 10:17] bigpreshy commented on #40
Please, I am really sorry for the belatedness

[2020-08-30 10:22] bigpreshy commented on #40
https://paper.dropbox.com/doc/tbqovN7vj7AywYLlEt4XH

[2020-08-31 09:41] malgamves commented on #123
This looks amazing!! I really like how well this is documented. Can't wait to have a look at the article. Do you have a demo app running somewhere?

[2020-08-31 09:55] malgamves commented on #129
Sounds great! You're doing amazing @ghoshnirmalya thank you 👏

[2020-08-31 10:04] malgamves commented on #40
No worries @bigpreshy I'm having a look now. Thanks for sending it in.

[2020-08-31 13:52] ghoshnirmalya commented on #123
@malgamves I haven't deployed it anywhere yet. However, I plan to deploy the Strapi application on Heroku and the Next.js application on Vercel soon.

[2020-08-31 14:00] sebacampos commented on #123
@ghoshnirmalya Thanks for the boilerplate!! I cloned the repo and had some trouble but finally could make it work. My problems were mostly on DB settings part so I left a comment on this [here explaining my steps to make it work](https://github.com/ghoshnirmalya/nextjs-strapi-boilerplate/issues/4#issuecomment-683794773) in case someone else finds it useful

[2020-08-31 14:30] #183 closed

[2020-08-31 14:30] geekette86 commented on #183
Merged #182

[2020-08-31 16:35] ghoshnirmalya commented on #123
@sebacampos Thank you for your help. I've [added a comment](https://github.com/ghoshnirmalya/nextjs-strapi-boilerplate/issues/4#issuecomment-683886301) which should help in fixing the issue.

[2020-08-31 16:39] ghoshnirmalya commented on #123
@malgamves @sebacampos Do you guys know if it's a good idea to save the volume (in case of Docker) or default data for Strapi? I'd like to save a few records in my database so that anyone who clone the [boilerplate](https://github.com/ghoshnirmalya/nextjs-strapi-boilerplate) can get the development server up and running very easily.

I'd like to save the default data:
1. GraphQL plugin enabled by

[2020-08-31 19:00] sebacampos commented on #123
@ghoshnirmalya That would be nice! I don't have that much experience with Strapi on Docker to determine the best way to do it. I guess using Docker would be easier for this need, but i'm thinking that without Docker you will need to provide a DB dump with the records already inserted, and then anyone cloning the repo will import that dump into their local DB, maybe? Anyway should wait someone from

[2020-09-01 09:00] malgamves commented on #123
Hey, what we do with our Starter is we populate the database on build using the `bootstrap.js` a good example is our [Gatsby Starter](https://github.com/strapi/strapi-starter-gatsby-blog). No need for Docker volumes then. I hope this helps somehow.

[2020-09-07 09:51] malgamves commented on #180
This looks really good @AmerAlahmar - sorry for catching it late. I like where this is heading! Hows the progress on explanations and context?

[2020-09-07 09:54] malgamves commented on #181
Hey @geekette86 I merged this 🎊 Thank you for contributing!

[2020-09-07 09:54] #181 closed

[2020-09-07 09:58] malgamves commented on #185
Hello @Busani-396 , could you provide us with extra context on what you would like the beginner resources to tackle.

[2020-09-07 17:17] abachuk opened #193 "[SUBMIT] Deploying Strapi CMS to Azure Cloud using Docker container and CI/CD with Github"
**My resource**
In the video, I'll walk you through how to deploy Strapi from localhost to Azure Cloud using their App Service and managed MySQL database. By the end, you will have working REST and GraphQL API running in the cloud and can push the updates through git.
https://pragmaticlead.com/posts/deploying-strapi-to-azure

**My format**

- [ ] Article
- [ x] Video

**What do you guy's think?**

[2020-09-11 21:06] harshil1712 commented on #87
Hey @Mcastres 👋 ,

I am interested in writing a tutorial for this. Can you please share more details?

You can find my writings on [Medium](https://medium.com/@harshil1712), [Dev](https://dev.to/harshil1712/) and my personal [website](https://harshil.dev/blog/). I also wrote an article for Twilio which you can find [here](https://www.twilio.com/blog/secure-auth0-powered-application-sms-alerts-twil

[2020-09-15 17:35] Dev-Freak commented on #21
Hello @Mcastres , I'd like to help translating some tutorials into Spanish. Maybe some related to creating a BackEnd for a JAMstack app?

[2020-09-16 08:04] Mcastres commented on #21
Which tutorials are referring to? :)

[2020-09-16 15:58] creotip commented on #118
Second on that here. I can't figure how to deploy to production after creating strapi one-click Digital Ocean.

[2020-09-16 18:05] derrickmehaffy commented on #118
Hi all (I'm the one from that video, and I found my typo for it),

Before something like this progresses I wanted to get some initial feedback on what exactly you want to see:

- DNS setup? Cloudflare maybe?
- Domain Management?
- Dealing with SSL with stuff like Let's Encrypt via automated tools like certbot, acme.sh, ect?
- Source control with GitHub?
- Scaling, load balancing, distributed or ce

[2020-09-17 01:30] ihadabs commented on #118
Hey @derrickmehaffy,

Its been a long time since a posted the issue. I really like the way you explained everything in that video, thank you, really!

I guess, for me, what was missing is the way to use Strapi in production (like securing everything and that stuff) but I have figured it out (hopefully its the right way 😂 ).

I am a backend developer but sometimes people (like me 🚶‍♂️) want to use

[2020-09-17 19:46] cwray-tech opened #197 "[SUBMIT] A Great NodeJs Backend Option for Frontend Developers"
**My resource**
This is an article with a video sharing about Strapi CMS and why it is a great NodeJs backend option for frontend developers or no-coders.

**My format**

- [x] Article https://dev.to/cwraytech/a-great-nodejs-backend-option-for-frontend-developers-or-no-coders-43d0
- [x] Video https://youtu.be/TF4ZWUhUC5E

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-09-20 07:24] whizkidefos opened #198 "[TOPIC] Build a beautiful app with NextJS and Electron, powered by a Strapi backend."
**My Request**
What tutorial/article would you like to see?

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-09-20 16:22] JomaKar opened #199 "[TOPIC] Universal Angular + Strapi for SSr and Seo"
Strapi + Universal Angular

I would like you to do a tutorial on how to mix strapi with universal angular https://angular.io/guide/universal which is the SSr solution for that js framework.

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-09-20 18:17] jhalmu opened #200 "[TOPIC] How to edit the Strapi Admin Date field format"
**My Request**
What tutorial/article would you like to see?
How to edit DATE-field to accept differend date-types like 2018-11-09 or easily add year in past.

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-09-21 03:37] Dev-Freak commented on #21
I'm talking about "Use a Custom Strapi Back-End to Build a Jamstack App", "Create a Custom Back-End for Jamstack Apps with Strapi" or "Building APIs FAST with Strapi"

[2020-09-22 20:56] Lith commented on #199
Hi @JomaKar

We have developed our project with Angular Universal and Strapi.
Which type of tutorials or articles do you want ?
- Example of implementation
- Explanation about Angular SSR and Strapi API call ?
- Step by step tutoriel ?

I'm not sure to have time to write it, but maybe give some help if need.

Thanks !

[2020-09-22 21:46] JomaKar commented on #199
Hi @Lith ! thanks for getting in touch! Well, the first two would be awesome! an example and the explanation on how to connect with strapi api with ssr... what I had found is this: https://medium.com/@avishwakarma/server-side-rendering-using-koajs-and-angular-universal-9270fe182f41 and this PR from angular's team to develop a koa provider: https://github.com/angular/universal/pull/1714 which is st

[2020-09-24 02:39] cwray-tech commented on #90
So, before I can say I could do this... Can you clarify what you mean by separate VM just for Strapi @maks-bondarenko? You will need a Node server for sure to run Strapi.

If you are okay with a separate instance being set up, then I could do a tutorial on how to set up Strapi on Azure App Service. You could also give input on what you are looking for @ahrherrera

[2020-09-25 12:03] simonerlandsen commented on #90
@cwray-tech I am guessing that @maks-bondarenko is refering to this: https://strapi.io/documentation/v3.x/deployment/azure.html that says that "You will want to use an Azure Virtual Machine for Strapi deployments, the Azure web-app (IIS) deployments are not recommended".

I have strapi v3.0.0-beta.18.6 running in production on a linux web app in azure with a mysql service for db. I want to upgrade

[2020-09-25 16:52] cwray-tech commented on #90
@simonerlandsen cool! I hope I can pull this off. I am pretty new to Azure/Deployments, so I will be using Microsoft Docs heavily.😄

[2020-09-28 11:44] simonerlandsen commented on #90
@cwray-tech I got it working today. I am no expert, but if you get stuck along the way, let me know.

What tripped me up was that the setting "host" in server.js used to work by setting it to the domain name of the webpage, but now does not, but setting it to 0.0.0.0 worked, but I can't find anything about this change in the Strapi migration guides or the general docs.

For anyone (maybe @maks-bon

[2020-09-30 17:27] sunsgs opened #204 "[TOPIC] Building a Booking System with Strapi"
**My Request**
What tutorial/article would you like to see?

I would like to understand how to build a Booking system

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-10-01 06:28] #155 closed

[2020-10-02 08:40] jhalmu commented on #200
My problem is that in admin date field is automated to show days in fixed way, so adding date in past is not easy. Using like phpMyAdmin or in terminal adding value is not the way intended and I can not add relations to other tables.

[2020-10-06 09:51] malgamves commented on #155
Hey @lelouchB noticed you closed this. Did you finish it up already?

[2020-10-06 15:48] krissnawat commented on #166
@malgamves I would like to paticipant on this topic . it's should be fun

[2020-10-07 08:20] remidej commented on #166
Thanks @krissnawat! FYI Render just published [a docs page for Strapi](https://render.com/docs/deploy-strapi) a couple of days ago.

Maybe could also add Render to the list of [hosting provider guides](https://strapi.io/documentation/v3.x/getting-started/deployment.html#hosting-provider-guides) instead of making it an article. What do you think @malgamves?

[2020-10-07 20:43] davidmauskop commented on #166
@remidej @malgamves @derrickmehaffy @krissnawat I'm an engineer at Render and worked on our 'Deploy Strapi' doc and Strapi example repos. I'd be happy to help with this however I can. Btw, we recently added a [development -> staging -> production](https://render.com/docs/deploy-strapi#development-%E2%86%92-staging-%E2%86%92-production) section to the doc based on feedback from @pierreburgy.

[2020-10-08 22:36] cwray-tech opened #209 "[SUBMIT] How to cross-publish posts Strapi-Zapier"
**My resource**
This is an article/ tutorial based on the request in this issue: https://github.com/strapi/community-content/issues/131

Here is the resource: https://chriswray.dev/posts/how-to-cross-publish-posts-from-strapi-with-zapier

This can be used on the Strapi blog if you would like!

**My format**

- [x] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-10-10 09:26] krissnawat commented on #69
@Mcastres I would like to pick this topic.

[2020-10-12 10:32] malgamves commented on #209
This is such a lovely article! Thanks for sharing If you'd like to show up on our tutorials page. Could you add it to the articles.yml file like you did in #206 @cwray-tech

[2020-10-12 10:54] malgamves commented on #166
Thanks for that @davidmauskop, would you like to add the guide to the Strapi Docs under [hosting guide providers](https://render.com/docs/deploy-strapi) like @remidej mentioned. @derrickmehaffy could guide you on how to go about making that happen.

@krissnawat how different would your article be from the Render Guide?

[2020-10-12 10:57] malgamves commented on #199
Hey @JomaKar thanks for being so patient on this. I think this tutorial would be awesome!

@Lith would you like to get started on this?

Bringing in @lucasnevespereira who just shared his portfolio built with Angular. Maybe you can take this up with help from @Lith ?

[2020-10-12 11:03] malgamves commented on #180
Hey @AmerAlahmar how is it going with this?

[2020-10-12 11:06] malgamves commented on #193
Hey @abachuk could you open a PR to add this to our tutorials resource? [Here is a guide](https://github.com/strapi/community-content/tree/master/tutorials) on how to go about doing that.

[2020-10-12 11:07] malgamves commented on #197
Ayye! You are on fire with the content @cwray-tech thanks. Could you open a PR to add them to the [tutorials page](https://github.com/strapi/community-content/tree/master/tutorials) on the Strapi site?

[2020-10-12 11:55] krissnawat commented on #166
@malgamves nothing different will move to this  #69

[2020-10-12 13:08] lucasnevespereira commented on #199
Funny u bring me up on this 'cause I was actually thinking about preparing a video tutorial and post it on Youtube.<br> Idk when it will be ready.  <br>An article could be nice as well 👍

[2020-10-12 16:21] zaracooper commented on #37
@malgamves could you assign me this?

[2020-10-12 18:07] malgamves commented on #37
Awesome @zaracooper , I can't wait to have a look at this when it's done

[2020-10-12 18:09] malgamves commented on #199
Haha amazing! Shall I assign this to you then @lucasnevespereira ? Can't wait for that video 🔥

[2020-10-12 18:37] davidmauskop commented on #166
@malgamves Absolutely!

@derrickmehaffy Should I just add the doc as part of a PR on the main strapi repo? Any other guidelines?

[2020-10-12 22:04] cwray-tech commented on #209
@malgamves for sure. Thank you!

[2020-10-12 22:28] cwray-tech commented on #197
@malgamves Do you want this to go in the tutorials, or in the articles section? Thanks a bunch!

[2020-10-13 08:01] narduin opened #213 "[SUBMIT] How to deploy Strapi with OpenLiteSpeed"
**My resource**

Hello!
I recently wrote a small tutorial on how to deploy Strapi using OpenLiteSpeed as a web server:
https://www.nardu.in/en/articles/strapi-openlitespeed/

If you're interested I could adapt it into a community content article 🙂

**My format**

- [x] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-10-13 08:34] narduin commented on #39
It's a great topic, I might be able to write something about open source Jamstack if you're still looking!

[2020-10-13 13:03] Mcastres commented on #39
We might are still looking for this. Can you confirm @malgamves?

[2020-10-13 13:22] malgamves commented on #39
Yes, we are @Mcastres ! If you are willing to get started with it @narduin I could assign it to you!

[2020-10-13 13:26] malgamves commented on #197
Ah yes, @cwray-tech let's get this in tutorials

[2020-10-13 18:55] lucasnevespereira commented on #199
Oh I'm sorry @malgamves @JomaKar just realize you were talking about **Angular Universal**, I did not use this on my project so sorry 😅

_But I'm still writing an article or maybe filming a video about how I did my project._

[2020-10-14 00:59] malgamves commented on #69
Let's do it! When do you think you can have something for me to look at @krissnawat ?

[2020-10-14 08:07] Mcastres opened #214 "[TOPIC] Video on the new Draft & Publish feature"
**My Request**
I would love to see a video demonstration of our new Draft & Publish feature on a real case application

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-10-14 08:08] Mcastres opened #215 "[TOPIC] How to create a ? website with Strapi"
**My Request**
It would be awesome to have some sort of "How to create a (dating, blog, game, corporate) website with Strapi"

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-10-14 08:45] malgamves commented on #199
Awesome! thanks for letting me know, if you'd like we can still publish the article on your project to our blog @lucasnevespereira

[2020-10-14 08:49] malgamves commented on #23
This is really cool @AnandChowdhary you should add this to our [showcase](https://github.com/strapi/community-content/tree/master/showcase)

Is your whole site powered by Strapi or just your blog?

[2020-10-14 08:55] AnandChowdhary commented on #23
Thanks for the tip! I've added it here: https://github.com/strapi/community-content/pull/216

All our "content" pages are powered by Strapi, such as our blog (https://koj.co/en-ch/blog/), careers (https://koj.co/en-ch/careers/), and support (https://koj.co/en-ch/support/) sections. The "app" parts are written in Svelte.

[2020-10-14 09:03] malgamves commented on #23
That's pretty sweet! Thanks for that 🎊

[2020-10-14 09:24] narduin commented on #213
I would remove all the personal stuff and maybe adopt a more formal tone of voice. I could go a bit further into the configuration steps and add a performance comparison (if relevant) between a Strapi instance on nginx vs OLS.

[2020-10-14 10:35] Mcastres opened #217 "[TOPIC] Use Strapi for an electronic project"
**My Request**
It would be awesome to have a video where we use Strapi for an electronic project.

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the tutorial/article!

[2020-10-14 15:04] Mcastres opened #218 "[TOPIC] How to create a Strapi app and deploy it to Heroku ?"
**My Request**
People prefer to follow deployment instructions in video rather than in writing. It can be on AWS, DO, Heroku, Azure and more...

**Community vote**
👍 Upvote if you like this idea
🚀 If you can make the article/video!

[2020-10-14 19:50] Quadrisheriff commented on #36
Hey there, I'd like to work on this 👍

[2020-10-14 21:13] malgamves commented on #213
that sounds solid @narduin let's get started on that? Can't wait to have a look

[2020-10-15 23:27] lucasnevespereira opened #219 "[SUBMIT] Connecting a Strapi API to an Angular App"
**My resource**
This is an article about connecting a Strapi API to an Angular App
Resource here : https://pereiraneveslucas.medium.com/connect-custom-strapi-api-to-an-angular-app-e03ea487796e

**My format**

- [X] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-10-16 19:36] ChrisMulvanyGH commented on #118
This could really be a series of tutorials where you can take a Digital One-Click Droplet and show:

How to add a react frontend
How to use nginx and modify this where somebody might want Strapi on a sub domain.
How to add Let's Encrypt SSL
How to link the frontend and Strapi backend
Add some best practices both in terms of DevOps and coding.
Source Control with git and possibly git actions

Just

[2020-10-16 19:48] derrickmehaffy commented on #118
Yes DevOps can get very very deep.

[2020-10-17 14:52] ChrisMulvanyGH commented on #118
Honestly I am not sure if it is DevOps in general or the tools you use.  This could also be another Article/Tutorial?

[2020-10-19 08:45] ddinger opened #222 "[REQUEST] How can strapi be deployed behind a load balancer ?"
Hello strapi professionals,
I am in an phase of evaluating strapi as major part of our rebuilt system. I think that strapi is a graeat product from what I have seen so far.
I am looking for a documentation related to production deployment of strapi. For example the aspect of load balancing. Is it ok to run multiple strapi nodes behind a load balancer and configure them to a shared database
or does

[2020-10-19 09:16] malgamves commented on #36
Awesome! Assigned this to you @Quadrisheriff . When do you think you'll be done with this?

[2020-10-20 04:57] santoshyadavdev commented on #215
Hey @Mcastres,
As discussed over mail, can you assign this to me please.

[2020-10-20 08:27] Mcastres commented on #215
Sure! What type of website will you create with Strapi?

[2020-10-20 20:16] #153 closed

[2020-10-20 20:17] #40 closed

[2020-10-20 20:25] malgamves commented on #67
[Building a Blog with 11ty and Strapi](https://strapi.io/blog/building-a-blog-with-11ty-and-strapi)

[2020-10-20 20:25] #67 closed

[2020-10-20 20:26] malgamves commented on #123
hey @ghoshnirmalya any updates on this?

[2020-10-20 23:22] robots4life commented on #23
https://svelte-ecommerce.netlify.app/ is a Svelte e-commerce app with a Strapi backend, the tut and code to it is the 2nd project in this course https://www.udemy.com/course/svelte-tutorial-and-projects-course/ that I like quite a bit.

Got the course some time ago and by chance I found out just now that the e-commerce app is built on a Strapi backend and quite thoroughly explained. Can only recom

[2020-10-21 08:47] santoshyadavdev commented on #215
I am planning to create my blog with it.

[2020-10-21 14:16] viclotana opened #227 "[SUBMIT]How to make your first open source contribution"
**My resource**
This article is in line with GitHub's HacktoberFest where people are encouraged to join communities and contribute more to open source.  This article will be a guide for beginners to open source contributions to start with their very first PR.

**My format**

- [ *] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-10-21 14:22] viclotana opened #228 "[SUBMIT] Best React UI packages to use in 2020"
**My resource**
This article will showcase a few popularly used user interface React libraries with mass adoption and actively maintained in 2020

**My format**

- [ * ] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-10-21 14:25] viclotana opened #229 "[SUBMIT] Best Angular Component Libraries for developers in 2020"
**My resource**
This article will showcase a few actively maintained component libraries in Angular, most of which are open source

**My format**

- [* ] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-10-21 14:30] viclotana opened #230 "[SUBMIT] Introduction to GitHub's Project Board"
**My resource**
Learn all you need to easily get started with creating and effectively using Github’s free project management tool.

**My format**

- [ * ] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-10-21 14:49] viclotana commented on #38
Hi, I am interested in writing about this.

[2020-10-21 16:10] Mcastres commented on #38
Sure! It is yours ;)

[2020-10-22 08:29] lxdb opened #231 "[SUBMIT] Creating a website with strapi + jekyll"
**My resource**
I'm going to make a video tutorial in german about creating a general-purpose(static pages + blog) website based on strapi and jekyll.

When wanted, I could also show how to deploy it to a cloud platform like Heroku.

**My format**

- [ ] Article
- [x] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-10-22 08:33] lxdb commented on #231
Hello @Mcastres,
can you please add the needed labels and move the issue to the project.
I created an extra issue because you already assigned the first issue to someone else.

[2020-10-22 08:59] Mcastres commented on #231
Sure!

[2020-10-22 09:02] lxdb commented on #231
Thank you. Should I also show how to deploy strapi to a cloud platform or is it a subject for an extra video ?

[2020-10-22 10:19] Mcastres commented on #231
It could be could to have this. But you can totally separate this into multiple videos if you want

[2020-10-22 16:56] #53 closed

[2020-10-22 16:58] #24 closed

[2020-10-22 17:01] Mcastres commented on #63
Hey @Aurelsicoko, any update on this?

[2020-10-22 18:46] #172 closed

[2020-10-22 18:47] #141 closed

[2020-10-22 18:48] #137 closed

[2020-10-22 18:48] #104 closed

[2020-10-23 13:59] hasnentai opened #235 "[SUBMIT] Connecting a Strapi API to an Flutter App #219"
**My resource**

**How about if I make a video tutorial on building a Flutter E-commerce app using Strapi**

I will be covering how to connect the Strapi with the flutter and how you can use the strapi in a production and making a flutter app Live to playstore.

- [ ] Article
- [X] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-10-23 14:33] hasnentai commented on #219
@Mcastres I would love to create a Video Tutorial on this

[2020-10-23 15:08] narduin commented on #213
Hey @malgamves, here is a new version:
https://github.com/narduin/strapi-openlitespeed

What do you think?

[2020-10-23 17:29] hasnentai commented on #235
@Mcastres This is my Proposal

[2020-10-24 09:44] LOVETOO opened #236 "[REQUEST]"

[2020-10-26 08:43] lucasnevespereira commented on #219
@hasnentai That would be great 👍

[2020-10-26 09:45] Arcktosh opened #237 "Microservices"
I would Like to know how to use strapi as an api for microservices (multiple strapi instances) and create a combined dashboard to manage them all from a single place.
**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2020-10-26 11:09] Mcastres commented on #219
Hey @hasnentai, in fact it would be great but I'm not sure if we should two create pieces of content on the same same topic. It might be better to diversify

[2020-10-26 11:15] Mcastres commented on #219
Great article @lucasnevespereira!
It's very complete!

[2020-10-26 11:18] hasnentai commented on #219
@Mcastres Ofcourse I will be creating a simple Quiz App which will be feeding the data from strapi.
So I guess I will be a total different from the above artical.
What so you say about this idea?

[2020-10-26 11:20] Mcastres commented on #219
Oh that is interesting in fact!
Can we have more details about this?
  - How long will be the video?
  - Will it be published on your Youtube channel?

[2020-10-26 11:33] hasnentai commented on #219
@Mcastres
I consider that we need to put more fouce on Strapi Set Up right but we need to show the completion of whole app as well. which makes it more interesting.
So What I think  is we can create a two part .
My purpose for two videos is to show the complete flow.(Part 2 will be a supporting video for part 1)
1/2 - Part (Primary focus on Strapi) Contains the Configrations of Strapi and Fetching

[2020-10-26 13:27] Mcastres commented on #219
Alright great! Then let's do it. Do you mind creating a dedicated issue here: https://github.com/strapi/community-content/issues/new?labels=In+progress&template=submit-a-resource.md&title=%5BSUBMIT%5D ?

[2020-10-26 15:25] brunoagatao commented on #96
I would be happy to take this one off your hands.

[2020-10-26 16:17] ghoshnirmalya commented on #123
@malgamves I've shared the link to the article with you on Slack.

[2020-10-26 16:54] hasnentai opened #238 "[SUBMIT] Build a Quiz App using a Strapi API with Angular"
I will be creating a complete Video tutorial on building and configuring a strapi api with Angular.

The Tutorial will be divied into 2 parts
1. The first part will be dedicated to the strapi API configration and connnecting with the angular.
2. The second part will be dedicated to build the front end for Angular App.

This will be upload on the Youtube.
Thanks

**My format**

- [ ] Article
- [X]

[2020-10-26 16:54] Mcastres commented on #96
Don't forget to check our FAQ: https://www.notion.so/strapi/Strapi-Write-for-the-Community-FAQs-b1fa0282d68a4c3e933fdd5e05f61a46

[2020-10-26 16:54] hasnentai commented on #238
@Mcastres Here is the dadicated issue.
Please assign me if possible

[2020-10-26 17:09] hasnentai commented on #219
@Mcastres refer #238

[2020-10-26 17:34] Mcastres commented on #238
Let's go :)

[2020-10-27 00:42] zaracooper commented on #37
@malgamves shared the dropbox paper draft with you. Let me know what you think.

[2020-10-28 03:01] pakwai122 commented on #193
How about AWS? with best practices, use let's encrypt, split it into dev, staging and production mode. is there any friendly way to manage Strapi on AWS?

[2020-10-28 03:55] pakwai122 opened #241 "[TOPIC]Strapi deployment on AWS"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!
The official doc didn't work so well I think. For instance iam role policy/security group didn't add the port for connecting RDS DB, etc.
https://strapi.io/documentation/v3.x/deployment/amazon-aws.html

Therefore, I'm looking for a video that shows how to deploy it to AWS with
EC2(strapi), RDS(d

[2020-10-28 12:00] MattieBelt commented on #241
I'm not an expert on AWS, so wouldn't be the right person to write something in depth.
But I would like point out that I have done an update on the AWS deploy docs regarding the upload config, checkout strapi/strapi#8223.

[2020-10-28 16:37] #236 closed

[2020-10-28 16:39] Mcastres commented on #235
Hey @hasnentaim sorry for the late reply. Are you planning to use our official e-commerce template: https://github.com/strapi/strapi-template-ecommerce ?

Because if yes, you can actually make a starter out of it ;)

[2020-10-28 20:51] malgamves commented on #37
Thank you! I'll give it a review and mention you on the doc should I need any changes

[2020-10-28 20:52] malgamves commented on #193
Hey @pakwai122 this would be a great question for our [forum](https://forum.strapi.io)

[2020-10-28 20:56] malgamves commented on #213
Thanks for being patient on this @narduin . Could you submit the draft on Dropbox Paper? Have a look at this [FAQ](https://www.notion.so/Strapi-Write-for-the-Community-FAQs-b1fa0282d68a4c3e933fdd5e05f61a46) for more details on how to do that. Eager to review this :D

[2020-10-29 04:53] hasnentai commented on #235
@Mcastres I am gonna write mobile app in Flutter
Dose it contains flutter templete ?

[2020-10-29 08:56] hasnentai commented on #235
@Mcastres Now i Understood you are talking about back end ecommerce templete (DB's) right ?

[2020-10-29 09:28] Mcastres commented on #235
Yes!

[2020-10-29 17:39] MenakaBasker commented on #36
@malgamves If it is still open, You can assign it to me. Thanks in advance.

[2020-10-29 18:10] MenakaBasker opened #244 "[SUBMIT] An Overview of Static Site Generator (HUGO)"
I will be creating an overview article of static site generator fundamentals for web developers who are new to JAMstack architecture. The article consist of following ideas on brief.

1.  Introduction to Static site Generators?
2. Installation of HUGO, Creation of sites.
3. Archetypes and Layouts
4. Configuration, variables and  so on.

Thanks,
Menaka Baskar
- [ ] Article
- [ ] Video

**What do yo

[2020-10-29 18:11] MenakaBasker opened #245 "[SUBMIT] An Overview of Static Site Generator (HUGO)"
I will be creating an overview article of static site generator fundamentals for web developers who are new to JAMstack architecture. The article consist of following ideas on brief.

1.  Introduction to Static site Generators?
2. Installation of HUGO, Creation of sites.
3. Archetypes and Layouts
4. Configuration, variables and  so on.

Thanks,
Menaka Baskar
- [x] Article
- [ ] Video

**What do yo

[2020-10-29 18:13] MenakaBasker commented on #245
@Mcastres Kindly assign me this if possible.

[2020-10-30 14:23] Mcastres commented on #245
Oh that would be cool stuff!
Would you integrate HUGO with Strapi? I'm not sure there is an official integration between

[2020-10-30 14:23] #244 closed

[2020-10-30 16:15] FaztTech opened #248 "[SUBMIT] Build a Gallery App using a Strapi API with Angular"
I will be creating a practical Video tutorial on building an Image Gallery App creating an Strapi API and using it with Angular, for the Spanish community.

The Tutorial will be divided into 2 parts
1. The first part will be dedicated to the strapi API configration and connnecting with the angular.
2. The second part will be dedicated to build the front end for Angular App.

I leave an example of

[2020-11-02 10:35] malgamves commented on #36
hey, @MenakaBasker sadly this topic has been taken up already. Feel free pick one "[Looking for Author](https://github.com/strapi/community-content/issues?q=is%3Aissue+is%3Aopen+label%3A%22Looking+for+author%22)"

[2020-11-02 10:46] malgamves commented on #230
Hey @viclotana the Write for the Community Program caters for the Strapi community, this topic submission doesn't match the content in the program. I'll close the issue - feel free to open up another one if you have a topic related to building with Strapi.

[2020-11-02 10:46] #230 closed

[2020-11-02 11:27] pooyaX14 commented on #218
Hi @Mcastres, I would love to write on this topic! Would you kindly assign this to me?

[2020-11-02 11:32] Mcastres commented on #218
Hey @purnimagupta, sure! On what cloud service are you willing to deploy the app?

[2020-11-02 12:00] purnimagupta commented on #218
Hi @Mcastres, I was thinking of choosing between Heroku or AWS. If you have a specific preference, I would like to hear that.

[2020-11-02 12:11] Mcastres commented on #218
I think it would be better to have an AWS video as it might be more complicated than Heroku for people to deploy Strapi on

[2020-11-02 12:18] purnimagupta commented on #218
Okay, I was thinking of writing an article with some visuals/images to begin with. Is video also necessary?

[2020-11-02 12:20] purnimagupta commented on #218
I agree that Heroku might not be as complicated as AWS. Shall I first write an article on Heroku to begin with?

[2020-11-02 12:25] Mcastres commented on #218
Article can be great! No need for a video actually, it really depends on you ;)
If you prefer to start with Heroku then yes :)

[2020-11-02 12:39] purnimagupta commented on #218
Sure, thanks! I'll begin on it right away :)

[2020-11-02 18:57] Quadrisheriff commented on #34
Hi, please assign this topic to me.

[2020-11-02 19:10] Mcastres commented on #34
Sure! Are you using Strapi in your team? Tell me more about it :)

[2020-11-02 20:07] Quadrisheriff commented on #34
I am not using Strapi in my team. I just want to write about how a headless Strapi separates your front-end concerns from your cms, thus improving your developer experience and team productivity.

[2020-11-04 12:24] RazvanCretu commented on #86
Hi @Mcastres

I would like to engage on this one if none is assigned. Is it okay?

[2020-11-04 13:32] Mcastres commented on #86
Sure! Will it be a video or an article?

[2020-11-04 14:28] RazvanCretu commented on #86
I'll make an article.

[2020-11-04 14:31] Mcastres commented on #86
Awesome! Can't wait to review it!

[2020-11-05 11:43] purnimagupta commented on #218
@Mcastres Do we have any preference w.r.t to the app itself, or can it be anything I like? I was thinking of going with something simple like a todo app using ReactJS (because it will be easy to show how to create one using Strapi and deploy it on Heroku). Does that look good, or do we want something else?

[2020-11-05 14:57] derrickmehaffy commented on #166
Hi @davidmauskop

Yup that should be fine, we can work through the PR together if you want to write it as you need now and I can suggest any changes needed. As we are kinda in the process of moving the documentation to it's own repo (and doing a massive rewrite of the docs entirely) I don't have any specific guidelines to give at the moment as we are reworking those as well.

Lets play this one by

[2020-11-05 16:45] Mcastres commented on #218
I think that a little bit more complex example should be better as todo list is a very used example. It would be great to have more and more different examples

[2020-11-05 17:11] davidmauskop commented on #166
Sounds good @derrickmehaffy! I'll open a PR with my draft in the next few days.

[2020-11-05 17:19] purnimagupta commented on #218
Okay. So I have a few ideas around these topics. Let me know if you find anything useful.

- This [app](https://authoring-app.purnimagupta.xyz/) is static at the moment and is deployed at Netlify. Thinking of integrating Strapi into it.

- Another one would be building a simple chat app with Strapi and socket.io, strapi being used to store and retrieve chat messages.

- Last, a simple Image upload

[2020-11-05 17:44] Mcastres commented on #218
I like the second idea :)

[2020-11-05 17:50] purnimagupta commented on #218
Cool! Okay, in-case the article length gets longer than 2000 words, would it make sense to divide it into Part 1 & 2? (I'll know for sure once I begin with the writing)

[2020-11-05 19:35] Mcastres commented on #218
Yes it does :)
Better to split in order to not have big big article

[2020-11-07 00:19] 7alip commented on #123
Hi @ghoshnirmalya!

Thanks for your great work. I couldn't make it work because I don't know what will be the redirect urls in both Google and Strapi sides. I got an error when I click sign in button:

`<my-deployed-frontend-url>/api/auth/callback/google, does not match the ones authorized for the OAuth client.`

[2020-11-07 08:24] hannydevelop commented on #59
Hello @malgamves and @Mcastres can I work on this topic? I could turn in a draft by 16/11/2020

[2020-11-07 18:31] kulbon commented on #123
I also have problems with this tutorial. The biggest one is that Strapi has a token and next-auth has a token also, no matter if you replace it with this code:
`if (isSignIn) {
        const response = await fetch(
          `${process.env.NEXT_PUBLIC_API_URL}/auth/${account.provider}/callback?access_token=${account?.accessToken}`
        );

        const data = await response.json();
        tok

[2020-11-07 19:12] viclotana commented on #39
I would like to take this on

[2020-11-07 20:22] ghoshnirmalya commented on #123
@7alip Can you try adding the following callback urls?

[code]

Let me know if this works for you.

[2020-11-07 20:27] ghoshnirmalya commented on #123
@kulbon Thank you for reporting this issue. I think that you can set the `maxAge` in NextAuth. [Check out their documentation](https://next-auth.js.org/configuration/options#session).

[2020-11-07 20:45] kulbon commented on #123
@ghoshnirmalya I did it already.

// Seconds - How long until an idle session expires and is no longer valid.
  maxAge: 30 * 24 * 60 * 60, // 30 days

I think that IDLE is a keyword. I Set maxAge to 60, if you refresh page once in 60s then token expiration will be renewed.

[2020-11-08 08:43] 7alip commented on #123
@ghoshnirmalya

### 1. mongodb peerOptionalDependencies

![image](https://user-images.githubusercontent.com/22167684/98451043-1a964a00-20f7-11eb-8641-b8f62f4e4cbc.png)

I have noticed that the solution of this problem might be @iaincollins 's [solution](https://github.com/nextauthjs/next-auth/issues/552#issuecomment-671662283) in vercel. But I've also tried it in netlify I got the same screen and

[2020-11-08 09:22] TasTing commented on #123
Is graphql an essential plugin? Next's dynamic routing is one of reason I'd like to use it.

[2020-11-08 09:24] kulbon commented on #123
It is not. You can replace graphql queries with REST API calls

[2020-11-08 16:51] purnimagupta commented on #218
Hey, I'm getting an error while integrating socket with strapi server. I've posted my question on this thread:

[https://github.com/strapi/strapi/discussions/8593](url)

Do you know how do I resolve this?

[2020-11-09 08:03] purnimagupta commented on #218
Hey, It works now :)

[2020-11-09 14:49] samuelarogbonlo commented on #241
I have relevant experience with GCP and may be able to apply that knowledge to work on this. Thanks

[2020-11-09 14:50] samuelarogbonlo commented on #25
Hello, I'd love to work on this article, how does this work?

[2020-11-09 14:52] samuelarogbonlo commented on #204
I am interested in authoring this work for the community; I have some experience working with a booking system. What're the next steps?

[2020-11-09 14:57] samuelarogbonlo opened #249 "[SUBMIT] "Building ML/Deep Learning Model To Detect Plant Diseases with Relation to Strapi""
**My resource**

**My format**

_- Discussing briefly the relationship between ML and DL with its direct connection to predictions and detections
- Discussing types of models to be used in this design
- Detailing the process of gathering the required data for model training
- Discussing how the models were trained; time spent, machine used, software used and other requirements
- Explaining how mob

[2020-11-09 16:47] Mcastres commented on #59
That would be great!
Can you tell me more about what you'll be working on exactly? What is going to be you approach for this?

[2020-11-09 17:12] Mcastres commented on #25
The idea here is to create the simplest tutorial on how to create a simple plugin that can be useful in Strapi.

[2020-11-09 21:44] RazvanCretu commented on #86
Hi @Mcastres ,

This is now done. I've shared the paper with you on Slack so you can review it. Let me know if there are any imporvements needed.

[2020-11-10 09:34] Mcastres commented on #86
Thanks I'll review it today :)

[2020-11-11 10:18] bigpreshy commented on #214
I'd like to make a video on this. I have recently seen it work on a little app that I did

[2020-11-11 10:35] bigpreshy opened #250 "[SUBMIT]Installing Strapi on Heroku/MongoDB Atlas"
**My resource**

I am working an article that shows how to install Strapi on Atlas directly from local instance without getting errors.

The documentation  [here](https://strapi.io/documentation/v3.x/guides/databases.html#mongodb-installation) requires you have mongodb installed locally first. I encountered problems moving from the local Database to atlas... So I decided to work on a step-by-step

[2020-11-11 15:19] hannydevelop commented on #59
This article would explain the best practices the target audience need to consider while creating and managing their Strapi content models. First, I would introduce the target audience to the different model types briefly and would go on to explain when they should use content modeling and the best practices to consider whilst using content modeling.

This article would span the following section:

[2020-11-11 21:26] malgamves commented on #39
hey @viclotana - someone already expressed interest. We'll wait a bit to hear from them before moving forward.

[2020-11-11 21:53] malgamves commented on #59
Sounds good @hannydevelop - looking forward to reading the draft.

[2020-11-15 17:29] hannydevelop commented on #59
Hello @malgamves, @Mcastres I may have to move submitting this article draft to a weeks time, got caught up with something.
Thanks for understanding!

[2020-11-17 13:25] malgamves commented on #101
[Configuring Strapi and MySQL](https://strapi.io/blog/configuring-strapi-mysql-database)

[2020-11-17 13:25] #101 closed

[2020-11-17 13:34] Quadrisheriff commented on #35
Hi, I will like to work on this.

[2020-11-17 21:13] bigpreshy commented on #140
I'd like to write an article on this, as I have hosted strapi on namecheap.com(a shared hosting)

[2020-11-17 22:15] malgamves commented on #59
Hey @hannydevelop - that's alright. Let u know if there's anything we can help with.

[2020-11-18 22:45] alloyking1 commented on #144
Hi @malgamves I can pick this up. Hope to hear from you soon.

[2020-11-18 22:52] alloyking1 commented on #73
Hi, I can write a detailed tutorial on this. @Mcastres

[2020-11-18 22:55] alloyking1 commented on #138
I can build an authentication system with strapi and the facebook log. I can handle this topic

[2020-11-19 15:37] Mcastres commented on #73
That would be quite interesting! Can you give me more details about it?

[2020-11-19 21:33] alloyking1 commented on #73
I could create a simple application with strapi and elastic searching demonstrating complex search features using elastic app search. This feature would be implemented in a strapi application. then write a detailed tutorial on it. Does that work? @Mcastres

[2020-11-23 06:04] filpworker7 opened #251 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2020-11-23 06:08] filpworker7 opened #252 "[SUBMIT]"
**My resource**

**My format**

- [x] Article
- [x] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-11-23 14:17] derrickmehaffy commented on #251
Closing as no content

[2020-11-23 14:17] #251 closed

[2020-11-23 14:17] derrickmehaffy commented on #252
Closing as no content

[2020-11-23 14:17] #252 closed

[2020-11-23 20:24] malgamves commented on #144
Hey @alloyking1 this would be a guide on creating a plugin for Strapi is that still something you'd like to write about?

[2020-11-23 22:14] alloyking1 commented on #144
yes. Definitely.
You can add me to this

On Mon, Nov 23, 2020 at 3:24 PM Daniel Madalitso Phiri <
notifications@github.com> wrote:

[2020-11-23 22:18] malgamves commented on #144
Sure, assigned to you.

Can't wait to see what plugin you create ✨

On Tue, 24 Nov 2020, 00:14 moses, <notifications@github.com> wrote:

[2020-11-23 22:36] alloyking1 commented on #144
Okay. Thanks. Im on it

[2020-11-24 09:46] Mcastres commented on #73
That would be great! Alright, it's yours ;)

[2020-11-24 12:48] GalloDaSballo opened #253 "[SUBMIT] Build a FullStack Ecommerce with Nextjs, Strapi, Magic and Stripe"
**My resource**
This Video is Sponsored by Magic

In this 2 hours and a half video, you'll use NextJs with Strapi, Magic, and Stripe, to build an SEO focused eCommerce store.
The site will load blazingly fast thanks to Static Site Generation.
It will use Strapi as an easy to use CMS for Products and Orders
You'll add Authentication seamlessly with Magic to store user orders and simplify the checko

[2020-11-24 15:35] viveksonar opened #254 "[SUBMIT] Hello I want to Write for Strapi how can I get started"
**My resource**
<!--
Hello 👋

Vivek here I want to write tutorials for Strapi how can i get strated.
Sorry for the dumb question but i coudnt understand the instrution in the website.

**My Articles**
https://medium.com/better-programming/serverless-on-kubernetes-354051a1942e
https://medium.com/better-programming/anatomy-of-kubernetes-cluster-24d88f77cf27
https://medium.com/better-programming/dock

[2020-11-25 02:23] filpworker7 opened #256 "[SUBMIT]"
**My resource**

**My format**

- [ ] Article
- [x] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-11-25 02:23] #256 closed

[2020-11-25 14:10] alloyking1 commented on #144
Hi @malgamves wondering if I can start since this has not been assigned yet?

[2020-11-25 18:35] OssiPesonen opened #257 "[SUBMIT] Replacing Draft.js with custom CKEditor 5 WYSIWYG editor with the media library"
**My format**

- [x] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

# Replacing Draft.js with custom CKEditor 5 WYSIWYG editor with the media library

This tutorial explains how you can replace the default markdown rich text editor with a custom build of CKEditor 5 and get the Media Library working. This tutorial is actually an extension of another one, [How to

[2020-11-25 19:19] OssiPesonen commented on #257
Further testing has revealed that Strapi seems to save all content in markdown, so this should not affect your front-end. I was afraid this affected my front-end, changing the API responses from markdown to HTML.

[2020-11-27 16:14] uF4No opened #259 "[SUBMIT] Easily send emails in Production"
**My resource**

I've noticed that, even though the default email provider in Strapi is very capable for a development environment, a lot of people tries to use it in Production and face issues, like emails being blocked by Gmail/Outlook/Yahoo or the provider not working inside a Docker container. There are multiple plugins for different providers but, when users just want to send emails from thei

[2020-11-30 06:25] antonyjaen opened #260 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2020-11-30 20:52] malgamves commented on #144
It should be all good now @alloyking1

[2020-12-01 18:11] alloyking1 commented on #144
Okay. Thanks for letting me know

On Mon, Nov 30, 2020, 9:52 PM Daniel Madalitso Phiri <
notifications@github.com> wrote:

[2020-12-04 10:29] MattieBelt commented on #259
Hey @uF4No nice article on how to use a different provider then the default one!

I only couldn't help notice you sometimes say 'plugin' instead of 'provider'. As you know there is only one email plugin: `strapi-plugin-email` which has different provider packages/modules (official and community) for different email services. I wouldn't call them plugins to prevent confusion :wink:

Could you for e

[2020-12-04 11:14] touha98 commented on #140
@bigpreshy  I also want to host strapi on namecheap.com. Please tell me how to get started.

[2020-12-04 14:38] uF4No commented on #259
Thanks for your feedback @MattieBelt

I've updated those two phrases. I hope it's easlier to understand now and less confusing. Let me now what you think ✌️

[2020-12-06 22:16] oviecodes commented on #49
Hey @malgamves and @Mcastres , I could take this up if @bigpreshy is not.

[2020-12-06 22:19] oviecodes commented on #218
Hey @Mcastres I could take up this project. I don't know if @purnimagupta is still on it

[2020-12-06 22:29] oviecodes commented on #22
Hey @malgamves and @Mcastres I could take this up.

[2020-12-07 13:35] malgamves commented on #22
Hey @oviecodes - sounds great! I'll assign it to you

[2020-12-07 13:37] malgamves commented on #49
Hey @oviecodes - I just assigned #22 to you. Happy to assign this to you after you're done with that. We'll leave it open for now.

[2020-12-07 17:51] oviecodes commented on #22
Ok, I'll get to building the application.

[2020-12-08 09:23] malgamves commented on #259
This is pretty good! Would you like it added to the [tutorials](https://strapi.io/tutorials)?

[2020-12-08 09:44] uF4No commented on #259
Sure @malgamves happy to share with the community 🤙

[2020-12-09 14:39] purnimagupta commented on #218
Hey, @oviecodes, I've been a bit delayed due to interviews in between. I'm working on it. I'll have an update by next week.

[2020-12-10 04:32] saum14 opened #261 "Waiter Food Order taking to Restaurant POS with Strapi or any Jamstack framework"
Looking for a insight into on How I can build a Project using HTML, JAVAscript, CSS only a Restaurant Dine in Table Order system Which Could do the Following :
1. The POS(Point of Sale ) app can Take Order, Print KOT (Kitchen Order Ticket) , Billing and Accept Payment
2. The Waiter (User as Waiter Role) - Can Take orders at the Table itself and that should refelect in the Main App for Billing
3. W

[2020-12-10 12:16] icebert04 commented on #49
Hello @Mcastres and @malgamves,

I am thinking if you guys can give me a Go-ahead on writing this particular topic (link below)...

https://github.com/strapi/community-content/projects/1#card-36860857

My plan is to build a static site generation using Next.js and Tailwindcss.

Let me know what you think.

[2020-12-10 21:21] GalloDaSballo commented on #253
It seems like this tutorial was already merged but it's not showing on the site

[2020-12-11 02:00] victorcastro opened #262 "Why put absolute URL ?"
https://github.com/strapi/community-content/blob/90c0f2a24cac4bb4862216a98748f6513c8bd1c3/tutorials/code/next-react-hooks-strapi-food-delivery/frontend/pages/_app.js#L30

[2020-12-11 06:03] Mo9a7i commented on #261
You're looking into a system design in general, not an api related issue.

I would recommend you visit a development firm to document down your requirements, however, since you're here, and I'm here typing, I wouldnt waste your and my time for nothing.

You have multi sub systems within your system:
- a database
- api to be consumed by frontends (strapi can help with the above two)
- frontends
  -

[2020-12-11 06:24] saum14 commented on #261
Thanks for the insights... And your valuable time in writing the basic
steps .

I will try to connect with developer to discuss further

On Fri 11 Dec, 2020, 11:33 AM Mohannad Otaibi, <notifications@github.com>
wrote:

[2020-12-14 09:21] cinchanan opened #264 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2020-12-16 14:31] mohmmadmoussa1988 opened #267 "[ISSUE]"
I have a content type which has 2 rich texts :

<img width="1423" alt="Screen Shot 2020-12-16 at 4 28 54 PM" src="https://user-images.githubusercontent.com/37548159/102361366-d3d02580-3fbb-11eb-8877-788c189ac913.png">

When i go to the listing page of the content type -> Configure View -> View

I can show title - created_at- updated_at only,
<img width="1424" alt="Screen Shot 2020-12-16 at 4 30 36

[2020-12-16 15:00] JelmerV-WFC commented on #267
First of all, I don't think this is the place to ask this kind of things. You can't show rich text types in this view, I think if you want to display something in this view use a normal text field instead of rich text.

[2020-12-16 17:08] creativemacmac opened #268 "[REQUEST]"
Would LOOOOOOVE to see a directory site built with strapi and vue3 and nuxt

[2020-12-17 06:10] tko-combinator opened #269 "[SUBMIT]"
**My resource**

**My format**

- [ ] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-12-17 06:24] tko-combinator opened #270 "[SUBMIT]"
**My resource**

**My format**

- [ ] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2020-12-18 05:15] purnimagupta commented on #218
Hi @Mcastres, I've written the code for the backend and frontend and would like to put it up on Github for review? I've begun writing about it, will finish it by this weekend probably.

Shall I push it to my Github repo? Or is there any examples directory within the Strapi repository to which I can make a PR?

[2020-12-18 22:01] mijorus commented on #267
I believe it's design like this because rich text is meant for blog articles and long content, which would be impossible to show in the UI

[2020-12-19 04:35] octalpixel commented on #199
@mascarell I would like to take this up if it's still open.

[2020-12-20 01:12] ketanhm opened #271 "[TOPIC]"
Requesting Tutorial

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2020-12-21 04:09] srinivasaraogurram opened #272 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2020-12-21 04:09] srinivasaraogurram commented on #272
looking to build a portal on AWS or on on prem.

[2020-12-21 04:55] srinivasaraogurram opened #273 "[TOPIC]request for tutorail"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2020-12-21 12:13] oviecodes commented on #22
@malgamves, I'm done with the application, it's hosted [here](https://nuxt-strapi-ecommerce.herokuapp.com/). so what are the next steps to take. I also have the repo on my github.

[2020-12-22 18:18] #271 closed

[2020-12-23 10:58] hgulersen opened #274 "Strapi authentication for Next using next-auth"
Strapi authentication for Next using next-auth

Hi folks. I have been working to get next-auth to work with Strapi for a couple of days and I have succeeded in the end. The only specific article I found over the web is this one, which does not go in depth (https://nirmalyaghosh.com/articles/2020-10-06-authentication-in-next-js-with-strapi-and-next-auth). Would it be helpful if I wrote an in depth

[2020-12-24 11:53] oviecodes commented on #218
hey, @purnimagupta on what platform are you writing about it. I would like to know because I don't know the platform to begin writing on. thanks in advance for the help

[2020-12-24 12:24] purnimagupta commented on #218
Hey, do you mean which platform am I using to write?

I'm using dropbox to draft my content.

Let me know if I understood you correctly.

Best,
Purnima

On Thu, Dec 24, 2020, 5:23 PM Godwin Alexander <notifications@github.com>
wrote:

[2020-12-24 13:13] oviecodes commented on #218
Thanks a lot, @purnimagupta and yes you understood the question correctly. Does dropbox support markdown.

[2020-12-29 10:58] malgamves commented on #49
Let's go with it @icebert04 - is it possible to add page generation from strapi in your tutorial? I'd like the app you build to make new pages in the frontend when we add content to pages in Strapi. What do you think about that?

[2020-12-30 18:14] hannydevelop commented on #163
Hello @malgamves! Can I work on this as my next topic.

[2020-12-30 22:49] piersdeseilligny commented on #140
@bigpreshy any update? I've been struggling to set up strapi on shared hosting

[2021-01-01 03:24] MichelePRC opened #277 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-01-02 15:23] AnandAvati opened #278 "[TOPIC]"
**My Request**

Hi Team,

i want tutorial for Angular with strapi.

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-01-02 16:51] samverrall commented on #140
Also having trouble setting this up, keen to know if anyone has any solutions.

[2021-01-02 19:31] derrickmehaffy commented on #140
We do not support shared hosting environments.

Marking as closed.

[2021-01-02 19:31] #140 closed

[2021-01-02 19:33] #277 closed

[2021-01-04 09:58] alloyking1 commented on #73
Thanks @Mcastres .  Working on it

[2021-01-05 08:38] alloyking1 commented on #144
still working on this. Almost done.

[2021-01-05 14:08] philipszdavido opened #279 "[TOPIC] To-do app using Next.js and Strapi"
I will be creating an article that shows how o build a simple to-do app using next.js and strapi.

- [x] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2021-01-07 04:10] kyle8581 opened #280 "[TRANSLATE]goog"
**The tutorial I want to translate**

**Community vote**
👍 Upvote if you need it too
❤️ I love it!
🚀 I can help you!

[2021-01-07 15:12] Rachid-Elk opened #282 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-01-07 15:13] derrickmehaffy commented on #282
no content, closing

[2021-01-07 15:13] #282 closed

[2021-01-07 18:13] #209 closed

[2021-01-07 18:13] cwray-tech commented on #209
This article has been published! Thank you!

[2021-01-07 18:14] #197 closed

[2021-01-07 18:14] cwray-tech commented on #197
This has been published. Thanks!

[2021-01-08 18:01] RiczCalixto opened #283 "[TOPIC] How to use NextAuth.js with Strapi?"
**My Request**
How to use NextAuth.js with Strapi? If can, is there any example ?

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-01-08 18:44] purnimagupta commented on #218
Hi @Mcastres, this is a [draft ](https://www.dropbox.com/scl/fi/q8gi42xweu6q9jhxlbudg/How-to-Build-a-Real-time-Chat-Forum-using-Strapi-Socket.io-React-and-MongoDB.paper?dl=0&rlkey=6opobbj3wzl72b0b8m6761ojy)of my blog. Please let me know your feedback. I've also submitted it on the slack channel as well.

[2021-01-08 18:46] purnimagupta commented on #218
@oviecodes Dropbox doesn't support markdown as per my knowledge.

[2021-01-08 22:02] dertrockx opened #284 "[ISSUE] Nuxtjs Ecommerce tutorial: mLab has discontinued their addon 'mongolab'"
This isn't much of a technical side ( I think so ). I was following the nuxtjs ecommerce tutorial using apollo, and in part 7 I had troubles deploying my strapi backend to heroku.

The problem was not the code, but the add-on that was used in the tutorial, i.e. the _mongolab:sandbox_. When I first ran the command from the tutorial, this was the result
![image](https://user-images.githubusercontent

[2021-01-10 11:56] purnimagupta commented on #218
@Mcastres  Here is the app link - https://strapi-chat.purnimagupta.com/

[2021-01-11 00:31] icebert04 commented on #49
Hi @malgamves,

I've been working on a Startup recently and probably won't have the time to contribute to writing articles for Strapi at this moment.

Please give my assignment to someone else.

Thanks for your trust and more power to Strapi for the year 2021.

Best,

Francis

[2021-01-14 09:16] purnimagupta commented on #273
@srinivasaraogurram May I know what kind of tutorial are you looking for? Any specific topic that you would like to see?

[2021-01-15 07:28] purnimagupta commented on #138
@alloyking1  Hey, are you working on this? If not, I would like to work on this. Let me know.

[2021-01-15 10:50] purnimagupta commented on #241
@samuelarogbonlo Have you started to work on it? If you haven't, I would like to write a tutorial for it. Let me know.

[2021-01-15 10:54] samuelarogbonlo commented on #241
@purnimagupta You can go ahead.

[2021-01-15 12:39] alloyking1 commented on #138
hi @purnimagupta. Yes. I'm working on it. Thanks

[2021-01-15 12:40] alloyking1 commented on #138
@Mcastres @purnimagupta @malgamves just a little curious as this has not been assigned to me yet.

[2021-01-16 03:49] purnimagupta commented on #241
@malgamves I'm interested in writing this topic. Shall I go ahead with it?

[2021-01-18 15:19] purnimagupta commented on #241
@malgamves I'm waiting for your reply. Please let me know.

[2021-01-20 15:58] Mcastres commented on #185
I'm closing this since we didn't have more details about it

[2021-01-20 15:58] #185 closed

[2021-01-20 16:00] Mcastres commented on #218
Hey @purnimagupta, sorry for no seeing this. I'll review your article and your application during the week :)

[2021-01-20 16:02] Mcastres commented on #33
Hey @zwalkcodes ! Just checking if there is any news about this topic :)

[2021-01-20 16:03] Mcastres commented on #87
Hey @harshcrop, it would be great for the community to have a complete tutorial on how we can create a Gatsby app with
 full authentication using Strapi. Are you still interested by this?

[2021-01-20 16:04] Mcastres commented on #92
Closing this as we don't have much details about it :)

[2021-01-20 16:04] #92 closed

[2021-01-20 16:07] Mcastres commented on #90
Hey @maks-bondarenko, we have an official doc for deploying to [Azure](https://strapi.io/documentation/developer-docs/latest/deployment/azure.html).

Feel free to reopen this if needed.

[2021-01-20 16:07] #90 closed

[2021-01-20 16:08] Mcastres commented on #129
Hey @ghoshnirmalya, just checking if there is any news about this :)

[2021-01-20 16:09] #131 closed

[2021-01-20 16:10] Mcastres commented on #34
Hey @Quadrisheriff, just checking if there is any new about this one :)

[2021-01-20 16:10] Mcastres commented on #69
Hey @krissnawat, just checking if there is any news about this :)

[2021-01-20 16:12] Mcastres commented on #35
Hey @Quadrisheriff, are you not already working on some other articles? If not then confirm me and I'll assign you the topic

[2021-01-20 16:13] Mcastres commented on #39
Hey @narduin, just checking if there is any new about this :)

[2021-01-20 16:13] #51 closed

[2021-01-20 16:16] Mcastres commented on #25
Hey @samuelarogbonlo, sorry for the late reply but you can find all the process info [here](https://www.notion.so/strapi/Strapi-Write-for-the-Community-FAQs-b1fa0282d68a4c3e933fdd5e05f61a46)

[2021-01-20 16:18] #80 closed

[2021-01-20 16:19] Mcastres commented on #89
Closing this for now as the demand doesn't seems to be high. Feel free to reopen of needed

[2021-01-20 16:19] #89 closed

[2021-01-20 16:19] Mcastres commented on #124
Hey @kaseer, just checking if there is any update about this one?

[2021-01-20 16:22] Mcastres commented on #166
Closing this as we now have a official doc for this

[2021-01-20 16:22] #166 closed

[2021-01-20 16:24] Mcastres commented on #204
Hey @samuelarogbonlo, you can learn everything [here](https://www.notion.so/strapi/Strapi-Write-for-the-Community-FAQs-b1fa0282d68a4c3e933fdd5e05f61a46)

Ping me if you are interested and I'll assign you the topic

[2021-01-20 16:27] Mcastres commented on #199
Hey @octalpixel, it seems that this topic is free! Are you still interested?

[2021-01-20 16:27] Mcastres commented on #163
Hey @hannydevelop, are you still interested? Ping me if yes ;)

[2021-01-20 16:29] #178 closed

[2021-01-20 16:30] Mcastres commented on #214
Hey @bigpreshy, are still interested by it? Ping me if yes?

[2021-01-20 16:31] Mcastres commented on #241
Hey @purnimagupta, are you not working on another topic? If not then I'll can assign you on this one.

[2021-01-20 16:33] Mcastres commented on #215
Hey @santoshyadavdev, just checking if there is any news about this one?

[2021-01-20 16:34] #219 closed

[2021-01-20 16:35] Mcastres commented on #59
Hey @hannydevelop, just checking if there is any new about this :)

[2021-01-20 16:36] Mcastres commented on #231
Hey @lxdb, any new about this?

[2021-01-20 16:36] #193 closed

[2021-01-20 16:37] kaseer commented on #124
yes
Thanks and Regards,:
*Qaisar Mehmood*
+92 336 5526 289

On Wed, Jan 20, 2021 at 9:20 PM Maxime Castres <notifications@github.com>
wrote:

[2021-01-20 16:37] Mcastres commented on #238
Hey @hasnentai, any new about this one :)

[2021-01-20 16:37] Mcastres commented on #235
Hey @hasnentai, any new for this one too?

[2021-01-20 16:38] Mcastres commented on #245
Hey @MenakaBasker, is there any news about this topic?

[2021-01-20 16:39] #248 closed

[2021-01-20 16:39] Mcastres commented on #38
Hey @viclotana, any news on this :)

[2021-01-20 16:40] #63 closed

[2021-01-20 16:41] Mcastres commented on #180
I an write explanations and context if you want @AmerAlahmar

[2021-01-20 16:41] Mcastres commented on #144
Great!

[2021-01-20 16:42] Mcastres commented on #22
Hey @oviecodes, I can't see the application. Do you have a draft I can review?

[2021-01-20 16:47] Mcastres commented on #124
How is it going? Should we keep this topic open?

[2021-01-20 16:55] lxdb commented on #231
Hello @Mcastres ,
in the last few months I had many projects so I didn''t have time to create this tutorial. But now I will try to record it within the next month.

[2021-01-20 17:02] Mcastres commented on #231
Great!

[2021-01-20 17:10] purnimagupta commented on #241
@Mcastres I was working on this topic https://github.com/strapi/community-content/issues/218. It is done, unless there are any review comments to address.

So meanwhile I thought of working on this one. Video is fine with me, although it will be my first time. Any tools that you recommend?

[2021-01-20 17:31] Mcastres commented on #241
I'll review it during the week. Ok then you can start to work on this one :)
Maybe you can use OBS for recording your computer ! Great tool

[2021-01-20 17:46] ghoshnirmalya commented on #129
@Mcastres I'm waiting for [this article](https://github.com/strapi/community-content/issues/123) to be published first and then work on Learning Management System.

[2021-01-20 17:52] Mcastres commented on #129
Got it!

[2021-01-20 18:29] bigpreshy commented on #214
Yes... I am still interested.

[2021-01-20 19:42] oviecodes commented on #22
Hey @Mcastres, Here's the application https://nuxt-strapi-ecommerce.herokuapp.com/
and I've got a dropbox draft here.
https://www.dropbox.com/scl/fi/r17jzjf4qs4mxed8xfjpl/Building-An-E-commerce-Store-with-Nuxt.js-and-Strapi.paper?dl=0&rlkey=jceehmwc49xm19c0qpaejjkzc

[2021-01-20 19:46] oviecodes commented on #22
Hey @Mcastres , could you give me your email, I've got another article on authentication with Nuxt and strapi using the @nuxtjs/strapi module. it's a nice article. I and @malgamves , were working on the review but I haven't heard from him in a while, is everything ok with him?

[2021-01-21 03:28] kaseer commented on #124
yes i would
Thanks and Regards,:
*Qaisar Mehmood*
+92 336 5526 289

On Wed, Jan 20, 2021 at 9:47 PM Maxime Castres <notifications@github.com>
wrote:

[2021-01-21 14:05] Mcastres commented on #214
Alright, let me assign it to you then :)

[2021-01-21 14:07] Mcastres commented on #22
Yes everything is ok with him don't worry. We are a little bit under water ahah. Contact me at maxime.castres@strapi.io :)

I'll review your article this week :)

[2021-01-21 14:11] bigpreshy commented on #214
Okay...
Can we continue on Slack?

[2021-01-21 14:34] Mcastres commented on #214
Sure!

[2021-01-23 10:40] Qodestackr opened #287 "Getting started with Chakra UI in Nextjs"
**My resource**

**My format**

- [x] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2021-01-23 10:41] ReactifyStudio commented on #287
@kilinkis I will be using Chakra UI and Next.js to build an authentication with Firebase

[2021-01-25 10:36] Umoren commented on #217
Hi @Mcastres, do you have any possible topic ideas?
I've been working with Arduino for a while and I will love to work on this.

[2021-01-25 15:40] Mcastres commented on #217
Humm not really... I never did this kind of project so my inspiration is kind of limited :)
Maybe you have some ideas on your side?

[2021-01-26 08:15] frode commented on #90
@simonerlandsen Would you like to share more details of your setup? No other changes to the Azure App Service Linux service?

[2021-01-26 09:41] hashwanth12 opened #288 "Authentication"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-01-26 09:58] hannydevelop commented on #163
Hello @Mcastres! Sure, I'm still interested.

[2021-01-26 12:31] Umoren commented on #217
Okay @Mcastres
So, I can use Arduino with Node, Express, and Johhny-Five to display something on an LCD display.
I can then see if it's possible to use strapi as the information source.
Yeah this seems like a fun challenge to work on

[2021-01-27 10:18] Mcastres commented on #163
Great! So what is the plan? Did you started to work on it already?

[2021-01-27 10:22] Mcastres commented on #217
I like this idea, the goal of this tutorial is to demonstrate that Strapi can totally be a source of data for an electronic project.
No tutorial like this have been created yet so it must explains what Strapi is, how it works and why/how we can use it doing electronics (talking about API basically).

[2021-01-27 16:06] Umoren commented on #217
That's sounds great.
I can work on that

On Wed, Jan 27, 2021 at 11:22 AM Maxime Castres <notifications@github.com>
wrote:

--
<https://about.me/umorensamuel?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>
Samuel Umoren
about.me/umorensamuel
<https://about.me/umorensamuel?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_ap

[2021-01-27 16:07] Umoren commented on #217
That sounds great.
I could work on it.

On Wed, Jan 27, 2021 at 11:22 AM Maxime Castres <notifications@github.com>
wrote:

--
<https://about.me/umorensamuel?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>
Samuel Umoren
about.me/umorensamuel
<https://about.me/umorensamuel?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api

[2021-01-27 16:43] Mcastres commented on #217
Great! I'll assign it to you then :)

[2021-01-28 14:50] bigpreshy commented on #250
Here
[https://gist.github.com/bigpreshy/82d20a8228e17e3e0c6ced01ea4d48ec](url)

[2021-01-28 14:50] #250 closed

[2021-01-29 20:58] derrickmehaffy commented on #272
closing as template not followed

[2021-01-29 20:58] #272 closed

[2021-01-29 20:58] derrickmehaffy commented on #270
closing as no content

[2021-01-29 20:58] #270 closed

[2021-01-29 20:58] derrickmehaffy commented on #269
closing as no content

[2021-01-29 20:58] #269 closed

[2021-01-29 20:59] derrickmehaffy commented on #268
Please follow the templates

[2021-01-29 20:59] #268 closed

[2021-01-29 20:59] derrickmehaffy commented on #267
Issues should be directed towards https://github.com/strapi/strapi closing

[2021-01-29 20:59] #267 closed

[2021-01-29 20:59] derrickmehaffy commented on #264
closing as no content

[2021-01-29 20:59] #264 closed

[2021-01-29 20:59] derrickmehaffy commented on #260
closing as no content

[2021-01-29 20:59] #260 closed

[2021-01-29 21:00] derrickmehaffy commented on #278
closing as no content

[2021-01-29 21:00] #278 closed

[2021-01-29 21:08] chloesun opened #289 "[TOPIC] How to implement search function with React and Strapi"
**My Request**
It would be great to see some examples of implementing search with React and Strapi
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-02-01 15:23] malgamves commented on #288
Hello, what authentication would you like to see? We have some examples here with [Nuxt](https://strapi.io/blog/strapi-authentication-in-nuxt-js) and [Next](https://strapi.io/blog/user-authentication-in-next-js-with-strapi)

[2021-02-01 15:24] malgamves commented on #287
Hello, where would you be using Strapi in the architecture of your application?

[2021-02-01 15:27] malgamves commented on #283
We just published this article on User Auth using [NextAuth](https://strapi.io/blog/user-authentication-in-next-js-with-strapi) @RiczCalixto

[2021-02-01 15:27] #283 closed

[2021-02-01 15:28] malgamves commented on #280
Hello @kyle8581 could elaborate on what you'd like?

[2021-02-01 15:29] malgamves commented on #279
Hello, @philipszdavido could you tell me more about the features that this app will have?

[2021-02-01 15:31] Mcastres commented on #284
Thanks @dertrockx for mentioning this. We are working on updating our outdated tutorials. Can you create an 'Update a content' issue mentioning this, using the outdated resource label and closing this one?
Thanks!

[2021-02-01 15:34] malgamves commented on #274
Hey @hgulersen we went a step ahead with that article and updated it [here](https://strapi.io/blog/user-authentication-in-next-js-with-strapi) - how different would yours be?

I'd be very interested in seeing a practical implementation of Auth in a Next App where content is 'gated' - a recipe book? chat forum? job board? What do you think?

[2021-02-01 15:37] kyle8581 commented on #280
oops...I don't really know why this issue has opened...I've never opened issue on your repo. Sorry bro I think my account is hacked by someone

[2021-02-01 15:37] #280 closed

[2021-02-01 15:37] malgamves commented on #262
Hey @victorcastro could you elaborate on what you need?

[2021-02-01 15:57] malgamves commented on #259
Hey @uF4No did you get a chance to submit this?

[2021-02-01 15:57] malgamves commented on #257
Hey @OssiPesonen could you look at our [FAQs ](https://www.notion.so/Strapi-Write-for-the-Community-FAQs-b1fa0282d68a4c3e933fdd5e05f61a46)for how to submit content once approved.

A quick review, I'd love to see some pictures (screenshots) of the implemented editor as well as GIFs of adding entries and possibly some description of how that data is delivered via the API should that be different.

[2021-02-01 15:59] malgamves commented on #254
Hello @viveksonar - care to share more on what resource you'd like?

[2021-02-01 15:59] malgamves commented on #253
We'll be fixing this soon 👍

[2021-02-01 16:51] malgamves commented on #249
Hello @samuelarogbonlo I'm having trouble seeing where Strapi fits here. How will you use Strapi in this application?

[2021-02-01 16:54] malgamves commented on #231
Hey @lxdb just checking in for Maxime here, any progress on the video?

[2021-02-01 16:56] malgamves commented on #229
Hey @viclotana sadly this doesn't fir the requirements for articles we'll be publishing going forward. If you have any other ideas around Strapi or requests, feel free to open an issue in the repo.

[2021-02-01 16:56] #229 closed

[2021-02-01 16:58] malgamves commented on #237
Hey @Arcktosh this seems like a topic for suited for our [forum](https:/forum.strapi.io) - closing this issue.

[2021-02-01 16:58] #237 closed

[2021-02-01 16:59] malgamves commented on #228
Hey @viclotana sadly this doesn't fir the requirements for articles we'll be publishing going forward. If you have any other ideas around Strapi or requests, feel free to open an issue in the repo.

Happy to talk about building full stack react applications with any of the UI libraries you were going to put in the proposed blog post.

[2021-02-01 16:59] #228 closed

[2021-02-01 17:11] malgamves commented on #227
Hey @viclotana sadly this doesn't fit the requirements for articles we'll be publishing going forward. If you have any other ideas around Strapi or requests, feel free to open an issue in the repo.

[2021-02-01 17:11] #227 closed

[2021-02-01 17:11] #222 closed

[2021-02-01 17:43] jumamiller opened #291 "[SUBMIT] Getting Started WIth Laravel Events"
Laravel's events provide a simple observer pattern implementation, allowing you to subscribe and listen for various events that occur within your application.

**My format**

- [x] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2021-02-01 18:17] lxdb commented on #231
Hello @malgamves, I'm currently writing the script for the video.
I'll probably record something this or next week.

[2021-02-01 18:19] malgamves commented on #213
Hey @narduin , any progress on this?

[2021-02-01 18:51] ReactifyStudio commented on #287
Hey I didn't know that this blogs are actually tied to the strapi products.
Maybe I need to change my article?

On Mon, Feb 1, 2021, 18:24 Daniel Madalitso Phiri <notifications@github.com>
wrote:

[2021-02-01 18:58] narduin commented on #213
Hi @malgamves, I have not been contacted by your "Solutions Engineer Derrick" since your last email so no progress 😬

[2021-02-01 19:05] narduin commented on #39
I'm really sorry, I missed this reply!
I started working on a draft but I currently can't progress until my work schedule clears a bit.

If @viclotana is still interested, we could work together on this. Or is it not how you prefer to do things?

[2021-02-01 20:21] hgulersen commented on #274
Hey @malgamves!
I took another look at the linked article. I think it's very helpful but there's a big emphasis on OAuth rather than directly signing in as a strapi user. I think this is a common use case, especially when it comes to storing the strapi jwt token and using it to fetch gated data as you mentioned. In my project I embedded strapi's jwt in next-auth's own jwt and stored it on the serv

[2021-02-02 01:48] ezesundayeze commented on #289
I am interested in making the article for this.

[2021-02-02 10:46] MattieBelt opened #292 "[SUBMIT] Implement and use Aloglia search"
**My resource**

A tutorial on how to implement and use [Aloglia](https://www.algolia.com/) search with an Strapi application using lifecycle hooks and [strapi-hook-algolia](https://www.npmjs.com/package/strapi-hook-algolia).

- [x] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
:+1: I like it
🚀 I can help you!

If you guys like the idea, I would love to work on a tutorial myself.

[2021-02-02 19:09] paulodhiambo opened #299 "Getting started with strapi API with Flutter"
**My Request**
Strapi is majorly focusing on JAM stack but other developers i.e. mobile app developers also would like to integrate with the Strapi API from the mobile platforms.

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-02-03 01:52] dertrockx commented on #284
Will do. Thank you!

[2021-02-03 01:52] #284 closed

[2021-02-03 01:53] dertrockx opened #300 "[UPDATE OUTDATED CONTENT] Nuxtjs Ecommerce tutorial: mLab has discontinued their addon 'mongolab'"
I'm mentioning [this issue](https://github.com/strapi/community-content/issues/284) here.

[2021-02-03 03:55] javakian opened #301 "[REQUEST] Auth0 Provider and Strapi Tutorial"
Interested in logging into
Next.js using Auth0 for google, Twitter, and Facebook.

[2021-02-03 19:05] purnimagupta commented on #241
@Mcastres, I'm following Strapi AWS [guide](https://strapi.io/documentation/developer-docs/latest/deployment/amazon-aws.html). Have few questions regarding it.

The doc mentions that the steps are similar for all the databases(Postgres, MySQL, MongoDB, PostgreSQL, MariaDB, SQLite) which Strapi supports.

But RDS is a relational database and doesn't support MongoDB. So does this mean that this tuto

[2021-02-04 10:01] malgamves commented on #241
May @derrickmehaffy can offer some clarity here.

[2021-02-04 13:20] viveksonar commented on #254
Anything that is targeted toward beginner and intermediate level of audience

[2021-02-04 17:26] asotog opened #302 "[SUBMIT] Jamstack with Scully.io"
**My resource**
Hi there, [Scully.io](https://scully.io/) is quite a new library for JAMStack, right now seems there is nothing similar for angular, you can generate static pages, but keep dynamic once rendered in the browser, so the pages can get hydrated any time. And deploy the app to [Netlify](http://netlify.com/)

**My format**

- [x] Article
- [ ] Video

**What do you guy's think?**
❤️ I lov

[2021-02-05 13:20] #299 closed

[2021-02-05 16:28] derrickmehaffy commented on #241
The AWS documentation needs to be refactored.

@purnimagupta we do only support MongoDB directly and not AWS's DocumentDB (or any cloud proprietary database such as AWS Aurora, and I think Azure has a few as well).

Due to MongoDB's new license system, cloud providers are not allowed to offer a managed version of MongoDB so you would need to use Atlas (as that is MongoDB's own cloud managed databa

[2021-02-08 03:10] oviecodes commented on #49
Hey @malgamves , I'd like to take this up immediately after the social auth tutorial is done.

[2021-02-08 08:34] purnimagupta commented on #241
@derrickmehaffy

Okay. As I understand it, if someone wants a self-managed MongoDB they will have to use MongoDB Atlas. Is that correct?

So does AWS offers any service for MongoDB which is not self-managed and if needed, can be used as an alternative to MongoDB Atlas? I'm asking this so that I could clear this confusion in my video which many readers may have.

Also, what does the refactoring inv

[2021-02-08 13:12] derrickmehaffy commented on #241
You can easily run a self managed database on an EC2 instance.

If you want my recommendation though, skip Mongo entirely and go with either self managed PistgreSQL or AWS RDS.

(Refactoring is needed all over, it just hasn't been reviewed and the current step breakdown is just too complex or easy to follow)

[2021-02-08 15:27] malgamves commented on #49
Hey @oviecodes We'll keep this open for now just in case someone else wants to have a go at it. Happy to hand it to you then no one takes it up.

[2021-02-08 15:35] malgamves commented on #301
Hey @Heziode you added the Auth0 provider func. in this [issue](https://github.com/strapi/strapi/pull/8362) - would you mind writing up a tutorial on it and how you use it?

[2021-02-08 15:53] Heziode commented on #301
Hi,

I added Auth0 into the documentation: strapi/documentation#81

Did you mean, create a small application in [./tutorials/code](https://github.com/strapi/community-content/tree/master/tutorials/code) to show how to use it ?

[2021-02-08 16:00] malgamves commented on #301
Hey @Heziode Yes, that and writing about the tutorial building process and publishing it to the Strapi Blog.

[2021-02-08 16:07] Heziode commented on #301
The documentation i wrote give example of configuration based on an older version of [login-react](https://github.com/strapi/strapi-examples/tree/master/login-react).

You can take a look of my archived version here (frontend part): https://github.com/Heziode/strapi-auth0-example

---

I do not use Auth0 anymore, and I currently do not have the time to write about it for now.

[2021-02-08 17:12] malgamves commented on #301
Thanks for sharing this! No worries, I'll leave this open so someone can take it up.

[2021-02-08 17:17] malgamves commented on #123
This was published - [User Authentication in Next.js with Strapi](https://strapi.io/blog/user-authentication-in-next-js-with-strapi)

[2021-02-08 17:17] #123 closed

[2021-02-08 17:18] malgamves commented on #86
This was published - [Adding Cloudinary support to your Strapi Application](https://strapi.io/blog/adding-cloudinary-support-to-your-strapi-application)

[2021-02-08 17:18] #86 closed

[2021-02-08 17:19] malgamves commented on #37
This was published - [What is the Jamstack?](https://strapi.io/blog/what-is-the-jamstack)

[2021-02-08 17:19] #37 closed

[2021-02-08 17:19] #55 closed

[2021-02-08 17:21] malgamves commented on #36
This was published - [Jamstack in 2021](https://strapi.io/blog/what-is-the-jamstack)

[2021-02-08 17:21] #36 closed

[2021-02-08 17:23] malgamves commented on #87
Hey @harshil1712 - any updates on this? Pretty exciting!

[2021-02-08 17:25] malgamves commented on #139
Would you like to take this on @pfeilbr ?

Not sure if you're still interested

[2021-02-08 17:33] malgamves commented on #124
This was published - [How to Build a Real-time Chat Forum using Strapi, Socket.io, React and MongoDB](https://strapi.io/blog/how-to-build-a-real-time-chat-forum-using-strapi-socket-io-react-and-mongo-db)

[2021-02-08 17:33] #124 closed

[2021-02-08 17:39] malgamves commented on #274
This is an interesting take! Do you think you can send me a demo app that shows this functionality?

I really like the book idea to!

[2021-02-08 22:32] philipszdavido commented on #279
The features will be:

- Create a to-do lists
- Edit a to-do item (CRUD)

[2021-02-08 23:40] elhe26 commented on #167
Hi @remidej. Any updates regarding this topic? our company is going to rebuild the corporate site using nuxt + strapi and we want to know if you guys have this template before we start looking into your Next starter.

[2021-02-09 14:32] remidej commented on #167
Hey @elhe26

We have no short-term plan for a Vue corporate starter, so don't let this hold you back.

But you can still create a Strapi backend that's set up for a corporate site:

[code]

[2021-02-09 15:03] asotog commented on #302
@malgamves how is the process, can I write for this?

[2021-02-09 18:21] purnimagupta commented on #241
@Mcastres

Strapi is deployed to AWS EC2. I have used Strapi S3 provider and AWS RDS Service as requested in Github issue.
I can see that images are uploaded in S3 bucket, and I can also see collection being created into my AWS RDS postgresql database
10:53
Now, I can also try adding custom domain to it via Route53. I already have my website running on namecheap servers and I can connect it with A

[2021-02-09 18:58] Mcastres commented on #241
Hey @purnimagupta !

Yes it will certainly be enough content to make a video!
But installing Strapi on a EC2 requires to set up NGINX in the process no?

However, it would be interesting to demonstrate this process IMO.

[2021-02-09 23:08] alloyking1 commented on #144
Hello @Mcastres @malgamves. The draft for this is ready. Here is a link to it on dropbox paper  [here](https://www.dropbox.com/scl/fi/7jul7978a4m7d2a8xkz83/Build-a-Strapi-custom-plugin.paper?dl=0&rlkey=vejistnr0d4wy3mx3pdd2rxqb)

[2021-02-10 07:37] purnimagupta commented on #241
@Mcastres I don't think so that one would need to set up Ngnix if they just want to deploy the app.

Though, I haven't used it before. IMO, either Ngnix/AWS Elastic Load Balancer could be used to distribute the incoming application traffic to multiple EC2 instances that are running. So request would come via load balancers/Ngnix instead of EC2.

And to set up a custom domain name to your EC2 URL,

[2021-02-10 09:11] Mcastres commented on #241
Alright, that would be great then!
That's sounds good to me :)

[2021-02-10 14:03] simonerlandsen commented on #90
@frode actually, come to think of it, I am using a server.js file as starting point as apposed to something like `npm run strapi`

server.js
[code]

It is there from a time where I wanted to make an earlier version of Strapi run on a windows azure web app and picked it up from here: https://github.com/youkou2/Strapi-On-Azure-WebApp

I would have thought that strapi v3 would run without it, but if

[2021-02-10 14:45] malgamves commented on #144
Thanks, will have a look and make comments where necessary.

[2021-02-10 14:48] malgamves commented on #302
Hey @asotog - the process is highlighted [here](https://www.notion.so/strapi/Strapi-Write-for-the-Community-FAQs-b1fa0282d68a4c3e933fdd5e05f61a46). Let me know if you have any questions.

[2021-02-10 14:53] alloyking1 commented on #144
Okay. Thank you. Please do. I'll be waiting for your response.

On Wed, Feb 10, 2021, 3:46 PM Daniel Madalitso Phiri <
notifications@github.com> wrote:

[2021-02-10 15:04] asotog commented on #302
All right thanks @malgamves will work take care of it

[2021-02-11 14:31] Pablo-Aldana opened #304 "[SUBMIT] How to create a Multiplatform native app using Strapi and Flutter in less than an hour"
**My resource**

How to create a Multiplatform native app using Strapi and Flutter in less than an hour. Contains a brief introduction of using Strapi and connecting it to Flutter.
**My format**

- [Article](https://pablo.aldana.me/how-to-build-a-multi-platform-native-app-in-less-than-an-hour/)

**What do you all think?**
❤️ I love it!
🚀 I can help you!

[2021-02-13 18:01] alloyking1 commented on #138
hi, @Mcastres @malgamves . The draft for this article is ready. You can find a link to it on dropbox [here](https://www.dropbox.com/scl/fi/6apwae2y5yng4bd2xsm7o/Facebook-Login-with-Strapi.paper?dl=0&rlkey=dzp1gmkezn9j2uklmlnimf1yu).

[2021-02-14 17:20] osmarpb97 commented on #274
@malgamves I could do the same yesterday in a simple app if you don't have an answer I can write the article :D

[2021-02-14 18:05] hgulersen commented on #274
Hey @malgamves. I'm in the process of writing the app and the draft, hopefully I can send the first draft by the end of next week. Hope that works!

[2021-02-15 12:11] alloyking1 commented on #301
Hi @malgamves @Heziode . Interesting topic. I would like to write on this one or would I say finish up what @javakian started.

[2021-02-15 12:52] malgamves commented on #274
Hey @hgulersen thanks for the update. Can't wait to have a look.

Also, @osmarpb97 I appreciate you coming and wanting to write. Do you think you could write that up for React? Maybe a Recipe App?

[2021-02-15 12:53] malgamves commented on #138
Thanks, having a look.

[2021-02-15 12:54] malgamves commented on #301
I like this idea. Let's make the Auth0 Support part of the application. I would like you to do something like a note sharing app and have that working with the Auth0 provider.

[2021-02-15 12:56] alloyking1 commented on #204
@samuelarogbonlo . This is an interesting topic. I can take this up @samuelarogbonlo has not started working on it already.

[2021-02-15 13:03] alloyking1 commented on #49
I can write on this if no one else is working on it. @malgamves

[2021-02-15 13:19] malgamves commented on #49
Hey @alloyking1 - you're currently working on a few. If no one get this is a few weeks we can assign it to you :D

[2021-02-15 13:24] malgamves commented on #304
Hey @Pablo-Aldana This is a really good article. Would you be interesting in writing a couple Flutter related articles for the Strapi blog?

Also, you need to follow [this ](https://github.com/strapi/community-content#Tutorials) to submit articles to [tutorials](https://strapi.io/tutorials).

[2021-02-15 14:17] osmarpb97 commented on #274
@malgamves  The problem is this auth uses server side rendering :( and next become important.

[2021-02-15 14:29] alloyking1 commented on #49
Okay. I'll hold on till then. Thanks

On Mon, Feb 15, 2021 at 8:19 AM Daniel Madalitso Phiri <
notifications@github.com> wrote:

[2021-02-16 08:29] malgamves commented on #274
Ahh I see, what about the useState hook as they did [here](https://www.digitalocean.com/community/tutorials/how-to-add-login-authentication-to-react-applications)? @osmarpb97

[2021-02-16 14:40] derrickmehaffy commented on #241
You will if you want SSL, we don't handle SSL natively in Strapi and to properly run SSL the application would need to bind on Port 443, which unless ELB can remap ports (forget off the top of my head) it's not a good idea to run a node application as root, which is required on any port below 1024 in Linux.

Subdomains you might be able to bypass the Nginx requirement if the ELB can handle the por

[2021-02-17 08:57] alloyking1 commented on #301
Sounds good. On it.

[2021-02-18 08:06] malgamves opened #305 "[TOPIC] Implementing Previews with Next Applications using a Strapi backend"
I'd like to see a post that shows how to use the Next preview feature for applications powered by Strapi

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-02-18 08:07] malgamves opened #306 "[TOPIC] Implementing Previews with Nuxt Applications using a Strapi backend"
**My Request**

I'd like to see an article showing how to use the Nuxt preview feature for a web app powered by Strapi

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-02-18 08:23] malgamves opened #307 "[TOPIC] A Beginners Guide to Authentication and Authorization in Strapi"
**My Request**

I'd like to see a guide that details how authentication and authorization work in Strapi.

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-02-18 16:25] lxdb commented on #231
Hello everyone here,
I'm sorry that I not told this earlier, but I had some problems with my filesystem last weekend and lost everything I prepared for this tutorial (YES, I didn't have a backup). So it will take some time for me to create everything again. Maybe I will be ready in a week or a bit later.
Again, sorry😬

[2021-02-18 17:26] Mcastres commented on #231
Hello @lxdb, it's totally fine, don't worry.
I hope you haven't lost any important documents :)

[2021-02-18 23:33] zig-i2p opened #308 "[SUBMIT]"
**My resource**

**My format**

- [ ] Article
- [ ] Video

**What do you all think?**
❤️ I love it!
🚀 I can help you!

[2021-02-19 17:38] #308 closed

[2021-02-19 21:46] chloesun opened #309 "[TOPIC] Tutorial on Strapi connecting to an existing database to populate data in the Strapi Admin"
**My Request**
When you have an established database (for example PostgreSQL) to work with, how to retrieve certain fields from the database and map the data based on your content types definitions to populate data records in Strapi Admin. Strapi becomes the front-end for that database.

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-02-22 09:47] gsoftconsulting01 opened #310 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-02-22 09:47] #310 closed

[2021-02-23 05:48] hannydevelop commented on #163
Hello @Mcastres I'm working on it, the piece is almost ready.

[2021-02-24 16:24] Mcastres commented on #163
Awesome!

[2021-02-24 19:25] Kaperskyguru commented on #307
I will love to work on this topic

[2021-02-25 15:41] malgamves commented on #307
Sure @Kaperskyguru could you share a brief outline of how you'll approach the article?

[2021-02-26 13:48] Kaperskyguru commented on #307
Hello @malgamves,

Below is my outline for this article.

1. Introduction

2. What is Authentication?
  a. Popular Authentication Methods

3. What is Authorization?
  a. Popular Authorization methods

4. Explore different authentication methods support by Strapi.

5. Authenticate a Strapi User using JWT
   a. Create Token Content Types.
   b. Validate the tokens.
   c. Sending Request as an Authen

[2021-02-26 14:12] malgamves commented on #307
This looks really good @Kaperskyguru You can go ahead and get started. When do you think you can send over a draft?

[2021-02-26 14:15] malgamves commented on #309
Great topic! Technically this is possible with some scripting (definitely not novel) correct me if I'm wrong @derrickmehaffy

[2021-02-26 14:19] malgamves commented on #302
Hey @asotog How is this going?

[2021-02-26 14:21] asotog commented on #302
Hi @malgamves, actually I'm wrapping up some stuff, almost done, I can send you the dropbox paper on Monday

[2021-02-26 14:24] malgamves commented on #289
Hey @ezesundayeze could you give me an outline of the article?? Would love to see how you plan on making this flow.

[2021-02-26 14:24] #288 closed

[2021-02-26 14:27] malgamves commented on #279
Great! You can go ahead with it. Do add delete functionality too! @philipszdavido when do you think you'll have a draft ready?

[2021-02-26 14:27] #273 closed

[2021-02-26 14:30] #59 closed

[2021-02-26 14:34] malgamves commented on #274
Hey @hgulersen any luck with this? When do you think you can have a draft out?

[2021-02-26 14:42] philipszdavido commented on #279
On Monday.

[2021-02-26 14:44] #22 closed

[2021-02-26 14:48] malgamves commented on #96
This was sort of covered in this [article](https://strapi.io/blog/how-to-build-a-real-time-chat-forum-using-strapi-socket-io-react-and-mongo-db) so I'll close this.

[2021-02-26 14:48] #96 closed

[2021-02-26 14:57] derrickmehaffy commented on #309
Possible yes, but also complicated as you can't directly infer the Strapi field type just based on the database column type.

I didn't quite understand exactly what you are trying to do though. Is it just the data or you want to build a model around an existing table in a DB?

[2021-02-26 15:41] osmarpb97 commented on #274
@malgamves I have a beautiful codebase of this. If you want I can share that codebase and write some draft document today.

[2021-02-26 20:04] hgulersen commented on #274
Hi @malgamves, if @osmarpb97 already has it ready then I don't want to be the botteneck here. I'm a bit tight on time these days, it doesn't matter to me where the doc comes from as long as the community benefits from it as soon as possible.

[2021-02-27 10:56] Kaperskyguru commented on #307
Thanks @malgamves,

I will send in my first draft on or before 10th March.

Thanks,

[2021-02-27 23:37] asotog commented on #302
Hi @malgamves I just shared with daniel.phiri@strapi.io the draft of the post, should I share with you too ?

[2021-02-27 23:52] asotog commented on #302
Ah nevermind just noticed you are Daniel 👍

[2021-02-28 07:31] ahmadzahoor555 opened #312 "[SUBMIT]"
**My resource**

**My format**

- [ ] Article
- [->] Video

**What do you all think?**
❤️ I love it!
🚀 I can help you!

[2021-03-01 13:03] malgamves commented on #302
Just seen it, will review!!

[2021-03-01 13:03] malgamves commented on #307
Awesome!!

[2021-03-01 13:07] malgamves commented on #274
hey @hgulersen thanks for the heads up. I'm happy to let @osmarpb97 take over it.. one thing though. Please follow the [FAQ ](https://www.notion.so/strapi/Strapi-Write-for-the-Community-FAQ-b1fa0282d68a4c3e933fdd5e05f61a46) when putting together your article.

[2021-03-01 19:46] Shjani49 opened #313 "[REQUEST] Create Registration and Login(authentication) with Vue.js and Strapi"

[2021-03-02 14:15] asotog commented on #302
hi Daniel, appreciate your feedback that was useful, thanks man, made the modifications already, please check if you get chance

[2021-03-03 05:27] quebone opened #318 "Error in query for a single article"
Hello

The tutorial [Build a blog with React, Strapi and Apollo](https://strapi.io/blog/build-a-blog-with-react-strapi-and-apollo) has an error in the graphql query that fetches a single article (`./src/queries/article/article.js`).

Instead of fetching a single article, it fetches all of the articles (the query is exactly the same as `./src/queries/article/articles.js`)

Regards,
Carles

[2021-03-03 09:19] Mcastres commented on #318
Thanks @quebone, I just fixed it :)

[2021-03-03 09:19] #318 closed

[2021-03-03 14:09] agustif commented on #289
Hey guys, since there's an official plugin coming up from strapi, would be nice to have a tutorial about using it.

I wasn't able to test it (Missing admin login credentials for playground, and the ln -s thing doesn't seem to work for me, or at least I still don't appreciate any difference from running my strapi instance with the meilisearch plugin aliased..)

Anyway subscribing to this issue

[2021-03-03 15:10] philipszdavido commented on #279
Hello @malgamves I am done with the article. How can I submit it?
Sorry for the delay.

[2021-03-04 19:37] hannydevelop commented on #49
Hello @malgamves is this still open? I'll love to work on it if it's still open. I finished #163 few days ago.

[2021-03-05 14:07] chloesun commented on #289
@agustif Can you share more info about the official plugin? Is there a GitHub repo or some guides for that?

[2021-03-05 14:21] asotog commented on #302
@malgamves applied the latest updates, please let me know if there is any other modification, thanx in advance

[2021-03-05 14:40] agustif commented on #289
Sure here: https://github.com/meilisearch/strapi-plugin-meilisearch/

I'm subscribed to it too, it seems it's a WIP and when it's ready for prime time it will be packaged into npm. I couldn't run it myself yet (don't know playground auth for admin, and can't make it run with my project yet, doesn't do much after aliasing with ln-s)

[2021-03-05 19:53] malithmcr opened #319 "[SUBMIT]How To Setup Strapi using Docker"
**My resource**
A tutorial about How to setup Strapi using Docker and Mongo DB Atlas.

Video Link: https://www.youtube.com/watch?v=oEtj0Vpmgro&t=255s

**My format**

- [ ] Article
- [x] Video

**What do you all think?**
❤️ I love it!
🚀 I can help you!

[2021-03-09 08:37] bigpreshy opened #320 "[TOPIC] Using and Creating Services in Strapi"
**My Request**

I'd like to write an article on this @malgamves
**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-03-09 13:42] malgamves commented on #279
hey @philipszdavido our [FAQs](https://www.notion.so/Strapi-Write-for-the-Community-FAQs-b1fa0282d68a4c3e933fdd5e05f61a46) will be able to help you out on how to submit articles. Looking forward to seeing this.

[2021-03-09 13:44] malgamves commented on #302
Hey @asotog - thanks. I will have a look :D

[2021-03-09 14:47] #312 closed

[2021-03-09 14:49] malgamves commented on #320
Hey @bigpreshy could you share an outline with me for what you'll cover here.

[2021-03-09 14:49] malgamves commented on #49
Hey @hannydevelop - we're closing this in favor of the full stack apps we're looking for at the moment.

[2021-03-10 10:03] bigpreshy commented on #320
Outline

1. Introduction to Services

2. Services and Controllers
a) How Services in Strapi slightly relates to Controllers
b) Overriding the default strapi Services(understanding the shadow function in node_module)

3 Creating Services
a) CLI
b) Mannually adding

4 Custom Services and Usages
a) Filtering content
b) Triggering notification
c) Email

5. Conclusion

[2021-03-10 13:11] Umoren opened #323 "[TOPIC] Auth0 Provider and Strapi Tutorial"
**Topic**

I'd like to write on this topic @malgamves

Outline
- Introduction
- Auth Providers
   - what is an auth provider
   - benefits
   - examples of auth providers
- Introducing Auth0
- Setting up a Strapi project
- Integrating Auth0 as auth provider
- Setting up Gridsome/Nuxt project
- Integrating Strapi API with Gridsome/Nuxt
- Conclusion

[2021-03-11 10:45] malgamves commented on #323
Hey @Umoren - love it. You can go ahead with it.

What Nuxt app will you build?

[2021-03-11 11:09] malgamves commented on #320
@bigpreshy this looks good. in section 4. Will you give actual examples of implementing these services?

Also looks good. Can't wait to see a draft. Keep [submission guidelines](https://www.notion.so/Strapi-Write-for-the-Community-FAQs-b1fa0282d68a4c3e933fdd5e05f61a46) in mind before requesting a review :D

[2021-03-11 11:10] malgamves commented on #307
Hey @Kaperskyguru that's alright. Please do take note of [submission guidelines](https://www.notion.so/Strapi-Write-for-the-Community-FAQs-b1fa0282d68a4c3e933fdd5e05f61a46) before submitting a draft for review :)

[2021-03-11 11:45] bigpreshy commented on #320
Yes.
I will give examples.
Note: I will be using Twillo's Free trial for the SMS

[2021-03-11 12:10] hannydevelop commented on #58
Hello @malgamves is this still open? I'll love to work on it

[2021-03-11 13:00] malgamves commented on #58
Yes it is, do you have an outline for the article?

[2021-03-11 13:06] hannydevelop commented on #58
Sure! I'll share an outline tomorrow.

[2021-03-11 15:59] Umoren commented on #323
A shopping cart.
Or do you have any other ideas?

[2021-03-12 22:47] brunogonzales opened #326 "[TOPIC] [SPANISH] Nuxtjs + Strapi + TailwindCSS hosted on Netlify Food Recipe App"
**My Request**

Hi, I would like to make a tutorial for LATAM devs. I will include English subs for those who want to follow along. Would any be interested in watching it?

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

[2021-03-13 09:37] hannydevelop commented on #58
A workflow simply refers to all of the processes and steps taken to achieve a desired result. Publishing contents into the W3C can be quite challenging since mistakes can happen. Mistakes can be in form of typographical errors or incorrect/misleading contents. This isn't what any organization wants, since information published can be consumed by millions of people from the internet. In this articl

[2021-03-15 16:27] brunogonzales commented on #313
I can do this if you like

[2021-03-15 17:04] malgamves commented on #58
Hey @hannydevelop I like this structure, thanks for sharing! I think the point here was to show how certain Strapi features fit in a publication workflow. So things like RBAC, Dynamic Zones, Providers, Draft and Publish,  and how someone can add them to an editorial workflow. Could you change your outline to reflect there?

[2021-03-15 17:06] malgamves commented on #323
How about a job board? I feel like you can narrow the feature scope though, what do you think @Umoren ??

[2021-03-15 17:24] malgamves commented on #320
Awesome, sounds great! When might you have a draft ready?

[2021-03-15 17:25] malgamves commented on #326
Hey @brunogonzales would this be a blog post or video?? You mentioned subs (subtitles?)

[2021-03-15 17:26] malgamves commented on #217
hey @Umoren any progress here?

[2021-03-15 17:28] malgamves commented on #274
hey @osmarpb97 any progress here?

[2021-03-15 17:29] malgamves commented on #257
hey @OssiPesonen any updates here??

[2021-03-15 17:34] bigpreshy commented on #320
Already working on it. By  Wednesday, my draft should be ready.

[2021-03-15 17:34] brunogonzales commented on #326
This would be a video in Spanish with English subtitles

[2021-03-15 17:35] malgamves commented on #73
hey @alloyking1 - any progress here?

[2021-03-15 17:35] osmarpb97 commented on #274
Hello @malgamves i have the draft ready! How I share it with you?

[2021-03-15 17:36] #38 closed

[2021-03-15 17:36] malgamves commented on #245
hey @MenakaBasker still interested in this??

[2021-03-15 17:37] malgamves commented on #235
hey @harshcrop still interested in this??

[2021-03-15 17:38] malgamves commented on #238
hey @hasnentai still interested in this??

[2021-03-15 17:40] malgamves commented on #231
hey @lxdb just checking if you're back up and running??

[2021-03-15 17:41] malgamves commented on #215
hey @santoshyadavdev still interested in this??

[2021-03-15 19:07] Shjani49 commented on #313
It would be very helpful as I’m beginner.
Thank you so much.

Sincerely,
Shivani Jani.

[2021-03-15 20:47] alloyking1 commented on #73
Yes. I'm making progress. Sorry about any delays.

On Mon, Mar 15, 2021 at 1:35 PM Daniel Madalitso Phiri <
***@***.***> wrote:

[2021-03-15 21:55] Kaperskyguru commented on #306
Hello @malgamves I will love to work on this topic.

[2021-03-15 21:59] Umoren commented on #217
Hi,
The problem here is that some of the materials i need for the demo aren't
available.
Been trying to purchase an Ethernet / WiFi module for a while now
Until then i don't think i can do much there.

On Mon, Mar 15, 2021 at 6:26 PM Daniel Madalitso Phiri <
***@***.***> wrote:

--
<https://about.me/umorensamuel?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_con

[2021-03-15 21:59] Umoren commented on #323
Alright that's fine

On Mon, Mar 15, 2021 at 6:07 PM Daniel Madalitso Phiri <
***@***.***> wrote:

--
<https://about.me/umorensamuel?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>
Samuel Umoren
about.me/umorensamuel
<https://about.me/umorensamuel?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>

[2021-03-16 07:15] hasnen712 commented on #235
@malgamves I will publish by the end of this month Sorry for the delay

[2021-03-16 12:52] hannydevelop commented on #58
Hello @malgamves I'll work on the outline now, thank you!

[2021-03-16 12:53] hannydevelop commented on #58
Hello @malgamves I'll work on the outline now, thank you!

[2021-03-16 17:41] number304 commented on #204
I would **love** to read that article, please let me know when it's done!

[2021-03-17 06:53] Ulibka68 opened #327 "How to connect the Yandex Object Storage bucket with strapi for storing data"
**My resource**

**My format**

- [ x] Article
- [ ] Video

**What do you all think?**
❤️ I love it!
🚀 I can help you!

Hello, I'm write russian tutorial about saving strapi data to russian service like AWS S3:

Tutorial name in English:
How to connect the Yandex Object Storage bucket with strapi for storing data

Tutorial name in Russian language:
Strapi сохранение файлов на Яндекс Object Storage

[2021-03-17 15:40] OssiPesonen commented on #257
Hi @malgamves! Sorry, I've been swamped with work. I'll try to get around and post some screenshots of the editor and how it works. I will also add how the data differs (image URL's might be different). It took such a long time for you to respond that I already forgot that this post existed.

[2021-03-18 08:51] hannydevelop opened #328 "[TOPIC] Role Based Access Control (RBAC) in Strapi."
**My Request**
Hello @malgamves I'll love to work on this.

Here's a brief outline on this article:
1. **Introduction**
2. **What Is Role Based Access Control**
3. **Authorization and Authentication In Strapi**
-  Roles and Permissions In Strapi
a). Public Role
b). Authenticated Role
c). Permissions management
d). RBAC in the Admin Panel
- Authentication and Authorization in Strapi
a). Registratio

[2021-03-22 16:24] malgamves commented on #320
Cool! Did you send this already??

[2021-03-22 16:24] malgamves commented on #73
No worries, share as soon as you can :D

[2021-03-22 16:25] malgamves commented on #323
Great, when you have something let me know.

[2021-03-22 16:41] malgamves commented on #257
Sorry about the late response, glad to know your still interested. Could you follow the submission process in this [FAQ](https://www.notion.so/Strapi-Write-for-the-Community-FAQs-b1fa0282d68a4c3e933fdd5e05f61a46)?

also just checking that this isn't published anywhere on the internet, is it?

[2021-03-22 16:45] malgamves commented on #235
Hey @hasnen712, please follow the review and submission process in the [FAQ](https://www.notion.so/Strapi-Write-for-the-Community-FAQs-b1fa0282d68a4c3e933fdd5e05f61a46)

[2021-03-22 18:11] DaTurboD opened #329 "[SUBMIT] Fetching and storing activities from Garmin Connect with Strapi and visualizing them with NextJS"
- [https://mxd.codes/articles/fetching-and-storing-activities-from-garmin-connect-with-strapi-and-visualizing-them-with-next-js](https://mxd.codes/articles/fetching-and-storing-activities-from-garmin-connect-with-strapi-and-visualizing-them-with-next-js)

Step-by-step guide explaining how to retrive data from Garmin Connect, store it in Strapi and visualize it with NextJS

**My format**

- [x] Art

[2021-03-22 19:41] #329 closed

[2021-03-22 22:40] philipszdavido opened #330 "[TOPIC] Pagination in Strapi using GraphQL"
This article will show how to add pagination to your GraphQL datasets in Strapi. I will build a real-life app to also demonstrate the process.

- [x] Article
- [ ] Video

**What do you guy's think?**
❤️ I love it!
🚀 I can help you!

[2021-03-23 22:29] malgamves commented on #306
Hey @Kaperskyguru - could you share an outline of what the article would look like??

[2021-03-24 18:05] Kaperskyguru commented on #306
Hello @malgamves,

Below is my outline for this article.

1. Introduction
2. Enabling preview mode in Nuxt (> v2.13)
3. Previewing brand new pages
4. Generating the target URL in Strapi
5. Opening the preview in a new tab
6. Showing the preview inside an iFrame
7. Handling draft preview with Strapi
8. Be careful with content validation when previewing drafts with Strapi
9. Preview banner with $nux

[2021-03-25 09:59] dpinol opened #331 "[ISSUE] broken link in cloudinary blog"
**The concerning content**
https://strapi.io/blog/adding-cloudinary-support-to-your-strapi-application
**Issue**
In the conlusions, the link in the word "here" is broken

thanks

[2021-03-25 22:14] malgamves commented on #306
Hey @Kaperskyguru love this outline! Can't wait to see the draft. When do you think you'll have that??

[2021-03-27 05:17] DimiKalligas opened #333 "[UPDATE OUTDATED CONTENT] Build a blog with React, Strapi and Apollo"
Hello,

I tried following your article, but it is not working. Even downloaded the code, corrected some wrong folders in imports, but still produced error 'Could not find "client" in the context or passed in as an option.' (Although App is wrapped inside ApolloProvider)

So, it might need some minor updating.

Thanks,
Dimitris