[2022-08-17 07:58] Dmuasya commented on #861
Hello @TiaraOluwanimi I made the updates you requested

[2022-08-17 08:13] oviecodes commented on #826
Hello @dessireugarte

[2022-08-17 09:09] dessireugarte commented on #872
Hello @miracleonyenma 👋
Your [article](https://strapi.io/blog/strapi-v4-authentication-with-remix) is live! 🎉

Since you already submitted your invoice, you will soon receive your payment. Feel free to reach out if you have any questions!

[2022-08-17 09:09] #872 closed

[2022-08-17 09:43] dessireugarte commented on #826
Hello @oviecodes 👋
The outline looks great. You can start writing the article. I will include @TiaraOluwanimi so you can share the draft for review with her when it is ready.

[2022-08-17 10:04] dessireugarte commented on #903
Hey @popoolatopzy! Thanks for sharing the outline!
@PaulBratslavsky  what do you think about this outline?

[2022-08-17 10:18] dessireugarte commented on #770
Hello @Sachin-chaurasiya 👋
Thanks for the outline.
You can start writing your draft. We use Dropbox Paper to submit and review drafts. Please duplicate and use this [article template](https://www.dropbox.com/scl/fi/7o4rzejzmla65hygplkai/My-First-Strapi-Article.paper?dl=0&rlkey=zoc4r7k3iw7titgsxp8vrt55x).

Once your article is ready, please share the dropbox link to your article in a comment on thi

[2022-08-17 10:19] dessireugarte commented on #752
Awesome 🎉

[2022-08-17 10:20] dessireugarte commented on #635
Thanks @PaulBratslavsky and @omarkhairy21!
Yes please go ahead and start writing the article without using pulumi.

You can start writing your draft. We use Dropbox Paper to submit and review drafts. Please duplicate and use this [article template](https://www.dropbox.com/scl/fi/7o4rzejzmla65hygplkai/My-First-Strapi-Article.paper?dl=0&rlkey=zoc4r7k3iw7titgsxp8vrt55x).

Once your article is ready,

[2022-08-17 10:20] #918 closed

[2022-08-17 10:55] Sachin-chaurasiya commented on #770
Sure @dessireugarte, Thank you 🚀 .

[2022-08-17 11:50] #809 closed

[2022-08-17 13:10] PaulBratslavsky commented on #454
@oviecodes after reviewing articles that we had previously published.  It seems that it would be similar to this article https://strapi.io/blog/strapi-internals-customizing-the-backend-part-1-models-controllers-and-routes

[2022-08-18 04:19] Ksound22 commented on #929
I will try it today and let you know as things go

On Tue, Aug 16, 2022, 6:19 PM Paul Bratslavsky ***@***.***>
wrote:

[2022-08-18 06:55] safachaabane opened #933 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-08-18 12:06] dessireugarte commented on #73
Hello @oviecodes 👋
This topic is still available. Could you share an outline with @PaulBratslavsky in this issue of what you would like to cover?

[2022-08-18 12:12] dessireugarte commented on #815
Hello @Marktawa 👋
Just wanted to let you know that your article will be published around the last week of August. I'll let you know when it is published!

[2022-08-18 12:17] dessireugarte commented on #865
Hello @kimkimani 👋 Just wanted to let you know that your article will be published around the first week of September. I'll let you know when it is published!

[2022-08-18 12:19] dessireugarte commented on #909
Hello @Marktawa 👋
This article as well is already scheduled to be published around the first week of September. I'll let you know as well!

[2022-08-18 12:22] dessireugarte commented on #58
Hello 👋 Just wanted to let you know that your article will be published around the first week of September. I'll let you know when it is published!

[2022-08-18 12:23] dessireugarte commented on #628
Hello @ibn-ashimi 👋 Just wanted to let you know that your article will be published around the first week of September. I'll let you know when it is published!

[2022-08-18 12:35] oviecodes commented on #454
@PaulBratslavsky alright I'll do it with typescript. Shall I get started with the article?

[2022-08-18 12:58] dessireugarte commented on #915
Hello @Marktawa 👋
Thanks for the draft. I assigned the issue to @TiaraOluwanimi, so the article is reviewed.

[2022-08-18 13:00] dessireugarte commented on #757
Yes please @miracleonyenma!
Let us know when you have a draft :)

[2022-08-18 13:18] PaulBratslavsky commented on #811
@TiaraOluwanimi can you confirm that this article is ready to publish.

[2022-08-18 14:38] dessireugarte opened #934 "[Request New Content] Typescript: A Beginners Guide to Build an application with Strapi and Next.js using TypeScript"
**My Request**

If you are interested, please share an outline of what the article would look like.

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-08-18 14:51] dessireugarte opened #935 "[Request New Content] TypeScript vs JavaScript with Strapi"
**My Request**

An article describing what is JavaScript, what is TypeScript, benefits and cons of using each with Strapi.

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-08-18 15:06] dessireugarte opened #936 "[Request New Content] What is TypeScript?"
**My Request**

An article describing what TypeScript is, why you should use it, and how to get started with Strapi using TypeScript. Add any other relevant information in the outline.
Here is an article as inspiration diving into ["What is the Jamstack](https://strapi.io/blog/what-is-the-jamstack)?

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you

[2022-08-18 16:22] PaulBratslavsky commented on #929
Nice

[2022-08-18 16:27] PaulBratslavsky commented on #933
@safachaabane do you have a topic or request, if not I will have to close this for not having a topic.

[2022-08-18 16:29] PaulBratslavsky commented on #931
@Carl1990uk this is a great suggestion.  Hope some one will pick this up, I also been meaning to checkout the plugin if I get to it before someone picks this up, I can write a quick block post.

[2022-08-18 16:32] PaulBratslavsky commented on #927
@digitaldesigndj just let me know when you stat so I can change it to `in progress`

[2022-08-18 16:33] digitaldesigndj commented on #927
Go ahead and do that. It won't be done until this weekend at best, but I have started. Thanks!

[2022-08-18 16:35] PaulBratslavsky commented on #916
@sparkle666 you can start on this, let me know when you do, and I will change status to `in progress`

[2022-08-18 16:39] PaulBratslavsky commented on #908
@oyedeletemitope you can get started on this.🙂

[2022-08-18 16:40] PaulBratslavsky commented on #906
@Marienoir just wanted to check in how is your progress going.

[2022-08-18 16:49] PaulBratslavsky commented on #903
@dessireugarte I think this is a great article, a lot of people ask about some example of using Lifecycle methods. @popoolatopzy you can start on this.

[2022-08-18 16:51] olujerry commented on #911
I already started with the 1st series.

On Thu, Aug 18, 2022, 5:38 PM Paul Bratslavsky ***@***.***>
wrote:

[2022-08-18 16:52] PaulBratslavsky commented on #901
@bhagatpratham I would like to know in more detail the process on how would you move content from wordpress to strapi?

[2022-08-18 16:54] PaulBratslavsky commented on #900
@Abdull600 let me know how things are going?

[2022-08-18 16:55] PaulBratslavsky commented on #892
@TiaraOluwanimi this is ready for review.

[2022-08-18 16:56] PaulBratslavsky commented on #891
@TiaraOluwanimi  this article is ready for the review.

[2022-08-18 16:57] Abdull600 commented on #900
Okay, am still writing but once am done, I'll propably start submit a well structured article.

[2022-08-18 19:36] TiaraOluwanimi commented on #811
@PaulBratslavsky. Yup, it is.

[2022-08-18 20:17] Marienoir commented on #906
@PaulBratslavsky
The progress is going well. I would try to submit a draft as soon as possible
Thanks

[2022-08-18 21:14] ibn-ashimi commented on #628
Alright @dessireugarte Thanks.

[2022-08-19 08:28] dessireugarte commented on #810
Hello @icode247 👋
Sorry for the delay!
Your article is [live](https://strapi.io/blog/how-to-create-and-use-sms-and-email-services-in-strapi-1)! Now you can submit your invoice [here](https://docs.google.com/forms/d/e/1FAIpQLSeD59R4fR5dEJIRh4JhUpBlKAi9yX5YeJIMsn-3gUFVj-bMjg/viewform), and soon you will receive your payment. Please feel free to reach out to me if you have any questions!

[2022-08-19 08:28] #810 closed

[2022-08-19 09:54] dessireugarte commented on #507
Hello @oviecodes 👋 The topic is still available. Are you interested in writing it?

[2022-08-19 10:15] TechMakanaki commented on #936
I will love to write about this topic.

[2022-08-19 10:15] popoolatopzy commented on #903
Thank you @dessireugarte and @PaulBratslavsky  , I will start working on the draft now.

[2022-08-19 14:24] dessireugarte commented on #936
Hello @TechMakanaki 👋
If this is your first article, can you please register your author details [here](https://strapi.io/write-for-the-community) by filling out the form? Then please scroll to the FAQ section and go over the article [guidelines](https://github.com/strapi/community-content/blob/master/tutorials/GUIDELINES.md), how to submit an article, issue an invoice and get paid.
Before getting

[2022-08-19 21:23] TechMakanaki commented on #936
Hi @dessireugarte here is the outline for the project

Outline
Introduction
Overview of Typescript
Features
Compatibilities
Plugins
Why using TypeScript
What is Strapi?
Prerequisites
Strapi (typescript) Installation
Conclusion

[2022-08-20 01:16] zelief commented on #934
Hi @dessireugarte, since I am also writing a similar article using Typescript & NextJS in #922, I am interested in writing this too,    can I work on this?

[2022-08-20 06:30] oviecodes commented on #507
Yes I am @dessireugarte

[2022-08-22 05:53] sparkle666 commented on #916
Yeah, I have started with it. @PaulBratslavsky

[2022-08-22 08:58] ep0ll opened #937 "[UPDATE OUTDATED CONTENT]"
**Description**

**Link of the content** : https://strapi.io/blog/how-to-run-a-strapi-dev-stack-with-docker-compose

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-08-22 09:12] dessireugarte commented on #816
Hello @Marktawa  👋 Your article is [live](https://strapi.io/blog/3-plugins-to-power-up-your-strapi-blog)! 🎉
Please register to our forum by clicking on the discussion at the bottom of your post, so you automatically receive notifications when someone adds comments. Now you can submit your invoice [here](https://docs.google.com/forms/d/e/1FAIpQLSeD59R4fR5dEJIRh4JhUpBlKAi9yX5YeJIMsn-3gUFVj-bMjg/view

[2022-08-22 09:12] #816 closed

[2022-08-22 09:52] TreciaKS opened #938 "How to build a job board with Tailwind CSS, Next.js and Strapi"
**A beginner’s guide on how to build a job board with Tailwind CSS, Next.js and Strapi**

Outline
- Introduction
- A brief introduction to Next.js and Strapi
- Setting up Strapi
- Build the architecture of your content
- Creating your content with Strapi’s content manager
- Setting up your front end
- Connecting the backend to the frontend
- "Dynamic API routes”
- Conclusion

- [x] A Strapi Tutori

[2022-08-22 10:59] lawrenceagles commented on #507
Hi, @ShadaW11 please, forgive me. It took so long to respond.
Kindly reassign this topic to a more to another writer. I am unable to work on this at the moment.

Thanks.
And once again, I sincerely apologize.

Best.

[2022-08-22 11:22] Marktawa commented on #816
Hi @dessireugarte
Thanks for the update
I will send an invoice.

[2022-08-22 11:44] TiaraOluwanimi commented on #304
@PaulBratslavsky, could you pls check this?

[2022-08-22 11:46] ChisomUma commented on #938
Hi, I would love to write on this topic. Looking forward to your response.

[2022-08-22 11:52] Ubaydah commented on #935
I will like to take this topic

[2022-08-22 12:04] Ubaydah commented on #935
My Outline:

- Introduction
- What is Strapi
-  What is Javascript
- What is typescript
- Benefits of using Strapi with Javascript
- Benefits of using Strapi with typescript
- Conclusion

let me know what you think  @PaulBratslavsky

[2022-08-22 12:33] ChisomUma commented on #938
I have already applied through the Strapi authorship form.

[2022-08-22 12:42] EzzEddin commented on #937
Hi @dessireugarte! I have already walked through the content and also played around with docker compose for strapi and MySQL services. Ran `docker-compose up -d` and here is the Strapi admin UI:
![strapi_admin_ui](https://user-images.githubusercontent.com/11898152/185923346-9d2e8dec-2a2f-4c26-ba7d-0c19facf4ed8.png)
)

My question is: do you want Strapi version 4 to be included in this post? or ver

[2022-08-22 14:14] oviecodes commented on #73
Alright @dessireugarte

[2022-08-22 14:27] EzzEddin commented on #937
/assign

[2022-08-22 14:45] PaulBratslavsky commented on #431
@dpkreativ Will look to sort out why the invoice is taking a while.

[2022-08-22 14:47] TreciaKS commented on #938
Hey, Thanks. Unfortunately, I've already written this on this topic.

[2022-08-22 14:49] PaulBratslavsky commented on #304
@Mastersam07 sorry for the delay, I am taking over some of Shada's duties and been playing catch up.  Can you provide an outline for the article that you would like to write.

[2022-08-22 17:31] amirtds commented on #558
Hi @dessireugarte Seems I didn't receive the payment yet, could you please let me know if you need anything from my end, thanks

[2022-08-23 01:43] dpkreativ commented on #431
Okay @PaulBratslavsky
Still waiting 🤝

[2022-08-23 07:32] malgamves commented on #558
I'll check that @amirtds could you message me on discord?

[2022-08-23 08:17] dessireugarte commented on #836
Hello @Marienoir  👋 
Thanks for being responsive. Your article is [live](https://strapi.io/blog/how-to-build-a-photo-gallery-with-strapi-nextjs-and-cloudinary-1)! 🎉

Please register to our forum by clicking on the discussion at the bottom of your post, so you automatically receive notifications when someone adds comments. Also please follow the [guidelines](https://strapi.io/write-for-the-communit

[2022-08-23 08:17] #836 closed

[2022-08-23 08:25] dessireugarte commented on #937
Hello @WYGIN @EzzEddin 👋
The update of this article would be for the latest version of Strapi v4.
It would need to be adapted, and I suggest using these resources that are the ones that we are suggesting the community to use:
- [Docker with Strapi V4](https://blog.dehlin.dev/docker-with-strapi-v4#cl6izyrzb09o6xvnvhheegzt0)
- [strapi-tool-dockerize](https://github.com/strapi-community/strapi-tool-d

[2022-08-23 08:36] dessireugarte commented on #935
I would suggest these changes:

- Introduction
- What is JavaScript?
- What is TypeScript?
- TypeScript vs JavaScript: Main differences
- What is Strapi?
- Pros and cons of using Strapi with JavaScript
- Pros and cons of using Strapi with TypeScript
- Conclusion

What do you think @PaulBratslavsky ?

[2022-08-23 08:39] Ubaydah commented on #935
This is great @dessireugarte, I will love to work on it.

[2022-08-23 08:58] dessireugarte commented on #934
Hello @zelief 👋
Thanks for sharing the outline. Looks good to me, I'd just add deployment as well.
What are your thoughts @PaulBratslavsky?

[2022-08-23 09:00] dessireugarte commented on #507
Hello @lawrenceagles 👋 No worries and thanks for reaching out. Whenever you have time and are available to take up on another topic, let us know.

@oviecodes could you please share the outline of what you would be diving into?

[2022-08-23 09:07] dessireugarte commented on #936
Hello @TechMakanaki 👋
Looks good to me.
Could you confirm that this outline is good to get started @PaulBratslavsky ?

[2022-08-23 09:44] dessireugarte commented on #873
Hello @ibn-ashimi 👋
Just wanted to check if you are working on this draft?

[2022-08-23 11:32] oviecodes commented on #826
Hello @dessireugarte , @TiaraOluwanimi here's a link to the article
https://www.dropbox.com/scl/fi/y0nku5hocd81gyp9r94je/5-Things-to-Keep-in-Mind-Before-Creating-a-Strapi-Plugin.paper?dl=0&rlkey=t96nzu81ak8dxk91vq7a3qgm6

[2022-08-23 13:15] oviecodes commented on #823
Alright @dessireugarte Thanks

[2022-08-23 13:31] ibn-ashimi commented on #873
Yes I am. I will be done soon.

[2022-08-23 13:49] dessireugarte opened #939 "[Request New Content] Deploying and scaling Strapi on a Kubernetes Cluster"
**My Request**

Deploying and Scaling Strapi on a Kubernetes cluster diving into general guidance, best practices and patterns for a safe & easy deployment.

This topic is available again. We released this week the docs [Running Strapi in a Docker container](https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/installation/docker.html#development-and-or-staging-environments) that c

[2022-08-23 15:48] PaulBratslavsky commented on #431
I am having @malgamves take a look into the last invoice.

[2022-08-23 16:25] dpkreativ commented on #431
Please, @PaulBratslavsky & @malgamves, when this issue gets sorted out, I would prefer to send a new invoice because I recently updated my account details. Thanks 🙏🏾 🙌🏾

[2022-08-23 19:51] unforswearing commented on #616
@ShadaW11 @PaulBratslavsky

I would like to work on this topic -- is it still available for updating?

[2022-08-23 21:03] dillionmegida commented on #828
Hi @dessireugarte if I understand this request correctly, the goal of this article is to show how to import data from a different CMS (any choice) to Strapi using a plugin right?

Does this tutorial create the plugin, or would this tutorial use an existing plugin?

[2022-08-23 21:07] dillionmegida commented on #931
Hi @dessireugarte can I pick this up?

[2022-08-24 04:45] TechMakanaki commented on #936
@dessireugarte okay thank you. Can I start?

[2022-08-24 07:06] Tammibriggs commented on #847
Hi @TiaraOluwanimi,

I am done making the suggested changes to the article on Dropbox.

[2022-08-24 07:43] Nabellaleen commented on #583
Hi,
None of the published articles nor the documentation talk about "changing" a data model in Strapi ; always creating and extending, but never editing it later (with necessary migrations, ...).

It's really missing.

[2022-08-24 08:13] dessireugarte commented on #840
Hello 👋 Your article is [live](https://strapi.io/blog/i18n-implementation-and-best-practices-in-strapi)! 🎉
Please register to our forum by clicking on the discussion at the bottom of your post, so you automatically receive notifications when someone adds comments. Now you can submit your invoice [here](https://docs.google.com/forms/d/e/1FAIpQLSeD59R4fR5dEJIRh4JhUpBlKAi9yX5YeJIMsn-3gUFVj-bMjg/viewf

[2022-08-24 08:13] #840 closed

[2022-08-24 16:52] EmmanuelTheCoder commented on #905
I'd love to work on this article.

[2022-08-24 16:57] EmmanuelTheCoder commented on #905
@PaulBratslavsky @dessireugarte  here's the outline

Outline

* Introduction

* The importance of UID field in content pulling

* Synchronizing environment

* Best practices for migrating content

* Conclusion

[2022-08-24 17:28] Saintdavidking commented on #817
Hello, @dessireugarte is this topic still available, I will like to take on this topic if it is still available!

[2022-08-24 17:30] Saintdavidking commented on #931
Hello, @malgamves is this topic still available?

[2022-08-25 01:49] popoolatopzy commented on #903
Hello @dessireugarte here is the draft for the article
https://www.dropbox.com/scl/fi/p7ygnpd68kh5ubpu9xstw/Audit-Log-in-Strapi-v4.paper?dl=0&rlkey=sxeodovezqneb573o0nlow210

[2022-08-25 04:19] zelief commented on #934
Hi @dessireugarte,
Is there any best practice on how to get the types from Strapi models to be used in front-end typescripts?

So far, I didn't come for any solution except to write the types manually or generate them using [t4s package](https://www.npmjs.com/package/types-4-strapi).

In my experience, using [ts:generate-types](https://docs.strapi.io/developer-docs/latest/development/typescript.ht

[2022-08-25 07:21] malgamves commented on #931
thanks for the interest @dillionmegida and @Saintdavidking - I would like @Carl1990uk to elaborate on what they are looking for. We have two comments plugins on the [Strapi marketplace](https://market.strapi.io/). Would you like to know how to build them or use them?

[2022-08-25 07:33] malgamves commented on #431
Hey @dpkreativ I can't find your invoice, what name did you use? Here is the [new invoice form](https://docs.google.com/forms/d/e/1FAIpQLSeD59R4fR5dEJIRh4JhUpBlKAi9yX5YeJIMsn-3gUFVj-bMjg/viewform), could you submit all pending ones?

[2022-08-25 10:59] dessireugarte commented on #824
Hello  @ath34-tech 👋 Your article is [live](https://strapi.io/blog/making-a-simple-strapi-plugin)!
Please register to our forum by clicking on the discussion at the bottom of your post, so you automatically receive notifications when someone adds comments. Also please follow the [guidelines](https://strapi.io/write-for-the-community) to issue and submit an invoice. Now you can submit your invoice

[2022-08-25 10:59] #824 closed

[2022-08-25 11:27] ChisomUma opened #941 "[SUBMIT] Building a Markdown Editor with Next.Js and Strapi CMS"
## Introduction

If you are to write technical content or build blogs for such, you will probably make use of markdowns to create article content. Markdown is a format for creating content with different forms of formatting, making it easy to add unique properties such as bold text, italics, different text sizes, and inserting of code blocks.

## Goals

At the end of this tutorial, readers will le

[2022-08-25 15:24] dpkreativ commented on #431
Hi @malgamves! The article was published on Sept 1, 2021.
I used Divine Orji as my name for the invoice.
You can also check for Divine Philip Orji.

I didn't have a domiciliary account then, so I used my friend's account in the invoice. His name is Ikechi Fortune Kelechi.

Now I have an account, and I'm submitting this new invoice with my account details.

[2022-08-25 15:34] dpkreativ commented on #431
@malgamves Here's a link to the first invoice I sent https://docs.google.com/document/d/17kKCZFIXubkwCVK39xNFEuqsmsfswDCbIOugCWlGEPg/edit?usp=sharing

[2022-08-25 18:04] TiaraOluwanimi commented on #903
Hey, @popoolatopzy. Thanks. I'll be dropping comments on the doc.

[2022-08-25 18:14] dpkreativ commented on #431
I've sent in a new invoice. Please check it. Thanks

[2022-08-25 19:05] popoolatopzy commented on #507
Hello @dessireugarte I'll like to work on this article
Here is my outline  for the article.

- Introduction
- What is Strapi
- What is React
- Goals of the tutorial
- Features of the application
      1. Vacancy listing
      2. With filtering and search
      3. Applying for a Vacancy.
      4. Handling job applications (status change, email notifications)
- Prerequisites
- Strapi installation
-

[2022-08-25 19:56] popoolatopzy commented on #903
Thanks @TiaraOluwanimi, I've attended to your comment

[2022-08-26 01:02] Cpaczek opened #942 "[SUBMIT] How to write Jest tests for Strapi Plugins"
## Introduction

If you a writing a plugin that lots of other people and companies or if other people are going to contribute to it tests are a must. We just had a security issue which could of been caught by unit tests. However, there are not guides on how to write tests for a custom Strapi plugin.

## Outline

- What is Jest
- Add Jest to your plugin
- Mocking the Strapi Object
- Mocking `ctx`
-

[2022-08-26 02:47] ath34-tech commented on #824
@dessireugarte how much amount will i need to put as "fees"?

[2022-08-26 03:21] Cpaczek commented on #942
Just finished up writing tests for my plugin hence why I want to write an article :) https://github.com/excl-networks/strapi-plugin-ezforms/tree/master/tests

[2022-08-26 08:00] dessireugarte commented on #935
Hello @Ubaydah 👋
You can start writing your draft. We use Dropbox Paper to submit and review drafts. Please duplicate and use this [article template](https://www.dropbox.com/scl/fi/7o4rzejzmla65hygplkai/My-First-Strapi-Article.paper?dl=0&rlkey=zoc4r7k3iw7titgsxp8vrt55x).

Once your article is ready, please share the dropbox link to your article in a comment on this GitHub issue 👍

[2022-08-26 08:14] dessireugarte commented on #936
Hello @TechMakanaki 👋
Yes, you can start writing your draft. We use Dropbox Paper to submit and review drafts. Please duplicate and use this [article template](https://www.dropbox.com/scl/fi/7o4rzejzmla65hygplkai/My-First-Strapi-Article.paper?dl=0&rlkey=zoc4r7k3iw7titgsxp8vrt55x).

Once your article is ready, please share the dropbox link to your article in a comment on this GitHub issue, so @Tiar

[2022-08-26 08:41] dessireugarte commented on #507
Hello @popoolatopzy 👋
Thanks for sharing the outline.
You can start writing your draft. Once your article is ready, please share the link here @TiaraOluwanimi reviews the article.

[2022-08-26 09:04] ath34-tech commented on #824
@dessireugarte i am from india and we don't have IBAN system here, so what should I put in the branch code/sort code section?

[2022-08-26 09:06] dessireugarte commented on #670
Hello @Marktawa  👋
Just wanted to let you know that your article will be published around the second week of September. I'll let you know when it is published!

[2022-08-26 09:08] dessireugarte commented on #861
Hello @Dmuasya   👋
Just wanted to let you know that your article will be published around the second week of September. I'll let you know when it is published!

[2022-08-26 09:09] dessireugarte commented on #844
Hello @Marienoir   👋
Just wanted to let you know that your article will be published around the second week of September. I'll let you know when it is published!

[2022-08-26 09:11] dessireugarte commented on #915
Also, this article will be published around the third week of September. I'll let keep you updated!

[2022-08-26 09:36] dessireugarte commented on #891
Hello @popoolatopzy   👋
Just wanted to let you know that your article will be published around the third week of September. I'll let you know when it is published!

[2022-08-26 09:44] dessireugarte commented on #892
Hello @kimkimani  👋
Just wanted to let you know that your article will be published around the third week of September. I'll let you know when it is published!

[2022-08-26 11:35] Sachin-chaurasiya commented on #770
Hey @dessireugarte , Just to provide an update.
I'm almost finished with the draft, I will share the draft link by Wednesday (IST).
Thank you!

[2022-08-26 12:23] waveywaves opened #943 "[SUBMIT] How to run Uffizzi PR environments with your Strapi project"
**My resource**

I want to write an article to help developers better understand how they can integrate PR Environments with Uffizzi for their Strapi projects to improve the Strapi developer workflow.

Here is an example:
Outline
- Introduction
- What is a PR Environment ?
- How to create one with Uffizzi ?
- Setting up the Uffizzi Docker Compose in 2 minutes.
- Example Strapi Configuration
- Conc

[2022-08-26 21:10] amirtds commented on #558
@malgamves Thanks, That's odd i didn't receive an email form you. Let me send you a msg over discord

[2022-08-27 17:49] Saintdavidking commented on #832
Hello, @dessireugarte is this topic still available for the new strapi v4 ?

[2022-08-27 17:50] Saintdavidking commented on #817
Hello, @kilinkis is this topic still available, I will like to take on this topic if it is still available!

[2022-08-27 17:50] Saintdavidking commented on #760
Hello, @dessireugarte  is this topic still available for update? I will love to update this article with the new version 4 release, please do let me know if it is still available

[2022-08-28 11:02] popoolatopzy commented on #891
Thank you for the update ❤

[2022-08-28 14:53] osamajandali commented on #941
I want to submit a request for writing this tutorial.
This is my first time here..is this one taken or still open ?

[2022-08-28 14:54] ChisomUma commented on #941
Hi, I am sorry it is already taken.

[2022-08-28 17:52] zepxtor commented on #616
Hello @ShadaW11 @PaulBratslavsky

Would love to see this content updated, but will never be if it takes so long to reply.

Any chance @unforswearing could work on this content?

Thanks!

[2022-08-29 07:15] Marktawa commented on #915
Noted.

[2022-08-29 07:16] Marktawa commented on #670
Noted

[2022-08-29 08:03] dessireugarte commented on #824
Hello @ath34-tech!
Regarding the fees, it will depend on the number of words. Please check how it is paid in the [FAQ](https://strapi.io/write-for-the-community).

Regarding the IBAN, @malgamves what is usually done in this case?

[2022-08-29 09:22] Tammibriggs commented on #847
Hi @dessireugarte, it's been over 3 weeks I sent my invoice but I haven't gotten paid.

[2022-08-29 09:29] dessireugarte commented on #760
Hello @IsaacThaJunior @Saintdavidking 👋
Sorry for the late reply. Since @IsaacThaJunior wrote first, if you are still interested we can assign the update to you. Otherwise you can start @Saintdavidking

[2022-08-29 09:31] dessireugarte commented on #817
Hello @Saintdavidking 👋
Could you share what the outline would look like for this topic?

[2022-08-29 09:32] dessireugarte commented on #905
Hello @EmmanuelTheCoder 👋
We reviewed the outline and looks good.
You can start writing your draft. We use Dropbox Paper to submit and review drafts. Please duplicate and use this [article template](https://www.dropbox.com/scl/fi/7o4rzejzmla65hygplkai/My-First-Strapi-Article.paper?dl=0&rlkey=zoc4r7k3iw7titgsxp8vrt55x).
Once your article is ready, please share the link here so @TiaraOluwanimi can r

[2022-08-29 09:41] dessireugarte commented on #770
Awesome! Thanks for the update! 👍

[2022-08-29 09:54] IsaacThaJunior commented on #760
Hey there, I am still interested in writing this

[2022-08-29 11:19] #937 closed, assigned to PaulBratslavsky, dessireugarte

[2022-08-29 13:08] dessireugarte opened #944 "How to create a landing page on the fly without the need to develop"
**My Request**

An article for marketers or content managers explaining, if Strapi is set up properly, how an individual from the content team can create a new landing page from scratch using components in the dynamic zone

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-08-29 17:06] kimkimani commented on #879
@PaulBratslavsky I can use this issue to build the mobile application using android instead of flutter

[2022-08-29 17:22] EmmanuelTheCoder commented on #905
Alright, thanks. On it right away.

[2022-08-29 19:37] TheGhoulRe commented on #893
Hello @PaulBratslavsky, Can I have this topic?

Here's my outline:
1. Introduction
2. Prerequisites
3. Optional: Setting up a project
4. Overview of policies
5. Creating global policies
6. Creating API policies
7. Creating plugin policies
8. Overview of policyContext
9. Conclusion

[2022-08-29 20:47] oviecodes commented on #73
Hey @dessireugarte I'll have to build the application using strapi and elastic search so as to know what goes into building such an application.

Using elastic search, I'll build a complex search engine for a demo strapi application.

[2022-08-29 21:08] FaithKovi commented on #939
Hello @dessireugarte
I am interested in writing this article.

[2022-08-30 07:45] dessireugarte commented on #823
Hello 👋 
Your article is [live](https://strapi.io/blog/how-to-build-a-plugin-with-type-script)! 🎉
Please register to our forum by clicking on the discussion at the bottom of your post, so you automatically receive notifications when someone adds comments. Now you can submit your invoice [here](https://docs.google.com/forms/d/e/1FAIpQLSeD59R4fR5dEJIRh4JhUpBlKAi9yX5YeJIMsn-3gUFVj-bMjg/viewform), and

[2022-08-30 07:45] #823 closed

[2022-08-30 07:48] dessireugarte commented on #865
Hello @kimkimani 👋
Could you please fill out [this](https://strapi.io/write-for-the-community) form?
I didn't find your information and we need to make the article public 😊

[2022-08-30 07:52] dessireugarte commented on #554
Hello @oyedeletemitope  👋 
Sorry I didn't let you know, but your [article](https://strapi.io/blog/how-to-build-a-music-player-with-react-and-strapi) went live the second week of August.
Please register to our forum by clicking on the discussion at the bottom of your post, so you automatically receive notifications when someone adds comments. Also please follow the [guidelines](https://strapi.io/wr

[2022-08-30 07:52] #554 closed

[2022-08-30 08:30] dessireugarte commented on #815
Hello @Marktawa  👋 
Your article is [live](https://strapi.io/blog/handling-previews-in-a-headless-architecture-1)! 🎉
Please register to our forum by clicking on the discussion at the bottom of your post, so you automatically receive notifications when someone adds comments. Now you can submit your invoice [here](https://docs.google.com/forms/d/e/1FAIpQLSeD59R4fR5dEJIRh4JhUpBlKAi9yX5YeJIMsn-3gUFVj-

[2022-08-30 08:30] #815 closed

[2022-08-30 08:42] malgamves commented on #73
@oviecodes will you cover the process of building? the benefits of elastic search over others? Specific elastic search features?

We'd like an idea of information you'll present in the article and the angle you want to go for before you can go for it. Are you familiar with the technology?

[2022-08-30 09:02] oviecodes commented on #73
Table of content

1. Introduction to Strapi
2. Basic requirements
3. What is elastic search
4. What to consider before using elastic search
5. The need and benefits of using elastic search
6. Building our Strapi application
7. Integrating elastic search into a strapi application
8. Conclusion

@malgamves @dessireugarte @PaulBratslavsky  here are some of the things I'll cover in this article.

[2022-08-30 09:17] TreciaKS commented on #938
Hey @dessireugarte. Here is the draft for the article:
https://www.dropbox.com/scl/fi/y31koxxbcjmv19t3euh1q/How-To-Build-A-Job-Board-With-Next.js%2C-Tailwind-CSS-and-Strapi.paper?dl=0&rlkey=jcny2xmi7zjy4mnkef8slmddz

[2022-08-30 11:25] kimkimani opened #945 "[SUBMIT] How to Build Android Apps with Kotlin and GraphQL using Strapi CMS and GraphQL Plugin"
- Prerequisites
- What is Strapi
- GraphQL vs. REST
- Setting up Strapi Locally
   - Managing Backend Content using Strapi
   - Creating the API Access Token
   - Generating Strapi GraphQL endpoint
- Consuming Strapi API using Android
- Setting up Android Studio
- Adding application dependencies
- Configuring GraphQL in Android
  - Writing GraphQL Queries
  - Generating Schema
- Setting up Apollo

[2022-08-30 11:27] kimkimani opened #946 "[SUBMIT]How to build Android apps with Kotlin and GraphQL using Strapi CMS and GraphQL plugin"
**My resource**

**My content is**

- [ ] A Strapi Tutorial / Guide / How to article
- [ ] About Headless, CMS, javascript, open source, or jamstack
- [ ] Other, specify

**What do you all think?**
❤️ I love it!
🚀 I can help you!

Thank you for submitting your article proposal.

[2022-08-30 11:27] #946 closed

[2022-08-30 11:29] kimkimani commented on #945
@PaulBratslavsky I want to cover this topic.

Create Strapi with GraphQL, explain and implement the concept using Android GraphQL.

[2022-08-30 11:40] kimkimani opened #947 "[SUBMIT] How to Make HTTP Requests with Ktor in Android using Kotlin and Strapi CMS"
- Introduction
- Goal
- Prerequisites
- What is Ktor
- Why Ktor
- Setting up Strapi locally
  - Create Strapi Notes App Backend
  - Managing the Notes Content
  - Creating the API Access Token
- Setting up an Android project
- Adding the required libraries
- Setting up the data models
- Setting up the API endpoints
- Processing the API data
- Creating XML files
- Testing
- Conclusion

**My content

[2022-08-30 11:59] kimkimani opened #948 "[SUBMIT] React and GraphQL: Build React App using GraphQL and Strapi GraphQL"
Introduction
Outline
Prerequisites
What is Strapi CMS
Why a headless CMS
Why Strapi
What is React
What is GraphQL
When to use GraphQL
Setting up Strapi locally
Create Strapi Backend App
Managing the Notes Content
Creating the API Access Token
Create React Application
Perform operations with the GraphQL server
Reading data with GraphQL
Writing data with GraphQL
Conclusion

**My content is**

- [x]

[2022-08-30 12:51] dessireugarte commented on #826
Hello @oviecodes 👋
Just wanted to let you know that your article will be published around the last week of September. I'll let you know when it is published!

[2022-08-30 13:57] Saintdavidking commented on #817
Outline:
-Introduction
-What is Strapi and Installation of Strapi
-What are plugins
-Why are plugins useful
-The must-have strapi plugins for your business website

- [ ] The Internationalization (i18n) plugin
- [ ] GoogleAuth plugin
- [ ] Awesome SEO plugin
- [ ] The EZ Forms plugin
- [ ] The Publisher plugin
- [ ] The Localazy plugin
- [ ] measurement protocol plugin

-Conclusion

[2022-08-30 18:26] Marktawa commented on #815
Hey @dessireugarte

Thanks for notifying me.

[2022-08-30 23:36] Marktawa commented on #925
Hey @PaulBratslavsky
I'm done. Here's the complete [draft](https://www.dropbox.com/scl/fi/j71rvj6br4ruyq97ep24e/Build-a-News-app-using-React.js-with-i18n-API-in-Strapi.paper?dl=0&rlkey=fhdf6ts6nx54efiz1d4gsljqg)
The article is ready for review.

[2022-08-31 07:44] dessireugarte commented on #865
Hello 👋 
Your article is [live](https://strapi.io/blog/how-to-build-a-blog-app-with-remix-and-strapi-cms)! 🎉
Please register to our forum by clicking on the discussion at the bottom of your post, so you automatically receive notifications when someone adds comments. Also please follow the [guidelines](https://strapi.io/write-for-the-community) to issue and submit an invoice. Now you can submit you

[2022-08-31 07:44] #865 closed

[2022-08-31 08:47] dessireugarte opened #953 "[UPDATE] Building Applications For An International Audience Using Strapi i18n Plugin"
**My update**
https://strapi.io/blog/building-applications-for-an-international-audience-using-strapi-i18n-plugin

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

Thank you.

[2022-08-31 11:28] Marktawa commented on #953
Hi @dessireugarte
I would like to work on this.

[2022-08-31 11:57] malgamves commented on #431
Thanks! On this 🙏

[2022-08-31 12:24] malgamves commented on #847
hey @Tammibriggs we had a lot of our team on summer holiday thus the delay. We've put this through. Could you ping in a week if the status doesn't change?

[2022-08-31 15:16] PaulBratslavsky commented on #925
@Marktawa thank you. @TiaraOluwanimi this article is ready for the next step.

[2022-08-31 17:13] malgamves commented on #73
hey @oviecodes what type of application will you build that leverages search? Can you implement search on an existing large project life [foodadvisor](https://github.com/strapi/foodadvisor) maybe?

[2022-08-31 17:25] omarkhairy21 commented on #635
Hey @PaulBratslavsky and @dessireugarte i have updated the outline without using pulumi please confirm to me if it works

- [ ] Introduction
  - [ ]  Different ways to deploy docker images in aws
- [ ] What is Strapi - A Headless CMS?
- [ ] Goals
  - [ ]  Overview with a diagram (to demonstrate our way of how we are going to deploy strapi on AWS)
- [ ] Prerequisites
- [ ] Scaffolding project
- [ ]

[2022-08-31 18:51] PaulBratslavsky commented on #635
@omarkhairy21 thanks for updating the outline it looks good.

[2022-08-31 20:25] Eventyret commented on #635
Just wanted to add that when it comes with Docker you could use the tool I built for it.
I would also love to see this guide as I could use some of this parts and Pulumi for Deploify etc.

[2022-08-31 21:58] omarkhairy21 commented on #635
Hey @Eventyret thanks for pointing out your tool, actually your article was excellent and I will mention it in my article but when it comes to the tool I did not get when and where should I use it. I am open to hearing and learning from you and if is there a chance to introduce it i will.

[2022-08-31 22:23] Eventyret commented on #635
So this is the tool
https://github.com/strapi-community/strapi-tool-dockerize

Might simplify the whole setup docker as it's like 3-5 questions and you ha have the docker file 😊

[2022-09-01 09:13] dessireugarte commented on #828
Hello @dillionmegida 👋
There isn't any plugin available to migrate data from one CMS to Strapi. So if you propose another way to migrate the data, that would be ok as well 👍

[2022-09-01 09:14] Tiioluwani commented on #817
@dessireugarte
@PaulBratslavsky
I didn't get a feedback on my outline

[2022-09-01 09:22] dessireugarte commented on #817
Hello @Saintdavidking 👋 Thanks for the outline. This tutorial will be done by @Tiioluwani, but there are other tutorials we are currently looking for an author. Feel free to ping me on Discord.

@Tiioluwani regarding the plugins, I would include CKEditor 5 and Import Export Entries. And I'd use SEO or Awesome SEO, not both.
What do you think?

[2022-09-01 09:27] dessireugarte commented on #941
Hello @ChisomUma 👋
Thanks for sharing the outline. It looks good to me but let's wait for @PaulBratslavsky confirmation on the outline.
After that you can get started.

[2022-09-01 09:29] dessireugarte commented on #953
Hello @Marktawa 👋
Yes, go ahead. I'll assign the issue to you and include @TiaraOluwanimi, so she can review your draft when it is ready.

[2022-09-01 09:43] Convly commented on #934
Hey @zelief, there are no best practices/conventions at the moment when it comes to getting types for the front end.

However, we're slowly building and adding new tools and utils to build powerful types based on the output of the `ts:generate-types` command.

For instance, I'm working on adding strongly typed support for both the entity service and the content API.

As for your particular case, I

[2022-09-01 09:46] Convly commented on #934
TBH, If you don't see another alternative I don't see why you shouldn't :man_shrugging:
We're still early in the process of providing accurate typings for the community, so using whatever works well at the moment would make sense IMO.

[2022-09-01 09:49] dessireugarte commented on #938
Thank you @TreciaKS!
@TiaraOluwanimi will review your article and we will post it next week 😊

[2022-09-01 10:07] dessireugarte commented on #939
Hello @FaithKovi 👋
Great, could you please provide an outline?

[2022-09-01 10:09] dessireugarte commented on #760
Great @IsaacThaJunior!
I agree as well that it might need to be expanded a little. What would you cover on the update?

[2022-09-01 12:36] Tiioluwani commented on #817
@dessireugarte
No problem at all

[2022-09-02 11:06] oviecodes commented on #73
@malgamves that would be nice... When can I get started and can you point me to the repository...

[2022-09-02 12:04] dessireugarte commented on #877
Hello @lucky4242 👋
Sorry for the delay, I included @TiaraOluwanimi so your article is reviewed and we can publish it. We will keep you updated 😊

[2022-09-02 12:09] dessireugarte commented on #721
Hello @lucky4242 👋
This article is already updated and the content is pretty similar.

[2022-09-02 22:38] Alex-is-Gonzalez opened #954 "How to set up Strapi with Postgres and GraphQL"
Hello,
I want to write a tutorial to help others set up Strapi V4 with Postgres and GraphQL!

Here is an example:

What is Strapi, GraphQL, and Postgres?
Installing Strapi :
Installing Postgress:
Configure Strapi to use Postgres:
Installing graphQl from Strapi Marketplace:
Testing graphQL connection:
Conclusion

**My content is**

- [X ] A Strapi Tutorial / Guide / How to article
- [ ] About Headl

[2022-09-03 08:04] femakin commented on #948
Please is this still open ?

[2022-09-03 13:07] sschweimler opened #955 "Deploy Strapi to Cloudflare Pages"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-09-03 15:44] i1d9 opened #956 "How to integrate Push Notifications into your applications using Strapi v4 and Firebase Cloud Messaging[SUBMIT]"
Hello 👋

In this tutorial, we will be developing a microblogging application to demonstrate how we could use a Strapi instance to trigger push notifications. We will be using a Flutter application as a client to enable us to test the notifications on various platforms.

Outline
- Introduction
- Prerequisites
- The stack: Strapi, Flutter and Firebase Notifications
- Initializing a Strapi project
-

[2022-09-03 15:45] i1d9 commented on #956
@TiaraOluwanimi I'm looking forward to your feedback about this [Article](https://www.dropbox.com/scl/fi/skcdals2xjj4h0gdjgy5y/How-to-integrate-Push-notifications-on-your-applications-using-Strapi-v4-and-Firebase-Cloud-Messaging.paper?dl=0&rlkey=0pj2aditqkabr2enfo45fqfjd)

[2022-09-04 17:25] omarkhairy21 commented on #635
Thanks @Eventyret it is a cool tool I would like to introduce it in my article I was confused becuase the readme file missing keywords that explain it generates docker files

[2022-09-04 17:26] Eventyret commented on #635
Yeah it generates docker file for production and also docker compose for local development. 😊

[2022-09-05 08:34] malgamves commented on #73
As soon as you update the outline and get it validated ;)

[2022-09-05 08:43] #670 closed

[2022-09-05 09:57] Marktawa commented on #670
Hi 👋 @dessireugarte

Thanks for the feedback. I wasn't aware of my error. I assumed the login sections for v3 and v4 were the same. Thanks for the correction once again.

[2022-09-05 12:16] Saintdavidking commented on #58
Hello, @dessireugarte Just wanted to ask if there is any update about the publishing date.

[2022-09-05 15:38] lucky4242 opened #957 "How to Build a Chat Application Using Strapi CMS, PHP, MySQL and Vanilla JS 1/4 [SUBMIT]"
This article is about developing a chat application in which different users interact with one another. This chat app also displays active and inactive online users. Strapi will handle all incoming and outgoing messages between users.

Here is the outline
part(1)
Introduction
User Authentication(Registration )
User Verification (login)
Creating Header page
Creating index Page

Creating Search Page

[2022-09-05 15:53] lucky4242 opened #958 "How to Build a Chat Application Using Strapi CMS, PHP, MySQL and Vanilla JS 1/3 [Request New Content]"
This article is about developing a chat application in which different users interact with one another. This chat app also displays active and inactive online users. Strapi will handle all incoming and outgoing messages between users.

Here is the outline
part(1)
Introduction
User Authentication(Registration )
User Verification (login)
Creating Header page
Creating index Page

Creating Search Page

[2022-09-05 15:54] #957 closed

[2022-09-05 16:22] oviecodes commented on #826
Alright @dessireugarte Thanks for the information.

[2022-09-05 16:49] oviecodes commented on #73
Table of content

1. Introduction to Strapi
2. Basic requirements
3. What is elastic search
4. What to consider before using elastic search
5. The need and benefits of using elastic search
6. Looking at the Strapi [foodadvisor](https://github.com/strapi/foodadvisor) application
7. Making modifications to the application for search functionalities.
8. Integrating elastic search into the  strapi [fo

[2022-09-05 21:15] Marienoir commented on #906
Hello @PaulBratslavsky
This is a draft of the article
 https://www.dropbox.com/scl/fi/mwqyy43gp76ofw139dtha/Create-a-refresh-token-feature-in-your-Strapi-application.paper?dl=0&rlkey=pu45uaywbocmdnbwdk011j36q

[2022-09-06 08:14] dessireugarte commented on #938
Your article is [live](https://strapi.io/blog/how-to-build-a-job-board-with-next-js-tailwind-css-and-strapi) @TreciaKS 🎉🙌

[2022-09-06 08:14] #938 closed

[2022-09-06 08:35] oyedeletemitope commented on #908
Thank you @PaulBratslavsky. I’ll share a draft once I’m done.

[2022-09-06 09:24] SofiiaSov commented on #620
Great, this will help me. Perhaps you have an article in your notes about [how to make a video calling app](https://www.cleveroad.com/blog/build-video-chat-app/)? Attached an example. I'm just looking for good material that can be used in practice

[2022-09-06 11:19] malgamves commented on #73
Looks great to me!!

[2022-09-06 14:33] ibn-ashimi commented on #955
Hi, @PaulBratslavsky I will like to work on this.

[2022-09-06 14:53] Ubaydah commented on #935
Yes, I am.

[2022-09-06 16:38] sschweimler commented on #955
Hi,

after some research I don‘t think it‘s possible since cloudflare pages is
for static site hosting and strapi is a dynamic web app.

Abdulwahab Ashimi ***@***.***> schrieb am Di. 6. Sept. 2022
um 16:33:

[2022-09-06 19:53] Alex-is-Gonzalez commented on #954
@PaulBratslavsky- How can I be assigned my topic?

[2022-09-06 20:05] FaithKovi commented on #939
Hello @dessireugarte. Here is an outline for the article

- Introduction
- What is Strapi - A Headless CMS?
- Scaffolding a Strapi project
- Platform for deployment
        What is Kubernetes?
        What is a Kubernetes Cluster?
- Deploying Strapi on a Kubernetes Cluster
        Containerize the Strapi application
        Deploying an image to a Container Registry
        Configuring the Kuberne

[2022-09-07 08:45] dessireugarte commented on #909
Hello @Marktawa 👋 
Your article is [live](https://strapi.io/blog/implementing-previews-with-nuxt-applications-using-a-strapi-backend-1)! 🎉
Please feel free to submit your invoice and let me know if you have any questions!

[2022-09-07 08:45] #909 closed

[2022-09-07 09:18] Tammibriggs commented on #847
Hi @malgamves
It's been more than a week now but I haven't still received it.

[2022-09-07 16:48] oviecodes commented on #73
Alright @malgamves I'll get started with the article.

[2022-09-07 16:54] PaulBratslavsky commented on #893
@TheGhoulRe love the topic you may start. Thank you.

[2022-09-07 16:55] PaulBratslavsky commented on #893
If you can, can you show how to return error messages when policy fails. If you have question about how to do this let me know.

[2022-09-07 21:58] PaulBratslavsky commented on #956
@i1d9 can you give me a quick overview of the flow of the functionality of the app and which parts are going to be handled where.  Just so I can get a better understanding of what is going to happen where.  Also, can you add some detail on how you will extend User Permissions Plugin.  Just so I can have more context on what the article will cover in more detail. Thank you.

[2022-09-07 22:00] PaulBratslavsky commented on #955
@ibn-ashimi and @sschweimler maybe you can host Strapi on some other platform and host your UI on Cloudflare and implement a hook that will redeploy your frontend on cloudflare whenever content in Strapi changes.

[2022-09-07 22:04] PaulBratslavsky commented on #954
I think this is something that is already explained in our documentation.  But if you like, you can write about consuming graphql from frontend using next js. Or writing about how to create custom graphql resolvers and types.  To extend graphql functionality.

[2022-09-07 22:07] PaulBratslavsky commented on #948
@kimkimani were you thinking of using next js?

[2022-09-07 22:10] PaulBratslavsky commented on #947
@kimkimani  You can start working on this one.

[2022-09-07 22:12] Dev-Elie opened #959 "[SUBMIT]"

[2022-09-07 22:21] PaulBratslavsky commented on #942
@Cpaczek great topic. You can start on it. Just confirm when you get started. Thank you. 🙂

[2022-09-07 22:27] PaulBratslavsky commented on #941
@ChisomUma I like it.  I am assuming you are implementing the Another common question we get around this topic is how to style the generated markdown.

Would love if you can cover that in this article, will really help. Also, when you mean markdown editor, are you referring to be able to write markdown from your next js and post to Strapi or just displaying markdown from Strapi in your Next js app

[2022-09-07 22:28] PaulBratslavsky commented on #939
@FaithKovi you can get started on this.  Thank you. Just confirm when you get started.

[2022-09-07 22:30] PaulBratslavsky commented on #933
Closing for not having a topic and description.

[2022-09-07 22:30] #933 closed

[2022-09-08 02:43] ChisomUma commented on #941
Hi @PaulBratslavsky, Yes! I will be covering styling in the generated markdown.

On your question, the article will feature a note editor where users can enter text in the form of markdown, which will then be stored in Strapi, and be fetched and displayed in the correct formatting, in a view area.

[2022-09-08 05:55] kimkimani commented on #948
@PaulBratslavsky Just ReactJS. Next can still work on this one. Which should I pick? Or do we cover them individually? I am open to any suggestions.

[2022-09-08 07:52] femakin commented on #944
Please can I work on this ?

[2022-09-08 07:53] dessireugarte commented on #628
Hello @ibn-ashimi  👋 
Your article is [live](https://strapi.io/blog/deploying-strapi-my-sql-on-a-traditional-hosting-provider)! 🎉
Please register to our forum by clicking on the discussion at the bottom of your post, so you automatically receive notifications when someone adds comments. Also please follow the [guidelines](https://strapi.io/write-for-the-community) to issue and submit an invoice. N

[2022-09-08 07:53] #628 closed

[2022-09-08 08:19] FaithKovi commented on #939
okay, thanks @PaulBratslavsky. I will get started

[2022-09-08 10:32] shammadahmed commented on #955
This is similar to like hosting Ghost on your own desktop with an SSG like Eleventy deployed on Netlify. If Ibn-Ashimi leaves it, choose me second please. I'd like to write it. @PaulBratslavsky

[2022-09-08 13:09] ibn-ashimi commented on #628
Thank you so much. I have submitted my invoice. @malgamves @dessireugarte

[2022-09-08 13:57] dessireugarte commented on #817
Thanks @Tiioluwani! Please let us know when your draft is ready so we can review it. Is this the first article you write?

[2022-09-08 14:09] ibn-ashimi commented on #741
Hi, @PaulBratslavsky I will like to work on this.

[2022-09-08 14:16] dessireugarte commented on #58
Hello @Saintdavidking 👋
Sorry for the delay, we will publish the article on Monday.

[2022-09-08 14:17] dessireugarte commented on #805
Hello @ibn-ashimi 👋
Great! Could you please share the outline you propose for this topic?

[2022-09-08 14:18] dessireugarte commented on #454
Hi @oviecodes!
Yes please get started, I changed the title of the article. Let us know when the draft is ready to review it.

[2022-09-08 14:22] dessireugarte commented on #906
Thanks @Marienoir 👋
I include @TiaraOluwanimi in the conversation to review the article. We will let you know when we have an estimated date to publish it.

[2022-09-08 14:58] ibn-ashimi commented on #805
Sure. Sending soon.

[2022-09-08 16:35] popoolatopzy commented on #903
Thanks @TiaraOluwanimi , I've attended to your comment

[2022-09-08 20:11] Tiioluwani commented on #817
@dessireugarte This would be my first article for strapi but I've written for other platforms before

[2022-09-09 11:18] ibn-ashimi commented on #805
https://www.dropbox.com/scl/fi/ugg6paeopt44t2mlq3hj3/E-commerce-with-inventory-management-backend.paper?dl=0&rlkey=nwhc4q0clrvkm0vwobbsc3dd8

@dessireugarte my outline.

[2022-09-09 14:22] Oluwoleopeyemi commented on #611
Hello @dessireugarte and @PaulBratslavsky , I will like to update  this article

[2022-09-10 05:36] dalletopid commented on #621
ThingSpeak
• Spark
• Blaulabs
• Thinking Things
• Plataformas Open
• Plataformas de Integración
• Seguridad IoT
• Plataformas de grandes corporaciones
• Aplicaciones (AWS, GCP, Azure)
• Arquitectura OpenSource

[2022-09-10 05:45] dalletopid commented on #621
There are paid and free platforms that are limited, with Strapi you will have unlimited features for IoT.

Examples of IoT platforms:

• ThingSpeak
• Spark
• Blaulabs
•Thinking Things
• Open Platforms
• Integration Platforms
• IoT security
• Platforms of large corporations
• Applications (AWS, GCP, Azure, Arduino)
• OpenSource Architecture
• The Things Stack (LoraWan)

With Strapi you can have you

[2022-09-10 11:26] ibn-ashimi commented on #873
https://www.dropbox.com/scl/fi/r02rqmxubwey7xvltyjs2/Strapi-Deployment-Options-and-How-To-Pick-One.paper?dl=0&rlkey=wnb3bbkx7qgie6fcwogk1fzh8

Hi @TiaraOluwanimi @dessireugarte

[2022-09-11 05:55] Oluwoleopeyemi commented on #611
Hello @dessireugarte and @PaulBratslavsky , I will  like to update  this article

[2022-09-11 19:22] ajibade3210 commented on #567
Hello @ShadaW11 @PaulBratslavsky Can i pick up this article

[2022-09-11 20:03] ajibade3210 commented on #958
@PaulBratslavsky is this topic still available I'd like to pick it up

[2022-09-12 06:21] i1d9 commented on #956
@TiaraOluwanimi I'm looking forward to your feedback about this [Article](https://www.dropbox.com/scl/fi/skcdals2xjj4h0gdjgy5y/How-to-integrate-Push-notifications-on-your-applications-using-Strapi-v4-and-Firebase-Cloud-Messaging.paper?dl=0&rlkey=0pj2aditqkabr2enfo45fqfjd)

[2022-09-12 08:56] dessireugarte commented on #611
Hello @Oluwoleopeyemi 👋
Have you worked on Strapi articles or v4 updates?
If yes, please go ahead. Otherwise, take a look at the guidelines [here](https://strapi.io/write-for-the-community). Please share the draft when it is ready, so @PaulBratslavsky and @TiaraOluwanimi review it.

[2022-09-12 08:58] Saintdavidking commented on #936
Hello, @TechMakanaki  sorry to bother you just want to know if you are still working on this topic?

[2022-09-12 11:12] lucky4242 commented on #877
Hi @Dessire Ugarte Amaya ***@***.***>
what's the update on this article?

On Fri, Sep 2, 2022 at 1:05 PM Dessi ***@***.***> wrote:

[2022-09-12 11:37] Dev-Elie commented on #959
Hi. I'd love to write about the topic above.

[2022-09-12 11:49] TechMakanaki commented on #936
@Saintdavidking I'm still working on it presently and I will be done with it soon.
Thanks.

[2022-09-12 14:25] dessireugarte commented on #873
Thanks @ibn-ashimi!
We will review the article, and get back to you if we need changes.

[2022-09-12 15:33] dessireugarte commented on #817
Ok perfect @Tiioluwani
Can you please register your author details [here](https://strapi.io/write-for-the-community) by filling out the form? Then please scroll to the FAQ section and review the article [guidelines](https://github.com/strapi/community-content/blob/master/tutorials/GUIDELINES.md), how to submit an article, issue an invoice, and get paid.
You can start writing your draft. We use Dro

[2022-09-12 17:15] Sachin-chaurasiya commented on #770
Hello @dessireugarte , Here is the link for the draft article.
Please share your feedback.
https://www.dropbox.com/scl/fi/97wv008otqhpdqd8hsvcw/User-Authentication-with-React-and-Strapi-v4.paper?dl=0&rlkey=17e291tpv7llqio3kyj2l6dga

[2022-09-12 17:19] PaulBratslavsky commented on #741
@ibn-ashimi that would be great.  You can get started on the update, just keep in mind we are no longer using MongoDB.

[2022-09-12 19:04] Alex-is-Gonzalez commented on #954
Yes I can do that! However, I believe you already wrote an amazing article on this topic using Nextjs Blog. In order to make it different I would want to use React instead.

 New Outline:

What is Strapi, GraphQL, and React?
Installing Strapi :
Installing React:
Installing GraphQL from Strapi Marketplace:
What are GraphQl Resolvers and types?
Creating Custom GraphQl Resolvers
Setting up React to i

[2022-09-12 21:13] Oluwoleopeyemi commented on #611
Alright, thank you.

[2022-09-13 00:19] TiaraOluwanimi commented on #873
Hello, @ibn-ashimi. I dropped a couple of comments on the doc. Please, check, fix, and revert. Thanks!

[2022-09-13 06:38] Abdull600 commented on #900
https://www.dropbox.com/scl/fi/l7683039806fkz8va76od/How-to-build-a-minimal-ecommerce-shopping-app-with-nextjs-and-strapi-as-backend..papert?dl=0&rlkey=j7pdkdogvbc1kyoxgtfhrrxst

[2022-09-13 08:05] dessireugarte commented on #861
Hello @Dmuasya 👋
I guess it is an error, but the tutorial is in v3 and we are not longer posting any tutorial in v3. Could you please update accordingly?
cc @TiaraOluwanimi

[2022-09-13 08:21] dessireugarte commented on #844
Hi @Marienoir  👋 
Your article is [live](https://strapi.io/blog/auth0-provider-and-strapi-tutorial-1), congrats on the update! 🎉
Please register to our forum by clicking on the discussion at the bottom of your post, so you automatically receive notifications when someone adds comments. Now you can submit your invoice [here](https://docs.google.com/forms/d/e/1FAIpQLSeD59R4fR5dEJIRh4JhUpBlKAi9yX5YeJ

[2022-09-13 08:21] #844 closed

[2022-09-13 12:46] dessireugarte commented on #956
Hello @i1d9 👋
Thanks for submitting the article. Remember you can't start writing an article without the approval of the outline since we need to ensure we are not duplicating existing content.  Maybe I missed the issue where you shared it?

Regarding feedback, for the article, Paul shared his feedback on this issue.

[2022-09-13 12:48] dessireugarte commented on #955
Let us know @ibn-ashimi if you are still interested 👍
Thanks @shammadahmed , we will let you know

[2022-09-13 12:52] dessireugarte commented on #942
Hello @Cpaczek 👋
Could you confirm if you are writing this article?

[2022-09-13 12:54] dessireugarte commented on #927
Hello @digitaldesigndj 👋
I'd just like to confirm you are working on this article

[2022-09-13 12:56] dessireugarte commented on #916
Hello @sparkle666 👋
I just want to confirm you are still working on this article

[2022-09-13 14:09] dessireugarte commented on #58
Hello @Saintdavidking 👋
A person on the team reached out about this article, he had some corrections and comments about it. Could you please check it out?
cc @TiaraOluwanimi

[2022-09-13 14:14] digitaldesigndj commented on #927
Yes, still a work in progress

[2022-09-13 14:20] Bishopukpai commented on #959
Hi, I would love to write about this topic

[2022-09-13 14:22] Bishopukpai commented on #955
Hi please can I write about this topic

[2022-09-13 14:26] Bishopukpai commented on #948
Hi, can I write on this topic

[2022-09-13 22:34] ibn-ashimi commented on #955
@dessireugarte I am already working on something else. Thank you.

[2022-09-13 22:59] shammadahmed commented on #955
Thanks man @ibn-ashimi

@dessireugarte Please assign it to me and you can add the 'in progress' label to it.

[2022-09-14 07:16] Bishopukpai opened #974 "[SUBMIT] HOW TO SEND EMAIL NOTIFICATIONS WITH STRAPI AND MAIL CHIMP"
This article is about  learning how to use strapi and sendgrid to send email messages to specified email addresses. Strapi will be used as the backend API that will send the message from a specified sender to a receiver.

This article will have the following sections:
1. Introduction
2. Setting Up sendgrid account
3. Setting Up strapi project
4. Integrating Sendgrid with strapi
5. setting up the e

[2022-09-14 08:32] dessireugarte commented on #891
Hello @popoolatopzy  👋 
Your article is [live](https://strapi.io/blog/boosting-productivity-with-strapi-plugins)! 🎉
Please register to our forum by clicking on the discussion at the bottom of your post, so you automatically receive notifications when someone adds comments. Now you can submit your invoice [here](https://docs.google.com/forms/d/e/1FAIpQLSeD59R4fR5dEJIRh4JhUpBlKAi9yX5YeJIMsn-3gUFVj-b

[2022-09-14 08:32] #891 closed

[2022-09-14 11:26] Dmuasya commented on #861
Hello @TiaraOluwanimi Please confirm the updates.

[2022-09-15 02:58] Cpaczek commented on #942
Yes I plan on writing this, I don't have a firm timeline right now.

[2022-09-15 15:48] PaulBratslavsky commented on #893
@TheGhoulRe
[code]

Here is an example.  This is currently not documented in the docs. Try it out and let me know how it goes.

[2022-09-15 17:10] vcoisne opened #975 "[Request New Content] Headless CMS vs Backend framework"
**My Request**

Compare Headless CMS vs Backend framework, differences, similarities, where it fits in the overall stack, etc

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-09-16 07:19] Eventyret commented on #728
I'm very familiar with angular @PaulBratslavsky  but not to much with graphQL, so on the other hand, if anyone wants to write it but needs help with Angular do give me a tag I don't mind assist with it.

[2022-09-16 17:54] ajibade3210 opened #976 "[SUBMIT] Build and Deploy a Portfolio Website Using Next.js and Strapi"
## Introduction
Having a portfolio to showcase what you do and what you've been up to is one of the best ways to present yourself online. In this article, we will build a simple portfolio website using Strapi, Nextjs, Tailwind, and Vercel.

## Outline

- Introduction
- Setting Up Strapi
- Creating Content Types
- Adding Content Through the Strapi CMS
- Authentication in Strapi
- Setting Up NextJs

[2022-09-17 12:35] Saintdavidking commented on #975
Hello @PaulBratslavsky
i will like to take on this topic

[2022-09-17 16:38] i1d9 opened #977 "[SUBMIT] How to intergrate iPay Africa APIs to your strapi application"
Hello 👋

This tutorial will explore how to add iPay Online Payments Processing functions to a Strapi application. We will build an ebook shop to demonstrate how default Strapi CRUD applications can be extended to handle purchases made through iPay Africa APIs.

Outline
- Introduction
- Prerequisites
- Why use iPay with strapi
- Initializing a Strapi project
- Creating Collections
- Extending Colle

[2022-09-18 01:13] marvelken commented on #875
Hi Paul,
I am done with draft, you can help with the edits.
https://www.dropbox.com/scl/fi/bjc2246l040xpk075l6ak/Build-a-Twitter-Clone-with-React-and-StrapiCMS.paper?dl=0&rlkey=oqeegdvrusknqwwr11uzdkuup

[2022-09-18 07:16] csor-dev commented on #304
Hey, @PaulBratslavsky I'm interested in writing this article if it's still up.

My outline is

* Introduction(a brief on what we'll achieve)
* Prerequisites
* Installing and Setting up Flutter
* Setting up Strapi
* Creating a Flutter App
* Get strapi data and display it on flutter widgets
* Conclusion

I'll make a Trek library with some trekking spots around my City.

Let me know if I can work on

[2022-09-18 09:54] Abdull600 commented on #900
Hey @TiaraOluwanimi !

I have dropped the link to the draft. Mind reviewingmy article.

Regards

[2022-09-18 16:48] bhagatpratham commented on #901
@PaulBratslavsky

- Convert all the WordPress encoded HTML content into markdown
- Generate the taxonomies and tags from WordPress in Strapi
- Generate the WordPress posts in Strapi
- Upload all the images/files to Strapi
- Modify the content in Strapi to reference images/URLs of embedded content from Strapi.

[2022-09-18 17:38] CoderOfPHCity opened #978 "Building a Lyrics Finder App with Typescript with react and Strapi cms"
**My resource**

**My content is**

- [ ] A Strapi Tutorial / Guide / How to article
- [ ] About Headless, CMS, javascript, open source, or jamstack
- [ ] Other, specify

**What do you all think?**
❤️ I love it!
🚀 I can help you!

Thank you for submitting your article proposal.

[2022-09-19 09:50] kimkimani opened #979 "[SUBMIT] How to Perform React Native Authentication with Strapi"
- What is Strapi
- What is React Native
- Installing Strapi
- Overview of Strapi application
- Create Strapi locally
- Setup React Nativeproject
- Setup our networking logic
- Add Http library to fetch APIs
- Implement API fetching layer
- Build screens
- Build login screen
- Build registration screen
- Build Dashboard screen
- Build user profile
- How to reset Password/ Forgot password
- Sign out

[2022-09-19 11:05] TheGhoulRe commented on #893
Hi @PaulBratslavsky, it works. Thank you!

I'm done with the draft. I also added the section on returning messages. Here's the draft paper: https://www.dropbox.com/scl/fi/g8vjca07449ml64n46dc3/Advanced-customisation-for-Strapi-policies.paper?dl=0&rlkey=g5su7104tbohk7jissu3dqtiq

[2022-09-19 13:21] chyke007 commented on #811
@dessireugarte any update on the state of this article?

[2022-09-19 14:03] PaulBratslavsky commented on #811
@TiaraOluwanimi I double checked the published article, it is still the old version and not the updated article.

[2022-09-19 15:39] #959 closed

[2022-09-19 20:16] jarvatar opened #980 "[TOPIC] - UPDATE YOUR TUTORIALS TO V4 PLEASE"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-09-19 21:51] PaulBratslavsky commented on #893
@TheGhoulRe it looks good, but there were couple of images that were not showing up for me.  Let me know if that is happening for you, otherwise we can move this to review process by our reviewer.

[2022-09-20 07:03] TheGhoulRe commented on #893
@PaulBratslavsky I don't have the same issue. All the images are showing up for me

[2022-09-20 07:07] kimkimani commented on #880
Hello @PaulBratslavsky I have updated the outline for this one

[2022-09-20 07:38] dessireugarte commented on #861
Hello @TiaraOluwanimi 👋
This article is ready for one last review and then update in the backend.

[2022-09-20 07:54] dessireugarte commented on #915
Hello @Marktawa  👋 
Your article is [live](https://strapi.io/blog/implementing-previews-with-next-applications-using-a-strapi-backend)! 🎉
Now you can submit your invoice [here](https://docs.google.com/forms/d/e/1FAIpQLSeD59R4fR5dEJIRh4JhUpBlKAi9yX5YeJIMsn-3gUFVj-bMjg/viewform)!
Let me know if you have any questions!

[2022-09-20 07:54] #915 closed

[2022-09-20 08:06] dessireugarte commented on #826
Hello 👋 
Your article is [live](https://strapi.io/blog/5-things-to-keep-in-mind-before-creating-a-strapi-plugin)! 🎉
Now you can submit your invoice [here](https://docs.google.com/forms/d/e/1FAIpQLSeD59R4fR5dEJIRh4JhUpBlKAi9yX5YeJIMsn-3gUFVj-bMjg/viewform)!
Feel free to reach out to me if you have any questions!

[2022-09-20 08:06] #826 closed

[2022-09-20 08:31] oviecodes commented on #826
Thanks @dessireugarte but the author name in the article is wrong I'm Alexander Godwin. It says Godwin Alexander Ekainu.

[2022-09-20 08:33] oviecodes commented on #826
Thanks @dessireugarte I'll do so, I still haven't been paid for the last article. I hope everything is good?

[2022-09-20 09:28] oyedeletemitope commented on #908
Hello @PaulBratslavsky @TiaraOluwanimi I made a few tweaks to this tutorial. Here are the links to the drafts:

https://www.dropbox.com/scl/fi/doui9rtfl8z784m1h2bp1/Micro-Frontend-using-Module-Federation-part1.paper?dl=0&rlkey=aglh5lly0qr8sbexl3m49s4g6

https://www.dropbox.com/scl/fi/s1d0ecvz2d3wk2mh93n2p/Micro-Frontend-using-Module-Federation.paper?dl=0&rlkey=k936uo6qposo0ee1691u9nq8i

[2022-09-20 09:36] oyedeletemitope commented on #554
Hello @dessireugarte . Regarding the payment, I’ve filled the form since but yet to receive payment wanted to ask if I should refill and then add a statement of account to it.

[2022-09-20 12:49] dessireugarte commented on #976
Hello @ajibade3210!
We have some similar blog posts as this with a similar outline.
I would suggest focusing the article on leveraging Vercel with a Headless CMS and deploying your Strapi app in Vercel.
What do you think?

[2022-09-20 12:51] dessireugarte commented on #978
Hello @CoderOfPHCity!
Could you please share the outline of what the article would look like?

[2022-09-20 12:54] dessireugarte commented on #980
Hello @jarvatar!
Which article(s) do you suggestt?

[2022-09-20 12:59] ajibade3210 commented on #976
Okay, it's fine.
Do you mean I should focus the article more on deploying a Strapi application using Vercel

[2022-09-20 14:02] lucky4242 commented on #877
Hi  @dessire
Please what's the update on this article?
https://www.dropbox.com/scl/fi/hzngfijv2nvuic8u2czk2/Building-a-Job-Nina-with-Sapper-Strapi-v4-and-Netlify.paper?dl=0&rlkey=vj7dbeejjz1bkeoppaqtv61yn

On Mon, Sep 12, 2022 at 12:12 PM Opuama Lucky ***@***.***>
wrote:

[2022-09-21 08:08] oviecodes commented on #454
@dessireugarte , @TiaraOluwanimi here's a link to the article.
https://www.dropbox.com/scl/fi/eby0y8gk9djys2vhakvrb/How-to-Customize-Strapi-backend(Services%2C-Routes%2C-Controllers%2C-Queries)-using-TypeScript.paper?dl=0&rlkey=nm9buu9gww6tdhpt6nulvwrlw

[2022-09-21 08:49] TechMakanaki commented on #936
Good morning, @dessireugarte.
I am done with the draft, here is the link to the dropbox paper below;

https://www.dropbox.com/scl/fi/6v3qye5parko7u2e5t2pj/Untitled.paper?dl=0&rlkey=zzuoxyedn8zitda34gmfm6yqf

[2022-09-21 13:49] TiaraOluwanimi commented on #908
@PaulBratslavsky, could you pls approve the tweaks and confirm if it's ready for review?

[2022-09-21 17:10] PaulBratslavsky commented on #979
@kimkimani nice, you can get started on this article.

[2022-09-21 17:18] PaulBratslavsky commented on #976
@ajibade3210 You can write about how to deploy Next JS app to Vercel using SSG, then you can set up a hook in Strapi that will file when new content is added and rebuild and redeploy the next js app.  So that way, the Strapi server is not being hit on every request.  Which can save on cost.  Let me know if you have any questions.

[2022-09-21 17:27] PaulBratslavsky commented on #954
You can create something based on what I started with, possibly create a custom resolver that calls a custom service that pulls data from an API like GitHub and returns that data.  Or saves it to Strapi.  I can also answer any questions that you may have.  In terms of GraphQl articles, we want to focus more on backend customization rather than frontend implementation.

[2022-09-21 17:32] PaulBratslavsky commented on #955
@ibn-ashimi since you are working on something else I will assign it to @shammadahmed.

When ever you have an outline, please share it here.  Thank you.

[2022-09-21 17:33] PaulBratslavsky commented on #975
@Saintdavidking sounds good. Can provide an outline when you are ready?  Thank you.

[2022-09-21 17:50] dessireugarte commented on #936
I left some comments @TechMakanaki

[2022-09-21 17:53] dessireugarte commented on #877
Hello @lucky4242 👋
Sorry for the delay on this article,
On October third we will post it on the blog. I will ping you as soon as we post it.

[2022-09-21 17:54] dessireugarte commented on #454
Hello @oviecodes !
Thanks for the draft! @PaulBratslavsky could you please take a look to the article?

[2022-09-21 17:56] dessireugarte commented on #826
Hello @oviecodes! Could you let me know when you submitted your invoice?
Seems there is a small delay in some payments, let me know and I will check. I might take some time in answering since I am leaving for a couple of days but as soon as I am back I will check

[2022-09-21 18:02] dessireugarte commented on #811
Hello @chyke007 👋
Sorry, for the big delay on this article. It was my bad and I apologize, thanks for letting us know. I scheduled it to be published in the first week of October. Please feel free to submit your invoice!

[2022-09-21 18:03] TechMakanaki commented on #936
Thank you i will do the needful

[2022-09-21 18:04] oviecodes commented on #826
Thanks @dessireugarte I submitted my invoice on the 5th of September.

[2022-09-21 18:06] dessireugarte commented on #58
Hello @Saintdavidking ! Thanks for updating it, we will publish the article the first week of October. I left a comment with one change on the cover.
@TiaraOluwanimi Could you please update it on the backend when the covers are ready? Thanks!

[2022-09-21 18:08] ajibade3210 commented on #976
@PaulBratslavsky this is fine if I have any question I would let you know. Can I start working on this?

[2022-09-21 18:52] TechMakanaki commented on #936
Hello, @dessireugarte I have re-paraphrased all the sentences you commented on.
Kindly cross-check and get back to me.
Thanks.

[2022-09-21 20:02] ibn-ashimi commented on #955
@shammadahmed Are you on twitter? whats your handle?

[2022-09-21 20:59] shammadahmed commented on #955
@PaulBratslavsky Since Heroku is ending the free tier in November, my tutorial will use Render to deploy the backend. Here is the outline:

- Introduction
- Strapi - a headless CMS
- Cloudflare Pages - a JAMstack platform
- Goals
- Prerequisites
- Choose a hosting platform for Strapi
- Deploy the backend
- Add content
- Choose a UI
- Deploy the frontend
- Automatically redeploy with webhooks
- Con

[2022-09-21 22:10] ibn-ashimi commented on #955
Cool. Followed you @shammadahmed

[2022-09-21 22:36] Saintdavidking commented on #975
Hello @PaulBratslavsky, this is my proposed outline

Topic: Headless CMS vs Backend framework

Outline:

- Introduction
- What is a Headless CMS
- What is a Backend framework
- Example of a Headless CMS (Strapi)

       - Overview of Strapi
       - Strapi installation

- Headless CMS vs Backend framework [Pros and Cons of Headless CMS]

 Conclusion

[2022-09-21 23:49] vcoisne commented on #975
@Saintdavidking I don't think we need the example of Headless CMS section as it has been covered many times, I would rather want to focus on comparison with popular backend frameworks like Express or Django.

[2022-09-22 03:21] divofred commented on #889
Hello @dessireugarte @PaulBratslavsky.
I'm done with this update.
[Here's](https://www.dropbox.com/scl/fo/sf60p0z71pen8ysn44l5i/h?dl=0&rlkey=qw6c2pv4zqg034ph01kr3iy0v) the dropbox link.

[2022-09-22 05:42] Saintdavidking commented on #975
Hello @PaulBratslavsky  How about this?
 outline

Topic: Headless CMS vs Backend framework

Outline:

Introduction

What is a Headless CMS

What is a Backend framework

Example of Backend frameworks.

Headless CMS vs Backend framework
- [Pros and Cons of Headless CMS]
- Similarities and cocomparison

Conclusion

[2022-09-22 15:08] ath34-tech commented on #589
@PaulBratslavsky @dessireugarte here is the draft:
[draft](https://docs.google.com/document/d/11jcOZ2CHGTjvEGuZps1viZsCdVooBjPav5l3l8t-V8g/edit?usp=sharing)

[2022-09-22 16:40] Sachin-chaurasiya commented on #770
Thanks for the review @TiaraOluwanimi, excited to see my first article on the strapi blog 🚀 .

[2022-09-22 17:02] ibn-ashimi commented on #628
Hi @malgamves @vcoisne Any update on this invoice?

[2022-09-22 17:04] PaulBratslavsky commented on #889
@divofred thank you so much we will start the review. @TiaraOluwanimi this is ready to be reviewed.  Thank you.

[2022-09-22 17:32] PaulBratslavsky commented on #589
@ath34-tech before submitting the article for review, can you update the code snippets to use markdown instead of images, making it easier for folks to copy the code. Thank you. Can you also share the GitHub repo link for the completed project?

[2022-09-23 03:59] Xemarij commented on #977
Hi,
I am interested in taking over this project. Please assign it to me.

[2022-09-23 04:58] Xemarij commented on #977
Is the project available?

[2022-09-23 05:01] Xemarij commented on #974
I am new here in the Strapi community. I notice the "Looking for author" label, is the project available. If so please assign it to me, I am interested.

[2022-09-23 05:31] Xemarij commented on #139
Hi, I like to take this project if it is available.

[2022-09-23 15:10] ath34-tech commented on #589
@PaulBratslavsky those are not images, actually, i copied them from vs code,that's why they are black backgrounds with different colors
here the repository: [repo](https://github.com/ath34-tech/Strapi-auth0)

[2022-09-23 15:19] divofred commented on #839
@dessireugarte @PaulBratslavsky. I can work on this update, if it's available.
Thanks

[2022-09-24 09:12] i1d9 commented on #977
@Xemarij No

[2022-09-24 15:00] icode247 commented on #954
Hi @PaulBratslavsky,
I work on this article following the outline you've provide.

Thanks

[2022-09-24 15:13] Claradev32 commented on #978
Hi @dessireugarte,
I can work on this topic with the outline below:
- What is Strapi
- Setup Strapi Project
- Configure Typescript
- Create Lyrics and Songs Content Types
- Setup React Application
- Setup the App Components
- Add Search Functionality
- Conclusion

[2022-09-25 18:20] a7medayman6 opened #981 "[SUBMIT] How to create automated tests for Strapi API using PactumJS"
### **A beginner’s guide on how to create and run automated tests for Strapi API using PactumJS.**

**Outline**

* Introduction
* What is Strapi?
* What is PactumJS?
* Setting up Strapi locally
* Create a demo To-do List back-end app using Strapi
* Setting up PactumJS
* Making requests
    * GET request with parameters
    * POST request
    * DELETE request
    * More request types
* Response val

[2022-09-25 18:22] a7medayman6 commented on #981
Hello!

I'm very excited to start working on my first article for Strapi, please let me know when can I start working on the draft.

[2022-09-25 18:45] Tiioluwani commented on #817
Hi @dessireugarte
@TiaraOluwanimi
Here is the link to the draft of this  article
https://www.dropbox.com/scl/fi/9zy9dcicqa4ykkt7xcj0g/The-Must-Have-Strapi-Plugins-for-Your-Business-Website.paper?dl=0&rlkey=vfi026pb650aq1e14lr6tedgh

[2022-09-27 08:25] Sachin-chaurasiya commented on #770
Hello @dessireugarte , Is there any update on when we are publishing this article?

[2022-09-27 11:15] Ksound22 commented on #929
Hey Paul,

I've tried to create the random route but I can't find my way around it.

How can you help me?

[2022-09-27 13:41] Ksound22 commented on #929
@PaulBratslavsky how can you help me?

[2022-09-27 13:42] Ksound22 commented on #929
@PaulBratslavsky how can you help?

[2022-09-27 15:17] PaulBratslavsky commented on #880
@kimkimani ok, so this is ready? https://www.dropbox.com/scl/fi/zsiitixlihth5vhbkwwfj/How-to-Perform-Flutter-Authentication-with-Strapi.paper?dl=0&rlkey=istibvspkyrwlcfk05jsgk3qm

[2022-09-27 15:25] quentin-js opened #982 "[SUBMIT] Best Practices to onboard non-technical users on Strapi"
**Hello Strapi Team 👋**

I'm very excited to join the Community as a writer and share my experience from being an ex-Strapier to all.

For the first article, I'd like to explain how to easily onboard non-technical people like content managers or marketers on Strapi. The idea is to guide them to build the ideal step-by-step: from the settings, to the most-have plugins and some tips for additional p

[2022-09-28 17:45] PaulBratslavsky commented on #589
Ok. Thank you. Moving this to review.   @TiaraOluwanimi  this is ready to be reviewed.

[2022-09-29 10:45] kartikdani opened #983 "[REQUEST]"
I want to use strapi with django framwe work can you please provide me the tutorial for the same

[2022-09-29 14:39] PaulBratslavsky commented on #941
@ChisomUma I would recommend using some sort of WYSIWYG editor to help write the markdown in your next js app rather than using a simple text field.

[2022-09-29 14:59] PaulBratslavsky commented on #900
It's a good starting point, but I would recommend creating a more complex content structure, where you use strapi dynamic zones and components.  Maybe you have different types of products, each can be represented by a component in strapi, and you can choose the appropriate one in the dynamic zone.

You can reference this article https://strapi.io/blog/creating-strapi-dynamic-zone-in-nuxtjs-app ( i

[2022-09-29 15:38] ath34-tech commented on #839
I will like to take over this issue if it is free

[2022-09-29 16:13] Umoren commented on #842
Hello @dessireugarte
Any updates on this article?

[2022-09-29 16:14] Umoren commented on #833
Hello @dessireugarte
Any updates on when this will be published?

[2022-09-29 16:48] ibn-ashimi commented on #873
Hi Boss @TiaraOluwanimi. Have you had time to check this?

[2022-09-29 23:58] BrianJesusFreakGreen commented on #672
@JamesIde If you follow that tutorial you can get it to work with some minor changes.   I'm guessing since that tutorial something in Strapi changed in their Json Schema.   One issue is that if you create a post type and a post it's not found at {url}/post it's found at {url}/api/post.   If you navigate there in your Strapi App you should see the Json and it has a "data" wrapper around everything

[2022-09-30 00:24] JamesIde commented on #672
@BrianJesusFreakGreen Thanks for taking the time to respond on here, especially with working code too. At the time I was heavily focused on developing Blazor applications with Strapi but we (work) eventually migrated to Contentful for reasons mentioned above and dumped Blazor (lol) for React. I'd say if you've got a working version similar to the tutorial I'm pretty sure there are outlets availabl

[2022-09-30 19:45] TiaraOluwanimi commented on #589
@ath34-tech, pls put this on a dropbox document and allow edit access. This current one doesn't work. Thanks

[2022-09-30 20:00] TiaraOluwanimi commented on #935
Hi, @Ubaydah. How's it going? How's the piece coming along?

[2022-09-30 20:26] popoolatopzy commented on #507
smoothly,  I'll be done soon. Thanks

[2022-10-01 06:10] ath34-tech commented on #589
[https://www.dropbox.com/scl/fi/6wkt0jjcldpy50mhio269/Strapi-2.paper?dl=0&rlkey=pft2m7v2vmzafw7xwe08s028u](https://www.dropbox.com/scl/fi/6wkt0jjcldpy50mhio269/Strapi-2.paper?dl=0&rlkey=pft2m7v2vmzafw7xwe08s028u)

@TiaraOluwanimi  here is the link

[2022-10-01 06:40] divofred commented on #889
@TiaraOluwanimi, are you done reviewing?

[2022-10-01 10:19] Ubaydah commented on #935
going okay, will turn the first draft in soon

[2022-10-02 00:20] Theodore-Kelechukwu-Onyejiaku opened #984 "[SUBMIT] How to build a flashcard System using Strapi custom controllers and routes, NextJs, and Tailwind CSS."
### How to build a flashcard website using Strapi, NextJs, and Tailwind CSS.  Flashcards aid memorization. And it is used by anyone including students, software engineers or any profession, as a memorization tool.  For instance, I use flashcards to memorize some algorithms.

### Outline
* Introduction
* What is a Flashcard?
* Benefits of a flashcard.
* What is Strapi?
* What is Tailwind CSS
* Scaf

[2022-10-02 15:41] Ubaydah commented on #935
Hi @TiaraOluwanimi @dessireugarte

This is the link to my article draft, looking forward to your feedback.

https://www.dropbox.com/scl/fi/x46vertgf0u5nneqf7vlm/TypeScript-vs-JavaScript-with-Strapi.paper?dl=0&rlkey=9ldl4m7j1lx548ocb350t79wn

[2022-10-02 18:05] unforswearing commented on #616
Hello @ShadaW11 and @PaulBratslavsky - Wanted to check in one last time about updating this content. Do you still need help with this?

[2022-10-02 21:15] divofred commented on #758
@PaulBratslavsky @dessireugarte, I am interested in taking up this update.

[2022-10-03 07:38] Ubaydah commented on #935
Hi @TiaraOluwanimi @dessireugarte, This is the link to the draft of my article. https://www.dropbox.com/scl/fi/x46vertgf0u5nneqf7vlm/TypeScript-vs-JavaScript-with-Strapi.paper?dl=0&rlkey=six10iny32ngqer4x3y6xpqvj.

I look forward to your feedback.

[2022-10-03 10:41] dessireugarte commented on #877
Hello @lucky4242  👋 
Your article is [live](https://strapi.io/blog/building-a-job-nina-with-sapper-strapi-v4-and-netlify)! 🎉
Please register to our forum by clicking on the discussion at the bottom of your post, so you automatically receive notifications when someone adds comments. Also please follow the [guidelines](https://strapi.io/write-for-the-community) to issue and submit an invoice. Now yo

[2022-10-03 10:41] #877 closed

[2022-10-03 11:33] kimkimani commented on #880
Yes @PaulBratslavsky

[2022-10-03 11:37] kimkimani commented on #979
@PaulBratslavsky, This one is ready https://www.dropbox.com/scl/fi/r9swrlbqwul92qwmau9zy/How-to-Implement-Authentication-in-React-Native-using-Strapi.paper?dl=0&rlkey=no674xeq0qurspfppexh9nj3n

[2022-10-03 11:43] oviecodes commented on #826
Hello @dessireugarte , please is there any response about the invoice?

[2022-10-03 13:31] dessireugarte commented on #925
Hello @Marktawa  👋 
Your article is [live](https://strapi.io/blog/how-to-build-a-news-app-using-react-jsith-i18n-api-in-strapi)! 🎉
Now you can submit your invoice [here](https://docs.google.com/forms/d/e/1FAIpQLSeD59R4fR5dEJIRh4JhUpBlKAi9yX5YeJIMsn-3gUFVj-bMjg/viewform), and soon you will receive your payment.
Please feel free to reach out to me if you have any questions!

[2022-10-03 13:31] #925 closed

[2022-10-03 14:28] popoolatopzy commented on #903
Hello @dessireugarte 👋
Any update on this article.

[2022-10-03 14:39] #576 closed

[2022-10-03 19:43] PaulBratslavsky commented on #758
@divofred just assigned it to you

[2022-10-04 07:59] dessireugarte commented on #811
Hello @chyke007  👋 
Your article is [live](https://strapi.io/blog/protected-routes-and-authentication-with-react-and-node-js-1)!
Sorry for the delay in this article. Please feel free to reach out to me if you have any questions!

[2022-10-04 07:59] #811 closed

[2022-10-04 08:11] chyke007 commented on #811
Thanks for the help so far @dessireugarte

[2022-10-04 08:13] Theodore-Kelechukwu-Onyejiaku commented on #984
Hi @PaulBratslavsky @Mcastres .

Good day, I sure hope you are doing great.
I am glad to write for Strapi.

Here is the Project Demo link on Youtube of creating a Flashcard System with Strapi Custom Controllers and Routers, with NextJs and Tailwind CSS.

I have finished the work, and only left with writing the article.

https://www.youtube.com/watch?v=a-FursKUuqw&t=211s

Best,
Theodore

[2022-10-04 09:36] dessireugarte commented on #903
Hello @popoolatopzy 👋
Your article will be published next week. I'll let you know when it is published!

[2022-10-04 09:46] dessireugarte commented on #833
Hello @Umoren  👋
I just wanted to let you know that your article will be published around the third week of September. I'll let you know when it is published!

[2022-10-04 09:48] dessireugarte commented on #842
Hello @Umoren  👋 
Your article is [live](https://strapi.io/blog/how-to-replace-strapi-s-default-wysiwyg-editor-with-tiny-mce-editor)! 🎉
Please register to our forum by clicking on the discussion at the bottom of your post, so you automatically receive notifications when someone adds comments. Also please follow the [guidelines](https://strapi.io/write-for-the-community) to issue and submit an invo

[2022-10-04 09:48] #842 closed

[2022-10-04 09:52] #892 closed

[2022-10-04 09:54] dessireugarte commented on #906
Hello @Marienoir  👋 How are you?
I just wanted to let you know that your article will be published around the third week of September. I'll let you know when it is published!

[2022-10-04 09:55] dessireugarte commented on #770
Hello @Sachin-chaurasiya  👋
Just wanted to let you know that your article will be published around the third week of October. I'll let you know when it is published!

[2022-10-04 09:59] dessireugarte commented on #826
@malgamves are there any news about this payment?

[2022-10-04 10:07] Sachin-chaurasiya commented on #770
Hello, @dessireugarte 👋 Thanks for the update.

[2022-10-04 10:08] dessireugarte commented on #935
Hello @Ubaydah 👋 I left some comments. Now @TiaraOluwanimi will review it and then we can give you a publication.

[2022-10-04 10:13] dessireugarte commented on #889
Hello @TiaraOluwanimi! This article update is ready to be reviewed, it is an update of a tutorial series. Please take into consideration that the URLs that are at the end of each article will change so we should change them accordingly to the new slug shown on the backend.

[2022-10-04 10:16] dessireugarte commented on #589
Hello @ath34-tech 👋
Please make sure to follow [this](https://github.com/strapi/community-content/blob/master/tutorials/GUIDELINES.md) guidelines, since the draft is missing the title, author, metadescription, banners, etc.

[2022-10-04 10:20] dessireugarte commented on #873
Hello @TiaraOluwanimi
This article is good to be added to the backend. I'll let you know asap when we are publishing this one @ibn-ashimi

[2022-10-04 12:44] Saintdavidking commented on #58
Hello @dessireugarte @TiaraOluwanimi,
  any update ??

[2022-10-04 13:33] dessireugarte commented on #939
Hello @FaithKovi 👋
How are you doing with this article?

[2022-10-04 13:34] dessireugarte commented on #635
Hello @omarkhairy21 👋 How are you?
I'd like to know what is the status of this article?

[2022-10-04 13:35] dessireugarte commented on #905
Hello @EmmanuelTheCoder 👋 How are you?
I'd like to know what is the progress in this article? Do you have a draft ready?

[2022-10-04 13:37] dessireugarte commented on #944
Hello @femakin 👋 Are you still interested in writing this article?

[2022-10-04 14:43] omarkhairy21 commented on #635
Hi @dessireugarte thanks for following up I completed over 70% with +1000 words so i expect to be ready for reading the next Sunday

[2022-10-04 15:21] ath34-tech commented on #589
[https://www.dropbox.com/scl/fi/6wkt0jjcldpy50mhio269/creating-authentication-pipeline-with-provider-auth0-in-strapi-and-reactjs.paper?dl=0&rlkey=pft2m7v2vmzafw7xwe08s028u](https://www.dropbox.com/scl/fi/6wkt0jjcldpy50mhio269/creating-authentication-pipeline-with-provider-auth0-in-strapi-and-reactjs.paper?dl=0&rlkey=pft2m7v2vmzafw7xwe08s028u)

@dessireugarte i added all details you asked, please t

[2022-10-04 15:22] dessireugarte opened #985 "[UPDATE OUTDATED CONTENT] How to Build a Blog using Blazor WASM and Strapi"
**Description**
Update this article with Strapi v4 https://strapi.io/blog/how-to-build-a-blog-using-blazor-wasm-and-strapi

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-10-04 17:01] Ubaydah commented on #935
Thanks for the feedback @dessireugarte , I have implemented the changes.

Looking forward to your review @TiaraOluwanimi

[2022-10-04 17:41] femakin commented on #944
I couldn't get a better material/Resources on the Topic

[2022-10-04 20:07] PaulBratslavsky commented on #929
@Ksound22 can you share the code example and I can help you out?  Do you have your project on GitHub?

[2022-10-05 00:26] icode247 commented on #954
Hi @Alex-is-Gonzalez ,
I can work on this topic

[2022-10-05 00:28] icode247 commented on #948
Hi @kimkimani
I can work on this topic

[2022-10-05 04:43] i1d9 commented on #956
@dessireugarte Okay...I'll take that into account when creating my next issue

[2022-10-05 07:25] jcnew777 opened #986 "strapi starter[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-10-05 08:24] dessireugarte commented on #861
Hello @Dmuasya  👋 
Your article is [live](https://strapi.io/blog/how-to-build-a-school-website-with-strapi-cms-using-vanilla-javascript)! 🎉
Please register to our forum by clicking on the discussion at the bottom of your post, so you automatically receive notifications when someone adds comments. Also please follow the [guidelines](https://strapi.io/write-for-the-community) to issue and submit an

[2022-10-05 08:24] #861 closed

[2022-10-05 09:51] Marienoir commented on #906
Hello @dessireugarte
Thanks for the update 😊

[2022-10-05 14:19] ibn-ashimi commented on #873
Thank you @dessireugarte

[2022-10-05 16:13] kimkimani commented on #879
Hello, @PaulBratslavsky  This one is ready for review.

https://www.dropbox.com/scl/fi/l0hdbizi6u8vr9g6qcei0/How-to-Make-API-calls-in-Android-using-Retrofit-and-Strapi-CMS.paper?dl=0&rlkey=vbqugnmrgzbvbe700jjyxgg13

[2022-10-05 16:57] FaithKovi commented on #939
@dessireugarte you can assign someone else to this topic.

[2022-10-05 18:19] Ksound22 commented on #929
@PaulBratslavsky, here's the link to the repo: https://github.com/Ksound22/strapi-quote-generator

Its public.

[2022-10-06 07:26] wobin1 commented on #598
@PaulBratslavsky I am interested in writing this article.

[2022-10-06 08:49] kimkimani commented on #939
@FaithKovi Is this the same topic https://strapi.io/blog/deploying-and-scaling-the-official-strapi-demo-app-food-advisor-with-kubernetes-and-docker ?

[2022-10-06 08:51] kimkimani opened #987 "[SUBMIT] Deploying a Strapi Docker Container to AWS ECS Using Docker"
**My resource**

**My content is**

- [ ] A Strapi Tutorial / Guide / How to article
- [ ] About Headless, CMS, javascript, open source, or jamstack
- [ ] Other, specify

**What do you all think?**
❤️ I love it!
🚀 I can help you!

Thank you for submitting your article proposal.

[2022-10-06 08:57] FaithKovi commented on #939
@kimkimani no its not. View the request stated.

[2022-10-06 09:05] kimkimani opened #988 "[SUBMIT] Deploying a Strapi Kubernetes Cluster on Amazon EKS"
**My resource**

**My content is**

- [ ] A Strapi Tutorial / Guide / How to article
- [ ] About Headless, CMS, javascript, open source, or jamstack
- [ ] Other, specify

**What do you all think?**
❤️ I love it!
🚀 I can help you!

Thank you for submitting your article proposal.

[2022-10-06 11:14] Theodore-Kelechukwu-Onyejiaku commented on #984
Hi @dessireugarte, @PaulBratslavsky and @Mcastres.
I sure hope you are doing fine.

Please what do you think of my topic, article, and project?

Thanks.

[2022-10-06 13:50] eunice-ogboye commented on #986
I like to write on thi topic

[2022-10-07 02:52] ajibade3210 commented on #976
@PaulBratslavsky @dessireugarte I think I might need to deploy the strapi application for this article.
Can I use Heroku?

[2022-10-07 04:18] bikramkawan opened #989 "[SUBMIT]"
**My resource**

This article is for creating multitenancy strapi app which I have been using for 10+ clients. Reader will be able to run multiple strapi app using single code base.
Here is article I have published.
https://medium.com/@bikramkawan/how-to-run-strapi-as-multitenancy-multi-tenant-app-to-host-multiple-website-with-single-codebase-4dde5f9de6d
**My content is**

- [x] A Strapi Tutorial

[2022-10-07 10:11] dessireugarte commented on #939
This topic is available again. We released the docs this week on [Running Strapi in a Docker container](https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/installation/docker.html#development-and-or-staging-environments) that could facilitate writing this article.

The author that decides to write this article will have guidance by someone in the Strapi team.

[2022-10-07 10:18] kimkimani commented on #939
@dessireugarte I would love to work on this topic. However, just to ask, is this an article or a tutorial?

[2022-10-07 12:37] dessireugarte commented on #939
Great news @kimkimani! It would be a tutorial. Do I assign you the topic?

[2022-10-07 13:00] kimkimani commented on #939
Yes @dessireugarte

[2022-10-09 09:05] fishisgood opened #990 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-10-09 17:55] i1d9 opened #991 "[SUBMIT] Powering a video streaming app using strapi"
Hello 👋

This tutorial will build a video streaming application using a Strapi server instance and VIte.js. We will learn how to add custom routes and their respective controller functions. In addition, we will add some logic to serve video content into bufferable chunks by modifying response headers sent back to the client's browser.

Outline
- Introduction
- Prerequisites
- Initializing a Strapi

[2022-10-09 22:42] Tammibriggs opened #992 "[SUBMIT] Building a job board with Strapi and Vue"
Hello 👋

This tutorial will introduce Strapi and how it works by building a job board that includes features for searching for and filtering jobs and a form for applying for a job.

## Outline
- Prerequisite
- Introduction to Strapi
- Setting up a Strapi project
  - Creating the collection content types
- Building a Job board
  - Setting up Vue
  - Creating new jobs
  - Fetch and display all jobs

[2022-10-10 05:23] noblefresh commented on #992
I'm interested on this topic, can I work on it?

[2022-10-10 08:47] FaithKovi commented on #813
Hello @malgamves
This article was published. I Submitted my invoice in September and I am yet to receive my pay.

[2022-10-10 08:54] dessireugarte commented on #58
Hello 👋 
Your article is [live](https://strapi.io/blog/global-summary-of-some-strapi-key-features)!
Please register to our forum by clicking on the discussion at the bottom of your post, so you automatically receive notifications when someone adds comments. Also please follow the [guidelines](https://strapi.io/write-for-the-community) to issue and submit an invoice. Now you can submit your invoice

[2022-10-10 08:54] #58 closed

[2022-10-10 08:56] #990 closed

[2022-10-10 08:57] dessireugarte commented on #989
Hello @bikramkawan 👋
Since you already wrote the article on another platform but in v3, would this one be in v4?
@PaulBratslavsky @Mcastres what do you think?

[2022-10-10 09:00] dessireugarte commented on #992
Hello @Tammibriggs 👋
We already have two similar articles with different technologies, so we are not going to proceed with this topic.
[- Building a Job Nina with Sapper, Strapi and Netlify](https://strapi.io/blog/building-a-job-nina-with-sapper-strapi-v4-and-netlify)
[- How to Build a Job Board with Next.js, Tailwind CSS, and Strapi ](https://strapi.io/blog/how-to-build-a-job-board-with-next-js-t

[2022-10-10 09:00] #992 closed

[2022-10-10 10:14] ath34-tech commented on #589
@PaulBratslavsky @dessireugarte @TiaraOluwanimi any updates?

[2022-10-10 12:20] Mcastres commented on #989
I'm not an expert on Multi-tenancy but it seems too easy to tackle this popular feature 🤔 Maybe you can provide more information on this @bikramkawan :)

[2022-10-10 14:45] dessireugarte commented on #939
Great @kimkimani ! You can start writing your draft. We use Dropbox Paper to submit and review drafts. Please duplicate and use this [article template](https://www.dropbox.com/scl/fi/7o4rzejzmla65hygplkai/My-First-Strapi-Article.paper?dl=0&rlkey=zoc4r7k3iw7titgsxp8vrt55x). If you would need some assistance in the process, please let me know and I can put you in contact with someone in the team to

[2022-10-10 15:30] dessireugarte commented on #976
@ajibade3210 why not using Vercel as we discussed previously?

[2022-10-10 15:33] dessireugarte commented on #944
Ok, thanks @femakin

[2022-10-10 15:37] Mcastres commented on #976
@dessireugarte, you can't deploy Strapi on Vercel.

Vercel is built to deploy mostly front end.

[2022-10-10 15:51] dessireugarte commented on #936
Hello @TiaraOluwanimi
I think this article is ready, could you please take one last look and if it is ready, upload it to the backend?

[2022-10-10 15:53] dessireugarte commented on #805
Hello @Mcastres and @PaulBratslavsky
This is the outline proposed by @ibn-ashimi

Outline:
- Introduction
- What is Strapi
- Prerequisites
- Project setup
- Backend Setup
- Creating Frontend layout
- Product Page
- Cart Page
- Handing Payments
- Deployments
- Conclusion

Could you please take a look?

[2022-10-10 15:56] dessireugarte commented on #817
Hello @Tiioluwani ! I left some comments and shared the draft with the team for review.
cc @TiaraOluwanimi

[2022-10-10 15:57] dessireugarte commented on #976
@Mcastres ok. Would it be ok what @ajibade3210 is suggesting?

[2022-10-10 15:57] Mcastres commented on #805
What E-commerce solution are you going to use?

[2022-10-10 15:58] Mcastres commented on #976
Yep, LGTM

[2022-10-10 18:27] Kapcash opened #993 "Create dynamic zones in nuxt: missing images"
**The concerning content**

[Creating Dynamic Zone in Nuxtjs](https://strapi.io/blog/creating-strapi-dynamic-zone-in-nuxtjs-app)

**Issue**

There are **missing images** in the article, which doesn't allow use to get the full demonstration and results.

[2022-10-10 22:24] icode247 commented on #991
Hi @PaulBratslavsky , @Mcastres .
I can work on this topic

[2022-10-10 23:12] Tiioluwani commented on #817
@dessireugarte I've made adjustments in response to your comments.

[2022-10-11 01:57] omarkhairy21 commented on #635
Hey, @dessireugarte and @PaulBratslavsky I would like to take your opinions about setting up suitable closure for [the article](https://www.dropbox.com/scl/fi/men12f6jhervcg196at31/Deploy-strapi-as-a-docker-container-on-Aws-Elastic-beanstalk.paper?dl=0&rlkey=vb7jbzzidmsuuz1ap8dg0trvn), there are some possible closures:
1- Fix the Https problem with the setup of AWS Loadbalancer it would require an

[2022-10-11 04:24] bikramkawan commented on #989
@Mcastres I can start writing for the v4 if that helps. It will be same principle I have written for V3.  Let me know.

[2022-10-11 06:22] lucky4242 commented on #878
Hi @PaulBratslavsky
Ready to work on this topic
Here is the outline

Introduction.
Goal.
Prerequisite.
What is Sapper?
Installing Sapper.
Building the Frontend.
What is Strapi.
Initializing a Strapi project.
Creating Collections.
User registration.
User login.
Building our poject.
Testing.
Conclusion.

[2022-10-11 07:18] Mcastres commented on #991
@i1d9 are you working on this or have you just submitted an idea?

[2022-10-11 07:21] i1d9 commented on #991
@Mcastres I've already started working on it. You could change the issue label and assign it to me

[2022-10-11 07:22] Mcastres commented on #991
Thanks for the reactivity @i1d9!

[2022-10-11 07:26] Umoren commented on #842
Alright

On Tue, Aug 30, 2022, 1:49 PM Dessi ***@***.***> wrote:

[2022-10-11 08:26] Ksound22 commented on #929
I'll push the project to GitHub soon so I'll be able to share it with you.

On Tue, Oct 4, 2022, 9:07 PM Paul Bratslavsky ***@***.***>
wrote:

[2022-10-11 09:05] dessireugarte commented on #982
Hello @quentin-js 👋
Good to see you joining the community is a writer! Are you already working on this article?
If this is your first article, please scroll to the FAQ section and review the article [guidelines](https://github.com/strapi/community-content/blob/master/tutorials/GUIDELINES.md), how to submit an article, issue an invoice, and get paid.
We use Dropbox Paper to submit and review drafts

[2022-10-11 09:10] #980 closed

[2022-10-11 09:13] dessireugarte commented on #979
Hello @kimkimani 👋
We will review the article and let you know if there are changes needed to be made.

[2022-10-11 09:16] dessireugarte commented on #975
Thanks,@Saintdavidking!
Does the outline proposed by David looks good to you @vcoisne?

[2022-10-11 09:19] Umoren commented on #904
Alright I'll update the outline and share it with you.

On Fri, Jul 29, 2022, 12:40 PM Dessi ***@***.***> wrote:

[2022-10-11 09:21] dessireugarte commented on #958
Hello @lucky4242 👋
We already have similar topics in our blog. So we would prefer to share different topics. Please feel free to add other requests you might have!

[2022-10-11 09:21] #958 closed

[2022-10-11 09:23] dessireugarte commented on #954
Hello @Alex-is-Gonzalez 👋 Have you thought about what Paul suggested?
Let's wait for Alex's answer, otherwise, you can propose an outline taking into consideration Paul's suggestion @icode247

[2022-10-11 09:39] PaulBratslavsky commented on #981
@a7medayman6 yes you can start working on this.  Thank you.

[2022-10-11 09:43] PaulBratslavsky commented on #978
@Claradev32 since this article is going to be around typescript, in the outline above, can you add

-  what is typescript
- what problem does it solve
- and why you should use it

I am assuming this will cover using Typescript on both the front and backend.

[2022-10-11 09:45] PaulBratslavsky commented on #977
@i1d9 you can start working on this.  I thought that you already started, but I realized I did not assign it to you yet.😅

[2022-10-11 09:51] PaulBratslavsky commented on #974
@Bishopukpai @Xemarij there is already a video resource on this exact topic https://www.youtube.com/watch?v=FMkRFVA75OU&t=143s If you would like to cover a similar topic I would recommend using strapi-provider-email-nodemailer with mandril.

[2022-10-11 09:58] PaulBratslavsky commented on #948
@kimkimani I think the way the current outline is, the article is too basic.  We have already a video and a couple of articles that showcase the basic use of graphql on the front end.

But we have this article that needs to be updated https://strapi.io/blog/a-deep-dive-into-strapi-graph-ql more specifically would like to cover the filtering options in Strapi v4

[2022-10-11 13:26] dessireugarte commented on #976
Great.
@ajibade3210 you can start writing your draft. We use Dropbox Paper to submit and review drafts. Please duplicate and use this [article template](https://www.dropbox.com/scl/fi/7o4rzejzmla65hygplkai/My-First-Strapi-Article.paper?dl=0&rlkey=zoc4r7k3iw7titgsxp8vrt55x).
Once your article is ready, please share the link here and we will review the article.

[2022-10-11 15:57] ibn-ashimi commented on #905
Hi @dessireugarte I will like to take this up

[2022-10-11 15:58] Mcastres commented on #989
Yes but I would consider this as an approach of multi-tenancy more than an `official` multi-tenancy tutorial

[2022-10-11 16:47] ibn-ashimi commented on #905
alright @dessireugarte. sure.

[2022-10-11 18:09] Xemarij commented on #977
Hi,
   Sure, I will start working on it.

Kind regards,
Tauqeer Khurram

On Tue, Oct 11, 2022 at 2:45 PM Paul Bratslavsky ***@***.***>
wrote:

[2022-10-11 18:10] Marktawa commented on #953
Hey @dessireugarte @TiaraOluwanimi

I'm done with the draft. Here's the [link](https://www.dropbox.com/scl/fi/7g7rpendqwt2uuio40vl0/How-to-Build-An-App-With-Internationalization-Using-Gatsby-and-Strapi-i18n-Plugin.paper?dl=0&rlkey=plbkmj4w2ul7awk4bqsymfkl5)

[2022-10-11 18:14] Xemarij commented on #974
Thank you Paul.
The topic "HOW TO SEND EMAIL NOTIFICATIONS WITH STRAPI AND SENDGRID" is
okay with me. The video will definitely help.

Kind regards,
Tauqeer Khurram

On Tue, Oct 11, 2022 at 2:52 PM Paul Bratslavsky ***@***.***>
wrote:

[2022-10-11 18:17] Marktawa commented on #985
Hey @dessireugarte

I would like to work on this.

[2022-10-11 18:18] i1d9 commented on #977
Heyy @Xemarij  He's referring to me. He has already assigned the issue to me and I'm already working on it

[2022-10-11 18:55] Alex-is-Gonzalez commented on #954
Hello,
Yes I can write an article for a custom graphQL resolver, @PaulBratslavsky , thank you for the direction. Here is a newly proposed outline for this article.

In this article, you will learn:

How to install and set up the Strapi GraphQL plugin
Concepts like resolvers, mutations, and queries in the context of GraphQL
How to customize Strapi's GraphQL backend with custom resolvers for queries

[2022-10-11 21:18] a7medayman6 commented on #981
Hello @PaulBratslavsky ,

Unfortunately I won't be available for the next couple of weeks, but I will work on it as soon as I can, keep it assigned to me please.

Thank you.

[2022-10-11 21:48] bikramkawan commented on #989
@Mcastres yes I agree. This is the work around not the official way or absolute way.

[2022-10-11 21:51] Xemarij commented on #977
Hi,
Okay, sorry for the misunderstanding!

On Tue, Oct 11, 2022 at 11:18 PM Ian Naylan ***@***.***>
wrote:

[2022-10-12 05:57] FeliciaSephodi commented on #845
I'd like to work on this. 🙋‍♀️

[2022-10-12 06:02] FeliciaSephodi commented on #845
I'd love to write this!🙋‍♀️

[2022-10-12 06:04] FeliciaSephodi commented on #839
If nobody is taking this article I'd like to take it.

[2022-10-12 06:06] FeliciaSephodi commented on #831
I'd like to take this article!

[2022-10-12 06:28] ath34-tech commented on #589
Here is the link for banner image, let me know if you are able to edit it or not, I followed your instructions and made some changes. [Figma link](https://www.figma.com/file/uGPdFxFyTgRdpGtm5UIpCj/Untitled?node-id=0%3A1)

[2022-10-12 07:59] Mcastres commented on #989
As long as the title mention it it sounds good to me then!

[2022-10-12 08:27] dessireugarte commented on #989
Would you like me to assign the topic to you @bikramkawan?

[2022-10-12 08:40] Marktawa commented on #670
Hi 👋 @dessireugarte

I submitted the invoice for this article on September 5th, but I have not yet received the payment. May you kindly look into this matter?

Thank you in advance.

[2022-10-12 08:43] Marktawa commented on #909
Hi 👋 @dessireugarte

I submitted the invoice for this article on September 7th, but I have not yet received the payment. May you kindly look into this matter?

Thank you in advance.

[2022-10-12 08:47] Marktawa commented on #915
Hi 👋 @dessireugarte

I submitted the invoice for this article on September 19th, but I have not yet received the payment. May you kindly look into this matter?

Thank you in advance.

[2022-10-12 08:57] dessireugarte commented on #589
I made some changes in the covers, so you just need to replace them in the Dropbox file @ath34-tech
I shared your draft with other reviewers, so let's wait for their comments.

[2022-10-12 09:12] dessireugarte commented on #915
Hello @Marktawa 👋
Your invoice has been submitted. There has been a small delay in the payments, but you should receive the payment soon 🙏

[2022-10-12 09:12] Dmuasya commented on #861
Hi, @malgamves I sent an invoice but have yet to receive any feedback.

[2022-10-12 09:15] dessireugarte commented on #831
Hello @FeliciaSephodi  👋
If this is your first article, can you please register your author details [here](https://strapi.io/write-for-the-community) by filling out the form? Then please scroll to the FAQ section and review the article [guidelines](https://github.com/strapi/community-content/blob/master/tutorials/GUIDELINES.md), how to submit an article, issue an invoice, and get paid.
You can sta

[2022-10-12 09:20] dessireugarte commented on #845
Hello @FeliciaSephodi 👋
I'll assign the issue to you. Let me know when the draft is ready, so we can review it 👍

[2022-10-12 09:23] dessireugarte commented on #905
Great, then I'm assigning this issue to you. You can get started @ibn-ashimi 👍

[2022-10-12 09:27] dessireugarte commented on #978
Great @Claradev32 👍
You can get started.
If this is your first article, can you please register your author details [here](https://strapi.io/write-for-the-community) by filling out the form? Then please scroll to the FAQ section and review the article [guidelines](https://github.com/strapi/community-content/blob/master/tutorials/GUIDELINES.md), how to submit an article, issue an invoice, and get p

[2022-10-12 10:14] CoderOfPHCity commented on #978
Hello Dessi,

I created the pitch idea alongside the article and project. I would like to
continue with the article as I have invested much time and effort into
building the lyrics app project.
This is my first time working on the strapi platform, hence I had no idea
of the protocols for sending outlines. I already sent my outline to the
wrong strapi Twitter account because i was unaware of the pr

[2022-10-12 10:26] sangramrath opened #994 "[SUBMIT] Update ARM (Azure Resource Manager) Template for Azure PaaS"
**My resource**

The current ARM template at [https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/azure.html#deploy-with-an-azure-resource-manager-template](https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/azure.html#deploy-with-an-azure-resource-manager-template) is no longer valid and has validation errors s

[2022-10-13 03:31] FeliciaSephodi commented on #845
Thank you I'll start working on it.

[2022-10-13 03:33] FeliciaSephodi commented on #831
Thank you I'm working on the draft.

[2022-10-13 03:40] ajibade3210 commented on #976
@PaulBratslavsky @dessireugarte  Here Is a [draft](https://www.dropbox.com/scl/fi/qsv76vo1uskh9u9dct8mc/How-to-Create-an-SSG-Static-Site-Generation-Application-with-Strapi-Webhooks-and-NextJs.paper?dl=0&rlkey=r1iyi08ew2z437sxwcskhtuf2) of the article.

[2022-10-13 09:00] dessireugarte commented on #906
Hello @Marienoir  👋 
Your article is [live](https://strapi.io/blog/how-to-create-a-refresh-token-feature-in-your-strapi-application)! 🎉
Please register to our forum by clicking on the discussion at the bottom of your post so you automatically receive notifications when someone adds comments. Now you can submit your invoice [here](https://docs.google.com/forms/d/e/1FAIpQLSeD59R4fR5dEJIRh4JhUpBlKAi9

[2022-10-13 09:00] #906 closed

[2022-10-13 09:46] Marienoir commented on #906
Hello @dessireugarte
Thanks for publishing this. I have a few concerns though. Some sections of the blog are not properly formatted. Some texts are being formatted with the codes
An example is this. You might want to check again. Thanks
![Capture](https://user-images.githubusercontent.com/40265625/195562572-2979443e-46ae-4dfc-ab2c-d570acfedc8b.PNG)

[2022-10-13 13:11] dessireugarte commented on #984
Hello @Theodore-Kelechukwu-Onyejiaku 👋
Thanks for submitting the outline. Unfortunately, we already have very similar tutorials (you can check [them here](https://strapi.io/blog)), and we are trying to bring new topics to the blog.
If you have other proposals, feel free to submit them so we can review them 👍

[2022-10-13 13:11] #984 closed

[2022-10-13 13:21] dessireugarte commented on #989
Great!
If this is your first article, can you please register your author details [here](https://strapi.io/write-for-the-community) by filling out the form? Then please scroll to the FAQ section and review the article [guidelines](https://github.com/strapi/community-content/blob/master/tutorials/GUIDELINES.md), how to submit an article, issue an invoice, and get paid.
You can start writing your dr

[2022-10-13 13:50] Theodore-Kelechukwu-Onyejiaku commented on #984
Hi @dessireugarte

Thanks for your response.

[2022-10-13 14:35] Saintdavidking commented on #58
Hello @dessireugarte
Thanks for the notification, I have seen the article live on blog and i have issued the invoice.

[2022-10-13 14:36] Saintdavidking commented on #58
But I haven't seen it yet on Twitter

[2022-10-13 14:36] TiaraOluwanimi commented on #889
@divofred
I don't have access to the document(s). Could you please grant me access? makinde.mide@gmail.com

[2022-10-13 15:05] virgincodes commented on #948
@PaulBratslavsky  so what do you need to be changed in [it](https://strapi.io/blog/a-deep-dive-into-strapi-graph-ql), i think I can drop a draft by next Monday

[2022-10-13 15:20] divofred commented on #889
@TiaraOluwanimi, Done.

[2022-10-13 16:48] TiaraOluwanimi commented on #936
Done @dessireugarte

[2022-10-14 06:12] oviecodes commented on #826
@malgamves any updates on the payment?

[2022-10-14 06:13] oviecodes commented on #454
Hello @dessireugarte please what's the status of this article?

[2022-10-14 07:12] sangramrath opened #995 "[SUBMIT] ARM Template with an autodeploy script for Azure IaaS"
**My resource**

My proposal is to provide an ARM template for Azure IaaS deployment (VM with all components running on the same VM i.e. strapi & mysql) along with a bash script which can be supplied as user-data during Azure VM provisioning that installs Strapi and provides a live deployment that can be quick accessed.

This would be good for anyone just wanting to quickly get started without hav

[2022-10-14 10:39] Oluwoleopeyemi commented on #611
Hi @dessireugarte and @TiaraOluwanimi here is the link to this article update

https://www.dropbox.com/scl/fi/agg9qw3u6xairc99tr6u4/Untitled.paper?dl=0&rlkey=mevmjtcc4mcfyhc0cqvd5p0wo

[2022-10-15 13:00] chepeftw commented on #939
Hello @kimkimani, just checking ... are you working on this article? Otherwise I would love to write this article, but checking first of course 😊, let me know, thanks

[2022-10-15 21:31] amkayondo commented on #537
Is there a way to handle the given scenario for a social networking site.
So if a user creates a post, he should be the only one to edit it but currently strapi does enable everyone to edit posts they did create. Though I do handle this on the frontend, I do believe, it's a security problem for the future.

[2022-10-15 22:59] shammadahmed commented on #955
@PaulBratslavsky @dessireugarte I am mostly done with the article, could you guys please confirm the outline first so I can post the link for review?

[2022-10-16 19:49] emmanueletukudo commented on #987
Hello, I am pretty new to the Strapi community. If this article topic is still open, I'll like to write about it.

[2022-10-17 08:47] dessireugarte commented on #833
Hello @Umoren  👋 
Your article is [live](https://strapi.io/blog/caching-in-strapi-with-rest-cache-plugin)! 🎉
Please register to our forum by clicking on the discussion at the bottom of your post, so you automatically receive notifications when someone adds comments. Also please follow the [guidelines](https://strapi.io/write-for-the-community) to issue and submit an invoice. Now you can submit you

[2022-10-17 08:47] #833 closed, assigned to Umoren, TiaraOluwanimi, dessireugarte

[2022-10-17 11:01] lucky4242 commented on #877
Hi @Dessi
It's 10days past now  i sent an invoice, yet no response. Hope to hear from
you soon

On Mon, 3 Oct 2022, 11:41 am Dessi, ***@***.***> wrote:

[2022-10-17 11:52] Umoren commented on #833
Thanks @dessireugarte
Please who do i contact if i'm having issues with sending invoice?

[2022-10-17 13:04] MaruthiC1998 opened #996 "[TOPIC]"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-10-17 13:18] Saintdavidking commented on #975
Hi @dessireugarte @vcoisne any update about this topic ? Is it good to go?

[2022-10-17 16:08] malgamves commented on #847
hey @Tammibriggs please confirm that this is sorted now?

[2022-10-17 16:16] malgamves commented on #826
hey @oviecodes yes, we've processed it but please refer too [this message](https://discord.com/channels/811989166782021633/843965836887851078/1031584885258866760) that explains delays we've been facing lately.

[2022-10-17 16:29] PaulBratslavsky commented on #304
@csor-dev sorry for late response, we already have a similar blog post https://strapi.io/blog/how-to-build-a-simple-crud-application-using-flutter-and-strapi here.

We are also in the process of looking through all of our existing content and issues to determine what type of content has a lot of vs what we are lacking.

At this time, we are looking for articles that show more advanced use cases of

[2022-10-17 17:38] Dmuasya commented on #861
Hey, @malgamves Please resend the email because I can't seem to find it.

[2022-10-17 18:22] ibn-ashimi commented on #628
Yes, Thank you.

[2022-10-17 21:18] Tammibriggs commented on #847
Yes, it has been sorted. Sorry for not telling you earlier.

[2022-10-18 03:39] oviecodes commented on #73
Hello @dessireugarte @malgamves here's a link to the draft

https://www.dropbox.com/scl/fi/b2zi3qq5kge36hk7j60oi/Setting-up-and-using-Elastic-Search-with-Strapi.paper?dl=0&rlkey=th9a8sk2g37912dof3plkmvjb

[2022-10-18 09:10] #903 closed

[2022-10-18 09:11] #902 closed

[2022-10-18 09:12] dessireugarte commented on #904
Hello @Umoren 👋
Any news about this article?

[2022-10-18 10:11] Saintdavidking commented on #58
@malgamves I have reissued the invoice

[2022-10-18 10:13] dessireugarte commented on #73
Thanks @oviecodes! I'll get back to you if we have feedback 👍

[2022-10-18 10:21] dessireugarte commented on #956
Hello @i1d9 👋
I'm waiting for a reviewer to take a look at your content and then I'll get back to you! Sorry for the delay on this

[2022-10-18 10:24] dessireugarte commented on #833
Hello @Umoren 👋 You can contact @malgamves.
What is the issue you are facing?

[2022-10-18 10:25] dessireugarte commented on #877
Hello @lucky4242 👋
Daniel shared [this](https://discord.com/channels/811989166782021633/843965836887851078/1031584885258866760) message on Discord. We are working on that, soon you will get it. Otherwise, you can contact us again.

[2022-10-18 10:27] dessireugarte commented on #611
Hello @Oluwoleopeyemi
We will review this draft soon and get back to you. Thank you!

[2022-10-18 10:45] dessireugarte commented on #839
Hello @ath34-tech!
Are you still interested in this article?

[2022-10-18 10:47] dessireugarte commented on #996
Hello @MaruthiC1998 👋 What is the request you'd like to make?

[2022-10-18 10:52] ath34-tech commented on #839
@dessireugarte yes i am interested, i will send draft tomorrow or day after

[2022-10-18 12:12] malgamves commented on #833
hey @Umoren let's continue the conversation over email. I sent you something to clarify

[2022-10-18 12:19] Umoren commented on #833
Alright

On Tue, Oct 18, 2022, 1:12 PM Daniel Madalitso Phiri <
***@***.***> wrote:

[2022-10-18 13:54] dessireugarte commented on #817
Hello @Tiioluwani 👋
I left some comments and I am just currently waiting for access to the Figma file to edit the covers.
After changing them, the article is ready for one last review on your side and uploading to the backend @TiaraOluwanimi 👍

[2022-10-18 16:16] kkashuda opened #997 "[ISSUE]"
**The concerning content**

**Issue**

[2022-10-18 18:07] Theodore-Kelechukwu-Onyejiaku opened #998 "[SUBMIT]Create a Book Rating Application With Strapi Ratings Plugin and Cloudinary"
# Introduction
Imagine having a book rating application where users can go to see the review of any book together with their opinions on the book. In this project, we will create a book rating application using the Strapi Ratings Plugin for ratings, and Cloudinary for image upload.

## Outline
1. Introduction
2. Setup
3. Strapi Ratings Plugin and Installation
4. Cloudinary installation and connect

[2022-10-18 19:42] divofred commented on #889
@TiaraOluwanimi I am done with the task.

[2022-10-18 20:39] PaulBratslavsky commented on #955
@shammadahmed can you add a section talking about SEO and why it is important, and how JAMstack apps help with that? And in your Strapi app, you can use the SEO plugin and add that metadata in the Cloudflare pages website.

[2022-10-18 20:45] PaulBratslavsky commented on #589
I am going to go through the article too as a second set of eyes, will let you know when my review is done.

[2022-10-18 21:58] shammadahmed commented on #955
@PaulBratslavsky The tutorial has come about pretty solid (about 2700 words). I have used the Strapi starter templates for deployment, with Strapi on Render and Gatsby on Cloudflare Pages. Readers would be able to easily follow step by step to deploy on Cloudflare Pages and connect with webhooks.

My take on the SEO section is that it would block the readers' flow in deploying the site, but I can

[2022-10-19 11:59] Ubaydah commented on #935
Thanks for the review @TiaraOluwanimi

[2022-10-19 12:21] PaulBratslavsky commented on #635
I think adding the additional section should be fine since it is related to this article.  Probably would go with this option 2- Simple articulation of how to automate the build and deployment process in CI/CD like GitHub actions

[2022-10-19 12:29] PaulBratslavsky commented on #948
@virgincodes basically the majority of the article will have to be rewritten due to the changes made to graphql in v4 from the response that you get back, to the way filtering work.  I would also add how to get components and dynamic zones.

[2022-10-19 12:33] PaulBratslavsky commented on #974
@Xemarij if you are going to write this article it would have to use something else like I mentioned above. So the new title will be "HOW TO SEND EMAIL WITH STRAPI USING MANDRIL AND NODEMAILER"   If Mandril does not work for you, you can provide another email provider.  Because we already have an example of how to send email via sendgrid.  The goal is to offer something that we haven't covered yet

[2022-10-19 12:34] PaulBratslavsky commented on #977
Sorry for the confusion. Yes it's for @i1d9

[2022-10-19 12:38] PaulBratslavsky commented on #981
@a7medayman6 I will mark it as on hold but it will still be assigned to you.

[2022-10-19 12:40] PaulBratslavsky commented on #955
@shammadahmed ok thanks for the context, we can leave out the above-mentioned recommendation around SEO.  When ready can submit the draft for review.🙂

[2022-10-19 12:44] PaulBratslavsky commented on #454
I will review your draft and get back to you as soon as I am done.

[2022-10-19 12:51] PaulBratslavsky commented on #73
@oviecodes @dessireugarte the article looks good we can move it to review. @TiaraOluwanimi this is ready to be reviewed. Thank you.

[2022-10-19 12:52] PaulBratslavsky commented on #956
Will add this to my list of articles to review, and will get back to you as soon as I am done.

[2022-10-19 13:05] shammadahmed commented on #955
@PaulBratslavsky Awesome man. The draft is ready, I just need to add keywords, and proofread it.

About that SEO topic: I was reading about SEO and JAMstack yesterday. I found it very interesting how JAMstack makes very search-friendly websites possible since crawlers like static sites. I would love to write a article/tutorial on it covering everything from the theory to the Strapi SEO plugin. Wha

[2022-10-19 15:24] dessireugarte commented on #906
Hello @Marienoir 👋
You are right, thanks for letting us know.
The change is done 👍

[2022-10-19 16:41] christofa opened #1001 "Making a voice-activated news app using React, Alan Ai, and Strapi"
## Introduction
A news application is an interactive database that conveys a story preferably using software rather than words or images. It can assist each reader in understanding a story in a way that is individually significant to them by displaying data that is particular to them.

## Goals
After reading this article, readers will have a solid understanding of the Strapi tool, including how it

[2022-10-19 17:30] PaulBratslavsky commented on #979
@kimkimani do you have a GitHub link to this project, I want to run the code.  I have some questions but want to test the functionality first.

[2022-10-19 20:47] Marktawa commented on #985
Hey 👋  @dessireugarte
Here's a [complete draft of the tutorial](https://www.dropbox.com/scl/fi/v3bi4umqvz1rz6uo2e6hi/How-to-Build-a-Blog-App-using-Blazor-WASM-and-Strapi.paper?dl=0&rlkey=22befzxkh60xma24u0r7c5ye4). I also put a [demo video](https://youtu.be/qznajT3e8Tg).

[2022-10-19 21:23] jasminetracey commented on #944
@dessireugarte would this article be an improvement on https://strapi.io/blog/how-to-create-pages-on-the-fly-with-dynamic-zone?

[2022-10-20 07:55] quentin-js commented on #982
Hey @dessireugarte !

Indeed, it was almost ready and here it is: https://www.dropbox.com/scl/fi/exn30qj67g9nnomwzvb49/Best-Practices-to-onboard-non-technical-users-on-Strapi.paper?dl=0&rlkey=vte1vv9sjpyvkckkzlezhaew8

Let me know your thoughts!

[2022-10-20 08:15] CoderOfPHCity commented on #978
Link works perfectly, try checking again or refreshing your browser.

On Wed, Oct 19, 2022, 13:36 Paul Bratslavsky ***@***.***>
wrote:

[2022-10-20 08:56] kimkimani commented on #979
Yes @PaulBratslavsky https://github.com/kimkimani/react-native-strapi

[2022-10-20 10:14] dessireugarte commented on #982
Awesome! Great job @quentin-js 👏
I added some comments to the document since I didn't have editing access. I just shared the article with the team so they can give you any feedback (in case they have it).
Let me know when the changes are done 👍

[2022-10-20 15:14] quentin-js commented on #982
Awesome, thanks for the review @dessireugarte. Really appreciate. I made the changes. Here is the editing link in case you have more suggestions: https://www.dropbox.com/scl/fi/exn30qj67g9nnomwzvb49/Best-Practices-For-Onboarding-Non-Technical-Users-to-Strapi.paper?dl=0&rlkey=vxqby4kg0e0k8rprfop1evbmr

[2022-10-21 06:17] nicswebdev commented on #628
@ibn-ashimi could you check on the blog discussions ? I have some issue.

[2022-10-21 08:06] Marktawa commented on #915
Hey 👋 @dessireugarte

I am happy to say I have received the payment.

Please check #953 and #985. I have submitted the complete drafts.

[2022-10-21 09:33] nicswebdev commented on #628
Hi, @ibn-ashimi I just replied again inside the discussions.

[2022-10-21 12:00] ajibade3210 commented on #976
Hello @PaulBratslavsky @dessireugarte Please How do i go about submitting my [DRAFT](https://www.dropbox.com/scl/fi/qsv76vo1uskh9u9dct8mc/How-to-Create-an-SSG-Static-Site-Generation-Application-with-Strapi-Webhooks-and-NextJs.paper?dl=0&rlkey=r1iyi08ew2z437sxwcskhtuf2) for this article

[2022-10-21 13:20] bastien70 commented on #628
Hi @ibn-ashimi I added you to Discord too for some clarifications about the tutorial :)

[2022-10-21 16:59] PaulBratslavsky commented on #979
@kimkimani thank you.

[2022-10-22 21:30] daryllukas opened #1002 "[SUBMIT] How to create a menu app for restaurants with NextJS (TypeScript) and Strapi"
**How to create a menu app for restaurants with NextJS (TypeScript) and Strapi**

I recently built a [demo/portfolio project](https://wazz-gud-here.vercel.app/) using Strapi and I think I have enough content for a great tutorial. There is a lot things I've learned and issues I faced that I feel haven't been properly documented. I have documentated the steps I took to build and deploy the demo app

[2022-10-23 13:01] i1d9 commented on #977
Here is the [tutorial](https://www.dropbox.com/scl/fi/gly84jf987gdqi198aciq/How-to-integrate-iPay-Africa-APIs-into-your-Strapi-application.paper?dl=0&rlkey=534z8ydxltc918kjvcbdl4mvk)

[2022-10-23 13:22] i1d9 commented on #991
Here is the [tutorial](https://www.dropbox.com/scl/fi/s0skqrzw0zs32n2sq920b/Powering-a-video-streaming-app-using-Strapi..paper?dl=0&rlkey=0aa0f6udoxcb89yzx5zrbtbsq)

[2022-10-23 14:17] popoolatopzy commented on #507
hello @dessireugarte  and @TiaraOluwanimi , here is the draft for this article
https://www.dropbox.com/scl/fi/z96kp0azkqcf0xcwuwx6i/How-to-Create-a-Job-Board-Website-With-React-and-Strapi.paper?dl=0&rlkey=nzot2yx28k83p4bfv1hrr2jtr

[2022-10-23 20:07] Marvel-D commented on #760
Hello @dessireugarte
I am interested in updating this article if it is still open.

[2022-10-23 20:37] shammadahmed commented on #955
@PaulBratslavsky @TiaraOluwanimi It is ready, hope you guys like it: https://www.dropbox.com/scl/fi/9u4chsqq7q8ujqf7hywlt/How-to-Deploy-Strapi-on-Cloudflare-Pages.paper?dl=0&rlkey=hrf5ta2hqmtj9g5r5g2ebh58r

@dessireugarte It is labeled 'article', though it is a tutorial.

[2022-10-24 06:50] Marktawa commented on #719
Hey @ikeadeoyin
Are you still interested in this article? If you're not, I can work on it.

[2022-10-24 08:05] dessireugarte commented on #770
Hello @Sachin-chaurasiya  👋 
Your article is [live](https://strapi.io/blog/strapi-authentication-with-react)! 🎉
Please register to our forum by clicking on the discussion at the bottom of your post, so you automatically receive notifications when someone adds comments. Also please follow the [guidelines](https://strapi.io/write-for-the-community) to issue and submit an invoice. Now you can submit

[2022-10-24 08:05] #770 closed

[2022-10-24 08:15] Sachin-chaurasiya commented on #770
Thank you so much @dessireugarte 🚀 .
Looking forward to more contributions.

[2022-10-24 08:20] ikeadeoyin commented on #719
@Marktawa
I am still interested in working on the article.

[2022-10-24 08:50] oviecodes commented on #454
Alright @PaulBratslavsky thanks

[2022-10-24 08:55] Sachin-chaurasiya opened #1003 "[SUBMIT] : How To Build Social Card Application With Strapi TypeScript and React"
**My resource**

**My content is**

- [x] A Strapi Tutorial / Guide / How to article
- [ ] About Headless, CMS, javascript, open source, or jamstack
- [ ] Other, specify

**What do you all think?**
❤️ I love it!
🚀 I can help you!

Thank you for submitting your article proposal.

[2022-10-24 08:55] Sachin-chaurasiya commented on #1003
I would like to work on this tutorial and I will share the outline of the tutorial here.

[2022-10-24 09:24] popoolatopzy opened #1004 "[SUBMIT] Users Workflow in Strapi"
**My resource**

Hello 👋 @dessireugarte and @PaulBratslavsky

I'll like to work on this topic,  below is my outline for the article.

### Introduction
### What is strapi
### Strapi installation
### users roles and permissions
###Adding new users

- Super admin
-  Editor
- Author

### Workflow(using content publications for demonstration)
- Content creation (Author)
- Content editing and formatting

[2022-10-24 11:44] noblefresh commented on #1004
Hello, I will like to work on this topic. Can it be assigned to me?

[2022-10-24 13:01] popoolatopzy commented on #1004
Sorry @noblefresh, I've already put in for this article

[2022-10-24 15:17] PaulBratslavsky commented on #996
@MaruthiC1998 I am going to start closing issues that don't have a topic request.  So if you forgot to add one by accident, please let us know your topic suggestion.

[2022-10-24 15:28] PaulBratslavsky commented on #944
@jasminetracey great question. The previous article was done using v3 using the v3 Food Advisor app.  So that needs to be updated too.

But for this particular issue, we are looking for someone to write about how to structure content on the front end using a  landing page example.

For instance, how would you structure your strapi content to populate this landing page https://demo.web3canvas.com/t

[2022-10-24 16:18] PaulBratslavsky commented on #849
Closing this issue due to inactivity.

[2022-10-24 16:18] #849 closed

[2022-10-24 16:19] PaulBratslavsky commented on #832
@Saintdavidking sorry for supper late response, if you are still interested let us know.

[2022-10-24 16:27] PaulBratslavsky commented on #828
I am going to close this topic for the time being. There is a feature that the team is working on that will make migrating data easier, but it is still in the works. Also, at the moment, this topic has to be handled based on each case, making it hard to make a tutorial covering all use cases.

[2022-10-24 16:27] #828 closed

[2022-10-24 16:29] PaulBratslavsky commented on #721
I am closing this issue based on @dessireugarte response. As well as we have great documentation on this topic.

[2022-10-24 16:29] #721 closed

[2022-10-24 16:31] PaulBratslavsky commented on #33
I am closing this topic since we have someone else working on an outline for a similar topic.

[2022-10-24 16:31] #33 closed

[2022-10-24 16:36] PaulBratslavsky commented on #544
We had no activities on this topic so will be closing for time being.  We can always reopen this topic in the future.

[2022-10-24 16:36] #544 closed

[2022-10-24 16:39] PaulBratslavsky commented on #35
There has not been any recent activity on this topic, will be closing for now.

[2022-10-24 16:39] #35 closed

[2022-10-24 16:43] PaulBratslavsky commented on #213
Closing this issue due to inactivity.

[2022-10-24 16:43] #213 closed

[2022-10-24 16:46] #668 closed

[2022-10-24 16:47] PaulBratslavsky commented on #603
Closing this due to no recent activities.

[2022-10-24 16:47] #603 closed

[2022-10-24 16:48] PaulBratslavsky commented on #670
@malgamves when you get a chance can you check the status of this invoice?  Thank you.

[2022-10-24 16:51] PaulBratslavsky commented on #591
@Marktawa I send a note to check the invoice status for #670 if you still like to pick up this issue you can do so.  Just let me know if you want to take it.  It will be great to see an article on customizing the Admin UI, It can be done by using our extension system, or you can also use patch-package to override the code in the node modules.

[2022-10-24 16:52] PaulBratslavsky commented on #610
Closing this issue due to inactivity.

[2022-10-24 16:52] #610 closed

[2022-10-24 16:56] PaulBratslavsky commented on #569
@oviecodes sorry for the super late response we have so many issues that this article got buried.  For the moment I will be closing this issue due to having too many beginner-friendly articles in the cue for this quarter.  At the moment we are looking for more strapi-specific intermediate to advanced topics.

[2022-10-24 16:56] #569 closed

[2022-10-24 17:15] PaulBratslavsky commented on #979
@kimkimani can you also provide the GitHub link to your Strapi project used?  I would like to test the reset password functionality to make sure that it works.

[2022-10-24 17:23] kimkimani commented on #979
Yes @PaulBratslavsky I have added that

[2022-10-24 17:30] PaulBratslavsky commented on #979
I could not find it in the repo link you shared above can you also give me permission to add notes to your draft my email is paul.bratslavsky@strapi.io

[2022-10-24 17:49] PaulBratslavsky commented on #979
@kimkimani also have a question about giving the public access to
- Enable the following under User Permissions for User:
    - count
    - create
    - find
    - findOne

 Why would you want to have public access to these points?

[2022-10-24 17:53] kimkimani commented on #979
@PaulBratslavsky, I think I will check and verify that. We should defiantly have access permission to only authenticated users.

[2022-10-24 17:55] PaulBratslavsky commented on #979
Alos you don't need to use API tokens either.  And I belive resetting the password will not work unless you set up the email provider which will add additional steps to the tutorial which I have not seen you cover yet.

You can refactor your code, takeout a password reset, or at least mention that it requires extra steps to get working, and let me know once you make the changes.

Thank you.

[2022-10-24 17:58] kimkimani commented on #979
Thank you Paul. I will work on those changes.

[2022-10-24 18:00] PaulBratslavsky commented on #705
@Dmuasya sorry for supper late response.  Based on your outline it looks like it will mostly cover the front-end portion where Strapi is used as a basic API.  For the time being, we have plenty of frontend articles that cover how to use framework x with Strapi.  So at the moment, we are looking for articles that are more specific to Strapi backend customizations and use cases.

For the time being,

[2022-10-24 18:00] #705 closed

[2022-10-24 18:04] #87 closed

[2022-10-24 18:06] PaulBratslavsky commented on #114
I am closing the issue due to inactivity on this topic.

[2022-10-24 18:06] #114 closed

[2022-10-24 18:09] #309 closed

[2022-10-24 18:11] PaulBratslavsky commented on #304
Closing this to similar topic requests.

[2022-10-24 18:13] PaulBratslavsky commented on #139
We are not currently recommending this as a method of deployment and will me marking it as closed since this is not something we will be supporting in the future.

[2022-10-24 18:13] #139 closed

[2022-10-24 18:19] PaulBratslavsky commented on #706
@lucky4242 are you still working on this article?

[2022-10-24 18:24] PaulBratslavsky commented on #792
We currently have this plugin on the market place https://market.strapi.io/plugins/strapi-plugin-import-export-entries and currently working on a feature that will make this easier in the future.  For now, we are closing this issue.

[2022-10-24 18:24] #792 closed

[2022-10-24 18:28] PaulBratslavsky commented on #634
I am closing this issue due to inactivity and similar content already available on the blog and youtube channels.

[2022-10-24 18:28] #634 closed

[2022-10-24 18:33] PaulBratslavsky commented on #537
I am closing this due to the article focusing predominantly on the front rather than Strapi-specific backend examples.

[2022-10-24 18:33] #537 closed, assigned to philipszdavido

[2022-10-24 19:13] PaulBratslavsky commented on #509
@daniloraisi sorry for the super late response.  The issue was buried.  Let me know if you are still interested in picking back up with this.

[2022-10-24 19:15] PaulBratslavsky commented on #703
Closing this due to inactivity.

[2022-10-24 19:15] #703 closed

[2022-10-24 19:18] PaulBratslavsky commented on #661
Closing this for now, @vivmagarwal let me know in the future if you will be interested in picking this topic up in the future.

[2022-10-24 19:18] #661 closed

[2022-10-24 19:19] PaulBratslavsky commented on #475
I am going to close this due to inactivity and the fact that we already have similar content published on our blog and youtube channel.

[2022-10-24 19:19] #475 closed

[2022-10-24 19:20] #304 closed

[2022-10-24 19:24] PaulBratslavsky commented on #347
We currently have this plug-in in the marketplace https://market.strapi.io/plugins/strapi-plugin-import-export-entries

We are also working on the data export/import feature for the future that will be native to Strapi.  As I have more details I will let you know, in the mean time I will be closing this issue.

[2022-10-24 19:24] #347 closed

[2022-10-24 19:24] PaulBratslavsky commented on #566
Will be closing this issue to inactivity and similar content.

[2022-10-24 19:24] #566 closed

[2022-10-24 19:27] PaulBratslavsky commented on #754
Closing due to https://www.npmjs.com/package/strapi-plugin-magic not having a v4-supported Strapi plugin.

[2022-10-24 19:27] #754 closed

[2022-10-24 19:30] PaulBratslavsky commented on #621
@dalletopid, @nextrapi, or anyone interested in writing about this topic.  Otherwise, I will be closing the issue, just wanted to check first.

[2022-10-24 19:31] PaulBratslavsky commented on #430
I am closing this due to inactivity and similar content found on our blog and youtube channel.

[2022-10-24 19:31] #430 closed

[2022-10-24 19:34] PaulBratslavsky commented on #620
Just wanted to check if anyone is still interested in working on this article @SofiiaSov @nextrapi otherwise, I will close the issue.

[2022-10-24 19:36] PaulBratslavsky commented on #588
I am closing this issue due to inactivity.

[2022-10-24 19:36] #588 closed

[2022-10-24 19:38] PaulBratslavsky commented on #600
This a great topic, will leave it open for now.

[2022-10-24 19:41] Marktawa commented on #670
Hi @PaulBratslavsky

Thanks, I received the payment.

[2022-10-24 19:46] PaulBratslavsky commented on #616
@unforswearing sorry for the super late response, been going through the older issues and just saw you responded. If you are still interested let me know.

[2022-10-24 19:47] Marktawa commented on #591
Hi @PaulBratslavsky

Ok great. Let me work on an outline for this article. I assumed there were tutorials that covered customization of the Admin UI.
As for #670, the matter has been resolved. So no worries.

[2022-10-24 19:56] Marktawa commented on #909
Hey 👋  @dessireugarte

Thank you I have received the payment. You can ignore my previous message.

[2022-10-25 01:31] Nomzy-kush commented on #1003
I would like to work on this tutorial. I’ll provide an outline shortly.

[2022-10-25 09:46] dessireugarte commented on #936
Hello @TechMakanaki 👋 
Your article is [live](https://strapi.io/blog/what-is-typescript)! 🎉
Please register to our forum by clicking on the discussion at the bottom of your post so you automatically receive notifications when someone adds comments. Also please follow the [guidelines](https://strapi.io/write-for-the-community) to issue and submit an invoice. Now you can submit your invoice [here](h

[2022-10-25 09:46] #936 closed

[2022-10-25 10:40] Marvel-D commented on #728
Hello.
I am conversant with the tech stack needed for this article and would like to update it

[2022-10-25 13:24] dessireugarte commented on #939
Hello @kimkimani 👋
Any news on this article?

[2022-10-25 16:17] unforswearing commented on #616
@PaulBratslavsky No worries, thanks for the reply. Yes, I am still available to work on this -- let me know how I can get started!

[2022-10-25 17:02] Ubaydah commented on #935
@dessireugarte when is it going to be published?

[2022-10-25 23:06] Saintdavidking commented on #975
Hi @dessireugarte  @vcoisne  @PaulBratslavsky @ any update about this outline? Is it good to go?

[2022-10-25 23:11] Saintdavidking commented on #832
Hi @PaulBratslavsky i am still interested, can i start with already?

[2022-10-26 03:45] Nomzy-kush commented on #1003
Here's an [outline](https://docs.google.com/document/d/11ZYdY7eNrIQTSBHKYCSJhIdFdP-KsduRE_t3sRv57H8/edit?usp=sharing). What do you think?

[2022-10-26 03:53] fabiopasilva1 opened #1006 "ecommerce"
**My Request**

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-10-26 06:07] ibn-ashimi commented on #873
@dessireugarte Any update on this?

[2022-10-26 06:41] noblefresh commented on #1006
I would like to write on this, can it be assigned to me?

[2022-10-26 07:28] Sachin-chaurasiya commented on #1003
Hello @Nomzy-kush, I already build a social card application and I will prepare the outline for the same.
Can you please look at the other issues?

[2022-10-26 14:12] lucky4242 commented on #878
Hi @PaulBratslavsky
can i start working on this article?

[2022-10-26 14:38] lucky4242 commented on #706
Hi @PaulBratslavsky
working on this article now.

[2022-10-26 23:46] divofred commented on #758
Hello @PaulBratslavsky @dessireugarte @TiaraOluwanimi, I am done with this update.
[Here ](https://www.dropbox.com/scl/fi/buij8rdfcfvz82jxi4o0p/Pagination-in-Strapi-using-GraphQL.paper?dl=0&rlkey=bjo1mzej0o5eor05307xk4zc7) is the Dropbox link.

[2022-10-27 05:51] ath34-tech commented on #839
@dessireugarte  hey sorry i got busy due to some work, i wanted to know if I can keep outline same as this only change project I am gonna make. like I can write tutorial of making same movie list application where different role can read,write ,update the list.
What you say?

[2022-10-27 05:58] ath34-tech commented on #589
@PaulBratslavsky  @dessireugarte any updatess?

[2022-10-27 06:23] FeliciaSephodi commented on #845
I'll be sending the draft by the weekend.

[2022-10-27 07:07] #996 closed

[2022-10-27 07:20] dessireugarte commented on #454
Hello @oviecodes 👋 I just wanted to check, where are you located? We recently shared [this](https://discord.com/channels/811989166782021633/843965836887851078/1031584885258866760) news. I just want to ensure you can get paid and not face any problems.

[2022-10-27 07:24] dessireugarte commented on #944
As Paul said @jasminetracey. This is a resource for content managers, and the objective is after Strapi is set up, they can create a landing page without the need for coding or the help of a developer.

[2022-10-27 07:24] oviecodes commented on #454
Hello @dessireugarte , unfortunately I'm located in Nigeria :( , I was wondering if the team could try using world remit for payments.

[2022-10-27 07:27] dessireugarte commented on #760
Hello @Marvel-D 👋
I will close this issue since now our documentation covers all this step-by-step. But if you are interested in writing an article, you could check the looking for author tag. Or on our discord, we have a Best Practices AMA video ( more to come ), and we would love to get some of those topics covered and translated into blog posts. You can find the video [here](https://discord.gg/

[2022-10-27 07:27] #760 closed

[2022-10-27 07:37] dessireugarte commented on #454
Ok, let me check and I'll get back to you.

[2022-10-27 07:42] oviecodes commented on #454
Alright @dessireugarte much appreciated.

[2022-10-27 07:56] dessireugarte commented on #955
Thanks @shammadahmed 👋 We will review the draft. I'll get back to you.

[2022-10-27 09:27] dessireugarte commented on #985
Thank you @Marktawa 👏
We'll review the draft and get back to you.

[2022-10-27 09:58] dessireugarte commented on #976
Thanks @ajibade3210, we will review the article and get back to you asap.

[2022-10-27 10:25] dessireugarte commented on #982
Hello @quentin-js 👋
Thanks for making the changes. We will publish this article next week. I'll let get back to you when it is live.

[2022-10-27 10:27] dessireugarte commented on #935
Hello @Ubaydah 👋
We will publish your article on Monday. I'll get back to you that day.

[2022-10-27 10:37] dessireugarte commented on #758
Thanks @divofred. We will review the draft 👍

[2022-10-27 11:31] quentin-js commented on #982
Awesome! Thanks @dessireugarte

[2022-10-27 12:14] dessireugarte commented on #948
@virgincodes @PaulBratslavsky the article mentioned by Paul is already being updated #611

[2022-10-27 13:31] Marktawa commented on #985
🙏 Thanks @dessireugarte

[2022-10-27 14:34] dessireugarte commented on #873
Hello @ibn-ashimi. I previously said it was ready, but there was one last review done and feedback from the review. I left comments on the document. After those changes, we will publish it asap.

[2022-10-27 18:39] Xemarij commented on #974
Hi @PaulBratslavsky,
The Mandrill has been deprecated as you may know. It is now "Mailchimp Transactional Email" therefore I will stick to NODEMAILER. The topic of the article would be "HOW TO SEND EMAIL WITH STRAPI USING NODEMAILER." FYI.

[2022-10-27 22:26] PaulBratslavsky commented on #956
@i1d9 I am currently working on reviewing your article, can you please double-check that you provided the correct GitHub link for both projects?  For Strapi I am getting different content types than what you specified in the tutorial.  Looks like it is from a bidding app you were working on.

Also the code example in the article where you show how to extend the user permissions plugin was an image

[2022-10-27 22:57] PaulBratslavsky commented on #998
@Theodore-Kelechukwu-Onyejiaku can you tell me more about what customizations you will make in the controller? We are currently looking for more articles that cover more topics around customizations.

I still like your idea. But I feel that the main key topic would be to focus on interesting ways to customize the controller and possibly add a policy or a middleware.

[2022-10-27 23:04] PaulBratslavsky commented on #1006
@noblefresh We are currently looking for topics that show Strapi's ability to be highly customizable, so looking for ways to customize controllers, services, middleware, and policies.

You can do something around e-commerce but the focus would have to be more on the Strapi side of things rather than the frontend side.

[2022-10-27 23:07] PaulBratslavsky commented on #1003
@Nomzy-kush and @Sachin-chaurasiya at the moment we are looking for articles that focus on the Strapi side of things more than building something in a framework that is powered by Strapi.

At the moment we have too many entry-level articles on the web site and looking for more intermediate and advanced topics.

[2022-10-27 23:10] PaulBratslavsky commented on #1001
@christofa can you give more details on what functionality be available using Alan Ai.  What will the application do, and what Strapi feature will it showcase?

[2022-10-28 04:48] christofa commented on #1001
@PaulBratslavsky Hi, News content will be stored in the strapi CMS and be displayed in our React project showing how easy and effective it is to store data with strapi. Then the Alan Ai helps to describe the application and navigate through the stored data opening any news requested for by the user which makes the application very accessible.

[2022-10-28 09:17] i1d9 commented on #956
@PaulBratslavsky I've updated the article with the suggested changes

[2022-10-28 09:45] dessireugarte commented on #73
Hello @oviecodes! Your article will be published in the second week of November. But could you send your invoice and let me know when you send it?

[2022-10-28 09:49] Theodore-Kelechukwu-Onyejiaku commented on #998
Hi @PaulBratslavsky. Very true, the interesting way the controller, middleware, and policy would be customized include:

The controller customizations include:
1. Add New Controllers (for instance a likeBook controller which will handle likes for a book). Plus it will also come with a customized route. Also, a controller for admin to delete a book that comes with its own route and middleware.
2. E

[2022-10-28 09:52] dessireugarte commented on #978
Hello @CoderOfPHCity!
Do you currently just have the outline? I am afraid that we might not be able to continue with this topic since you could get affected by the payment situation since I have seen you are located in Nigeria, [here](https://discord.com/channels/811989166782021633/843965836887851078/1031584885258866760) is more context about it. Unless you have another location payment option, it

[2022-10-28 10:02] dessireugarte commented on #904
Hello @Umoren! We didn't have any answer from you, so we will make this topic available again. Would that be ok for you?

[2022-10-28 10:03] dessireugarte commented on #772
Hello @sammychris
Unfortunately, this topic has taken too long so we will close the issue.

[2022-10-28 10:03] #772 closed

[2022-10-28 10:04] dessireugarte commented on #947
Hello @kimkimani! Are you still working on this blog post?

[2022-10-28 10:05] dessireugarte commented on #927
Hello @digitaldesigndj!
Just wanted to check how are you doing with this draft.

[2022-10-28 10:07] #916 closed

[2022-10-28 10:09] dessireugarte commented on #942
Hello @Cpaczek! How is this topic doing? Let us know otherwise we will close this issue since it has taken a long time now.

[2022-10-28 10:14] #847 closed

[2022-10-28 10:16] dessireugarte commented on #813
Hello @FaithKovi!
Have you received your payment?

[2022-10-28 10:16] #720 closed

[2022-10-28 10:18] #633 closed

[2022-10-28 10:18] #756 closed

[2022-10-28 10:21] #843 closed

[2022-10-28 10:22] #598 closed

[2022-10-28 10:24] CoderOfPHCity commented on #978
Hello Desai, I have a complete outline of the topic here:
https://docs.google.com/document/d/1yFDqz2RFzmh3aIsWCVWEwwtdCRb1S08zFCpiwtvu3lk/edit?usp=sharing

Payment won't be an issue as I have colleagues from Nigeria who work with
Strapi too.

Kindly let me know of the payment options available so I can pick one
suitable.

There are lots of options including some I have used personally like;

deel:

[2022-10-28 10:24] dessireugarte commented on #616
Yes, you can get started @unforswearing

[2022-10-28 10:27] dessireugarte commented on #741
Hello @ibn-ashimi
Are you still working on this?

[2022-10-28 10:27] #746 closed

[2022-10-28 10:57] ibn-ashimi commented on #741
Yes, I will share an update with the Draft in no time.

[2022-10-28 12:25] oviecodes commented on #73
Alright @dessireugarte I'll do that.

[2022-10-28 16:23] FaithKovi commented on #813
Yes @dessireugarte

[2022-10-28 20:09] TechMakanaki commented on #936
@dessireugarte good day, please there is an error in the article publication. Can you please reply so we can rectify it. Thank you

[2022-10-29 07:33] Bilal7168 opened #1007 "Creating a REST API with Strapi"
This is a simple article that will demonstrate how to host a simple REST API endpoint for retrieving and sending data. This can be of great help to users who are building an application and want to use REST for data management. This will also point out how easy it is for them to do so using Strapi.

Outline
Introduction
Pre-Requisites
Installing Node.js
Installing Yarn
Boot up Strapi at localhost

[2022-10-29 14:18] noblefresh opened #1008 "How to Build a News Blog using Laravel, Breeze & Blade + TailwindCSS with Strapi API"
**My Article Proposal is**

**Introduction**
In this article, we will be learning How Build a News Blog using Laravel, Breeze & Blade  + TailwindCSS with Strapi API. This will serve as a guild for Laravel developers who has been finding it difficult to integrate Strapi API with Laravel.

**Outline**
Introduction
What is Laravel
What is Strapi
Prerequisites
Setup Strapi
Create a Content Type
Create

[2022-10-30 00:15] omarkhairy21 commented on #635
Hey @dessireugarte and @PaulBratslavsky  the article is ready for review
https://www.dropbox.com/scl/fi/men12f6jhervcg196at31/Deploy-Strapi-Docker-Container-On-Aws-Elastic-Beanstalk.paper?dl=0&rlkey=vb7jbzzidmsuuz1ap8dg0trvn

[2022-10-30 17:48] Marvel-D commented on #728
@PaulBratslavsky is this article still available?

[2022-10-30 18:38] Marvel-D opened #1009 "[SUBMIT] Fitting Strapi into a Tech stack"
**My resource**
Hello 👋 @dessireugarte and @PaulBratslavsky,

As individuals develop more ideas about various applications, they naturally begin to consider the various technologies required to build that application. This article covers the important concepts of a tech stack and the benefits of integrating Strapi into an application's tech stack. It highlights the latest features of Strapi and th

[2022-10-31 04:12] Xemarij commented on #974
Hi @Bishopukpai and  @PaulBratslavsky,
Any updates on this????

[2022-10-31 06:31] popoolatopzy commented on #1004
Hi @PaulBratslavsky
I am trying to research on Strapi console but I could not find how to open the Strapi console on my terminal.

[2022-10-31 08:29] dessireugarte commented on #1008
Hello @noblefresh 👋 We already have similar articles, and we are trying to focus more on intermediate-advanced content.
Please feel free to check the open issues that are looking for an author in Write For The Community and Update v4 or suggest another topic.
Take care!

[2022-10-31 08:29] #1008 closed

[2022-10-31 10:03] MwendwaDev opened #1010 "[SUBMIT] How to link your Strapi notification systems with Novu for central management"
**My resource**

Hello @PaulBratslavsky I would love to write an article on How to link your Strapi notification systems with Novu for central management 👋

Outline
Introduction
What is Novu and why you need it
Setting up a Strapi project with a notification system e.g email
Setting up Novu
Linking Novu with the project for central notification management
Conclusion and a CTA

**My content is**

-

[2022-10-31 10:56] dessireugarte commented on #935
Hello @Ubaydah  👋 
Your article is [live](https://strapi.io/blog/typescript-vs-javascript-which-one-should-you-use-with-strapi)! 🎉 I changed the title to make it more SEO friendly. Also, I'm fixing the issue with the numbered lists, since they shouldn't be listed like that.
Please register to our forum by clicking on the discussion at the bottom of your post, so you automatically receive notificat

[2022-10-31 10:56] #935 closed

[2022-10-31 11:39] popoolatopzy commented on #975
Hi @dessireugarte is this topic still available?

[2022-10-31 13:41] Umoren commented on #904
Hi @dessireugarte
I'm sorry i've been inactive for a while
Can I get an extension till Friday to deliver the draft?

[2022-10-31 15:07] noblefresh opened #1011 "How to Build Interactive Live Streaming Collection App using React (TypeScript) and Agora with Strapi API"
**My resource**
Hello @PaulBratslavsky, I would love to write an article on Interactive Live Streaming Collection App using TypeScript and Agora with Strapi API.

**Introduction**
- An in-depth overview of the topic.

**Prerequisites**
- What you need to have for this tutorial.

**What is Strapi**
- Strapi Overview

**What is React**
- An overview of what react is all about

**What is Agora**
- Ag

[2022-10-31 15:09] PaulBratslavsky commented on #1001
@christofa I like the idea of using Alan Ai but based on your description, you are just using it to read data, but what would make this post more enticing is to cover how to add data to strapi via voice-to-text.  We currently have a lot of articles that describe how to fetch data so would be great to talk about how to post data.

Or possibly having a login page that can be logged in via voice.

Le

[2022-10-31 15:16] Dmuasya opened #1012 "[SUBMIT] Building a Remix app with Tailwind and fetching data via GraphQL from a Strapi server"
**My resource**

Hello 👋 @PaulBratslavsky @Mcastres

This article will examine how we can set up a Remix app with Tailwind, and Typescript, and fetch data via GraphQL from a Strapi server. With Strapi, we have access to multiple resources that enable user requests to the Headless CMS API to fetch data easily and perform actions only available to the users. With Strapi API, users can quickly fetch

[2022-10-31 15:37] dessireugarte commented on #904
Sure, thanks @Umoren 👍

[2022-10-31 15:42] dessireugarte commented on #635
Thank @omarkhairy21. We will get back to you when it is reviewed 👍

[2022-11-01 05:51] kimkimani commented on #947
Hello @dessireugarte, yes I'm working on it

[2022-11-01 05:54] kimkimani commented on #939
Hello @dessireugarte, I'm currently working on #947 and #979.

[2022-11-01 05:54] kimkimani commented on #939
Sure, no problem @dessireugarte

[2022-11-01 06:11] Oluwoleopeyemi commented on #611
Hi @dessireugarte and @TiaraOluwanimi
Any update on the article?

[2022-11-01 06:57] oviecodes commented on #454
@dessireugarte I've been able to get a working virtual bank account. Also, the former payments still hasn't arrived, I don't know if I could resubmit the invoices with the new virtual account details.

[2022-11-02 07:27] christofa commented on #1001
Hi @PaulBratslavsky thanks for the response. I can look into the features you mentioned. Thanks

[2022-11-02 13:56] sangramrath commented on #995
@dessireugarte @PaulBratslavsky I have some scripts that are used as part of my article. Would it be preferred that they are in strapi's community repo?

If yes, I assume I fork and raise a PR for the scripts. Is that right?

[2022-11-02 16:28] JonasStjerne commented on #628
Hi @ibn-ashimi,
Really appreciate you taking the time to write an article about this!

I have a security concern regarding the approach of the article.

By copying the whole project to the Public_html directory, don’t you allow access to the project credentials?
Someone could navigate to `yourwebsite.com/config/database.js` and `yourwebsite.com/.env` and access the files. This would be a considera

[2022-11-02 17:51] chepeftw commented on #939
In that case, can I take this topic? Thanks in advance

[2022-11-02 19:03] segunjkf commented on #988
Hello I am interested in this article.

[2022-11-03 10:39] dessireugarte commented on #982
Hello @quentin-js 👋
Would it be ok with you if we make this change to make it more SEO friendly:
Title: "Best Practices for Onboarding Content Managers to Strapi"?

[2022-11-03 10:48] ajibade3210 commented on #976
@dessireugarte @TiaraOluwanimi Please I am still yet to get any update on this

[2022-11-03 11:12] quentin-js commented on #982
Hey @dessireugarte !

Yeah sure, I'm no SEO expert! Option 1 seems a great fit for the article!

Q.

[2022-11-03 14:26] dessireugarte commented on #982
Thanks @quentin-js! I used the first one as the article title and the second one as the SEO metatitle since it will help to rank better and give more visibility on Google's search engine.

Your article is [live](https://strapi.io/blog/best-practices-for-onboarding-content-managers-to-strapi)! 🎉
Please register to our forum by clicking on the discussion at the bottom of your post, so you automatica

[2022-11-03 15:42] dessireugarte commented on #939
Hello @chepeftw 👋
I assigned you this topic.
If this is your first article, can you please register your author details [here](https://strapi.io/write-for-the-community) by filling out the form? Then please scroll to the FAQ section and review the article [guidelines](https://github.com/strapi/community-content/blob/master/tutorials/GUIDELINES.md), how to submit an article, issue an invoice, and g

[2022-11-03 18:07] dessireugarte commented on #936
Hello @TechMakanaki 👋
Sorry about that. We already made the changes 👍

[2022-11-04 06:41] ath34-tech commented on #839
@dessireugarte  any comment?

[2022-11-04 11:34] dessireugarte commented on #976
Hello @ajibade3210 👋
Sorry for the delay, we have many articles in the queue for reviewing. But we will get back to you when it is reviewed and we have the date to publish it.
Thanks for your patience.

[2022-11-04 12:19] Oluwoleopeyemi commented on #611
Hi @dessireugarte and @TiaraOluwanimi
Any update on the article?

[2022-11-04 16:42] PaulBratslavsky commented on #1012
@Dmuasya We have many articles in the queue and are only accepting new articles in January of next year.

I will put this on hold for topic review in January.

We also have decided to focus our efforts on producing higher-quality content for our readers.

Also, we will be introducing new tags by level beginner, intermediate, and advanced.   As well as update the rate to encourage our writers to wr

[2022-11-04 16:51] PaulBratslavsky commented on #1011
@noblefresh We have many articles in the queue and are only accepting new articles in January of next year.

I will put this on hold for topic review in January.

We also have decided to focus our efforts on producing higher-quality content for our readers.

Also, we will be introducing new tags by level beginner, intermediate, and advanced.   As well as update the rate to encourage our writers to

[2022-11-04 17:02] PaulBratslavsky commented on #1010
@MwendwaDev  We have many articles in the queue and are only accepting new articles in January of next year.

I will put this on hold for topic review in January.  But this topic does sound interesting.  Quick question, is the email be sent by Strapi or Novu.

We also have decided to focus our efforts on producing higher-quality content for our readers.

Also, we will be introducing new tags by le

[2022-11-04 17:03] PaulBratslavsky commented on #1009
@Marvel-D We have many articles in the queue and are only accepting new articles in January of next year.

I will put this on hold for topic review in January.

We also have decided to focus our efforts on producing higher-quality content for our readers.

Also, we will be introducing new tags by level beginner, intermediate, and advanced.   As well as update the rate to encourage our writers to w

[2022-11-04 17:11] PaulBratslavsky commented on #1007
@Bilal7168 Thank you for your submission, but we currently have plenty of examples on our blog where we showcase Strapi as an API.

At the moment, we are looking for more intermediate/advanced articles. Some topics include "How to populate deeply nested data on the front end" or how to set up and use this populate plugin. https://market.strapi.io/plugins/strapi-plugin-populate-deep.

For now, I wi

[2022-11-04 17:11] #1007 closed

[2022-11-04 17:13] PaulBratslavsky commented on #1006
@noblefresh We have many articles in the queue and are only accepting new articles in January of next year.

I will put this on hold for topic review in January.

We also have decided to focus our efforts on producing higher-quality content for our readers.

Also, we will be introducing new tags by level beginner, intermediate, and advanced.   As well as update the rate to encourage our writers to

[2022-11-04 17:18] shammadahmed commented on #1004
@popoolatopzy You can install the Strapi CLI on your terminal with npm or yarn.

In case you leave the topic, I want to have it.

[2022-11-04 17:22] PaulBratslavsky commented on #1004
Lets create a separate issue for this topic.  I am closing this one for now.  Since we already have a similar article around user workflow.  https://strapi.io/blog/strapi-s-user-roles-and-permissions-for-admin-panel-1

@popoolatopzy you will need to have strapi project installed and you would run `yarn strapi console`.

Check out the above linked video in previous comment.  If you have questions,

[2022-11-04 17:22] #1004 closed

[2022-11-04 17:24] PaulBratslavsky commented on #1003
Closing this for now, due to a beginner level content idea.  At the moment we have too many entry-level articles on the web site and looking for more intermediate and advanced topics.  We can revisit this in the future.

[2022-11-04 17:24] #1003 closed

[2022-11-04 17:31] PaulBratslavsky commented on #1002
@daryllukas We have many articles in the queue and are only accepting new articles in January of next year.

I will put this on hold for topic review in January.  The suggested change I would make, is to maybe have all the frontend code and backend code already done.  And just write the article to focus on the deployment process to GCP.  And talk about the  issues you faced that you feel haven't b

[2022-11-04 17:34] PaulBratslavsky commented on #998
@Theodore-Kelechukwu-Onyejiaku nice you can get started on this.

[2022-11-04 17:37] PaulBratslavsky commented on #997
@kkashuda thank you for letting us know.  We will take a look and see what the issues is and make updates as soon us we can.

[2022-11-04 17:43] daryllukas commented on #1002
@PaulBratslavsky Sounds good. Thanks for the update. I'll follow your suggestions and redo the outline.

[2022-11-05 19:20] kkashuda commented on #997
Great, sounds good! Thanks for looking into it. :) Let me know if you need any more information.

[2022-11-05 19:38] Sachin-chaurasiya opened #1014 "[SUBMIT] : TypeScript Generics - Ability to abstract types"
**My resource**
Hello 👋 , I would like to submit a proposal for the topic **TypeScript Generics -  Ability to abstract types**

**Outline:**
- Introduction to typescript
- Introduction to typescript generics
- What problems generics solves
- When to Use Generics
- Generic interface
- Generic Classes
- Generic Functions
- Generic Constraints
- Generics use cases
- Conclusion

**My content is**

- [

[2022-11-05 19:39] Sachin-chaurasiya commented on #1014
Hello @PaulBratslavsky @dessireugarte, I would like to work on this article and I have provided the outline in the issue template.
Thank you.
[Sachin Chaurasiya](https://strapi.io/user/sachin-chaurasiya)

[2022-11-05 19:54] christofa commented on #1001
Hi @PaulBratslavsky, you changed the labels. Should I start working on article?

[2022-11-07 05:31] Tiioluwani commented on #817
Hello @dessireugarte
Any updates

[2022-11-07 12:52] popoolatopzy commented on #507
Hi @dessireugarte,  any update on this article

[2022-11-07 14:56] oviecodes commented on #454
Hello @dessireugarte , please what's the status of this article.

[2022-11-08 17:58] dessireugarte commented on #873
Hello @ibn-ashimi! Did you get the chance to make the changes requested?

[2022-11-09 10:34] ibn-ashimi commented on #873
yes please. Take a look.

[2022-11-09 10:46] dessireugarte commented on #873
@ibn-ashimi I left this comment:
Hello ​@Abdulwahab. I still feel this article is not providing too much information about the deployment options. I made some changes to the structure, and I had to delete the one-click deployment options since we don’t maintain them anymore. I expanded the introduction of Heroku to exemplify how could each option could be described (including the most popular ones

[2022-11-09 18:59] Cpaczek commented on #942
Hi, sorry been super busy, I don't have a set time to work on this so if someone else wants to take it over they can.

[2022-11-10 09:09] Marienoir commented on #944
Hello @dessireugarte @PaulBratslavsky
I will like to create content for this article.
I can share an outline if my request is approved
Thanks

[2022-11-10 09:22] ath34-tech commented on #839
@dessireugarte @PaulBratslavsky any new update regarding this?

[2022-11-10 09:23] ath34-tech commented on #589
@PaulBratslavsky @dessireugarte any updates?

[2022-11-12 13:02] gagandeep-kurl-pfizer opened #1020 "[UPDATE OUTDATED CONTENT] Strapi Starter Nuxt.js e-commerce"
Please update this to be Strapi v4, would it also be possible to delve into customer registration/logins and inventory/order management.

https://strapi.io/blog/strapi-starter-nuxt-js-e-commerce

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-11-12 13:02] gagandeep-kurl-pfizer commented on #1020
Please ignore - posted from wrong account

[2022-11-12 13:02] #1020 closed

[2022-11-12 13:04] gkurl opened #1021 "[UPDATE OUTDATED CONTENT] Strapi Starter Nuxt.js e-commerce"
Please update this to be Strapi v4, would it also be possible to delve into customer registration/logins and inventory/order management.

https://strapi.io/blog/strapi-starter-nuxt-js-e-commerce

**What do you all think?**
👍 Nice!
❤️ I love it!
🚀 I can help you!

[2022-11-13 23:00] ethan-gallant commented on #988
I don't think this is something that's EKS specific but the existing kubernetes tutorial is definitely far from proper.

[2022-11-14 12:00] dessireugarte commented on #873
Hello @ibn-ashimi 👋 
Your article is [live](https://strapi.io/blog/6-top-deployment-options-for-your-strapi-application)! 🎉
Please register to our forum by clicking on the discussion at the bottom of your post so you automatically receive notifications when someone adds comments. Also please follow the [guidelines](https://strapi.io/write-for-the-community) to issue and submit an invoice. Now you

[2022-11-14 12:00] #873 closed

[2022-11-14 13:18] malgamves opened #1024 "[UPDATE OUTDATED CONTENT] Deploying a Strapi API on Heroku in 5 min"
Hey [this article is updated](https://strapi.io/blog/deploying-a-strapi-api-on-heroku), we need to add the need for env vars to the blog post.

happy to take this on next week!

[2022-11-14 13:26] ibn-ashimi commented on #873
Thank you very much, @dessireugarte

[2022-11-14 14:19] ibn-ashimi commented on #873
Hi, @malgamves. I have submitted my invoice.

[2022-11-14 16:46] amirtds opened #1025 "[SUBMIT] Build Electronic Signature and Agreement Platform with Strapi and Sign Now"
**Outline**
- Pre-requisites
- Goals
- Introduction
- What we are going to build ?
- Step 1 - Create Customers content type
- Step 2 - Create Contracts  content type
- Step 3 - Add a customer and create a contract
- Step 4 - Setup GraphQL Apis on Strapi
- Step 5 - Sign Now Configuration
- Step 6 - Generate PDF on Contract creation on Strapi
- Step 7 - Upload the contract to Sign Now
- Step 8 - Sen

[2022-11-14 17:03] amirtds opened #1026 "[SUBMIT] Build Headless Learning Management System with Strapi - Part 1"
**My resource**
- Pre-requisites
- Goals
- Introduction
- What is an LMS  ?
- Why Headless LMS and problems it's going to solve ?
- What we are going to build ?
- Step 1 - Install Strapi
- Step 2 - Create Users content type
- Step 3 - Handling Authentication and Authorizations
- Step 4 - Integration with third party IDP
- Step 5 - Build the Frontend of the LMS (We use Next.js)
- Step 6 - Connect F

[2022-11-15 14:49] dessireugarte commented on #904
Hello @Umoren 👋
Do you have any news about this article?

[2022-11-15 16:34] divofred commented on #758
Hello @dessireugarte, What's the update on this article?

[2022-11-15 16:36] divofred commented on #889
Hello @PaulBratslavsky @dessireugarte @TiaraOluwanimi, What's the update on this article?

[2022-11-15 20:28] dessireugarte commented on #976
Hello @ajibade3210  👋
Just wanted to let you know that your article will be published this week. I'll let you know when it is published!

[2022-11-15 20:29] dessireugarte commented on #817
Hello @Tiioluwani 👋
Just wanted to let you know that your article will be published next week. I'll let you know if we need anything else or when it is published!

[2022-11-15 20:33] dessireugarte commented on #985
Hello @Marktawa 👋
Just wanted to let you know that your article will be published next week. I'll let you know if we need any changes from you or when it is published!

[2022-11-15 20:33] dessireugarte commented on #73
Hello @oviecodes  👋
Just wanted to let you know that your article will be published next week. I'll let you know if we need any changes from you or when it is published!

[2022-11-15 20:37] dessireugarte commented on #953
Hello @Marktawa 👋
This one is scheduled for the last week of November. I'll let you know as well if we need any changes from you or when it is published!

[2022-11-15 20:39] dessireugarte commented on #889
Hello @divofred 👋 Sorry for the late reply. Currently, Olamide is reviewing the series of articles, and we expect to publish this between the last week of November and the first of December. I'll let you know when it is published.
Thanks for your patience.

[2022-11-15 20:40] dessireugarte commented on #589
Hello @ath34-tech  👋
Just wanted to let you know that your article will be published the last week of november. I'll let you know if we need any changes from you or when it is published!

[2022-11-15 20:41] dessireugarte commented on #507
Hello @popoolatopzy   👋
Just wanted to let you know that your article will be published the first week of December I'll let you know if we need any changes from you or when it is published!

[2022-11-15 20:42] dessireugarte commented on #454
Hello @oviecodes    👋
This one will be published in the first week of December. I'll also let you know if we need any changes from you or when it is live!

[2022-11-15 20:44] dessireugarte commented on #955
Hello @shammadahmed 👋
Just wanted to let you know that your article will be published around the first week of December. I'll let you know if we need any changes or when it is published!

[2022-11-15 20:46] dessireugarte commented on #611
Hello @Oluwoleopeyemi  👋
Just wanted to let you know that your article will be published around the second week of December. I'll let you know if we need any changes or when it is published!

[2022-11-15 20:47] dessireugarte commented on #956
Hello @i1d9  👋
Just wanted to let you know that your article will be published around the second week of December. I'll let you know if we need any changes or when it is published!

[2022-11-15 20:47] dessireugarte commented on #758
Hello @divofred   👋
Just wanted to let you know that your article will be published around the second week of December. I'll let you know if we need any changes or when it is published!

[2022-11-15 20:51] dessireugarte commented on #905
Hello @ibn-ashimi 👋
We would like to publish this article between the second and third week of December. We might need at least 10 days to review it. Do you think we can make it on this timeline?

[2022-11-15 20:56] shammadahmed commented on #955
@dessireugarte This is very good news. Thank you for your guys' part. I am looking forward to when it gets live.

[2022-11-16 08:38] dessireugarte commented on #976
Hello @ajibade3210  👋 
Your article is [live](https://strapi.io/blog/how-to-create-an-ssg-static-site-generation-application-with-strapi-webhooks-and-nextjs)! 🎉
Please register to our forum by clicking on the discussion at the bottom of your post, so you automatically receive notifications when someone adds comments. Also please follow the [guidelines](https://strapi.io/write-for-the-community) to

[2022-11-16 08:38] #976 closed

[2022-11-16 10:42] oyedeletemitope commented on #908
@dessireugarte any update on this?

[2022-11-16 16:27] PaulBratslavsky commented on #1026
@amirtds Thanks for creating the issue, we talked a while back so glad to see this moving forwards.  Will assign to you.

[2022-11-16 16:30] PaulBratslavsky commented on #1025
@amirtds I know you are starting working on the LMS articles, is this going to be part of that series or is this separate?  If so, lets focus on one article at a time.

[2022-11-16 16:34] PaulBratslavsky commented on #1024
Thanks for taking this up @malgamves I will change to on hold for now until you are able to get to it.

[2022-11-16 16:38] PaulBratslavsky commented on #1014
@Sachin-chaurasiya quick question is this something you will do within Strapi or is this going to be stand alone example using a frontend framework?

[2022-11-16 19:33] sangramrath commented on #995
@PaulBratslavsky / @dessireugarte the article can be reviewed at https://www.dropbox.com/scl/fi/0mr59fh8xaqp4v67uu2ag/Strapi-quickstart-with-Azure-ARM-templates.paper?dl=0&rlkey=wpcdc7qto0xas6qee3rxh633i.

[2022-11-16 22:39] Tiioluwani commented on #817
@dessireugarte
Thanks, I will be expecting to hear from you

[2022-11-17 00:24] PaulBratslavsky commented on #983
@kartikdani django is another way to create an api using python, where Strapi is a way to create an api using javascript.  You would not use both.  I would recommend checking out our course on building an application with Strapi and Next JS.  https://youtu.be/EnuvFyJE6dg.

I will be marking this issues as closed.

[2022-11-17 00:24] #983 closed

[2022-11-17 00:27] PaulBratslavsky commented on #986
We have many articles in the queue and are only accepting new articles in January of next year.

I will be closing this topic for now, since we are currently building a new starter template with Next JS 13 and Strapi. Will let you know when it is updated.

We also have decided to focus our efforts on producing higher-quality content for our readers.

Also, we will be introducing new tags by level

[2022-11-17 00:27] #986 closed

[2022-11-17 00:28] PaulBratslavsky commented on #987
We currently have an article in review that covers this process.  Will be closing the issue due to article similarity.

[2022-11-17 00:28] #987 closed

[2022-11-17 00:35] PaulBratslavsky commented on #988
@ethan-gallant is this the tutorial you are referring to https://strapi.io/blog/deploying-and-scaling-the-official-strapi-demo-app-food-advisor-with-kubernetes-and-docker would like to hear your feedback if it is.

@kimkimani since we already have an article published on Kubernetes deploy we will hold of for now on publishing a similar article.

[2022-11-17 00:35] #988 closed

[2022-11-17 00:39] PaulBratslavsky commented on #1014
@Sachin-chaurasiya so not in relation to Strapi?  Still interesting idea.  For the moment we are not accepting new article submissions till January.  But I will put this on hold and revisit.

[2022-11-17 00:48] PaulBratslavsky commented on #993
@malgamves let me know if this is something you will be able to update? Otherwise, we can ask someone in the community.

[2022-11-17 00:54] ethan-gallant commented on #988
@PaulBratslavsky yeah that is the tutorial I am referring to. There are several best practices in the template YAMLs etc. So while it may work, it's far from ideal or what should be "recommended".

I think some changes should be:
- Ingress / Configuring proper termination
- TLS termination with Cert Manager or the like
- MiniKube is definitely not the target here. I don't even know why it's includ

[2022-11-17 01:03] PaulBratslavsky commented on #974
@Xemarij sorry for the delay, we have a lot of article that we have in cue that will keep us busy until the end of the year.

I knew that MailChimp acquired Mandril but did not know that they changed the name. What we are looking for is not so much an article on how to use nodemailer, but how to send Strapi emails with MailChimp integration.

But let me know if you are still interested, we can sub

[2022-11-17 01:10] PaulBratslavsky commented on #954
@Alex-is-Gonzalez sorry for a late response, we have a lot of item in the cue for this year.  At the moment we are not taking any new articles until January.

If you are still interested in this topic let me know. I am putting this on hold and will revisit in January.

[2022-11-17 01:12] PaulBratslavsky commented on #911
I know it has been a while, just wanted to check on your progress and if you are still working on this?

[2022-11-17 01:14] PaulBratslavsky commented on #734
Closing due to inactivity

[2022-11-17 01:14] #734 closed

[2022-11-17 01:18] PaulBratslavsky commented on #728
@Marvel-D Sorry for late response, we have many article reviews in the cue and at the moment we are not taking any new article submission until January.  But if you are still interested, I can assign the update to you and you can start on it in January.  Just let me know if this is something you would like to do?

[2022-11-17 01:19] PaulBratslavsky commented on #292
Closing due to no recent activity

[2022-11-17 01:19] #292 closed

[2022-11-17 01:20] PaulBratslavsky commented on #620
Closing due to no recent activity

[2022-11-17 01:20] #620 closed

[2022-11-17 01:20] olujerry commented on #911
Yes I'm working on it and I'm almost done with it.  Just summit it before
the end of the month.
Thanks for checking on me

On Thu, Nov 17, 2022, 2:12 AM Paul Bratslavsky ***@***.***>
wrote:

[2022-11-17 01:20] PaulBratslavsky commented on #621
Closing due to no recent activity

[2022-11-17 01:20] #621 closed

[2022-11-17 01:21] PaulBratslavsky commented on #666
Closed due to no recent activity

[2022-11-17 01:21] #666 closed

[2022-11-17 01:22] PaulBratslavsky commented on #706
@lucky4242 just wanted to check in and see if you are still working on this?

[2022-11-17 01:23] PaulBratslavsky commented on #702
Duplicate of another issue. Closing.

[2022-11-17 01:23] #702 closed

[2022-11-17 01:24] #431 closed

[2022-11-17 01:25] PaulBratslavsky commented on #241
We currently have a similar article that is scheduled to be released. Closing.

[2022-11-17 01:25] #241 closed

[2022-11-17 01:26] PaulBratslavsky commented on #289
Closing due to no recent activity

[2022-11-17 01:26] #289 closed

[2022-11-17 01:26] PaulBratslavsky commented on #457
Closing since this article is marked as done.

[2022-11-17 01:26] #457 closed

[2022-11-17 01:28] PaulBratslavsky commented on #509
Closing due to no recent activity

[2022-11-17 01:28] #509 closed

[2022-11-17 01:30] PaulBratslavsky commented on #805
@ibn-ashimi let us know if you are still interested in writing this article and what e commerce solution you were going to use?

[2022-11-17 02:12] PaulBratslavsky commented on #944
@Marienoir we are currently not taking any new article submissions until January.  If you are still interested in writing the article please provide an outline for us to better understand what you will cover.  We are looking for something that demonstrates a use case using Strapi dynamic zoned and compnents.

[2022-11-17 05:37] vcoisne commented on #323
@PaulBratslavsky it seems like we already have an article on this topic published https://strapi.io/blog/auth0-provider-and-strapi-tutorial-1

[2022-11-17 05:40] vcoisne commented on #546
Hello @miracleonyenma ! Did you get a chance to make the update? Closing for now.

[2022-11-17 05:40] #546 closed

[2022-11-17 05:42] vcoisne commented on #567
@ajibade3210 unfortunately at the moment we're no longer looking for intro level tutorials as we already have a backlog. Closing for now.

[2022-11-17 05:42] #567 closed

[2022-11-17 05:46] vcoisne commented on #575
Hi @icode247 thanks for the outline. However, at this time we're not looking for intro-level Svelte tutorials as we already have some published on our blog and are prioritizing more advanced tutorials. Closing for now.

[2022-11-17 05:46] #575 closed

[2022-11-17 05:50] vcoisne commented on #591
Closing this as we already have tutorial on the topic.

[2022-11-17 05:50] #591 closed

[2022-11-17 05:53] miracleonyenma commented on #546
Hello @vcoisne,
Unfortunately no, I ended up being quite busy with other projects.

I'll try to work on it this weekend and submit an updated draft by next week if that's okay

[2022-11-17 05:54] vcoisne commented on #600
Hello @ajibade3210 Please note that due to a problem with our payment provider Wise, we are unable to pay writers with Nigerian bank accounts, as a result, we won't be accept submissions from writers in Nigeria until we find an alternative.

[2022-11-17 05:56] vcoisne commented on #601
Closing due to inactivity.

[2022-11-17 05:56] #601 closed

[2022-11-17 05:58] vcoisne commented on #606
This is done. https://strapi.io/blog/cooking-a-deliveroo-clone-with-nuxt-vue-js-graphql-strapi-and-stripe-restaurants-list-part-2-7

[2022-11-17 05:58] #606 closed

[2022-11-17 06:08] vcoisne commented on #635
@dessireugarte or @PaulBratslavsky do you confirm this article has been  reviewed / scheduled?

[2022-11-17 06:11] vcoisne commented on #676
Hi @Ethiel97 I;m closing this one due to inactivity and because we're looking for more advanced articles at the moment.

[2022-11-17 06:11] #676 closed

[2022-11-17 06:13] vcoisne commented on #719
Hello @ikeadeoyin ! Any update on this one ?

[2022-11-17 06:14] vcoisne commented on #723
@PaulBratslavsky given how popular this one is, I wonder if we shouldn't update ourselves or highlight it on Discord or something ?

[2022-11-17 06:17] dessireugarte commented on #616
Hello @unforswearing 👋
Are you still working on this topic? Otherwise, we will assign it to another author.

[2022-11-17 09:08] Sachin-chaurasiya commented on #1014
Thanks @PaulBratslavsky

[2022-11-17 13:46] PaulBratslavsky commented on #890
Closing since this is not an article submission and due to no recent activity

[2022-11-17 13:46] #890 closed

[2022-11-17 13:47] PaulBratslavsky commented on #888
This is currently not a topic that we are looking for.  Thank you for submitting.

[2022-11-17 13:47] #888 closed

[2022-11-17 13:49] PaulBratslavsky commented on #879
@kimkimani we will add this to our review cue, we currently have a lot of articles at the moment and doing the best we can.

[2022-11-17 13:52] PaulBratslavsky commented on #893
@TheGhoulRe sorry for delayed response, we have a lot of articles in the cue and it has been taking time to review the topics.  I will review it as soon as I am able to get to it.

[2022-11-17 16:32] amirtds commented on #1026
Awesome, thank you @PaulBratslavsky I start working on it and will send some updates here soon

[2022-11-17 16:33] amirtds commented on #1025
@PaulBratslavsky This is going to be a separate article, makes sense let's hold off on this one for now until i finish the LMS article. Thank you

[2022-11-17 16:38] unforswearing commented on #616
Hi @dessireugarte, I am still working on this. I can have the update complete by mid-week next week.

[2022-11-17 16:54] ajibade3210 commented on #976
@TreciaKS @dessireugarte Just a reminder that I am still yet to get an update on this [DRAFT](https://www.dropbox.com/scl/fi/qsv76vo1uskh9u9dct8mc/How-to-Create-an-SSG-Static-Site-Generation-Application-with-Strapi-Webhooks-and-NextJs.paper?dl=0&rlkey=r1iyi08ew2z437sxwcskhtuf2)

[2022-11-17 18:40] ibn-ashimi commented on #905
Yes, I will work towards it.

[2022-11-17 18:49] TechMakanaki commented on #936
Hello, @dessireugarte
I have not received the payment for the article yet.
Please kindly consider my request.
Thanks 👍

[2022-11-18 06:28] Cpaczek commented on #942
@dessireugarte Here is the first draft, please let me know your thoughts: https://gist.github.com/Cpaczek/4c9d559cbfe13ffad5bc334ce4477ac6

I wrote it in markdown as I could not figure out how to duplicate the dropbox thing.

[2022-11-18 12:22] Theodore-Kelechukwu-Onyejiaku commented on #998
Hi @PaulBratslavsky,
Hi @dessireugarte

Thanks for this opportunity. I really enjoyed writing and building this. 😊

Here is my first draft.

Thanks. Here is the link to the tutorial:
https://www.dropbox.com/scl/fi/e7gts5f4dnfa5f2qwgdkk/Create-a-Book-Rating-App-with-Strapi-Ratings-Plugin-and-Cloudinary.paper?dl=0&rlkey=kmyy2l98rqzpetwt6gig19c94

[2022-11-18 19:55] Saintdavidking commented on #975
Hello, @dessireugarte any update about this outline? Is it good to go?

[2022-11-18 22:33] ibn-ashimi commented on #873
any update on this @dessireugarte

[2022-11-19 13:42] coderjib opened #1028 "Strapi lifecycle hooks: a project-based tutorial"
**My resource**
Hi, I wrote a post about Strapi lifecycle hooks, I thought it may be interesting as a guest post. Here is [the complete unpublished draft](https://hashnode.com/preview/63763a00e2d53d6fdf264d58).
It starts from a real-world issue I had with my Strapi "developer blog" application I built for my course (published as _Artcoded_), and applies lifecycle hooks as a concrete solution to th

[2022-11-20 11:58] i1d9 opened #1030 "[SUBMIT] Real-time tic-tac-toe app built using Strapi, Socket IO and Vue"
Hello 👋

This tutorial will guide you on how to power a tic-tac-toe game using Strapi. Users will use Strapi to authenticate. We will add sockets to Strapi's HTTP server to broadcast our users' moves. Our Strapi instance will also be responsible for pairing two users in a gaming room(socket channels). Our users will interact with a Vue application which will broadcast and subscribe to socket event

[2022-11-20 15:08] Marvel-D commented on #728
Yes, I can do that

[2022-11-21 05:44] Xemarij commented on #974
Hi  @PaulBratslavsky,
Thank you for reaching back to me. Paul, yes I am still interested in
writing the blogpost.
I propose the title of the article to be "How to integrate Strapi with
MailChimp and Send Emails." However, I have carefully researched for the
APi or methods to integrate Strapi and MailChimp. I have found nothing that
is doable. I also went through the Strapi and mailchimp documentat

[2022-11-21 06:06] i1d9 opened #1031 "[SUBMIT] How to integrate machine learning with Tensorflow.js into your Strapi application"
Hello 👋

In this tutorial we will be creating a machine learning socket API powered by Strapi. We will learn how to extend default Strapi functionalities to add full duplex communication channels. In addition to this, we will integrate a machine learning library and train a model. We will then use the communication channels to serve authenticated users with predictions based on input they provide.

[2022-11-21 19:50] TheGhoulRe commented on #893
Alright @PaulBratslavsky, thanks for the update!

[2022-11-21 23:28] popoolatopzy opened #1032 "How to Use the Strapi Console [SUBMIT]"
**My resource**

Hello @dessireugarte 👋
I will like to write on this topic **How to Use the Strapi Console**, here is my outline for the article.

- Introduction
- Brief introduction to strapi?
- Strapi installation
- What is strapi console?
- Benefit of using strapi console
- How the strapi console works
- How to use the strapi console
- Conclusion

**My content is**

- [ ] A Strapi Tutorial / Gu

[2022-11-22 11:20] Marienoir commented on #944
@PaulBratslavsky
Yes, I am interested in still writing this article. I would submit it by January though.
### Article Outline: How to create a landing page on the fly without the need to develop

Outline
- Introduction
    - Understanding Strapi as a Headless CMS
    - A non-technical approach to using Strapi for a landing page
- Goal
    - Here, we will be creating a home page for a fitness compa

[2022-11-22 14:12] dessireugarte commented on #839
Hello @ath34-tech 👋
We won't be accepting new updates this year, but if you want to, you can get started, and we can give a follow-up to this one in January. Would that be ok with you?

[2022-11-22 14:34] dessireugarte commented on #832
Hello @Saintdavidking  👋
We won't be accepting new updates this year, but if you want to, you can get started, and we can give a follow-up to this one in January. Would that be ok with you?

[2022-11-22 15:35] dessireugarte opened #1034 "[Request New Content] On Premise vs. Cloud"
**My Request**
 An article that explains the meaning of each, key differences in terms of deployment, cost, security, cost, etc. And which one should the people choose depending on their use case.

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-11-22 15:42] ath34-tech commented on #839
Yes no problem @dessireugarte

[2022-11-22 23:03] Saintdavidking commented on #1034
Hi @dessireugarte,
I will like to take on this topic

[2022-11-23 18:49] Marktawa commented on #1021
I would like to take it on.

[2022-11-23 20:52] omarkhairy21 opened #1036 "[SUBMIT] Monitoring Strapi with Datadog"
**My resource**
Hello, I noticed there are no tutorials for monitoring(collecting logs, tracing, and APM) and I can write a tutorial so if there is interest in that topic i would start to prepare the outline.
**My content is**

- [ ] A Strapi Tutorial / Guide / How to article
- [ ] About Headless, CMS, javascript, open source, or jamstack
- [ ] Other, specify

**What do you all think?**
❤️ I love

[2022-11-24 09:45] dessireugarte commented on #635
Hello @omarkhairy21  👋 
Your article is [live](https://strapi.io/blog/how-to-deploy-strapi-docker-container-on-aws-elastic-beanstalk)! 🎉
Please register to our forum by clicking on the discussion at the bottom of your post, so you automatically receive notifications when someone adds comments. Also, please follow the [guidelines](https://strapi.io/write-for-the-community) to issue and submit an in

[2022-11-24 09:45] #635 closed

[2022-11-24 10:26] Melanie12 commented on #723
Can we find and tag the original author?

[2022-11-24 16:38] dessireugarte opened #1038 "[Request New Content] Multi-tenancy Approach in Strapi"
**My Request**

A tutorial diving into Multi-tenancy in Strapi. Reference: [StrapiConf talk](https://www.youtube.com/watch?v=TPhuNTm5hqg).
@eventyret will take this topic.

**Community vote**
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2022-11-24 16:44] Eventyret commented on #1038
Sure will do it 😊🚀👍

[2022-11-24 17:15] dessireugarte commented on #1034
Hello @Saintdavidking 👋 Could you please share an outline of how the article would look like?

[2022-11-24 17:22] dessireugarte commented on #1032
Hello @popoolatopzy 👋
Thanks for submitting the topic. We are currently looking for more advanced topics, and this one is a topic we have already covered in other tutorials in the past. Feel free to send another one or provide an outline proposal for topics already requested.

[2022-11-24 17:22] #1032 closed

[2022-11-25 02:14] hubertnare commented on #723
Hi @PaulBratslavsky , @vcoisne , and @Melanie12 .

I am willing to update this one.

[2022-11-25 09:44] dessireugarte commented on #817
Hello 👋 
Your article is [live](https://strapi.io/blog/8-awesome-strapi-plugins-for-your-corporate-website)! 🎉
Please register to our forum by clicking on the discussion at the bottom of your post, so you automatically receive notifications when someone adds comments. Also, please follow the [guidelines](https://strapi.io/write-for-the-community) to issue and submit an invoice.

You should registe